[2020-01-06 10:53] chipitsine commented on #429
I created dedicated VM for testing. curl shows EC suited in SSL CLient Hello message, have a look at attached 443.pcap file.

I'm sure it is something related to ec initialization, which is slightly different for openssl-1.0.2, i.e. all things were initialized for RSA cert, after new cert is applied, not all required initialization steps were taken (I guess openssl-1.1.X configures those steps aut

[2020-01-06 11:00] wlallemand commented on #429
Could you try to add "--no-sessionid" on the curl lines? It could be a bug related to the reuse of the session in curl.

[2020-01-06 11:04] chipitsine commented on #429
As you can see in 443.pcap, no session is involved. It was very first curl run after VM start

But, just in case I will double check later today

[2020-01-06 11:40] chipitsine commented on #429
attaching a picture for a while. will have a look at ec initialization machinery later

![Screenshot from 2020-01-06 16-35-12](https://user-images.githubusercontent.com/2217296/71816061-3da13900-30a3-11ea-8ea5-1fbecfd5321e.png)

[2020-01-06 12:40] zstyblik commented on #428
Hi @wtarreau,

thank you for your reply and apologies for late reply on my part. I wasn't feeling well past couple days.

Actually, there are couple things to add just in case:

1. While debugging this issue, I've noticed "couple of" old(some really old) haproxy processes are still hanging around. This can be caused by various out-of-scope reasons, eg signal got lost, bogus connection, bug etc.
2.

[2020-01-06 14:13] lukastribus commented on #435
This works for me (and returns the correct amount of bytes):

[code]

Let me know if you agree with this fix.

[2020-01-06 16:28] ehocdet commented on #429
this patch should fix the issue:
[code]

[2020-01-06 16:35] chipitsine commented on #429
I will test soon.

Hoever, why do we need to ifdef for LIBRESSL here ? reg-tests (including dynamically changed cert) do not fail for libressl, I tested that.

[2020-01-06 16:49] ehocdet commented on #429
This patch is not related to dynamically changed cert.
Patch is to force SSL_CTX_set_ecdh_auto for openssl-1.0.2,  it is set per default for newer versions, perhaps is also the case for LIBRESSL.
(curves  should  replace ecdhe  param since openssl-1.0.2 https://www.openssl.org/docs/man1.0.2/man3/SSL_CTX_set_ecdh_auto.html)

[2020-01-06 16:51] chipitsine commented on #429
without that patch things are definetly wrong for openssl-1.0.2, but nothing seems to be wrong for libressl.

[2020-01-06 18:20] chipitsine commented on #429
@ehocdet , I tried on my VM, no luck, so have a look

https://travis-ci.com/chipitsine/haproxy/builds/143279686

1. your patch seem to be for some other commit, it does not apply for current master (but I applied manually)

2. I did not add libressl ifdef, however libressl passes tests (except another failing test)

3. openssl-1.0.2 still does not work
(we can see `***  h1   debug|fd[000e] OpenSSL

[2020-01-07 05:34] wtarreau commented on #428
It could be anything including long sessions with missing timeouts. If you're running with a master socket enable, you can connect to it and bounce to these older processes to check what they're doing
and if they're still processing sessions, for example:
[code]
It would be interesting to see if they're in fact dealing with zombie peers connections!

OK, thanks for confirming :-)

And do you remem

[2020-01-07 05:36] wtarreau commented on #436
This one is a false positive, as you can see it sets the state to the one on the next block. Actually I'm surprised recent gcc doesn't complain, probably that it noticed the explicit assignment to the state tested in the switch statement.

[2020-01-07 05:38] wtarreau commented on #434
OK closing since it's merged.

[2020-01-07 05:38] #434 closed, assigned to nobody

[2020-01-07 05:42] wtarreau commented on #433
I don't know why coverity reports this because it's wrong. The keyword is registered so the allocated item is added to the list of tcp/http rules, it's not lost.

[2020-01-07 05:45] wtarreau commented on #431
Do you have any "log" statement in your global section ? I assumed you did but maybe you never log at all ?
If you don't have any log, and are running under systemd or docker, probably the easiest for you will be to set "log stdout daemon" instead of "log global". This will send the logs to stdout which will be archived where your service manager puts it. You'd rather enable "option dontlog-normal

[2020-01-07 07:04] chipitsine commented on #433
I marked it as false positive

[2020-01-07 07:04] #433 closed, assigned to nobody

[2020-01-07 07:05] chipitsine commented on #436
I marked it as false positive

[2020-01-07 10:43] ehocdet commented on #429
Ok, openssl-1.0.2 is the only one who need SSL_CTX_set_ecdh_auto and i gess call SSL_CTX_set1_curves_list explicitly.
Can you test this?:
[code]

[2020-01-07 13:05] wdauchy commented on #411
it seems ok on our side as well, thanks for the patch!

[2020-01-07 13:54] chipitsine commented on #429
still `***  h1   debug|fd[000e] OpenSSL error[0x1408a0c1] ssl3_get_client_hello: no shared cipher`

https://travis-ci.com/chipitsine/haproxy/jobs/273075439

[2020-01-07 14:59] zstyblik commented on #428
This is a nice trick.

Where I could, I did take a look. Indeed, connections/backends without timeouts which will never ever timeout. This was sort of expected at places I could inspect it. Unfortunately, I couldn't inspect all places, because master socket is not present despite being configured. Perhaps it was introduced later(and I don't necessarily mean haproxy) and reloads don't spawn it. I d

[2020-01-07 16:31] ehocdet commented on #429
Bad. My patch should, at least, changed the nmap outputs.
I arrive at the end of what I had noticed on the problematic ecdhe vs curves parameter for quick fix proposal. This should be fixed for openssl-1.0.2 because it used old SSL_CTX_set_tmp_ecdh if no curves is set (the most recent Libssl implement SSL_CTX_set_tmp_ecdh with SSL_CTX_set1_curves). But is not the main issue for this case.

[2020-01-07 17:16] wlallemand commented on #429
Looks like there is no problem when starting with an ECDSA certificate, so it's really related to the 'set ssl cert' feature. Something should be missing on this code path, I'm investigating.

[2020-01-07 17:45] chipitsine commented on #429
nmap output was good already, so I did not run nmap again. I'll try tomorrow

[2020-01-07 21:13] phaze-debug commented on #431
Thanks, @wtarreau - We tried with log stdout format raw daemon as we are running under docker but haproxy failed to start with this error - the default HAPROXY_HEAD section changed, please make the following changes to your custom template: Remove "daemon", Add "stats socket /var/run/haproxy/socket expose-fd listeners"

We are running a customized version of HA Proxy with the way it has been provi

[2020-01-07 23:27] TimWolla commented on #431
A Google search for the error message pointed me to the product in question. It uses an extraordinarily dumb config “parser” that will reject the start whenever it finds the word `daemon` within your configuration. Probably in an attempt to be helpful in case the user configured the [`daemon`](http://cbonte.github.io/haproxy-dconv/2.1/configuration.html#daemon) option. You might want to point them

[2020-01-08 06:24] wtarreau commented on #431
Ah that's almost funny, thanks Tim for spotting this one :-)
Well, you can use "local0" instead of daemon if you want, it will be the same.

[2020-01-08 06:47] #436 closed, assigned to nobody

[2020-01-08 06:50] #424 closed, assigned to nobody

[2020-01-08 08:06] chipitsine opened #437 "src/mux_h2.c: structurally dead code found by coverity"
[code]

[2020-01-08 10:58] wlallemand commented on #423
"echo -e" is not POSIX and won't work in many situations, so it's probably better to replace it by printf for sure.

[2020-01-08 11:06] wlallemand commented on #427
Indeed the current "set ssl cert" command only support the crt part of the frontend side. It could be extended to the backend side now that everything is in place in the frontend.

[2020-01-08 14:10] wdauchy commented on #437
this one is true, I will handle a patch

[2020-01-08 15:21] capflam commented on #80
Now supported. Thanks !

[2020-01-08 15:21] #80 closed, assigned to nobody

[2020-01-08 16:48] chipitsine commented on #437
this might be backported to 2.1, 2.0
do I need to keep this issue open ?

[2020-01-08 16:52] wlallemand commented on #429
My tests showed that:

- Replacing a RSA certificate by an RSA one still works
- Adding an ECDSA bind in parallel does not change anything
- Starting with an ECDSA certificate works, but once it is replaced by another EDSA one it does not works anymore, so it's not related to the change from RSA to ECDSA.
- The ciphers are indeed OK

It probably lacks something related to the ECDSA which is initia

[2020-01-08 17:01] TimWolla commented on #437
As it's just a clean up I don't see a need for a backport.

[2020-01-08 17:01] #437 closed, assigned to nobody

[2020-01-08 17:40] chipitsine opened #438 "src/server.c: structurally dead code found by coverity"
[code]

[2020-01-08 19:54] chipitsine commented on #429
it is true that ss_sock_prepare_ctx() is called.

however (I added debug to various point of it), for example  https://github.com/haproxy/haproxy/blob/master/src/ssl_sock.c#L5175-L5182 is not called upon certificate change. That makes me beleive that `conf_curves` is false for some reason. I did not yet investigated deeper.

so, some parts are called, some not.

[2020-01-08 20:20] chipitsine commented on #429
I think I can add debug info to ssl_sock_prepare_ctx() and compare how it is called during initial certificate set and during certificate change.

[2020-01-08 20:27] wdauchy commented on #438
I will handle this one as well

[2020-01-08 20:56] wlallemand commented on #429
That's expected, conf_curves is the configuration of the curves, and there is not curves configuration in the config file, and ssl_conf does not exist since it's not a crt-list, it's not called either during a start with an ecdsa file without curves configuration.

[2020-01-09 04:56] #423 closed, assigned to nobody

[2020-01-09 05:09] #438 closed, assigned to nobody

[2020-01-09 05:46] Elufimov opened #439 "Return last error on L7 retries"
This is a followup of this https://discourse.haproxy.org/t/502-as-result-of-unsuccessful-retries/4651 question.

## What should haproxy do differently? Which functionality do you think we should add?
Forward to a client the last server response if L7 retry is enable and request exceeds all retries. Right now haproxy return blank 502 in this situation.

## What are you trying to do?
We are trying t

[2020-01-09 06:11] wtarreau commented on #439
I think this indeed makes sense. I don't know what it involves to do
it though but it's worth having a look at it.

[2020-01-09 11:21] capflam commented on #439
@wtarreau, we should probably don't try to trigger an l7 retry at the stream-interface level when the maximum connection retries is reached, in si_cs_recv().  Something like that:

[code]

[2020-01-09 11:58] wtarreau commented on #439
I think it's the best approach, yes.

[2020-01-09 13:24] capflam commented on #439
Ok, so I'll handle this issue. I update the labels because it is a bug not a feature.

[2020-01-09 14:41] capflam commented on #439
It should be fixed in upstream now.

[2020-01-09 17:26] #439 closed, assigned to nobody

[2020-01-09 22:50] daya commented on #231
FWIW I can still replicate this issue with version 2.0.6, again about 30-40% of the times the payload truncation happens.

[2020-01-10 03:49] wtarreau commented on #231
Haven't you tried with anything more recent ? 2.0.6 is 4 months old and
lacks no less than 193 fixes compared to 2.0.12!

[2020-01-10 04:11] Elufimov commented on #439
It was so quick! Thx @capflam @wtarreau !

[2020-01-10 06:22] hezhiqiang opened #440 "maxconn is 40000, but max connection is only 500"
i use haproxy 2.1.0, my config is below:

vi /etc/haproxy.cfg
global
    daemon

defaults
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen keydb
    bind *:6379
    maxconn 40000
    mode tcp
    balance first
    option tcp-check
    tcp-check send AUTH\ 密码\r\n
    tcp-check expect string +OK
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check

[2020-01-10 06:41] wtarreau commented on #440
Your global maxconn is 500 because it's not set and your process is started with the default per-process FD limit of 1024. You either have to add a maxconn value in the global section or to set your FD limit with ulimit -n before starting it.

[2020-01-10 06:41] #440 closed, assigned to nobody

[2020-01-10 06:47] hezhiqiang commented on #440
@wtarreau thanks very much, solved, ^_^

[2020-01-11 09:26] chipitsine opened #441 "src/flt_http_comp.c: structurally dead code found by coverity"
[code]

[2020-01-11 09:47] chipitsine commented on #429
Well, I added debug to ssl_sock_prepare_ctx()

the following part is called on initial certificate set, and not called on update:

https://github.com/haproxy/haproxy/blob/master/src/ssl_sock.c#L5087-L5131

seems, something really happens outside ssl_sock_prepare_ctx()

[2020-01-11 10:22] wtarreau commented on #429
Interesting, this part is used only to initialize the default dh-param
if it was not set in the conf. But maybe the one we initialize becomes
incompatible with future certificates. That could explain why doing it
after creating initial certs doesn't prevent them from working but
prevents new ones from working for example.

A good test would consist in setting dh-param in the configuration to
see i

[2020-01-11 10:41] wdauchy commented on #441
I will handle that one

[2020-01-11 10:55] chipitsine commented on #429
yeah, `setting dh-param in the configuration` is good thing to play with

[2020-01-11 18:13] chipitsine commented on #429
well, adding

[code]

did change how ssl_sock_prepare_ctx() is called.
however, from curl point of view nothing changed, it works when cert is set initially, and it does not work when cert is dynamically updated

[2020-01-11 18:45] chipitsine opened #442 ""select" method does not work (current master branch)"
reproduced on travis-ci

`./haproxy -vv` ("select" is available)

https://travis-ci.com/haproxy/haproxy/jobs/269501267#L467-L471

[code]

actual run ("select" is not available):
https://travis-ci.com/haproxy/haproxy/jobs/269501267#L774-L775

[code]

[2020-01-11 18:46] chipitsine commented on #442
same is reproduced by me on CentOS 7.7.1908

[2020-01-11 19:11] lukastribus commented on #442
I assume your have maxconn > 500 so you are probably hitting this expected behavior:
https://github.com/haproxy/haproxy/commit/8274e105b752f70c41e49aa21c3f50531e986639

https://github.com/haproxy/haproxy/commit/3fa87b1db95bc4d6640999462bdae620bff147c6

Which is explained in the error message as you noticed in the other thread:

[2020-01-13 07:24] chipitsine commented on #442
yep. I missed that.

[2020-01-13 07:24] #442 closed, assigned to nobody

[2020-01-13 07:35] chipitsine commented on #429
also, ssl_sock_prepare_ctx() is called two times during initial setup, and only one time during dynamic cert update

[2020-01-13 09:09] sreboot opened #443 "HAProxy fails to gracefully reload its configuration with peers and stick directives"
## Output of `haproxy -vv` and `uname -a`
[code]

[code]

## What's the configuration?
[code]

## Steps to reproduce the behavior
1. Start HAProxy with:
[code]

2. Issue SIGUSR2 to initiate a graceful reload:
[code]

## Actual behavior
[code]

Output with TRUSS(1):
[code]

## Expected behavior
HAProxy gracefully reloads without terminating.

## Do you have any idea what may have caused this?
It is

[2020-01-13 12:51] YuriyTigiev opened #444 "Issue - SSL23_GET_CLIENT_HELLO: https proxy request"
Hello,

haproxy returns an error  fd[0009] OpenSSL error[0x1407609b] SSL23_GET_CLIENT_HELLO: https proxy request on any curl request. Please, help me solve the issue.

Scheme of which I'm trying to implement.

`
__client__  --(https tlsv1.2)--> __haproxy__ --(https tlsv1)-->  __legacy server__

`
run curl

[code]

run haproxy

[code]

haproxy.cfg

[code]

haproxy version

[code]

curl version
[cod

[2020-01-13 13:15] lukastribus commented on #444
`curl  --verbose  --insecure   --proxy  localhost:8899    -X GET 'https://www.google.com:8443'`

This is wrong, because haproxy is not a forwarding, but a reverse proxy.

This is what your request needs to look like:
`curl  --verbose  --insecure   'https://localhost:8899'`

As per the issue template, please direct support request to the support channels instead:

[2020-01-13 13:15] #444 closed, assigned to nobody

[2020-01-13 15:12] YuriyTigiev commented on #444
It works  for
`	bind *:8899 `
and doesn't work for
`	bind *:8899 ssl crt /root/cert/rootcert.pem`

[2020-01-13 15:22] lukastribus commented on #444
https://discourse.haproxy.org/t/ha-proxy-as-reverse-proxy-as-wa-for-tlsv1-2-tlsv1/4717

[2020-01-13 16:44] wlallemand commented on #443
Hello,

There are several problems there:

- It looks like SO_REUSEPORT is not used, which is weird. According to this [documentation](https://docs.oracle.com/cd/E26502_01/html/E29044/tcp-7p.html) it's supported since solaris 11. Maybe you can see it in your complete truss output, buf if you don't see it anywhere, there might be a compilation problem, but it's not mandatory, it *MUST* work without

[2020-01-13 20:15] sreboot commented on #443
Thanks for looking into this.

Re-tested with expose-fd listeners disabled, the output is below. Basically exits after the last line.

[code]

The same with truss (last few lines):
[code]

This runs on Joyent's SmartOS which is based off Illumos (Originally Solaris).

It seems SmartOS does not expose SO_REUSEPORT in native zones (this is where we run haproxy right now): https://smartos.org/bugview

[2020-01-14 11:45] niktwenty3 opened #445 "HAProxy management documentation render issue"
## Issue details

Line 794 of /doc/management.txt renders as a function instead of plain text.
https://github.com/haproxy/haproxy/blob/f31af9367ed7e381e34716c0df53b6a1c0a0c405/doc/management.txt#L794

![image](https://user-images.githubusercontent.com/10053187/72341875-ad2eae00-36cb-11ea-9846-ebd372d9a4ea.png)

## Steps to reproduce the behavior

1. Parse management.txt using dconv

## Steps to fi

[2020-01-14 12:01] lukastribus commented on #445
@cbonte is that your suggestion?

[2020-01-14 13:39] williambailey opened #446 "Fatal error at start when using a master cli socket with more then one `program` section"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Save the above configuration to `ex.cfg`
2. Start HAProxy with `haproxy -f ex.cfg -S "/tmp/master.sock,mode,600"`

## Actual behavior

HAProxy failes to start.

[code]

## Expected behavior

HAProxy should start without issue.

## Do you have any idea what may hav

[2020-01-14 14:01] wlallemand commented on #446
Hello,

It looks like a bind and a server for the interprocess communications are created for the programs, it mustn't since it's not a worker. I'll fix it.

[2020-01-14 16:37] wlallemand commented on #443
At least I get why the process is leaving, you are using "master-worker" in your configuration file and not -W as a program argument. Once the master try to reload, it failed to bind so it restart in "wait mode" without configuration. However without configuration, it does not know anymore that it is in master-worker mode. People usually put -W in their init script or their systemd unit so we neve

[2020-01-14 17:13] wlallemand commented on #443
You could retry with the fix above or with -W. It won't fix your problem but at least the process won't quit.

[2020-01-14 18:49] sreboot commented on #443
Works with -W if `expose-fd listeners` is also commented out in the config file. Thanks for debugging this.

[2020-01-14 21:05] veggiespam commented on #290
My client now uses HTX on all endpoints with version 2.0.11 and has seen no header swaps.  We are calling this problem fixed.

I confidentially spoke with friends in the finance industry and they have run into header swaps involving `set-cookie`.  They had users sending screen shots of bank account information of other users to the bank's customer support teams.  This bug is very hard to replicate

[2020-01-14 23:00] 1ma opened #447 "Warning in src/stats.c when building with -O3 using GCC 9.2"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

Compile Haproxy with GCC 9.2 and the -O3 on Linux. The following is a minimal Dockerfile demonstrating the behavior:

[code]

## Actual behavior

Output from building the Dockerfile:

[code]

## Expected behavior

This the output of the same Dockerfile, but starting from Alp

[2020-01-14 23:35] jlevon commented on #443
illumos/SmartOS indeed does not expose SO_REUSEPORT natively: it looks like there were some concern over expected semantics, as they differ between different OSes.

[2020-01-15 04:54] wtarreau commented on #447
Thanks. That's another stupidity in GCC which invents code paths which
do not exist. It seems to be worried by cli_io_handler_dump_stat() which
passes a NULL uri to stats_dump_stat_to_buffer(), which could then call
stats_dump_html_head() but only to emit headers, thus never from this
original function.

We can modify this code to shut down this warning by adding "uri &&" in
front of "uri->node" a

[2020-01-15 09:31] sreboot commented on #443
Just an FYI the -W flag is missing from the default startup lines in the pkgsrc packages (which is used by SmartOS, but also others too).

The default SmartOS service [manifest.xml](http://cvsweb.netbsd.org/bsdweb.cgi/pkgsrc/net/haproxy/files/smf/manifest.xml?annotate=1.3) line 13:
```<exec_method type="method" name="start" exec="@PREFIX@/sbin/haproxy -f %{config_file} -D" timeout_seconds="60" />`

[2020-01-15 09:50] wlallemand commented on #443
I don't know the service manager on SmartOS, but maybe it does not require the master-worker mode. I don't see anything regarding the reload in this manifest.xml file. The mworker mode was adopted by default on major linux distributions because the reload of the previous mode was incompatible with systemd, but nowadays I recommend it for everyone since it provides more things for process managemen

[2020-01-15 10:30] jmagnin opened #448 "stick store-request before stick match never honors stick match."
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. request the frontend "in" with a XOXO header set.
2. request the frontend "in" a second time with the same XOXO header value

## Actual behavior
The second request is handled by the other server, meaning we don't honor the persistence record found in the bar table for tha

[2020-01-15 11:31] sreboot commented on #443
Trying to sum up the findings so far (please correct me where required):
  1. ~~the missing SO_REUSEPORT in SmartOS should not be an issue here~~
  2. master-worker in the config is correct and -W is also required (for now)
  3. ~~the peers/sticky section is irrelevant in this instance, the issue manifests regardless~~
  4. ~~*expose-fd listeners* is likely not behaving correctly, breaking the ret

[2020-01-15 11:47] jlevon commented on #443
I'm not sure I've time to dig into this further right now, but just as a data-point: we are using haproxy 2.0.x seamless reload without issues as part of https://github.com/joyent/muppet including, in particular, expose-fd listeners setting. It might be worth comparing your config with what we have there.

[2020-01-15 12:10] gonmf commented on #361
Hello everyone.

For the more general background, version 80 of Chrome is scheduled to be rolled out on February 6. This will mean a lot of users will suddenly start different connections for requests to the same HA instance.

[2020-01-15 12:16] sreboot commented on #443
Crossed out the points in my previous comment. If the peers section is removed from the configuration file, seamless reload works just fine.

[2020-01-15 13:08] #441 closed, assigned to nobody

[2020-01-15 13:10] chipitsine opened #449 "src/proxy.c: logically dead code found by coverity"
[code]

[2020-01-15 13:32] wlallemand commented on #443
I've done some tests under linux, and it appears that the combination of the seamless reload feature (-x / expose-fd) and the peers has the same behavior. I suspect that the peers listeners are not provided by the socket.

And beyond this problem, the new process should be able to pause the listeners of the previous one if it didn't get all previous sockets, this part probably need some rework.

[2020-01-15 13:42] wlallemand commented on #443
I found this exact problem in the code, I'm fixing it.

[2020-01-15 14:16] wtarreau commented on #290
Hi,

first, thanks for your detailed feedback.

Just to clarify regarding what your friends observed, there's no "headers swap" but "response swaps" due to this bug, but the swap necessarily happens within the same client connection because the server-side connection is attached to the client's session. It may happen that your friends have stacked multiple haproxy layers however and a failure on t

[2020-01-15 16:59] wdauchy commented on #449
I will handle this one

[2020-01-16 10:27] albix opened #450 "51degress device detection seems to be broken with htx enabled"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Run haproxy with 51degrees and htx enabled
2. Run haproxy with 51degrees and  htx disabled

## Actual behavior

After upgrading to haproxy `2.0.12` from `1.9.10` the 51degrees device detection seems to be broken. Instead of proper values I only get "1" reported (`X-51d he

[2020-01-16 11:35] fgtham commented on #450
I had the same issue and switched from `51d.all` to `51d.single` as workaround:

[code]

[2020-01-16 15:31] jmagnin commented on #448
[code]
this appears to fix the order problem for store-request and match sticking rules.

[2020-01-16 15:53] wtarreau commented on #448
This code is weird, because it indeed mixes match and store rules. I think
there's no other choice due to the "stick on" variant that does both. But
indeed without your extra test, I see how a match rule following a store
rule on the same table could be ignored. I initially imagined that the
problem was the first store rule doing something nasty but in fact no, it's
a side effect, it only prevents

[2020-01-16 20:11] #449 closed, assigned to nobody

[2020-01-16 20:13] chipitsine opened #451 "src/ssl_sock.c: logically dead code found by coverity"
[code]

[2020-01-16 22:34] wdauchy commented on #451
this one would mean to remove:

[code]

which would be correct as capkey will never need to be free because this is the last statement where an error could occur. But if we later modify this function and add other statement after which ends on read_error, we might simply forget to re-add this needed free on error. So I'm not sure this is worth doing this patch.

@capflam WDYT? as we were the one h

[2020-01-17 04:11] wtarreau commented on #451
Agreed, personally I'm not at all for removing temporarily dead code in
error processing or cleanup paths, it's the best way to introduce bugs
later when extending the code.

[2020-01-17 06:36] chipitsine commented on #451
I will mark this as "intentional".

[2020-01-17 06:36] #451 closed, assigned to nobody

[2020-01-17 09:55] aderumier opened #452 "Feature request : cache purge"
Hello,

I would like to known if cache purge is on the roadmap ?

Be able to purge a specific url (or better with regex) from the cache.

Through socat  or maybe with HTTP method PURGE.

[2020-01-17 10:09] Steve51D commented on #450
Hi, Just confirming that 51Degrees are looking at this from our end as well. We'll update this issue once we know more.

[2020-01-17 11:01] capflam commented on #450
Type (`SMP_T_STR`) and flags (`SMP_F_CONST`) of the sample fetch are set too early in `_51d_fetch()` function.  Every call to `smp_prefetch_htx()` alters the sample fetch. So, you must set these info at the end or don't call  `smp_prefetch_htx()` in sub-functions. An alternative is to use another sample fetch in `_51d_set_device_offsets()` and `_51d_set_headers()`. But honestly there is no reason

[2020-01-17 11:10] TimWolla commented on #349
I notice that this bug is tagged with versions to backport to. I believe CLEANUP patches are usually not backported and indeed I cannot find anything in 2.1. Should those version labels be removed and this issue closed?

[2020-01-17 13:30] wlallemand commented on #452
Hello,

When we integrated the cache in HAProxy, we wanted a really light cache in memory that could be used with small objects and a short expiration time. When we first designed it, we called it the "favicon cache". This cache could be used together with a full-featured cache like Varnish, but we never wanted to be a full-featured cache with complex rules and administration. That's why it was de

[2020-01-17 17:12] uasan commented on #452
Is a list of cache improvements https://github.com/haproxy/haproxy/issues/214, may appear on the roadmap?
Thanks.

[2020-01-17 17:31] chipitsine opened #453 "travis-ci builds failed if no openssl is defined"
[code]

[2020-01-17 17:38] wtarreau commented on #453
Hi Ilya,

you were too fast, Jerome just sent me a fix that I applied a few
minutes ago : b8bd6d7ef  :-)

Willy

[2020-01-17 17:39] #453 closed, assigned to nobody

[2020-01-18 08:52] chipitsine opened #454 "src/backend.c: null pointer dereference found by coverity"
[code]

[2020-01-18 18:53] chipitsine commented on #429
openssl-1.1.0i - works well
openssl-1.1.0h - does not work

this could help us to fix issue

[2020-01-19 20:21] wdauchy commented on #454
not sure to understand the issue here, I don't see when conn can be null; or maybe this is just because it's not written ```!(conn->mux)``` ?

[2020-01-19 21:49] TimWolla commented on #454
These static analyzer work on a bunch of assumptions which are missing from the issues @chipitsine creates. My educated guess would be that coverity noticed that `objt_conn` (i.e. the second part of the ternary conditional) could return `NULL` if the passed parameter is not `OBJ_TYPE_CONN` and then `back_handle_st_con` would dereference a null pointer.

If it's guaranteed that all the state is goo

[2020-01-20 11:35] ben51degrees commented on #450
Hi @albix,
I have now submitted a patch which fixes this issue. I will update and close this issue once it has been applied to master and backported to 2.0.
And thanks @capflam for the input. You certainly made tracking down the cause much quicker.

[2020-01-20 11:58] robdewit opened #455 "When using TLS1.3, apparently, the server cipher order is ignored"
## Output of `haproxy -vv` and `uname -a`
[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Run HAProxy on TLS1.3 capable host
2. Test SSL with https://internet.nl or https://ssllabs.com
3. Check results for server preferred cipher order

## Actual behavior

Both test sites report unordered ciphers for protocol 1.3

## Expected behavior

Ciphers in server

[2020-01-20 12:38] albix commented on #450
Great news! Thank you all!

[2020-01-20 14:15] capflam commented on #450
Backported now. Thanks !

[2020-01-20 14:15] #450 closed, assigned to nobody

[2020-01-20 14:53] capflam commented on #317
Implemented now in 2.2-dev

[2020-01-20 14:53] #317 closed, assigned to nobody

[2020-01-20 15:10] wlallemand commented on #446
Fixed and backported to 2.1 and 2.0.

[2020-01-20 15:10] #446 closed, assigned to nobody

[2020-01-20 15:33] mbride commented on #361
Hello, any update planned for this point? Sticky cookies will not be sent anymore for sites embedded in iframe or in other browser tab if they are not on same domain. This will be blocking for many usecases.
Thank you

[2020-01-20 16:33] chipitsine commented on #454
if you guys tell me to mark it as "intentional", I'll do so.

also, I mark as "modelling required" (models is coverity way to skip some cases: https://scan.coverity.com/tune#writing-model

[2020-01-20 16:53] TimWolla commented on #454
I am not qualified to make that decision.

That link is only available for logged in users.

[2020-01-20 22:23] chovdary123 opened #456 "Unable to convert message in HTX for HTTP return code 503"
## Output of `haproxy -vv` and `uname -a`
[code]
## Actual behavior

[code]

## Steps to reproduce the behavior

This happened when upgrading from 1.9.6 to 2.0.12, but when testing the config with `haproxy f haproxy.cfg -c`, we got the result as `configuration valid`.

## Expected behavior

## Do you have any idea what may have caused this?
It is related to HTX as the error says.
## Do you have an

[2020-01-20 22:28] TimWolla commented on #456
Your configuration file and more specifically the contents of your `errorfile`s are missing. However I can tell you that the `errorfile`s must contain a valid and complete HTTP response and your `errorfile`s most likely don't.

In any case: This does not appear to be an issue within HAProxy. As mentioned within the issue template this bug tracker is for proper bugs only. If you need help fixing yo

[2020-01-20 22:28] #456 closed, assigned to nobody

[2020-01-20 22:55] cbonte commented on #445
Hi all, sorry for the late answer.
First, I thought I already fixed that specific rendering issue a long time a ago. It appears it's not the case.

In my opinion, wrapping the text is not the best fix. It definitely should be properly detected in the documentation converter.

Ideally, I should validate the arguments syntax during the conversion to prevent false positives. But that may require some

[2020-01-20 23:05] cbonte commented on #445
Oh and I forgot the specific case of a keyord detected with an argument beginning with a /.
This happens only once in the whole documentation, for the bind keyword. Maybe we can also rework this part of the documentation.
For example :
[code]
instead of :
[code]

That way, I can safely remove the / from the regex used to detect keywords.

[2020-01-21 03:23] wtarreau commented on #445
On Mon, Jan 20, 2020 at 03:05:31PM -0800, Cyril Bonté wrote:

In fact we only need "bind <path>" because "/<path>" is wrong, as the doc
later says that <path> must begin with a "/", thus the "/" is part of <path>.

Willy

[2020-01-21 08:53] chipitsine opened #457 "4 new coverity issues"
[code]

[2020-01-21 09:44] lukastribus commented on #455
We set both `SSL_OP_CIPHER_SERVER_PREFERENCE` (to use server side ordering) and `SSL_OP_PRIORITIZE_CHACHA` (to honor client side Chacha preference), which confuses those scanners as reported here:

https://github.com/ssllabs/ssllabs-scan/issues/657

I suggest you confirm this with openssl s_client.

[2020-01-21 10:18] capflam commented on #457
Should be fixed now. Thanks !

[2020-01-21 10:18] #457 closed, assigned to nobody

[2020-01-21 10:54] capflam commented on #361
I submitted a patch on the mailing list to solve this issue. Idea is to add an `attr` option to add any attribute to the cookie:
[code]

Of course, the `attr` option may be repeated to add several attributes. It is simple and generic. It should do the trick. Any comments ?

[2020-01-21 14:59] bjacke opened #458 "with http 1.0 backend servers we need to default to httpclose"
I have a tiny python BaseHTTPServer server which support http 1.0 only. While the backend returns some valid status code like 200, haproxy returns HTTP/1.0 502 Bad Gateway.

#### backend response:
# curl  http://10.11.0.3:8000/ -D -
HTTP/1.0 200 OK
Server: HookHandler/0.1 Python/2.7.16
Date: Tue, 21 Jan 2020 14:42:33 GMT

#### haproxy response with http2 broken:
curl: (92) HTTP/2 stream 1 was not

[2020-01-21 15:04] bjacke opened #459 "haproxy unhappy with empty (missing) http bodies"
I have a python based http 1.0 backend server which can send empty http bodies:

# curl  http://10.11.0.3:8000/ -v
* Expire in 0 ms for 6 (transfer 0x55aec790ff50)
*   Trying 10.11.0.3...
* TCP_NODELAY set
* Expire in 200 ms for 4 (transfer 0x55aec790ff50)
* Connected to 10.11.0.3 (10.11.0.3) port 8000 (#0)

* HTTP 1.0, assume close after body
< HTTP/1.0 200 OK
< Server: HookHandler/0.1 Python/2.7

[2020-01-21 15:05] lukastribus commented on #458
Please reopen once you fill out the issue template completely.

[2020-01-21 15:05] #458 closed, assigned to nobody

[2020-01-21 15:06] lukastribus commented on #459
Please reopen once you fill out the issue template completely.

[2020-01-21 15:06] #459 closed, assigned to nobody

[2020-01-21 15:10] capflam commented on #459
Just to be sure you will not create new issues for nothing. Be careful to have a valid response first, with a last CRLF at the end, marking the end of headers.

[2020-01-21 23:20] bjacke commented on #459
Thanks for replying, in fact http requires CRLF at after headers, even with empty bodies. Many well known client implementations don't mind about the missing CRLF though. If haproxy will stay stricter with for backend servers than clients like curl, then at least this bug report helps people solve their issue if they hit the same problem.

[2020-01-22 13:03] timw6n opened #460 "Use of accept-netscaler-cip causes crashes in 2.1"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

Setup a Netscaler SSL_BRIDGE load-balancer with client IP insertion enabled, magic number 1357 as above. Make a HTTPS request to the load-balancer.

## Actual behavior

HAProxy crashes.

[code]

We have a test environment setup that can reproduce this 100% of the time. Netsc

[2020-01-22 14:30] cognet commented on #460
I can reproduce it, the netscaler code was forgotten when we got dynamic allocation ofr src/dst addr for connection, should be easy enough to fix

[2020-01-22 14:53] timw6n commented on #460
Awesome, thank you!

[2020-01-22 23:32] hont512 commented on #402
Many days testing with 5b1342 - all good

[2020-01-22 23:32] #402 closed, assigned to nobody

[2020-01-22 23:59] TimWolla commented on #402
For the record: The commit mentioned above is http://git.haproxy.org/?p=haproxy-2.0.git;a=commit;h=5b1342bb838c7e092418aaed610486ac7770e8c0 which is the last commit before the 2.0.12 tag.

I'm labeling this issue as fixed, even though the fix can't be pinpointed to a single commit.

[2020-01-23 08:44] chipitsine opened #461 "src/backend.c: possible null pointer dereference found by Coverity"
[code]

[2020-01-23 09:40] capflam commented on #361
I backported the feature as far as 1.8.

[2020-01-23 09:40] #361 closed, assigned to nobody

[2020-01-23 10:17] robdewit commented on #455
testssl.sh also shows a server order.

I guess we have to wait for the check-tools?

[2020-01-23 10:20] capflam commented on #460
Backported in 2.1.

[2020-01-23 10:20] #460 closed, assigned to nobody

[2020-01-23 10:28] robdewit opened #462 "Headers are lowercased even for HTTP/1.1 connections"
## Output of `haproxy -vv` and `uname -a`
[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Run HAProxy 2.0.12
2. Send request in http/1.1
3. Check incoming headers and observe they are lowercased

## Actual behavior

All headers have been lowercased (which is not incorrect by protocol, but confuses some backend software that expects CamelCaps). For H2 th

[2020-01-23 10:33] wtarreau commented on #462
Hi,
any HTTP agent which checks for header field names' case is broken and non standard-compliant. If you know you're forced to deal with such a broken device or server without any ability to obtain a fix from the vendor for it, there is a possibility to define what format you want on output for the broken header in question (because when this happens, only one or two really cause trouble because

[2020-01-23 10:33] #462 closed, assigned to nobody

[2020-01-23 10:39] wtarreau commented on #461
It's not a null deref in fact but a useless test. Now removed, thanks!

[2020-01-23 10:39] #461 closed, assigned to nobody

[2020-01-23 10:43] wtarreau commented on #454
OK it's a false alarm, it believes it can be null due to objt_conn() which may return a NULL if passed a null but that cannot happen here, so I replaced it with __objt_conn().

[2020-01-23 10:43] #454 closed, assigned to nobody

[2020-01-23 10:45] wtarreau commented on #452
I've not seen any submissions around this recently nor anyone stepping up to work on this.

[2020-01-23 10:50] wtarreau commented on #447
OK now worked around. I was about to mark it as invalid since it's gcc that says stupidities, but given that there's a patch to shut it up I marked it as fixed. Thanks!

[2020-01-23 10:50] #447 closed, assigned to nobody

[2020-01-23 15:44] chipitsine opened #463 "src/standard.c: structurally dead code found by coverity"
[code]

[code]

[2020-01-23 16:00] wtarreau commented on #463
This one really makes no sense. Why only this specific line ? If it had complained much earlier I could I imagined coverity only knew about 32-bit integers, but here in the middle of nowhere, it really makes no sense at all. I'm even wondering if it's not a bug in coverity's integer parser!

[2020-01-23 16:25] chipitsine commented on #463
I think, coverity does not like `ULL` <--> `UL`  comparision

[2020-01-23 16:28] lukastribus commented on #455
Exactly.

[2020-01-23 16:28] #455 closed, assigned to nobody

[2020-01-23 16:30] wtarreau commented on #463
On Thu, Jan 23, 2020 at 08:25:25AM -0800, Ilya Shipitsin wrote:

I thought about this as well, except that it's not present in the first
report. Also this one is only on the 64-bit part so it shouldn't harm.

Willy

[2020-01-23 23:55] bjacke opened #464 "http1 requests with TE header fail if backend server uses proto h2"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

[code]

## Actual behavior

haproxy closes the connection immediately.

## Expected behavior

the client request is valid and haproxy should reply correclty with the backend server's result.

## Do you have any idea what may have caused this?

The reason seems to be the TE h

[2020-01-24 08:13] wtarreau commented on #464
Hi!

thanks for your report, it's indeed a stupid bug. It's been addressed with commit bb2c4ae06.

[2020-01-24 08:25] wtarreau commented on #463
Let's mark this one as a false positive, it's just adding noise to the bug tracker.

[2020-01-24 08:27] #290 closed, assigned to nobody

[2020-01-24 08:35] chipitsine commented on #463
done

[2020-01-24 08:35] #463 closed, assigned to nobody

[2020-01-24 14:14] wtarreau commented on #464
now backported as far as 1.9, closing.

[2020-01-24 14:14] #464 closed, assigned to nobody

[2020-01-24 14:18] wtarreau commented on #349
In fact "BUILD" is often more appropriate for such fixes when they address a build warning, but I tend to do the same mistake very 50% of the time because these are not real changes. We occasionally backport them when they help distro maintainers get rid of warnings. If they're just made to shut up coverity, we don't need to backport them. I'm closing now.

[2020-01-24 14:18] #349 closed, assigned to bedis

[2020-01-24 14:21] wtarreau commented on #430
now in 2.1 and 2.0 as well, closing.

[2020-01-24 14:21] #430 closed, assigned to nobody

[2020-01-24 14:26] TimWolla commented on #387
@bedis “Today” already passed since a few days and I see that there's no fix yet. So here's a reminder.

[2020-01-24 15:52] chipitsine opened #465 "src/checks.c: logically dead code found by coverity"
[code]

[2020-01-24 16:57] wtarreau commented on #465
Nice one, it was a missing parenthesis. No visible impact expected. Thanks!

[2020-01-24 16:59] wtarreau commented on #465
Now backported everywhere, feel free to close it once flagged on your side.

[2020-01-24 17:08] #465 closed, assigned to nobody

[2020-01-25 12:37] chipitsine commented on #429
I've found particular commit between 1.1.0h and 1.1.0i

https://github.com/openssl/openssl/commit/e9d26dc85238c071117d911704f5f769e79b46a1

@ehocdet , @wlallemand , @wtarreau ?

[2020-01-25 13:24] wlallemand commented on #429
Thanks for you work, Ilya, it will be helpful. I'm still convinced that something is not correctly initialized in the "set ssl cert" codepath, I'll look into this during the week.

[2020-01-25 17:32] chipitsine opened #466 "unknown keyword 'ssl-default-bind-ciphersuites' in 'global' section"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?
[code]

## Steps to reproduce the behavior

[code]

## Actual behavior

`unknown keyword 'ssl-default-bind-ciphersuites' in 'global' section`

## Expected behavior

## Do you have any idea what may have caused this?

## Do you have an idea how to solve the issue?

[2020-01-25 17:39] wlallemand commented on #466
https://cbonte.github.io/haproxy-dconv/1.9/configuration.html#ciphersuites%20(Bind%20options)

This can only work with OpenSSL 1.1.1 and TLSv1.3.

[2020-01-25 17:40] chipitsine commented on #429
what is strange, is the fact that openssl actually accepts certificate and does not return any error.

ok, we did mess on curves (server curves do not match certificate curves), so, why not to reject cert ?

[2020-01-25 17:44] chipitsine commented on #466
indeed

[2020-01-25 17:44] #466 closed, assigned to nobody

[2020-01-25 21:50] wdauchy commented on #425
reading the thread, it is not very clear whether it is really needed. It seems to be more an application side issue.
However if the need is confirmed, I can work on the patch.

[2020-01-25 23:36] wdauchy commented on #387
Oh this one looks very easy to fix, I will send a patch as Baptiste seems busy ;)

[2020-01-26 13:23] chipitsine opened #467 "src/connection.c: coverity beleives there's copy paste error"
[code]

[2020-01-26 13:46] #443 closed, assigned to nobody

[2020-01-26 17:48] wdauchy commented on #467
That's indeed a good catch, I will handle it

[2020-01-27 14:37] wdauchy opened #468 "[v2.2dev1] segfault in release_http_action while upgrading from v2.1"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

upgrade from v2.1.x to v2.2dev1 and reload

## Actual behavior

segfault while upgrading from v2.1.x to v2.2dev1
[code]

Maybe already fixed upstream?

[2020-01-27 15:10] capflam commented on #468
confirmed. I'm able to reproduce the bug. I guess some parts are missing in your configuration because there are no HTTP rules. I pushed a fix anyway. Thanks !

[2020-01-27 17:17] #362 closed, assigned to nobody

[2020-01-28 03:49] svjacob commented on #361
@capflam thanks for the commit! I've got a noob question, when you say you backported it to 1.8, that means I can modify the build before compiling haproxy on 1.8 and it should work? Or does that mean that the actual src download from http://www.haproxy.org/ for 1.8 will include the fix, because it doesn't seem like the changes are in the 1.8 src there.

[2020-01-28 04:18] haproxy-mirror commented on #361
It means that the code in the Git repository already has the commit, and
that next 1.8 release will have it.

[2020-01-28 08:08] lukastribus commented on #361
So in the meantime you can (links are for 1.8):

- pull from git (`git clone http://git.haproxy.org/git/haproxy-1.8.git/`)
- get a [snapshot](http://www.haproxy.org/download/1.8/src/snapshot/) 20200124 or newer
- apply [the patch](http://git.haproxy.org/?p=haproxy-1.8.git;a=patch;h=1df40395cf5a1b6d6f6b2ff7b9cf71bb0cb0873e) manually

[2020-01-28 08:46] git001 commented on #425
Let's close this issue until we have a better usecase.

[2020-01-28 08:46] #425 closed, assigned to nobody

[2020-01-28 10:51] wdauchy commented on #468
Thanks a lot of @capflam
it does fix the issue on my side.

[2020-01-28 10:51] #468 closed, assigned to nobody

[2020-01-28 16:25] bedis opened #469 "DNS: Make dns_validate_hostname compatible with RFC 1035"
Missing checks on labels:
- label must start with a letter
- label must end with a letter or a digit
- labels must have as interior characters only letters, digits, and hyphen

[2020-01-28 16:26] bedis commented on #469
(thx @zaga00 for the pointer)

[2020-01-28 16:31] chipitsine commented on #469
why do we should want to validate dns response ?

for example, Active Directory dns implementation allows underscore in labels (prohibited by RFC1035). any reason to refuse such response ?

[2020-01-28 16:41] bedis commented on #469
thx for pointing this, I will read all the RFCs before starting breaking things:  this looks to be a good start: https://en.wikipedia.org/wiki/Hostname

[2020-01-28 17:03] lukastribus commented on #469
I have to say I agree with @chipitsine - I don't see the point in implementing this.

The DNS records are mostly configuration provided. Do we really want to make this as strict as the RFC says? Why, what is the reason for this? Are we fixing an attack vector? Or is this a particular use-case we are adding?

The rules you mention in the first post break SRV records in many cases (note: a SRV recor

[2020-01-29 11:50] FireBurn opened #470 "Unable to clone haproxy 1.0 or 1.1 trees"
Hi

When I try and clone haproxy 1.0 or 1.1 I get the following error

git clone http://git.haproxy.org/git/haproxy-1.0.git/
Cloning into 'haproxy-1.0'...
fatal: repository 'http://git.haproxy.org/git/haproxy-1.0.git/' not found

git clone http://git.haproxy.org/git/haproxy-1.1.git/
Cloning into 'haproxy-1.1'...
fatal: repository 'http://git.haproxy.org/git/haproxy-1.1.git/' not found

The rest cl

[2020-01-29 12:49] thyn opened #471 "haproxy 2.1 - h2spec fails 4 Of 145"
Some tests h2spec are failing. Is it ok or known problem. Is it safe to go production?

## Output of `haproxy -vv` and `uname -a`

[code]
h2spec results 141 of145

[code]

## What's the configuration?

[code]

## Expected behavior
pass tests

[2020-01-29 12:52] chipitsine commented on #471
I'm subscribing to this bug. I wonder how adequate those tests are, maybe we wish to add CI job

[2020-01-29 13:27] kyontan opened #472 "An entry on stick-table disappears unintentionally"
Hello! I met a problem when I tried Active-Standby configuration using HAProxy.
If there might be a problem about HAProxy, please tell me how to solve issue.

## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Establish TCP connection to `1935/tcp` that HAProxy listens to
    - (SYN -> SYN/ACK -> ACK)
2. Disconnec

[2020-01-29 15:36] chipitsine commented on #467
coverity reports "defect eliminated"

can we close the issue or is going to be backported ?

[2020-01-30 04:24] bedis opened #473 "pool-purge-delay enforced even if the connection is not idle"
# Output of `haproxy -vv` and `uname -a`
[code]

## What's the configuration?

[code]

Webserver is nginx, here is the configuration:
[code]

## Steps to reproduce the behavior

1. run nginx with the configuration above
2. run HAProxy with the configuration above `haproxy -db -f ./haproxy.cfg`
3. run tcpdump to capture syn on port 9005 (port used by HAProxy to reach nginx: `sudo tcpdump -ttttt -nn

[2020-01-30 10:11] TimWolla commented on #467
A backport is planned. I've updated the labels.

[2020-01-30 18:02] tmccombs commented on #200
I just ran into a specific case where `replace-uri / replace-header / replace-value` does not work. I want to use a regex replacement with capture group in a `http-request redirect`.

[2020-01-31 16:38] bedis opened #474 "Ability to trigger Lua scripts on events"
Currently HAProxy support running a Lua task at startup time, which is great.
That said, for some use cases, we may want to run tasks only on "events" happening in HAProxy.
What people currently do is a startup task with a "while-sleep" kind of loop. It does the job, but it is not "efficient" in most cases.

It would be great to be able to trigger that Lua task on events, for example:
- server goi

[2020-01-31 17:23] bedis opened #475 "weighted use_backends based on internal stats"
Currently, in HAProxy, the `use_backend` directive points to a single backend, which is good for "routing".
That said, more and more often, I see the need for balancing the backends and so the current `use_backend` becomes limited.
Of course, we can use stats, math and some use_backend rules coupled to some ACLs:

But I think it would be much easier to have this type of thing:

syntax could be:
`u

[2020-01-31 20:05] git001 commented on #200
@tmccombs please can you share some examples what you want to do and what should happen

[2020-01-31 20:52] roidelapluie commented on #474
Isn't the goal to have lua going away with SPOE at some point?

[2020-02-01 00:11] tmccombs commented on #200
Sure one specific example is I wanted to do something like this:

[code]
in order to redirect to remove a trailing slash. It's possible to do with using two separate rules (one if there is a query string and one if there isn't). but it is more complicated.

[2020-02-01 10:49] wdauchy opened #476 "[v2.1.2] infinite loop while shutting down"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

I don't know exactly; we got this issue around a storm of reload + traffic coming back after a global downtime for an unrelated reason. So a few instances got a lot more traffic than usual.

## Actual behavior

[code]

[code]

[code]

[code]

[2020-02-01 12:15] TimWolla commented on #474
I hope not. SPOE comes with a much higher operational complexity compared to Lua. Lua also allows to easily extend the available sample converters without needing to write C.

[2020-02-02 09:17] lobster2012-user opened #477 "disable-on-404 immediately"
Hi!

I have a service that is usually launched 24/7, it will be operational from 10-00 to 15-00 on weekdays, while it can restart both during working hours and not during working hours.
The service may end not always beautifully with the status of 404.

In order not to observe errors in monitoring, I want to carefully translate into NOLB state.
After reboot after hours
It is not so easy to do with

[2020-02-02 10:21] chipitsine opened #478 "src/ssl_sock.c: copy paste possible error found by coverity"
[code]

[2020-02-02 12:00] TimWolla commented on #478
This looks like a false positive to me. One of the cases in the if sets `ssl_b`, the other sets `ssl_e`. When `ssl_e` is to be set `ssl_b` must already be set, this is what is being verified in line 4495.

[2020-02-02 12:44] chipitsine commented on #478
thank you. I will mark as false positive

[2020-02-02 12:48] chipitsine opened #479 "src/ssl_sock.c: bad bit shift found by coverity"
[code]

[2020-02-02 13:22] chipitsine opened #480 "openssl-1.1.0, libressl builds fail on current master"
https://travis-ci.com/haproxy/haproxy/builds/147080448

[2020-02-02 13:47] wtarreau commented on #480
Strange, as far as I remember, the abns test doesn't depend on the openssl
version. We might have broken something else, but why it doesn't affect
1.1.1 is a mistery :-/

[2020-02-02 14:21] wdauchy commented on #476
Thanks @cognet for the quick patches. Is commit 04f5fe87d3d3a222b89420f8c1231461f55ebdeb also potentially concerned by this bug?

[2020-02-02 14:27] cognet commented on #476
I thought about that, but I think the only outcome would be a segfault, so probably not

[2020-02-03 22:14] dmazurek commented on #361
Here's a workaround if you can't upgrade: add a new frontend and backend in front of your listener that uses `http-response replace-header` to add the SameSite directive. For example:

[code]

This worked like a charm for me.

[2020-02-04 09:39] chipitsine commented on #480
cron builds are green
seems https://github.com/haproxy/haproxy/commit/1c7c0d6b97513e79c304aaf834f83843f32a674d fixed this issue

[2020-02-04 10:28] kirangavali commented on #16
@wtarreau
I have reproduced and analyzed the above bug on HAProxy v2.1.0 (using Wireshark).
As per my findings, the **"Connection: close"** string is appended after the data block instead of being appended after the header. [Refer the attached Wireshark screenshot at the end]

On further analyzing the corresponding HAProxy code, I identified the  buffer in which the "option httpchk" directive is p

[2020-02-04 12:59] wtarreau commented on #467
Closing since backported now.

[2020-02-04 12:59] #467 closed, assigned to nobody

[2020-02-04 13:07] wtarreau commented on #479
Looks good, now fixed, thanks Ilya.

[2020-02-04 13:07] #479 closed, assigned to nobody

[2020-02-04 13:23] Kevinz857 opened #481 "haproxy seamless reload failed.... Is there anyone know what happend? please help"
### haproxy -vv
[code]

### Execution
[code]
 ### the flowing is systemd status of haproxy
[code]

### the fllowing is haproxy log
[code]

### the fllowing is configuration in haproxy.cfg
[code]

the fllowing is content in systemd.service of haproxy
[code]

and I use dataplane api  to update haproy.cfg , seamless reload well at times but very badly at others. Is there anyone knows why?

[2020-02-04 13:50] #448 closed, assigned to nobody

[2020-02-04 13:53] TimWolla commented on #387
@wtarreau aecd5dcac2cd4cd87639596980c449f887b2ca26 did not contain any backport information, so I guess that's why it has not been backported at all (I'm not seeing it in 2.1). When labeling this issue I verified that HAProxy 1.6+ is affected.

Either the labels should be removed or that patch backported.

[2020-02-04 13:54] wlallemand commented on #481
Could you upgrade to 2.0.12 ? 2.0.3 is quite old and contains a lot of bugs already fixed in the latest version.

Also it looks like you misconfigured the CLI, your systemd unit file contains
"EXTRAOPTS=-S /run/haproxy/admin.sock" which is the master CLI (the CLI that allows you to control the master process) and you configured a stats socket in your configuration "stats socket /run/haproxy/admin.

[2020-02-04 13:57] TimWolla commented on #481
@wlallemand Note that the line with EXTRAOPTS is commented.

[2020-02-04 14:05] wlallemand commented on #481
Oh, you are right, I misread this part. Looks more like a bug than a configuration problem.

[2020-02-04 14:40] Kevinz857 commented on #481
thanks ur reply, and I upgrade haproxy version to 2.0.12 .Then I use dataplane api update haproxy.cfg trigger haproxy reload, it's still not work

### the fllowing is haproxy log
[code]
###  the fllowing is haproxy.cfg
[code]

### the fllowing is systemd.service default content
[code]
### haproxy -vv
[code]

what's the problem....?

[2020-02-04 15:21] wtarreau commented on #480
It should not as this one seems to only concern the cases of lack of memory, but I may be wrong. Given that we cannot give a clearer verdict here, we can hardly take any action. Let's close this one and reopen it if the issue surfaces again.

[2020-02-04 15:27] wlallemand commented on #480
This bug was preventing the previous HAProxy process to leave by being locked up in the pool deinit. Since the abns test does a seamless reload that could be the explanation.

[2020-02-04 15:27] wtarreau commented on #476
Given that 04f5fe8 was later fixed by 1c7c0d6 which addressed a case of empty free list, a situation that should be met during or after a pool_gc() which is precisely one of the operations caught in the trace, I strongly suspect that these ones are suspiciously related. Maybe we can declare this one fixed if it doesn't happen anymore now ? Just trying to keep the place clean :-/

[2020-02-04 15:30] cognet commented on #476
Honestly, I'm not entirely convinced, but you're the boss.

[2020-02-04 15:31] chipitsine opened #482 "src/proxy.c: resource leak found by coverity"
[code]

[2020-02-04 15:34] chipitsine commented on #481
are you trying to reload systemd + haproxy + dataplane api ?

https://www.mail-archive.com/haproxy@formilux.org/msg36209.html

[2020-02-04 15:35] wtarreau commented on #470
Thank you for the report, this is now fixed. The hooks on the server were still using the old (and absent) "git-update-server-info" command to generate the info/refs file, and it didn't fail for recent repositories just because these are also refreshed during the regeneration of the bugs matrix.

[2020-02-04 15:35] #470 closed, assigned to wtarreau

[2020-02-04 15:35] #480 closed, assigned to nobody

[2020-02-04 15:40] wtarreau commented on #471
These are the same 4 ones as the ones I was facing in the past and which require a backend able to both produce and drain data. For this, I cheated:
  - I added `option http-buffer-request` to be able to drain enough uploaded data
  - I've placed a fake error page 8kB large in the second stage backend using directive `errorfile 503 data8k.http`. The file starts with this followed by exactly 8192 b

[2020-02-04 15:43] wtarreau commented on #431
So what's the status here, after a month of idling ? Did you try again with Tim's suggestion ?

[2020-02-04 15:47] wtarreau commented on #482
It's strange that coverity doesn't understand atomic exchanges of pointers, it's not specific to anything. So here it's just a false positive.

[2020-02-04 15:55] wtarreau commented on #472
Hi, sorry for the delay.

Does it fail if you allow more than one entry ? I'm asking because I suspect that we might be facing a blurry limit on the number of entries, like allocating the new entry before checking for limits to ensure that at least one succeeds in case of multi-threading. And my suspicion is then that depending how far the outgoing connection step goes during the close, it will or

[2020-02-04 15:59] #482 closed, assigned to nobody

[2020-02-04 16:45] wtarreau commented on #474
@bedis We could indeed imagine triggering such actions on a few events. Server up or down could be examples of such events. However I'm more worried about how to define what to call when, or if we should have lists of subscriptions for each server for example. Subscription lists could work and be more flexible but that would require the Lua code to first register some callbacks.

Also it's importa

[2020-02-04 16:57] FireBurn commented on #470
I've just noticed that when I push to my repo notifications pop up in your repo :(

Would you be interested in doing what I've done and using this mirror to add in all your branches of haproxy?

[2020-02-04 17:04] TimWolla opened #483 "unable to load certificate chain from file 'XXX.pem'"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?

[code]

`/etc/haproxy/tls` is a folder containing 2 certificates:

[code]

## Steps to reproduce the behavior

1. haproxy -c -f /root/haproxy.cfg
2. It does not happen with either of the certificates in the directory. It must be both.
3. The error message always shows the second certificate when ordering by fi

[2020-02-04 17:08] wtarreau commented on #475
No, I strongly disagree here. You're suggesting to roll back to haproxy 1.0 which had no health checks, and from there we'll re-create all the painful things we've gone through over 19 years. Because implementing load balancing, whatever form it disguises into, **does requires health checking**. This means that the **backend's health** will be needed. And a backend's health is not a boolean but a

[2020-02-04 17:09] TimWolla commented on #470
It does not actually send notifications, it just creates references within the issues. I would assume that this stops happening if you “de-fork” your repository (i.e. delete and re-create as standalone), because GitHub then doesn't know what repository the issue numbers should refer to.

[2020-02-04 17:16] wtarreau commented on #200
I'm all for finding a solution to this, but to date we didn't find one. We'll **need** to break **some** existing configurations whatever the solution we find. And that bothers me because I'm pretty sure that even that final solution will be far from being perfect, and that its limitations will piss off a number of users who in addition will have to walk through very tricky changes in their config

[2020-02-04 17:20] wtarreau commented on #477
So you mean you'd like to see haproxy start with servers down until their checks have proven they're OK ? I remember this was discussed many times but I failed to find the relevant server keyword in the doc so I don't know if we finally implemented it. It's important to understand that there's a huge impact to doing this, which is that for the time it takes your servers to be checked, the server w

[2020-02-04 17:33] wlallemand commented on #483
Hello Tim,

Did you try with the 2.1 git branch ? we fixed a few issues about the SSL which are not in a released version yet.

[2020-02-04 17:48] TimWolla commented on #483
@wlallemand I tested with latest git master, but not specifically with 2.1 HEAD.

[code]

[2020-02-04 17:50] TimWolla commented on #200
Would a “comment” indicating the parser / config format version be a viable solution? I'm thinking about something similar to `"use strict";` in JavaScript. As an example: If the config file starts with `#V=2\n` then the “new” parser will be used, possibly allowing `#V=1\n` to explicitly select the old one and switch the default after a few versions.

[2020-02-04 17:52] TimWolla commented on #200
@wtarreau  Note that the markdown ate the backslash there. Use backticks to indicate "literal code": `\`.

[2020-02-04 17:58] wtarreau commented on #200
Versioning a config only works if you do it from the start. A lot of deployments last more than 3 years and continue to evolve, so versioning a config is in fact putting the burden on the code side by having two versions to maintain forever. Regarding the backslash and markdown, thanks for the hint, it simply proves that escaping characters is not an isolated issue :-)

[2020-02-04 19:04] wlallemand commented on #483
Okay.

Do you have the same problem when specifiying each file on the bind line? I suspect that it could  related to the directory feature.

[2020-02-04 20:03] TimWolla commented on #483
Yes:

[code]

[2020-02-05 05:04] lobster2012-user commented on #477
@wtarreau
The answer to your question is no or I misunderstood it

The only thing I want
so that the server can enter the NOLB state immediately upon receipt of the 404 code without an intermediate state - OK

Giving 200 before giving back 404 is not always convenient and not always correct.

More correct name will be
**disable-on-404 immediately**

[2020-02-05 05:22] thyn opened #484 "Upgrade from 1.9 to 2.1 with http2"
We performed upgrade from 1.9 to latest 2.1 and having increase of empty status codes.
Before upgrade it was about 130 a day. Now there are 12k a day.

Termintation codes are crvn  (10k) or cdvn (2k)

Is it intended behavior? Frontend and backend don't have any settings. They only add some header and forward to backends.

configs

[code]

[2020-02-05 06:50] chipitsine opened #485 "src/hpack-dec.c: logically dead code found by coverity"
[code]

[2020-02-05 10:26] wlallemand commented on #483
Hello Tim,

I can't reproduce, which kind of certificates are they ?

Did you try to add a "tune.ssl.default-dh-param 2048" in the global section ? Looks like something is wrong with the DH but that's probably not the only problem. Maybe your version of OpenSSL is blocking the SSL_CTX_set_tmp_dh() with a size of 1024bits leading to this.

[2020-02-05 10:30] wlallemand commented on #483
I think it lacks some ERR_clear_error() in the codepath that could validate this theory.

[2020-02-05 10:38] TimWolla commented on #483
One is a certificate signed by an internal certificate authority (that's the AAAAAAA in the error messages). The other is a certificate by Lets Encrypt Staging (that's the BBBBBBB). The structure of the certificate bundles is outlined by the grep in the initial bug report. The leaf certificate is first, then the intermediate certificate, then the RSA private key.

Find below the two bundles:

# AA

[2020-02-05 10:40] TimWolla commented on #483
Yes, that fixes the issue. I did not bother with that warning, because we only use ECDHE which, to the best of my knowledge, does not require this DH parameter.

[2020-02-05 10:48] wdauchy commented on #476
@cognet @wtarreau I will close for now, and reopen if we trigger it again. It is a very case anyway, so hard to reproduce.

[2020-02-05 10:48] #476 closed, assigned to nobody

[2020-02-05 11:47] TimWolla commented on #484
First of all: Based of the status label you selected the “Question” issue template. This template specifically states:

That said before you re-ask your question in the correct place make sure to:
1. Look up the proper case of the letters in the termination code. `c` and `C` is different and it looks like you simply gave all lower case characters, because _most_ of the valid characters are upperca

[2020-02-05 11:47] #484 closed, assigned to nobody

[2020-02-05 12:51] Kevinz857 commented on #481
Yep, it looks like a bug?

[2020-02-05 12:55] chipitsine commented on #481
I'm away from that topic. I will try on weekend. Please drop a notice here if you will find something

[2020-02-05 13:36] wlallemand commented on #481
@DanielZW

I'm confused, I though you were not using the program section in your configuration but were running the dataplane-api separately.

Could your provide the complete logs with the startup part and the reload part, because it's incomplete and I don't understand why systemd is deciding to restart the process by itself.

Did you try to reload manually with "systemctl reload haproxy" without

[2020-02-05 13:41] wlallemand commented on #483
Could you try the attached patch and restart without "tune.ssl.default-dh-param" it should fix your issue. Thanks.
[0001-BUG-MINOR-ssl-clear-the-SSL-errors-on-DH-loading-fai.patch.txt](https://github.com/haproxy/haproxy/files/4159775/0001-BUG-MINOR-ssl-clear-the-SSL-errors-on-DH-loading-fai.patch.txt)

[2020-02-05 14:02] Kevinz857 commented on #481
@wlallemand
Thanks for ur reply.
The purpose is ensure that the dataplane-api is always online of running the dataplane-api separately, when haproxy reload failed for some reasons.

### When I reload manually with "systemctl reload haproxy" without editing the configuration is work.
[code]

### And the fllowing is way of start dataplane api
[code]

I'm confused what's wrong with my configuration..

[2020-02-05 14:04] Kevinz857 commented on #481
"I don't understand why systemd is deciding to restart the process by itself."

@wlallemand
because when I reload  haproxy, "pause" state appear in the haproxy log  I guess.

[code]

[2020-02-05 14:09] TimWolla commented on #483
Appears to work for me:

Before applying:
[code]
After applying:
[code]

[2020-02-05 14:12] TimWolla commented on #483
Don't forget to mention `issue #483` in your commit message.

[2020-02-05 14:33] wlallemand commented on #483
Good! Thanks Tim, pushed in master.

[2020-02-05 14:40] wtarreau commented on #485
Thanks Ilya, that was just a redundant error check. Now cleaned up.

[2020-02-05 14:44] wlallemand commented on #481
Ok, good to know.

I still need more logs on your failed reload, from the "Reloading HAProxy Load Balancer" to the "haproxy.service holdoff time over, scheduling restart.".

Also this part is not normal, do you have a service running on the 27002 and 27006 ports?

[2020-02-05 15:04] wlallemand commented on #483
Backported in 2.1.

[2020-02-05 15:04] #483 closed, assigned to nobody

[2020-02-05 15:41] #485 closed, assigned to nobody

[2020-02-05 16:23] TimWolla commented on #435
@bedis Can you please take a look at the proposed patch above?

[2020-02-05 17:52] wtarreau commented on #301
now really fixed, I thought we did it earlier but I was wrong.

[2020-02-05 17:56] dschneller opened #486 "Differentiate manual MAINT and "dns-ly" MAINT"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What should haproxy do differently? Which functionality do you think we should add?

Currently with `server-template`d backends, fed by DNS SRV records via Consul, when a server is marked as MAINT, e. g. via hatop, it really marks the _slot_, not the actual server. This leads to an issue when in a dynamic environment the mapping between

[2020-02-05 18:06] #301 closed, assigned to nobody

[2020-02-05 18:08] TimWolla commented on #301
I would have bet that it was resolved as well.

Anyway: Closing since this a CLEANUP and there is no need to backport.

[2020-02-05 19:15] ScubaDrew opened #487 "Ability to format non-Network log messages"
## What should haproxy do differently? Which functionality do you think we should add?

We need a way to modify the format of these non-network log messages:

[code]

We use Stackdriver structured logging. A log like the string above to STDERR gets logged as an ERROR.

We'd like to be able to format the log message as JSON:

[code]

Stackdriver will parse the JSON and log it will be formatted, and

[2020-02-05 19:34] ScubaDrew opened #488 "HAProxy 2.0.8 Logging "IC" messages"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

It seems to happen in small number of requests during shutdown and startup. No special steps to repro.

## Actual behavior

We have log entries with tc of -1 and termination_state of "IC"

[code]

## Expected behavior

Manual says state IC should never happen.

[2020-02-06 07:09] chipitsine opened #489 "src/cfgparse.c: coverity suspects wrong operator"
[code]

[2020-02-06 09:35] wtarreau commented on #489
And coverity suspects wrong here :-)

[2020-02-06 09:51] #489 closed, assigned to nobody

[2020-02-06 15:35] TimWolla commented on #488
@capflam Could this be 333bf8c33f5d018a5bfeed5be2bdaab455f0234f?

[2020-02-06 15:38] capflam commented on #488
@TimWolla , no because this part was not backported to 2.0. BTW, I must find some time to work on this issue. Probably tomorrow.

[2020-02-06 18:39] chipitsine opened #490 "src/connection.c: coverity suspects unexpected control flow"
[code]

[2020-02-07 09:01] chipitsine opened #491 "src/http_act.c: coverity found 8 new defects during daily scan"
[code]

[2020-02-07 09:10] wtarreau commented on #490
Thanks for these ones. I used to get trapped by these ones a long time ago, but sadly they give a bad
example that persists over time because it gets copy-pasted or is used as a source of inspiration... The
best way to proceed there is the "while (1) { ... ; break; }". I noticed at least 6 of them in the same
file, I'll handle them. They're all pretty harmless as they only involve a signal receipt

[2020-02-07 09:38] wtarreau commented on #410
@nono it seems the Chromium team has fixed the issue on their side a while ago: https://bugs.chromium.org/p/chromium/issues/detail?id=1020233. Shall we close it now, or do you want to rerun some tests first ?

[2020-02-07 09:43] capflam commented on #491
Thanks ! I pushed 2 fixes to address some of these defects. But others seem to be coverity errors. I don't know why it complains about some free() (CIDs 1417854 and 1417851)

[2020-02-07 09:50] chipitsine commented on #491
ok, I will mark remaining as false positive (I will revisit this issue after next daily coverity scan)

[2020-02-07 10:05] wtarreau commented on #491
I suspect it sees the pointer dereferenced by LIST_ADDQ() and doesn't see that you delete everything int the list_for_each_safe() loops.

With that said I'm wondering why we need to keep a list pointer instead of simply storing a list head there in the rules, as it's particularly awkward to have to allocate a list head, it costs at least as much as the two pointers we're storing. And I don't think

[2020-02-07 10:44] nono commented on #410
@wtarreau well, I still have an error (`net::ERR_HTTP2_PROTOCOL_ERROR`), and not a 409 when I tries on my repro repository with Chrome 80.0.3987.87. So, I don't think we can tell it is fixed.

[2020-02-07 10:44] TimWolla commented on #4
This is resolved with `http-after-response set-header` in 2.2.

[2020-02-07 10:44] #4 closed, assigned to nobody

[2020-02-07 10:48] wtarreau commented on #410
OK thanks for the quick feedback!

[2020-02-07 11:22] capflam commented on #488
So, I'm still trying to figure out how it could happen. But I have no clue for now. @ScubaDrew, have you ever run a previous 2.0 version without this issue ? It could help to know if it is a recent bug or not.

For now, I suspect a bug with the server state files and/or the dns resolution. But I haven't found anything yet. @ScubaDrew, You said the issue happens during shutdown and startup. Does it

[2020-02-07 12:21] danteinferno001 opened #492 "Lua execution crashing the haproxy (v2.0.10)"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Output of `bt full` from the `core dump` of haproxy
[code]
## `lua script` that is executiing:

[code]
## Steps to reproduce the behavior

1. run the haproxy
2. install the `ab` plugin to do concurrent request to haproxy:
3. ab -n 1000 -c 1000 -p test_data.txt http://<url_for_callback>/callback/no-auth
## t

[2020-02-07 13:55] wtarreau commented on #492
There's something that really bothers me in your backtrace, SSL is being called directly from within Lua, and not via the SSL layer, and I don't see how this is possible. I have no idea what your "ssl.https" module is, but would it be possible that it provides its own sockets ? If so this has no chance to work (worse, it might seldom work but will totally freeze haproxy during I/Os), and in any ca

[2020-02-07 14:35] TimWolla commented on #492
@wtarreau I'm fairly sure that `ssl.https` is https://github.com/brunoos/luasec/blob/master/src/https.lua and I'm suspecting the same.

@danteinferno001 See https://github.com/haproxytech/haproxy-Lua-http for a native HTTP API or https://github.com/TimWolla/haproxy-auth-request/blob/3a766051c1767b037c907b07f8cdd898bc03abd4/auth-request.lua#L70 for an example of using HAProxy's sockets for lua-sock

[2020-02-07 14:45] danteinferno001 commented on #492
@wtarreau thanks for giving your time. @TimWolla yes you are right we are using luasec library for making https requests: [LuaSec](https://github.com/brunoos/luasec/blob/master/src/https.lua) . Basically we want to do an HTTPS request from inside Lua and return the response. Let us check with the native HTTP API as suggested by you. will get back to you with further updates but we still want to un

[2020-02-07 14:53] ghost commented on #492
Hi, If you want to perform https request from haproxy, you must use the socket provided by haproxy. This is the only way to add network connection in a event-driven software. Check this: https://www.arpalert.org/src/haproxy-lua-api/2.0dev/index.html#socket-class

Thierry

[2020-02-07 19:56] #429 closed, assigned to nobody

[2020-02-07 19:59] wlallemand commented on #429
I spend some time on this today, and it was a problem in HAProxy since the certificate were working on startup.
In fact it's a very stupid one, unrelated to ECDSA. The wrong SSL_CTX were initialized during the certificate change. So it affects every version of OpenSSL. I think I can be ashamed of this one :-)

[2020-02-07 20:03] wlallemand commented on #429
Backported in 2.1.

[2020-02-07 20:17] wtarreau commented on #429
Kudos for finally nailing it down! You have no reason for being ashamed, only those who do nothing do not create bugs. Bugs are part of development, what matters is to figure how to reduce the probability of facing the same again in the future. On this one I think that more explicit variables names like "old_inst" instead of "ckchi" would have made it less likely to appear or easier to spot. It's

[2020-02-08 09:05] chipitsine commented on #491
only 1417854 and 1417851 left. I marked them as false positive.

[2020-02-08 09:05] #491 closed, assigned to nobody

[2020-02-08 10:56] chipitsine commented on #128
was it backported to 2.0 ?

[2020-02-08 11:35] wtarreau commented on #128
It was forgotten, but I've done it now, thanks for the reminder. I'm now closing this issue.

[2020-02-08 11:35] #128 closed, assigned to nobody

[2020-02-09 14:56] TimWolla commented on #410
@wtarreau I believe you mixed up the Chrome issue numbers:

From the reporter: https://bugs.chromium.org/p/chromium/issues/detail?id=1033945
The one you linked 2 days ago: https://bugs.chromium.org/p/chromium/issues/detail?id=1020233

[2020-02-09 17:46] wtarreau commented on #410
Strange, I found it linked in the discussion. Anyway I agree that yours
indeed clearly says it's not finished.

thanks,
Willy

[2020-02-10 12:25] danteinferno001 commented on #492
@wtarreau @thierryf78 @TimWolla , we have removed luasec and tried to use the native haproxy sockets for https requests. Now we are requesting the socket connect_ssl method based on the scheme of the request but while doing so we are getting the below error. We have found that the error originates from hlua.c line [2422](https://github.com/haproxy/haproxy/blob/master/src/hlua.c#L2422) could you gu

[2020-02-10 12:39] bofm opened #493 "UNIX socket bind path length is not checked properly"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

Set a path of length more than 108 characters as a UNIX socket bind.

## Actual behavior

HAproxy stops with error: `cannot switch final and temporary UNIX sockets`

[code]

`strace -f` shows the following:

[code]

## Expected behavior

Haproxy should stop and report a more

[2020-02-10 13:12] chipitsine commented on #493
opensdl-1.1.0 is EOL, how did you install it? I'm asking because we still have 1.1.0 in haproxy CI and I wonder can we drop it

[2020-02-10 13:30] bofm commented on #493
The issue does not depend on opensdl version.

We have a long story of our current HAProxy build. Can't say for sure where the libs come from.

I don't think I can address the question of libs support and HAProxy CI.

[2020-02-10 13:48] wdauchy opened #494 "v2.2dev2 generating lots of 500 errors in http2"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Actual behavior

After upgrading to v2.2dev2 (from v2.1) we are getting lots of 500 errors on our http2 traffic. It is not very clear what could be the additional information we need to provide to help resolve this issue. We can however reproduce it without any problem.

[2020-02-10 13:48] grivet commented on #426
Hi,

Checks were due for some work recently, I have started implementing something similar to the applet you are  describing (not using applets however). This takes the form of templates of tcp-checks, defined once and re-used in several backends.

My feature is however limited to tcp-checks. There might be plan to extend it to other types if it is useful, but this is not currently planned, http-c

[2020-02-10 18:15] ghost commented on #492
Hi,

connect: cannot parse destination address 'auth.pingone.com:’.

Destination address must be IP address and not domain name. Haproxy / Lua can’t resolve hostname.

—
Thierry Fournier
Web Performance & Security Expert
m: +33 6 68 69 21 85      | e: thierry.fournier@ozon.io
w: http://www.ozon.io/    | b: http://blog.ozon.io/

[2020-02-10 19:11] danteinferno001 commented on #492
@thierryf78 thanks for your valuable feedback. we will try with the IP address and comeback with the results. so in a brief summary it goes like this:

1. we cannot use native lua libraries like luasec, which are providing their own socket connections, when used in the context of haproxy ( it must be native HAproxy socket connection ).
**( although its still a case to findout, why does HAproxy let

[2020-02-10 19:14] TimWolla commented on #492
You can cheat by creating a backend and then looking up the addresses of the servers within the backend within Lua: https://github.com/TimWolla/haproxy-auth-request/blob/3a766051c1767b037c907b07f8cdd898bc03abd4/auth-request.lua#L38-L44

[2020-02-11 05:24] wtarreau commented on #494
Hi William,

The main producer of 500 errors are the HTTP rules but you don't have any there. However I fixed a recently introduced bug this morning affecting the H2 mux and which causes a use-after-free condition in some connection error handling cases (which might cause a crash). I would not be surprised if it could also manifest itself as stream errors when waking such streams after the connect

[2020-02-11 05:52] wtarreau commented on #493
In fact the test is already there, and at two places. It's just that the first one (called by the parser) only takes the temporary name extension into account when there's a "unix-bind prefix" setting, and the second one only verifies it satisfies MAXPATHLEN so it fails only during the rename() if the length with the temporary extension is longer than 107. Now fixed, thank you!

[2020-02-11 05:55] wtarreau commented on #426
IMHO UDP checks are totally pointless since there's no definition of what behavior to expect (typically a successful UDP check would be one which doesn't provide an ICMP unreachable in return in a finite duration). More useful would be specific checks on UDP-based services. But since we only support proxying TCP-based protocols, I'd say that relying on side signals to declare a server up or down r

[2020-02-11 05:57] chipitsine commented on #494
@wdauchy , can you try clang asan enabled build?

[2020-02-11 05:59] wtarreau commented on #493
backported as far as 1.6 now, closing.

[2020-02-11 05:59] #493 closed, assigned to nobody

[2020-02-11 07:17] wtarreau commented on #492
@danteinferno001 these incompatibilities are not even specific to haproxy but to any event-driven system using its own network I/Os. You cannot have a second network stack in parallel doing its stuff and blocking the whole process while waiting for its I/Os to respond. This is why it's mandatory to use the same socket stacks for everything. I really don't know why this code is crashing, it probabl

[2020-02-11 09:13] dschneller commented on #48
Just seeing this now. Ran into this with 1.8 today. Thanks a lot!
One more reason to upgrade to 2.1 finally 👍

[2020-02-11 09:29] wtarreau commented on #490
Finally done. Ilya, let me know if you prefer that I close the coverity-related issues myself when done, I'm assuming you use them as a marker to adjust on your side, but if you prefer that I close them when responding, I can do it as well.

[2020-02-11 09:35] wtarreau commented on #477
But then I don't understand what you need exactly, as disable-on-404 is already immediate, there is no such intermediary state. /me a bit confused here.

[2020-02-11 09:38] luhhujbb opened #495 "Haproxy 2.0.12 Segfault at 2 ip 000055ebd5704be5 sp 00007f610aa80210 error 6"
## Output of `haproxy -vv` and `uname -a`

[code]
Uname -a
[code]
## What's the configuration?

[code]

## Steps to reproduce the behavior

This segfault occurs when drastically increase number of connections

## Actual behavior

Every morning the traffic on haproxy increase in terms of connexions, so backend are added using consul-template which reload haproxy, for an unkown reason seems that sea

[2020-02-11 09:43] chipitsine commented on #490
I only mark false positives. Resolved issues are gone automatically from coverity on next run.

[2020-02-11 09:43] #490 closed, assigned to nobody

[2020-02-11 09:45] lobster2012-user commented on #477
@wtarreau
Response 404 puts the service in the NOLP status only if the status was 200 before, but I want to switch to the disabled status regardless of this.

[2020-02-11 09:50] chipitsine opened #496 "osx build failures if ERR=1 is set"
I'm trying to enable ERR=1 on travis-ci builds, so I encountered the following for osx:

[code]

[2020-02-11 10:01] wtarreau commented on #496
OK seems fair, now fixed, thanks!

[2020-02-11 10:01] #496 closed, assigned to nobody

[2020-02-11 10:10] wtarreau commented on #387
Ah good catch Tim. Now backported as far as 1.6, closing. Thanks!

[2020-02-11 10:10] #387 closed, assigned to wdauchy, bedis

[2020-02-11 10:28] wtarreau commented on #477
Ah got it! Yes you're right, I remember about this particularity now. I can't even find it documented at all and the only place I'm seeing this is a one-line comment in checks.c. I think that the code change is minimal, most of the work consists in figuring how to pass the info there from the config.

I do have one question however: it doesn't look logical to me that you want to transition from do

[2020-02-11 10:41] lobster2012-user commented on #477
I apologize in advance for my English, maybe I did not understand the point correctly.  The PROBLEM that I solve is to remove unnecessary errors from monitoring, from the web interface and logs.  Nolb for me means that the service is not working and is not required to work, and this is normal.

[2020-02-11 10:45] wtarreau commented on #477
Ah I see. But that's not the case. NOLB means no load balancing is performed on this instance, but it remains UP. If you have a "use-server" line, it will work. If your "server" line has a cookie, all users having this cookie will correctly be sent there. This mode is used to seamlessly remove a server from a farm: you first switch it to NOLB and it is removed from the load balancing. From this po

[2020-02-11 10:54] lobster2012-user commented on #477
This is exactly what I need so that new clients do not appear.  About the agent, you can read more, what is an agent?

[2020-02-11 12:44] wtarreau commented on #495
Could you please post the whole gdb output with all threads, as well as indicate how many threads are supposed to run (equaly to the number of CPUs, run "nproc" on the cmdline). If in gdb you can issue "p all_threads_mask" it will be quite handy as well.

Does it happen every time or once in a while ? I'm seeing some possible race on the thread exit path. There are some ways to partially close the

[2020-02-11 12:48] wtarreau commented on #477
An agent works just like a health check except that instead of returning an operational status (up/down) it returns an administrative status (ready/maint). Please look for `agent-check` in the configuration manual. Most people used to implement it with inetd/xinetd and a trivial shell script. Others use variants like the GUI-based one proposed by loadbalancer.org for Windows environments.

[2020-02-11 13:12] wdauchy commented on #494
@wtarreau thanks, the patch does fix the issue!
we however had multiple http-request config lines, but did not pasted all the config as I did not know what to target specifically, and you know our config can be quite large. So from your analysis, I think it was totally related.
Thanks a lot, I am happy that we can early track those bugs a long time before the release.

[2020-02-11 13:24] luhhujbb commented on #495
Hello @wtarreau, many thanks for your fast answer !

nprox return 8, since during a seamless reload there are two haproxy process I also test the same configuration with only 4 threads with the same issue.

Here is the comple gdb output :
[code]
Thanks

[2020-02-11 13:33] luhhujbb commented on #495
It happens quite often on several machines with exactly the same configuration.

Sorry I've missed the p all_threads_mask, here it is :
[code]

[2020-02-11 14:00] TimWolla commented on #494
Consider adding a placeholder for those lines (`# redacted http-request / http-response ...`, `50x similar backends`) within the configuration then.

[2020-02-11 14:18] wdauchy commented on #494
@TimWolla I rather prefer to find a good middle point between making a 100% accurate bug report and ask for advice, as I did here, of what are the fields which could be interesting to send. (i.e I often need to make sure to avoid printing too much internal information while pasting our config, so it takes time to do it on a 900KB config)

[2020-02-11 14:26] TimWolla commented on #494
Yes, I absolutely understand the requirement of redacting internal information. That's why I suggested a simple placeholder to indicate what kind of settings have been removed from the config before posting it in a public place. However I can see that this still is quite a bit of work with almost a megabyte of configuration.

[2020-02-11 14:40] wdauchy commented on #494
yes, it remains a painful work for us. we would need to automate such config parsing targeting a bug report. it's doable and can be useful in the future. I will think about it if I get the chance to work on the automation of our coredump collection.

[2020-02-11 14:57] wtarreau commented on #494
Cool that it fixed it!  Regarding the cleanup of configs, there's no perfect solution. In the same vein that I'd like to have an anonymous mode for the CLI's command (show sess, show stat, show fd, etc) I think it would be nice to have a lazy config parser which can skip a number of commonly used settings, possibly replacing them with "# 50 http-request removed here", maybe with frontend/backend/l

[2020-02-11 15:31] chipitsine opened #497 "src/memory.c: coverity suspects resource leak"
[code]

[2020-02-11 16:31] wdauchy commented on #494
indeed, this is something we could think of as a feature for everyone

[2020-02-11 16:34] wtarreau commented on #497
False positive, we had a similar one recently, apparently coverity doesn't understand xchg nor compare-and-swap, so each time you see a leak for a variable passed to HA_ATOMIC_XCHG() or HA_ATOMIC_CAS(), you can safely ignore it.

[2020-02-11 16:38] #497 closed, assigned to nobody

[2020-02-11 17:03] wtarreau commented on #495
OK I think I have it. Please try to apply this by hand to src/listener.c:
[code]
It's the 1/odd, 1/even in your bind mask that triggered it, as they have every other bit set and the thread mask was not applied. My_flsl() returns the highest bit set and not the lowest one, so it goes higher than the number of threads and hits an invalid location.

[2020-02-11 17:33] luhhujbb commented on #495
Many thanks! I've compile a version with your fix. I will test this tomorrow morning and send you the feedback !

[2020-02-11 18:07] lobster2012-user commented on #477
@wtarreau
The agent does not support http, which is not very convenient.
Not considering http, this solves some of my problems.
Thank you for answer.

[2020-02-12 02:26] kaizen1 opened #498 "REGEX in ACL Hangs Client"
[code]

## What's the configuration?

[code]

## Actual behavior

Browser hangs and eventually times out when this URL is opened https://xx.yy.zz.aa/stats where xx.yyy.zz.aaa is an IP4 address (my real users will never use this). Using the FQDN opens the URL without a problem.

This is not a terrible result because it blocks the request that has a Host as IP address, but I think it should fail fas

[2020-02-12 03:32] wtarreau commented on #477
This is interesting, because I remember having already thought about supporting an HTTP variant of the agent check. In the past it was probably not very important when a spare port on inetd was easier to find than an HTTP server. But nowadays it's probably easier to find a Go/Python/whatever HTTP server than a spare TCP port! With 2.2, even haproxy with its return directive could be used as an age

[2020-02-12 04:05] wtarreau commented on #498
I suspect this is related to the recent fix on truncated responses. Do you want to give a try to latest 2.0 snapshot ? Note that if you want to block your users you can use the "silent-drop" action which is even better: it silently kills the connection on haproxy's side after acking the contents, so that the browser waits forever without eating any resource on your side.

[2020-02-12 04:42] lobster2012-user commented on #477
@wtarreau
Yes.
With http support, I could easily create a **built-in** agent in my service, without support it will be a little more difficult. I will have to listen to the second port.

By the way.
Agent-begin-string parameter would be enough (for http + raw text)
I would enter here the ```name:``` of the header or a ```\r\n\r\n```.

[2020-02-12 05:10] wtarreau commented on #477
On Tue, Feb 11, 2020 at 08:42:52PM -0800, lobster2012-user wrote:

Excellent idea, there's already an "agent-send" directive that you could
probably use for this. I never tried to abuse it like this but am interested
in your experience about it!

[2020-02-12 05:56] lobster2012-user commented on #477
I meant that now Ha Proxy handles only the first line in the rewponse. If the response is for the HTTP protocol, it will not work, although I do not know the inner work of the parser, maybe it's able to process HTTP statusText. So I proposed to navigate the first line, and first find a string pattern in the answer.

[2020-02-12 06:04] packeteer commented on #214
is there any love for POST caching?

[2020-02-12 06:44] chipitsine opened #499 "src/proto_tcp.c: coverity suspect negative argument passed to "close""
this is really nice

[code]

[2020-02-12 08:48] luhhujbb commented on #495
Hello @wtarreau,

Sounds good with your fix, we encounter no segfault anymore. I just have  "libgcc_s.so.1 must be installed for pthread_cancel to work" but It should be related to my build.

Thanks a lot !

[2020-02-12 08:56] wdauchy commented on #499
I will handle this one

[2020-02-12 08:56] wtarreau commented on #495
Hi!

perfect, thank you for your quick feedback. I'm going to merge this then.

Willy

[2020-02-12 09:32] wtarreau commented on #495
Now applied to all relevant branches (till 1.8). Closing.

[2020-02-12 09:32] #495 closed, assigned to nobody

[2020-02-12 10:16] wtarreau commented on #499
Amusing. The bug is harmless, however in case of error there, a value of -2 is assigned and used as-is later without checking :-/   I'm going to clean this mess up. Thanks Ilya!

[2020-02-12 10:36] wdauchy commented on #499
@wtarreau oh you mean there is more than what I sent in my patch?

[2020-02-12 11:03] wtarreau commented on #499
Ah I don't know, I hadn't seen your response. That's the beauty of web-based interfaces... You get hundreds of tabs pre-loaded and when you respond they're already old :-)

OK now I can see it. Your fix is indeed right, I'll take it as-is. The second part of the problem is that the defaultmss value set to -2 is used inconditionally everywhere. It should be checked for >0 before being used. Feel fr

[2020-02-12 11:11] wdauchy commented on #499
indeed, thanks, I will work on defaultmss patch as well.

[2020-02-12 13:19] wtarreau commented on #492
BTW, can we close this issue now or are we waiting for anything else ?

[2020-02-12 13:31] wtarreau commented on #487
It would be nice... in theory. In practice we have ~100 different such formats:
[code]
It's simple, they're all free-style formats for use when something important needs to be logged. Revisiting them would require defining a generic canvas for logging arbitrary messages, that would mostly end up with {"message":"blah"} which would not change anything to the current situation. *Some* of them could

[2020-02-12 13:43] wtarreau commented on #200
Actually I might have another idea which wouldn't break existing configs :-)

Since we've added support for single- and double- quotes, we've also added the ability to refine the evaluation within double quotes (environment variables are only evaluated there for example), and to
keep single-quoted strings as raw strings. We do also support enclosing single quotes inside double quotes. And that's t

[2020-02-12 15:15] wtarreau commented on #499
now backported everywhere, closing.

[2020-02-12 15:15] #499 closed, assigned to nobody

[2020-02-12 15:17] danteinferno001 commented on #492
@wtarreau we have few questions for you and some feedback regarding the info you asked:

1. Does enterprise edition of HA-proxy supports the DNS resolution at run time ?

2. _If we could detect such extensions, I'd be more than happy to block them. The problem is that Lua is very extensible and allows to bring in compiled code_
 our feedback:
if you initiate https request using **Luasec** from lua

[2020-02-12 15:20] TimWolla commented on #492
Your lua-socket is too old. See this issue over in my repository: TimWolla/haproxy-auth-request#4. I'm happy to advice further regarding the use of lua-socket's HTTP client within HAProxy on the mailing list. This issue is not the right place for that.

[2020-02-12 15:25] capflam commented on #492
@danteinferno001, about the crash, I guess it is a SSL problem. HAProxy initializes the SSL library installing many callbacks here and there. LuaSec uses the same SSL library "instance". It tries to initialize it but only one init is possible. So it leads to undefined behaviour when HAProxy callbacks are used. I'm not a SSL expert, so it is hard to be absolutely sure it is the root cause. But it e

[2020-02-12 15:28] wtarreau commented on #492
I agree with @capflam and was basically going to respond sensibly the same. The code path in the trace *does not exist* in haproxy. It means that the Lua's SSL module very likely called some functions from incompletely initialized structs or stuff having leftovers, believing it already initialized them itself while it did not. This is another good reason for not mixing multiple libs acting on the

[2020-02-12 15:32] wtarreau commented on #492
And regarding this point:

Not more. Haproxy is a *reverse* proxy. Some bits of DNS resolution were brought to it in order to better integrate in certain very dynamic environments but its main purpose is not to dynamically resolve DNS. There's an HTTP action called do-resolve() that can do this under some circumstances and I don't think we can call it from Lua. The only hope you'd have with an ent

[2020-02-12 15:36] kaizen1 commented on #498
I'm only able to test from deb http://ppa.launchpad.net/vbernat/haproxy-2.0/ubuntu bionic main, and that's still on 2.0.12 (same as issue report version)

Thanks for the silent-drop tip.

[2020-02-12 15:43] chipitsine opened #500 "src/namespace.c: coverity suspects negative argument passed to "close""
[code]

[2020-02-12 19:34] wdauchy commented on #500
I will handle this one as well

[2020-02-13 08:13] wtarreau commented on #488
By the way, 2.0.13 was emitted, it could make sense to update to this version (2.0.8 being quite old) before testing again.

[2020-02-13 08:13] wtarreau commented on #498
I've just pushed 2.0.13 which clears a bunch of other bugs, better test on this one then.

[2020-02-13 15:48] kaizen1 commented on #498
Tried do an update from deb http://ppa.launchpad.net/vbernat/haproxy-2.0/ubuntu bionic main, but it's still on 2.0.12

[2020-02-13 15:54] wtarreau commented on #498
On Thu, Feb 13, 2020 at 07:48:29AM -0800, kaizen1 wrote:

Please grant the distro maintainers some time to see the announce
and take the time to update, build and publish their packages :-)
They're doing this on their spare time, and since this update has
nothing critical it can take a few days.

Thanks!

[2020-02-13 19:13] kshpytsya opened #501 "Proofread the documentation by native English speaker"
I would not want this to be taken as an insult but almost every time I read HAProxy docs or source code comments, I stumble upon some language constructs that reveal that the authors are not native English speakers. It is my humble belief that considering the maturity and much deserved popularity of HAProxy, it is entitled to have top class documentation as well.

[2020-02-13 19:44] TimWolla commented on #501
Disclaimer: Not a native English speaker. Not a HAProxy Maintainer, but I help maintain this issue tracker and I submit patches on a regular basis.

Yes. In fact this is acknowledged in the CONTRIBUTING file: https://github.com/haproxy/haproxy/blob/332ded5f3a74997c0ec2c0df8f19d643bb92b024/CONTRIBUTING#L256-L319

In the past various contributors have submitted patches that fix typos or improve the

[2020-02-13 20:58] kshpytsya commented on #501
It was my understanding that HAProxy is an Open Source backed by HAProxy Technologies company, which could afford hiring a technical writer for such a job.

[2020-02-13 21:54] mshahat commented on #85
@lukastribus I guess I agree mostly with your comment. I found debugging SSL issues on haproxy extremely difficult, possibly as a result of the reasons you've explained.   Thanks,

[2020-02-14 03:32] chipitsine commented on #501
Open source actually means that any interested party can hire such a technical writer

[2020-02-14 09:43] wlallemand commented on #85
Where it may be complicated to report a precise error with the OpenSSL library for each request, it is probably doable to have something on the CLI which allows to see the status of the CRL.

[2020-02-14 09:51] #452 closed, assigned to nobody

[2020-02-14 13:32] kaizen1 commented on #498
Got it. I wasn't familiar with the build process :)
Thank you!

[2020-02-14 18:10] wtarreau commented on #200
Good news guys, I managed to do this, while staying backwards compatible :-)

For example, this now works even without quoting because it's non-ambigous:
[code]
This is also possible using double-quoting or quotes+backslashes:

[code]

The principle is that it's always the lower-level function which parses as far as it can go so we can finally nest brackets and parenthesis. When facing characters

[2020-02-14 18:12] wtarreau commented on #200
Also I intend to add a section to the config documentation with a BNF of the config syntax, that would clearly help there! It'll just take quite some extra time.

[2020-02-14 20:18] wtarreau commented on #501
And even though there are tech writers at haptech, some native speakers, some not, keeping up to date with a fast-moving opensource project is a really tedious task. I think the way it currently works is not that bad, with contributors proposing bunches of fixes once in a while. Also lately I saw some patches adding some doc with spelling mistakes, I wanted to fix them but had to deal with somethi

[2020-02-15 09:05] chipitsine opened #502 "src/arg.c: unreacheble code found by coverity"
[code]

[2020-02-15 13:58] wtarreau commented on #502
Indeed, I accidently dropped the jump to the error path if the arg is too large. Now fixed, thanks Ilya!

[2020-02-15 13:58] #502 closed, assigned to nobody

[2020-02-15 14:04] mehulmpt opened #503 "HAProxy and TCP Mode not working correctly on Layer 7"
## Output of `haproxy -vv` and `uname -a`

[code]

Env: `Linux f1765987699b 4.19.76-linuxkit #1 SMP Thu Oct 17 19:31:58 UTC 2019 x86_64 GNU/Linux` - Docker container

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Make sure the default mode is **tcp**
2. Try to make request to server with `sessionid` as `test1`
3. It would fail, because of condition
4. Now make reques

[2020-02-15 14:33] chipitsine opened #504 "reg-tests/seamless-reload/abns_socket.vtc fails on s390x"
if I enable s390x in travis-ci, the following reg-test fails all the time

https://travis-ci.com/chipitsine/haproxy/jobs/287617972

[code]

[2020-02-15 14:48] chipitsine opened #505 "gcc-9 emits warning (does not look smart)"
[code]

[2020-02-15 15:02] chipitsine commented on #504
I enabled gcc asan, here some debug info

https://travis-ci.com/chipitsine/haproxy/jobs/287620998

[code]

[code]

[2020-02-15 15:03] mehulmpt commented on #503
I believe I understand what's happening here, it looks like TCP connection is kept alive unless the timeout is hit, therefore, once the successful attempt is made, for the next attempt which should fail, it uses the successful TCP connection and sends the second request over the old TCP connection because it is not closed by HAProxy yet (it doesn't know when to close TCP connection).

Is this reas

[2020-02-15 15:03] #503 closed, assigned to nobody

[2020-02-15 16:19] TimWolla commented on #498
@kaizen1 FYI: HAProxy 2.0.13 appears to be available now.

[2020-02-16 07:12] chipitsine opened #506 "memory leak detected in current master branch"
https://travis-ci.com/haproxy/haproxy/jobs/287624735#L674

[code]

[2020-02-16 09:55] wtarreau commented on #506
I broke the parser when addressing issue #502 :-(  It's now fixed, and Travis seems to be building OK again. Thanks!

[2020-02-16 14:10] #506 closed, assigned to nobody

[2020-02-17 09:01] chipitsine opened #507 "src/sample.c: coverity suspects null pointer dereference"
[code]

[2020-02-17 14:27] wtarreau commented on #505
Sadly, I have no idea what to do here. GCC authors are becoming totally ridiculous, they should read strncpy()'s man page and discover that we're using it as intended to do exactly this. We can as well decide to reimplement the whole libc's functions so that gcc shuts up but what's the point of using C if we're not allowed anymore to use the standard functions that come with it ? It's getting real

[2020-02-17 14:31] wdauchy commented on #494
@wtarreau I don't know why but the issue re-appeared today; I might wait for 2.2dev3 to re-do a proper test.
my http rules:

[code]

[2020-02-17 14:32] wtarreau commented on #504
The code in question does this:
[code]
This is a very standard and basic structure initialization, thus it seems that ASAN doesn't work well on s390x, which is not much surprizing considering it might not be its primary target. I'd suggest to disable it there.

[2020-02-17 14:34] wtarreau commented on #507
We could add `if (!output) break;`, that would do it.

[2020-02-17 15:01] wlallemand commented on #505
That's weird, -Wstringop-truncation is supposed to check if we put the \0 after the strncpy, which is set in the code, so that should work even if the size argument was wrongly set. I tried to reproduce with -Wstringop-truncation and my gcc-9.2 but I don't have any warning.

According to the documentation https://gcc.gnu.org/onlinedocs/gcc-9.1.0/gcc/Warning-Options.html#index-Wstringop-truncation

[2020-02-17 15:09] cognet commented on #505
Maybe because gcc is stupid and expects the\0 to be put at sizeof(addr.sun_path) - 2, and not - 1, given we give sizeof(addr.sun_path) - 1 as length to strncpy ?

[2020-02-17 15:35] wtarreau commented on #505
That wouldn't make sense. For me the warning corresponds to the fact that
we may unexpectedly truncate the input string that was 4kB long and that
may be truncated to 107 chars, and who knows what could happen by truncating
such a string... It's obvious that they decided to rewrite their compiler
in C++ because they can't read basic C. I think the only solution we'll
have is to remove yet another

[2020-02-17 18:00] chipitsine commented on #504
first it was running without asan enabled

https://travis-ci.com/chipitsine/haproxy/jobs/287617972

[2020-02-17 18:00] chipitsine commented on #504
it fails with and without asan

[2020-02-17 18:14] wtarreau commented on #504
That's very weird. It got a SIGTERM! And why does only this test fail?
That's a mystery. Note that the abns test is not reliable, it fails for
me ~5% of the time as well. I'm used to issuing another "make regtests"
again two or three times a day on my laptop because of this. Would you
want to run it again (without ASAN) just to be certain it's not a false
positive ?

[2020-02-17 18:24] chipitsine commented on #504
I ran it three times. I'll run more tomorrow

[2020-02-17 18:38] wtarreau commented on #504
OK. Generally, running it twice is enough. I do it from time to time on
Travis as well because it happens to fail there once in a while as well.
So there's really something in relation with this platform here I'm afraid.

[2020-02-17 19:04] chipitsine commented on #507
yes

[2020-02-17 19:05] chipitsine commented on #504
I do not see a lot of usage of s390x. Maybe we should label this issue as "backlog" and keep it open until someone (motivated in s390x CI) will find a way how to get it running

[2020-02-17 19:14] chipitsine commented on #505
ok, let us wait for `-Wno-stupid` flag

[2020-02-17 19:14] #505 closed, assigned to nobody

[2020-02-17 19:16] chipitsine commented on #500
is this issue waiting for being backported ?

[2020-02-17 20:53] TimWolla commented on #500
Yes.

[2020-02-18 02:42] alexf101 opened #508 "resolver defaults to ipv6 even if local ipv6 not available in network stack"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Configure a DNS resolver (as shown above) for any backend that supports IPv6, e.g. AWS CloudFront, from an AWS EC2 instance.

## Actual behavior

Observe the following log line indicating that on server boot, an IPv4 record is used for the backend, but it changes to an IP

[2020-02-18 02:44] alexf101 commented on #508
This is actually likely to affect a lot of people in my opinion, especially those running in AWS.

Having encountered this while adding a CloudFront backend, I've realised that several other backend services I use will immediately break if the service provider begins to advertise an IPv6 DNS address, which they're absolutely allowed to do.

[2020-02-18 03:15] wtarreau commented on #504
On Mon, Feb 17, 2020 at 11:05:43AM -0800, Ilya Shipitsin wrote:

Good idea, I'm fine with this approach.

[2020-02-18 07:54] darksoul42 commented on #270
I also find myself in a scenario where it would be extremely nice to be able to stop listening for connections on a given port, rather than return an error 503 because no backends are available.

(The problem though with privileged ports is that they can really be opened only once, at startup as root, before dropping privileges, so unless you are on an OS with special capabilities/permissions allo

[2020-02-18 09:59] capflam commented on #494
@wdauchy, I found a bug in the function rewriting the Host header. First, you must be aware of a changes in the 2.2. Now, by default, the header rewrite errors are fatals. When such failure happens, a 500 error is returned to the client. It is possible to ignore theses errors using the HTTP rule `strict-mode`.

BTW, the bug here happens when we try to rewrite a host header without changing its val

[2020-02-18 10:27] capflam commented on #494
@wdauchy, it should be fixed now.

[2020-02-18 11:01] wtarreau commented on #508
The problem is that there's no such thing as "the host has an IPv6 address". Look at this machine for example:
[code]
Full of IPv6 addresses. Guess what ? It doesn't have *public* IPv6 connectivity. But it's very much allowed to communicate internally or even with its containers over IPv6.

In the end the user is the only one who knows if their setup has full networking or is incomplete. I'd say t

[2020-02-18 11:41] TimWolla opened #509 "monitor-uri does not work with HTTP/2"
## Output of `haproxy -vv` and `uname -a`

[code]
[code]

Also seen with `2.1.3-1~bpo10+1` in production.

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. `nghttp -v https://localhost:8080/health`
2. `curl -k -v https://localhost:8080/health`

## Actual behavior

1. Returns a 404 from the backend server.
2. Returns the 200 OK from `monitor-uri`.

## Expected behavior

[2020-02-18 11:49] wdauchy commented on #494
thanks! I pushed a new test for v2.2

[2020-02-18 12:59] bedis commented on #508
As Willy stated, there are no good default behavior.
HAProxy is only the "dns client" and it's up to the admin to either ensure the DNS server is configured properly or adjust HAProxy's behavior. It is full of options for that and I am also opened to add more if needed.
As explained, you can use this directive to enforce IPv4 first: https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#5.2

[2020-02-18 13:23] capflam commented on #509
You're right. The matching against the monitor-uri is done using the request uri, and not the request path. In HTTP2, the uri is absolute. I'll fix it.

[2020-02-18 13:49] wtarreau commented on #507
Done, closing now.

[2020-02-18 13:49] #507 closed, assigned to nobody

[2020-02-18 14:20] Gerrit23 opened #510 "HAProxy 2.1.2 http-request replace-path not working correctly"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Incoming request  `http://localhost:10123/haproxy/test/replace/Resource?_id=123`

## Actual behavior

1. Request is changed to https://test.example.com/new/path/Resource?_id=123_id=123

## Expected behavior

1. Request should be https://test.example.com/new/path/Resource?

[2020-02-18 14:49] wtarreau commented on #510
It looks like the input is matched against the path+query string instead of path alone. I'll have a look, thanks!

[2020-02-18 15:35] capflam commented on #509
Ok, it should be fixed now. But it is not really a bug, because it is stated in the documentation the matching is performed against the request's URI. not its path. In HTTP/2, most of time, clients send absolute-form URIs. But I agree it may be surprising.

[2020-02-18 15:38] TimWolla commented on #509
However I would not be able to match both H1 and H2 _without_ this fix, because I only have one `monitor-uri` that I either can configure in absolute form or not, no?

In any case: Thanks for the patch! :smile:

[2020-02-18 15:43] capflam commented on #509
True, it was the main motivation to push this patch. I will see with Willy if we backport it or not.

[2020-02-18 17:00] haproxy-mirror commented on #509
On Tue, Feb 18, 2020 at 07:43:22AM -0800, Christopher Faulet wrote:

I'm not against a backport, the point being that the patch itself proves
that nobody ever managed to get monitor-uri to work with H2. This further
shows how outdated monitor-uri is. With the new return directive we'll
finally have much cleaner and flexible options in the future.

[2020-02-18 17:59] TimWolla commented on #509
The thing I enjoy about `monitor-uri` is the automated suppression of the logs. In fact before discovering `monitor-uri` I implemented the health check response using Lua.

[2020-02-18 21:01] haproxy-mirror commented on #509
On Tue, Feb 18, 2020 at 09:59:19AM -0800, Tim Düsterhus wrote:

I know, we discussed with Christopher about having an extra "log-level"
directive on "return" to achieve the same :-) It could even be useful to
alert on certain conditions by the way.

[2020-02-18 22:38] wez470 opened #511 "PROXY protocol V2 local command indication for health checks"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

Also tested using HAProxy 1.9 in Docker

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Setup a simple TCP server backend
2. Configure the backend for HAProxy with health checks and PROXY protocol v2
3. Run HAProxy and let it health check the backend

## Actual behavior

The following is an example set of byte

[2020-02-19 12:17] bedis commented on #435
Hi @lukastribus and @TimWolla

The patch above looks good to me.
Can you send it to the ML so I can approve it :)

[2020-02-19 14:14] wtarreau commented on #511
Interesting, it seems to have been broken since at least when V2 was implemented! I remember that sending LOCAL in v1 was a bit of a hack and it's possible we accidently lost it during the transition to v2. In case of health checks, the "remote" connection (i.e. the "other" side) is artificially set to the outgoing one so that proxy_v1 can send the local addresses. But for V2 we ought to only send

[2020-02-19 23:57] ScubaDrew commented on #487
Thanks @wtarreau for the investigation.

To clarify one thing - does the `send_log`  function have a `log level` associated with it?

It would be a big gain if we could at least get to `{"severity":"WARNING","message":"blah"}` , `{"severity":"ERROR","message":"blah"}`

We run very large Kubernetes clusters, so these messages appear _very_ frequently as Pods come and go. All of them go to STDERR an

[2020-02-20 00:19] ScubaDrew commented on #488
Sorry all - I am not getting notifications of replies.

@capflam Unfortunately we have not run a previous 2.0 version in this environment. We just migrated to GCP/GKE and started on this version of HAProxy. We had an old marathon-lb (DC/OS) prior to this.

I did some digging based on your comment about statefile.

I believe our pods fail to load the state file. This is because we tried to mount pe

[2020-02-20 15:16] ret2libc commented on #373
@capflam @wtarreau did you come up with a reproducer for this? Also, do you think this deserves a CVE? Thanks!

[2020-02-20 18:43] ScubaDrew commented on #488
Dig some additional digging - seems to only happen when we deploy HAProxy to Kubernetes. I think it might be the pods that are _shutting down_ reporting the errors. Maybe SIGTERM shutdown has a problem that results in `IC`

[2020-02-21 10:28] friesje306 opened #512 "haproxy 2.1.3 issue with ssl on solaris 11 sru 950"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1.  Just start haproxy using: /usr/local/sbin/haproxy -p /tmp/haproxy.pid -f /usr/local/etc/haproxy.cfg
    and it will crash: Bus Error (core dumped)
2. If you leave out the ssl crt /PATH/self.pem it will run
3.

## Actual behavior

It crashes during startup. when adding ss

[2020-02-21 10:58] wtarreau commented on #510
Jerome did the fix that was now merged into mainline, it will follow into stable branches shortly.

[2020-02-21 11:28] chipitsine commented on #512
in order to process with gdb, the following usually works on Linux ....

1) binary should be built with debug symbols ( -ggdb switch)
2) binary should not be stripped (usually "install" strips, type "file .../haproxy" will show whether debug symbols included or not)
3) core dump save are enabled on OS level

run

gdb core .../haproxy

maybe we should add some article on that, however, I'm sure the

[2020-02-21 11:30] chipitsine commented on #512
according to output you provided, I'd try (first is core, second is binary)

`gdb --core core_sz4203_haproxy_0_0_1582273479_18461 /usr/local/sbin/haproxy `

[2020-02-21 11:50] friesje306 commented on #512
root@sz4203:/var/cores# gdb --core core_sz4203_haproxy_0_0_1582273479_18461 /usr/local/sbin/haproxy
GNU gdb (GDB) 8.0
Copyright (C) 2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show wa

[2020-02-21 12:19] wtarreau commented on #512
On my machine (x86_64), I'm seeing the shctx_init() function called with blocksize=196, which is not aligned to a pointer. Thus I can easily imagine that the first node is properly initialized and that the second one gets unaligned and fails. Could you please check if applying the following fixes the problem for you ?
[code]

[2020-02-21 12:32] friesje306 commented on #512
root@sz4203:~# gdb --core /var/cores/core_sz4203_haproxy_0_0_1582285952_20901 /usr/local/sbin/haproxy
GNU gdb (GDB) 8.0
Copyright (C) 2017 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show

[2020-02-21 12:43] friesje306 commented on #512
Added the 3 lines and seems to work fine now on our test-server.
Not getting bus-errors anymore.

Thnx

[2020-02-21 12:44] wtarreau commented on #512
OK thank you. I'm going to update that (and also apply the rounding on the extra field that's OK for now but which could also be unaligned in other circumstances).

[2020-02-21 13:24] friesje306 commented on #512
On the production server where the config is different I still get coredumps.

root@SYSTEM:/usr/local/etc# /usr/local/sbin/haproxy -p /tmp/haproxy.pid -f /usr/local/etc/haproxy.cfg
Bus Error (core dumped)
root@SYSTEM:/usr/local/etc# pkg install gdb
           Packages to install:  1
            Services to change:  1
       Create boot environment: No
Create backup boot environment: No

DOWNLOAD

[2020-02-21 13:26] friesje306 commented on #512
root@SYSTEM:/var/core# pstack core_SYSTEM_haproxy_0_0_1582290916_7688
core 'core_SYSTEM_haproxy_0_0_1582290916_7688' of 7688: /usr/local/sbin/haproxy -p /tmp/haproxy.pid -f /usr/local/etc/haproxy.
 000000010024c6a4 eb32_insert (1005baf68, 1005c9d74, 0, 0, 1005c0dc4, 0) + 264 (eb32tree.h:347)
 0000000100230860 fwrr_init_server_groups (1005b9f00, 1088, 1000, 1005baf68, 10d8, 1005c99b0) + 260 (lb_fwr

[2020-02-21 13:28] chipitsine commented on #512
@friesje306 , can you try current master branch on your test server (maybe there are more issues) ?

[2020-02-21 13:39] wtarreau commented on #512
I think you're now hitting a very old issue that was reported a long time ago and that I was very surprized not to have heard about anymore, it's described here: #9 .

I suspected that only applying the following fix would address it, but never got the opportunity to ask for some feedback:
[code]

So you're welcome to test it now :-)

[2020-02-21 13:51] friesje306 commented on #512
works like a charm ;)
No coredumps anymore
Thnx for the quick help

[2020-02-21 13:55] wtarreau commented on #512
Excellent, thank you for the quick test!
So for now I'm going to condition this under x86_64/i386/armv7a/armv8a which are known to be unalign-safe.

[2020-02-21 14:32] capflam commented on #509
FYI, the fix was backported to 2.1.

[2020-02-21 14:32] #509 closed, assigned to nobody

[2020-02-21 14:39] capflam commented on #492
I guess we can close this issue now with the status "invalid".

[2020-02-21 14:39] #492 closed, assigned to nobody

[2020-02-22 15:25] wtarreau commented on #512
@friesje306 I'd like you to test the attached patch on top of the other ones. It moves the alignment to the holding nodes instead of the ebnode itself. It's cleaner as it will not leave holes inside the eb32_node struct and will not inflate some struct twice. It works for me (TM) but I'm interested in having a second check on your platfom. Thanks!
[ebtree-fix.diff.txt](https://github.com/haproxy/h

[2020-02-23 09:13] capflam commented on #406
Re-reading this issue, it seems that this feature is already implemented. HAProxy is already capable to upgrade TCP connections to HTTP. And it is possible to choose between SSL offload or not by redirecting the traffic that should be offloaded to a second/internal frontend. I'm closing the issue now.

[2020-02-23 09:13] #406 closed, assigned to nobody

[2020-02-23 09:18] capflam commented on #143
Just to mention that the solution 1 was implemented few months ago (commit b1bb1afa).

[2020-02-24 00:57] Mo3m3n commented on #406
Actually, that was part of the request: Offloading SSL connections conditionally on the same frontend and not resorting to proxy chaining (creating dummy backend, doubling the number of fd, etc)

[2020-02-25 09:36] wtarreau commented on #512
So I was in a code fixing mood this morning and finally took it. Don't bother applying the patch, simply update to latest master and you'll have this merged.

[2020-02-26 10:34] chipitsine opened #513 "src/connection.c: null pointer dereference found by coverity"
[code]

[2020-02-26 10:41] domdom82 opened #514 "doc missing info about comments in crt-list file"
## Output of `haproxy -vv` and `uname -a`
[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. I am using a crt-list file for SNI
2. The crt-list file contains comments denoted by `#`
3. The crt-list file is parsed successfully

## Actual behavior

The configuration guide does not state anything about comments in the crt-list file (which I need)

## Expected behavio

[2020-02-26 12:01] frobware commented on #471
I was experimenting here with:

[code]

Running repeatedly in a loop using this script:

  https://gist.github.com/frobware/39785c63793f64f82b7efc81927fe195

against this configuration:

[code]

I see failures like:

[code]

If I run haproxy under the auspices of valgrind I don't (ever?) see any failures, so possibly timing related as it is now single-threaded:

[code]

[code]

Note: the valgrind

[2020-02-26 12:06] frobware commented on #471
Setup similar to https://github.com/haproxy/haproxy/issues/471#issuecomment-591391352https://github.com/haproxy/haproxy/issues/471#issuecomment-591391352, but this time with:

[code]

Built as:

    make CPU="generic" TARGET="linux-glibc" USE_OPENSSL=1 USE_PCRE=1 USE_ZLIB=1 USE_LINUX_TPROXY=1 DEFINE=-DTCP_USER_TIMEOUT=18 -j

I see a mixture of 1 or 2 failures:

[code]

[2020-02-26 12:09] frobware commented on #471
And per https://github.com/haproxy/haproxy/issues/471#issuecomment-591392838, this time with:

[code]

[code]

[2020-02-26 12:14] frobware commented on #471
And changing the invocation so that we run all 146 tests per the original issue description. (I just changed the script invocation to):

[code]

[code]

[code]

[2020-02-26 12:32] wtarreau commented on #471
For this one I understand what it is. It's just that we're using the sival_int field of the sigev_value union which also supports a pointer. This is perfectly valid and the documented way to use it, but valgrind cannot know if our code is going to use the int part or the ptr part. We could very well zero the structure at boot to make valgrind happy but the real effect is only to please valgrind he

[2020-02-26 12:38] wtarreau commented on #471
Regarding the ":path" one, I was surprized because I was pretty sure we used to control it. After checking I figured what happened, we broke it with this commit: 92919f7fd5 ("MEDIUM: h2: make the request parser rebuild a complete URI").

The test on uri_len that is supposed to catch this case now applies to the rebuilt URI made of authority+path, and it's never empty anymore for requests with a va

[2020-02-26 12:40] wtarreau commented on #471
For 3.8.1 with the GOAWAY frame, it expects a connection close and gets one, an abrupt one but it's closed. I suspect it's essentially a matter of timing depending on what's left in the Rx buffer at the moment the connection is closed.

[2020-02-26 12:47] chipitsine commented on #471
@frobware , can you please run valgring in "suppress generation" mode and submit resulting valgring.suppress? We may wish to track such things

[2020-02-26 12:51] frobware commented on #471
The reason why I was running the test repeatedly is I first run them locally and they all passed. I then switched to _not-exactly-the-same-config_, but same haproxy version (**2.0.13** (corrected "Wed 26 Feb 2020 01:01:59 PM GMT")) configured in an OpenShift cluster and noted the following failures where the prevailing number of failures looked close to the original issue description: `h2spec fail

[2020-02-26 12:54] TimWolla commented on #471
@wtarreau If this is only required at boot and does not come with any additional runtime cost then I'd appreciate if this was done. If a false positive is easy to get rid of then it makes it easier to find actual issues.

[2020-02-26 12:56] frobware commented on #471
haproxy-2.0:

[code]

haproxy-2.1:

[code]

haproxy-2-2-dev3:

[code]

[2020-02-26 12:57] wtarreau commented on #471
I've fixed the :path stupidity now. I'll try to reproduce the second one.

[2020-02-26 13:05] wtarreau commented on #471
I also addressed the valgrind issue in init_wdt_per_thread now.

[2020-02-26 13:07] wtarreau commented on #471
@TimWolla that's exactly what I've done for the same reason :-)
BTW we're already reaching the limits of a linear discussion system, it's becoming a real mess to respond to everything in parallel, it's not threaded, so let's try to stick to the topic which is h2spec errors.

[2020-02-26 13:10] frobware commented on #471
@wtarreau / @chipitsine did you get what you needed for the valgrind suppressions?

[2020-02-26 13:15] frobware commented on #471
@wtarreau pulling and building the last two commits; were you expecting zero valgrind errors now?

[code]

[code]
[code]
[code]

[2020-02-26 13:17] frobware commented on #471
yeah... I can take the valgrind stuff elsewhere if it helps.

[2020-02-26 13:17] wtarreau commented on #471
@frobware some of your tests will fail on h2spec just because of the deny response which is too small to run them. For this reason I have addressed this by chaining that to a second layer returning a 8kB data file:
[code]
With this it's OK most of the time. Nowadays with http-request return it would be even a bit cleaner. The only h2spec failure I'm seeing once in a while is a well known one relat

[2020-02-26 13:21] wtarreau commented on #471
For the other valgrind reports about epoll_ctl, it's likely complaining for the same reason (i.e. we're using the FD in the event and not a random pointer). But here it's on the critical path and I'm not going to memset() every epoll_event before creating them to please valgrind! If it does this it may also complain in case of EPOLL_CTL_DEL because we don't create a dummy event!

[2020-02-26 13:22] frobware commented on #471
I can try master but will have to faff a little to get that into an OpenShift cluster. I will do that anyway, but if I take the additional config would you expect a cleaner run even if I initially chose either 2.0.13, or 2.1.3?

[2020-02-26 13:22] frobware commented on #471
Yep, totally understood.

[2020-02-26 13:38] wtarreau commented on #471
OK for valgrind vs epoll_ctl, I did the minimum, ran some measurements and didn't notice any difference so I did it.
Regarding the config update, you should actually notice an improvement even with 2.1.3 by using the fixed one. You'll still get the empty path issue though. I'm running with zero errors most often, or 1 (5.11) when doing this.

[2020-02-26 15:34] frobware commented on #471
Does this imply that you already run h2spec in CI (or other)?

[2020-02-26 16:29] wtarreau commented on #471
Yes, I do use it on my dev machine each time I apply sensitive changes to the H2 processing. It's easy enough to use. I messed up with the timeout that I used to require originally and that sadly happened to hide one of the failures your reported. I'll note not to use it anymore.

[2020-02-26 17:24] ScubaDrew opened #515 "Add HTTP Log Option for backend server `DNS Name` when using HAProxy in Kubernetes DNS Discovery Mode"
## What should haproxy do differently? Which functionality do you think we should add?

When logging the backend server name (`%b`/`backend_name`) in HTTP Logging - the names are like:

[code]

Each of these correlates to a service discovered by DNS lookups, and are backed by Kubernetes pods like:

[code]

## What are you trying to do?

When trying to correlate log entries from HAProxy with Logs f

[2020-02-27 07:54] chipitsine opened #516 "signal 11 on CentOS 6"
https://cirrus-ci.com/task/5485891233775616

[2020-02-27 07:55] chipitsine commented on #516
I hope to prepare CentOS 6 vm in couple of days.
if someone can collect core dump earlier, it would be nice

[2020-02-27 08:40] space88man opened #517 "Delay OpenSSL engine keys(PKCS#11) to child process in master-worker mode"
## Output of `haproxy -vv` and `uname -a`

[code]

## What should haproxy do differently? Which functionality do you think we should add?
[UPDATE] I may have misunderstood ENGINE support: in the bind directive how do you tell you want to use an engine private key (I'm thinking of OpenSSL's `req -new -engine abcd -keyform engine -key my-key-in-engine...`.

When using ENGINE private keys in multipro

[2020-02-27 08:46] space88man commented on #517
Pseudo code,
[code]

[2020-02-27 11:13] space88man commented on #517
Misunderstood ENGINE support.

[2020-02-27 11:13] #517 closed, assigned to nobody

[2020-02-27 11:20] space88man opened #518 "Allow private keys from OpenSSL ENGINE"
## Output of `haproxy -vv` and `uname -a`

[code]

## What should haproxy do differently? Which functionality do you think we should add?

Allow HAProxy to use private keys from OpenSSL ENGINE if supported: e.g. using engine pkcs11 + PKCS#11 module

## What are you trying to do?

Do TLS + HSM termination with HAProxy

Currently HAProxy has OpenSSL ENGINE support for algorithms but in the bind stat

[2020-02-27 14:54] lukastribus commented on #435
I saw your response, then forgot about it.

I just sent the patch to the ML. Thanks.

[2020-02-27 14:58] clwluvw opened #519 "Health check duration Prometheus metric"
## What should haproxy do differently? Which functionality do you think we should add?

Add backend health check duration in prometheus service to be exported.

## What are you trying to do?

Monitor the connectivity between backends and HAProxy

[2020-02-27 15:34] wlallemand commented on #516
Thanks Ilya. Fixed.

[2020-02-27 15:34] #516 closed, assigned to nobody

[2020-02-27 15:56] wdauchy opened #521 "2.2dev3 incorrect url rewrite following a 302"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

[code]
some http-rules setup on frontend side:
[code]
also on backend side:

[code]

## Steps to reproduce the behavior

Use v2.2 with a http redirection including url arguments such as:

[code]

As you can see the https redirect is missing "?serial=XXXX" in url
In v2.1:

[code]

[2020-02-27 15:57] wdauchy commented on #521
note: I may work on a patch but wasn't sure where to look

[2020-02-27 16:11] TimWolla commented on #521
I wonder if this is a regression from #510?

[2020-02-27 22:07] jmagnin commented on #521
commit c87e46881 seems to have introduced this bug.

[2020-02-27 22:54] cognet commented on #521
This should be fixed by @jmagnin's patch, 967d3cc1057f1c2e83b7969db1406104fbf843df

[2020-02-28 00:12] tdk0 opened #522 "Can't change :authority pseudoheader in HAProxy 2.1.2"
## Output of `haproxy -vv` and `uname -a`

[code]

## What's the configuration?

Forward configuration:

[code]
Second level configuration:

[code]
## Steps to reproduce the behavior

1. Send an h2 request to the forward HAProxy instance for 'sample-service.host.domain.example.com'
2. It matches the correct backend, which sets a host header of 'sample-service.host.staging-domain.example.com'
3. Th

[2020-02-28 02:45] wangao1236 opened #523 "Select a new server to reforward based on specific errors"
Hello, I am a beginner of haproxy, and I am trying to deploy haproxy to realize the load balancing of a kubernetes cluster.
I would like to ask a question whether haproxy has the ability to select a new server to retransmit after timeout or a specific status code appears?
I know there is a configuration item called option redispatch, but from the documentation, it only works when the server is dow

[2020-02-28 09:09] capflam commented on #522
I confirm the bug. I'm on a fix.

[2020-02-28 10:39] capflam commented on #519
Sorry, but your patch is not valid. First, as mentioned on the ML,  this field must be expressed in seconds using a float representation. But, outside this point, the metric is never exported because the `promex_srv_metrics` matrix was not updated. It lists all exported server metrics.  Finally the README was not updated accordingly.

But don't bother with updating your patch, I already pushed the

[2020-02-28 10:40] #519 closed, assigned to nobody

[2020-02-28 10:41] capflam commented on #522
@tdk0, It should be fixed now. Thanks !

[2020-02-28 10:42] capflam commented on #494
@wdauchy, do you have any info about this issue ? can we close it ?

[2020-02-28 10:46] #510 closed, assigned to nobody

[2020-02-28 11:13] #522 closed, assigned to nobody

[2020-02-28 11:13] lukastribus commented on #522
Workaround would be to use lower-cased host header?

`http-request set-header host example.org`

[2020-02-28 11:32] wdauchy commented on #494
seems ok for now, will reopen if needed

[2020-02-28 11:32] #494 closed, assigned to nobody

[2020-02-28 12:12] wtarreau commented on #523
What you're asking for are layer-7 retries. Please have a look at the "retry-on" directive in the documentation. For more help you can ask on the mailing list, but I'm closing this issue since it cannot qualify as a feature request, being already implemented.

[2020-02-28 12:12] #523 closed, assigned to nobody

[2020-02-28 12:58] capflam commented on #513
It is not obvious. But to enter the else clause,  `src` and `dst` must be defined and have both `AF_INET` or `AF_INET6` as address family. It is only possible by getting them from the `remote` connection. So, it cannot but NULL. It is a false positive.

[2020-02-28 12:59] capflam commented on #522
@lukastribus, Yes, it is a valid workaround.

[2020-02-28 12:59] #513 closed, assigned to nobody

[2020-02-28 13:32] wdauchy commented on #521
thanks! tested and fixed!

[2020-02-28 13:32] #521 closed, assigned to nobody

[2020-02-28 17:03] lukastribus commented on #501
So can we close this ticket?

We have established that patches are very welcome. But this issue tracker is about the HAProxy open source project, not about what a commercial entity invests in or whom it may hire, imo.

[2020-02-28 17:11] wtarreau commented on #501
I agree. Done :-)

[2020-02-28 17:11] #501 closed, assigned to nobody

[2020-02-28 17:42] wez470 commented on #511
Sorry, would you still like me to verify this? I wasn't setup to install and run from source when I opened this and was busy with other things. I can give it a go this weekend if you still need

[2020-02-28 17:50] reverseq opened #524 "Lua "yield not allowed""
**Output of haproxy -vv and uname -a**

[code]

**What's the configuration?**

[code]

**backend.lua**
[code]

**Expected behavior**
i was following the guide https://www.haproxy.com/de/blog/5-ways-to-extend-haproxy-with-lua/
the IP rating  script. only real difference is that i am using mode tcp  instead  of mode http

i want to dynamicaly change the servers destination. It works using the stats

[2020-02-28 18:06] wtarreau commented on #524
Well, we don't use the issue tracker to provide help because nobody else benefits from the responses, that's why we ask that requests for help are asked on the mailing list or discourse. HOWEVER what I'm seeing is that you're trying to fetch req_ssl_sni() before it might have a chance to arrive. The tcp-request inspect-delay setting enforces an inspection delay for use with a tcp-request content a

[2020-02-28 18:06] #524 closed, assigned to nobody

[2020-02-28 18:07] wtarreau commented on #511
No problem! If it's trivial for you to test, you're welcome. But I was already reasonably confident in that it would work based on my tests, so if it's a hassle, don't waste your time.
Thanks!

[2020-02-28 18:10] reverseq commented on #524
Hi, well thats not the  issue i try to explain. i commented out the  line  req_ssl_sni() and  it still breaks.

[2020-02-28 18:25] reverseq opened #525 "Lua sample-fetch 'set_backend': yield not allowed."
## Output of `haproxy -vv` and `uname -a`

[code]

### Uname -a

```Linux dev01-ams.nixworks.ee 3.10.0-1062.9.1.el7.x86_64 #1 SMP Fri Dec 6 15:49:49 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux```

## What's the configuration?

[code]

##  backend.lua
[code]

## Steps to reproduce the behavior

Run  the  above config results in Lua sample-fetch 'set_backend': yield not allowed.

## Actual behavior

000

[2020-02-28 18:46] lukastribus commented on #525
We already told you to use support channels for this question. Acting like your issue is a bug isn't gonna improve your situation.

What you are trying to do is not supported, a fact that is clearly documented:

https://github.com/haproxy/haproxy/blob/77e463f729de676ec3343ed3318a2cfa5d3a6a8b/doc/lua.txt#L514-L516

[2020-02-28 18:46] #525 closed, assigned to nobody

[2020-02-28 20:14] wez470 commented on #511
Sounds good. I probably will not bother then :slightly_smiling_face:

[2020-02-28 20:58] chipitsine commented on #501
I played a bit with automatic spellcheck

https://github.com/chipitsine/haproxy/runs/475742045

I agree to some of suggestions. I'll send patch tomorrow

[2020-02-28 21:58] tdk0 commented on #522
Thanks for the quick turnaround! And thanks for confirming that I wasn't crazy. :-)

[2020-02-29 07:40] chipitsine opened #526 "src/standard.c: logically dead code found by coverity"
[code]

[2020-02-29 07:47] wtarreau opened #527 "doc: update the "intro" file (not updated since 1.6-dev4)"
The current "intro.txt" file was created in 1.6-dev4 and only got typo fixes since. What's said there is still quite accurate but since then a few things changed (features, doc file names, issue tracker, contacts) so better recheck it for 2.2.

[2020-02-29 08:12] wtarreau commented on #526
Now fixed, thanks Ilya.

[2020-02-29 08:12] #526 closed, assigned to nobody

[2020-03-01 07:23] chipitsine opened #528 "src/checks.c: dead code found by coverity"
[code]

[2020-03-02 08:44] ret2libc commented on #373
@capflam @wtarreau @lukastribus ping

[2020-03-02 09:04] capflam commented on #373
@ret2libc, I don't understand. This issue was closed few months ago. A reproducer is not easy to script. You must send an HEADERS frame from an h2 server on an idle stream. It means you must spontaneously start to send a response on an idle stream, without any request corresponding to this response. It is invalid and must generate a protocol error.

A CVE is not required because the bug concerns t

[2020-03-02 09:35] ret2libc commented on #373
Ok, thanks!

[2020-03-02 10:57] kyontan commented on #472
Hi, sorry for a long delay!

Nope, it does not fail when with more than one entry.
As you said, I thought its situation relates to some blurry effects.
In this case, I have workaround that setting table size more than one, but there might be scenario that must set table size to one.

[2020-03-02 16:53] pboguslawski commented on #404
We've adapted patches

https://github.com/haproxy/haproxy/commit/d4f9a60ee2648c9552503d7742530e64d28ab027
https://github.com/ehocdet/haproxy/commit/41cccd0674becb213dc2b46e260674cb3c004f49

to haproxy 1.8.19-1+deb10u1 sources (debian 10) and checked that client receives only subjects of certs from ca-file and not from ca-root-file so mod seems to work ok. Thank you!

Regards,
Paweł

[2020-03-03 08:18] silviubajenaru opened #529 "SPOA traffic mirroring"
## Output of `haproxy -vv`

[code]

# Output of uname -a
[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior
Use the config file. Please see the behavior described below.

## Actual behavior

I expected HAProxy to mirror the requests to the test server, based on the mirror.conf file. I followed the https://www.haproxy.com/blog/haproxy-2-0-and-beyond/ and https://www.ha

[2020-03-03 11:44] ehocdet commented on #404
Happy to help,

I have submitted the "ca-no-names-file" https://github.com/ehocdet/haproxy/commit/58c447327933567443a6f685084efd989537bee2  instead the misnamed "ca-root-file" patch.
Perhaps it will be integrated into haproxy-dev branch.

[2020-03-03 15:02] capflam commented on #529
Could you share your spoa-mirror configuration and tell us the version you use ? Then it may be useful to give more info about the request itself.

[2020-03-03 15:17] silviubajenaru commented on #529
Hello,

As I said, I followed the articles from those two webpages. The mirror.conf file looks like thsi now:
[code]
As for the version:
[code]

[2020-03-03 15:35] capflam commented on #529
Thanks for the config. And about the failing request ? If you have a tcpdump with the test server response, I guess it is easy to have the request too. You can also try to run the spoa-mirror in debug mode (--debug 511).

[2020-03-03 15:36] silviubajenaru commented on #529
While playing with it I said that I should take a look at tcpflow and found something interesting:
[code]
[code]
 is what caught my eye.... Supported-versions2.0max-frame-sizecap[..] .....?

Also, as something that I didn't quite understand, what is the -u <link> in the spoa-mirror do? I've set it to -u 'http://<mirror server IP>:<port>/' but I'm not sure it's right....?

As for the requests, they

[2020-03-03 15:59] capflam commented on #529
the `-u` option must be used to specify the url of the http server where to send the mirrored request. So `http://IP:PORT` is valid.

I'm not an spoa-mirror expert. But during compilation step, I followed the README and passed '--enable-debug' option to the configure script.

[2020-03-03 16:10] capflam commented on #529
About the "strange" packet exchanged between HAProxy and the spoa-mirror, it is part of the SPOE protocol. There is an hello handshake when a new connection is established. But the previous packet, "frame is too big" is not welcome at all. I really need to have the request dump (anonymized if necessary). I'm asking because I suspect the request is too big to be fully sent to the spoa-mirror (A req

[2020-03-03 16:14] silviubajenaru commented on #529
Hello,

I tried to compile spoa with --enable-debug and run it manually but nothing shows up in the console...
Also, because I forgot to turn on spoa manually once, it seems that even without spoa-mirror running, traffic is being sent to the target machine....? I commented the program spoa-mirror line that was starting spoa when haproxy started in order to start it manually. I forgot to start it b

[2020-03-03 16:49] capflam commented on #529
Be careful to kill all remaining spoa-mirror instances before doing your tests. You have probably one of them running in background.

Wait a minute. What you say is that some SPOE packets are sent to your http test server ? In your HAProxy configuration, the `test` backend must point on the spoa-mirror. By default `127.0.0.1:12345`. Only the spoa-mirror knows the address of your http test server (

[2020-03-03 17:10] wlallemand commented on #404
Hello Manu!

I find the "ca-no-names-file" name not that obvious to understand. Don't you think ca-verify-file is more suited?

[2020-03-03 17:16] silviubajenaru commented on #529
Ok, this isn't a bug then. My bad.
From what I understood, I got the picture that the haproxy would send the traffic to the mirror server directly, not via the SPOA, but the SPOA would somehow mangle with the traffic before it leaves the haproxy.
So, now everything's clear. You have to create a backend using the SPOA-mirror as a backend server which then forwards the traffic to the actual mirror s

[2020-03-03 17:57] #529 closed, assigned to nobody

[2020-03-03 23:46] ScubaDrew commented on #487
@wtarreau Had another thought which is should warning messages go out on STDERR? They seem to be doing so now.

[2020-03-04 09:42] ehocdet commented on #404
Hi William,
Really more suited. I update the patch.

[2020-03-05 06:53] wtarreau commented on #528
This one took me a while to understand. It's both valid and false positive. What it says is that we can drop the check here because we know wrn is NULL the *first* time we report an error. But I don't want to remove null tests in code that's expected to be copy-pasted everywhere just to please coverity (and possibly annoy gcc's null-deref tests), so better tag it as intentional or false positive.

[2020-03-05 07:19] #528 closed, assigned to nobody

[2020-03-05 07:22] chipitsine opened #531 "src/haproxy.c: bad shift detected by coverity"
[code]

[2020-03-05 08:17] bedis commented on #158
There is an other need correlated to this one: the ability to customize the `agent-send` string.
My use case is slightly different than the one above, but my guess is that the solution would be roughly the same.

Basically, I want use server-template with agent-addr to send all my checks to a central point. The thing is that I must send a string (basically <backend name>/<server name>) to the agen

[2020-03-05 09:13] chipitsine opened #532 "src/backend.c: 3 new defects found by coverity"
[code]

[2020-03-05 11:21] niktwenty3 opened #533 "Documentation display issue with 3 directives in configuration.txt"
The following directives `http_auth_pass`, `http_auth_type`, and `http_auth_user` are not displayed correctly when parsed with **haproxy-dconv** due to an extra space indentation in their description bellow.

You can see the display issues [here](https://cbonte.github.io/haproxy-dconv/2.2/configuration.html#7.3.6-http_auth_pass) and [here](https://cbonte.github.io/haproxy-dconv/2.1/configuration.h

[2020-03-05 11:36] bitfehler opened #534 "Admin socket command parser does not handle spaces"
## Output of `haproxy -vv` and `uname -a`

[code]
[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. `touch acl.lst && haproxy -f ./haproxy.cfg` where `haproxy.cfg` is above config, works as user
2. `echo 'add acl acl.lst with\ space' | socat - UNIX-CONNECT:/tmp/haproxy.sock`
3. `echo 'show acl acl.lst' | socat - UNIX-CONNECT:/tmp/haproxy.sock`

## Actual behavior

[2020-03-05 14:49] wtarreau commented on #534
Hi Conrad,

indeed, thanks for creating the entry. It was also reported by another person a few months ago, again related to the user-agent. I'd like to see this addressed for 2.2, otherwise we're constantly postponing. I recently stole some code from the config tokenizer to update make_arg_list and it proved to be quite easy to do, I think that should really be done this way. I'm marking this as

[2020-03-05 14:52] wtarreau commented on #531
Coverity is wrong on this one, proc is strictly below 64, because 64 is the limit for nbproc and if proc reaches 64, the process exits.

[2020-03-05 15:00] wtarreau commented on #532
I agree that the code is quite convulted in this area where connections are either reused or initiated, but the only way for me to reach this place with srv_cs==NULL is to have an error above, all of which are already caught. So my impression is that it's a false positive.

[2020-03-05 15:00] #531 closed, assigned to nobody

[2020-03-05 17:03] #532 closed, assigned to nobody

[2020-03-05 21:12] #404 closed, assigned to nobody

[2020-03-06 14:11] silviubajenaru commented on #388
Hello,
It died today, after updating OpenSSL version. Here's the gdb
[code]

[2020-03-07 10:17] chipitsine opened #535 "src/haproxy.c: coverity is aware of using "weak crypto""
there are like 10 similar "findings".
are we aware of them ?

I'd mark all of such findings as intentional

[code]

[2020-03-07 10:18] chipitsine opened #536 "src/mux_h1.c: unchecked return found by coverity"
[code]

[2020-03-09 12:17] ghost opened #538 "Add metric for last successful reload"
## Output of `haproxy -vv` and `uname -a`

[code]
[code]
## What should haproxy do differently? Which functionality do you think we should add?

I'd like to have a metric to be able to check if the last reload of haproxy configuration was successful or not. Prometheus has something similar. (check it out here: http://demo.robustperception.io:9090/metrics with this metric prometheus_config_last_rel

[2020-03-09 13:05] wtarreau commented on #538
Actually you have it in the uptime of the "show info" output, which is also exported in prometheus. The problem is that the terminology "last reload was successful" is wrong, since if you can question haproxy, then it means you're asking a process that was successfully reloaded. But asking it for how long it's been started definitely is something you can trust.

[2020-03-09 13:08] wtarreau commented on #536
This one can be tagged as a false positive. First because it cannot fail by storing two bytes after a short string, and second because it's only used in debugging code which doesn't have a meaningful failure mode.

[2020-03-09 13:11] wtarreau commented on #535
It's amusing how everyone is trying to abandon random() :-) Actually we're not using it for crypto nor whatever, but as a complement for all other info we already collect. Thus we absolutely don't care about what it returns, though if we end up on a system providing different randoms there, it does help. So let's tag it as false positive as well. It should be one of the last random() calls.

[2020-03-09 14:11] ghost commented on #538
Well, the problem is that i run haproxy with systemd so I have this on the unit file:

[code]

That means that if this fails, the process is not restarted (exactly what i want, don't want to switch a conf if it's a wrong one). I'd like haproxy to support running with the current configuration while the one on file is "bad".

It's basically a safeguard against bad generated configuration.

[2020-03-09 15:36] #535 closed, assigned to nobody

[2020-03-09 15:37] #536 closed, assigned to nobody

[2020-03-09 15:40] chipitsine opened #539 "src/connection.c: logically dead code found by coverity"
[code]

[2020-03-09 15:50] TimWolla commented on #539
This technically is correct, because `PP2_ADDR_LEN_UNSPEC` is `0`, but I would recommend that this is marked a false positive, because removing that check would break the pattern of checking the buffer length for all cases.

[2020-03-09 16:06] lukastribus commented on #538
Please configure the systemd unit file as per `contrib/systemd/haproxy.service.in`, I'd guess with the correct systemd unit file (using haproxy master-worker mode with systemd notify support), haproxy would behave just as you expect. However it is important to configure it all correctly just as in that example file.

From your excerpt of the currently used unit file on the other hand it's clear yo

[2020-03-09 16:52] ghost commented on #538
haproxy is behaving as I would expect, it's not reloading a configuration which fails the: "haproxy -f $CONFIG -c -q $EXTRAOPTS" check.
What i want is being able to alert on that failure, I could have a different process that periodically checks haproxy configuration and generates a metric based on this information, but I'd like it if if was inside haproxy as just another metric, like prometheus d

[2020-03-09 18:11] wtarreau commented on #538
The problem you're trying to solve is that you're trying to detect a failure which affects something totally unrelated to the running process. In fact you're trying to guess from a properly running process that someone somewhere on the machine failed to load another haproxy process with a wrong configuration. The running one is not even aware that someone asked systemd to reload and check a new co

[2020-03-09 20:29] ghost commented on #538
mmm I see what you mean, that uptime could be exactly what i need, now my issue is that this information does not seem available from the csv output (I'm using the prometheus haproxy_exporter) before i'm able to upgrade. Is this supposition correct?

[2020-03-09 21:54] wtarreau commented on #538
On Mon, Mar 09, 2020 at 01:29:28PM -0700, Joaquín wrote:

I don't know how the older exporter works. This metric is available in
"show info" on the CLI but is not part of the per-proxy CSV stats since
it's global to the process.

If you only have the CSV, you could cheat by exploiting the last_change
field of a backend that never changes state (e.g one with no server used
solely for this). It will

[2020-03-09 22:29] roidelapluie commented on #538
On 09 Mar 14:54, Willy Tarreau wrote:

I made a comparison between the prometheus exporter and the haproxy
native metrics:
https://roidelapluie.be/blog/2019/11/27/haproxy-prometheus/

Indeed you will have a lot more information natively with haproxy.
Metrics like uptime are not available with the old exporter.

regards,

--
 (o-    Julien Pivotto
 //\    Open-Source Consultant
 V_/_   Inuits - htt

[2020-03-09 23:01] clwluvw opened #540 "RTSP request return 502 with NGINX backend"
## Output of `haproxy -vv` and `uname -a`
[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. `nc -v localhost 80`
2. `OPTIONS / RTSP/1.0`

## Actual behavior

HAProxy return 502 because it says response is invalid:
[code]

## Expected behavior

Returns `400 bad request`

[2020-03-09 23:12] lukastribus commented on #540
RTSP is not HTTP.

[2020-03-09 23:14] clwluvw commented on #540
@lukastribus I know RTSP isn't HTTP but others sent me this request and haproxy shouldn't response with 502! it's client error not server error!

[2020-03-09 23:15] clwluvw commented on #540
@lukastribus I have test with other backends and haproxy response with 400 but with nginx I get 502! This is the problem!

[2020-03-09 23:37] TimWolla commented on #540
nginx does not appear to send response headers in response to the given request, so I guess HAProxy considering that response invalid is correct. The question is whether HAProxy should have forwarded that request in the first place?

[code]

[2020-03-09 23:39] clwluvw commented on #540
@TimWolla Yes I think it’s better to response 400 by it self like Nginx.

[2020-03-09 23:58] TimWolla commented on #540
I've proposed a patch on the mailing list: https://www.mail-archive.com/haproxy@formilux.org/msg36584.html

[2020-03-10 03:05] wtarreau commented on #540
RTSP support has been explicitly added in 1.6 with commit 63d692c ("MEDIUM: http: allows 'R' and 'S' in the protocol alphabet") because the RTSP framing and messaging are exactly the same as HTTP/1.1 and a few users were asking for this.

What happens above is that the RTSP request is sent to the server which doesn't recognize it as HTTP and responds in HTTP/0.9 format, resulting in an unparsable

[2020-03-10 07:20] #539 closed, assigned to nobody

[2020-03-10 07:27] ghost commented on #538
Well, I'm gonna try this! Thanks so much! I'll close the issue!

[2020-03-10 07:27] #538 closed, assigned to nobody

[2020-03-10 12:42] daniel-corbett commented on #540
Hello, we've actually had users asking about this on Reddit about a month ago.  When attempting to duplicate I ran into issues with some of the methods not being sent.  I assumed they couldn't be translated with HTX -- I think it was "DESCRIBE" but I could be wrong.  I'd have to test again to verify.  Reddit thread here:  https://www.reddit.com/r/haproxy/comments/ep4p67/haproxy_and_rtsp/

[2020-03-10 14:08] tbabut opened #541 "Many connections left in state CLOSE-WAIT with HTX enabled"
## Output of `haproxy -vv` and `uname -a`
[code]

## What's the configuration?
[code]

## Steps to reproduce the behavior

1. Start HAProxy
2. Wait for traffic
3. Monitor TCP sockets with *ss* or *netstat*

## Actual behavior

There are a lot of TCP connections with state CLOSE-WAIT.

## Expected behavior

There should be a few TCP connections with state CLOSE-WAIT. Actually it's a problem for us

[2020-03-10 14:52] wtarreau commented on #541
When you say you see many of them, are they mostly between clients and haproxy (targeting the frontend's address+port) or between haproxy and the servers ? If the latter you could try to see if "http-reuse never" on the server improves or degrades the situation.

[2020-03-10 14:57] wtarreau commented on #540
There's no restriction on the methods in haproxy in general nor HTX specifically. For example I'm passing this request from the client to the server through haproxy (this is 2.2-dev4 so it's exclusively HTX):

[code]

[code]

[code]

If some people still ask for it we have to maintain it, especially since it apparently continues to work fine as seen above!

[2020-03-10 15:05] TimWolla commented on #540
Can I request that RTSP is being guarded behind a configuration option such as `option rtsp` (I don't care about the default) going forward? Or is it already possible to detect it using an ACL? I'd like to stop such non-HTTP requests instead of passing them to my backends.

[2020-03-10 15:07] TimWolla commented on #540
I also notice that apparently the protocol *is* being changed before passing it to the backend. At least according to your comment.

[2020-03-10 15:10] clwluvw commented on #540
I'm really agree with @TimWolla. When I set `mode http` in my backend configuration section I expect that all the requests to my backends were HTTP and others should be denied by HAProxy.

[2020-03-10 15:15] wtarreau commented on #540
Wow I didn't even notice, good catch! Yes we definitely nede to make sure it's properly respected.
Regarding supporting an extra option, I'd say yes, why not. I think the RTSP use cases are rare enough that we can accept a bit of breakage, forcing the rare users to add an option. I *seem* to remember that RTSP/1.0 was exactly equivalent to HTTP/1.1 in terms of framing (keep-alive, pipelining, cont

[2020-03-10 15:39] tbabut commented on #541
It's on the server side (between haproxy and servers). I have added "http-reuse never" to the backend and will report back.

[2020-03-10 17:36] wtarreau commented on #541
OK thank you.

[2020-03-10 22:06] daniel-corbett commented on #540
(All information below is with 2.1.3 -- latest 2-2-dev master also produces similar behavior)

Thanks for this info -- so it's pretty strange then.  Here's the behavior I am seeing.  First, I don't see these requests showing up in the request log when I am using `option httplog` (but I do see normal curl requests)

Next, when I initiate a VLC to an RTSP server this is the flow of a normal request:

[2020-03-11 03:51] daniel-corbett commented on #540
Ahh, I didn't catch this before but it appears that when I use RTSP from VLC it's sending the full URL and not just the path portion within the request.  So it's sending  "DESCRIBE rtsp://127.0.0.1:554 RTSP/1.0"  -- strange that's not logging though even though it's passing on some of the requests.  Heres an example of a request that is being proxied on but not logged:
`printf "OPTIONS rtsp://127.

[2020-03-11 03:57] wtarreau commented on #540
Are you sure you're not having and issue with your config ? If you use
regular HTTP and http scheme here, is it logged ?

[2020-03-11 04:06] wtarreau commented on #540
So with a quick test I can't reproduce your observation.

haproxy:
<pre>
$ ./haproxy -d -f htx8008.cfg
<133>Mar 11 05:02:48 haproxy[18896]: Proxy foo started.
00000000:foo.accept(0005)=001d from [127.0.0.1:37080] ALPN=<none>
00000000:foo.clireq[001d:ffffffff]: OPTIONS rtsp://127.0.0.1:554 RTSP/1.0
00000000:foo.srvcls[001d:001e]
00000000:foo.clicls[001d:001e]
00000000:foo.closed[001d:001e]
<134>Mar

[2020-03-11 04:12] daniel-corbett commented on #540
ah ha, while drafting up a reply using your config right before hitting send I saw the log entry come in.  Seems the log entry didn't come in for about 20 seconds (timeout client) (although the response is immediate).  I realize now that it's logging once the request has finished.

<134>Mar 11 00:12:17 haproxy[2381]: 127.0.0.1:33908 [11/Mar/2020:00:11:57.299] foo foo/s1 577/0/3/20/20601 200 154 -

[2020-03-11 04:16] daniel-corbett commented on #540
It seems strange though because the response is returned immediately.
$ time printf "OPTIONS rtsp://127.0.0.1:554 RTSP/1.0\r\n\r\n" | nc -vv localhost 4445
Connection to localhost 4445 port [tcp/*] succeeded!
RTSP/1.0 200 OK
public: OPTIONS, DESCRIBE, PLAY, PAUSE, SETUP, TEARDOWN, SET_PARAMETER, GET_PARAMETER
date: Wed, Mar 11 2020 00:16:19 GMT

^C

real	0m0.749s
user	0m0.005s
sys	0m0.000s

<134>M

[2020-03-11 04:51] daniel-corbett commented on #540
Now that I see it's logging after `timeout client` is reached that explains a little bit why my test config was not logging these particular requests because I stripped it down to the bare minimum to reproduce the issue (without any timeouts specified).  However, when using VLC I still do not see the DESCRIBE methods coming through when playing a stream.  I found another way to test what I'm seein

[2020-03-11 06:13] wtarreau commented on #540
On Tue, Mar 10, 2020 at 09:17:01PM -0700, dcorbett-haproxy wrote:

Note that there's no content-length here so likely the response is expected
to terminate the body by a close, and ilikely the server doesn't close there
so it will complete after the first timeout strikes. But given that the
request was passed between haproxy and the server with HTTP/1.0, very likely
the RTSP server expected haprox

[2020-03-11 06:52] chipitsine opened #542 "/include/proto/protocol_buffers.h: coverity suspects bad shift"
[code]

[2020-03-11 06:53] chipitsine commented on #542
another one (the same file)

[code]

[2020-03-11 08:59] tbabut commented on #541
It doesn't change anything, unfortunately. I see the same high amount of CLOSE-WAITs to the backend servers.

[2020-03-11 10:08] chipitsine opened #543 "reg-tests/seamless-reload/abns_socket fails on ppce64le"
https://travis-ci.com/github/haproxy/haproxy/jobs/296839766

I tried to repro on x86_64, it does not fail.

if someone has ppc64le, please investigate

[2020-03-11 19:45] interone-ms commented on #62
I'd have an use case for UDP proxying - running asterisk or a STUN/TURN server such as reTurn on a Kubernetes environment while using haproxy-ingress as loadbalancer. I *could* use a NodePort for this, but if possible I'd avoid it.

[2020-03-11 19:54] roidelapluie commented on #62
As said here, it will not likely make it to haproxy. You can look at alternatives like nginx, and traefik is also supporting udp (in the latest RC release).

[2020-03-12 09:18] chipitsine opened #544 "src/cfgparse.c: use after free found by coverity (new defect)"
[code]

[2020-03-12 16:00] TimWolla opened #545 "Peers Protocol: PEER_MSG_CTRL_RESYNCFINISHED never sent?"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. Connect to `127.0.0.1:20000`.
2. Send a peers sync request `PEER_MSG_CTRL_RESYNCREQ` (`00 00`)
3. Receive stick table definitions and entry updates followed by <strike>`PEER_MSG_CTRL_RESYNCFINISHED`</strike> `PEER_MSG_CTRL_RESYNCPARTIAL` (`00 02`)

## Actual behav

[2020-03-12 19:01] wtarreau commented on #543
Hi Ilya,

I'm glad that you created this entry, I wanted to do it. A quick update, a week ago I applied for an account on a ppc64 machine in order to reproduce this one which I didn't like. I got the account ready yesterday and could figure the bug(s) today. They *should* now be fixed.

Neither was specific to ppc64. One is a race affecting the (supposedly safer) version of the locked memory pools

[2020-03-12 19:16] wtarreau commented on #544
It looks like a LIST_DEL(&node->list) is missing before free(node) but I need to study the code a bit more, it's not very clear to me and I don't want to risk breaking anything.

[2020-03-12 19:38] TimWolla commented on #543
Good that hear that this actually was a real bug and not just a bad / unreliable test.

You forgot to adjust the labels. Could you also give the commit hashes for proper tracking?

[2020-03-12 19:44] wtarreau commented on #543
On Thu, Mar 12, 2020 at 12:38:17PM -0700, Tim Düsterhus wrote:

Yes, definitely!

No I didn't forget, they don't show up anymore when I click. They probably
broke their WebUI again to make it incompatible with the browser on the
mini-pc I'm responding from.

Yep, these are 51d9339, a7da5e8, 4b3f27b.

I didn't reference the issue in them since I didn't notice it in time.

[2020-03-12 19:51] TimWolla commented on #543
Okay, I've updated the labels based on the commit message in the three commits you linked.

[2020-03-12 21:57] TimWolla commented on #504
@chipitsine Can you check whether the fixes for #543 fixed this issue as well?

[2020-03-12 22:06] TimWolla commented on #545
Fixed a copy and paste mistake in the 3rd step of the reproduction steps.

[2020-03-13 03:05] wtarreau commented on #504
@TimWolla excellent idea. I'm just going to revert the patch that disabled it and we'll see. It's cheap enough to test it live, and it's just a regtest, we're not going to break anyone's code with this.

[2020-03-13 03:53] chipitsine commented on #543
I came to idea that I cam try ppc64le on virtualbox. I'll give it a try next weekend

[2020-03-13 03:54] chipitsine commented on #504
seems it fixed now

[2020-03-13 03:54] #504 closed, assigned to nobody

[2020-03-13 04:02] wtarreau commented on #543
Don't worry, I do have a real account on a real ppc64 (power8), so that allows to discover trickier things (like unaligned atomics). At least it managed to reproduce exactly this issue, which is nice. I think we should also split the abns test into abns AND seamless reload, so that the seamless reload part can work on non-linux systems as well, because I noticed it used to fail even without the ab

[2020-03-13 10:04] chipitsine commented on #543
failed one more time

https://travis-ci.com/github/haproxy/haproxy/jobs/297700592

(I still hope to play with virtualbox on weekend)

[2020-03-13 11:15] TimWolla opened #546 "Add DEBUG_STRICT=1 to CI"
## What should haproxy do differently? Which functionality do you think we should add?

We should add `DEBUG_STRICT=1` to ensure Travis / Cirrus / GitHub Actions run with `BUG_ON` enabled.

see: https://www.mail-archive.com/haproxy@formilux.org/msg36621.html

## What are you trying to do?

Improve the quality of the CI.

[2020-03-13 11:33] chipitsine commented on #546
yep. I noticed some recent commit regarding to BUG_ON.

do we need to run two flavour of builds - with DEBUG_STRICT=1 and without ?
or DEBUG_STRICT=1 is enough ?

[2020-03-13 11:36] TimWolla commented on #546
That should be enough. It just enables `BUG_ON` which crashes the process if the condition is violated, no other behavior is modified. If such a condition is violated it indicates a bug that must be fixed (either within the condition or within the surrounding code). In CI we want to catch those bugs.

[2020-03-13 11:58] chipitsine commented on #546
I've found it

https://github.com/haproxy/haproxy/commit/f4629a5346ea341026e908792a6b31e98022faa1

[2020-03-13 12:40] chipitsine commented on #546
@TimWolla , I'll play with DEBUG_STRICT in my fork and send a PR.
seem to be simple

[2020-03-13 16:32] wtarreau commented on #543
On Fri, Mar 13, 2020 at 03:04:33AM -0700, Ilya Shipitsin wrote:

Yep, just noticed as well and I was confused into thinking it was the
s390x again that was failing. I hate that vtc. We've seen it far too
much and it gives little information. When I'm too much fed up with
seeing it I'll cut it in two: 1) seamless  2) abns

At least the good thing is that s390x doesn't fail anymore. Theorically
it s

[2020-03-14 11:18] TimWolla opened #548 "Peers Protocol: Decouple on-the-wire table key from SMP_T_*"
This is a tracking issue for what was [discussed on the list](https://www.mail-archive.com/haproxy@formilux.org/msg36650.html):

From @wtarreau:

[2020-03-14 11:48] chipitsine opened #549 "src/connection.c: coverity suspects null pointer dereference"
[code]

[2020-03-14 12:02] TimWolla commented on #549
The `.ptr` is checked with the call to `isttest` in line 764. If `.ptr` is `NULL` than `goto fail` is being called. I'm not sure why Coverity doesn't detect that.

It looks like a false positive to me, but I'd like to have a second opinion from @wtarreau here.

I also notice that `conn->proxy_unique_id.ptr = pool_alloc(pool_head_uniqueid);` could be rewritten more clearly to `conn->proxy_unique_id

[2020-03-14 17:37] wtarreau commented on #549
It's possible that coverity doesn't understand when a structure is passed as an argument.

[2020-03-14 17:52] TimWolla commented on #549
Okay, labeling this as `invalid` now. You can mark it as a false positive, Ilya.

[2020-03-15 07:05] #549 closed, assigned to nobody

[2020-03-15 18:50] jcmoraisjr opened #550 "Add path option to the cookie keyword"
## What should haproxy do differently? Which functionality do you think we should add?

Add `path` option into the `cookie` keyword. Currently haproxy uses the root path `/` hardcoded.

## What are you trying to do?

I'm trying to configure a cookie to be visible only on a subpath of a domain - [RFC6265](https://tools.ietf.org/html/rfc6265#section-4.1)

[2020-03-15 19:38] TimWolla commented on #550
Can you use the `attr` directive? It has been backported to 1.8+: 2f5339079b884ac8bdde166add1879ebfd9e433b

[2020-03-15 20:29] jcmoraisjr commented on #550
Hi, yup, I'm currently using `attr`, my concern is regarding the duplicated attribute and some broken http client. A new `path` directive or remove the hardcoded `path=` if I'm declaring one from `attr` is fine for me.

[2020-03-15 22:22] lukastribus commented on #550
Haproxy cookies are only used for stickiness. Are you saying you need per path stickiness? I don't really understand the use-case.

[2020-03-16 09:33] EmericBr commented on #545
PEER_MSG_CTRL_RESYNCPARTIAL means that the peer which emit the resync updates has sent all what it knows but It doesn't consider itself as up to date (because never receive a PEER_MSG_CTRL_RESYNCFINISHED itself). The peer which received a PEER_MSG_CTRL_RESYNCPARTIAL is supposed to request a resync to an other peer.

[2020-03-16 09:47] TimWolla commented on #545
Yes, I understand that. However I've never ever seeing `PEER_MSG_CTRL_RESYNCFINISHED` being emitted. My understanding is that after a few seconds HAProxy will switch to the “finished” status itself and in my tests I also sent a “finished” to HAProxy and then requested a sync myself.

Have you looked at line 1036 of peers.c (the one I mentioned) and also my idea to solve this issue? I'm not ruling

[2020-03-16 10:13] EmericBr commented on #545
You're right, wrong flags are checked, I've just submitted a patch

[2020-03-16 16:13] jcmoraisjr commented on #550
Yes. The use-case is stickiness that need to be configured on backends due to one of its functionality. It'd be an improvement if the sticky session could be configured only on that path, other paths would benefit from the current lb algorithm. An acl would also be welcome here.

[2020-03-17 09:14] chipitsine opened #551 "src/ssl_sock.c: coverity found 3 new defects (I'll report in one issue)"
[code]

[2020-03-17 10:35] TimWolla commented on #551
CID 1420403 is a duplicate of #478

[2020-03-17 11:26] chipitsine commented on #551
thanks, Tim. I will mark it as false positive.
coverity does not understand when code is moved from file to file

[2020-03-17 12:16] chipitsine commented on #478
I closed it by mistake :)

[2020-03-17 12:17] #478 closed, assigned to nobody

[2020-03-17 12:17] chipitsine commented on #478
sorry, wrong issue

[2020-03-17 12:53] tbabut commented on #541
Any ideas anyone? Do you need some more information?

Thank you very much.

[2020-03-17 14:52] coolacid commented on #401
Since this is a logging related feature request, I'm going to request implementation the of logging of parsed `Authorization` header in httplog type.

Reason: I'd like to be able to have one place to look at users using a service via a specific HAProxy. Authentication happens on the backend server, we also have multiple HAProxy with multiple DNS entries. Having the user parsed out and logged, I ca

[2020-03-17 15:59] wlallemand commented on #551
The first one is valid.
The last one look like a false positive, the "end" label is used only when ckchs is NULL and entry is free'ed, when that's not the case it is inserted in the tree.

Thanks guys!

[2020-03-17 17:20] wlallemand commented on #518
I'll look into this to see if that's easily doable, but I don't think it will be available before 2.3 if it's implemented.

[2020-03-17 18:30] TimWolla commented on #551
No, that one is correct. You leak a `struct crtlist_entry` whenever a file in the certificate directory is not a regular file. In the `if (!S_ISREG(buf.st_mode))` you then `goto ignore_entry;` which `free()`s `de`, but not `entry`:

[code]

Adding a `free(entry)` above `free(de)` and initializing `entry = NULL` fixes the issue for me. I'll send a patch.

[2020-03-17 18:32] TimWolla commented on #551
Ah, no. It would probably result in a use-after-free for valid certificates. I'll reopen and let you take a look.

[2020-03-17 19:08] wlallemand commented on #551
You are right, I thought it was complaining about the jump to the "end" label.

I really don't like this spagheti code just to maintain the multi-cert bundle... Let's hope we could remove this one day.

In the meantime I'll move the entry allocation after the S_ISREG test, that should fix the issue.

[2020-03-17 19:17] chipitsine commented on #551
oops.

clang asan would have caught it :(

god knows, we need to get it back on travis

[2020-03-17 19:29] #551 closed, assigned to nobody

[2020-03-17 21:32] wdauchy opened #552 "[v2.1.x] process stuck on __lll_lock_wait_private"
## Output of `haproxy -vv` and `uname -a`

we are based on 2.1 branch, with last commit https://git.haproxy.org/?p=haproxy-2.1.git;a=commit;h=3285ced5cbec5d8a0c3464f1762d34439280f8eb

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

As often, unclear for now, occuring during a storm for failing health check on > 1k backends + millions of requests in queue.

## Actu

[2020-03-17 22:06] cognet commented on #552
Ok, so, my understanding so far :
The process is attempting to stop.
The watchdog triggered, and signals were sent to all the threads.
One of the threads, Thread 13, caught the signal was in the middle of a pool_flush(), in the middle of _int_free(), probably keeping an internal libc lock held.
Another thread, Thread 1, is waiting for that lock, and for some reason, he doesn't seem to get the sign

[2020-03-17 22:15] cognet commented on #552
What I notice is, in a very similar way to issue #476, we have two threads performing memory freeing, one in pool_gc() and one in pool_flush(). There are not attempting to free the same pool, as the rwlock would have prevented them to do so, but maybe we get a lot of the libc lock contention which may explain why it takes so long and the watchdog eventually is triggered.
@wdauchy can you tell how

[2020-03-17 22:24] wdauchy commented on #552
True, I probably should have reopen #476 and at the same occasion I forgot we already talked about the possible related lack of memory available.
So indeed there is a moment where it went to 0 free memory:
![image](https://user-images.githubusercontent.com/104408/76907165-d4f5ea00-68a5-11ea-9ab3-629c8700962b.png)
most likely related to haproxy as there is no major other process on the machine, but

[2020-03-17 22:38] cognet commented on #552
Any chance the process happened when it reached 0 MB ? That may explain 1) if some memory was swapped in, though it doesn't explain the deadlock with the watchdog

[2020-03-18 07:34] wdauchy commented on #552
If I correlates that with the cpu consuming, yes it becomes very low in memory at the same time of the infinite loop of the threads.

[2020-03-18 09:29] chipitsine opened #553 "src/fd.c: new defect found by coverity"
am I correct, we can wrap it with DISGUISE ?

[code]

[2020-03-18 09:30] chipitsine opened #554 "src/ssl_sock.c: dead code found by coverity"
[code]

[2020-03-18 09:43] capflam commented on #541
Just by curiosity. It may be unrelated but in your configuration you have enabled the option `accept-invalid-http-response`. Is there any reason to do so ? The HTX is stricter with the message parsing. Maybe the end of the response is not properly handled because of that.

[2020-03-18 12:31] TimWolla commented on #552
@cognet Somehow the issue number is missing from commit b0198cc4132381910cdeb9b5a867632b8b83262c, but I assume it refers to this issue?

[2020-03-18 12:33] cognet commented on #552
@TimWolla You're right, I'm pretty sure I typed it, not sure what happened here.

[2020-03-18 12:59] wdauchy commented on #552
oh thanks I will backport it for our build

[2020-03-18 15:44] wdauchy commented on #552
@cognet any chance to also push on 2.1 branch? Thanks!

[2020-03-18 15:47] cognet commented on #552
I'll check with @wtarreau how he feels about it, but it will probably end up in 2.1

[2020-03-19 08:01] mathieu-veron commented on #361
quick question for you @dmazurek , why a new front and back is needed, from my understanding, replace-header  could have been on existing backend. no ?

[2020-03-19 10:16] panosziogas commented on #361
Same question for me as @mathieu-veron above. Why can't we use the existing backend;

[2020-03-19 10:36] lukastribus commented on #361
@mathieu-veron @panosziogas no, you cannot use the existing backend, because `http-response replace-header` works for headers that come from a backend's response, not for locally emitted headers like cookies that haproxy emits.

[2020-03-19 10:58] wtarreau commented on #553
Yes you're right. It's one of these cases where we're working in best effort and don't really care about the error.

[2020-03-19 13:20] wtarreau commented on #550
It's a real pain to deal with path-based cookies. For example you'll have a hard time purging them. You'd rather let the client send the cookie all the time and have haproxy ignore it on selected paths. Usually it's done like this:
[code]
or:
[code]

[2020-03-19 13:37] jcmoraisjr commented on #550
Hi Willy, thanks for the helpful hint. No matter how much of haproxy I think I know, every now and then I'm discovering a new nice keyword. This doesn't work how I'd expect but for sure it'll do the job. Closing this FR.

[2020-03-19 13:37] #550 closed, assigned to nobody

[2020-03-20 06:17] chipitsine opened #555 "s390 builds fails (current master)"
https://travis-ci.com/github/haproxy/haproxy/jobs/300160760

[code]

[2020-03-20 09:23] wlallemand commented on #554
Not really an issue, we better let it that way so we can easily add some code before the npn keyword.

[2020-03-20 09:24] #554 closed, assigned to nobody

[2020-03-20 10:56] chipitsine opened #556 "3 new defects found today by coverity"
[code]

[2020-03-20 11:01] vedranf opened #557 "Using h2 with nginx backends causes significant increase of errors"
I am opening this for visibility so others might contribute with additional info if they encounter similar behavior. Also, I am aware this isn't enough to properly troubleshoot the issue, but it's a start and I hope to report more details with time. It is perfectly possibly this is an nginx bug.

[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

Added this at the en

[2020-03-20 11:42] TimWolla commented on #555
Fixed with e4ba0d4fc6dd002b3302841ae82a5daf34856fef.

[2020-03-20 11:42] #555 closed, assigned to nobody

[2020-03-20 11:46] TimWolla commented on #557
What version is that? I'm unable to find a commit 77a606:

[code]

[2020-03-20 11:48] wdauchy commented on #552
@wtarreau any thoughts on it?

[2020-03-20 12:08] wtarreau commented on #552
I didn't understand I was being waited for. No preference on
my side, Olivier knows better than I do :-)

[2020-03-20 12:13] wdauchy commented on #552
ok :)
@cognet could you push them on 2.1 branch?

[2020-03-20 12:21] TimWolla opened #558 "Peer listener not bound in master-worker mode when stick table is not referenced"
## Output of `haproxy -vv` and `uname -a`

[code]

[code]

Can also be reproduced in production using 2.1.3-1~bpo10+1.

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. `./haproxy -W -L a -f ./bug.cfg`

## Actual behavior

[code]

## Expected behavior

[code]

## Do you have any idea what may have caused this?

It is related to `-W` and not referencing the table. When I

[2020-03-20 15:57] wtarreau commented on #557
That's the enterprise version, basically 2.0.13 + a few backports. It doesn't seem reproducible outside of production and I'm pretty sure that all current versions are affected as well. I have no idea where to start to look and asked Vedran to kindly post this here in case this could trigger a few "me too" which would help narrow down this issue to either a small set of servers/versions and/or a f

[2020-03-20 20:54] chipitsine opened #559 "memory leak reported by both ASAN and valgrind (commit 18eeb8e8156c4f32a65cee40a96b0b30e74eeb59 )"
reproduced on 18eeb8e8156c4f32a65cee40a96b0b30e74eeb59

when I run haproxy like that (haproxy is built against clang asan):

[code]

valgrind is more verbose:

[code]

[2020-03-20 20:55] chipitsine commented on #559
h2.config

[code]

[2020-03-20 20:56] chipitsine commented on #559
[code]

[2020-03-20 21:01] chipitsine commented on #471
@frobware

you might be interested, I created "h2spec compliance test"

https://github.com/chipitsine/haproxy/commit/8c90ea82fd32c0ca9bd3df0ae7d9361525eda590
https://github.com/chipitsine/haproxy/runs/522959386

can you please review it ?
also, I do not have many ideas how to add valgrind to it

[2020-03-20 21:10] chipitsine commented on #501
@kshpytsya

you might be interested
https://github.com/haproxy/haproxy/runs/512522200?check_suite_focus=true

it is automatic weekly spellcheck.
well, spelling is only one aspect of proofreading. you can participiate

[2020-03-21 09:46] chipitsine commented on #556
Coverity reports all of defects are now resolved.

should I close this issue ?

[2020-03-21 09:49] haproxy-mirror commented on #556
If they are, yes, feel free to close.
Thanks Ilya!

[2020-03-21 09:52] #556 closed, assigned to nobody

[2020-03-21 14:24] chipitsine commented on #559
here's patch (sent to list as well)

[code]

[2020-03-22 00:32] keliss opened #560 "Make socket hard closure configurable for health check"
Hello everyone.
I'd like to suggest making RST termination of http health check requests optional.
I'm running a pretty old version of HAProxy (1.5.18) but tcpdump output tells me that this behaviour is the same even for newer ones (tried on 1.8.8).
The issue here is that this behaviour causes a lot of "connection reset by peer" exceptions in my app, which leads to performance drop and is definite

[2020-03-22 08:08] chipitsine commented on #560
RST termination saves ephemeral ports.

if connection is terminated using FIN, it is FIN_WAIT for some time
if connection is terminated using RST, port is free immediately

[2020-03-22 10:04] keliss commented on #560
I understand. But this is not a problem usually, because number of "useful" connections is always much greater than number of health check connections. And there is even a possibility to control that time to wait after FIN. In fact, this optimization leaves user no choice, because HAProxy doesn't support any kind of alternative health check over http (like some custom check that would be independe

[2020-03-22 10:31] chipitsine commented on #560
You are right.

Except "configurable" FIN_WAIT. It is not. You will run into big mess if you try.

[2020-03-23 09:43] ehocdet commented on #559
This issue was introduced by https://github.com/haproxy/haproxy/commit/85888573.
find_chain must not be freed.
I send a path to ML.

[2020-03-23 10:02] wlallemand commented on #559
@ehocdet in my opinion the ssl_get_issuer_chain() API is a little bit weird, because it's not consistent with the X509 API. I suggest that it returns directly a STACK_OF(X509) * with an incremented refcount from the ssl_get_issuer_chain() function. So we can free it in any case, and we don't free issuer->chain accidently in the tree.

[2020-03-23 10:09] ehocdet commented on #559
@wlallemand i propose to rename it ssl_get0_issuer_chain to be consistent.
If not, we will have same issue when find_chain is set with ckch->chain.

[2020-03-23 10:30] wlallemand commented on #559
Okay, why not. It's either we do the X509_chain_up_ref() conditionally or the free. In my opinion that's simplier to free in all cases and increment the refcount when needed.

[2020-03-23 10:32] wlallemand commented on #558
Hello Tim,

I'll look into it, but I'm not sure it is suppose to work without any reference to the stick table.

[2020-03-23 10:54] TimWolla commented on #558
Without master-worker it binds the socket. So no matter how it's supposed to work: It's broken either way. I would prefer if the port is bound even if the table is not referenced, because the configuration is autogenerated and might or might not actually reference the table.

[2020-03-23 11:17] ehocdet commented on #559
Chain is taken from stable storage (ckch or cert_issuer_tree) and is stored in temporary variable to extract info (ocsp_issuer id, ssl show cert) or instantiate in CTX (with up_ref()).
I think get0 is the good way to consume Chain, no need to change the code. Note that sk_X509_num(chain) is ok with NULL chain.

[2020-03-23 13:41] chipitsine commented on #559
Shall I close this issue?

[2020-03-23 14:31] wlallemand commented on #559
sure

[2020-03-23 15:28] #559 closed, assigned to nobody

[2020-03-23 17:12] wlallemand commented on #558
After some tests it looks like this isn't related to the master-worker mode. The bind_proc structure is not initialized correctly. The daemon mode and the master-worker mode use the bind_proc field to disable the proxies that are not in the current process. I think the problem was partly fixed in  9c3a0ce but not entirely.

The inialization is probably done only when a stick table is referenced. M

[2020-03-23 23:31] keliss commented on #560
Hm, played around with HAProxy 1.8.8 a bit and noticed that it also uses RST to terminate server worker connections, while client connection are terminated gracefully, using FINs. Is this expected? If yes, then is there a way to disable it? Seems really weird that it closes connections this way even though http keep-alive is on and timeout is set to a big enough value. Now I'm starting to think th

[2020-03-23 23:47] keliss commented on #560
Here is my config if it helps somehow:
[code]

[2020-03-24 06:28] wtarreau commented on #560
It's not weird, it's the ONLY way to do it properly. And this requires some non-trivial stuff! If it was using a FIN to close to the server, as it used to be the case 19 years ago in version 1.0, it would represent a huge security issue as anyone could trivially and instantly DoS it by turning all backend ports to TIME_WAIT for one minute. Haproxy tries hard to make sure the server closes first, b

[2020-03-24 08:44] haproxyFred commented on #558
Hello Tim,

I am not sure that the correct fix would be to continue binding for nothing a peer socket which will not be used. Would not the correct fix be to stop binding in any cases (with or without daemonizing)  if there is not any reference to a stick-table?

Note that we have the same issue with 1.9 with such a configuration file:

listen http
 mode http
 bind *:8080

#http-request track-sc0

[2020-03-24 09:29] wlallemand commented on #558
In my opinon we should stop binding and emit a warning. But since I'm not aware of the recent peers update, and I really don't know well this part of the code, I'll let the peers maintainer @EmericBr decide.

[2020-03-24 09:39] frobware commented on #471
@chipitsine thank you for the CI h2spec tests. Taking a look.

In a similar vein I have also been creating some end-2-end testing for OpenShift: https://github.com/openshift/origin/pull/24674

[2020-03-24 11:32] TimWolla commented on #558
While I'd say that the binding of the port should be unrelated to the stick table actually being referenced I don't care that much as long as I can work around using `http-request track-sc0 str() table foo if { always_false }`. However at the very least a warning should be emitted, I was left confused why the port suddenly was not bound any more.

[2020-03-24 14:40] Neneow opened #561 "Backend Exchange 2016 MAPI connection failed"
Hello Everyone,

We have issue with Haproxy since version 2.0.0 on Ubuntu Xenial (try with Bionic also). We use package from this source (https://haproxy.debian.net/).

Since 2.0.0-1 package (try with  2.0.10-1 until 2.1.13-1) outlook 2013, 2016 connectivity (Mapi over HTTP) doesn't work any more. We use Exchange 2016 with last update.

Here is the resultat of haproxy --v
[code]

With use this bac

[2020-03-24 14:58] keliss commented on #560
I see, thank you for clarifying

[2020-03-24 15:29] wlallemand commented on #558
Hi @TimWolla,

With @EmericBr we decided to always bind, so the bind_proc is set to the first process if it is not initialized by a stick-table. No warning were added.

[2020-03-24 15:36] TimWolla commented on #558
Perfect, thank you. I've adjusted the labels on this issue.

[2020-03-24 15:37] wlallemand commented on #558
Note: its possible to fill a stick-table from a non-local peer and consult its content from the CLI, so this is now considered as a valid configuration even if the stick-table is not used.

[2020-03-26 11:36] anne01-code commented on #361
We running still haproxy 1.8.23 and are not able to use
cookie SRV insert secure attr "SameSite=Strict".

Is it also possible meanwhile to use in the backend:

rspirep ^(set-cookie:.*) \1;\ SameSite=None\ Secure

and is it syntax correct??

[2020-03-26 16:07] anne01-code commented on #361
For the backend I used the following syntax

rspirep ^(set-cookie:.*) \1;\ SameSite=None;Secure

and this works fine to me.

In the meantime we need to upgrade to vs 1.8.24. So we can use the cookie option

[2020-03-27 02:37] nvx opened #562 "monitor-uri directive is ignored for HTTP/2 requests"
Requesting the monitor-uri location with HTTP/1.1 works as expected, but requests using HTTP/2 seem to behave as if the monitor-uri directive is not present at all.

## Output of `haproxy -vv` and `uname -a`

(haproxy:2.1.3 docker image)
[code]

## What's the configuration?

[code]

## Steps to reproduce the behavior

1. curl -vk https://ip:port/health -v --http1.1 --no-alpn --no-npn
Observe 200 O

[2020-03-27 08:06] tbabut commented on #541
Thanks for your suggestion. Our application in the backend handles invalid requests. But with disabling this option nothing has changed. There are still many connections in CLOSE-WAIT state.

[2020-03-27 09:29] TimWolla commented on #562
Duplicate of #509

[2020-03-27 09:46] nvx commented on #562
Indeed it is! For some reason my search didn't find it. Will close in favour of #509.

[2020-03-27 09:46] #562 closed, assigned to nobody

[2020-03-27 16:48] vota commented on #561
Hi Everyone,

same here - Upgraded from 1.8.21 to 2.0.13 and MAPI/HTTP stopped working.

Seems this issue was already discussed a while ago in https://github.com/haproxy/haproxy/issues/102 (with version 1.9.7 already, no idea why it is working for you with 1.9.14 as i haven't tested any other versions)

for everyone looking for a workaround: RPC/HTTP is your friend.

Thanks,
BR

[2020-03-27 23:22] bwishan opened #563 "Adding support for variable evaluation in 'use-server' directive"
## What are you trying to do?
Bumping up an [old thread](https://www.mail-archive.com/haproxy@formilux.org/msg32860.html) from the mailing list last year where someone had suggested adding support to `use-server` for variable expansion in the `<server>` property.

For our use case, we want to implement custom server affinity rules using SPOE.  Following evaluation by the SPOA, we can set a variabl

[2020-03-28 09:56] lukastribus commented on #4
That's commit 6d0c3df ("MEDIUM: http: Add a ruleset evaluated on all responses just before forwarding"), and it's in v2.2-dev2.

@capflam @wtarreau How intrusive do you feel like this patch is? I'm wondering if we could backport this, maybe just to 2.1? This seems like an important feature, that people requested over the years.

*If* this is backported, we need to make sure the backported document

[2020-03-29 08:35] capflam commented on #4
Well, this commit directly depends on few others but looking more deeply, it is based on the refactoring of the HTTP actions and part of refactoring of the errorfiles. So to backport this feature, around twenty patches or more must be backported too. Honestly, it is too much pain :) The 2.2.0 is coming soon. It could be a good reason to upgrade.

Anyway, for now, I'm busy on the checks refactoring

[2020-03-29 09:56] chipitsine opened #564 "src/cfgparse.c: coverity suspects use after free (new defect)"
[code]

[2020-03-29 10:25] wtarreau commented on #4
I'm not against a backport into 2.1 however we must be careful not to break it. Knowing that it relies on 20+ patches doesn't reassure me. If we could have a "quick and dirty" alternative I'd be less worried. Also it's worth keeping in mind that the time invested on backports is not invested on development, so we must weigh this as well :-/