[2020-09-23 07:06] wtarreau commented on #870
OK, what about this ? It works for me.
[0001-MINOR-backend-add-a-new-path-only-option-to-balance-.patch.txt](https://github.com/haproxy/haproxy/files/5266204/0001-MINOR-backend-add-a-new-path-only-option-to-balance-.patch.txt)

[2020-09-23 07:14] vedranf commented on #870
I also encountered this behavior recently and is preventing us from smooth upgrade. I agree with the last comment of having path-only option to mimic old behavior while default can differ. It's important to be able to achieve old behavior (without hacks) as with caching it's often not possible to do the instant switch/upgrade as that entails terabytes or more of content being re-pulled and re-cach

[2020-09-23 07:28] serimin commented on #870
I've just tested this patch.
It works well.

Thank you!!

[2020-09-23 07:30] wtarreau commented on #870
Perfect, thanks both for your insights and feedback. I'm going to merge it into 2.3, and backport it then since it's a riskless backport as-is!

[2020-09-23 07:41] wtarreau commented on #870
OK now merged and backported as far as 2.1 since that's where the issue was introduced.

[2020-09-23 07:53] serimin commented on #870
Ah!! sorry.
When using "balance uri", not "balance uri whole", same issue seems to exist.

[2020-09-23 07:55] wtarreau commented on #870
Did you add the new option "path-only" after "balance uri" ? That was the purpose of the patch and it works in my tests (even in the regtest I added)

[2020-09-23 08:03] serimin commented on #870
I mean "balance uri path-only" option works well, but I don't consider "balance uri" option.

[2020-09-23 08:11] wtarreau commented on #870
so you need it with "balance uri whole" ? If so, just add "balance uri path-only whole".

[2020-09-23 08:20] serimin commented on #870
Ah, Okay! All works well.

Sorry to confuse you!!

Thank you very much.

[2020-09-23 08:23] wtarreau commented on #870
No problem, I wasn't very clear initially. Thanks!

[2020-09-23 08:47] matuszabojnik opened #871 "HAproxy dead: thread stuck process_chk"
## Detailed description of the problem
HAProxy dies randomly: thread stuck killing HAProxy (we are using multiple machines with the same setup and some machines are more prone to getting stuck than others). This happens after some time of being UP (not immediately after start). This happens also under no load.

## Expected behavior
HAProxy process should not die.

## Do you have any idea what may

[2020-09-23 14:57] wdauchy opened #872 "inconsistent behaviour for ssl crt directory and ssl runtime API"
On haproxy v2.2, we are loading our certs this way:
[code]
The directory contains certificate as a bundle, i.e.:
[code]
So that certificate are loaded as bundle:
[code]
We are then using `set ssl cert` runtime API to update the certs as follow:
[code]
Notice that the existing bundle is auto detected, despite we do a `set ssl cert` on a `.ecdsa` file.

We recently started to have a closer look at `

[2020-09-23 15:14] wlallemand commented on #872
Hello William,

I responded to your mail this morning about this, maybe you didn't get it, but I'll resume it here so we can share this with people interested.

The bundle is the deprecated way of using multiple certificates type, with OpenSSL 1.0.2 it was only possible to use multiple certificate types only by putting them in the same SSL_CTX structure, so OpenSSL was handling this by itself. It

[2020-09-23 15:16] wlallemand commented on #872
I replied too fast, you need to customize the "[ssl-load-extra-files](https://cbonte.github.io/haproxy-dconv/2.2/configuration.html#ssl-load-extra-files)" directive, without the bundle support, so the certificates in the directories will be loaded separately.

[2020-09-23 15:32] ciaby opened #873 "Request hits the wrong backend when there are no more servers available"
## Detailed description of the problem

I have two backends, with one server each.
Backend A is a simple nginx deployment, backend B is a grafana deployment.
If the server with nginx goes down, and the grafana server is receiving traffic, a few requests for nginx will end up in the grafana server.

## Expected behavior

If a server is down, haproxy should reply with a 503, not serve an answer from

[2020-09-23 15:43] capflam commented on #873
This bug was fixed in the 2.0.16. The commit is e8d24235.

[2020-09-23 15:44] capflam commented on #873
Duplicate of #717

[2020-09-23 15:44] #873 closed, assigned to nobody

[2020-09-23 20:09] wdauchy commented on #872
Thank you very much @wlallemand for your complete answer.

- we might have an issue between us around emails, because this is not the first time I see I don't receive emails from you, but find them in the mailing list by chance :) I saw this issue with both my pro and perso email. anyway, lets try to find out in private.
- in fact yesterday, I was a bit lost around cert bundle. Because I found you

[2020-09-23 20:52] wlallemand commented on #872
No problem, let's keep the ticket open so we can address the documentation issue.

[2020-09-24 15:02] wtarreau commented on #871
I'm very curious to know what libcrypto could be doing, eating that much time! If you have a core file, it would be nice to pass it under gdb and issue "t a a bt full" to get a more precise backtrace (hoping gdb will better decode libcrypto's symbols).

[2020-09-24 18:56] wlallemand commented on #785
We talked about this, face to face with @wtarreau and decided to change a little bit the format:

[code]

[2020-09-25 11:26] Pkuutn opened #874 "option httpchk do not work with HAProxy 2.2 and mode tcp"
## Detailed description of the problem

When using "option httpchk" in "mode tcp" backend (postgresql with patroni in my case) HAProxy reports backend DOWN, with log message:
[code]

It seems to work with "option httpchk GET /" config though.

## Expected behavior

Mark server as "UP", curl returns 200:
[code]

## Do you have any idea what may have caused this?

Broken server check logic

## Do yo

[2020-09-25 20:24] wdauchy opened #875 "v2.2.x watchdog triggered"
## Detailed description of the problem

I got a few rare similar coredump over the past month. Feel free to close if not relevant; I however can provide a coredump.

[code]

[code]

process was not stopping:
[code]

logs are a bit mixed but here the output when it occured:

[code]

## What is your configuration?

[code]

[code]

[2020-09-25 20:34] wdauchy commented on #862
Indeed this condition is never true as we either `break` or `goto error`, so those two lines could be removed in the current state of the code. @wlallemand would you accept it a patch removing them?

[2020-09-26 02:58] brenc opened #876 "Typo in agent-check documentation"
Just noting that there's a typo in the [`agent-check` documentation](http://cbonte.github.io/haproxy-dconv/2.1/configuration.html#5.2-agent-check):

"Failed" should actually be "fail".

[2020-09-26 09:43] wdauchy commented on #876
Thanks, I will fix this one

[2020-09-26 11:37] wdauchy commented on #872
@wlallemand I've sent a proposition in the mailing list

[2020-09-26 14:23] #856 closed, assigned to nobody

[2020-09-26 14:24] TimWolla commented on #860
This is completely backported, but before closing this issue I'd like to hear regarding my comment above.

[2020-09-28 09:53] capflam commented on #874
I'm unable to reproduce the bug. I checked quickly and with a similar configuration, it works as expected. You may try to enable the trace on the H1 to figure out what happens. To do so, you should use the following CLI command (or something similar):

[code]
This will wait for events from the H1 multiplexer. Just replace `{HA-SOCK-STAT}` with the path of your stats socket.

[2020-09-28 11:51] wibbly13 commented on #852
Hi @capflam

I'm @appsolute-alex colleague. I have done several tests on the issue, I will describe the tests and results below:

- The tests are done using docker containers of the `latest` tag (running v2.2.3) and the `2.2.2` tag.
- Status 204 is being generated by our HaProxy configuration, therefore that is not the actual issue. The actual issues seems to be on the processing in the `acl` we a

[2020-09-28 12:29] wlallemand commented on #872
Hello William,

By reading your patch I think we made the mistake of calling "bundle" the SSL_CTX and the HAProxy configuration, it creates a confusion everywhere and I made this mistake again by explaining the situation here.

So I'll try to clarify again:

With HAProxy <= 2.2 and OpenSSL >= 1.0.2, an HAProxy multi-certificates bundle (cert bundle) is the autodiscovery of certificate files (.rsa,

[2020-09-28 13:34] wlallemand commented on #862
@wdauchy sure, don't hesitate.

[2020-09-28 13:40] capflam commented on #852
Well, there are 3 configuration issues here.

* Your `tcp-request` rule is useless because `req_ssl_hello_type` must be used on raw content and not on deciphered content. To convince you, change it this way to reject all your incoming connections (including SSL ones) :
[code]

* You cannot add several conditions in the same ACL. You must use rules with several ACLs instead. Read [Using ACLs and fe

[2020-09-28 14:05] wdauchy commented on #872
@wlallemand thanks for the clarification, it is limpid now.
I think I previously understood correctly apart from the last changes made in v2.3; but I confirm the bundle wording is confusing in doc as it mixes haproxy specific with openssl specific.
For the patch, at the end, I think it should be backported in v2.2 only as `ssl-load-extra-files` does not exist < v2.2, right?

[2020-09-28 14:18] sdahlbac opened #879 "docker/lua limiting log level does not work"
## Detailed description of the problem

When running haproxy docker container, with lua code containing `core.Debug` statements, the log messages are emitted even though log level is set to info.

## Expected behavior

No [debug] lines should be seen.

## Steps to reproduce the behavior

1. `wget https://raw.githubusercontent.com/haproxytech/haproxy-lua-cors/master/lib/cors.lua`
2. Dockerfile
[cod

[2020-09-29 03:32] wibbly13 commented on #852
Thanks @capflam

I'm I correct in thinking that the following rules will not be necessary if the frontend **mode** is `http`?
[code]

[2020-09-29 07:30] capflam commented on #852
Yes, it is useless. It is just an old trick for TCP frontends, to be sure to wait for the HTTP request before executing any http sample fetches. It may be useful if you want to handle different protocols through the same frontend. If your frontend only handles http traffic, there is no reason to not use the http mode.

[2020-09-29 08:08] sbaier1 commented on #430
~~this appears to be broken again, i can reproduce the problem with the haproxy:2.1.8 image as well as the haproxy:2.2.3 image.~~
~~The same config works when i remove `send-proxy`~~

^ wrong, turns out my listener in the backend had PROXY protocol mistakenly disabled. i was not aware connections will fail when the backend does not handle PROXY protocol.

[2020-09-29 08:43] jaroslawr opened #880 "Segfault with maxconn when backend capacity exceeded"
## Detailed description of the problem

HAProxy started segfaulting after we introduced a maxconn setting for each of the backend servers. It seems to happen around the time when all the servers reach their maxconn.

Stack trace:

[code]

## What is your configuration?

(We have been using this configuration except for the worker maxconn setting for months without any issues)

[code]

## Output of

[2020-09-29 09:02] lukastribus commented on #880
Could you provide the full gdb output from all threads with `t a a bt full` ?

[2020-09-29 09:28] jaroslawr commented on #880
[code]

[2020-09-29 09:34] wtarreau commented on #430
The proxy protocol changes the on-wire protocol by prepending a header before the TCP payload, so yes, it must fail if both sides do not match exactly.

[2020-09-29 09:36] wtarreau commented on #870
So I guess we can close this one now.

[2020-09-29 09:36] #870 closed, assigned to nobody

[2020-09-29 09:40] wlallemand commented on #872
I'll made some clarification in 2.3.

I agree.

[2020-09-29 09:52] wibbly13 commented on #852
I've made changes to our HaProxy configuration according to [this](https://github.com/haproxy/haproxy/issues/852#issuecomment-700405040) and the preliminary tests show that the `haproxy:latest` (v2.2.3) is working as expected.

[2020-09-29 09:58] capflam commented on #852
Nice ! Because it seems to be a configuration problem, I'm closing this issue, tagging it as invalid. But, feel free to reopen it if I'm wrong.

[2020-09-29 09:58] #852 closed, assigned to nobody

[2020-09-29 10:24] wtarreau opened #881 "Revisit the locking around leastconn"
Situation encountered on 2.0-2.3-dev5 with 8 threads, 4k connections for 2k available slots distributed into 200 servers with maxconn 10 each, only 20000 req/s:

[code]

97% user CPU, mostly spent in fwlc and penconn.

[code]

It's not critical but it's totally ugly and might possibly even be worse.

[2020-09-29 10:32] wtarreau commented on #880
I definitely cannot reproduce it, and there's nowhere we set a NULL in the stream's task. However I suspect we have a tiny race here:

[code]

Since we call it outside of the lock, I suspect it's possible that --depending on how the compiler optimizes the delete operation-- we can transiently observe `p->node.node.leaf_p == NULL` during an eb_delete() on another node. Technically speaking this doe

[2020-09-29 13:25] wtarreau commented on #881
Found the main issue: `nbthread 30` hard-coded in the config, for 8 cpus, thus huge contention with threads scheduled out with lock held. Now with nbthread not forced to a wrong value, things get way better (and load is 5 times higher):
[code]

I still think we can to a bit better because it's not *that* awesome for ~220k insert+delete per second into the tree. Most likely the same mechanism as us

[2020-09-29 13:36] wtarreau commented on #881
A quick test shows that just this is enough to reduce by 40% the number of updates:
[code]
[code]
Still unclear to me how we can still have so many load balanced requests with a huge queue on the backend (it remains precisely 25% regardless of timeouts and an excellent reuse rate of 99%).

[2020-09-29 14:16] wtarreau commented on #881
Found the root cause, which is much simpler in fact. `fwlc_get_next_server()` picks the next server until it finds one that is not saturated. The more the servers, the longer the loop. The problem is, saturated servers are still present in the tree because when using dynamix maxconn various factors can decide of their presence or absence (time, proxy's maxconn, etc). And it's the same for all algo

[2020-09-29 14:23] wtarreau commented on #881
For dynamic limits, maybe we could work with two subtrees: the one with non-saturated servers and the one with recently saturated servers. The lookups are first performed in the non-saturated tree. If the server found there is saturated, it moves to the other one. The initial cost will be amortized on all requests which will not see it anymore. If no server is found, then *some* lookups may be per

[2020-09-29 14:40] wtarreau commented on #881
Much better:

[code]
That's with just this:

[code]

The lookup ratio is 1 miss per lookup now at saturation, not 200 misses per lookup for 200 servers. Some algos may or may not support hot removal like this, it's a case-by-case basis. FWRR should use this to condition reinsertion into the tree.

For a more generalized mechanism dealing better with saturated farms, we should at least be able to k

[2020-09-29 14:46] wtarreau commented on #881
This alone work and is efficient enough:

[code]

The stats page does not show any more lbtot increase and the perf profile is much better. The performance increased from 110krps to 140krps:

[code]

[2020-09-29 15:10] lukastribus commented on #881
Any chance this could be related to the report in #822 ?

[2020-09-29 15:20] wtarreau commented on #880
Commit above referenced the wrong issue, see #881 which is more precise.

[2020-09-29 15:23] wtarreau commented on #881
Sadly, not, because there's no maxconn setting there. The problem only manifests itself when we pick a server from the list, check its dynamic maxconn, see that it's not allowed to take more traffic, and switch to the next one. So without maxconn this cannot happen.

Interestingly I've already observed some poor performance on certain setups heavily running above maxconn, and I always thought it w

[2020-09-29 17:44] wtarreau commented on #875
I thought I had responded but apparently not or I lost my response. I looked at this yesterday and can't see how we can loop there, this is a bit odd: if we loop, then we free a buffer, and it's the only condition for continuing to loop, so we cannot get b_size() not null forever. I've been wondering if it would be possible that we process an enormous amount of streams at once, all sending some da

[2020-09-29 17:49] wtarreau commented on #874
Just to confirm, I cannot reproduce it either. For me http checks sent in a TCP backend work fine. There might possibly be fine details (timing or whatever) that affect how the response is processed. The trace Christopher suggests should help.

[2020-09-30 06:03] wtarreau commented on #601
Any news on this one or should we close it ? Since then we've emitted 6 new versions, so please update to 2.1.9 or better, 2.2.4, before reporting again.

[2020-09-30 06:05] wtarreau commented on #867
Please test with 2.2.4 which contains a number of fixes for dirty bugs since 2.2.2!

[2020-09-30 13:40] jaroslawr commented on #881
@wtarreau Just to make sure there is no misunderstanding, why do you say:

We did introduce a maxconn setting into our setup when we started experiencing the problem described in #880 . In addition to the segfault when all backends reach their maxconn, we also seem to run into a state where load on HAProxy rises and we start sending out much more RSTs.

(We are still testing the patch suggested in

[2020-09-30 13:47] wtarreau commented on #881
The RSTs you see are very likely related to the very low connect timeout (30 milliseconds): if/when the load rises, the risk to hit it increases, and the connection is aborted while it's finishing to complete. You should definitely raise it. Against the excessive load, just pick commit 82cd5c13 from 2.3, it should apply without causing you trouble. I can also propose you a complement which refines

[2020-09-30 14:26] jesseops commented on #583
Hey thanks for checking back. We're in the process of migrating into AWS so changes to existing infrastructure are on hold; I should be able to test this update once that migration is complete as we still plan to use HAProxy for our routing layer.

[2020-09-30 17:25] jaroslawr commented on #880
@wtarreau (cc @lukastribus) It looks like the commenting out of `p->node.node.leaf_p` fixed the segfault, thanks! We will be checking out the patch from #881 for some other issues we experienced once we enabled maxconn.

[2020-09-30 17:31] wtarreau commented on #880
Thanks for the feedback. That's an excellent news, however I'm still not totally convinced and need to study this further. I'll ask @cognet his opinion on the subject.

[2020-09-30 18:26] pawan1001 opened #882 "System holds TCP FIN for 3 seconds during VM01 failover"
Hi Team,

We are facing the following issue during failover:-

When rebooting VM01 (node 1),and VIPs are shifted to VM02 (node 2).
It is taking 3-4 seconds to bring VIP up on VM02.

We have some query :-
VM is sending FIN msg even after VIP is up.
Client sent CER to server but not received CEA for 3-4 second.
Why FIN is send by the Haproxy after 3 sec.

We have capture the tcp dump, but not able t

[2020-09-30 19:40] lukastribus commented on #882
Haproxy does not send any TCP packets, your kernel does, haproxy is just an application using the socket API.

That said:

Please do not ask questions in the issue tracker. This issue tracker is for tracking bugs and
feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The foru

[2020-09-30 19:40] #882 closed, assigned to nobody

[2020-10-01 03:50] hloeung commented on #674
Both are actually connected to separate switches with 100GbE links between them. Though they do share the same 100Gb transit link. I tried taking one offline / out of DNS with requests all being serviced by one during the time we're experiencing the performance cliff and can confirm that it hasn't improved at all.

For a small sample of "strace -e trace=poll_wait" output, the counters are as follo

[2020-10-01 09:40] capflam commented on #566
@bedis ping ?

[2020-10-01 16:16] wdauchy commented on #875
thanks for looking into this @wtarreau
feel free to close it if we feel we are not going to do any action around it

[2020-10-01 16:26] wtarreau commented on #875
Thanks but I'm definitely interested in digging a bit further. I'll possibly ask you for the core dump next week to try to understand what silly condition could cause something to loop in there, as this definitely bothers me quite a bit!

[2020-10-01 18:56] if-kenn opened #884 "HAProxy 1.8 release for fix to http/2 connections terminated - ERR_HTTP2_PROTOCOL_ERROR"
I am not filling out the form due to the fact that there are already multiple issues covering this, but they have been closed.

- https://github.com/haproxy/haproxy/issues/768
- https://github.com/haproxy/haproxy/issues/798

The issue I am having is that there has not been a 1.8 release since the fix was added to 1.8.

I see recent releases for 2.0, 2.1, 2.2 & 2.3. However, it appears that 1.8 has

[2020-10-02 13:53] #854 closed, assigned to nobody

[2020-10-02 14:35] #862 closed, assigned to nobody

[2020-10-02 15:33] capflam commented on #879
In fact, it is not a log issue. The log messages are really skipped. It is related to informational messages displayed on the standard output. I guess, in this case, these messages should only be displayed in debug mode. It is true for the lua. But it may also concerns other kind of messages. I'll try to get an eye on it. Thanks

[2020-10-02 15:36] wtarreau commented on #884
We'll issue another 1.8 soon. Older releases are emitted less often since their users upgrade less often and want proven fixes that have been cooking for some time in more recent branches. We'll try to make one next week as time permits.

[2020-10-02 16:17] wtarreau commented on #880
now merged into -dev and backported to 2.2.

[2020-10-02 20:14] chipitsine opened #885 "src/hlua.c: several similar Coverity reports"
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-10-02 20:59] capflam commented on #885
All these reports are false positives. `luaL_error()` and `lua_error()` functions are used to raise an error. These functions do a long jump and therefore never return.

[2020-10-02 21:00] #885 closed, assigned to nobody

[2020-10-03 10:59] wdauchy commented on #872
thanks @wlallemand. looks better now! one remaining typo is:
[code]
Should we send a patch for that?

[2020-10-05 09:21] capflam commented on #879
I pushed a fix to remove debug messages emitted by lua scripts, except if the debug mode is enabled.

[2020-10-05 09:27] capflam commented on #879
I'm closing the issue now because it is more a improvement than a bug fix. I guess it will be backported but it is optional.

[2020-10-05 09:27] #879 closed, assigned to nobody

[2020-10-05 15:07] rongshengfang commented on #693
I would love to see this implemented as well 👍

[2020-10-06 13:13] wlallemand commented on #872
sure @wdauchy

[2020-10-06 13:35] kamulos opened #886 "[FastCGI] Chunked HTTP Answer is Incomplete"
## Detailed description of the problem

I have a FastCGI server, that returns multiple KB answers regularly. Haproxy returns this via HTTP chunked encoding. There are sporadic errors, where the HTTP answer of haproxy is incomplete. At least the end chunk is missing from the HTTP answer to which libcurl responds with the following error:

[code]
This sound very similar to issue #231

It affects eve

[2020-10-06 14:13] #872 closed, assigned to nobody

[2020-10-06 14:51] wlallemand commented on #818
Backported in 2.2 and 2.1. Still need to fix the doc in older versions.

[2020-10-06 15:13] wlallemand commented on #818
The documentation was fixed in b0b703f starting from the 2.0 branch.

[2020-10-06 15:30] TimWolla commented on #818
This can be closed then?

[2020-10-06 15:32] wlallemand commented on #818
I just backported it in 1.8. Can be closed now.

[2020-10-06 15:32] #818 closed, assigned to nobody

[2020-10-06 16:14] wlallemand commented on #860
Thanks for your patches, it has been backported as a warning in 2.2.

[2020-10-06 16:14] #860 closed, assigned to nobody

[2020-10-06 19:23] chipitsine opened #887 "src/sample.c: leak suspected by coverity"
[code]

[2020-10-07 07:43] bjacke opened #888 "set ssl ocsp-response broken?"
## Detailed description of the problem
Dynamic reloading of ocsp response files via "set ssl ocsp-response" what used to work fine with 2.0 seem to be broken in 2.2. I had to issue a manual haproxy reload to get the updated ocsp response file activated.

echo "set ssl ocsp-response $(base64 -w 10000 ${OCSPFILE})" | $SOCAT_HA
used to work with 2.0. With 2.2 it doesn't. I noticed this because we hav

[2020-10-07 08:23] capflam commented on #886
I'm able to reproduce the bug. The end of stream is reported too early, while there is still unparsed data. This happens because a shutdown happens at the connection level. Here is a patch that should fix your bug. It may be applied on any version from the 2.3-dev to the 2.1 :

[0001-BUG-MEDIUM-mux-fcgi-Report-EOS-when-no-more-data-are.patch.txt](https://github.com/haproxy/haproxy/files/5339122/00

[2020-10-07 08:36] capflam commented on #864
The same was reported in #715 (CID 1430473). These `setsockopt()` should not fail at this stage. So checks are not performed to not burden the code unnecessarily.

[2020-10-07 08:39] chipitsine commented on #864
I've marked as intentional

[2020-10-07 08:39] #864 closed, assigned to nobody

[2020-10-07 09:01] bjacke commented on #888
ah, this is probaby not a haproxy bug - I just saw, that the cert was newly issued and probably the ocsp server didn't have the new ocsp information yet.

[2020-10-07 09:01] #888 closed, assigned to nobody

[2020-10-07 11:22] kamulos commented on #886
Thanks! With this patch I can not reproduce the bug neither with the minimal example above nor with my original program.

[2020-10-07 11:23] capflam commented on #886
Good ! Thanks for the feedback.

[2020-10-07 12:43] #849 closed, assigned to nobody

[2020-10-07 12:44] capflam commented on #865
Fixed now. Thanks !

[2020-10-07 12:44] #865 closed, assigned to nobody

[2020-10-07 12:44] capflam commented on #863
Fixed now. Thanks !

[2020-10-07 12:44] #863 closed, assigned to nobody

[2020-10-07 12:49] capflam commented on #802
Fixed now. Thanks @TimWolla

[2020-10-07 12:49] #802 closed, assigned to nobody

[2020-10-07 14:21] jaroslawr opened #889 "Client-facing connection keep-alive after backend timeout or backend connection failure"
It would be nice to be able to use a fixed response AND keep the client connection intact in case of backend timeout or backend connection failure.

While it is possible in those cases to emit a given response body and response headers via the `errorfile` directive, it still forces the client to disconnect - HAProxy seems to force a 'Connection: close' header in the response regardless of the cont

[2020-10-07 14:38] capflam commented on #889
I guess you are using a pre-HTX version (i.e < 1.9) or a version where it is possible to disable the HTX (1.9 and 2.0). Because, with the HTX (the new HTTP implementation since the 1.9, enabled by default in the 2.0), it is possible to keep the client connection alive independently of the server one. Thus, if you have an HTTP/1.1 errorfile without the "Connection: close" header, the client connect

[2020-10-07 14:53] capflam commented on #889
I close the issue because the feature already exists. If you observe another behaviour with the HTX enabled (on 2.1 and above, it is the only HTTP implementation), it means it is a bug. In this case, re-open and relabel the issue, filling the "Bug Report" template to provide all requested information.

[2020-10-07 14:53] #889 closed, assigned to nobody

[2020-10-07 15:52] TimWolla commented on #802
Nice, I am no longer seeing any “definite” leaks during config check of my real world configuration :raised_hands:

[2020-10-07 19:00] chipitsine opened #890 "src/hlua.c: several similar coverity findings"
[code]

[code]

[code]

[code]

[code]

[2020-10-07 19:27] jaroslawr commented on #889
@capflam Here is a test on haproxy 2.2.x:

[code]

My haproxy.cfg:

[code]

204.http is this:

[code]

If the server defined in jetty backend is up the connection is reused correctly:

[code]

If you bring up haproxy but the backend server is not up, haproxy will use 204.http but "connection: close" is added:

[code]

Same thing happens when the jetty backend takes above `timeout server` to respon

[2020-10-07 19:31] jaroslawr opened #891 "Client-facing connections get closed despite using errorfile"
I am not able to get haproxy to keep the client-facing connection alive when the backend is not accepting a connection or when it time outs. I use an errorfile with `http/1.1` and no 'Connection: close' but haproxy seems to add its own 'Connection: close' header.

I use haproxy 2.2.3:

[code]

My haproxy.cfg:

[code]

204.http is this:

[code]

If the server defined in jetty backend is up the conn

[2020-10-07 19:32] jaroslawr commented on #889
@capflam Sorry, I first thought I could turn this issue here into a bug report. I opened a new issue instead: https://github.com/haproxy/haproxy/issues/891

[2020-10-07 19:38] capflam commented on #890
Similar than #885, all false positives.

[2020-10-07 19:38] #890 closed, assigned to nobody

[2020-10-07 19:40] capflam commented on #889
No problem. Thanks for the report. I will investigate.

[2020-10-07 20:39] capflam commented on #891
So I confirm the bug for 204/304 responses. While these responses are correctly handled when received from the server, It is not true for errorfiles. Because there is neither content-length nor transfer-encoding, a "Connection: close" is automatically added when the response is sent to the client. Of course, 204/304 responses have no body and should not provide these headers. This case must be han

[2020-10-08 07:32] jaroslawr opened #893 "http-response return does not work when a backend is not defined or when the backend is down"
With this haproxy.cfg:

[code]

I get a 503 response from a GET to localhost:8080. I also still get a 503 when I add a `default_backend` but the backend is not actually up:

[code]

Only with a backend both defined and running I get the 200 response.

I use haproxy 2.2.3:

[code]

[2020-10-08 07:51] TimWolla commented on #893
@jaroslawr While this issue appears to contain all the necessary information: Can you please make sure to not ignore the issue template that is filled in by default when creating a new bug report? It exists for a reason.

Regarding your issue: You probably need <strike>either `http-after-response return` or </strike> `http-request return` (or see Christopher's response).

[2020-10-08 07:51] capflam commented on #893
`http-response` ruleset is applied on the server response. Here, because the server connection failed, there is no server response. Thus this ruleset is not evaluated. The only ruleset evaluated on HAProxy internal responses is `http-after-response`. But this ruleset is more limited than others.

So, now, depending on what you want to do, you can use the `return` action within an `http-request` ru

[2020-10-08 07:56] jaroslawr commented on #893
@capflam I indeed misunderstood the feature, thanks!

[2020-10-08 07:56] #893 closed, assigned to nobody

[2020-10-08 09:48] tjikkun commented on #867
I tested with 2.2.4 and it still crashes now and then:
[code]

[2020-10-08 09:52] tjikkun commented on #867
Oh and the haproxy log does not contain anything out of the ordinary.

[2020-10-08 19:49] chipitsine commented on #890
I've marked all except the following

Out-of bound read:
CID 1403848

not related to the near WILL_JMP (null dereference another var):
CID 1403831, CID 1403828

the rest marked as "False positive"

[2020-10-08 20:36] capflam commented on #890
CID 1403848 is a false positive. At line 7841, `index` value is checked. An error is triggered if there are more than 5 entries. `str_kw` is an array of at most 5 keywords.

CID 1403831 is a false positive. `akl` is allocated at line 7585. If the allocation fails, an error is triggered.

CID 1403828 is a false positive. `akl` is allocated at line 7475. If the allocation fails, an error is triggere

[2020-10-08 20:49] chipitsine commented on #890
thnx, marking those 3 as well

[2020-10-09 08:45] capflam commented on #886
It should be fixed now in 2.3-DEV. I'll backport the fix soon. Thanks !

[2020-10-09 08:46] capflam commented on #891
It should be fixed now in 2.3-DEV. I'll backport the fix soon. Thanks !

[2020-10-09 08:54] #850 closed, assigned to esalama

[2020-10-09 08:57] capflam commented on #876
This issue is far from critical, so I close it, keeping 1.6 and 1.7 tags

[2020-10-09 08:57] #876 closed, assigned to nobody

[2020-10-09 08:59] capflam commented on #851
This issue is not critical. I guess we can close it, keeping 1.6 and 1.7 labels.

[2020-10-09 08:59] #851 closed, assigned to a-denoyelle

[2020-10-09 09:02] #810 closed, assigned to nobody

[2020-10-09 09:02] #835 closed, assigned to nobody

[2020-10-09 09:14] capflam commented on #813
now backported to 2.2

[2020-10-09 09:14] #813 closed, assigned to nobody

[2020-10-09 09:23] capflam commented on #891
done !

[2020-10-09 09:23] #891 closed, assigned to nobody

[2020-10-09 09:23] capflam commented on #886
done !

[2020-10-09 09:23] #886 closed, assigned to nobody

[2020-10-09 09:38] capflam commented on #880
@wtarreau , I don't know how to backport it to 1.8. I didn't find any `LIST_ISEMPTY` near the call to `pendconn_link()` to move. Nothing urging though.

[2020-10-09 15:44] capflam commented on #887
It is a false positive. `parse_binary()` takes care to free `binstr` on error if it is necessary.

[2020-10-09 15:44] #887 closed, assigned to nobody

[2020-10-09 19:34] haproxy-mirror commented on #880
Thanks, I could have a look. We changed a number of things in this area,
between the prio-based tree and the HTTP reuse that significantly changed,
maybe the problem doesn't even exist in 1.8.

[2020-10-10 12:57] chipitsine opened #894 "src/proto_udp.c: coverity suspects unintialized variable"
[code]

[2020-10-12 09:03] chipitsine opened #895 "recent BoringSSL failures"
https://travis-ci.com/github/haproxy/haproxy/jobs/398224721

[code]

[2020-10-13 08:16] pgaxatte opened #896 "nolinger makes prom-exporter send a premature RST,ACK"
## Detailed description of the problem

When using the `option nolinger`, the embedded prometheus exporter sends a premature RST,ACK which breaks the client-side (either a simple curl or a prometheus scraper).

The normal stats backend does not seem to be affected.

## Expected behavior

The connection to the promex should be closed after haproxy has received all ACKs from the client.

## Steps to

[2020-10-13 08:33] pgaxatte commented on #896
BTW, the fix is to add `no option nolinger` on the stats frontend.

[2020-10-13 12:07] jaroslawr commented on #881
@wtarreau The fix in 82cd5c1 helps, thanks! Any chance it will be backported to 2.2 as well?

[2020-10-13 12:09] jaroslawr commented on #880
@wtarreau @capflam I did a lot of production tests on this and I can definitely confirm the fix here fixes the segfault. The fix in #881 helps with a weird load spike that sometimes results when the backend hit maxconn.

[2020-10-13 12:18] TimWolla commented on #880
@jaroslawr Please don't close issues that still have version labels attached. It means that they still need to be backported. We'll handle this once it's done.

[2020-10-13 12:20] jaroslawr commented on #880
@TimWolla OK, sorry for this.

[2020-10-13 12:25] jaroslawr commented on #881
@wtarreau Actually there is still some issue with this, under a heavy traffic spike with the backend saturated one of our several haproxy instances will still start to cause a large load and will stay in this state after the spike is over. I attach a flamegraph:
![haproxy-maxconn](https://user-images.githubusercontent.com/26233/95860055-cac69c00-0d5f-11eb-9247-00570794e52f.png) Our config is like

[2020-10-13 12:37] wtarreau commented on #881
OK, do you want to test with the attached patch ? It will take saturated servers off the list so that they are not visited again until they release one connection.
[lc.diff.txt](https://github.com/haproxy/haproxy/files/5371311/lc.diff.txt)

[2020-10-13 14:21] clwluvw opened #897 "http-request timeout not works always"
## Detailed description of the problem

I have created a session with `nc` to my haproxy and after 19 sec it gets 408.
Sometimes it returns 408 in 2 sec but not always and I can't see any `BADREQ` in haproxy log!
[code]

[code]

## Expected behavior

Based on my configuration below and `timeout http-request` option it should get me 408 after 2 sec!

## Steps to reproduce the behavior

1. `time nc

[2020-10-13 14:54] capflam commented on #897
Could you provide your frontend configuration too. And please share your logs too. Because, with your timeout settings, I always have the 408 response after 2s.

[2020-10-13 15:02] clwluvw commented on #897
@capflam
[code]

Thats the second bug I think that I don't have any logs for my `nc` requests. I think they should be `BADREQ` but I don't see any `BADREQ` in my logs!

[2020-10-13 19:45] ishergin opened #898 "HAProxy does not resolve SRV names after restoring from server-state-file"
##  Detailed description of the problem

I use `server-template` option with `server-state-file`. Before sending a reload signal to HAProxy master I preserve backends status in `/var/lib/haproxy/server.state`. After sending `USR2` signal I get backends in `resolution` state. I also tried reload with `echo "reload" | socat /var/run/haproxy-master.sock` and got the same result.

If I comment out the

[2020-10-13 20:50] NickMRamirez commented on #251
The Lua module that I wrote returns CORS responses for preflight requests directly from HAProxy, thanks to the new Reply object that was added to the Lua-HAProxy API, so the backend server does not need to be contacted for preflight requests. Is there still a need for a CORS cache? https://github.com/haproxytech/haproxy-lua-cors

[2020-10-14 04:30] neobie opened #899 "Latency awareness?"
Haproxy is great for Mysql load balancing.
I wish to know if latency awareness is available ?
Something like if Latency (PING) to server1 > 1s, disable this server temporary.

Thanks.

[2020-10-14 08:35] wtarreau commented on #899
This would be a terribly bad idea. Think about this, if all your servers are suddenly slow because of any reason, in cluding the link on your LB being lower, then you'll disable all your servers and end up breaking the service.
If you still want to do this, it's perfectly possible, it simply consists in setting a low "timeout check" value, such as "timeout check 1s", and the server will indeed be

[2020-10-14 08:42] wtarreau commented on #896
But this is by design and documented!
[code]
Why in the first place would you want to use such a dangerous option, and further, why in the `defaults` section ?

[2020-10-14 08:46] wtarreau commented on #894
This is a result of coverity's limited understanding of syscalls (it doesn't know that AF_UNSPEC doesn't care about what follows). But it's not on a critical path, I can provide a workaroundd to shut it up.

[2020-10-14 08:55] wtarreau commented on #894
Should be OK now, and it should avoid complaining for the same in proto_tcp.c :-)

[2020-10-14 09:02] wtarreau commented on #897
The need for Ctrl-C is shocking. Netcat should close immediately when receiving the 408 response. This could make one think about a deeper issue but I have no idea which one. Are you sure you're not facing network losses, which could explain a delay in the connection setup and in closing ?

One thing that could explain the long time and lack of logs could be that the socket would be configured wit

[2020-10-14 09:18] pgaxatte commented on #896
I kinda inherited this option and did not question it at first.

It is in default because we only have 3 proxies: stats and 2 proxies for a mariadb cluster.

I know MySQL/MariaDB clients badly handle closing connections so it probably was for this reason that the nolinger option was used.

I understand this option is probably a bad idea but still it seems to only break the prometheus exporter in m

[2020-10-14 09:54] wtarreau commented on #251
Hi don't know. My understanding is that some users want/need to set that on the server itself, others not. Think of a CDN for example, which would leave the choice on the origin servers but only cache results maybe.

[2020-10-14 09:59] wtarreau commented on #896
No, it breaks absolutely *everything*. The principle is ask the system to destroy any data still pending in the socket buffers at the moment of a close. Just try it with a close HTTP response and you'll get truncated responses. It was added long ago to work around a few client bugs so I can easily understand why you're using it for the same reason, but this must definitely be limited to the mentio

[2020-10-14 10:25] capflam commented on #897
About Netcat, I'm not sure it is a problem. My netcat does the same. With telnet, the connection is closed as expected. I guess it depends on the Nectat version. Mine (nmap version 7.80) does not reply with a FIN packet when it receives a FIN from HAproxy.

BTW, a delay of 19s is weird because it does not match any configured timeout. At this stage, you must be sure to have no other program listen

[2020-10-14 11:09] clwluvw commented on #897
I don't think it's because of my host because my front active sessions gets too high after upgrading to 2.2.4 and also in my test when I send an invalid char I will receive 400 Bad Request after 5-6 sec for example!
[code]
I'm still can't see my BADREQ logs from my IP!

I'm using OpenBSD netcat (Debian patchlevel 1.206-1ubuntu1) on ubuntu 18.04
@wtarreau @capflam

[2020-10-14 11:22] chipitsine commented on #894
we'll this on tomorrow coverity run. I'm closing issue, thank you!

[2020-10-14 11:22] #894 closed, assigned to nobody

[2020-10-14 12:18] wtarreau commented on #897
How often does it fail for you ? It never does for me with your config, it's always exactly 2s timeout and I always get the logs (I used `log stdout local0` here since I don't know your global config) :
[code]

And the client:

[code]

As Christopher mentioned, are you really really certain you're not sharing your port with another service ? This would explain the lack of logs and the strange time

[2020-10-14 12:26] clwluvw commented on #897
@wtarreau I'm sending my logs to rsyslog and currently I have 1K req/sec on my haproxy so it's working very well I think :)
Also I can't run it with strace because I use it on docker and using official docker image.
If my frontend session rate won't increase it would be acceptable that it's my problem but they has been growth about 2x and it seems this is not just me!
My logging configs:
[code]

[2020-10-14 13:19] pgaxatte commented on #896
Yeah, although the documentation is explicit on the fact that this option is not recommended, it does not really say that this option is very dangerous.

A fair warning would be great :)

And I'm going to reconsider all the default options I inherited and see if I really need them

[2020-10-14 13:44] NickMRamirez opened #900 "New fetch method to get cache hit / miss"
## What should haproxy do differently? Which functionality do you think we should add?

In order to return an HTTP response header that indicates whether the HAProxy cache returned a cached resource, it would be helpful to have a fetch method that returns whether the request was a cache hit or a cache miss. It could be a boolean, maybe something taking this form:

(pseudo code)
[code]

## What are

[2020-10-14 14:10] TimWolla commented on #900
somewhat related: #214

[2020-10-14 15:00] wtarreau commented on #896
I looked at adding an option when this one is inherited from defaults, and it definitely is not an easy thing to do! We don't know when validating a proxy if its options come from itself or the default proxy. I see how to achieve this, it will require a bit of code updates to store the locally-set options just for this purpose. But it's definitely worth it! By the way if you think a different word

[2020-10-14 15:12] clwluvw commented on #897
My active frontend seasons raised to 10K but I can't see any near of this number for BADREQ! My req/sec doesn't increase as this much but my node socketstat used increases as well! :disappointed:

[2020-10-14 15:58] wtarreau commented on #897
Wait a minute. Are you sure you don't have a proxy provided by docker itself ? This would also explain everything here. No log, longer timeout than needed etc. Please when your netcat connection is established, run "ss -antp | grep 127.0.0.1:80" as root, I'd like to see the name of the processes. I'm pretty sure we'll see docker there!
And if you don't see it, please enter the docker container and

[2020-10-14 16:00] wtarreau commented on #897
Well replace 127.0.0.1 with your ${IP} but you get what I mean.

[2020-10-14 18:30] pgaxatte commented on #896
I could propose something to make a stronger case against this option, saying this can be a dangerous option but I would not have a sufficient technical understanding of what it does to back that up and explain why.

Thanks for the tip on separate defaults, I'll definitely do that!

[2020-10-15 03:27] wtarreau commented on #896
OK, I'll probably update it at least to emphasize this.

[2020-10-15 03:30] wtarreau commented on #900
I'm pretty sure we discussed this at some point but it was forgotten in noise. It should be trivial to do, just checking that the right-side stream-interface is the cache applet, and that's all.

[2020-10-15 10:54] jaroslawr commented on #881
@wtarreau I applied the patch on top of the two previous ones (the one for the segfault and the one which changes the locking), but I still have this problem. We have a cluster of several HAProxy instances, I trigger a traffic spike by taking down a few dozen out of a few hundred backend servers and one or two HAProxy instances will start having a high load and remain like this, while others conti

[2020-10-15 13:40] clwluvw commented on #897
@wtarreau I'm seeing something very strange! When I run the `nc` command, it will said that `Connection to ${IP} 80 port [tcp/http] succeeded!` but I don't see any connection in `ss` output and after 17 sec it will show my connection as a `ESTAB` and after 2 sec it will terminate as it expected!
It seems haproxy timeout is working correctly but I don't know how netcat is saying connection is succe

[2020-10-15 13:46] rbvto commented on #46
Any news regarding this feature request?

It would benefit my setup greatly.
Right now my infrastructure is organized in the usual fashion with a load balancer in front of a myriad of computer nodes, all sequentially labeled **computeX**.
For each compute node I have two DNS entries, one in the name of **computeX.domain** which identifies the compute node itself and one entry on the **computes.dom

[2020-10-15 16:49] wlallemand commented on #895
It looks like I can't build any version of HAProxy with boringSSL, I'm surprised it even worked.

[2020-10-15 16:52] chipitsine commented on #895
I digged it a bit. I hope to fix it in weekend. you can assign it to me (relatively easy to fix, need some time to split into backport commits)

[2020-10-15 16:57] chipitsine commented on #895
it is definetly good to fix before nearest release.
when is it scheduled ?

[2020-10-16 02:24] wtarreau commented on #895
Ideally at the end of the month, or the very first week of november.
However we really want to leave some time to test that. Thanks for your help on this one!

[2020-10-16 02:38] wtarreau commented on #897
When you say the process handling this connection is haproxy, do you see it inside the container or also outside ? Because your observation further fuels the suspicion of an intermediate process handling these connections.

In any way, that's another proof that such awful mechanisms to run a process only add complexity and trouble by hiding trivial behaviors. I'm impressed by your patience, I woul

[2020-10-16 02:56] wtarreau commented on #896
I updated the doc and am closing now. Thanks!

[2020-10-16 02:56] #896 closed, assigned to nobody

[2020-10-16 04:54] wtarreau commented on #881
OK. Do you have any idea what the function with the huge spike in the flame graph is ? Because only" u.." is displayed.

[2020-10-16 05:09] wtarreau commented on #867
It's particularly shocking that in the two traces it crashed exactly at the same place. In this case my_socketat() is exactly socket(). So it crashed in the system, when performing the socket() system call. Could you please issue "print activity" in gdb ? It will report the per-thread activity counters. I don't expect anything terribly impressive there, but who knows :-/

Also if you have the pani

[2020-10-16 05:26] wtarreau commented on #875
@wdauchy do you see it happen often enough that we could imagine adding patches here and there to try to debug it further ? For example I'm extremely shocked by the fact that so many threads are in wake_expired(). It's supposed to be extremely fast, and I'm wondering what could make it last that long. And what I'm wondering now is if we're not in fact seeing the elapsed time expire *after* fightin

[2020-10-16 05:49] wtarreau commented on #875
CCing @cognet as he might be quite interested in this as well.

I'm thinking about one case which could increase the cost of wake_expired_tasks right now. Each thread is responsible for waking up all expired tasks in all threads. If you have many periodic tasks (many health checks maybe) or many tasks expiring at the same time (maybe hundreds of thousands of requests dying in timeout after a netwo

[2020-10-16 06:17] wtarreau commented on #875
Actually we'll only wake tasks that are scheduled to run on any thread. I don't think there are many beyond checks.

[2020-10-16 06:28] wtarreau commented on #875
Checking 2000 servers every 10 milliseconds on 8 threads for 23 seconds shows me this interesting pattern (DEBUG_THREAD):
[code]
Yep, we've spent more than 1 second per thread (4% of their time) waiting on the WQ lock, and 1/4 of this on the RQ lock. So it's very likely this case can degenerate with a spiky load.

[2020-10-16 06:54] chipitsine commented on #895
ETA is somewhat 20 Oct

[2020-10-16 12:03] jeswant commented on #123
Can't find documentation related to ssl_c_sha2 in here: https://cbonte.github.io/haproxy-dconv/2.3/configuration.html
in 2.2 configuration documentation. If missing, can we have the fix documented please? Thanks!

[2020-10-16 12:09] wlallemand commented on #123
That's because "ssl_c_sha2" doesn't exist. You have to use ssl_c_der and the sha2 converter like explained by Tim.

https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#ssl_c_der
https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#sha2

[2020-10-16 12:09] capflam commented on #123
Because this sample fetch does not exist. But there is a `sha2` converter.

[2020-10-16 12:44] jaroslawr commented on #881
@wtarreau I sent you the full flame graph and some gdb thread dumps via email as GitHub does not support .svg attachments.

[2020-10-16 14:00] jaroslawr commented on #881
@wtarreau By the way I noticed that the likelihood of this happening seems to decrease if I configure HAProxy to use a separate dedicated socket for each thread (though it still happens once in a few test runs). Is such a setup still recommended these days or not anymore? We removed it after reading

In this blog post https://www.haproxy.com/blog/haproxy-2-0-and-beyond/

[2020-10-16 16:23] wtarreau commented on #881
Thanks, I'll have a look at your message. For the one-socket-per-thread, no it's definitely not recommended anymore. In addition I don't see any reason for this to make any difference, since it doesn't change the way the sockets are assigned to threads and even less the way they're used on the backend side.

Christopher told me he thinks he found a possible locking issue around the function eating

[2020-10-16 16:24] wtarreau commented on #881
By the way I don't know why we're keeping the issue closed if we think there are still some locking issues, I'm reopening it.

[2020-10-16 17:03] tjikkun commented on #867
[code]
[code]
Maybe my gdb is too old?

[2020-10-16 17:45] wtarreau commented on #867
Yeah probably. Mine was stupid about this as well unless I added "--". Just try again without `-null-stop on`. With some luck it will dump the entire string anyway :-/

[2020-10-16 17:57] capflam commented on #855
It should be fixed. Now when an agent set a variable with data of type `NULL`, it is equivalent to an unset-var. Not backported yet.

[2020-10-16 18:00] tjikkun commented on #867
No luck
[code]

[2020-10-16 18:05] wtarreau commented on #867
If it cannot even access the trash buffer, that's quite bad indeed :-(

[2020-10-16 18:55] felipewd opened #901 "splice-response on 2.0.15-18 makes slow transfers"
## Detailed description of the problem

When enabling `splice-response` as a default setting, after 2.0.10 (we've tested 2.0.15 up until 2.0.18), our server behaves very odd: Our app server (unix-socket on the same machine as haproxy) starts filling up with slow-delivering data, up until everything grinds to a nearly halt.

Using 2.0.10 fixes this, but there a few bugs that are currently crashing

[2020-10-16 19:17] chipitsine commented on #895
On 16 Sep 2020 BoringSSL became 1.1.1 (it was 1.1.0 before that)

https://boringssl.googlesource.com/boringssl/+/49e9f67d8b7cbeb3953b5548ad1009d15947a523%5E%21/include/openssl/base.h

[2020-10-16 20:25] capflam commented on #901
Some bugs concerning the splicing was fixed in the 2.0.16 and some others in the 2.0.17. Unfortunately, I made some tests and there is still a bug in the 2.0.18. In fact, there is a forgotten fix, pushed in the early stage of the 2.1 and never backported. I guess the bug was hidden till now and revealed because of recent fixes.

Because it is a sensitive part, I will perform more tests before back

[2020-10-17 01:31] felipewd commented on #901
Hi @capflam,

Thank you for the quick reply. I can confirm that this patch (on top of 2.0.18) fixes our issue!

Thanks!

[2020-10-17 03:43] wtarreau commented on #895
Ahah! So as I predicted, it's not that it has never worked, it's just that this unversioned BoringSSL has just recently produced yet another incompatible upgrade that breaks all of its users again.  If you figure a small enough fix, maybe we could backport it to stable branches as well.

But at this point, considering the regular breakage caused by boringssl, I'd suggest that we emit a loud startu

[2020-10-17 05:01] chipitsine commented on #895
obvious fix would be

[code]

but I'l try to avoid it and beleive that BoringSSL is somewhat similar to 1.1.1
so, it would be several patches (I'm working on them right now)

[2020-10-17 07:23] wtarreau commented on #895
If that works, don't be shy! It's not because forks lie on the compatibility version they announce that we have to work around all their brokenness. What matters is to pick the equivalent version number as the API they support so that we don't have to maintain code that is specific to them. And given how often this one breaks, I strongly doubt anyone uses it anymore, so if we miss some of its amaz

[2020-10-17 07:29] chipitsine commented on #895
I sent a patch yesterday. Please ignore it.

I will send new today. Seems, we should really start with reverting a
version. Maybe,vwe will relax it for master in the future

On Sat, Oct 17, 2020, 12:23 PM Willy Tarreau <notifications@github.com>
wrote:

[2020-10-17 07:52] wtarreau commented on #881
@jaroslawr the trace dumps you sent to me are very interesting because they show that multiple threads are accessing the same tree node at the same time. Interstingly, Christopher just found a missing lock around the calls to fwlc_srv_reposition(), that for him resulted in a divide by zero. But in your case it's worse, it's concurrent accesses to the same node by multiple threads, which corrupts t

[2020-10-17 07:57] wtarreau commented on #881
Getting back to the original discussion of the locking there, we're currently using a spinlock and we should instead use an rwlock. fwlc_get_next_server() may take quite some time to converge and never modifies anything. It should be read-protected, not exclusive!

[2020-10-17 14:53] clwluvw commented on #897
@wtarreau I see outside the container because there were no `ss` in container :grimacing:
So you still thinks this is because of docker?

[2020-10-17 15:36] wdauchy commented on #388
@hac3ru @wtarreau is there still some things to do here?

[2020-10-17 19:07] wtarreau commented on #897
I'm not saying I think is because of docker, all I'm saying is that your environment is one of the most horrible I've seen in terms of debugability, and that the only difference between your environment and all other properly working ones seems to be this blind usage of docker. There's nothing observable there at all, you're facing issues that nobody else ever sees and you have no way to diagnose

[2020-10-17 19:09] wtarreau commented on #388
I don't htink so indeed, I think we can close this one! Doing it now, thanks!

[2020-10-17 19:09] #388 closed, assigned to nobody

[2020-10-18 06:14] chipitsine opened #902 "src/listener.c: use after free suspected by coverity"
[code]

[2020-10-18 06:18] chipitsine opened #903 "src/sock.c: unchecked return valua suspected by coverity"
[code]

[2020-10-18 06:20] chipitsine opened #904 "src/proto_sockpair.c: unchecked return valua suspected by coverity"
[code]

[2020-10-18 06:21] chipitsine opened #905 "src/sock.c: leak suspected by coverity"
[code]

[2020-10-18 07:12] tmccombs commented on #814
I'd like to take a stab at implementing this.

@wtarreau I don't suppose you have a link to previous discussion/documentation on how server_addr would work?

[2020-10-18 08:18] NickMRamirez opened #906 "If splitting certificate and key, check for a file with a .key extension"
## What should haproxy do differently? Which functionality do you think we should add?

HAProxy allows you to combine an SSL certificate and private key into a single **.pem** file. Or, you can separate the key file into its own file. The [crt keyword definition](http://cbonte.github.io/haproxy-dconv/2.2/configuration.html#crt%20(Bind%20options)), explaining this feature:

An _incorrect_ assumptio

[2020-10-18 11:33] jmagnin commented on #906
This looks like a duplicate of https://github.com/haproxy/haproxy/issues/785

[2020-10-18 11:39] #906 closed, assigned to nobody

[2020-10-18 12:40] TimWolla commented on #897
You can use `nsenter -t <pid> -n ss …` to execute `ss` within the network namespace of the container. But if you are running the container with `--net=host` as you say that one will be equivalent to the host network namespace.

@wtarreau The docker proxy only comes into effect if one uses Docker's feature to NAT host ports to container ports. Personally I also run Docker for everything except HAPr

[2020-10-18 15:45] wdauchy opened #907 "Waddress-of-packed-member starting from gcc9"
I noticed gcc9 is adding "Waddress-of-packed-member" included in "Wall", triggering some build errors on my rpm default config such as while building halog.c from contrib:

[code]

I don't know how we want to clean those, even though I read the ` __attribute__((packed))` stuff.

[2020-10-18 16:11] wdauchy commented on #905
`cfd` is always assigned to `conn->handle.fd`, so I think this is a false positive

[2020-10-18 16:14] wdauchy commented on #904
a few `fcntl` are not checked throughout haproxy code. So I believe we can safely ignore that one or fix all of them

[2020-10-18 16:33] wdauchy commented on #902
I will handle this one

[2020-10-18 16:39] wdauchy commented on #903
quite similar to #904 but we might fix all of them at once or ignore

[2020-10-18 17:25] wdauchy commented on #875
@wtarreau thank you for the complete analysis.
the case you describe seems to very likely match some of our rare events where a major backend is loosing most of the servers behind it. Our default timeout being very high (10s) and the lack of max queuing, means we will quickly accumulate a lot of tasks waiting for the end of timeout.

Even though this is a rare event on our side (5 over 500 nodes d

[2020-10-18 18:00] chipitsine commented on #904
I've marked as "Intentional"

[2020-10-18 18:00] #904 closed, assigned to nobody

[2020-10-18 18:01] chipitsine commented on #903
I've marked as "Intentional"

[2020-10-18 18:01] #903 closed, assigned to nobody

[2020-10-18 19:06] wtarreau commented on #875
The lock change will require more changes to thread.h. However, the first one of the series, 3cfaa8d ("BUG/MEDIUM: task: bound the number of tasks picked from the wait queue at once"), will be backported as far as 2.0 and will be sufficient. It makes sure we don't pick more tasks in one round than we'll be able to process anyway. This will guarantee that all threads will have an opportunity to pas

[2020-10-19 06:24] wdauchy commented on #875
ok thanks!

[2020-10-19 06:49] capflam commented on #371
Now implemented in the 2.3.

[2020-10-19 06:49] #371 closed, assigned to nobody

[2020-10-19 06:53] capflam commented on #901
Ok, I backported the fix. Thanks !

[2020-10-19 06:53] #901 closed, assigned to nobody

[2020-10-19 06:54] capflam commented on #855
I backported the as far as 1.8.

[2020-10-19 09:38] jaroslawr commented on #881
@wtarreau I tested 2.3-dev7 without any additional patches. The effect of a traffic spike is now different but there is still some issue left - instead of some random HAProxy instance starting to saturate the CPU, we now see all instances in the cluster are left with a ~30% larger load after the traffic spike is gone:

before the connection spike - all instances at load 24
connection spike / backe

[2020-10-19 11:02] wtarreau commented on #881
Not good, these are negative numbers. It means we messed up with something around the places where we maintain these numbers :-(  This may explain why they never leave and thus increase the load.

[2020-10-19 11:03] wtarreau commented on #881
I'm seeing it as well on haproxy.org. I still don't know how to reproduce it but we'll look.

[2020-10-19 11:57] chipitsine commented on #895
I'm closing this issue. Master is fixed now

[2020-10-19 11:57] #895 closed, assigned to nobody

[2020-10-19 12:41] capflam commented on #881
I'm able to reproduce the bug. It seems to be a problem with private backend connections. It is probably because of the commit 04a24c5ea. The function `srv_del_conn_from_list()` may be called for private connections while it is not expected. It is easy to reproduce the bug with `http-reuse never` option or by enabling the checks on the server.

Here is a very quick diff that should fix the issue:

[2020-10-19 12:55] wtarreau commented on #881
I suspected this one as well but I think the condition might be wrong or is trying to do something unclear. Amaury had to remove it for the reuse of idle conns in sesison list, but why it ends up detaching the same connection multiple times sounds strange to me. Maybe we should use the connection's flags indicating whether the connection is in any list or not. Or maybe the removal from the list sh

[2020-10-19 13:09] a-denoyelle commented on #881
All can be explain with the fix of Christopher. Before my patch, only PRIVATE connections were on the session list. I also added some connection to avoid their sharing but without using the flag PRIVATE, so I removed the condition and only test if the connection belongs to session_list prior to remove it.

However, in this case, a connection could have been marked as PRIVATE but not stored in the

[2020-10-19 13:16] capflam commented on #881
But the Willy's comment remains true. All this stuff is a bit cryptic and relying on connection flags to known if a connection is in a list or not (include the session list) is probably a good idea. My patch seems to fix the bug, but it could be good to refactor this part once and for all.

[2020-10-19 13:36] wtarreau commented on #881
Be careful, I suspect it could break Amaury's recent changes on H2 reuse.
It's definitely important to test with H2 on backend and make sure the
connections continue to be reused between clients once idle.

[2020-10-19 13:52] a-denoyelle commented on #881
For me, the patch is valid. It does not risk to break my changes as the h2 connection are subject of the if block, not the else. However as this code flow is quite complex I will re-test with h2 backends and validate it.

[2020-10-19 13:53] capflam commented on #881
Thanks @a-denoyelle

[2020-10-19 13:53] a-denoyelle commented on #881
On a higher level, I agree that the design problem with my patches is that now we are adding connection on session list without having a flag to reflect it. However, I cannot use the PRIVATE flag, as this flag is also check to automatically delete the connection on detach.

[2020-10-19 14:29] a-denoyelle commented on #881
I have tested Christopher's patch with a h2 backend and the h2 reuse behavior is still correct.

[2020-10-19 14:38] wtarreau commented on #881
OK, great, thanks for testing!

[2020-10-19 14:46] capflam commented on #881
Thanks @a-denoyelle. I will push a fix

[2020-10-19 14:50] TimWolla commented on #881
Just to confirm: I am seeing this as well on my private box. I'll recompile the latest master when Christopher's fix is in.

[2020-10-19 15:20] capflam commented on #881
pushed !

[2020-10-19 15:58] wtarreau commented on #881
And deployed on haproxy.org. Looks good so far, thanks guys!

[2020-10-19 15:58] wtarreau commented on #881
@jaroslawr you may want to try again from latest -git.

[2020-10-19 16:00] TimWolla commented on #881
I'm running 2.3-dev7-12-g96ddc8ab4 since roughly half an hour.

[2020-10-20 08:13] jaroslawr commented on #881
@wtarreau I tested the snapshot at http://git.haproxy.org/?p=haproxy.git;a=snapshot;h=96ddc8ab43bfbf9a317041e5d13168ea1c8edfc0;sf=tgz and I am back at the problem with some random instances spinning up the CPUs to maximum. I sent you more details via email, but here is one example thread dump:

[code]

[2020-10-20 12:40] wtarreau commented on #881
Something really bothers me here: pendconn_queue_lock() is only held for a single insert or a single removal, both of which are instant. And each time the issue was contention on the proxy's queue lock, so it looks like the lock was held forever, which is further fueled by the fact that I don't see any single thread here being past the point of getting that lock. So this would mean that there exis

[2020-10-20 12:41] wtarreau commented on #881
Oh and by the way we should create a new issue for this, that's definitely not related to leastconn at all anymore, we're completely polluting this initial entry which was a bunch of design notes and which should not have been fed with a bug :-/

[2020-10-20 12:55] jaroslawr opened #908 "HAProxy stuck with high load after a traffic spike"
## Detailed description of the problem

After a connection spike triggered by taking  some backends down, HAProxy starts to saturate all of its CPUs and persists like this after the spike is gone.

## Expected behavior

CPU usage goes back to normal levels after a connection spike.

## Steps to reproduce the behavior

Trigger a spike of new connections.

## Do you have any idea what may have cause

[2020-10-20 12:56] jaroslawr commented on #881
@wtarreau I created this: https://github.com/haproxy/haproxy/issues/908. I confirm the thread dumps were from a live instance, serving traffic.

[2020-10-20 13:08] wtarreau commented on #908
(continuation of #881)
Thanks for splitting it here! So if these were taken on live traffic, it would mean there is possibly no deadlock, otherwise the watchdog would have killed them. Still I can't figure in the trace where it could be past the proxy's lock. This means the threads are making progress, albeit very slowly. Hmmm just makes me think, could you please check using `free` that there is

[2020-10-20 13:19] jaroslawr commented on #908
@wtarreau There is no swap.

[2020-10-20 13:32] wtarreau commented on #908
It could help to rebuild with -DDEBUG_THREAD. Then once it does this, you'll have to enter gdb, attach as you did, and print the contents of the lock (`print lock`, `print p->lock` or `up` then `print p->lock` depending where you're stopped). It will contain the name of the last function having successfully taken the lock, with the line number. Also please check `p->srv`. One risk I identified is

[2020-10-20 13:45] jaroslawr commented on #908
@wtarreau We serve on the order of 100 000 requests / s with each HAProxy instance. We have servers with 2 NUMA nodes, on each server we run two seperate HAProxy instances, each instance is pinned to CPUs within the same NUMA node. This is the best setup we figured out given the hardware. I will try to do some debugging as you suggested.

[2020-10-20 13:48] wdauchy commented on #902
@chipitsine now merged, you can close this issue

[2020-10-20 13:52] wtarreau commented on #908
OK so you have 38 CPUs inside a single socket ? In this case I guess it's a 20-core 40-thread and you kept 2 available for admin etc, right ?

At 100krps, indeed it's possible that the contention on the lock starts to count because since no server is pre-assigned, we're using the proxy's queue and its lock. Maybe we could have another approach (via yet-another option), consisting in never queuing

[2020-10-20 13:57] wtarreau commented on #908
We could also revisit the dequeue mechanism to use finer locks. While it's OK to lock on a server during the operation, we ought to be able to pick *any* of the proxy's pending connections with a very short-lived lock because we don't care what server will be assigned what connection there.

[2020-10-20 14:05] jaroslawr commented on #908
@wtarreau Correct, 20 cores and 40 threads on a single socket.

Regarding queuing - we have `maxqueue 1 maxconn {no of cores/2}` configured on the servers and `timeout connect 30` on the backend to prevent queuing, with the traffic we are serving we prefer shedding load and we do not need to worry about clients receiving resets etc. So the per-server queue counter just stays at 0. However, the two

[2020-10-20 14:10] wtarreau commented on #908
OK that definitely makes sense.
I'm seeing how I could rework pendconn_process_next_strm() to make it mostly lockless (proxy-wise). Since entries are ordered in the queue, we can cache the info of the first entry for as long as we don't dequeue a proxy's entry, and recheck it under the lock when it's decided to go with it. In case only the proxy's queue is used (as in your case), this would mean t

[2020-10-20 15:33] #902 closed, assigned to nobody

[2020-10-21 10:21] jaroslawr commented on #908
@wtarreau I took a thread dump with -DDEBUG_THREAD. I hope I understand correctly that just doing `thread apply all bt` already includes the information about what took the lock:

[code]

[2020-10-21 12:39] rfrail3 opened #909 "Deleting headers based on regex - alternative to reqdel / rspidel on 2.x"
##  What should haproxy do differently? Which functionality do you think we should add?

Haproxy previous 2.x had the option to delete headers based on regex, for example:
`rspidel ^X-.*`
Now, as req* and rsp* are removed, there aren't any alternative to use.

## What are you trying to do?

An equivalent to match headers based on regex:
`http-response del-header ^X-.*`

## Output of `haproxy -vv`

[2020-10-21 12:53] lukastribus commented on #909
Warning is:

    [ALERT] [...] : The 'rspidel' directive is not supported anymore since HAProxy 2.1. Use 'http-response del-header' instead.

But as the OP says, `http-response del-header` does not support regex expressions.

[2020-10-21 16:13] jaroslawr commented on #908
I just realized what I wrote doesn't make sense, I will repeat the tests tomorrow and collect the neccessary info, I was just confused by the line `__spin_lock (file=...)` ...

[2020-10-21 19:01] wtarreau commented on #908
No problem! By the way, I've made some progress on the lock reduction there. Probably that tomorrow I'll be able to propose you to update and try again. The goal is to significantly reduce the portion of code covered by the proxy lock which is under strong contention here. I should be able to reduce it by 3-5 I think.

[2020-10-21 19:28] chipitsine opened #910 "src/extcheck.c: coverity suspects unchecked return"
[code]

[2020-10-21 19:30] chipitsine opened #911 "src/stick_table.c: coverity suspects null pointer dereference"
[code]

[2020-10-21 19:35] chipitsine commented on #905
I attached longer report

[2020-10-21 19:48] chipitsine commented on #907
should we add building halog as a part of CI ?

[2020-10-21 20:51] sodabrew commented on #898
As a fellow user of the SRV functionality, I found the implementation updates in HAProxy 2.2 to be really valuable to reduce load on my Consul DNS server. I think some related bugs have been fixed in 2.2, so you might find better luck on that major.

That said, this looks like a bug worth running down in 2.0 as well.

[2020-10-22 03:09] wtarreau commented on #907
We've disabled this warning in the main makefile. I think it would be reasonable to remove -Wall from halog's makefile, as the warnings triggered there are not as relevant as the main ones considering that the code is imported from the main includes.

Ilya, I agree with you that it would be a good idea to build it at the same time, just like debug/flags and promex. We broke them a few times alread

[2020-10-22 03:20] wtarreau commented on #907
I finally committed a small change on top of this. @wdauchy you should now be able to simply build like this: `make contrib/halog/halog" and it should not complain anymore. Ilya if you want you can include contrib/halog/halog and contrib/debug/flags to your build process.

[2020-10-22 03:41] brian-pane opened #912 "Crash in h2_send in HAProxy 2.2.4"
## Detailed description of the problem

We've seen occasional crashes of HAProxy when processing HTTP/2 requests from clients. The steps needed to reproduce the crash are unknown, but we have a core file from the most recent crash on a production system.

## Expected behavior

Return cleanly from `h2_send`

## Steps to reproduce the behavior

Unknown

## Do you have any idea what may have caused t

[2020-10-22 07:06] wdauchy commented on #907
@wtarreau thanks!

[2020-10-22 07:06] #907 closed, assigned to nobody

[2020-10-22 07:08] capflam commented on #912
Its interesting. It seems to be similar to #875. The dump of your `h2c` is really useful. I think I understand how a loop in `h2_send()` is possible.

The `h2c` is in state `H2_CS_ERROR` with the error code `H2_ERR_NO_ERROR`. It only happens when the task timeout is expired. In this case, the task callback function is called. It is confirmed because `h2c->task` is NULL. If the `mbuf` ring is full

[2020-10-22 07:30] capflam commented on #875
@wdauchy , take a look at #912. It looks quite similar to your crash. If it still happens or if you still have the core file, it may be interesting to print the `h2c`.

[2020-10-22 08:02] wdauchy commented on #875
@capflam I do not have the core file anymore I think but @wtarreau might still have it

[2020-10-22 12:17] mcarbonneaux opened #913 "ability to rewrite http response body ?"
## Which functionality do you think we should add?

ability to modify on the fly the input or output stream with lua, [fastcgi filter](https://fastcgi-archives.github.io/FastCGI_Specification.html#S6.4) or spoa.

## What are you trying to do?

intercept/modify the request/response of the real application behind the reverse proxy to correct/patch the response or the request to make bad coded applic

[2020-10-22 13:00] jaroslawr commented on #908
@wtarreau Here is the info you requested. I applied this:
[code]

Using this gdb script:

[code]

And got this:
[code]

[2020-10-22 14:27] wtarreau commented on #908
Many thanks for this very useful trace. First, it confirms we're in front of contention and not an infinite loop or such a bug: the lock was caught in the process of being taken over by a thread which waits on __SPIN_LOCK() in __spin_lock(), which explains that the lock is 0x10004 and that the last accessor is the unlock in pendconn_unlock(). This is really perfect! In the lock waiters, I'm counti

[2020-10-22 14:55] wtarreau commented on #908
I'm wondering if we shouldn't slightly change the server's `maxqueue` semantics so that it better respects what it's supposed to do, i.e. queue *up to* this number of requests on the server regardless of the backend's queue. In this case most of the queue entries would be in the servers rather than in the backend and there would not be any contention. However we need to be careful about this, so t

[2020-10-22 15:24] capflam commented on #912
I pushed a fix for this issue. I will backport it soon. Thanks !

[2020-10-22 15:25] wdauchy commented on #875
@capflam sorry, in fact I still have it
[code]

[2020-10-22 15:28] capflam commented on #875
Cool ! It is really useful. It is the same bug than #912. I pushed the fix.

[2020-10-22 15:28] wtarreau commented on #875
Excellent, it's the same, isn't it @capflam ? 8194 = MFULL+GOAWAY_FAILED!

[2020-10-22 15:28] wtarreau commented on #875
We typed at the same time :-)

[2020-10-22 15:29] wlallemand commented on #785
I've backported 8e8581e to 2.2.

[2020-10-22 15:31] wdauchy commented on #875
thanks guys!

[2020-10-22 15:39] capflam commented on #912
backported to 2.2 now. If it is possible, it could be good to validate the fix.

[2020-10-22 15:40] capflam commented on #875
backported to 2.2 now. If it is possible, it could be good to validate the fix.

[2020-10-22 15:41] wdauchy commented on #875
I'm not sure I can validate it as it seems a very rare event in our datacenters but I can surely backport it in our branch while waiting for the next minor release.

[2020-10-22 15:44] capflam commented on #875
I understand. But you can still validate it does not break anything else :) It is very unlikely but who knows...

[2020-10-22 16:07] rustyx opened #914 "gRPC via HTTP/2 proxy unable to reconnect after server restart, error 503"
## Detailed description of the problem

It seems that gRPC can't handle stream reconnections in combination with haproxy and kubernetes.

When the grpc pod is restarted, the client keeps on getting HTTP 503 Service Unavailable error even after the service is back up.

Keepalives on both server and client side are enabled, to no avail.

Restarting the haproxy pod "solves" the problem.

## Expected

[2020-10-22 16:33] wtarreau commented on #908
@jaroslawr I've done what is described above in commit 8ae8c48eb ("MEDIUM: fwlc: re-enable per-server queuing up to maxqueue"). It will not change anything if you don't set maxqueue but if you set maxqueue on your servers, the extra connections will first queue into the servers before queuing into the backend. This has doubled the performance for me with only 8 threads and 100 servers. Feel free t

[2020-10-22 16:52] jaroslawr commented on #908
@wtarreau Thanks! We have `maxqueue 1` on all the servers. One thing I don't understand: doesn't https://github.com/haproxy/haproxy/commit/b7ba1d901174cb1193033f7d967987ef74e89856 undo https://github.com/haproxy/haproxy/commit/fac0f645dff9fb1854db32da9fa7c317eaaeede1 (the fix for #880) ?

[2020-10-22 19:07] mcarbonneaux opened #915 "luajit support ?"
## What should haproxy do differently?

- the luajit are more performante than lua 5.4 (that is allready more performante all lua precedante version)....
https://luajit.org/performance_x86.html
https://eklausmeier.wordpress.com/2020/05/14/performance-comparison-pallene-vs-lua-5-1-5-2-5-3-5-4-vs-c/

- more ligth in memory foot print...
- native support of ffi.

[2020-10-22 19:31] chipitsine opened #916 "reg-tests/ssl/ssl_client_auth.vtc fails on LibreSSL-3.2.2"
[code]

[2020-10-23 04:18] wtarreau commented on #908
Damn, you're right! :-(  This one was so odd it's not obvious, and I should have put a comment close to this to explicitly state that we must not dereference this one out of the lock :-( Feel free to revert it for your tests. You'll probably have to slightly increase maxqueue a little bit to really see the effect (I had very good results at 3 already). What really matters to me is the ability to r

[2020-10-23 08:04] wlallemand commented on #915
We already talk about this a long time ago, If I remember correctly the problem was that HAProxy require at least lua 5.3 and luajit only implements the 5.1 version. One of the problem was the yield implementation which is a requirement in HAProxy. Maybe it's possible to do this now with luajit, we should take a look at this.

[2020-10-23 08:33] wlallemand commented on #916
I'm taking a look at this, that's strange, libreSSL didn't return the error code for an expired certificate.

[2020-10-23 08:37] serimin commented on #785
It works well.
But this option does not seem to be compatible with "set ssl cert, etc" command.

[2020-10-23 09:48] wlallemand commented on #785
The problem is that the path of each file is not stored, only the path of the "crt" is indexed. So when you are doing a commit this is not a problem, but if you do a "set" with a ".key", haproxy is not able to know what was the extension of the corresponding crt.

So it's a little bit difficult to fix with the current architecture, you will still need to set ".key" at the end of the current path,

[2020-10-23 09:57] wtarreau commented on #915
Yep that's it. LuaJit seems very well suited for games and such well-controlled environments where performance is very important, but not much for anything subject to potentially hostile activity, especially since being limited to Lua 5.1, it cannot yield after a predefined number of instructions!

I'd say that most Lua users don't seek performance here but flexibility. For now one single thread r

[2020-10-23 09:59] wtarreau commented on #908
By the way I fixed it. I've run tests with and without the optimization, and even wiht plenty of timeouts striking in the queue, the performance gain remains negligible in my measurements, so I'm not going to work on this again for a while I guess.

[2020-10-23 10:01] wtarreau commented on #908
Also it's interesting to see that when timeouts strike, the function is called with exactly half of the times having to delete something. I think we delete once during the timeout and again on free. We might figure a valid and reliable condition to avoid this at all if needed.

[2020-10-23 10:16] wtarreau commented on #814
Hi @tmccombs

Sorry for the lag. I don't seem to have a link to such a discussion, but the general principle is the following: right now stickiness is performed by exchanging server IDs, these IDs being unique within a backend. Given that most people don't set them, many end up with dynamic IDs simply corresponding to the position of the server in the farm. For some users it was a problem because

[2020-10-23 10:20] wtarreau commented on #909
I remember we've had a discussion around this in the past, saying that if there were ever still a need for this (with ^X-* probably being the only remaining one), we'd possibly implement something using a prefix. We even have something like this internally in HTX so I don't know what it would cost to implement `del-header-prefix <prefix>`.

[2020-10-23 10:39] chipitsine commented on #916
I did a quick look, seems a regression on LibreSSL side. I'll try to bisect on weekend

[2020-10-23 10:44] chipitsine opened #917 "src/queue.c: null pointer dereference suspected by coverity"
[code]

[2020-10-23 11:11] rfrail3 commented on #909
Yes, you're right, the discssion was here:

[https://www.mail-archive.com/haproxy@formilux.org/msg36060.html](https://www.mail-archive.com/haproxy@formilux.org/msg36060.html)

[2020-10-23 11:23] jaroslawr commented on #908
@wtarreau I repeated the tests using the newest snapshot and with https://github.com/haproxy/haproxy/commit/b7ba1d901174cb1193033f7d967987ef74e89856 reverted, I still get the same failure mode with some instances spinning up the CPUs but now I guess this happens via hammering of a different lock, I attach a thread dump just for the sake of completeness.

In any case, I figured out a way to achieve

[2020-10-23 11:24] jaroslawr commented on #908
[code]

[2020-10-23 12:16] wtarreau commented on #908
This trace is significantly better, it shows that the acitvity spreads over groups of threads, so the recent changes improved the situation. I really suggests that you slightly increase your maxqueue. The leastconn algo is excellent at preserving fairness, and if you were willing to accept up to 30ms of queuing for 5ms of regular response time, you can increase your maxqueue to 6 and you'll possib

[2020-10-23 12:44] wtarreau commented on #909
Ah yes, thanks! Indeed, the discussion derived after discussing about the segfault and nobody went back on it :-(
I'll ask if anyone has a bit of time to devote to this, I agree it's important.

[2020-10-23 12:52] jaroslawr commented on #908
@wtarreau You are correct with all the suggestions, I did some experiments with the settings around similar lines and I hope I will eventually figure this out. Thanks for all the help!

[2020-10-23 12:52] #908 closed, assigned to nobody

[2020-10-23 13:01] wtarreau commented on #908
You're welcome, thanks for your tests!

[2020-10-23 14:00] wlallemand commented on #785
What I could do is change a little bit the behavior, we could force the "crt" file to have a ".crt" extension as a requirement for this feature. It's less flexible but it make more sense and it's easy to replace the extension by ".crt" before the lookup

[2020-10-23 14:04] abarbare opened #918 "Wrong backend selected with http-check"
## Detailed description of the problem

Haproxy seems to not redirect traffic based on HTTP health check when it is subjected to configuration reload

In a simple frontend/backend deployment with http-check based healthcheck, Haproxy redirect to a backend whiwh doesn't pass the healthcheck when reloading its configuration.

## Expected behavior

The selected backend server should always match the

[2020-10-23 14:59] tplueer opened #919 "Haproxy peers section not respecting init-addr none"
## Detailed description of the problem

It seems like the haproxy peers section is not respecting the option init-addr when starting up. If one of the servers inside the peers section is not reachable / resolvable during startup it just fails with invalid address.

When the server which is not resolvable is commented out it starts working.

## Expected behavior

Since the documentation says the se

[2020-10-23 16:36] wtarreau commented on #898
It indeed looks like a bug. I'm always extremely cautious regarding state files because they're missing some info to figure who has precedence (conf or state file) on certain fields, and when changing one in one direction, we usually break someone else's usage.

Hmmm thinking about it twice, there's "init-addr none" in your config, which says that haproxy will always start with no address for thes

[2020-10-23 16:43] wlallemand commented on #785
The above commit should fix this, I also added a reg-test which test this with "set ssl cert".

[2020-10-23 17:07] mcarbonneaux commented on #915
i'm evaluating open source alternative for migration from proprietary lb that make possible the use of scripting extensivly to manipulate traffic.
is why i'm interogate me on the performance of the scripting language of using lua vs luajit...

[2020-10-23 17:17] wlallemand commented on #785
Unfortunately I won't backport this to 2.2, the CLI still has the bundle code and I don't want to risk to break it, so I'm still reverting this in 2.2.

[2020-10-24 06:45] wtarreau commented on #915
If you need to manipulate traffic, you really want to be absolutely certain you can't loop forever in a script by accident, something that luajit cannot offer but lua does. However if you need to do a lot of things on traffic, there are filters in haproxy. They're used for compression or caching for example. You could very well write your own filter to perform your processing using native code. Yo

[2020-10-24 10:40] wtarreau commented on #919
For me, neither the checks nor the resolvers are supported there, thus by definition a number of keywords cannot be supported. I'm surprised by the wording if it says it supports the same keywords :-(  Those which are supported are the ones related to the transport layer (i.e. how to configure SSL, mutual-auth, SNI etc to communicate with other nodes). I guess a doc update is needed.

Just out of

[2020-10-24 10:51] wtarreau commented on #918
I think this stems up from a misunderstanding of how reload works. The reload starts a new process and lets the older one finish and quit. The new process starts its checks as well and there will be a short window during which the servers are temporarily seen as available. If you want to propagate the check state from the previous to the new process, please have a look at the `server-state-file` a

[2020-10-24 11:01] wtarreau commented on #917
Definitely a valid one that I introduced two days ago, thanks Ilya, now fixed!

[2020-10-24 11:03] wtarreau commented on #911
This one cannot happen, it's guarded by the test above `if (!t->data_ofs[data_type])` which validates that the data type is stored, hence the pointer is always valid here.

[2020-10-24 11:09] wtarreau commented on #910
Right indeed, just addressed as well, thanks Ilya!

[2020-10-24 11:13] wtarreau commented on #914
This sounds odd, it sounds like a failure to signal the end of the front H2 connection after the last stream when stopping, and failure to process new connections on the backend. Have you tried with an up to date version ? Yours is 7 months old and is affected by 171 known bugs: http://www.haproxy.org/bugs/bugs-2.1.4.html

[2020-10-24 11:33] tplueer commented on #919
Yes I think so. The [2.2 docs](https://cbonte.github.io/haproxy-dconv/2.2/configuration.html#3.5) say:
[code]
The 5.2 paragraph contains the init-addr parameter.

I have a dynamic haproxy environment which consists of a minimum of three nodes which all share the same config and should also share the same rate limits counters etc.

During startup each of the instances gets started one after another

[2020-10-24 11:39] chipitsine commented on #911
I've marked as false positive

[2020-10-24 11:39] #911 closed, assigned to nobody

[2020-10-24 12:17] wtarreau opened #920 "server downtime is always zero"
## Detailed description of the problem

I noticed on stats.haproxy.org that when the 1wt.eu server was down, its `downtime` was equal to the `lastchange`, and that once it got back up, downtime became zero, while it's supposed to be cumulative.

## Expected behavior

`downtime` should be the total down time since the process started.

## Steps to reproduce the behavior

I need to check if I can re

[2020-10-24 12:28] wtarreau opened #921 "TotalBytesOut in show info is lower than the frontend's bytesout!"
## Detailed description of the problem

I noticed while reloading haproxy on haproxy.org that in 2.3-dev7 (at least) we can have the per-process total bytes count lower than just the first frontend's total bytes out!

## Expected behavior

Reading the stats makes me think that we should have the per-process bytesout higher than just the main frontend's.

Either we have an issue with the frontend's

[2020-10-24 14:28] wtarreau commented on #921
Looking at the tooltip when hovering the bytes out, it appears that the number indeed matches the bytes in on the response path. So this is a doc issue (and a terminology issue on "in" vs "out" on the HTML page).

[2020-10-24 17:34] chipitsine commented on #916
LibreSSL-3.2.1 = Ok
LibreSSL-3.2.2 = Broken

[2020-10-25 07:11] chipitsine commented on #916
patch is already on ML: https://marc.info/?l=openbsd-tech&m=160342475819170
let us wait for 3.2.3

[2020-10-25 09:22] #917 closed, assigned to nobody

[2020-10-25 09:22] #910 closed, assigned to nobody

[2020-10-25 09:34] chipitsine opened #922 "include/haproxy/stream_interface.h: unchecked return value suspected by coverity"
[code]

[2020-10-25 09:37] chipitsine opened #923 "src/http_ana.c: several similar issues suspected by coverity"
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-10-25 11:38] wdauchy commented on #923
I will try to have a look at this one. this looks tricky

[2020-10-25 11:50] TimWolla commented on #923
These look like the warnings emitted by clang's scan-build. Without looking at those in detail I would assume that half of them could be marked as intentional, because otherwise future changes could introduce subtle bugs.

[2020-10-25 12:47] wdauchy commented on #923
I agree. The only one valid is `att_beg = next;` at the end of the loop, as `prev = next`, and `att_beg = prev` at the beginning of the loop. I will send a patch for this.

[2020-10-25 14:07] chipitsine opened #924 "build fails on reg-tests/seamless-reload/abns_socket.vtc"
failed build: https://github.com/haproxy/haproxy/runs/1290002082?check_suite_focus=true

[2020-10-25 14:34] chipitsine opened #925 "h2spec 2.6.0 failures"
[code]

[2020-10-25 14:45] chipitsine commented on #923
I've marked all except 1403574 as intentional

[2020-10-25 14:45] #923 closed, assigned to nobody

[2020-10-25 14:46] chipitsine opened #926 "src/log.c: resource leak suspected by coverity"
[code]

[2020-10-26 09:15] rustyx commented on #914
Version 2.2.4 seems to be working better indeed. Thanks

[2020-10-26 09:15] #914 closed, assigned to nobody

[2020-10-26 09:58] abarbare commented on #918
Hello @wtarreau
Thanks a lot for your answer 🙏
Indeed, I tough the new process will start to apply healthcheck right after its startup.
As you said `server-state-file` and `load-server-state-from-file` mitigate this behaviour.

The reload is performed after ACL update on frontends as well as inserting or deleting new frontends/backends on mutualized load balancers. Some clients started to be redir

[2020-10-26 09:58] #918 closed, assigned to nobody

[2020-10-26 12:20] ehocdet commented on #895
@chipitsine, "BUG/MINOR: disable dynamic OCSP load with BoringSSL" is a regression!
Origin bug:  https://github.com/haproxy/haproxy/commit/76b4a12591b6cea2fdfe80a5b2175a2d44c02a85 :  ssl_sock_free_ocsp() shoud be in #ifndef OPENSSL_IS_BORINGSSL

[2020-10-27 08:39] wtarreau commented on #925
Here, given the "connection reset by peer", I suspect that it's just that we send the GOAWAY and close, and that some unread data were still present in the socket buffers, causing a reset to be emitted with the deletion of the just queued GOAWAY frame. I'm saying this because I don't see any situation where we close without sending the error. I see that h2spec sometimes expects "connection closed"

[2020-10-27 08:43] wtarreau commented on #925
By reworking the H2 error handling so that errors are no more a special state but a flag instead (already explained in I-don't-remember-which issue), we could possibly help drain pending data from the request before closing and improve the situation here. I'm going to tag this as "future fix" because there's definitely something we should do to improve this situation.

[2020-10-27 08:47] wtarreau commented on #922
I'd tag this as intentional, there's no particular error case to be dealt with here, and the status report will be reflected by the called function setting the desired flags. Let's tag this as FP.

[2020-10-27 08:55] wtarreau commented on #926
That's a valid one, fix to be backported as far as 2.0. And there was another leak in it, logsrv->ring_name. Anyway the impact is null for now because in case of error we quit :-)

[2020-10-27 08:58] chipitsine commented on #925
I also noticed that SSL and H2 layers expect some signalling before tcp connection is closed. I think it's non needed overhead, extra packets are sent on wire.

maybe we should adjust h2spec invocation and mute those tests

[2020-10-27 08:59] chipitsine commented on #922
I've marked as intentional

[2020-10-27 08:59] #922 closed, assigned to nobody

[2020-10-27 09:03] StanleyP opened #927 "SPOA-SERVER: http-request/http-response send-spoe-group: errors / missing messages when used multiple times"
## Detailed description of the problem

I am using SPOE to offload some processing from main HAProxy process. In my scenario I need to call SPOA multiple times during request/response processing, exactly 2x during request processing and 2x during response processing.

But only first occurence of http-request/http-response send-spoe-group is called as seen from SPOA logs. After couple of seconds, 2

[2020-10-27 09:05] fabiohecht commented on #919
I have the same issue. I'm trying to create 3 HAProxy pod replicas in a K8s StatefulSet. They all share the same config, so `peer` comes in handy (since `server` does not allow referencing the own instance). When the first replica starts, the other 2 names cannot be resolved yet, so `init-addr none` would solve the issue. Is there a workaround (other than generating a different config file for eac

[2020-10-27 09:40] wtarreau commented on #925
If these are always the same, in the short term it could be a reasonable approach, yes, as both the behavior and the reaction to a client's protocol error are suitable to deal with that, it's just that it can have some rough edges :-/

[2020-10-27 11:06] xuxiaodi0 opened #928 "Redis Get/Set Command Recognition"
## What should haproxy do differently? Which functionality do you think we should add?

Recognize Redis Get/Set command, accroding to redis tcp data.
So different command can go to leader or read-only follower redis node.

## What are you trying to do?

## Output of `haproxy -vv` and `uname -a`

[code]

[2020-10-27 13:09] wtarreau commented on #928
This is the sample principle as what some would like to see for MySQL, which we studied 5 years ago. It's not that black and white however because in practice it requires to completely analyse the redis protocol (like we do for HTTP) and to stay in sync with its requests/responess. So it's not just a matter of pattern matching but of properly dealing with full transactions. Also I don't know if it

[2020-10-27 13:14] TimWolla commented on #928
Redis supports transactions that need to go to a single node: https://redis.io/topics/transactions. And there's also stuff like this: https://redis.io/commands/client-reply

[2020-10-27 13:24] wtarreau commented on #928
Thanks Tim. So indeed, exactly like for MySQL, there are test-and-set operations which must be delivered exclusively to the write node.. One of the MySQL devs once explained us that it was pointless to perform R/W splitting on most applications because many of them use such features, and you quickly end up sending most of your traffic to the write node anyway. From your links above it looks lie th

[2020-10-27 17:35] TimWolla commented on #821
Marking as fixed and closing. Thanks @rlebreton!

[2020-10-27 17:35] #821 closed, assigned to nobody

[2020-10-27 17:37] TimWolla commented on #900
This is implemented now.

[2020-10-27 17:37] #900 closed, assigned to nobody

[2020-10-27 17:53] chipitsine opened #929 "src/hlua.c: uninitialized variable suspected by coverity"
[code]

[2020-10-27 17:58] capflam commented on #927
It is an issue with the spoa_server. Please see https://www.mail-archive.com/haproxy@formilux.org/msg38484.html and #705.

Here you have 2 agents, not sharing their connections. In debug mode, the spoa_server does not create workers. Thus the connection opened by the first engine, in `http` frontend, will block any new connection attempts from the second engine, in `local` backend.

It is a design

[2020-10-27 18:15] capflam commented on #913
You may be interested to test the lua filter implementation. It is still in development and not heavily tested. But it will probably do the job. Please checkout https://github.com/haproxytech/haproxy-dev-lua-filters.

The documentation is missing and the API must be extended. But your feedback may help to improve the current design.

[2020-10-27 18:16] wtarreau commented on #929
It's unclear but I suspect it complains about LUA_TSTRING oring SMP_F_CONST on the flags that might not yet be initialized. And this seems to be true. We also have this at lines 3508, 3652, and 4136.

I think we need to initialize smp during its declaration. That's the bare minimum.

[2020-10-27 18:20] capflam commented on #929
Agree, it is a bug. And to avoid any problem, I guess the call to `smp_set_owner()` should be moved before `hlua_lua2smp()`

[2020-10-28 04:03] chipitsine commented on #929
yes, there are 2 issues more

[code]

[code]

[2020-10-28 07:56] StanleyP commented on #927
Thanks a lot for explanation/clarification.

So if I understand the issue correctly, even turning off debug mode on spoa_server and setting nbthread to 1 thread does not guarantee correct processing? Or am I safe with nbthread 1? What is recommended setting of spoa_server in regard to haproxy configuration then?

Does this mean that the whole SPOP/SPOE/SPOA mechanism is still not quite production

[2020-10-28 10:13] StanleyP commented on #927
I have additional question: You wrote "Here you have 2 agents, not sharing their connections." - Does it mean that both `filter spoe ...` commands create separate connections to SPOA? Is there a way to share single connection to SPOA? In my use case I have potentially many backends that need to talk to the same SPOA so connection sharing could be useful.

[2020-10-29 00:37] lukastribus commented on #90
Just documenting the workaround from @Supermathie with a two changes:

* replaced X-F-F with `cf-connecting-ip` (X-F-F can contain multiple IPs)
* denying direct access to this domain

[code]

And for automatic and atomic updates of the file, I call wget from cron, save to temporary file and rename:

    wget "https://www.cloudflare.com/ips-v4" -qO /etc/cloudflare/ips-v4.tmp && mv /etc/cloudflare/

[2020-10-29 09:43] capflam commented on #927
It really depends on your traffic and the number of spoa_server workers. But because each worker accepts only one connection and processes only one message at a time, you may easily hit the spoe processing timeout because messages are queued waiting to be processed. The spoa_server processes messages synchronously. Thus N spoa_server workers will only be able to process N messages at a time. It is

[2020-10-29 10:55] StanleyP commented on #927
Thanks again for the your answers and clarifications!
If I understand correctly the spoa_example supports all advanced features like async processing, pipelining so it won't be subject to the limitation of spoa_server.
I will try to write new spoa based on spoa_example as you suggested.
We can close this issue or I can report my progress with spoa_example and close later.
Take care.

[2020-10-29 11:06] capflam commented on #927
Ok, I close it. About the spoa-exemple, even in sync mode, there is no such issue because it is event driven and a worker is able to handle several connections concurrently. The only problem with the sync mode is it requires much more connections than pipelining/async mode. But it is easier to implement.

[2020-10-29 11:06] #927 closed, assigned to nobody

[2020-10-29 20:19] capflam commented on #919
As specified in the documentation, the server lines in a peer section only support ip addresses, not hostnames. Thus the `init-addr` option is irrelevant in that case because there is no resolution. For the same reason, it is not possible to configure a resolver.
Note the error message reports a parsing error because `node_2.haproxy.service.consul` is not an ip address.

So it is not a bug and it

[2020-10-30 09:54] fabiohecht commented on #919
Thanks for you message, but I beg to disagree.

I can successfully use hostnames in the peers section, as long as they resolve.

Here is the relevant `peer` section:
[code]

The trick to make it work in my setup is to create all pods with the peers section commented out, so the pods can start and let the K8s service create the DNS names. Then I uncomment the peers section and restart all pods. All

[2020-10-30 10:36] wtarreau commented on #919
Actually the "server" declarations in "peers" sections are not real servers but still peers. They're not checked, nor are part of an LB group for example. This is why here are some limitations. The choice of "server" here was to help document the supported keywords, given that most of them are in fact related to the setup of the transport layer. Some users use TLS with mutual auth here and that's

[2020-10-30 10:54] tplueer opened #930 "Don't ignore init-addr keyword inside peers section"
## What should haproxy do differently? Which functionality do you think we should add?

Referring to #919 HAProxy should be capable of handling the init-addr keyword on the peer section so peers which are not reachable during startup are ignored / disabled.

## What are you trying to do?

The haproxy peers section is not respecting the option init-addr when starting up. If one of the servers insid

[2020-10-30 10:59] tplueer commented on #919
I've create a feature request #930 to support init-addr parameter inside the peer section.
Should this issue be closed then or do you need it to stay open for the documentation update ?

[2020-10-30 12:27] lukastribus commented on #919
Please leave it open as the documentation needs to be addressed.

[2020-10-31 08:25] chipitsine opened #931 "src/cfgparse.c: resource leak suspected by coverity"
[code]

[2020-10-31 09:34] sodabrew commented on #898
Similar issues regarding `server-template` with state files: #620, #669

@wtarreau I think `init-addr last` [[docs]](https://cbonte.github.io/haproxy-dconv/2.2/configuration.html#5.2-init-addr) is the correct command for fetching from the state file? However, in #620, the reported config has this config (below) but the reporter still sees that DNS lookups are not activated on reload.

[code]

[2020-10-31 12:33] mcarbonneaux commented on #913
the idea are interesting! any exemple to start testing ?

[2020-10-31 23:20] hiqsociety opened #932 "How do you rate limit by domain name / host?"
I only saw "Rate Limit by URL" but how do i rate limit by domain name /  host?

[2020-11-01 07:28] jaroslawr opened #933 "Idle backend connections stop being purged"
## Detailed description of the problem

In a cluster of HAProxy instances receiving similar traffic one of the instances will spontaneously stop purging idle connections in circumstances that do not look particularly notable (in terms of requests/s, connections/s, errors etc.). An instance like this will slowly accumulate more and more connections as hours pass.

## Expected behavior

Idle connect

[2020-11-01 09:10] jmagnin commented on #932
This issue tracker is for tracking bugs and feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to the list: haproxy+subscribe@formilux.org
- Unsubsc

[2020-11-01 09:10] #932 closed, assigned to nobody

[2020-11-02 13:27] yoshz opened #934 "Haproxy doesn't recover NOLB status after a server went down"
## Detailed description of the problem

We have various servers configured with **http-check disable-on-404** which get a NOLB status when the check endpoint responds with a 404.
However when the server is temporary down and comes back up again, Haproxy doesn't change the status from DOWN to NOLB.

## Expected behavior
After a server was DOWN, the server should go back to NOLB again when the check

[2020-11-02 18:10] chtsanti opened #935 "Memory leak when upgrading from tcp frontend to http backend"
## Detailed description of the problem

The haproxy2.1 is used however the bug exists also in haproxy2.2  and in haproxy master branch.

A very simple configuration is used, with a simple tcp frontend which forwards to a http backend.
The command:
     ```# echo "show pools" | socat - /tmp/haproxy_admin.sock```
 shows that a pool, in my case the "email_alert", is constantly growing. In the product

[2020-11-02 21:17] capflam commented on #935
I confirm the leak. I will fix it soon. Thanks !

[2020-11-02 21:33] ageric commented on #680
There's a good implementation of the QUIC protocol at https://github.com/h2o/quicly in case you run into issues.

[2020-11-03 04:34] wtarreau commented on #680
Yep, thanks. Each stack will be very specific to its environment and can not necessarily be easy to port to another one. However the availability of other stacks is critical for interoperability tests and to clear out some doubts about certain specs interpretations.

[2020-11-03 09:21] capflam commented on #913
Here is small example based on the one you provided :

[code]
To use this filter, add the following line in your frontend/backend section:

[code]

Sorry, it is still in development and not documented for now. And it is a low-level API. Thus it is not obvious to know how to write a Lua filter. I hope to work on it for the 2.4 release. But the idea is to register a filter using `core.register_filte

[2020-11-03 10:12] VigneshSP94 opened #936 "Segmentation Fault if proto is used"
### Output of` haproxy -vv` and `uname -a`

[code]

### What's the configuration

[code]

### Steps to reproduce the behavior

1. Use haproxy 2.2.3/2.2.4
2. Add a server with `proto h2` to a backend

### Actual behaviour

When we add a backend like below and reload the process, haproxy ends up in segmentation fault.

[code]

`Oct 30 07:51:03 hapservername[19668419.437037] haproxy[pid]: segfault at

[2020-11-03 10:17] capflam commented on #935
Should be fixed now in 2.3-dev.

[2020-11-03 12:15] capflam commented on #936
I'm unable to reproduce your bug. Note that your server is not configured to use SSL connections. Thus, replacing `proto h2` by `alpn h2` just disables the HTTP/2 for this server. In all cases, you will establish clear connections on your server. Another point, you configure HTTP/1.1 healthchecks, however, the version will be replaced by HTTP/2 because the healthchecks will inherit the protocol fr

[2020-11-03 13:46] wlallemand commented on #924
I can reproduce both failure without the openssl no deprecated feature.

The abns_socket one is marked "broken" so it shouldn't be launched, however I found out that it is not that broken and there might be a real bug, but we should definitely avoid launching "broken" reg tests.

[2020-11-03 14:00] chipitsine commented on #924
hmm, indeed we run all tests. I'll send a patch

[2020-11-03 14:18] chipitsine commented on #924
I did not try to bisect yet. I'll try soon

[2020-11-03 14:38] wlallemand commented on #924
I already bisected the abns_socket one, the problem was caused by 87acd4e
("BROKEN/MEDIUM: listeners: rework the unbind logic to make it idempotent").

Regarding the second one I can't make it work even with the commit that introduced it.

[2020-11-03 14:52] chipitsine commented on #924
second one may require some additional features like PCRE. we can enable features one by one

[2020-11-03 15:14] wlallemand commented on #924
It does not need PCRE, the regex are the PCRE one of vtest, they are not within the HAProxy configuration.

[2020-11-03 16:28] capflam commented on #935
Now backported in all versions. Thanks !

[2020-11-03 16:28] #935 closed, assigned to nobody

[2020-11-03 16:29] capflam commented on #926
Now backported to all versions. Thanks !

[2020-11-03 16:29] #926 closed, assigned to nobody

[2020-11-03 16:43] wlallemand commented on #924
@chipitsine Is it possible to have the detail of these vtest errors because I'm not even sure of reproducing the same issue? Thanks

[2020-11-03 17:15] mshkrebtan commented on #508
Hello!

I just faced this issue, and here's my little user story.

So, we are running HAProxy in GKE pods which is proxying the requests to an external server on the Internet (via a Cloud Router and Cloud NAT). At some point we started receiving 503's from HAProxy.

When I checked the logs, I was really confused by the error message `Connect() failed for backend https-hostname: no free ports.` We

[2020-11-03 17:29] mcarbonneaux commented on #913
hoo, it's not readable as my exemple but seem to be usable!
i while test it!

there spoe or fcgi filter planed ?

[2020-11-03 17:41] chipitsine commented on #924
I think we should split into 2 issues. I'll provide repro steps for second one later.

[2020-11-03 18:29] chipitsine opened #937 "build fails on reg-tests/checks/tcp-checks-socks4.vtc"
repro steps:

[code]

test output:

[code]

[2020-11-03 18:30] chipitsine commented on #937
this issue is derived from https://github.com/haproxy/haproxy/issues/924

[2020-11-03 18:38] chipitsine commented on #937
reg-tests/checks/tcp-checks-socks4.vtc is marked "slow"
in travis-ci we do not run "slow" tests

[code]

by occasion all tests were enabled for no-deprecated openssl build.
maybe that test is broken by itself ?

[2020-11-03 18:45] wlallemand commented on #937
Yes, that's what I was saying in the initial ticket.

But something is strange with this bug, I can't reproduce it on some machines with the same version of HAProxy. I suspect that something changed in the dependencies. OpenSSL is probably unrelated here.

[2020-11-04 06:05] #929 closed, assigned to a-denoyelle

[2020-11-04 06:05] #920 closed, assigned to a-denoyelle

[2020-11-04 06:06] #912 closed, assigned to nobody

[2020-11-04 06:08] #875 closed, assigned to nobody

[2020-11-04 06:14] capflam commented on #781
The 1.8 doesn't seems to be affected by this bug. I close the issue now.

[2020-11-04 06:14] #781 closed, assigned to nobody

[2020-11-04 06:33] capflam commented on #913
For the fcgi, definitely no. It is not the purpose of the fcgi in HAproxy. It is not an internal feature to process anything. It is just a transcoding format for HTTP transactions on the server side.  For the SPOE, it is on my TODO list since a while. But to support payload filtering, the SPOE must be totally refactored. And until now, I did not find time to do so. Thus, there is no ETA for now, m

[2020-11-04 14:02] capflam commented on #937
Here the bug is that ipv4 and ipv6 are mixed, for an unknown reason. First, ipv6 are not supported by SOCKS4 protocol. But here the error is triggered during the connect because the server family is not the same than the socks4 one. The server family (AF_INET) is used to create the socket, but the connect() is performed with an ipv6 address.

I don't know if there is way to instruct vtest to use i

[2020-11-04 14:35] wlallemand commented on #937
Unfortunately, you can't. It's randomly selected depending on your environment.

[2020-11-04 14:43] wlallemand commented on #937
Basically the problem is that vtest will resolve localhost that could return either ::1 or 127.0.0.1, if you remove the ipv6 from /etc/hosts the problem disappear. An ugly fix could be to replace the address by 127.0.0.1.

[2020-11-04 14:49] VigneshSP94 commented on #936
@capflam thanks for the response, the same config use to work in version 2.0.x.
Did something change?

I tried changing the health check to H2, same results in segfaults.

I will try to get coredump and post it here.

[2020-11-04 14:51] wlallemand commented on #937
It does not look like it's possible with vtest.

[2020-11-04 15:22] wlallemand commented on #937
It's fixeable easily in our own part of VTest with the attached patch.
[0001-vtc_haproxy-VTCP_listen_on-127.0.0.1-instead-of-loca.patch.txt](https://github.com/haproxy/haproxy/files/5488666/0001-vtc_haproxy-VTCP_listen_on-127.0.0.1-instead-of-loca.patch.txt)

I'm submitting this to phk.

[2020-11-04 16:20] chipitsine commented on #916
no need to keep it open

[2020-11-04 16:20] #916 closed, assigned to nobody

[2020-11-04 16:40] wtarreau commented on #936
Same for me, no way to crash it on 2.2.3/2.2.4. Tried H1/H2 for the server, sending checks or not, and checks delivered to H1/H2 port. No luck for now.

[2020-11-04 16:49] capflam commented on #936
For now, it could be good to know if the crash happens because of the checks or not.

@VigneshSP94, the configuration cannot be the same for the 2.0.x because your `http-check send ` line, with `meth`, `ver` and `uri` is only supported since the 2.2. It may be a detail, but the differences may explain the crash. Under what circumstances does the crash occur ? In a test environment ? with or withou

[2020-11-04 17:42] wtarreau commented on #933
I'm a bit confused because I'm seeing very low connection counts above, 1 or less per thread, and the total number seems to be in phase with the estimate (which is based on recent activity). Do you have captures showing a very visible accumulation ?

[2020-11-04 18:45] jaroslawr commented on #933
@wtarreau In retrospect my description of the issue was not very good, it is a stretch to say those accumulate. I attach a graph of TCP ESTABLISHED sockets across different HAProxy instances, the red line that drifted away represents the instance with those excess idle backend connections. The thing that seems strange is that such instance sits with such `show servers conn` for hours - the estimat

[2020-11-04 19:56] chipitsine commented on #933
Is that picture related to single instance? If so, it is very close to ephemeral port exhaustion

[2020-11-04 20:23] shauntarves opened #938 "Peers not syncing"
## Detailed description of the problem

I am using a very simple peer setup in my config file, but the stick-table data does not seem to be syncing. Upon initial startup of peer1, I see (via tcpdump) a bit of traffic to peer2, but then nothing ever gets sent again, even as I change the table data (via stats socket).

## Expected behavior

I expect the peers to communicate with each other over the

[2020-11-04 20:48] jaroslawr commented on #933
The graph shows established sockets in the OS on the servers running HAProxy. This includes both frontend connections and backend connections to different servers, so ports will not be exhausted. I narrowed down the difference between the instance represented by the red line and the remaining instances to the presence of those additional idle backend connections.

[2020-11-05 06:38] wtarreau commented on #933
Then what I understand is that idle connections are doing a marvellous job: by focusing on an accurate estimate, the  just required count remains established most of the time so that you can concentrate tens of thousands of frontend connections into only a few tens of backend connections. Am I missing something ?

[2020-11-05 06:55] jaroslawr commented on #933
@wtarreau Shouldn't the estimate gradually decrease if the connections are not getting used? I might be misunderstanding how it is supposed to work, but for example the doc for `pool-purge-delay` says:

[code]

This has changed now, right?

[2020-11-05 07:05] jaroslawr commented on #933
@wtarreau I also don't understand why this happens only to some single random instance. It doesn't seem to receive any more frontend connections/s or requests/s than the others. Even if I look at the maximum smax value across all backend servers, it isn't larger for the HAProxy instance that started having more backend connections.

[2020-11-05 07:19] wtarreau commented on #933
From what I'm seeing in the code, the principle is the following:
- we keep track of the max used conns over a pool-purge-delay period
- after each period, the estimate need is averaged with the max observed during the period, and the max is reset
- half of the idle connections exceeding the estimated need are destroyed (i.e. (used+idle-max)/2)

This means that if you have no activity past one poi

[2020-11-05 08:03] wtarreau commented on #933
So indeed I confirm that with the current situation it's not possible to go below one connection per thread due to the rounding up. In fact we don't need it since we already sum the previous need with the max_used so it's fine to remove that +1. But it's not enough to totally address the issue, because once we kill half of the idle conns on a server, if it does not have activity anymore, the clean

[2020-11-05 08:23] wtarreau commented on #933
I just pushed the patch above which fixes it for me. Actually a brutal stop of activity would have left all idle conns on the servers without waking up the task. Now the task continused to be scheduled to clear them till there is no more. I always end up with zero after sufficient a pool-purge-delay*log2(nbidle) delay now.

[2020-11-05 09:11] jaroslawr commented on #933
@wtarreau Thanks! I deployed it (cherry picked on top of 2.2) and will monitor it over the next days.

[2020-11-05 11:00] mcarbonneaux commented on #913
FCGI support natively the filtering feature (filter role)...
https://fastcgi-archives.github.io/FastCGI_Specification.html#S6.4
they recieve request stream in FCGI_STDIN, and the data from backend in FCGI_DATA stream, and fcgi send the response to FCGI_STDOUT...

SPOE can be similar...

SPOE seem to be the real killer feature of haproxy, that add real diferentiation with other opensource project.

[2020-11-05 12:28] TimWolla commented on #938
I can't comment on the issue, but I'd like to point out this:

[2020-11-05 12:35] wlallemand commented on #924
This reg-test was reactivated in commit 501c995.

[2020-11-05 12:37] #924 closed, assigned to nobody

[2020-11-05 12:54] capflam commented on #913
I know it is possible with the FCGI. But HAProxy only supports Responder applications. The SPOE is the best solution in term of performance and scalability, but writing a SPOA is not as simple as writing a lua scripts. And it is also easier to add the lua filters support than the body filtering in the SPOE. Both should be implemented of course. It's just a matter of time and complexity.

[2020-11-05 13:13] wtarreau commented on #938
Fred is currently working on an obscure issue where sometimes some peers stop syncing. Please upgrade to 2.2, try to reproduce and share your observations again. It's possible that you've found a bug that is related to what he's trying to catch. Or maybe you're just on an old bug that was since fixed. Hint: 2.2.5 should be issued today with all the latest fixes if that can help.

[2020-11-05 13:19] mcarbonneaux commented on #913
i'm ok with you SPOE is more integreted !

[2020-11-05 15:19] haproxyFred opened #939 "Possible isolated peers sending malformed messages"
## Detailed description of the problem

I am reporting this issue on behalf of a haproxy user who cannot provide very much information for security reasons. This is at least to keep traces about this information, for sharing, and to be able to easily update them.

This user has noticed that under heavy load a haproxy peer  could be isolated, possibly sending  data which could not be decoded by sev

[2020-11-05 15:25] haproxyFred commented on #938
It would be also interesting to collect "show peers" command outputs.

[2020-11-05 15:25] wtarreau commented on #939
Merci Fred!

[2020-11-05 15:26] wtarreau commented on #939
I've added the relevant tags based on the info you currently have.

[2020-11-05 15:28] wtarreau commented on #939
Adding a reference to issue #938 that could possibly be related.

[2020-11-05 15:50] shauntarves commented on #938
@haproxyFred

[code]

[2020-11-05 16:00] haproxyFred commented on #938
As mentionned above, please upgrade to 2.2, then provide us with the same information if you managed to reproduce this issue.

[2020-11-05 16:23] haproxyFred commented on #938
You wrote above this:

"Thus, each haproxy gets started with haproxy -W -db -L web-gateway -f /usr/local/etc/haproxy/haproxy.cfg."

Note that each peer must be started with a different local peer name as provided by -L option.

[2020-11-05 16:38] shauntarves commented on #938
That's interesting, and not surprisingly causing problems with this crazy set up we're trying...I guess let me ask it this way - is there a recommended approach for having a) consistent `peers` sections as recommended in the config and b) allowing each proxy to sit behind something like `docker` that does port mapping?

In order for haproxy to start up, it has to be able to bind to whatever port c

[2020-11-05 21:51] darix opened #940 "[Regression 2.3.0] crt-list parsing with negated hostnames fails"
## Detailed description of the problem

A working crt-list config fails to serve some SAN entries after upgrading to 2.3.0. 2.2.x and older releases worked fine.

## Expected behavior

[code]

This should report 2 successfull connections. But the connection for the TLSv1.3 only hosts (host2) fails. (see crt-list below)

## Steps to reproduce the behavior

1. create SSL cert with 2 hostnames in it

[2020-11-06 08:28] haproxyFred commented on #938
Well, I am not a docker specialist for such advanced configurations, perhaps you will find solutions on blogs about haproxy.

https://www.google.com/search?client=firefox-b-e&q=haproxy+peers+docker

[2020-11-06 08:47] haproxyFred commented on #938
From my point of view, this issue is not due to a bug. This is a configuration issue. Do you agree with that?

[2020-11-06 09:12] wlallemand commented on #940
There was a problem with the previous implementation of the negative filters, it was not working at all and was fixed in 2.2.3.
This filters were simply ignored by HAProxy letting the user think it was doing something if there was a corresponding positive filter on another line.

It does not make sense to use it this way, because the positive filter has priority, so you can simply remove the negat

[2020-11-06 09:45] KlavsKlavsen commented on #425
I have a usecase for you - I hope you like :)
We require JWT login for multiple services - also several which actually does not support it - so we decode the JWT in haproxy (lua) to verify it, before even forwarding the request. All this works great.
But - if the visitor does not have a valid JWT (or its too old) - we'd today redirect them to the login page (on a diff. central domain) - and we'd r

[2020-11-06 09:47] KlavsKlavsen opened #941 "feature: url_enc function similar to url_dec"
since https://github.com/haproxy/haproxy/issues/425 was closed - I'll open this with hopefully a better usecase for you :)

We require JWT login for multiple services - also several which actually does not support it - so we decode the JWT in haproxy (lua) to verify it, before even forwarding the request. All this works great.
But - if the visitor does not have a valid JWT (or its too old) - we'd

[2020-11-06 10:32] wtarreau commented on #938
I guess it's possible to pass an environment variable or something via docker, to be passed to -L, otherwise that would sound so limited I would start to wonder what people are doing with it :-)

Fred, I agree with you, I'm closing this as invalid. @shauntarves no offence, it's just to sort the real bugs from the other ones, feel free to reopen if you face a bug of course!

[2020-11-06 10:33] #938 closed, assigned to nobody

[2020-11-06 10:33] wlallemand commented on #940
I just tested with your configuration with the latest 2.2 and 2.3 and I can't reproduce your problem at all.
Could you share the error returned by your openssl commands ? thanks

Edit: I'm reproducing now, it's not related to the min-ssl-ver nor the negative filter, looks like something is seriously broken.

[2020-11-06 10:58] wlallemand commented on #940
The crt-list are broken, the bug was introduced by commit 47da821 "MEDIUM: ssl: emulates the multi-cert bundles in the crtlist". I'm working on a fix.

[2020-11-06 16:01] wlallemand commented on #940
This was fixed in the master repository and backported in 2.3. Thanks for the report !

[2020-11-06 16:03] #940 closed, assigned to nobody

[2020-11-06 16:21] darix commented on #940
Fixed confirmed with 2.4dev0+git40.50c03aac0. updated my package for devel and 2.3 already.

just one curious observation:

client openssl s_client version 1.1.1h

as you see in the config above I have set no-tls-tickets. the same as in my production config.

production host openssl 1.1.1d
test host openssl 1.1.1.h

production host does:

[code]

test host:

[code]

Why do I get tickets there?

te

[2020-11-08 10:46] Rawk commented on #575
@TimWolla: Just a thought. Maybe the node-port can be used (abused?) for unique request IDs. The RFC hints about it:
[code]

[2020-11-08 14:57] TimWolla commented on #575
@Rawk Yeah, it probably can. However the nice thing about something explicitly standardized would be that it can interoperate with other stuff automatically without requiring manual configuration. For something in-house I can simply continue using `x-req-id` or whatever.

[2020-11-09 09:42] lukastribus commented on #940
Because you are using TLSv1.3.

As per the docs:
https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#5.1-no-tls-tickets

`The TLS ticket mechanism is only used up to TLS 1.2.`

[2020-11-09 09:59] wdauchy commented on #425
I might have a closer look in the following weeks if it is ok

[2020-11-09 14:35] darix commented on #940
both connections are using tls 1.3 one does tickets the other doesnt. and I would like to understand why.

[2020-11-09 14:40] capflam commented on #912
Cool. thanks for your feedback.

[2020-11-09 15:27] lukastribus commented on #940
Ok, then please use the support channels, not the bug tracker.

[2020-11-09 18:44] fillest commented on #67
I finally got around to testing newer versions. I used the official docker image, `-vv`: 2.3.0-1c0a722, OpenSSL 1.1.1d.
Well, I think this issue needs reopening. While the upper histogram improved (though still there is 20ms difference at 99%, 95%), at 50% it is 80ms difference, at 25% - 146ms. CPU drop and jitter is visibly smaller but it is still there - probably still some lock contention happe

[2020-11-09 18:54] wtarreau commented on #67
Thanks for the updated. Well, it should not be lock contention alone, given that the values are already horrible in nbproc and that in nbproc there is no such inter-process locking. Among the things that can still take a long time at certain loads is the connect() syscall when looking for a spare source port. It could explain the long delays in nbproc as well if you have too few source ports avail

[2020-11-09 20:11] TimWolla opened #943 "SSL session counters introduce segv"
## Detailed description of the problem

[code]

## Expected behavior

Not segfault.

## Steps to reproduce the behavior

1. Run reg tests.

## Do you have any idea what may have caused this?

Bisect says its a bug in commit d0447a7c3e014775b6d0d9cf52e18a66a76baa4d.

## Do you have an idea how to solve the issue?

No.

## What is your configuration?

See reg-test.

## Output of `haproxy -vv` and `u

[2020-11-09 20:44] capflam commented on #943
Thanks @TimWolla. @a-denoyelle is already working on a fix.

[2020-11-09 21:40] wdauchy commented on #941
I will try to have a closer look in the following weeks

[2020-11-10 05:09] chipitsine opened #944 "reg-tests/ssl/ssl_crt-list_filters.vtc failed with centos 6, libressl, openssl-1.0.2"
https://github.com/haproxy/haproxy/runs/1364461587
https://travis-ci.com/github/haproxy/haproxy/jobs/430961815

the most interesting is openssl-1.0.2, it should support EC, right ?

https://travis-ci.com/github/haproxy/haproxy/jobs/430961811

[2020-11-10 10:11] wtarreau commented on #944
Actually it's not the builds but the tests, which is more annoying :-/

[2020-11-10 14:04] wlallemand commented on #944
That doesn't work with < 1.1.1 because there are multiple certificate types for the same SNI, the clientHello callback is required for this. But I don't know why it's not working with libreSSL, I thought this supported it, maybe there are still some mistakes in the #ifdef. I will test this locally.

So the test should be removed at least for OpenSSL < 1.1.1, I don't think we have a way to specify

[2020-11-10 15:16] bedis commented on #797
Hi there,

The option `allow-dup-ip` is enable which means the 1000 servers should be used at the same time. That said, I am not sure what this option implies with SRV records. I'll check this and come back to you.
That said, I think CPU usage might be related to the "On" parsing of IP addresses and fqdns associated to the servers in the backend.

[2020-11-10 15:17] wlallemand commented on #944
I made some tests with libreSSL 3.0.2 and 3.2.2 and there is no problem with the 3.2.2 version.
LibreSSL 3.0.2 is probably too old to support the clientHello callback.

[2020-11-10 15:42] Julien75013 opened #945 "Segmentation fault when tcp-check is used with version 2.2"
## Detailed description of the problem

Version 2.2 segfault as soon as started when tcp-check is used (see at the bottom of https://www.haproxy.com/fr/documentation/aloha/latest/traffic-management/lb-layer7/health-checks/ )

## Expected behavior

All was working fine with version 2.1

## What is your configuration?

[code]

## Output of `haproxy -vv` and `uname -a`

[code]

## If HAProxy crashed:

[2020-11-10 15:44] chipitsine commented on #944
probably, we can drop older LibreSSL, 3.2.2 is buggy, but we will switch to 3.2.3 when it is released.
however, we want to keep testing against openssl-1.0.2 at least

[2020-11-10 15:48] chipitsine commented on #944
as for centos 6, we can discuss whether to keep it or not.
it is EOL already

[2020-11-10 20:32] lukastribus commented on #945
CC @capflam
first bad commit: [12882cfaf85c6fdab78dd3372b25f7e728c6a180] BUG/MEDIUM: checks: Use the mux protocol specified on the server line

stacktrace from master:

[code]

[2020-11-10 20:39] capflam commented on #945
Thanks @lukastribus , I'll take a look.

[2020-11-10 21:44] wlallemand commented on #944
I'll mark the test as broken for now.

[2020-11-11 09:06] elrik75 commented on #136
HAproxy 2.0.19 (linux debian).
I wondered why when the client abort the connection (TCP FIN) but the connection was never aborted on my server. After one day at reading the documentation and trying (unsuccessfully) a lot of different timouts, I finally found this issue.
This is a huge bug for me as I have long tasks that can be cancelled by clients and the server need this information to avoid mas

[2020-11-11 09:18] wtarreau commented on #136
@elrik75 what you're describing is the expected behavior. The bug would be to do it differently, but you seem to start from wrong assumptions.

First, the client doesn't "abort" a connection by sending a TCP FIN. It simply says it will not send anything else. That's the exact meaning of the FIN. Some monitoring tools and network equipment send their checks using this. You can even combined it with

[2020-11-11 10:08] elrik75 commented on #136
@wtarreau Thanks a lot. I tried `option abortonclose` in my backend section and cannot see any `FIN` on the server side.
On the client side, I use `curl` and Control+c. At the end of the session, I see a `FIN` send to HAproxy (`ACK` in response, No `FIN`). Then nothing on the backend, only the new connections `SYN/SYN-ACK/ACK`, my HTTP `POST` and nothing else.
Do I miss something?
Note that my ser

[2020-11-11 10:14] wtarreau commented on #136
Since you're on 2.0, could you also try with "no option http-use-htx", which will switch to the previous legacy mode ? Very few people use this dangerous option, so it's not impossible that it was accidentely broken some time ago and that nobody noticed :-/

[2020-11-11 10:32] elrik75 commented on #136
@wtarreau I tested a lot of options and nothing works. According to what you're saying, I'm going to dead end, with HAproxy and many other proxies...
So I guess I must try another solution, more applicative oriented than based on TCP connections.
I'll implement a `cancel()` endpoint that will be explicitly called by the client. And using a `sendBeacon()` when the client is a browser. This will not

[2020-11-11 12:47] lukastribus commented on #136
None of this has anything to do with the bug handled in this github issue. Please file a new bug or use the support channels.

[2020-11-11 12:49] danielpine opened #946 "How do I configure to disconnect the haproxy back end to the server when the front end connection disconnects"
When keepalived and HaProxy are used together,
VIP float away when keepalived is turned off on only one machine,
 but the links HAProxy and Server have already established on this machine will not be released.

[2020-11-11 14:27] fionera opened #947 "http-request set-dst without http-server-close forwards requests to wrong dst"
## Detailed description of the problem
When using `http-request set-dst` to set the destination IP dynamically based on the query parameters, haproxy will keep open the connection to the last backend server and send the next request to this connection regardless of the `set-dst` call.

## Expected behavior
Connect to the configured backend dst based on the `set-dst` call

## Steps to reproduce the

[2020-11-11 15:36] wlallemand commented on #944
Please let the ticket open until we find a proper solution. (changing the CI or finding a way to execute this test only at the right places).

[2020-11-11 16:13] lukastribus commented on #946
Please do not ask questions in the issue tracker. This issue tracker is for tracking bugs and
feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to

[2020-11-11 16:13] #946 closed, assigned to nobody

[2020-11-11 21:36] wlallemand commented on #937
The pull request was merged into VTest master so you shouldn't have the problem anymore.

[2020-11-11 21:36] #937 closed, assigned to nobody

[2020-11-12 06:14] VigneshSP94 commented on #936
@capflam apologies for the delay, here we have the gdb output

[code]

[2020-11-12 08:33] lukastribus commented on #936
@VigneshSP94 please issue in the gdb:

[code]

[2020-11-12 09:42] roidelapluie opened #948 "retry-on 401"
## What should haproxy do differently? Which functionality do you think we should add?

I'd like to retry-on l7 401 and 403 http errors

## What are you trying to do?

Our backends sometimes do not know properly to authenticate some users. In that situation, I'd like to use retry-on 401.

## Output of `haproxy -vv` and `uname -a`

[code]

[2020-11-12 09:53] TimWolla commented on #948
Could you please add the `haproxy -vv` output as requested by the template?

[2020-11-12 10:19] roidelapluie commented on #948
Sure. A patch has been sent to the mailing list.

[2020-11-12 12:39] vfxcode opened #949 "Inconsistent trigger of server timeout"
## Detailed description of the problem

Uploading large files from a slow client sometimes, but not always (that is the weirdest part), trips the backend server timeout during the transfer.

We upload our elasticsearch backups to a swift cluster and haproxy does the layer7 routing between them.
This uses the ApaceClient/Java library which in turn does chunked transfers over HTTP1.1. We have a 5mb/

[2020-11-12 13:37] bedis commented on #812
Hi @rgarrigue

Would the changes below make you happy:

- Update documentation to make it clear that SRV records also set TCP port and weight
- Issue a warning at configuration parsing time when a SRV record is used and admin provided a TCP port

[2020-11-12 13:51] bedis commented on #573
Hi @maciejmrozinski

If your intention is to change the server's IP address only when this one fail, then this can't work with current implementation. Purpose of DNS is to follow-up on changes which occur in your platform.

To make it clear, `hold valid` will keep the valid state if the server is unavailable or returns some errors for the period of time mentioned.
The `timeout resolve` tells HAPro

[2020-11-12 14:06] rgarrigue commented on #812
@bedis :+1:

[2020-11-12 14:23] capflam commented on #943
Fixed now. Commit 7f8f6cb9

[2020-11-12 14:24] #943 closed, assigned to nobody

[2020-11-12 14:32] jaroslawr commented on #933
@wtarreau All is fine now, thanks a lot!

[2020-11-12 14:57] TimWolla commented on #943
Sweet, GitHub Actions is much greener now. There's only one failure in the abns test for stock SSL only: https://github.com/haproxy/haproxy/runs/1390843029. Is that one still unstable?

[2020-11-12 15:05] wlallemand commented on #943
Tests including a reload of the master can't be reliable right now. The problem is that the reload is not synchronous, so there is no way to wait the end of the reload before doing other actions at the moment.

[2020-11-12 15:06] a-denoyelle commented on #943
Tim Düsterhus <notifications@github.com> wrote:

To my knowledge, this failure is not linked to the bug I fixed.
Furthermore, I can pass this test on my laptop. Maybe an unstable test ?

--
Amaury Denoyelle

[2020-11-12 15:37] TimWolla commented on #943
Correct, this is not related to your work. I just used the opportunity to ask in this issue.

Yes, the abns one is pretty flaky for a long time, but I thought it was fixed by now: https://github.com/haproxy/haproxy/commit/501c99588e1530fb3436ec4dac497f3041755e81

Should it be marked as broken again?

[2020-11-12 15:50] capflam commented on #945
We identified the bug, @a-denoyelle is on a fix.

[2020-11-12 16:52] VigneshSP94 commented on #936
@lukastribus @capflam attached it, also copying here.

[code]

[gdb_trace.log](https://github.com/haproxy/haproxy/files/5532009/gdb_trace.log)

[2020-11-12 17:01] wtarreau commented on #936
OK it's in the health checks. Maybe with a bit of luck it will be reproducible. Thanks!

[2020-11-12 17:05] wtarreau commented on #943
Sadly, that's yet another case where the vtest output doens't make it clear what the problem is. Saying that it exited with bad status zero is close to useless. I'm seeing a sigterm somewhere but can't figure what's wrong in the output trace. Maybe we should still keep it to see if it reliably fails or just randomly fails. The previous issues (among timing ones) were related to the fixed system-wi

[2020-11-12 17:07] naphta commented on #945
@capflam We're seeing something similar in 2.2 with proxied HTTP2 (with health checks), it's only under slight load that we can get the segfault to happen but it is consistent. Is the bug possibly related to the problem we're having?

[2020-11-12 17:51] chipitsine commented on #943
@TimWolla , I see `   ***  h1   debug|[ALERT] 316/164322 (7329) : Current worker #1 (7338) exited with code 143 (Terminated)` in logs.

what do you think, can we enable core dump collection and pass it gdb backtrace ? (I'm not sure whether we can keep build artifacts other than github releases)

and just like we display reg-tests logs we can display gdb backtraces

[2020-11-12 17:51] chipitsine commented on #943
but as for that particular `(Terminated)`, I think I can try to repro it locally

[2020-11-12 18:01] chipitsine commented on #788
closing this issue

[2020-11-12 18:01] #788 closed, assigned to nobody

[2020-11-12 18:04] a-denoyelle commented on #945
Jake Hill <notifications@github.com> wrote:

The bug I discovered is systematic due to a certain config and does not
depend on load condition so it seems to me that it is not the same
problem.

--
Amaury Denoyelle

[2020-11-12 18:35] chipitsine commented on #943
here's backtrace

(it is a bit confusing, SIGINT should not cause core dump. I modified signal handler)

[code]

[code]

[2020-11-12 18:44] chipitsine commented on #943
(sorry for polluting closed issue, personally I do not like when someone does that)

[2020-11-12 19:30] TimWolla commented on #943
@wtarreau

If you expand the results on GitHub Actions and look at the very end (https://github.com/haproxy/haproxy/runs/1391624960?check_suite_focus=true#step:14:2143):

[code]

VTest apparently expected HAProxy to exit with signal 15 / code 0x82. But it exited cleanly with code 0.

[2020-11-12 19:34] TimWolla commented on #943
@chipitsine Yes, GitHub Actions supports build artifacts. See: https://docs.github.com/en/free-pro-team@latest/actions/guides/storing-workflow-data-as-artifacts and https://github.com/actions/upload-artifact. By default they will be stored as long as the logs (90 days).

[2020-11-12 19:35] TimWolla opened #950 "Check the seamless-reload/abns_socket.vtc test"
Sadly, that's yet another case where the vtest output doens't make it clear what the problem is. Saying that it exited with bad status zero is close to useless. I'm seeing a sigterm somewhere but can't figure what's wrong in the output trace. Maybe we should still keep it to see if it reliably fails or just randomly fails. The previous issues (among timing ones) were related to the fixed system-wi

[2020-11-12 19:36] TimWolla commented on #943
I've created a follow up issue at #950. Please move any further discussion there.

[2020-11-12 20:07] naphta commented on #945
That's interesting. I'll open up a new ticket with my problem configuration, but for now we've solved the problem by removing H2 from the equation.

[2020-11-12 21:24] TimWolla commented on #31
see: https://news.ycombinator.com/item?id=25064855 "Blink: Intent to Remove: HTTP/2 and gQUIC server push"

[2020-11-12 22:32] lukastribus commented on #185
Some ideas as per:
https://www.mail-archive.com/haproxy@formilux.org/msg38851.html

to avoid the need for fallbacks:

- only do TCP and drop UDP support completely
- handle service discovery via TCP and "normal" address changes via UDP (different code paths)

[2020-11-12 22:35] lukastribus commented on #508
@bedis copying my suggestion over from:
https://www.mail-archive.com/haproxy@formilux.org/msg38848.html

I'm suggesting: zero assumptions.

Currently we have "resolve-prefer" to set a *prefered* address-family. I suggest keeping this keyword as is.

However I also suggest that we introduce a keyword to restrict the resolver to a specific address-family. "resolve-family" [ipv4|ipv6] to only send ei

[2020-11-13 07:34] wtarreau commented on #508
After discussing this with Baptiste, I suggest that we do it slightly differently:
  - a per-server option to indicate that the server is reachable exclusively over IPv4/IPv6 and that will be used during DNS resolution but will also be used during config consistency check and when using "set server address" on the CLI, or to reject automatic binding on "http-request set-src/set-dst" or "source cli

[2020-11-13 07:42] chipitsine commented on #943
I reported non existent issue

[code]

1 tests passed.

[2020-11-13 07:47] wtarreau opened #951 "Ability to list servers by name/FQDN/IP/ID/cookie etc on the CLI"
## What should haproxy do differently? Which functionality do you think we should add?

After discussing with @pierrecdn and @wdauchy it appeared that we're missing the ability to find a server from the CLI when only its name/fqdn/IP address/ID is known. Having the ability to list servers matching certain of these criteria would be extremely useful.

This needs to be further thought about, possibl

[2020-11-13 07:53] capflam commented on #936
Ok, The fix may be obvious by adding a check on `cs` and `conn`. I just want to understand how it is possible to have a running check without a `cs`. If there is no `cs`, the test should be terminated. Thus `check->result` should not be `CHK_RES_UNKNOWN`. And I must figure out if it is an error or not.

[2020-11-13 08:02] wtarreau opened #952 "Ability to rename a server at runtime."
## What should haproxy do differently? Which functionality do you think we should add?

After discussing with @pierrecdn and @wdauchy it appeared that being able to rename a server at runtime would be particularly useful, especially when used with server templates, where the initial name could just be a slot number, and the final name would correspond to something more relevant to those exploiting

[2020-11-13 08:05] lukastribus commented on #508
Yes, I like the global option too.

Do you also want to deprecated a configuration without any resolve-prefer, per server exclusive family or global family, so that at the end there will be no more implicit fallbacks?

[2020-11-13 08:29] wtarreau opened #953 "Improve distinction between administrative and operational server states on CLI/state file"
## What should haproxy do differently? Which functionality do you think we should add?

A number of the CLI's limitations and server-state vs DNS confusion come from the fact that we're emitting and manipulating some elements at run time without distinction of operational or administrative origins. Good examples of this are the weights and the addresses.

The admnistative values are those set in t

[2020-11-13 08:40] wtarreau opened #954 "Dump/reload some stat counters"
## What should haproxy do differently? Which functionality do you think we should add?

Some users have expressed a few times they would like to preserve stats over reloads. While for plenty of cases it makes no sense technically speaking, there are situations where the requirement makes sense and where reasonable solutions could be acceptable. The essential issue is related to billing.

Having th

[2020-11-13 08:42] wtarreau commented on #936
Maybe a triggered timeout at the same time as an I/O causing two consecutive wakeups, the first one clearing the CS and the second one still having it in its context ? Just a supposition, I didn't even check if that's possible in the code.

[2020-11-13 08:56] wtarreau commented on #953
We also discussed that if this leads to a change of the server-state file format, we'd possibly need to have a typed or structured one in the future to ease dumping/processing of these entries.

[2020-11-13 08:59] wlallemand commented on #950
[code]
What's going on here, is that the master process receive a SIGTERM and transfers it to the workers, so it's the normal behavior for HAProxy.

VTest sends a SIGINT first, and then tries to send a SIGTERM if it didn't worked.
What's possible is that VTest sent the signal when the master was reloading and that signal was ignored. VTest can't know about the reload process right now because it's

[2020-11-13 09:04] wtarreau opened #955 "Think abount using transactions to set up new servers"
## What should haproxy do differently? Which functionality do you think we should add?

It's currently difficult to consistently fill multiple fields of a server configured over the CLI, and it's equally difficult for haproxy to enforce the same consistency checks that are done elsewhere.

One idea that stemmed up would be to make it easier to use transactions for their configurations. The CLI cou

[2020-11-13 10:20] wlallemand commented on #950
What we would need is to wait for the `h1   debug|[NOTICE] 316/164320 (7329) : New worker #1 (7338) forked` after the master is reexecuted. Because it looks like all the requests are done before the reload is effective.

But it's not possible to achieve this with VTest because it only parse the logs and not the haproxy standard output.

[2020-11-13 11:56] pierrecdn commented on #953
Thanks for the write-up @wtarreau !

+1, clearly there is a need to distinguish via the API what is coming from the config vs. what is the current administrative state vs. what is the current operational state.

I'll add some details for potential readers to understand the context:

At Criteo, we've built a control-plane which drives, in an abstract format, an intent for various network and infras

[2020-11-13 12:09] pierrecdn commented on #952
Thanks for the write-up @wtarreau !

IP & ports are available for logs using `%si` and `%sp`. But if I want to use `server-template`, it only support index incrementation, such as:
[code]
Which will generate:
[code]
Then I cannot retrieve anything useful in log lines from `%s`, such as the server FQDN.
The ability to set the name using the runtime API would solve this.

[2020-11-13 13:11] wlallemand commented on #950
It's quite difficult to reproduce the problem manually, patching HAProxy with the following helps:

[code]

[2020-11-13 15:37] capflam commented on #931
Now fixed. Thanks !

[2020-11-13 15:37] #931 closed, assigned to esalama

[2020-11-13 15:38] capflam commented on #945
Now fixed. Backports are on the way. Thanks !

[2020-11-13 15:46] #945 closed, assigned to nobody

[2020-11-13 15:51] StanleyP opened #956 "Sample converters capture-req/capture-res don't work. Unable to access captured data."
## Detailed description of the problem

Sample converters capture-req/capture-res don't work.

I declare captures, fetch samples into the captures, but I'm not able to access captured data.

## Expected behavior

I expect that capture-req/capture-res will return content of capture as described in documentation.

## Steps to reproduce the behavior

Start official haproxy 2.2 with provided configura

[2020-11-13 15:56] chipitsine opened #957 "src/cli.c: unused value suspected by coverity"
[code]

[2020-11-13 18:02] capflam commented on #936
@VigneshSP94, in the issue description, you said it happens when reloading the process. Does the crash only occur on reloads ? If yes, on the old process or the new one ? And systematically or not ?

If this is related to reload but on the new process, you may try to not load a state-file. I really don't know if it is related. Probably not. But there already had bugs because of some tasks performe

[2020-11-13 22:25] apenney-beeswax opened #958 "Inbound connections stop and CLOSE_WAIT skyrockets"
## Detailed description of the problem

We're seeing a weird behavior that's been consistent over multiple versions of haproxy (2.1/2.2 and now 2.3) and I'm at the point where I suspect we might be hitting a strange bug.

We have a pool of haproxies that accept traffic from ad exchanges (lots of POSTs) and send those to backend servers to process.  There's no humans involved, and normally traffic

[2020-11-14 10:03] fillest commented on #67
I can't reopen the issue - I don't see any button or checkbox for it.

The absolute values can be poor due to messy AWS EC2 environment performance (compared to dedicated baremetal). `/proc/sys/net/ipv4/ip_local_port_range` is `2000 65000` and port exhaustion AFAIK should manifest different dynamics and symptoms.
But anyway the absolute values are not the point here - the point is how `nbthread` m

[2020-11-14 12:04] wdauchy commented on #740
#954 will probably addressing that
cc @wtarreau

[2020-11-14 12:04] #740 closed, assigned to nobody

[2020-11-14 12:30] wtarreau commented on #958
I'm suspecting it could be a slowdown of the connect() syscall trying to find a source port on the backend, slowing down the whole system and letting incoming connections accumulate. In this case the CLOSE_WAIT could be related to the clients timing out after sending their request, and aborting with only a FIN. The socket will then only be purged once the connection is accepted, processed and clos

[2020-11-14 22:18] apenney-beeswax commented on #958
We do, it spikes to 800% (all 8 cores it has access to) during this timeframe.

On Sat, Nov 14, 2020 at 6:31 AM Willy Tarreau <notifications@github.com>
wrote:

[2020-11-14 23:05] wdauchy commented on #941
so if I understand correctly when a user comes with:
  http://foo.com/bar?toto=42
and it triggers the login error, you want to be able to redirect to such URL:
  http://foo-login.com/?url=http%3A%2F%2Ffoo.com%2Fbar%3Ftoto%3D42
so a `url_enc` converter would return a fully encoded string of the url.

Is that correct?

Also @wtarreau, could you advise whether this would be acceptable?

[2020-11-15 11:51] TimWolla commented on #67
I've reopened the issue for you.

[2020-11-15 18:33] bedis commented on #50
Hi,
I am able to reproduce this behavior.
Will now work on a fix.

[2020-11-16 08:19] #933 closed, assigned to nobody

[2020-11-16 12:06] yoshz commented on #934
Does anybody have the same problem?

[2020-11-16 13:13] lukaseckert opened #959 "TLS certificate makes haproxy exit with "segfault" on startup"
## Detailed description of the problem
When the official HAProxy docker image is run with a TLS server certificate where the "X509v3 Authority Key Identifier" attributes do not contain a "keyid" attribute (but do contain 'serial' and other attributes), the haproxy process crashes with a segfault error. The same certificate does not cause any issues with other application like Node.js, RabbitMQ, et

[2020-11-16 14:17] apenney-beeswax commented on #958
Just thought I'd add that we've got net.ipv4.ip_local_port_range tuned to "1024 65535" to give as many ports as we can, I'm not sure how I'd confirm that we're actually out of source ports.  The incoming traffic is from a wide range of ip's so assuming I understand how thing works (which isn't a given) we should have enough 4-tuple combinations to handle the situation.

[2020-11-16 20:31] apenney-beeswax commented on #958
Had another full outage and a bunch of fascinating information came out of this, I'm going to try and distill some into here:

1/ We saw the same thing while rolling out 2.3.1, massive CLOSE_WAIT
2/ We tried all sorts of things, stopping/starting but kept seeing the same behavior, a slow overwhelm of haproxy and then massive (up to 1.2M on some nodes) close_waits
3/ We tried experimenting with rem

[2020-11-16 20:58] apenney-beeswax commented on #958
From a recovered standpoint:

<img width="1198" alt="Screen Shot 2020-11-16 at 2 58 05 PM" src="https://user-images.githubusercontent.com/70025627/99307470-29c67780-281c-11eb-9896-4c191fac36f1.png">

SSL isn't even visible in this graph when we're operating normally.

[2020-11-17 02:38] VigneshSP94 commented on #936
@capflam no it is not only during the reload, it happens every ~2 seconds once we specify `proto h2` and reload the service for the changes to kick-in.

I can test the 2.2.5 and report.

[2020-11-17 02:58] VigneshSP94 commented on #936
@capflam yes, it occurs in 2.2.5 as well. would you require gdb output from this version?

[2020-11-17 08:02] capflam commented on #936
Ok thanks @VigneshSP94. If the faulty line is the same, the gdb full trace is useless. But if not optimised, you may print the `check` variable content (`p *check` or  `p *(struct check *)context`).

[2020-11-17 09:59] wlallemand commented on #959
Thanks for the report, that's clearly not supposed to happen, it was introduced by the auto-completion of the certificate chain when It's not provided with the PEM. I'm working on a fix.

[2020-11-17 10:11] wtarreau commented on #950
So should we just disable the test again and mark it as unreliable with a link to this issue ?

[2020-11-17 10:25] wlallemand commented on #950
I looked into VTest to add the required features to achieve this, but there is too much change to do just for this test. There is no processing of stdout at all for HAproxy. I suggest that we disable this until we improve VTest for the reload.

[2020-11-17 10:28] wlallemand commented on #939
Hello, I suppose it was fixed with 1dfd4f1. Can we close this now?

[2020-11-17 10:37] wtarreau commented on #958
Ah that's pretty interesting. Indeed SSL is being caught by the finger in the jam pot. But I'm not that sure it's entirely the culprit here. Your too many of orphans messages indicate that the kernel had to destroy responses to clients because the number of orphans was too high. An orphan is an established (or FIN_WAIT) connection that is lingering in the system, still delivering data to the other

[2020-11-17 10:48] wtarreau commented on #950
OK thanks. Marked as broken again with a link to here.

[2020-11-17 10:49] capflam commented on #934
I'm not sure, but it seems to be intentional. A server is set to NOLB state if a 404 is received while it is in UP state. But once in DOWN state, it must be UP again to make the `disable-on-404` option evaluated again.

[2020-11-17 11:50] yoshz commented on #934
@capflam After DOWN state the server is actually UP again, the healthcheck endpoint replies with a 200. Haproxy just doesn't trigger a state change from DOWN to NOLB again.

[2020-11-17 12:20] capflam commented on #934
I don't understand. If the server replies with 200, its server state should be UP. It is then set to NOLB from UP if it replies a 404. But it must be UP first. From DOWN state, it can't be set to NOLB. So you must have DOWN -> UP (200) -> NOLB (404). If it works from a reload, it is because servers are UP on startup by default.

It is how it works for now. And as said, it seems to be intentional.

[2020-11-17 12:20] haproxyFred commented on #939
We hope so. But we are waiting for the client feedback.

[2020-11-17 13:36] nmerdan commented on #954
For my own use case, losing visibility to what the older process' are doing is much more impacting than not having the volume information counters transferred to the new process. Most modern graphing/alerting systems can deal with this pretty well with stuff like non-negative derivatives. This is a bigger problem if you are reloading frequently (but so is losing visibility into the old processes),

[2020-11-17 14:24] apenney-beeswax commented on #958
I very much appreciate this detailed response!  I'm rolling out a change to tcp_orphans (it was 131072) and the lower backlog limit.  I'll update this issue (and resolve it) if this helps!

Would we see any benefits from splitting SSL off to a new frontend with a lower "rate-limit sessions 200" setting.  My thinking was this would help keep processing of new SSL connections down and stop it from c

[2020-11-17 14:34] hrsteiger commented on #581
Is there a fix available? Because we are having the same issue on 2.1. In our case, it appears that somehow the same user is returned for multiple other users. It is also only happening on our production system with more load.

[2020-11-17 14:37] TimWolla commented on #581
All branches affected by the bug had a release since it was fixed, so yes: A fix is available. For 2.1 the fix appeared in 2.1.5 (but you should be on 2.1.10 anyway).

[2020-11-17 16:46] aliridha1510 opened #960 "H2-Backend grpc protocol not working"
**Description of the problem**

HAPROXY V:latest
i installed two different methods
1- kubectl apply -f https://raw.githubusercontent.com/haproxytech/kubernetes-ingress/master/deploy/haproxy-ingress.yaml
2- with Helm

I used "h2" as well as h2-ssl, but unfortunately it always didn't work
This is proof that the backend supports HTTP / 2

 when i try http port 80
[code]
, when i try https port 443

[

[2020-11-17 16:51] TimWolla commented on #960
Closing this one in favor of haproxytech/kubernetes-ingress#248 which I feel is the more correct location.

[2020-11-17 16:51] #960 closed, assigned to nobody

[2020-11-17 17:43] wtarreau opened #961 "Define the range of status codes that count as error for http_err_cnt / http_err_rate"
## What should haproxy do differently? Which functionality do you think we should add?

Initially http_err_cnt and http_err_rate were added to stick tables to ease detection of bots and scanners. As such it was important to be able to match only the 4xx codes.

Nowadays, a number of users report that they want to use this exactly the other way around, to count per-URL error rates on the backend. A

[2020-11-17 17:58] wtarreau commented on #958
No, you must never ever use `rate-limit sessions`. It will lower your accept rate below what your machine is capable of. This is only used by shared hosting providers who want to prevent a single customer from saturating the whole machine. In your case you want SSL to be accepted as fast as possible. However, limiting the backlog ensures that those queued beyond a certain limit that you know you w

[2020-11-17 21:15] haproxyFred commented on #939
https://github.com/haproxy/haproxy/commit/1dfd4f106f15bc4e6e992f8babbc863c12975b5a definitively fixed some weird issues but it seems there is possibly at least a remaining one. Waiting for more information.

[2020-11-18 00:59] apenney-beeswax commented on #958
I just wanted to say thank you, so far this seems to be making a big difference (all the various changes combined).  One of the clients 95th percentile dropped from 3500ms to "can't see it on the graph, but < 50ms" with this latest set of changes.

I don't know if this has all worked to fix our original issue (where we get overwhelmed), but we're in much better shape and overnight we'll get to see

[2020-11-18 03:55] VigneshSP94 commented on #936
@capflam here it is -

[code]

[2020-11-18 08:09] capflam commented on #936
Sorry to bother you, could you also print following values please ?
[code]

I'm puzzled because the check has a session but no conn-stream. Both are allocated on the first tcp-check rule (a CONNECT rule). And both are set to NULL at the same place, at the end of the check in `process_chk_conn()`. In additon, `check->health` is 0. It means it already failed 3 times. It is confirmed by the last chec

[2020-11-18 08:11] wtarreau commented on #958
Great! You could probably improve the situation a little bit more and simplify your config at the same time:
  - you should remove the per-thread "bind" lines, just keep a single `bind :80` and a single `bind :443`, removing the `process` directive. This will let haproxy assign inbound connections to the least loaded thread instead of having the kernel hash on the source port ;
  - you should remo

[2020-11-18 09:02] VigneshSP94 commented on #936
@capflam sure, here is it -

[code]

[2020-11-18 09:20] capflam commented on #936
Ok here there is a problem. The first rule (the 2nd variable) must be a connect rule. Here it is an uninitialized send rule (action == TCPCHK_ACT_SEND and send->type == TCPCHK_SEND_UNDEF).  The memory is  corrupted.

[2020-11-18 09:55] feranwq opened #962 "Haproxy1.8 the backend connection is not released when the check fails."
## Detailed description of the problem

I have 3 redis server, the master redis-server is detected by tcp-check, and when redis-sentinel re-elects the master redis-server, the haproxy detects and handles the new connection normally, but the old connection is still sent to read-only redis

## Expected behavior

close old connection

## What is your configuration?

[code]

## Output of `haproxy -vv`

[2020-11-18 09:58] TimWolla commented on #962
You probably want to take a look at `on-marked-down`: https://cbonte.github.io/haproxy-dconv/2.2/configuration.html#5.2-on-marked-down

[2020-11-18 09:58] #962 closed, assigned to nobody

[2020-11-18 11:04] yoshz commented on #934
Let me explain the use case above for the redis servers.
We have 3 redis servers, 1 master and 2 slaves.
The healthcheck script on each server replies a 404 when it is a slave and replies 200 when it is a master.
Haproxy is configured with the disable-on-404 so all slaves get the NOLB status instead of DOWN, which works great with the monitoring tools as they only report about DOWN status.
When th

[2020-11-18 12:31] sunflowerbofh opened #963 "HA-Proxy log format changed sice 2.3 -> not logging into separated logfile"
## Detailed description of the problem

After an upgrade from haroxy-2.2.5 to 2.3.0 (2.3.1 as well) the logs do not go into separate file although explicitely configured and  no config has been changed. It looks as if the "programname" (haproxy) is not interpreted any more.

## Expected behavior

Logs should keep going into haproxy.log when configured in the syslog:

[code]

Instead they go into s

[2020-11-18 13:48] TimWolla commented on #963
I stumbled upon this as well and I couldn't get any of the log formats to work with rsyslog.

[2020-11-18 15:40] aderumier commented on #214
Hi,
any news to implement vary header support ?

I'm currently looking to cache small css && js , but as they are compressed by the backend servers, I'm getting a "vary: Accept-Encoding" and so I can't cache them.

[2020-11-18 15:51] ac-obair opened #964 "requests with cookies >4k fail to nginx ingress controller default config for http2-max-field-size"
## Detailed description of the problem

I created a [forum post](https://discourse.haproxy.org/t/haproxy-with-cookies-5k-fails/5924) detailing this issue and was directed here. I'm hesitant to call this a bug but any clarification would be very helpful. The issue persists across all haproxy version >=2.

h2 backend connections to nginx-ingress-controller using a default ingress config`http2-max-fi

[2020-11-18 15:54] VigneshSP94 commented on #936
@capflam memory is corrupted? sorry I am not very familiar with gdb outputs, this issues is consistent across multiple clusters of haproxy servers.

[2020-11-18 16:08] capflam commented on #936
The memory seems to be corrupted because the second variable you printed is the first rule of the tcp-check ruleset. And it is an uninitialized rule. So for some reason, at a step this ruleset was crushed.

[2020-11-18 16:11] wlallemand commented on #214
Rémi made some progress on this, I still have to review some part of it. The patches will probably be pushed in the master during the week.

[2020-11-18 16:18] aliridha1510 opened #965 "Haproxy controller GRPC HTTP2 request does not work."
I have a .net core grpc backend service that relies on the proxy information to tell it

if just test directly through node with curl, works fine.

[code]
if I query through HA answers:

[code]

note : I have the same environment with Rest API Spring  (http1.1 not Http2)and everything works

### kubectl get svc
[code]

### deploy.yaml
[code]
### Ingress.yaml
[code]
### Output of `haproxy POD
[code

[2020-11-18 16:20] aderumier commented on #214
thanks for the information !

[2020-11-18 17:56] apenney-beeswax commented on #958
I've applied almost all of these (minus tweaking the buffers, and http2, because none of our clients support it yet), and I've got this baking in our test environment.  I feel like I keep repeating this, but I can't thank you enough for all these suggestions.

We're doing pretty good overall now, we still need to figure out how to benchmark TLS ciphers for these ARM cpus (in normal circumstances w

[2020-11-18 17:57] capflam commented on #934
So, I fully understand what you said :) And It is the expected behaviour of disable-on-404. It just switches an UP server to NOLB state instead of DOWN if it replies a 404. But it does not move a DOWN server to NOLB state. It was designed this way (see  48494c0c5c). Honestly, I don't really know why. I'll ask @wtarreau. It is a pretty old feature.

[2020-11-18 18:29] TimWolla commented on #965
This looks like a request for help. The bug tracker is not for help request, but instead for bugs. To the best of my knowledge there is no general issue with end to end HTTP/2 / gRPC. Please direct your question to the forum or the mailing list.

The forum is at: https://discourse.haproxy.org/

The mailing list (no need to subscribe) is: haproxy@formilux.org
Subscribe to the list: haproxy+subscrib

[2020-11-18 18:29] #965 closed, assigned to nobody

[2020-11-18 18:46] capflam commented on #964
You may try to increase the  HTTP/2 dynamic header table size (default to 4096) by setting `tune.h2.header-table-size` in your global section. I don't know it is the problem however and I've not tested.

[2020-11-18 19:47] throwaway8787 opened #966 "Haproxy configuration manual references a no longer existing function"
http://cbonte.github.io/haproxy-dconv/2.2/configuration.html has four examples referencing `reqrep`, but this function actually doesn't exist in 2.2 anymore.

[2020-11-18 20:02] TimWolla opened #967 "proxy_protocol_random_fail.vtc appears to be flaky"
see: https://github.com/haproxy/haproxy/runs/1420090111#step:12:130. A documentation update should not cause the test to fail.

[2020-11-18 20:20] chipitsine commented on #967
btw, we can filter some folders from triggering CI

there're few doc update, but why to waste electricity ?
alternatevly "skip CI" might be added to commit message, but I'm afraid nobody will do that

[2020-11-18 20:25] TimWolla commented on #967
Simplicity trumps spending a few minutes uselessly building the occasional commit that does nothing except adjust documentation. ~100% of commits either touch C code, regtests or the CI configuration.

[2020-11-18 22:13] ac-obair commented on #964
I wasn't specific about the tunables I'd tried in the various configs during testing, sorry about that. Default values obviously fail, however regardless of the tunables I tweaked in the config it's the same result. The other values that I thought could have any impact were:

[code]

[2020-11-19 00:25] sufiyanghori opened #968 "Two CAs having same DN but different Public Keys in the ca-file"
## Detailed description of the problem

## Current behavior

When doing mTLS and when more than one CA's certificate with the same DN but different identities are added in `ca-file` HAProxy only presents the first CA certificate in `Acceptable client certificate CA names`. The request that comes through 2nd CAs issued client certificate is rejected.

## Expected behavior

If there are more than on

[2020-11-19 05:30] wtarreau commented on #963
@EmericBr it seems that the changes that were required for syslog forwarding and which always prepend the local host name to comply with the network logging standards are causing trouble when using local logs. Probably that we should change this so that only an explicit rfc3164 format sends the host name and that the default one does not. Maybe a new "local" format should be created to be like 316

[2020-11-19 05:32] wtarreau commented on #963
Hmmm rfc3164 was already present in 2.2 without the host name either so we'd rather need a separate option to prepend the host name (or strip it).

[2020-11-19 08:18] TimWolla commented on #968
What do you mean by this? The DN is the same, but the public key is different?

[2020-11-19 08:22] sufiyanghori commented on #968
Hi Tim,
Yes. Different Public Key but same DN. We are in a situation where we have no control over those CAs since they are provided by a client and are used and integrated into hardware.

[2020-11-19 09:26] domdom82 commented on #693
This! Would be great to have better logs in cases of TLS errors. Especially in mTLS cases where a client certificate might be bad, which we don't have control over on the proxy.

[2020-11-19 09:43] TimWolla opened #969 "Dynamically disable keep-alive / tear down a H2 connection using an ACL"
## What should haproxy do differently? Which functionality do you think we should add?

I'd like to be able to dynamically and cleanly tear down a client's TCP connection as part of a HTTP response, e.g.

[code]

## What are you trying to do?

I'd like to force abusive clients to re-establish a new TCP connection and perform a new TLS handshake to slow them down.

Sending a `connection: close` or

[2020-11-19 10:17] capflam commented on #934
So it is confirmed. It works as expected. Idea of the `disable-on-404` option is to drain traffic on a server before shutting it down, for maintenance for instance. When the server is restarted, if it still replies a 404, it may be a problem and not expected. So it remains in DOWN state to be sure to not forward traffic on a not fully available server.

I understand that an HTTP check is probably

[2020-11-19 14:11] wlallemand commented on #967
I'm not sure what's going on with this test but this could be a real bug.

[2020-11-19 14:14] wlallemand commented on #967
I could agree but that allows us to see that there is a problem with a reg-test which is not caused by a code change, so I'll say that this is useful the way it is.

[2020-11-19 15:34] wlallemand commented on #959
Fixed and backported as far as 2.2.

[2020-11-19 15:34] #959 closed, assigned to wlallemand

[2020-11-19 15:51] apenney-beeswax commented on #958
I was feeling good about things but I have a horrible update @wtarreau - crashes, and lots of them:

[code]

[2020-11-19 16:20] wlallemand commented on #968
Could you fill the bug with the required information from the template? it's quite difficult to investigate a bug without this information. Thanks.

[2020-11-19 17:15] chipitsine commented on #967
it fails very often on FreeBSD
https://github.com/haproxy/haproxy/runs/1425069875

cirrus-ci is very limited by CPU/memory/whatever, we can try to reproduce on various vm sizes

[2020-11-19 18:41] wtarreau commented on #958
There's something really really odd here, it appears that *all* threads were stuck in a busy loop that seriously looks like a deadlock (2.3 seconds) at the same time, and at different places. They're not *that* different by the way, all of them are either connect() or accept() it seems, which is extremely concerning. It makes me think that something deadlocks there. One thing that's common to the

[2020-11-19 18:54] apenney-beeswax commented on #958
Pretty much, if I pick a different machine, different time:

[code]

It's pretty weird, I'm only seeing it in one region (another region with the exact same config, version of haproxy, etc, doesn't show this).  We're in the middle of rotating the cluster to try and clear them (I tweaked the ssl backlog a little lower, shuffled some ciphers around, nothing major, just tiny tweaks) and we're hoping

[2020-11-19 19:38] apenney-beeswax commented on #958
(rotated instances, crashes still occurring, so this wasn't a one time weird thing, latest crash was on thread 7):

[code]

[2020-11-19 22:52] sufiyanghori commented on #968
Thank you Will, I have added more details.

[2020-11-20 06:29] bedis commented on #50
Quick update here: I have a patch for 2.2 and above, which I adapted to 2.0 and 2.1. That said, 1.8 and 1.9 are also affected and part of the patch must be rewritten for those versions.
@nbari since you're on HAProxy 2.0, I can send you the patch for your version and you can give it a try and confirm whether it helps or not :)
@ivoronin same for you.

[2020-11-20 06:37] bedis commented on #807
As far as I remember, in the first version of the resolver, we did not do the connect at configuration parsing time and users complained that HAProxy could start despite the DNS server was not available :)

 I need to check as well if HAProxy can re-connect() to a server that was unreachable at configuration parsing time.

Based on this, we might add a new option on the nameserver line or in the r

[2020-11-20 06:53] wtarreau commented on #941
I'm all in favor for an url_enc converter to match url_dec. However, we must be careful not to reproduce the mistakes of the past. URL encoding doesn't work the same depending where it's used, and for this we need to support an argument to the converter to indicate which type of encoding is needed. Above what I understand is that the purpose is to encode for a query string parameter *value*. I don

[2020-11-20 06:56] wtarreau commented on #941
This reminded me an old discussion around this subject, more specifically about normalization, but that can be useful to fuel your design ideas, it's here: https://www.mail-archive.com/haproxy@formilux.org/msg37732.html

[2020-11-20 07:09] wtarreau commented on #964
Actually, even the header-table-size will not change it because haproxy uses stateless compression when sending. What I'm wondering is what your cookie header becomes when not passing through haproxy. I strongly suspect that it's  silently dropped, but where and based on what criteria ? This is a mystery.

It could be useful to enable H2 traces on haproxy, to log all protocol exchanges with the se

[2020-11-20 07:13] bedis commented on #508
From my point of view, this is not a "dns subsystem" issue anymore, so we can remove this label from the issue.
That said, whoever will work on this one will have to adapt DNS behavior to match the new option or to make configuration fail when a resolve-prefer is set while global or per-server address family is enforced.

[2020-11-20 07:15] bedis commented on #185
This feature is managed by @EmericBr , it's embedded in a greater project (Load-Balancing DNS with HAProxy)

[2020-11-20 07:21] wtarreau commented on #958
It's systematically in the network code. This is really scary. Do you have a core ? If so, it would be useful to get a full back trace, especially for the latest  one showing only one thread.

Could you try with less threads to see what it changes ? Especially once switched to ECDSA, crypto will be roughly 15 times faster, you can use less threads. I'm having a hard time figuring if there's some f

[2020-11-20 07:35] wtarreau commented on #967
I also remember seeing it failing on FreeBSD. I've just looked at it, don't even see how this test can work, except by chance because it is based on strict ordering of the output logs that come from two different frontends, but does nothing to guarantee this. In addition, it supports traffic both on H1 and H2, which will schedule things completely differently. It's very possible that curl on FreeB

[2020-11-20 07:37] wtarreau commented on #969
You already have "http-request reject" to forcefully close the H2 connection. However I'd advise you against doing that for what you're describing: forcing a client to perform another TLS handshake is going to slow you *server* down, because TLS handshakes are way more expensive for servers than clients. Maybe you have a specific use case in mind ?

[2020-11-20 07:39] ntimo opened #970 "crt-list not working with bundle certificates in version 2.3"
## Detailed description of the problem

When using the crt-list in the frontend configuration HAProxy does not start and prints the following error message when running ` haproxy -c -f /etc/haproxy/haproxy.cfg`:

[code]

## Expected behavior

The crt-list should work as before with version 2.2

## Steps to reproduce the behavior

1. Setup a haproxy frontend with the following config:
`bind

[2020-11-20 07:39] wtarreau commented on #693
Rest assured that this pain is shared and several of us have already started looking closer into this. There are already some stats about TLS errors, but that's still insufficient :-/

[2020-11-20 07:52] VigneshSP94 commented on #936
@capflam Thank you.

Any inputs required from my end?

[2020-11-20 08:12] capflam commented on #936
For now, not really. We already have an identified bug in the management of idle connections that may lead to memory corruption. It may be unrelated but it is hard to be sure. I must also find some time to refresh my mind reading the code more carefully and more deeply.

I have few questions however. Does the bug occur while there is traffic or not ? And because it seems to be a memory corruption,

[2020-11-20 08:44] wlallemand commented on #970
That's strange, I can't reproduce the problem here, which kind of certificate are these?

[2020-11-20 08:46] hynek opened #971 "DNS-SD stays wrongly DOWN after service churn in 2.2+"
## Detailed description of the problem

I use DNS service discovery via Consul.

Usually everything works fine, but when there is a lot of changes at once (my case is when I drain a cluster node), some of the services remain red.

[code]

According to Consul they are healthy though. Also `0a03004c.addr.scaleup.consul` is correct.

The problem goes away after an HAProxy reload:

[code]

(there is o

[2020-11-20 08:52] TimWolla commented on #969
Oh, that's good to know, but it applies too early. I want to close the connection _after_ successfully sending the response (i.e. effectively disable keep-alive).

Thanks for the warning. For this specific use case the odds are in my favor, though :smiley:

Without going into too much detail: I want to protect the backend against a single (or small number of) clients tying up all the resources jus

[2020-11-20 09:34] ntimo commented on #970
The certificates are named both rsa and ecds certs named:
- wildcard.domain1.com.pem.rsa
- wildcard.domain1.com.pem.ecdsa

[2020-11-20 09:42] rfrail3 commented on #909
I'm facing an other case that is related to this subject too, a range of headers isn't valid with http-response:

From:
`rspidel (Server|X-info)`

The equivalent would be:
`http-response del-header (Server|X-info)`

But it only works with:
[code]

[2020-11-20 09:54] wlallemand commented on #970
Okay, those are bundled certificates then. It's still supposed to work but that's not recommanded anymore.

With HAProxy 2.3, we don't use the multi-certificate per SSL_CTX, so OpenSSL 1.1.1 is required to achieve this (which you have).

To achieve the same thing without the bundle you can simply put all the files in the crt-list:
[code]
This will allow to use both rsa and ecdsa types.

I can  rep

[2020-11-20 09:58] wtarreau commented on #909
There were some design proposals here: https://www.mail-archive.com/haproxy@formilux.org/msg36117.html even a few people interested in working on it, then there were lockdowns everywhere which clearly contributed to making all that stuff fly under the radars :-/  That's too bad, it would have been nice for 2.2!  I think it's not terribly difficult to implement, we just need someone to lead the des

[2020-11-20 10:55] wtarreau commented on #969
I see. Thanks for the context. During the development of the `return` action we discussed the possibility to implement the notion of a "class" of response, which would or would not produce a log, be counted as an error, or cause the connection to be closed. We later figure that most of these were already addressable using one more rule or by completing with a deny rule, even though for the long te

[2020-11-20 11:42] TimWolla commented on #969
This would be great, yes.

I thought that a reload would already kill the H2 connections, because otherwise the old worker might never leave. Is that not the case?

[2020-11-20 11:46] wtarreau commented on #969
On Fri, Nov 20, 2020 at 03:42:53AM -0800, Tim Düsterhus wrote:

I thought it was the case but failed to find it in the code. So I'm
assuming it's closing on idle timeout.

There are so many things to do at the same time :-(

Willy

[2020-11-20 12:17] lukastribus commented on #969
The documentation claims that for `timeout client` and `timeout client-fin` on H2 we send GOAWAY. Maybe that's a good starting point (assuming that this is true).

But yeah it would be nice to also send it:

- shutdown session X on the admin socket
- soft-stop/reload
- before hard-stop-after, not sure how exactly it works
- and ... for the feature in question in this issue of course

[2020-11-20 12:33] nbari commented on #50
hi @bedis thanks for your time on this 👍, I upgraded to `HA-Proxy version 2.2.5-34b2b10` so that should be fine from my side.

[2020-11-20 12:53] #934 closed, assigned to nobody

[2020-11-20 13:44] yoshz commented on #934
Thanks for your reply and looking into it.

Changing the HTTP check to a TCP check still results in DOWN status and unnecessary monitoring alerts.
This way we have to change the monitoring solution to ignore DOWN status for specific cases which seems wrong.

Isn't there a different way in Haproxy to only activate one server in a pool of servers based on the result of check script?
Or is it possibl

[2020-11-20 14:00] capflam commented on #934
You may match on the check status in addition on the server status. In my example, slave servers are set to DOWN with a check status set to L7RSP. But a connection failure will be reported with a check status set to L4CONN.

Another solution is to use a simple redis health-check to known if your server is UP or DOWN and use an agent check to set slaves to DRAIN mode and master to READY mode. The a

[2020-11-20 14:02] ac-obair commented on #964
I think this observation may have just uncovered the issue. The application was returning a 302 with or without the cookie when going direct to the backend. The initial test request to that endpoint didn't seem to enforce the creation or processing of the cookie using curl in every case where as it did with haproxy. After changing the backend to serve a 200 simply to differentiate a response that

[2020-11-20 14:20] jaroslawr opened #972 "Stats page occasionally renders corrupted"
## Detailed description of the problem

Occasionally stats page renders as if it was based on some inconsistent snapshot of the underlying data - some backends instead of being rendered as a green backend row instead render as a "frontend" row, some other backends render blue despite being in completely normal operational state etc. I attach a screen shot that shows the fragment of a stats page th

[2020-11-20 14:27] apenney-beeswax commented on #958
I didn't get a chance to try with less threads, but we did roll out ECDSA which immediately stopped all crashing. I think this was definitely an issue with resource starvation (which makes sense, we know we use 100% of all cores during the time we crash).

We don't load conntrack (I actually need to consider switching that on, we're moving to a monitoring system that uses conntrack for most networ

[2020-11-20 14:49] bedis commented on #971
In 2.2, we added in HAProxy the ability to use Additional records from SRV responses when available. I wonder if this could be related.

Why do you need this option: `resolve-opts allow-dup-ip` ? Can you try without it?

What do you mean by "a lot of changes" happen? What type of changes are you speaking about?

[2020-11-20 14:49] wtarreau commented on #969
Sure, on the moment we know we want to immediately close the connection, we attempt to send a GOAWAY (and timeout qualifies as this). Technically speaking the GOAWAY is currently sent as an error and sets the error condition on the connection, preventing it from further processing streams. This is why in the current state it's not compatible with the graceful close that Tim needs.

I agree with th

[2020-11-20 15:02] wtarreau commented on #958
OK good to know. Maybe your processors are getting hot when hammered too much and their frequency is significantly lowered to a point where it's basically not working anymore. But that would be surprising in a cloud environment, and it doesn't explain why only syscalls would be affected.

Regarding logs, you can enable sampling and emit for example 1/100 only. That's pretty convenient because it s

[2020-11-20 15:35] wtarreau commented on #934
Christopher, now that http-checks are implemented using tcp-checks at the lower level, are the tcp-checks the ones setting the server to drain mode or is there still some code specific to the http disable-on-404 ? I'm asking because if using tcp-check internal rules it's technically possible to make a server enter or leave the drain administrative state, maybe it could be useful to figure a way to

[2020-11-20 15:42] capflam commented on #934
All checks (agent and health) are based on tcp-checks. So yes, drain/maint mode are set from tcp-checks, and disable-on-404 is also handled from tcp-checks. One possible way is to add parameters on tcp-check/http-check expect line. But the harder is probably to keep a consistent state on transition.

[2020-11-20 15:45] StanleyP commented on #956
Could you help me please? I still haven't figured out how to use capture-req/capture-res sample converters.

And why capture-req/capture-res are sample converters in the first place? From their description in documentation it seems to me that they should be sample fetches and not converters.

But maybe I am missing something. Examples of usage in the documentation or some sample code on github/web

[2020-11-20 15:47] capflam commented on #934
I think adding http support on agent-check or refine its format in a way or another may be a good idea. But using health-checks to do administrative task is confusing.

[2020-11-20 15:49] wtarreau commented on #934
I totally agree in general, but given that it was already implemented for HTTP I also see valid use cases (which would definitely be better addressed by an HTTP agent).

[2020-11-20 15:57] hynek commented on #971
LMK if I can query something for you.

[code]

The fact that it takes many changes at once points to some kind of concurrency bug to me though.

That option enables me to have more than one service per node. While I try to avoid that, it definitely **does** happen when a node gets drained. I remember that I was awaiting that very option so I can switch to DNS-SD (look, it's me on the forums in 201

[2020-11-20 15:58] capflam commented on #956
very sorry, I thought I answered you. But, no. To capture the request body, you should wait for it. Otherwise, depending on the network or how the client sends the payload, you will only get the headers during analysis. So, add `option http-buffer-request` in your default/frontend section.

But for the response, there is no such option. For now, the most you can do is to use a tcp-response content

[2020-11-20 16:02] capflam commented on #956
In my todo-list, I have point to add an http action to wait on condition with a optional timeout. It could be a way to wait for the request or the response body and to replace the `http-buffer-request` option. I must add a feature request to make it visible.

[2020-11-20 16:04] capflam commented on #934
disable-on-404 is used to set the server in NOLB state. It is possible to add enable-on-404 option. But let me test something. Maybe I'm smarter than expected ...

[2020-11-20 16:07] wtarreau commented on #934
You're right, we could argue that NOLB is not an administrative state and that technically it could be seen as a death warning. (you could want to return it only based on the load for example).

[2020-11-20 16:34] capflam commented on #934
Ok, there is a way to specify the check status, on success, on error and on timeout. For now, unfortunately 7OKC (used to switch the serveur is NOLB state) can only be used on success. But with a very small patch, it could be possible to do such things:
[code]
And it is probably doable to add a special error/tout status to continue on the next rule to write:
[code]

And of course more scripting ru

[2020-11-20 17:44] wtarreau commented on #934
Indeed, you're smarter than you seem, from now on I will have greater respect for you!

[2020-11-20 19:53] StanleyP commented on #956
The option to wait for request/response would be very interesting. For my use case it would suffice until declared capture buffers are filled (or timeout expired possibly). Any idea when this could be available in haproxy?

But ideally I would like to avoid buffering in main haproxy process at all.

Is it possible to have access to every tcp chunk read/written during http transaction?

What I woul

[2020-11-20 21:30] wlallemand commented on #970
It looks like the removal of the multi-cert SSL_CTX was a mess. I found several issues that broke the error handling. I fixed all I found. This must be backported in 2.3.

[2020-11-21 07:23] bedis commented on #971
Interesting, Consul is not returning any Additional records. Did you enable a specific configuration flag to turn on this behavior?
I want to try this in my consul lab.

If no Additional records are returned, HAProxy should fall back to previous 2.2 behavior and create a "sub" resolution for each SRV record found and associated to a server.

[2020-11-21 08:50] hynek commented on #971
I will check with my colleague, I don't run our Consul cluster. (**edit**: my coworker confirmed that we leave all DNS options on default)

I've checked the config for now but it doesn't look like it:

[code]

At the risk of repeating myself: it's not enough to change a bunch of services. It has to be dozens at once to trigger this bug. Normal deployments with up to 4 services changing works perfe

[2020-11-21 14:58] TimWolla commented on #909
@mzdeb I believe the "related" is no longer correct as your final patch also contains support for regular expressions, right? I'm going to mark this issue as "fixed" (implemented) and closing it. Let me know if you believe there's anything missing still!

[2020-11-21 14:58] #909 closed, assigned to nobody

[2020-11-21 16:41] wtarreau commented on #936
Any chance this could be the same as #945 or do you have any reason to believe it's different ?

[2020-11-22 17:57] bdossantos commented on #971
Hi, I encounter more or less the same bug. Nomad + Consul + Dnsmaq + Haproxy 2.3.1. When I perform nodes drain/rolling update/etc some of my services become "red" and stay red in my haproxy status page, even if everything is green consul side :(.

Everything become green again when I reload my haproxy containers. As if haproxy stops resolving and updating my "server-template" list after a while.

[2020-11-22 18:26] bedis commented on #50
Here you go:
[0001-BUG-MINOR-dns-new-callback-to-properly-handle-SRV-re.patch.txt](https://github.com/haproxy/haproxy/files/5580000/0001-BUG-MINOR-dns-new-callback-to-properly-handle-SRV-re.patch.txt)

Note that it's not the definitive one, I need to validate some corner cases.

[2020-11-22 19:21] bedis commented on #971
@hynek there is something different between your response and the one I see in my consul:

[code]

As you can see, I have ADDITIONAL records which is the resolution of the fqdn pointed to by consul. In your case, you don't have them. That said, there is another big difference which might be the cause of the missing ADDITIONAL section: my consul makes the SRV records point to "nodes" while yours ma

[2020-11-22 19:24] bedis commented on #971
@bdossantos can you provide a "dig -t SRV" against your SRV record in consul and share the output here or to my mail address directly?
Can you also confirm that this problem started in 2.1?

[2020-11-22 21:35] bdossantos commented on #971
Here is a dig output:

[code]

I can't confirm/remember exactly if it started in 2.1.x or 2.0.x, but what I can try : spawn an isolated instance of an "old" version of haproxy with the same configuration watching few consul services, and observe if I have the same behaviors.

nb: I use consul 1.8.6

[2020-11-22 21:43] bdossantos commented on #971
I think about it, maybe the problem appeared when I updated consul from version 1.7.4 -> 1.8.0 in June. Not sure :/

[2020-11-22 23:02] bedis commented on #971
There has been a change in HAProxy related to SRV in 2.2: https://github.com/haproxy/wiki/wiki/Domain-Name-Resolution-(DNS)#history-of-domain-name-resolution-in-haproxy
So if you can run on the side a 2.2+, it would be great and a 2.0, it would be great.
Your DNS response seem accurate.

I am sure this is the case, but worth mentioning it: can you confirm that the number of server-template lines i

[2020-11-23 03:36] VigneshSP94 commented on #936
@capflam no, it occurs regardless of traffic or no traffic.
Our config is very dynamic, API managed. We have mix of http, tcp frontends VIPs.

[2020-11-23 05:54] bedis commented on #971
@hynek same question for you, when the issue occurs, can you compare the output of a "show servers state" with the "dig -t srv" ?