[2021-03-11 05:29] vasanth-pandian opened #1178 "HAProxy Crashing with huge number of server slots on server-template"
## Detailed description of the problem
We have configured DNS endpoints populated in the backend section. Since we run our services on kubernetes, the IPs of backend servers (kubernetes pods) are very dynamic. Also we scale up automatically and we use DNS resolvers along with server-template. Looks like HAProxy is crashing when we tried with huge number of server slots in server-template.

We have

[2021-03-11 05:54] fusionfoto opened #1179 "Connections lasting in CLOSE_WAIT indefinitely..."
## Detailed description of the problem

We are seeing thousands of connections left in CLOSE_WAIT. Not all of them, but some are left open for 4 or more hours with no bytes pending in either direction. We've just begun gathering metrics on the magnitude of the problem. We compare the IP in the CLOSE_WAIT table to the last known access in the haproxy.log to deduce the length of survival.

On a serv

[2021-03-11 09:33] TimWolla commented on #1177
`:latest` is a 2.3.6 as of now: https://github.com/docker-library/official-images/blob/a7157926de2c88d72390adadba25c85d1ef4e259/library/haproxy#L17

[2021-03-11 09:38] chipitsine commented on #1177
continuous benchmarking is ... awesome.
I would add a link to it (if it supposed to stay for a long time)

[2021-03-11 10:05] wtarreau commented on #1177
Yep, the recent updates are encouraging. We've been working on some bottlenecks observed in highly threaded environments and this is starting to pay off. A few of them have even been backported to 2.3 as they addressed possible crashes that were met in certain environments.

Thanks for your nice feedback, I didn't imagine that this would have been noticed by anyone in that short a time :-)

[2021-03-11 10:27] wtarreau commented on #1178
Hi,

could you please extract the thread 18 from your trace ? It's the one that was eating too much CPU and I'd be interested in seeing where it was. I tried your config here but nothing happened except flooding our local DNS server with 5000 requests per second, of course :-)

Please note that while not invalid, a config with 10k servers inside a single backend does have some limits. With roundro

[2021-03-11 10:38] wtarreau commented on #1170
@EmericBr is right, only the first such matching rule must be applied (thus the first one in your case since they're all the same with no condition). This is the documented behavior. However what is not normal is that it's incremented multiple times. I think Emeric's fix is correct, I'll double-check with him.

[2021-03-11 11:28] vasanth-pandian commented on #1178
@wtarreau Here is how our production backend section will look like (200 unique backends) . And we have our customized routing algorithm in lua which does the decision making of choosing the right backend. And each backend will have a maximum of 15-25 servers, but we are trying to have some reserved slots. (50 servers / backend off which 25 Active, 25 in Maintenance. mode). So that whenever we sca

[2021-03-11 13:08] wtarreau commented on #1178
Ah, in 2.0 there was no backtrace :-(  Do you have the core available anywhere ? If so, I would appreciate it if you could open it under gdb and issue "bt full", then "t a a bt full" (shorthand for "thread apply all backtrace full"). It will be large. If too large, just start with the first one which should already help us.

Regarding your config, there's nothing to be worried about at these sizes

[2021-03-11 13:12] wtarreau commented on #1179
There were known issues resulting from a fix in 2.2.8 causing CLOSE_WAIT in H2 that were solved in 2.2.10, and I'm pretty certain that this is what you're facing. As such I'd say that the real problem here is the issue you've been facing on 2.2.10 that is preventing you from updating, and which does not correspond to anything known. So it would be useful if you could share a bit more info about th

[2021-03-11 13:15] wtarreau commented on #1169
And by the way when you update, please take this opportunity to switch to 2.2 which is a longterm supported branch, while 2.1 is reaching end of life in a few weeks at best.

[2021-03-11 13:53] wtarreau commented on #1144
Great, thank you so much for the trace! So here's what happened when leaving poll() in thread 6:
- 31 microseconds after leaving poll(), process_stream() was entered
- 176 microseconds later, back_try_conn_req() was entered
- 2.8 microseconds later, connect_server() was entered
- 7 microseconds later, si_connect() was entered
- 2.4 microseconds later, tcp_connect_server() was entered
- 2.9 microse

[2021-03-11 14:07] wtarreau commented on #1144
Very interestingly, the two other reports were also running on the same 3.10 el6 kernel:
- https://github.com/haproxy/haproxy/issues/671: 3.10.0-962.3.2.lve1.5.32.el6h.x86_64
- https://github.com/haproxy/haproxy/issues/867: 3.10.0-962.3.2.lve1.5.32.el6h.x86_64
- this one: Linux 3.10.0-714.10.2.lve1.5.17.1.el6h.x86_64

And these are the only issues where these kernels are mentioned, i.e. 100% of th

[2021-03-11 14:20] wtarreau commented on #867
Hello! Please have a look at issue #1144. The reporter enabled fine tracing of the function calls, showing that the whole time was spent deadlocking either in the libc or the kernel. And the 3 reports we have for this issue all use the same 3.10-el6h kernel which has been missing quite a lot of fixes, leading me to strongly suspect it now :-/  If you know how to pick a kernel from EL7 and run it t

[2021-03-11 18:40] fusionfoto commented on #1179
This sounds reasonable! Let me find some time to sandbox a 2.2.10 with some live traffic and will create a new issue there. In the meantime, I will close this. Thank you so much for the rapid response!

[2021-03-11 18:40] #1179 closed, assigned to nobody

[2021-03-11 20:00] romeg opened #1180 "HAProxy 2.3.6 backend server list frequently in MAINT status when SRV records are in use"
## Detailed description of the problem
After upgrade to 2.3.6 version I observe strange behavior of stats page indicating MAINT status  _too frequently_ for my back-ends, logs were full of messages that the backends are flapping. All the flapping back-ends were configured via server template and queried from Consul via SRV record. Other back-ends (static hostname + port combination) were not affec

[2021-03-11 20:14] lukastribus commented on #1180
This is a duplicate of #1160

[2021-03-11 20:14] #1180 closed, assigned to nobody

[2021-03-12 02:28] zino7825 commented on #1169
@wlallemand I didn't know "bugs site", thanks for sharing.

@wtarreau I will, actually we are preparing to upgrade 2.2.6

[2021-03-12 06:05] wtarreau commented on #1169
Please take 2.2.10, not 2.2.6 which for which 98 bugs are already known according to the bugs site.

[2021-03-12 07:59] capflam commented on #1176
Thanks, there is indeed a bug. It is pretty easy to fix. I'll push a fix soon. Instead of updating `.health` threshold of the agent-check, the one of the health-check is updated.

[2021-03-12 08:26] tjikkun commented on #867
@wtarreau Thanks, 3.10-el6h  is an EL7 kernel, running on EL6 (CloudLinux calls this the hybrid kernel, hence the h) But this means that it is still the EL6 libc, but with EL7 kernel. So it might be the old libc, or the combination of the old libc with the "newer" kernel (EL6 uses 2.6.32 kernel normally)
As for us, we are in the process of moving to EL8, so this issue is getting less interesting f

[2021-03-12 08:36] #1171 closed, assigned to nobody

[2021-03-12 08:37] #1175 closed, assigned to nobody

[2021-03-12 08:37] #1174 closed, assigned to nobody

[2021-03-12 08:37] #1173 closed, assigned to nobody

[2021-03-12 08:38] #1172 closed, assigned to nobody

[2021-03-12 09:12] wtarreau commented on #867
OK, actually that makes sense because I was a bit confused as I somewhat remembered that EL6 was on 2.6.32, but I thought that 4.4 or so was used in EL7. So, well, even their recent kernel is broken, or maybe it's the old libc. At this point we don't know, I just hope it will not affect too many people. But you're right in that it might rather be the el6 libc in the end (or a combination of both)

[2021-03-12 09:27] chipitsine commented on #1171
should it be marked as "2.3, 2.2, ..." for backporting ?

[2021-03-12 09:53] capflam commented on #1171
It should indeed be backported as far as 1.8 but it does not fix any known bugs. I suggest to keep the issue closed to avoid noise on the GH dashboard. No one is waiting for the backport. It will be performed of course, but it is probably good enough this way, isn't it ?

[2021-03-12 10:18] chipitsine commented on #1171
as I understand, issues marked as "2.3", "2.2" are candidates for backporting.
otherwise, no backport will happen

[2021-03-12 10:24] chipitsine commented on #1171
commit says "must be backported".
commit itself is "BUG" (not a CLEANUP)

looks like it should really be backported, no matter whether somebody is waiting or not

[2021-03-12 10:47] wlallemand commented on #1171
If you want a more precise explanation, it's more like a bug in the HAProxy framework than a bug in the current software. It could be triggered by declaring a new applet in the code in a precise way, but it's unlikely to be triggered in the way it is used today.

[2021-03-12 10:47] wtarreau commented on #1171
Christopher didn't say it will not be backported but that it will happen following the regular backport flow and that seeing too many very low importance issues appear here pollutes the dashboard and makes important ones harder to spot. The real purpose of keeping stuff open here is 1) for affected users to quickly gather behind the same entry or spot what happens to them, and 2) to make sure not

[2021-03-12 11:02] chipitsine commented on #1171
I was sure that backporting works as "let as filter dashboard for tag ... say 2.3 ... and work item by item'''
I do not insist in reopen this issue

[2021-03-12 11:19] wtarreau commented on #1171
The thing is, it's not necessarily the person making the patch that does the backport. And it's very hard to project oneself on someone else's fix. So these are indications for those doing the backport. And when we don't know we ask each other. If it's written "1.8" and we fail to apply at 2.2 for example, we can insist after looking deeper at the nature of the changes, or ask the patch's author.

[2021-03-12 11:51] rfrail3 opened #1181 "Dump info about ssl.cachesize usage"
## What should haproxy do differently? Which functionality do you think we should add?

Via configuration file you can set the ssl.cachesize, but it isn't possible to know the current usage.
It would be nice to have a new line on "show info" with that information, for example, in combination with the current two SslCahe entries:

[code]
Also commented in https://discourse.haproxy.org/t/check-usage

[2021-03-12 12:25] capflam commented on #1176
Fixed and backported now. Thanks !

[2021-03-12 12:25] #1176 closed, assigned to capflam

[2021-03-12 12:55] capflam commented on #1170
In fact, the fix must only be backported as far as 2.2. The missing test already exists on previous releases.

[2021-03-12 12:55] #1170 closed, assigned to nobody

[2021-03-12 14:38] aaronbbrown commented on #1176
@capflam 🥇 Thank you!

[2021-03-12 17:36] capflam commented on #1160
FYI, I pushed a series of patches that fixes several issues. I hope it will work properly in most cases now. But honestly, I will not be surprised if there are still strange bugs. We will emit a 2.3 release next week. Probably Tuesday. We will wait a bit more to release the 2.2.

In addition, we've planned to refactored the resolvers part to make it more maintainable and reliable.

[2021-03-13 14:24] chipitsine opened #1182 "src/cli.c: null pointer derefernce suspected by coverity (new defect)"
[code]

[2021-03-13 14:25] chipitsine opened #1183 "src/cli.c: null pointer dereference suspected by coverity (new finding)"
[code]

[2021-03-14 06:25] chipitsine commented on #1183
fixed in https://github.com/haproxy/haproxy/commit/9c18747823870729fa1dc9c3a77fafe1bc2bfb01

[2021-03-14 06:25] #1183 closed, assigned to nobody

[2021-03-14 06:25] chipitsine commented on #1182
fixed in https://github.com/haproxy/haproxy/commit/9c18747823870729fa1dc9c3a77fafe1bc2bfb01

[2021-03-14 06:25] #1182 closed, assigned to nobody

[2021-03-14 07:46] chipitsine opened #1184 "several string format mismatch caught by cppcheck"
cppcheck ran on 9c18747823870729fa1dc9c3a77fafe1bc2bfb01

[code]

[2021-03-15 02:59] sodabrew commented on #1160
For those of us following along, should we test 2.4-dev12 to see if it behaves as expected? That is, are you backporting identical patches/behavior from 2.4-dev12 to 2.3 and 2.2 or do you expect enough differences that we have to wait for 2.2.11 to come out before we can confirm whether it works correctly or not?

[2021-03-15 07:02] wtarreau commented on #1160
If some of you can give it a try, that would be really nice, as it could give us a bit more confidence into the upcoming 2.3.7. And yes, we're backporting fixes as-is (modulo the occasionally required code adaptations). But if 2.4-dev12 still doesn't work for you, there's no way 2.3.7 will ever work, let alone 2.2.11. Many thanks!

[2021-03-15 11:37] DvdGiessen commented on #1160
FYI, just tested 2.4-dev12, can no longer reproduce this problem. Looks good!

Details: Setup a few Hello World HTTP servers which are discovered by HAProxy through Consul's DNS interface. 2.3.5 worked fine, starting with 2.3.6 if there was more than one server all servers would constantly cycle through health states as they lost and regained a resolved IP. With 2.4dev12, all servers stay up witho

[2021-03-15 13:49] wtarreau commented on #1160
Many thanks for your detailed tests, Daniël. I feel more confident with an imminent 2.3.7 now :-)

[2021-03-16 11:19] Fil0sOFF commented on #1144
Thank you for looking into this.
Here's a `disass 0x00007feb2022acd7`
[code]
Since we're running CloudLinux 6 (EL6 based), which has 2.6.32 kernel by default and 3.10 is the most fresh it can get via backports. So upgrading the distro might be the only option.

Maybe there is some way to ease the watchdog on such buggy kernels?
I thought about increasing this constant
https://github.com/haproxy/ha

[2021-03-16 13:17] wtarreau commented on #1144
Thanks for your dump. It shows that the address is the first instruction on return from the syscall, so the libc isn't responsible here, it's definitely the kernel that triggered this during the syscall.

Regarding the watchdog, you won't even be able to do much, because in your previous dump it was visible that the process remained stuck for 4.6 seconds IIRC. This is infinitely long already. Requ

[2021-03-16 16:00] capflam commented on #1160
FYI, the 2.3.7 is out.

[2021-03-16 16:03] lseelenbinder commented on #1160
(We're on LTS since these are our production fleet. I'll push the next 2.2 out ASAP after it's released so we can test.)

[2021-03-16 20:04] hholst80 commented on #785
The current workflow is also inconsistent with the highly opinionated K8s workflow. kubectl will by default create two keys called "tls.crt" and "tls.key" for a TLS secret.. Not "tls.crt.key", thus not working out of the box.

Workaround (bash shell):

[code]

[2021-03-16 20:36] hholst80 commented on #785
For public information, why can't we just have a "key" keyword in the bind statement, explicitly specifying a key file?

I do not know the internal magic how the suffixes are resolved but I do not think the above statement is true or at least how it is incompatible with the suggested syntax below.

[code]

This would resolve 2 certificates (fullchain.pem and another.crt) and 2 keys (privkey.pem an

[2021-03-16 23:22] Mitendra opened #1185 "SIGABRT during dns resolution if the number of slots in the server template is high (~200) and dns over tcp is used"
## Detailed description of the problem
I'm trying to use dns over tcp as the payload size > 8200 and dns resolution ignores the response if we use DNS over UDP. Number of A records in the dig response has more than 500 hosts and size is > 8200

HAProxy crashes with SIGABRT immediately after starting if the number of slots in server template is 200.
 It works fine if I reduce the number of slots in

[2021-03-17 00:36] kaspergrubbe commented on #1160
Nice work! I can confirm that 2.3.7 fixes the issue for us in our test environment, but we would like to stay on 2.2 for the time being in our production environment so we're ready to test if a pre-release or release happens.

[2021-03-17 01:28] wlallemand commented on #785
This was fixed in 2.3 with the "[ssl-load-extra-del-ext](https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#ssl-load-extra-del-ext)" keyword.

Unfortunately there is no way to know which key is associated with which crt using this syntax, because there is no "declaration order" on a bind line, all options are applied for the whole line. That means if you change the order of the crt and

[2021-03-17 02:51] wtarreau commented on #1160
Thanks for all the great feedback. I can confirm that the intent is to prepare a 2.2 with all this as well. We're just always extra careful with the latest LTS and prefer to emit a 2.3 first to help confirm everything is OK. We've had all we needed here :-)

[2021-03-17 06:05] hynek commented on #1160
I can confirm that 2.3.7 fixes the problem for me too and since the 2.3 line seems to have access logs again, I'm going to stay on it. (I didn't upgrade before because 2.3.x suddenly hadn't them and I was procrastinating on finding out why.)

[2021-03-17 09:01] ghorio opened #1186 "Weird CR session terminations after enabling HTTP/2"
## Detailed description of the problem
Hi all,
So basically I had a haproxy version 1.7.5 running for a long time but we needed to enable HTTP/2, so as its not supported on v1.7.5 I proceeded with upgrade to v1.8.28 and after adding alpn h2,http/1.1 as per documentation I run in an issue with 400 Bad Request on all my requests (later on with help from HAproxy community I found out that it was prob

[2021-03-17 11:20] WRMSRwasTaken commented on #785
If you plan to implement the said `crtkey <certfile> <keyfile>` or something in this direction, having an alternative to `crt-list`, for example: `crtkey-list <file>` with two file paths per line would be a good idea aswell imho.

[2021-03-17 12:42] wlallemand commented on #785
I don't think think adding a new `crtkey-list` keyword is a good idea, each line generates only one SSL context, you can't have multiple key and crt on the same line, so just having a `key` keyword that works only on a crt-list section could be worth considering. It's not the same problem as a bind line.

[2021-03-17 18:51] chipitsine commented on #1115
Theo Buehler:

[code]

[2021-03-17 19:08] chipitsine commented on #1115
I really think "use-after-free" should have been caught directly by us, we can build LibreSSL with ASAN. @TimWolla , what do you think

[2021-03-17 19:17] TimWolla commented on #1115
Please see my previous comment: https://github.com/haproxy/haproxy/issues/1115#issuecomment-780854938

[2021-03-17 19:25] wtarreau commented on #1160
Thanks for your feedback. Anyway fixes will be backported, so 2.2 which is LTS will eventually be fixed once for all.

[2021-03-17 19:47] wtarreau commented on #1115
There's really no need to try to redo history with "could we have done this or that" Ilya. The fact is that there will always be bugs in software and that whatever process and tools we put in place only increase the probability to detect some, at the expense of increased work triaging and qualifying. There are bugs at every layer, even in silicon. And the lower layer ones are way harder to trigger

[2021-03-17 23:40] Wicaeed commented on #1160
I am still having this in the  fixed versions. I have tested with both the 2.2.9 and 2.3.7 versions.

We have multiple services registered with consul, some with as few as 4 endpoints, and one with 180 endpoints, I stuck all of our services into a single backend to see if this was happening with ALL of them, or only a few.

What I found was that this was not happening for services that had relativ

[2021-03-18 00:24] lukastribus commented on #1160
@Wicaeed that's is not what this issue is about and you are right, this is about going beyond 8192 byte responses. You need DNS discovery via TCP, available only in 2.4-dev.

[2021-03-18 00:27] Wicaeed commented on #1160
Thanks for the clarification, I'm already testing it out to see if this will fix our issue :)

[2021-03-18 09:03] rlebreton commented on #1162
This looks like a false positive. The tmp_ssl can be set if 'HAVE_SSL_CTX_get0_privatekey' is not defined.

[2021-03-18 11:43] chipitsine commented on #1162
hmm.... I'll check wether we shoud update guard

[2021-03-18 14:14] capflam commented on #1160
FYI, 2.2.11 was released with all resolvers fixes. Thanks everyone for your help ! I'm closing the issue now, hopefully for good now.

[2021-03-18 14:14] #1160 closed, assigned to nobody

[2021-03-18 15:01] bedis commented on #1160
@Wicaeed I think you need to add the "hold obsolete" timer in your resolvers section.
If Consul needs to return more data than what HAProxy can accept, then it may "truncate" the response and just send a chunk of the records. When "hold obsolete" is set to 0s (which is the default), unseen SRV records are immediately cleaned up and associated servers recycled.
If you set "hold obsolete" to 30s, it

[2021-03-18 20:37] wtarreau commented on #1186
Could you try to comment out the "tcp-request content reject" rule ? I'm wondering if it could be that one request triggers it from time to time, and causes the whole connection to be killed, bringing with it all pending requests. That's one of the "fun" part of multiplexed connections.

[2021-03-18 20:41] wtarreau commented on #1185
There are some long runs over certain server lists that can result in O(n^2) cost in the resolver code for which some solutions are envisoned. Sadly, your trace definitely confirms you've hit one of them :-(

[2021-03-18 21:24] ghorio commented on #1186
Hi. I removed `tcp-request content reject if abuse flag_abuser` from backend config and at first it seemed like it was fine but after some time it still started to throw same CR errors in log file although it looks like they are coming in less than before, maybe its because traffic is not so large currently though.
Would this rule also impact other backends? Because I have this rule only for this

[2021-03-19 03:17] wtarreau commented on #1186
Yes it will impact other backends because its goal is to destroy a front connection. And given that H2 is multiplexed, a front connection will bring up to 100 requests at once that can be routed to different backends depending on your rules, and when one causes the destruction, all other ones will die with it.

[2021-03-19 03:21] wtarreau commented on #1186
And actually the problem with this rule when using H2 is that given that you can get 100 requests at the same time from a single TCP segment, you really get them in the same millisecond so the "rate ge 100" rule will definitely match quite a lot. One possible approach would be to significantly increase the threshold (e.g. to 500 or so). Abusers will generally hit whatever limit you set anyway.

[2021-03-19 07:33] chipitsine opened #1187 "src/server.c; null pointer dereference suspected by coverity (new finding)"
[code]

[2021-03-19 09:58] ghorio commented on #1186
Ok that would make sense for this frontend, but lets say I have a different frontend configured on different IP together with this one, would it still impact the other frontend which had this specific consent URL path hanging up?
And what about those CRs still coming in after removing the tcp reject rule, does it mean client side is sending aborted HTTP requests etc.?

EDIT: Also what I notice is

[2021-03-19 15:57] a-denoyelle commented on #1187
It can be labelled as a false-positive because if newsrv is null, err_code must be set with ERR_FATAL so the above if will be triggered.

[2021-03-19 16:30] chipitsine commented on #1187
thanks, done

[2021-03-19 16:30] #1187 closed, assigned to nobody

[2021-03-19 16:48] capflam commented on #41
Old enough without activity to be closed now.

[2021-03-19 16:48] #41 closed, assigned to nobody

[2021-03-19 17:28] TimWolla opened #1188 "server/cli_add_server.vtc appears to be flaky"
see: https://github.com/haproxy/haproxy/runs/2150160074 and https://github.com/haproxy/haproxy/runs/2149878874

[2021-03-19 17:33] a-denoyelle commented on #1188
Indeed it is. It might be just a synchronization problem but I would like to be sure before starting to push fixes.

[2021-03-19 18:15] chipitsine commented on #1115
I tested on LibreSSL-3.2.5 with tls session resumption enabled.
all works

I'm closing this issue

[2021-03-19 18:15] #1115 closed, assigned to nobody

[2021-03-19 18:20] capflam commented on #139
Flagged to work as designed and inactive since a while. May be closed now.

[2021-03-19 18:20] #139 closed, assigned to nobody

[2021-03-19 18:24] capflam commented on #116
1.9 is EOL now. No feedback since a while. A possible fix was pushed. May be closed.

[2021-03-19 18:24] #116 closed, assigned to nobody

[2021-03-19 18:31] capflam commented on #14
No activity since a while and only reported on a really outdated version now. May be closed

[2021-03-19 18:31] #14 closed, assigned to nobody

[2021-03-19 18:33] capflam commented on #368
1.9 is EOL and the bug was not reported on any other versions. May be closed now.

[2021-03-19 18:33] #368 closed, assigned to nobody

[2021-03-19 18:39] capflam commented on #364
Seem to be a config error. BTW the issue is inactive since a while. May be closed.

[2021-03-19 18:39] #364 closed, assigned to nobody

[2021-03-19 18:45] chipitsine opened #1189 "QUIC build broken on current master"
built against BoringSSL

[code]

[2021-03-19 18:47] capflam commented on #365
A feature request was created to address this issue. May be closed now.

[2021-03-19 18:47] #365 closed, assigned to nobody

[2021-03-19 18:49] cognet commented on #1189
Ooops that's my fault, sorry about that

[2021-03-19 18:57] chipitsine opened #1190 "QUIC build is broken on current master"
build on Fedora 33 / gcc-10.2

[code]

[2021-03-19 18:59] chipitsine commented on #1190
clang-11:

[code]

[2021-03-19 19:04] #1189 closed, assigned to nobody

[2021-03-19 19:09] cognet commented on #1190
Let's fix that as well :)

[2021-03-19 19:15] #1190 closed, assigned to nobody

[2021-03-19 19:52] maciejasembler opened #1191 "Haproxy 2.3.7 Running in Docker gets killed under load using FCGI app"
## Detailed description of the problem

Haproxy 2.3.7 running in Docker (alpine) with simple php-fpm setup gets killed under heavier load.

## Expected behavior

Haproxy runs fine and gracefully handles failures when backed is overloaded.

## Steps to reproduce the behavior

1. Run haproxy 2.3-alpine image with configuration attached (php-fpm is the php-fpm container network tag)
2. Run php-fpm co

[2021-03-20 08:34] capflam commented on #375
I guess we may close this one

[2021-03-20 08:34] #375 closed, assigned to nobody

[2021-03-20 08:40] capflam commented on #431
It seems to be a dead issue. May be closed now.

[2021-03-20 08:40] #431 closed, assigned to nobody

[2021-03-20 08:42] capflam commented on #481
No feedback since a while. May be closed now.

[2021-03-20 08:42] #481 closed, assigned to nobody

[2021-03-20 08:46] capflam commented on #498
No feedback since a while. May be closed now.

[2021-03-20 08:46] #498 closed, assigned to nobody

[2021-03-20 08:49] chipitsine commented on #1162
marked as false positive

[2021-03-20 08:49] #1162 closed, assigned to nobody

[2021-03-20 08:59] #598 closed, assigned to nobody

[2021-03-20 09:04] #684 closed, assigned to nobody

[2021-03-20 09:05] #311 closed, assigned to nobody

[2021-03-20 09:10] #840 closed, assigned to nobody

[2021-03-22 10:55] a-denoyelle commented on #1188
I pushed a commit, let's hope it will help to stabilize the reg-test.

[2021-03-22 11:01] capflam commented on #1191
You said it works on the 2.2. I guess it is the 2.2.11, isn't it ? And if possible, could you also try the 2.3.6 to reduce the scope ?
Otherwise, it could be really useful to get the backtrace if you have a core file. If not, it could really useful to have one :)

In the meantime, I'll try to perform some tests on my side. Thanks !

[2021-03-22 11:03] a-denoyelle commented on #1136
FYI, a first implementation of the feature has been landed in the recent 2.4-dev13. Currently, only a small subset of server keywords is supported. This feature has been marked as experimental. For all interested users here, do not hesitate to test it and report your impression. If you miss some important keywords, feel free to mention it so that it will guide our next priorities.

[2021-03-22 11:15] maciejasembler commented on #1191
According to:

https://github.com/docker-library/haproxy/blob/c81ce53445ae94ffbde9dc08827a1b6811290e62/2.2/alpine/Dockerfile

Its 2.2.11 Indeed, I will re-run it today and check.

I managed to test successfully on 2.3.2 however running locally on my Mac, I will try to build docker with 2.3.6 locally using the dockerfile on Github and let you know.

[2021-03-22 12:19] bren-doyle opened #1192 "Add the ability to list a default set ciphers/cipher suites on a per backend and per frontend basis"
## What should haproxy do differently? Which functionality do you think we should add?

I’d like to configure a list of ciphers on a per backend basis i.e to be able to use ssl-default-server-ciphers in each backend section rather than having to use ciphers on each server line. I don’t want to use ssl-default-server-ciphers in the global section as each backend can have a different set of ciphers.

[2021-03-22 12:29] capflam commented on #1191
Don't bother with more tests, I found the bug. It was introduced when the commit e388f2fb was backported to 2.3. A lock was moved into a `if` block but not the unlock. I'll fix it. Thanks.

[2021-03-22 12:29] capflam commented on #1191
This also means it should work on the 2.3.6.

[2021-03-22 12:57] capflam commented on #1191
It was fixed. The corresponding commit is [2b7a3c474](http://git.haproxy.org/?p=haproxy-2.3.git;a=commit;h=2b7a3c474c52ef89c48fb66f16b084b4ee196367) in the 2.3 repository, if you want to try. Unfortunately, that means the 2.3.7 must not be used with a FCGI app.

[2021-03-22 14:14] maciejasembler commented on #1191
Thanks !

Due to statics present in the project I must use "other popular proxy engine". But glad to get it resolved for others :)

[2021-03-22 14:41] #1191 closed, assigned to nobody

[2021-03-22 18:11] tianon commented on #760
Looks like this same issue applies to the newly released 1.7.13 too. :sweat_smile: :pray:

[2021-03-23 15:31] capflam commented on #760
Indeed, I forgot to backport the fix to the 1.7. Backported now.

[2021-03-23 15:33] TimWolla commented on #760
@capflam I assume we can't expect a _regular_ 1.7 release any time soon. Will a 1.7.14 be tagged just for this commit or should the docker image manually pull in the patch?

[2021-03-23 21:37] wtarreau commented on #760
I'm personally fine with re-emitting a version even with very few changes. It's just that it's worth waiting a day or two to make sure we don't emit one per patch. What matters is not as much the number of versions as the fact that the latest one works. If it takes another one to fix a build issue, be it.

[2021-03-24 01:06] anitgandhi commented on #1192
Would this work?

[code]

Could further simplify to:
[code]

On the `frontend`, the `bind` line takes a similar `ciphers` directive.

[2021-03-24 01:42] anitgandhi opened #1193 "2.2.11 possible regression in http-response track-sc* behavior"
## Detailed description of the problem

I recently attempted upgrading from HAProxy 2.2.6 to 2.2.11, and noticed that behavior related to `http-response track-scX myKey table myTable` has changed. Specifically, some counters are not updating at all anymore.

## Expected behavior

Expected to see the counters continue to be populated.

Especially when the 2 separate `http-response` directives refer

[2021-03-24 09:12] wtarreau commented on #1193
Hi,

there is very likely a bug in your configuration, you have the same track counter used in two rules:
[code]
As indicated in the doc: `The first "track-sc1" rule executed enables tracking of the counters of the specified table as the second set` so if your goal is to try to track the protocol and if it fails, to fall back on the cipher, it's valid, but very likely it's not at all what you inte

[2021-03-24 16:39] anitgandhi commented on #1193
Hi, thanks for the response and explanation. I see now how the configuration was incorrect.

I guess prior to 2.2.11 it was working inadvertently, and with the bug fix commit, it fixed that incorrect behavior.

That said, I'm still a bit confused why the following configuration does not work in 2.2.11 either (note the 2 separate trackers, 2 separate tables):

[code]

[code]

Also note that this mo

[2021-03-24 17:58] apenney-beeswax opened #1194 "ARM still crashing"
## Detailed description of the problem

Hey @wtarreau - hopefully you remember me from the exciting adventures of crashes on ARM previously.  We've just attempted to roll out 2.3.7 and despite having some early success after reducing the number of nodes running (so more usage per box) we've started hitting crashes again:

[code]

Generally speaking we've seen much more consistent CPU usage since m

[2021-03-24 18:06] wtarreau commented on #1194
It died in sh_ssl_sess_remove_cb(), probably on the shctx_lock though it's not even certain. It's unrelated to the ARM platform this time, and I've gone way higher on these machines (which allowed to significantly improve the situation). More on this soon hopefully.

Could you please run a "bt full" in gdb to see where it was exactly ?

I don't know exactly what sh_ssl_sess_remove_cb() is used for

[2021-03-24 18:33] fusionfoto opened #1195 "2.2.11 CLOSE_WAIT issue"
## Detailed description of the problem

haproxy 2.2.11 still forgets to reap some connections resulting in CLOSE_WAIT status. Much improved over earlier versions, but problem still persists.

## Expected behavior

Closed connections should be reaped automatically.

## Steps to reproduce the behavior

I just upgraded and ran 2.2.11 for about 20 hours to see the lingering CLOSE_WAITs.

1.
2.
3.

##

[2021-03-24 18:37] apenney-beeswax commented on #1194
Will do!  I'm just waiting to catch a core dump (by default these are turned off so I had to do a bunch of stuff to get this re-enabled) and of course it's taking forever to crash.  Soon as I catch one I'll get the full bt in here :)

[2021-03-24 18:46] wtarreau commented on #1193
For now I cannot reproduce it with a simpler config, so I'm trying to set up a reproducer. Could you please switch the two rules and see if only the first track-sc works for example ?

[2021-03-24 18:49] wtarreau commented on #1193
Also, are you certain you were not already using track-sc2 in the frontend for example ? The trackers are per-transaction so what you set at the beginning of the request remains active till the end of the response. Maybe you're just having some overlap ? Because when I'm setting 3 http-response track-sc{0,1,2} rules on 3 different tables, I'm well seeing the 3 being updated.

[2021-03-24 18:54] wtarreau commented on #1195
Could you please issue "show fd" on the CLI and find the matching source ports ? If so, a few of these lines would be extremely useful. We'd know if it's H1 or H2 and if we're still in a corner case that 2.2 doesn't know how to handle.

[2021-03-24 19:02] anitgandhi commented on #1193
I was worried about possible overlap with the frontend as well, but I just re-checked our config and we only ever use the following config for frontends:

[code]

Note that we use `tcp-request session` here instead of `http-response track`; this is because for the data we need, which is TLS session stats, it's more appropriate (in my opinion) to track the session layer.

[2021-03-24 19:07] fusionfoto commented on #1195
I'm 99% sure these are H2 connections, because we weren't seeing this behavior in H1 when we ran that exclusively last week.

[code]

[2021-03-24 19:15] fusionfoto commented on #1195
Here are highlighted connections by rport:

[code]

let me know if you want me to pull out all of them.

[2021-03-24 19:23] anitgandhi commented on #1193
So with this config on 2.2.11:

[code]

The cipher stats are populated, but not protocol:

[code]

(perhaps I misinterpreted the request w.r.t switching the 2 directives; if this was incorrect, please let me know, I'm happy to try any combination of configuration!)

[2021-03-24 19:54] wtarreau commented on #1193
Great, so this proves that the issue is with the rules ordering and not with the samples nor the tracker number. Thanks for the test. Your point about the session rules is interesting, I didn't notice first time, I'll need to take that into consideration. And you're perfectly right that it's more appropriate.

However there's still overlap of sc1 which is used at two places. I don't understand why

[2021-03-24 21:08] lukastribus commented on #1192
For the backend, yes, as already suggested in:
https://discourse.haproxy.org/t/per-backend-cipher-suites/6346/2

No solution for the frontend though, so this does make sense.

[2021-03-24 21:08] anitgandhi commented on #1193
Apologies for an earlier comment that I have since deleted - in it, I noted that switching the order of the 2 `http-response track-scX` directives succeeded; turns out I accidentally tested that on 2.2.6 hence it was "working".

The comment I have kept above is indeed with 2.2.11; based on what I could gather there, changing the order does not seem to matter - whichever directive that uses `sc2` i

[2021-03-24 21:13] anitgandhi commented on #1193
Anyway, thank you for all the help with this! We were clearly relying on incorrect behavior, and I do believe 2.2.11 is behaving more consistently than previous versions, so I'm going to close this.

[2021-03-24 21:13] #1193 closed, assigned to nobody

[2021-03-24 21:44] wtarreau commented on #1193
OK thanks for the details, it's useful to know a bit more about the use cases! And yes I was about to suggest combining the two entries into a single table but it can be more cumbersome to extract them as pure stats.

[2021-03-24 21:56] lukastribus opened #1196 "stick table counter regression 1.8.29, 2.0.21, 2.1.12, 2.2.11"
This is a **tracking issue only** for a bug that is already fixed in all supported, affected trees.

## Detailed description of the problem

From the fix 8cc586c73fefd96f4be1f7820e38a1263f6252ca

First reported:
https://www.mail-archive.com/haproxy@formilux.org/msg40013.html

Second report:
https://discourse.haproxy.org/t/counter-issues-on-1-8-29/6381

## Expected behavior

Counters decrement over

[2021-03-24 21:57] #1196 closed, assigned to nobody

[2021-03-24 23:09] anitgandhi commented on #1193
Ah thanks for that suggestion about combining, I got it to work with this config below. The custom concatenation using a known delimiter (`|`) works well enough for our use case, and we can use 1 less SC now :)

[code]

[2021-03-25 01:14] stgraber opened #1197 "Segfault in `ssl_sock_shutw` on 2.0.13, 2.0.21, 2.2.11 and 2.3.7"
## Detailed description of the problem
I'm running three reasonably busy haproxy instances used to terminate TLS for a variety of domains and proxy to http services (with a fair amount of websocket). The traffic is a mix of very long lasting websocket and longpoll connections mixed with many (3-10/s) very short connections leading to a 301 redirect to an external server.

Every few hours, I'm noti

[2021-03-25 03:42] wtarreau commented on #1193
Yep, that was the idea. I'm using concatenation at various places as well (e.g. source+cookie etc). Glad it worked for you!

[2021-03-25 03:53] wtarreau commented on #1195
Thank you! So for all of them the read shutdown was reported on the connection:
[code]
The first and the last 2 ones in your dump still have live streams so they cannot close, but they should have reported that shutdown to them. The second one has no stream, I do not understand why it didn't close here.

I remember that we've fixed a few such issues between 2.2 and 2.3 and other ones after 2.3, wh

[2021-03-25 10:28] Mo3m3n opened #1198 "Add base directory for map files"
## What should haproxy do differently? Which functionality do you think we should add?

Provide a directive to specify a base directory for map files, similar to what we already use for ca,crt,server-state ([ca-base](https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#ca-base), [crt-base](https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#crt-base), [server-state-base](https:/

[2021-03-25 11:59] bren-doyle commented on #1192
Yes that works for a hand edited file but when using the data plane API it does not work for ciphers (seems like a bug), so this is ignored:
         "default_server": {"ciphers": "ECDHE-RSA-AES128-GCM-SHA256"}

[2021-03-25 12:56] capflam commented on #1194
@wtarreau , I don't know if you noticed it yet and if it is relevant, but some tasks seem to be in a junk state (threads 11 & 22) . Their process function points to `pool_cache`.

[2021-03-25 13:08] wtarreau commented on #1194
No, not necessarily, it's just that there's no symbol for their handler, typically because it is declared as static, so the closest symbol was used instead. That's why we've turned a number of them to global since then. In 2.2 a quick grep shows me 29 of them, versus 10 in 2.4!

[2021-03-25 13:10] capflam commented on #1194
Ok good to know. Thanks

[2021-03-25 13:22] apenney-beeswax commented on #1194
Finally got some overnight @wtarreau - I have 4 of these so if you need extra info let me know:

[code]

I'm hopeless with gdb so hopefully you can guide me through the rest from here to get you actually useful info :)

Edit: Total guess here but this is the thread that raised, and has sh_ssl_sess_remove_cb:

[code]

[2021-03-25 15:57] wtarreau commented on #1197
Hi Stéphane,

I'm not aware of this one, however I remember that we already noticed some very rare situations where the mux's shutw() call could be called, and I'm seeing that there's no protection against this in h1_shutw_conn() so I suspect that's exactly the cause of the issue.

I'd like to suggest you to apply this tiny patch to skip the second shut if already done (it only conditions the conn

[2021-03-25 16:06] wtarreau commented on #1194
Thanks!

So it's indeed in the shctx_lock. However that's strange, as that part is protected by a futex so it shouldn't take much time.

Hmmm we're using plain gcc builtins here for xchg: `__sync_lock_test_and_set(ptr, x)` and this one will certainly rely on the old LL/SC model and will not involve any cpu_relax() call. But the cpu_relax() is a detail compared to the use of LL/SC with many cores,

[2021-03-25 16:06] wtarreau commented on #1194
By the way, we just emitted 2.3.8, please take this opportunity to apply it, it addresses a few other nasty issues, let's not keep them for no reason :-)

[2021-03-25 16:20] fusionfoto commented on #1195
Let me see what I can do! Thanks for the update. :)

[2021-03-25 16:45] apenney-beeswax commented on #1194
It's going to be tough to test with native (not impossible, but I need to think about this).  Previously we just pulled in a set of pre-built packages but I think given our need to constantly experiment here I'm going to carve out time tomorrow afternoon and work on switching from packages to custom built binaries!  (Will make it easier to experiment with dev builds too).

[2021-03-25 18:00] wtarreau commented on #1194
No problem, however it's *very* important to understand that the old ARM atomics do not scale at all on many cores. Even at 4 cores you start to see a difference. The old method consists in starting a modification and trying to write it back and looping back to the beginning if anyone touched the cache line in between. You can easily imagine what it does when you have 16 cores :-)  When I tried on

[2021-03-25 18:01] wtarreau commented on #1195
By the way, we've just issued 2.3.8 because 2.3.7 had a few regressions. Better use that one to stay on the safe side. It would be sad that you hit one of them!

[2021-03-25 19:25] JonnyRoller opened #1199 "Connection reset/PR_CONNECT_RESET_ERROR in 2.2.11"
## Detailed description of the problem

Users experience "connection reset" and PR_CONNECT_RESET_ERROR browser messages intermittently. I would occasionally see this on the "Statistics Report" page as well. Also, SSL Labs tests (https://www.ssllabs.com/ssltest/index.html) would fail to produce a complete report on the SSL certs.

## Expected behavior

No "connection reset" or PR_CONNECT_RESET_ERRO

[2021-03-25 20:16] stgraber commented on #1197
Package building in https://launchpad.net/~stgraber/+archive/ubuntu/experimental/+packages

[2021-03-25 20:25] fusionfoto commented on #1195
Thanks. Decided to go ahead and try it on the production system we were seeing the issue on... with the bounceless restart, it doesn't have much impact. Will report back in 24 hours or so.

[2021-03-25 21:16] stgraber commented on #1197
Got all 3 servers running with the patch now, let's see if I get any more crashes over the next few hours.

[2021-03-25 21:42] wtarreau commented on #1199
Hi,

thanks for your report. I'm pretty sure it's caused by the rate check. There was a bug there causing it to be randomly reset with threads, and the fix only worked for periods of 1 second or less, but fails to rotate the periods for larger durations. The latest maintenance version as well as the recently released 2.3.8 both have the fix. Otherwise early next week we'll issue 2.2.12 with it.

[2021-03-25 23:16] apenney-beeswax commented on #1194
As the crashes continued I've put the work in to switch over to self-compiled+coredumps globally enabled!  I'll be getting this deployed onto a handful of instances tonight and giving it overnight to see if it helps (and what the performance is like).

Once we've got this fixed I'll try to find a way to the owner of https://launchpad.net/~vbernat/+ppa-packages to see if there's any way to improve

[2021-03-25 23:25] TimWolla commented on #1194
This is Vincent Bernat who also maintains the official Debian packages: https://qa.debian.org/developer.php?email=bernat%40debian.org. Vincent is also (somewhat) actively following the mailing list.

[2021-03-26 03:00] apenney-beeswax commented on #1194
OK, after a very long battle with our automation I have this in production:

[code]

I'll run this overnight and see how things look, if I get any coredumps i'll pop the details in this issue!

[2021-03-26 04:07] stgraber commented on #1197
So far so good, no crashes on any of the three servers after almost 8 hours of running the patched version.

[2021-03-26 05:13] wtarreau commented on #1197
Thanks Stéphane. I'll look closer at other muxes before preparing a final patch. I suspect that only H1 is affected since the other ones usually cannot instantly close but will defer it.

[2021-03-26 07:08] mjuraga commented on #1192
@bren-doyle this is a bug in the Data Plane API, we can track it here: https://github.com/haproxytech/dataplaneapi/issues/180

[2021-03-26 07:14] wtarreau commented on #1198
I think it makes sense, but it will also apply to ACL files. We could think a bit further, with crt-lists and possibly other files loaded at boot time (I think we already have a lua-load-path). I suspect that most users would in fact need to be able to use a default prefix corresponding to the location where haproxy config files are stored. Maybe we can think about an option that would make all pa

[2021-03-26 10:24] bren-doyle commented on #1192
Buy the way 'ssl-max-ver' and 'ssl-min-ver' are also ignored

[2021-03-26 10:34] JonnyRoller commented on #1199
Thanks, Willy! I'll keep an eye out for the new version.

[2021-03-26 11:09] Mo3m3n commented on #1198
I think this is going to be helpful and address more use-cases than what I have reported above. Actually I have even thought about doing smth similar, by running haproxy in the same location as haproxy config to be able to use a default prefix. So it will be convenient to have an option for this.

[2021-03-26 11:53] lukastribus commented on #1199
In this case, it's a duplicate of #1196

[2021-03-26 11:53] #1199 closed, assigned to nobody

[2021-03-26 12:45] stgraber commented on #1197
Just re-checked all 3 servers and still no crash on any of them overnight, so that's feeling quite solid with this fix.

[2021-03-26 12:48] wtarreau commented on #1197
Many thanks for your tests, Stéphane. I've merged the fix into 2.4 already and will backport it so that next maintenance releases have it.

[2021-03-26 12:56] TimWolla commented on #1198
The lua-load-path should remain independent, because it is about the Lua *library* path and not necessarily related to the HAProxy configuration itself (you would not store the libraries in `/etc`).

[2021-03-26 13:12] apenney-beeswax commented on #1194
No crashes and when I woke up this loadbalancer was taking the largest share of traffic (indicating that it performed best from the external senders perspective), so things are looking optimistic.  I'm rolling this out globally to see if it stops our crashes!

[2021-03-26 13:15] wtarreau commented on #1198
OK, I'm always confused in that I believe it's about portable Lua libraries (i.e. .lua or .lc files). For these ones it could make sense for a hosting provider to allow their customers to provide a tar.gz containing the config files and all required dependencies.

[2021-03-26 13:40] wlallemand commented on #1198
It depends, you could have .lua but also .so libraries.
For example on my dev setup I have:
[code]

It's useful for people using 3rd party lua libraries which can be installed manually or with luarocks.

[2021-03-26 13:41] TimWolla commented on #1198
Both. `lua-prepend-path` (there is no `lua-load-path`) can be used for both pure Lua as well as C libraries. I was the person that added that directive for use with my haproxy-auth-request script that depends on haproxy-lua-http:

https://github.com/TimWolla/haproxy-auth-request#usage
https://github.com/TimWolla/haproxy-auth-request/blob/6736c7cb042ff8a860c69d7451ccb1a938846036/test/allow.vtc#L19-

[2021-03-26 14:08] wtarreau commented on #1198
OK in this case it remains absolute anyway. BTW I remembered pretty well it came from you :-)

I'm thinking about adding something like this:
[code]
It would specify how to handle relative paths for files.
- current => relative to CWD, what is currently done
- config => relative to config file
- parent => relative to config file's parent directory

We could even make sure that all unix-path-prefix

[2021-03-26 14:50] kzemek commented on #1195
I'm also seeing lingering CLOSE_WAIT after running the proxy for 4 days - but in TCP mode. I'm running 2.4-dev12 on dozens of machines, and today one of them had much-increased CPU usage on two threads, and two persisting CLOSE_WAIT sockets. I've also seen this previously on 2.4-dev11 after about 3 days of use. That's with `tcp-ut` set on both `bind` and `server`, `timeout client-fin`, `timeout se

[2021-03-26 15:34] wtarreau commented on #1195
Interesting. Could you please issue "show fd" on the CLI and find there a few `lport` or `rport` which match some of the CLOSE_WAIT you're seeing ? I'd be interested to see the details of the mux and connection these are attached to.

[2021-03-26 15:36] fusionfoto commented on #1195
So we've run 2.3.8 for a little less than 24 hours and have 3 connections in lingering CLOSE_WAIT. Without pulling show fd I can tell you they are part of the HTTP/2.0 mutex because the original requests from those IPs came in via HTTP/2.

Let me know how I can help.

[2021-03-26 15:41] kzemek commented on #1195
I've restarted the process as soon as I've seen the problem (owing mostly to the increased CPU usage), I'll run this command (and any other you recommend) as soon as it shows up again.

[2021-03-26 16:29] wtarreau commented on #1195
@fusionfoto thanks for testing. If you could redo the "show fd" stuff with a few entries, that would be great. 2.3 has a few more fine-grained details on the connection and mux states, which can help better figure the trouble. But past this point we'll have to try to spot the issue in the code and possibly ask you to test some patches.

[2021-03-26 18:34] fusionfoto commented on #1195
@wtarreau -- here you go!

    234 : st=0x22(R:Ra W:Ra) ev=0x11(HeopI) [lc] tmask=0x10 umask=0x0 owner=0x7f224c08e260 iocb=0x556de34e6100(conn_fd_handler) back=0 cflg=0x80043300 fam=ipv4 lport=443 rport=9580 fe=dashboard.xxx.yyy mux=H2 ctx=0x7f225004bc40 h2c.st0=FRH .err=0 .maxid=1287 .lastid=0 .flg=0x70000 .nbst=4 .nbcs=4 .fctl_cnt=0 .send_cnt=0 .tree_cnt=4 .orph_cnt=0 .sub=0 .dsi=-1 .dbuf=0@(nil

[2021-03-26 18:42] wtarreau commented on #1195
Thank you, will study this now.

[2021-03-26 21:30] apenney-beeswax commented on #1194
@wtarreau OK, looks like we've been crash free all day after moving our largest region over to this self compiled version so I'd consider this bug "fixed" (I'll talk with @vincentbernat and see if there's anything we can do on the package side of things to stop other people running into this.

Last question in this bug report, is there anything else I should be optimizing here:

[code]

I switched

[2021-03-27 06:15] wtarreau commented on #1194
I think we could do something. We can add a new CPU entry in the Makefile to simply use `-march=armv8.1-a`. This will be quite sufficient and will automatically enable LSE atomics on modern ARM cores (Graviton2, Cortex-A55 or A75 and above). The other optimizations will only bring marginal gains, possibly not even measurable. And you don't want to start to tune for a given CPU in a standard packag

[2021-03-27 06:29] wtarreau commented on #1194
We could even go with armv8.2-a since no cortex implements v8.1-a only, and neoverse starts at v8.2-a as well. However except for short floats there's nothing that should change the emitted code by doing this.

[2021-03-27 06:52] chipitsine opened #1200 "src/vars.c: unitialized variable suspected by coverity"
[code]

[2021-03-27 09:50] wtarreau commented on #1186
If they happen on images it could very well match clients aborting on heavily loaded pages. I'm personally used to press Escape all the time when a site takes time to load, and I'm pretty sure I'm not the only one :-)

[2021-03-28 21:42] lukastribus commented on #44
`req.fhdr` should be used instead of `hdr` and `replace-header` instead of `replace-value` to avoid unnecessarily parsing the header and support more than one incoming value in the header.

    http-request replace-header x-forwarded-for ^ "%[req.fhdr(x-forwarded-for)], %[src]"

(from https://discourse.haproxy.org/t/appending-to-the-xff-header-does-not-work-as-expected/6415/3)

[2021-03-28 23:07] apenney-beeswax commented on #1194
Bad news @wtarreau - one of these nodes crashed (and the others don't seem to be doing so well).  One that I'm sure crashed gave me a truncated coredump so I can't actually get you debugging info, the logs:

[code]

I'll be looking through the rest to see if any others dumped a usable coredump.

[2021-03-28 23:20] apenney-beeswax commented on #1194
Looks like the rest all have truncated coredumps, which I guess is a "feature" of systemd.  haproxy must have been over:

[code]

Tomorrow I will raise this limits and restart the entire cluster to try and catch a non-truncated core to figure out what's going on here. :(

[2021-03-29 13:30] tomaszszlek opened #1201 "Configuring crl-file breaks valid certificates"
## Detailed description of the problem

I have problem with using CRL in HaProxy. In short, if I have two certificates and will add CRL file with one of them to HaProxy configuration then the other one (which wasn't revoked) is considered invalid by HaProxy.

## Expected behavior

After adding CRL file to HaProxy configuration, requests from not revoked client certificates shouldn't be rejected.

[2021-03-29 15:11] Soha-Albaghdady opened #1202 "High CPU usage after update to 2.2.5"
## Detailed description of the problem

We have observed an increase in the CPU (above 90%) of one haproxy instances after updating the haproxy version to 2.2.5. We are using 48 instances of haproxy which were all updated. After the increase we restarted the instance the CPU load went back to normal but the load started to rise on another instance (~100 %). The error logs contains only too many  f

[2021-03-29 15:25] bjacke opened #1203 "silent-drop not working with IPv6 connections"
## Detailed description of the problem
silent-drop on tcp frontends does not work with IPv6 connections, the server sends a TCP RST after the tcp-request inspect-delay. With IPv4 connections the connects are properly dropped silently.

## Expected behavior
als IPv6 connections should be dropped silently, same like IPv4 connections

## Steps to reproduce the behavior
use sample config, then "telnet

[2021-03-29 15:52] a-denoyelle commented on #1203
I have tried to reproduce the issue with your configuration sample without success. For me, I see no TCP RST for both ipv4 and ipv6. Beware that it requires haproxy admin privilege to properly set the TCP_REPAIR socket option.
By the way, you are using an outdated version. If you can, do not hesitate to update at least to the latest version of the 2.2 which is currently the 2.2.11. Maybe this will

[2021-03-30 07:04] wtarreau commented on #1195
So after an in-depth analysis, these streams are not waiting for anything on the H2 side, neither receive nor send, so they're in fact busy waiting on the other side (i.e. server).

What bothered me was that normally in this case either the server responds or a timeout strikes, but in your case the server timeouts are huge (12 hours), so in case of any issue on the server side, it is indeed expect

[2021-03-30 08:05] lukenowak commented on #1109
Do you mean server side and client side of haproxy itself? I can do.

I'll give a try and provide feedback.

[2021-03-30 08:08] lukenowak commented on #1109
I just checked and `retry-on` is by default `conn-failure` according to the [documentation](https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#4-retry-on), and I am keeping this default. Do you want me to force it?

[2021-03-30 08:18] wtarreau commented on #1109
For the network capture, yes, both sides from the haproxy machine would be nice. I think we'll see a FIN from the server at the same time as the GET sent by haproxy, resulting in the loss of the request and a FIN being sent to the client.

Regarding the L7 retry, that's it, it would need to be forced so that haproxy keeps a local copy of the request before reusing an idle connection, and is able t

[2021-03-30 09:54] schferbe commented on #1196
Is there a plan when this fix will be released on the 2.2 LTS line?

[2021-03-30 10:31] bjacke commented on #1203
admin privileges should not be an issue there. But it seems like the silent-drop feature is really quite picky. Also running it on the same host where haproxy runs, the telnet on IPv4 also gets a TCP RST even though remote connections don't get a TCP RST. I also don't see AF_INET[6] dependencies in the code. Maybe it's also just a OS problem.

[2021-03-30 10:39] lukastribus commented on #1196
It was planned for the beginning of this week, however there's a chance that the fix is not fully addressing the problem, which is why additional diagnosis will be required at this point:

https://www.mail-archive.com/haproxy@formilux.org/msg40095.html

[2021-03-30 11:33] kzemek commented on #1195
Hey @wtarreau , what would haproxy be waiting on the server for in this case? CLOSE_WAIT means we got a FIN packet, now we have to send a FIN back, and that happens by `close()`ing the socket. Here's a [relevant comment from the kernel source](https://github.com/torvalds/linux/blob/05a59d79793d482f628a31753c671f2e92178a21/net/ipv4/tcp.c#L233-L235):

[code]

[2021-03-30 12:32] a-denoyelle commented on #1203
In case TCP_REPAIR is not supported, the implementation sets the TTL for future RST packet to 1, which can explained why you see it nevertheless on the local host but not on a distant machine.

[2021-03-30 12:52] lukastribus commented on #1203
Which OS, libc, kernel is this and how did you get the executable (compiled locally; remotely, installed from repositories)? At least glibc-2.18 is required for `TCP_REPAIR` to be defined.

Add the define manually during compilation if the libc does not provide it (but the kernel does):

    make clean; make [...] DEFINE="-DTCP_REPAIR=19"

Run haproxy through `strace -tt` and check the calls and r

[2021-03-30 13:30] bjacke commented on #1203
also just checked more systems, I see the described effect with v6 not silently dropped on:
Ubuntu glibc 2.31, kernel 5.4, Ubuntu 20.04 haproxy build 2.0.13
Debian Buster with glibc 2.28, kernel 4.19,  current haproxy.debian.net buster-backports-2.2 (haproxy 2.2.11)

[2021-03-30 13:44] bjacke commented on #1203
TCP_REPAIR fails, probably because the process runs as haproxy and not as root?
[pid 20603] 13:39:55.464009 setsockopt(22, SOL_TCP, TCP_REPAIR, [1], 4) = -1 EPERM (Operation not permitted)
But it's quite usual, that haproxy forks with different user than root. So the TCP_REPAIR failure is unavoidable here then?

[2021-03-30 13:47] bjacke commented on #1203
in the TTL fallback method I see for both v4 and v6:

[pid 20604] 13:45:29.310115 setsockopt(22, SOL_IP, IP_TTL, [1], 4) = 0

but for v6 this does not seem to work, still the TCP RST reaches the client.

[2021-03-30 14:07] bjacke commented on #1203
https://www.ibm.com/support/knowledgecenter/ssw_ibm_i_71/apis/ssocko.htm mentions for IP_TTL:  This option is only supported for sockets with an address family AF_INET.

[2021-03-30 14:12] bjacke commented on #1203
IPV6_UNICAST_HOPS seems to the the equivalent for AF_INET6, or?

[2021-03-30 14:22] a-denoyelle commented on #1203
You are right, ttl is an header of an ipv4 datagram, it was renamed to hop-limit for ipv6. Therefore we should probably set the corresponding options depending on the socket family here.

[2021-03-30 14:37] lukastribus commented on #1203
We need the rest of the configuration, so we can shed some light on it. You are probably dropping privileges ("user", "group" settings).

I agree the workaround for TCP_REPAIR would have to be conditioned, based on the AF (`if AF_INET6: then IPPROTO_IPV6 -> IPV6_UNICAST_HOPS = 1`)

[2021-03-30 14:45] bjacke commented on #1203
yes, the config has "user haproxy" in global section. I was just wondering (and assumed that first) if haproxy can regain root privileges for TCP_REPAIR maybe. No problem if not as the TTL/HOP issue is identified now, too :-)

[2021-03-30 15:16] lukastribus commented on #1203
No, we can't regain privileges, that's the point of dropping them in the first place :)

You could not drop privileges at all by removing the user/group settings, or assign `CAP_NET_ADMIN` capability to the executable. This way, you make TCP_REPAIR work.

For the TCP_REPAIR workaround we need to implement the proper syscall.

[2021-03-30 15:25] wtarreau commented on #1203
I definitely agree here!

Does something like this work for you ?
[code]
[note: edited above to fix the wrong option]

[2021-03-30 15:29] wtarreau commented on #1202
What version did you upgrade from ? Also, please note that 2.2.5 has 150 known bugs, plenty of which have important performance impacts. Please use the latest 2.2 version instead.

   https://www.haproxy.org/bugs/bugs-2.2.5.html

[2021-03-30 16:50] bjacke commented on #1203
yes, thank you, that makes IPv6 connections also get dropped without TCP RST.

[2021-03-30 17:04] wtarreau commented on #1203
OK now merged and scheduled for backporting. Thank you!

[2021-03-30 17:07] wtarreau commented on #1201
You're in areas where way less people are skilled, that's certainly why you got no response. Adding @EmericBr, @wlallemand, @rlebreton who are more likely to judge whether that's expected or not.

[2021-03-30 18:04] fusionfoto commented on #1195
My understanding from @lukastribus (on discourse) is that there is no reason CLOSE_WAIT should be kept...  He in fact asked for the bug to be opened if we saw this issue.

That said, we do very large (>40G) transfers from all over the world (say >260ms away) and we have no idea if the effective throughput is any good in some of these places. Some of these browsers and things have long keep-alive t

[2021-03-30 18:32] wtarreau commented on #1195
@kzemek No that's not how TCP works. You received a FIN indicating that the other end has nothing more to send. You just have to send whatever else you still have to send and send your FIN in turn. Here you're on a connection that contains a few streams for which the H2 layer doesn't know if they're done finishing responding or not. And in fact we recently had to relax that rule which was a bit ex

[2021-03-30 19:12] apenney-beeswax commented on #1194
Not a huge update for today, I started rolling out the changed coredump settings to a bunch of regions hoping to catch crashes (but I have to go log into every box one by one to look).

I also pushed out 2.4-dev14 to a node in our smallest region to see how that behaves.  So far it seems to be going ok, and avoids the "weird" behavior we see on 2.3.x whereby CPU usage starts to "oscillate" accordi

[2021-03-30 19:34] wtarreau commented on #1194
Interesting, it can definitely be the result of threads synchronizing on certain structures and taking more and more time. We've done a huge amount of parallelism improvement in 2.4, a lot of which couldn't reasonably be backported to 2.3. Your description definitely makes me think that we managed to eliminate the one that is causing these spikes (or the ones). In my tests, the response times are

[2021-03-30 19:35] fusionfoto commented on #1195
@wtarreau Thanks Willy. 2.3.x gains those features as far as I can tell, and I'm happy to implement them. I'm perfectly happy to shorten our windows if/where possible. A few idle connections isn't really a concern to us capacity-wise, but identifying bugs is where we are trying to pitch in.

what do you recommend for tune.bufsize ?

[2021-03-30 21:07] lukastribus commented on #1196
2.3.8 is affected by the additional bug I just mentioned, 2.3.9 has been released which fixes everything.

2.2.12 will be released shortly with the fixes for both of the issues.

[2021-03-30 22:26] lukastribus commented on #1203
FreeBSD and MacOS builds fail:

[code]

I assume we need:

    -#ifdef IPV6_UNICAST_HOPS
    +#if defined(IPV6_UNICAST_HOPS) && defined(SOL_IPV6)

[2021-03-30 23:26] kzemek commented on #1195
Hey @wtarreau fair enough, that's not how TCP works in detail and I acknowledge that the issue of shutting down endpoints is murky for upstream connections shared by multiple downstreams in general. Sorry to chime in with my issue so, but I think the underlying cause is the same here, while my use-case is more clear-cut.

I'm running is a very transparent TPROXY, i.e. `bind 0.0.0.0 transparent`, `

[2021-03-31 04:38] wtarreau commented on #1203
Oh that reminds me something. I'll have a look, I'm pretty sure FreeBSD uses something like IPPROTO_V6 or similar instead of SOL_IPV6. We already have this for one setsockopt, though I don't remember which one. I'll search for SOL_IPV6 and should find it :-)

[2021-03-31 07:07] wtarreau commented on #1195
@fusionfoto just increasing to 64k could allow you to make larger bursts with less wakeups. At the H2 level, it will be the receiver's H2 connection and stream windows which will be the limiting factor. When dealing with uploads, you can try to significantly increase `tune.h2.initial-window-size` which defaults to 64k in order to match the BDP. But for downloads it has no effect, except creating m

[2021-03-31 07:16] wtarreau commented on #1195
@kzemek you can face this situation when servers perform a redirect on a POST before the end while it continues to consume uploaded data. But what you're describing makes me think you're working in plain TCP mode, and in this case we respect the most closely possible what each side does. The fact that sometimes you don't see an equivalent connection on the other side doesn't mean that there are no

[2021-03-31 08:23] lukastribus commented on #1195
@kzemek I would strongly suggest replacing `usesrc client` with `usesrc clientip`. Reusing the client source port on the backend is in my opinion a fragile concept, especially when your clients are using the same source port to reconnect.

Most of the time, the use-case is to use the same soure IP, not necessarily the same source port.

[2021-03-31 08:42] wlallemand commented on #1143
This was fixed and backported as far as 2.2.

[2021-03-31 08:42] #1143 closed, assigned to nobody

[2021-03-31 08:52] wtarreau commented on #1195
I did not even notice, you're totally right, Lukas! The rare cases where port reuse is desired are for protocol that require certain ranges to be used (e.g. rlogin on ports 512-1023, FTP on port 20, etc), and for the rare case where the traffic is going back through the same L4 component that brought it and when some affinity is required. Most of the time it's better to stick to client IP only!

M

[2021-03-31 11:23] kzemek commented on #1195
That's true, the case when the downstream pushed some data before closing, but the upstream no longer talks with us after sending its fin is something I didn't think of, and I suppose it would be tricky (but desirable from my point of view) to keep around the downstream socket until all communication is resolved - this way the buck would stop at the kernel to discard new connections until the old

[2021-03-31 11:50] lukastribus commented on #1195
The point is `Connect() failed for backend tproxy_listen: no free ports` is a direct consequence of trying to use one specific source port, as opposed to just looking for a free port.

[2021-03-31 11:52] kzemek commented on #1195
That much is obvious to me, but also it's only possible to get to that point because there's an upstream socket lingering in CLOSE_WAIT and no (original) downstream socket anymore. I understand this is a tricky situation, and I might just patch it in eBPF.

[2021-03-31 12:38] wtarreau commented on #760
1.7.14 issued with the fix FWIW.

[2021-03-31 13:19] wtarreau commented on #1195
There's no reason for patching it, it'd be better to understand the whole sequence and see how to address it at is root. That's how we ended up with so many options that few people use. Sometimes you want to get a slightly different behavior on a particular case and you know it's OK for your use case. Do not hesitate to issue some "show sess all" and "show fd" on the CLI along with some "netstat -

[2021-03-31 14:09] TimWolla commented on #760
I've already seen it, thanks. PR over at Docker is this one: https://github.com/docker-library/haproxy/pull/151.

Closing as it's resolved from HAProxy side.

[2021-03-31 14:09] #760 closed, assigned to nobody

[2021-03-31 14:14] wtarreau commented on #1195
I'm marking it as WAD for now and closing since I don't expect any further progress past this point. Regardless, feel free to update this ticket with any future info or to open a new one if you get a complete trace that deserves being analysed so that we see what can be improved.

[2021-03-31 14:14] #1195 closed, assigned to nobody

[2021-03-31 14:16] wtarreau commented on #1202
2.2.12 is available now.

[2021-03-31 14:20] wtarreau commented on #1186
Is there anything more we can do on this issue or should we consider it resolved ?

[2021-03-31 14:21] wtarreau commented on #1197
OK closing it now since backported to all relevant versions.

[2021-03-31 14:21] #1197 closed, assigned to nobody

[2021-03-31 14:22] wtarreau commented on #1203
Now backported everywhere, closing.

[2021-03-31 14:22] #1203 closed, assigned to nobody

[2021-03-31 14:25] Soha-Albaghdady commented on #1202
Hi, thanks for your reply. We have updated from version 1.9.15. We will plan then updating to 2.2.12 but it will probably take some time before the update can reach our productive environment. Meanwhile, we will try to recreate the vm and see if this helps.

[2021-03-31 14:29] wtarreau commented on #1202
OK so you've very likely faced one of the task looping issues that affected some early 2.2 versions, or a few such things. Take your time for the upgrade, and if you're using packages you'll likely have to wait a little bit more for them to be available. We've had a bit of chaotic issues between 2.2.9 and 2.2.12 so please at least make sure you do not deploy 2.2.10 nor 2.2.11!

[2021-03-31 14:45] bandrea83 opened #1204 "haproxy 2.4 opentracing not send span if daemon option is configured"
## Detailed description of the problem

if in global section you enable daemon option trace is not sended to zipkin endpoint

## Expected behavior
it also send span to zipkin server if daemon option is configured

## Steps to reproduce the behavior
enable daemon in [global] section

1. enable OT
2. in global section enable daemon option
3. start haproxy

## Do you have any idea what may have cause

[2021-03-31 19:59] lukastribus commented on #1196
@schferbe 2.2.12 was released.

[2021-03-31 21:44] assen-totin opened #1205 "Parallel upload with h2 -> h1 fails for files above few MB"
## Detailed description of the problem
Stock HAProxy 2.2.10 on RHEL-8 (built using the spec file from Fedora 33).

We have a (third-party) web site which allows for files to be uploaded in parallel. Files tend to be a bit big, usually 10-100 MB each (some BLOBs from manufacturing). The Back-end server is a single IIS on Windows 2016 Server. HAProxy does TLS offloading for the web site.

For quite

[2021-04-01 03:37] djadk84 opened #1206 "Haproxy stop working on FreeBSD"
All Haproxy service on 10 servers stop sending traffics to their respectives backend.
A quick look into haproxy stats shows all the backend down and no traffic was going
to them.

## Expected behavior

1.
2.
3.

## Do you have any idea what may have caused this?
I'm unable to reproduce this behavior, since I didn't clearly understand how it come to happen.

## Do you have an idea how to solve the

[2021-04-01 04:28] chipitsine commented on #1206
2.3.7 is not the latest.
can you try to update to 2.3.9 ?

[2021-04-01 06:37] schferbe commented on #1196
Thank you for notifying me. The release seems to resolve our problem.

[2021-04-01 08:12] wtarreau commented on #1205
Thanks for the detailed report, it is quite useful! This makes me think about something wrong in the wakeup of streams after a congestion window opens again. When this happens, could you please issue "show fd" and "show sess all" on the haproxy CLI so that we see in what state the connections and muxes are ?

Also, I'm seeing in your logs that the 3 clients there were muxed inside the same connect

[2021-04-01 08:15] wtarreau commented on #1206
Also there is no config information here and some config mistakes could explain this. For example if you're running with huge timeouts (or even none at all) and your servers disappear and re-apper, you could end up with no connections left (just an example of course). Knowing if haproxy still responds to clients is important as well. Maybe the process is deadlocking on a bug with all threads stuck

[2021-04-01 08:16] wtarreau commented on #1196
Thank you for the nice feedback :-)

[2021-04-01 10:43] lukastribus commented on #1143
Jarno bisected a startup crash in 2.2.12 to this fix:
https://www.mail-archive.com/haproxy@formilux.org/msg40136.html

[2021-04-01 13:12] rlebreton commented on #1201
Hello @tomaszszlek, thanks for the report, I'll look into it.
Just to be sure, when you say that you put certificateB into the crl file, did you create an actual CRL file (with a BEGIN/END X509 CRL section) or did you copy certificateB?

[2021-04-01 13:16] tomaszszlek commented on #1201
Hello @rlebreton, thank you! By creating CRL file I am creating actual CRL file:

`
-----BEGIN X509 CRL-----
...
-----END X509 CRL-----
`

[2021-04-01 14:16] wtarreau commented on #1205
I've ran quite a number of tests, with 100MB and 1GB files, with 2 to 10 concurrent streams, 1 to 10 concurrent connections, in local and in remote, mostly on 2.2.10 but also on latest -dev but couldn't get any single failure after hundreds of gigabytes transferred. All my tests were run using h2load. I'm now wondering if you have a way to be certain it's not a client issue, because fair multiplex

[2021-04-01 15:06] wtarreau commented on #1200
OK, it's not real right now but could easily become by accident in the future, so I've addressed it. Thanks Ilya!

[2021-04-01 16:20] #1200 closed, assigned to nobody

[2021-04-01 17:09] mmirold opened #1207 "applet:receive() Lua function hangs with certain requests"
## Detailed description of the problem

We use Lua actions and services to implement an API gateway. For certain requests, the Lua logic retrieves configuration data from backend servers to route requests to the correct backend. Our implementation uses the AppletHttp class to extract information from the client request, e.g. a parameter from a form-url-encoded POST body.

Our QA team has reported

[2021-04-01 19:58] zaga00 commented on #1204
Hello @bandrea83,

thank you for reporting the bug.  The problem is that the OpenTracing library is initialized before HAProxy initialize the daemon mode.  Establishing this mode kills the OpenTracing thread, after which the correct operation of the OpenTracing filter is no longer possible.  Also, HAProxy crashes on deinitialization of the OpenTracing library.  That will be resolved tomorrow.

[2021-04-01 21:47] assen-totin commented on #1205
Hello, Willy,

Thank you for your quick responses and help so far. Here is what I was able to dig further:

1. Files are uploaded to a web site, so the client is just a web browser. Users drag & drop the files from their desktop. To make sure we don't deal with some obsolete browser, I did all my tests from my Firefox 82, then confirmed Chrome 86 behaves the very same way. I'll gladly blame it on

[2021-04-02 06:24] wtarreau commented on #1205
Thank you! I didn't know it was possible from a browser to perform multiple uploads at once (and I have absolutely no idea how to do that for testing, the only upload method I know is `<form method=POST action=...><input type=file>`. But at least it's a regular client, I suspected it could have been a proprietary one running on a specific device.

I'll have a look at your dumps, hoping to be able

[2021-04-02 06:56] capflam commented on #976
Implemented in 2.4-dev : 021a8e4d7

[2021-04-02 06:56] #976 closed, assigned to nobody

[2021-04-02 07:07] capflam commented on #1207
Thanks for the detailed report, I confirm there is a bug. I haven't perform any test yet, but by reading the code it is clear a test on `HTX_FL_EOM` flag is missing. Your patch is not that far from what should be done. I'll do some test to validate the fix, but you may tests this patch:

[code]

[2021-04-02 08:08] wtarreau commented on #1205
So what is happening here is that there is a stalled transfer from the H2->H1->server. The H1 output buffers are full, the H2 rx buffers are full as well, and given that the H1 is subscribed to write polling, it's really waiting for the server to consume these data. Unfortunately you're exactly in a case of head-of-line blocking that happens on protocols like H2 which multiplex over an in-order pr

[2021-04-02 09:54] lukenowak commented on #1109
I'll work on it (requires a bit of preparation from live system).

After adding:

[code]

I still get the same issue.

Shall I put it in some other section?

[2021-04-02 09:57] wtarreau commented on #1109
`retry-on conn-failure` is always set by default. Here the issue is not a connection failure (which happens before trying to send the data) but an empty response (a close just after sending the data). You can use `retry-on conn-failure empty-response` for this.

[2021-04-02 10:02] lukenowak commented on #1109
Oh, indeed, of course! I can't imagine how I missed the additional `empty-response` in @capflam post. I'll redo my checks with the parameter.

[2021-04-02 15:58] rlebreton commented on #1201
I ran some tests on my side, and the only time when I came across a behavior like the one you described (where adding a crl file prevents any client from connecting) was when some of my certificates were badly constructed (with empty CN fields for instance).

@tomaszszlek could you please check that all of your certificates pass an "openssl verify" test please ? The following command should work i

[2021-04-02 16:35] mougams opened #1208 "Haproxy 2.3.9 segfault - pendconn_queue_lock"
## Detailed description of the problem
Haproxy server segfault

## Expected behavior

## Steps to reproduce the behavior

## Do you have any idea what may have caused this?
No

## Do you have an idea how to solve the issue?
No

## What is your configuration?

[code]

## Output of `haproxy -vv` and `uname -a`

[code]

## If HAProxy crashed: Last outputs and backtraces

[code]

## Additional informa

[2021-04-02 18:06] wtarreau commented on #1208
Hello,

thanks for your report. I'm a bit bothered, I'm not seeing any `maxconn` directive on your `server` lines, and in this case there should be no queuing. Do you confirm you have none or was it just lost during the copy here ?

Was your machine loaded when this happened ? I'm trying to figure if it's a thread fairness issue or a complete deadlock.

[2021-04-02 18:08] wtarreau commented on #1208
In fact there's something odd. Nobody seems to hold the queue lock here! It looks as if there were a return in the middle of a function.

[2021-04-02 18:58] tmccombs opened #1209 "Failure to parse "us" in haproxy 2.0.20 and later."
## Detailed description of the problem

Haproxy 2.0.20 introduced a bug where the "us" time unit is no longer parsed correctly.

## Expected behavior

A time unit of "us" (microseconds)

## Steps to reproduce the behavior

1. Use the config below
2. Run `haproxy -c -f <config-file>`
3. Receive the error `unexpected character 's' in 'timeout queue'`

## Do you have any idea what may have caused thi

[2021-04-02 19:21] mougams commented on #1208
Thank you for the quick feedback @wtarreau.
Indeed, we set the maxconn on the server line via a default as follow (as this config has been rolled out recently/today, I wasn't 100% sure that the crash happened with it or not)

So the backend conf looks like as follow

[code]
And the machine wasn't loaded, it was using more or less 20% of CPU, there was spike around that time of disk operation, noth

[2021-04-02 19:37] wlallemand commented on #1143
That's a regression which is 2.2 only, fixed in 2.2.13. Thanks!

[2021-04-03 04:33] zkhno opened #1210 "2.x crashes when serving IIS backend (Exchange, WSUS)"
## Detailed description of the problem

After upgrading from 1.8.28 to 2.3.x (or really any 2.x version), haproxy crashes after a few minutes.

## Expected behavior

I sort of expected it to keep running. :) 1.8.28 works without issue.

## Steps to reproduce the behavior

1. Compile haproxy from source on x86 Linux (32 bit i686) with TARGET=linux-glibc USE_OPENSSL=1 USE_ZLIB=1 USE_PCRE=1
2. Start

[2021-04-03 06:55] chipitsine opened #1211 "dev/flags/flags.c: null dereference suspected by coverity"
[code]

[2021-04-03 07:06] wtarreau commented on #1208
OK that makes more sense then. So it definitely means it's not contention but a bug somewhere.

However after having rechecked all places where the proxy lock is taken, it's always perfectly symmetrical. Thus I'm wondering if it's not another thread which just released it. Could you please try:
[code]

Also, did it happen only once or multiple times ? If the latter, I'll ask you to enable lock deb

[2021-04-03 09:33] mmirold commented on #1207
Thanks :-) I can confirm that the patch works for me.

[2021-04-03 12:07] assen-totin commented on #1205
Hi, Willy,

Thank you for the detailed explanation and the suggestions. I tried making the HAProxy buffer substantially bigger than the initial window, up to 100+ times (default 64 KB window vs 10 MB buffer). Unfortunately, this did not help.

I did some tests from a remote location which only had about 5 Mbps upload rate to this web site, which let me better observe what's happening (my standard

[2021-04-03 13:12] wtarreau commented on #1210
It's saying that it remained stuck for 2 entire seconds in a crypto function! This is insane. Two seconds to compute a handshake is an eternity, even for such an older machine, usually it's in the order of 500 microseconds to 1 millisecond. Even with a slow machine and an unoptimized lib it should remain in the low milliseconds. Do you know if there's anything special about your libssl on this mac

[2021-04-03 13:23] wtarreau commented on #1205
OK that's very interesting! Your description still makes me think that regardless of the haproxy->IIS speed, for some reason there can be pauses on the IIS side (e.g. dumping data to disk or so), and that it's when the buffers fill up.

If this helps you, you could try to set `tune.h2.max-concurrent-streams` to 1. This is ugly, it will make h2 single-stream, like h1. But it could solve the problem

[2021-04-03 13:30] wtarreau commented on #1211
It's not a null deref, just a stupidity resulting in a useless test! Now fixed, thank you Ilya!

[2021-04-03 13:58] leolux commented on #683
@jmagnin Your example for "http-check send" leads to the following error in the configuration:

[code]

[2021-04-03 14:05] leolux opened #1212 ""missing connect rule" error while parsing "http-check send""
Tested on HAProxy version 2.3.9-1~bpo10+1, released 2021/03/30

[code]

Results in the following parsing error:
[code]

[2021-04-03 14:10] TimWolla commented on #1212
So? Why do you believe this to be incorrect? Also: Please fill in the issue template when filing bug reports.

[2021-04-03 14:13] #1211 closed, assigned to nobody

[2021-04-03 14:14] TimWolla commented on #1145
@capflam Can this be closed? It's marked fixed without any version labels.

[2021-04-03 14:26] jmagnin commented on #683
Hi @leolux, I was wondering if things might have changed since when this issue was created but the same config snippet I used back then still works for me.

[code]
I suggest you ask on discourse or the mailing list, with your full configuration.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to the list: haproxy+subs

[2021-04-03 15:01] leolux commented on #1212
I thnk this is a bug because the following complete haproxy.conf works fine:

[code]

But if you uncomment the line with "http-check send" I get the parsing error. I got the line from the following https://github.com/haproxy/haproxy/issues/683#issuecomment-643588803 which has two likes and the issue is marked as solved which indicates that this line is correct.

[2021-04-03 16:18] jmagnin commented on #1212
I think you are supposed to set the 'send' before the 'expect'.

[2021-04-03 16:29] leolux commented on #1212
Thanks jmagnin, you saved my day!

[2021-04-03 16:29] #1212 closed, assigned to nobody

[2021-04-03 16:32] leolux commented on #683
It turns out that ‘send’ hast to be set before the ‘expect’. Can’t see that in the documentation though

[2021-04-03 17:55] zaga00 commented on #1204
Hello @bandrea83,

have you tried whether the OpenTracing filter now sends data to the tracer?

[2021-04-03 22:13] zkhno commented on #1210
The system is running unmodified Slackware-current, upgraded from Slackware 14.2. The hangs/crashes with haproxy 2.x occurred prior to the upgrade as well.

You're correct about the VIA CPUs containing a custom crypto engine ("Padlock"). On this particular model, Padlock provides functions for offloading AES and SHA1. It also contains an RNG component.

I will unload the relevant kernel modules (p

[2021-04-04 02:14] zkhno commented on #1210
Unfortunately, removing all VIA Padlock-related kernel modules made no difference:
[code]
I went so far as to rename the actual .ko files and rebooted to make absolutely sure they wouldn't be loaded automatically, but haproxy still crashed. It was worth a try, though.

[2021-04-04 08:27] #1204 closed, assigned to nobody

[2021-04-04 08:27] bandrea83 commented on #1204
Hi @zaga00 , seem to work as expected now

Nice work and thank you so much! haproxy team is doing a so great work ;)

[2021-04-06 05:55] capflam commented on #1207
The fix was merged. Thanks !

[2021-04-06 05:55] #1207 closed, assigned to nobody

[2021-04-06 06:09] capflam commented on #1188
It seems to be fixed now. I'm closing this issue.

[2021-04-06 06:09] #1188 closed, assigned to nobody

[2021-04-06 06:15] #579 closed, assigned to nobody

[2021-04-06 06:20] capflam commented on #579
Not enough info to work on it. It this issue is still relevant, please try the latest 2.0 release first.

[2021-04-06 06:27] bandrea83 opened #1213 "haproxy 2.4-dev15 opentracing crash haproxy"
## Detailed description of the problem

configuring haproxy in daemon mode and trying to read request uri or header let haproxy crash

## Expected behavior

as without daemon mode configuration span must be able to read request headers/uri or some other info about the request/response packet

## Steps to reproduce the behavior

1. enable daemon mode in global section
2. configure ot for send span

[2021-04-06 06:28] capflam commented on #1169
I guess db2c17da6 fixed the issue. I'm closing it now.

[2021-04-06 06:28] #1169 closed, assigned to nobody

[2021-04-06 07:09] capflam commented on #1145
Thanks @TimWolla, I had forgotten to update the doc on the 2.3 and prior. It can be closed now.

[2021-04-06 07:09] #1145 closed, assigned to nobody

[2021-04-06 08:01] mougams commented on #1208
It happened only once last week.
Unfortunately, the node where this happened got (automatically) reinstalled over this week end, hence we lost the core dump.

Is there any other gdb commands or actions you would recommend so we could collect more info for next occurrence? Thx

[2021-04-06 09:15] nkn1111 opened #1214 "gRPC backend showing as down with 'reason: Socket error'"
## Detailed description of the problem
The gRPC backend is showing as down in the HAproxy stats page and requests are not being proxied to gRPC server. However, the gRPC server is up and running and is able to serve when connecting directly.

## Expected behavior
The defined backend should be available without having an socket error.

## Do you have any idea what may have caused this?
Any missing

[2021-04-06 12:33] bandrea83 commented on #1213
in attachment the core dump file
[core.zip](https://github.com/haproxy/haproxy/files/6264616/core.zip)

[2021-04-06 12:33] daninthewoods opened #1215 "Use of a variable to store result of a var().sub() is not understood correctly when checked in acl"
## Detailed description of the problem

Use of a variable to store result of a var().sub() is not understood correctly when checked in acl

This works correctly
[code]
This does NOT work
[code]

When var used to hold result of `sub()`, then acl only evaluates to true when the var == 0, but pos/neg value for var results in false

## Expected behavior

var type should be signed integer (according to

[2021-04-06 13:09] bandrea83 commented on #1213
can be the problem is related to zipkin plugin, the tags are correctly readed

(gdb) frame 4
#4  0x000000000047208d in ot_span_init (tracer=0x7f71a802f090, operation_name=0x5658d90 "Frontend HTTP request", ts_steady=ts_steady@entry=0x7ffeebfb1fb0, ts_system=ts_system@entry=0x0, ref_type=2, ref_ctx_idx=<optimized out>, ref_span=0x5757b20,
    tags=tags@entry=0x7ffeebfb1d70, num_tags=3, err=err@entr

[2021-04-07 04:54] etfloyd opened #1216 "HAProxy Cluster Clears Stick Tables Intermittently on Reload"
## Detailed description of the problem
When all members of an haproxy peer cluster are reloaded simultaneously or within a short period of time, occasionally all members will lose stick table entries. ~This does not happen when the cluster consists of a single member.~ The probability of clearing stick tables increases with the size of the configuration file.

## Expected behavior
Stick table cont

[2021-04-07 05:51] zino7825 commented on #1169
@capflam
The issue was not reproduced after the patch(db2c17da60e80091615ddbe8d97cb964d1f00ac7)  was applied.

[2021-04-07 05:53] capflam commented on #1169
Thanks for the confirmation.

[2021-04-07 10:04] atitow commented on #1078
@wtarreau
I do not want to disturb you, but maybe you had a chance to think about tearing down the idle connections on stopping?

[2021-04-07 10:25] zaga00 commented on #1213
Hello @bandrea83,

thanks for reporting the bug.  I can't reproduce the bug on my own. I use docker Zipkin tracer and API library from the following url: https://github.com/rnburn/zipkin-cpp-opentracing/releases/download/v0.5.2/linux-amd64-libzipkin_opentracing_plugin.so.gz

Zipkin tracer is installed and running as follows:

docker pull openzipkin/zipkin-slim
docker run -d -p 9411:9411 openzipkin

[2021-04-07 10:41] zaga00 commented on #1213
Does the haproxy process crash every time you send the data to the Zipkin tracer or after a while?

[2021-04-07 11:31] bandrea83 commented on #1213
Hi @zaga00,

it only happens with daemon global option configured in haproxy. i'm using zipkin library version 0.5.2, precompiled (the one you linked) or building it make no difference

it crash immediately after the first request (i'm simply doing a curl on the listen port)

[2021-04-07 11:39] zaga00 commented on #1213
Hello @bandrea83,

I have tried an example fe/be with the 'daemon' option enabled and it works for me as I wrote.

[2021-04-07 11:48] zaga00 commented on #1213
Maybe if you try to turn off stdout/stderr redirection to /dev/null, the log files will be more complete. It does haproxy if it runs in daemon mode. The next patch excludes it:

[enable-output.txt](https://github.com/haproxy/haproxy/files/6271302/enable-output.txt)

[2021-04-07 11:48] djadk84 commented on #1206
global
    daemon
    log         127.0.0.1 local2
    chroot      /var/chroot/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     30010
    user        haproxy
    group       haproxy
    ulimit-n    100000
    h1-case-adjust date Date
    h1-case-adjust server Server
    h1-case-adjust location Location
    h1-case-adjust set-cookie Set-Cookie
    h1-case-adjust connection Connection

[2021-04-07 12:22] bandrea83 commented on #1213
thank you, i've tried to rebuilt my container with the path you attached here but i have the same problem

here the log
[_log-run-fe-1617797439.txt](https://github.com/haproxy/haproxy/files/6271472/_log-run-fe-1617797439.txt)

i'm also using the fe-be test and here the test i'm doing:

[code]

i'm building haproxy using:
openssl 1.1.1k
lua 5.3.5
opentracing-cpp 1.5.0
opentracing-c-wrapper (master

[2021-04-07 13:45] fraenki commented on #162
I just want to ask if this is still on the roadmap to be implemented/backported to 2.2, or if it was shifted to a later release (2.4 or later?).

[2021-04-07 14:06] a-denoyelle commented on #162
There is currently no plan to backport it as it represents quite a significant change. However, it is already implement on the 2.4 tree. If you want you can test the latest dev version to check it.

[2021-04-07 14:10] zaga00 commented on #1213
Hello @bandrea83,

my question may seem strange ... but it seems to me that a mix of 32-bit and 64-bit pointers appears in your log.  By any chance do you use x32 ABI when compiling some libraries or haproxy?  Let’s say we look at this function call:

`ot_span_init(0x57550b0, "Frontend HTTP request", 0x7ffd58c6d1e0, (nil), 2, -1, 0x5772cc0, 0x7ffd58c6cfa0, 3, 0x7ffd58c6d268:(nil))`

[2021-04-07 17:10] EmericBr commented on #1216
Hi Etfloyd, are you sure to not reload too frequently. During a reload the new process will request the old one for a full resync, but it you are performing an other reload before the end of this full initial resync, it will result to the lost of the entry not yet learned by the second process at that point. It's a known limitation of the current protocol implementation. Current peer implementatio

[2021-04-07 17:31] wtarreau commented on #1206
Just guessing, but are you certain that the servers you test with this tcp-check:
[code]
have not entered a protection mode where they refuse to respond after too many attempts ? In the past there was something like this with the mysql checks where a counter limit had to be reset in the base.

The single fact that all your LBs stopped and sees the servers down really makes me think it's something

[2021-04-07 17:33] etfloyd commented on #1216
Interesting. First I've heard about this limitation. I must have overlooked it somehow in the documentation. ;)

Very high-frequency reloading was done for the demo just for the purpose of recreating the issue without having to wait for hours. In the actual deployment, reload frequency is determined by the rate of change in the downstream clusters and triggered by the Data Plane API on 'commit' wh

[2021-04-07 17:35] EmericBr commented on #1216
After checking if a new process fails to retrieve a full resync from an old one,.  It will request a full resync to a remote node. But it could also fail if remote node have been also reloaded, or if you have only one node. This way to process is very old, older than the "master" mode of haproxy, I don't know the interaction with that and I should ask to @wlallemand

[2021-04-07 17:37] wtarreau commented on #1213
Hi @zaga00

it's unrelated, it's just (annoyingly) always the case nowadays. Usually you have the code, bss, heap etc at low pointers and suddenly all mmaps arrive at high addresses. This makes dumps pretty much unreadable but we have to deal with that. Just for fun, have a look at `cat /proc/self/maps`.

@bandrea83 just to be sure, did you use a previous version that worked and then faced the cra

[2021-04-07 17:41] wtarreau commented on #1213
Also @bandrea83 could you please issue `bt full` in your gdb session so that we can see the full backtrace ? It will give us more info about what exact lines, states etc were used at the exact moment of the crash.

[2021-04-07 18:06] EmericBr commented on #1216
"III) Initial full resync process chapter" in doc/peers-v2.0.txt describes this process, this documentation may not be fully updated but this process is inherited from peers v1.0 (commit 2b920a1af). This process worked at this time because the users were reloading manually haproxy but it is clearly not designed for nowadays usage and deserve to be re-worked.

[2021-04-07 18:09] EmericBr commented on #1216
I've several pending fixes on resync process, I hope it will fix your issue but what you observe hardly reloading haproxy may not be the same issue than the one appearing sometimes

[2021-04-07 18:36] etfloyd commented on #1216
Ah, that doc explains a lot! I was looking in the public docs [here](http://www.haproxy.org/#docs), not the internals docs in the source repo.

For our specific application, I believe I can work around this limitation for now simply by serializing reloads. For that, I need a 100% reliable way to tell if a reload is in progress. The automation runs inside the container with the haproxy instance and

[2021-04-08 00:07] djadk84 commented on #1206
I recall we had a similar issue with haproxy back then but this was cause due some changes in the compiler behavior.
https://www.mail-archive.com/haproxy@formilux.org/msg25795.html
Do you have more info about that bug you mention?

[2021-04-08 06:06] bandrea83 commented on #1213
hi @wtarreau,
daemon option works only in branch dev15, so it is not an update of version. It always crash after the first curl call (if i remove global daemon option in haproxy.cfg it work as expected)

i've tried to build master branch but the build fail on ot/src/parser.c compilation

here the bt full output
[full-bt.txt](https://github.com/haproxy/haproxy/files/6276406/full-bt.txt)

[2021-04-08 06:34] zaga00 commented on #1213
On CentOS 7.9 haproxy crashes as in the example above, regardless of whether Jaeger or Zipkin API library is used.  So the bug has been confirmed and I can now investigate what the problem is.

[2021-04-08 06:52] bandrea83 commented on #1213
seem that if i build the zipkin library from master source code it work as expected, so can be something related to prebuild libzipkin 1.5.0

[2021-04-08 06:58] wtarreau commented on #1213
@bandrea83 not sure what you meant about "deamon option works only in dev15", given that this keyword has been there for 20 years now since 1.0. Or maybe you're speaking about sometihng else ?

If you face build issues, please report them! Here you're just saying "build fails on ot/src/parser.c" but we have no chance to fix this on your platform if you don't indicate the error :-(

At least @zaga0

[2021-04-08 07:21] bandrea83 commented on #1213
you're right @wtarreau, i will explain better
ot only work with daemon option from dev15 tag (issue https://github.com/haproxy/haproxy/issues/1204)

as already said, buildin zipkin-cpp from source seem to solve the issue (also using 1.5.0 tag), it send the span correctly

about master building here the error:

[code]

[2021-04-08 07:55] zaga00 commented on #1213
Hello all,

@wtarreau '[PATCH] MINOR: opentracing: register config file and line number on log servers' on the haproxy mailing list solves this compilation error.

@bandrea83 I can confirm: if zipkin-cpp is compiled locally, everything works ok with this API library.

Using tags crashes haproxy if original (precompiled) Zipkin (or Jaeger) OpenTracing API library is used.  Probably something is not

[2021-04-08 08:16] EmericBr commented on #1216
We should ask @wlallemand but I think we could have the info checking if there is remaining old processes listing processes on master socket.

[2021-04-08 08:21] axinojolais opened #1217 ""make clean" in master doesn't clean all .o files"
Hi,

Apologies if I don't fill the template, I don't think I need to for this specific bug report.
I built a .deb for git master (commit 1197459e0). I had to make a few iterations, at one point it started failing because the following .o files were not cleaned by "make clean" :
[code]

They had a specific Makefile before, but not anymore, and "make clean" from the main Makefile doesn't properly cl

[2021-04-08 08:21] EmericBr commented on #1216
But an old process could remain up until it finish to serve all its sessions, which could take a long time. I will check if we can have the info of full resync finished showing the "show peers" on cli.

[2021-04-08 09:06] bandrea83 commented on #1213
thank you all so much. i think it can be closed

[2021-04-08 10:04] wtarreau commented on #1213
OK, thank you!

[2021-04-08 10:04] #1213 closed, assigned to nobody

[2021-04-08 11:33] gabrieltz opened #1218 "SIGSEGV in haproxy 2.0.21"
## Detailed description of the problem

After upgrading from 2.0.18 to 2.0.21 haproxy keeps crashing periodically with SIGSEGV

## Expected behavior
Up until the moment i upgraded, it was running happily as our standby lan balancer . I upgraded this instance first,
to see if any issues occur before swapping it with the active instance. We use consul as dns resolvers and server-template
in many bac

[2021-04-08 11:58] axinojolais commented on #674
Hello @wtarreau, FYI we're now running one host with haproxy 2.4 from git tip (built this morning). I haven't tested your proposed tuning yet though. There's not enough traffic for the issue to manifest itself at present.

Would you need anything else other than `show info` and `show activity` when/if the problem reoccurs ?

Thanks !

[2021-04-08 12:10] TimWolla commented on #1218
I guess the configuration would be helpful here.

[2021-04-08 12:14] gabrieltz commented on #1218
I found the issue from my part. It was a service that was deregistered from consul and thus didn't return an srv record
The problem with the code is on server.c line 3815 , resolution is `null` in this case which caused haproxy to crash.

 minimal config to reproduce :

[code]

thank you a lot

[2021-04-08 12:36] EmericBr commented on #1216
You could already check if full resync process is ended and know that you are free to perfom a reload checking some flags on the return of the cli command "show peers" but it shows internal flags which could evolve in further version. WIlly and I talk today to add a more "generic" way to show this information which survives versions upgrade.

But for now if you want to test "show peers"command cli

[2021-04-08 12:43] gabrieltz commented on #1218
I forgot to mention that in the example config above, myservice was running, but somehow wasn't registered on consul so consul was not returning an SRV record.

[2021-04-08 13:38] etfloyd commented on #1216
I'm trying it out with this modified reload.sh script in the demo setup:
[code]
Running this inside both containers:
[code]
Before it would have completely lost stick table contents within few seconds. Now it's been running for a while and cookies are still there. I can see the 5-second timeouts in action occasionally - one or the other will show a count down on resync_timeout.

I have to leave th

[2021-04-08 14:21] tomaszszlek commented on #1201
Hi @rlebreton, thanks for looking at it, the above command gives "ok":
`
➜  openssl verify -CAfile certs/RootCA/ca.crt -untrusted certs/Intermediate/ca.crt certs/Intermediate/issued/valid.crt
certs/Intermediate/issued/valid.crt: OK
`

I created fake PKI that you could use to reproduce my issue, if you will test it then you will see that even using "valid" certificate HaProxy returns 403 while when

[2021-04-08 14:36] wtarreau commented on #674
As a first step, no. However, if you can get "show fd" and "show sess all" as well, it would definitely help. There are also some advanced options to get some profiling info, but these will require a rebuild so I won't bother you with these for now.

[2021-04-08 15:42] etfloyd commented on #1216
Well, It didn't survive the two hours I was gone. I noticed something: One of the containers was "stuck" with flags=0x0 which means that it must have reloaded once and never actually completed a full resync. Here's the output from one of the thousands:
[code]
There are thousands of line pairs like this where task_calls increments every few but nothing else changes. The timestamp indicates that it

[2021-04-08 15:53] etfloyd commented on #1216
The modified reload.sh script prevents a reload until 1 second after recovering from any occurrence of flags != 0x3 which means that once it got stuck no further reloads were triggered. On the one that was stuck, I stopped the script and triggered a reload manually with kill -USR2 1 and it recovered. Of course, the stick table entries were all gone by that time but it at least it was no longer stu

[2021-04-08 16:15] etfloyd commented on #1216
Ah, I'm rerunning the longer time test because I had previously made a change to the configuration and inadvertently left it in. I had added:
[code]
to the global section while trying various ways on my own to determine if a reload was in progress. I've taken that line out now and so far it's working fine.

[2021-04-08 18:16] etfloyd commented on #1216
This time it ran 33 minutes before trashing the stick tables. I put timestamps on all the output from the script so I could locate the exact point of failure and I think I see what happened. It looks like both containers triggered a reload at almost exactly the same time. Then I see both count down resync_timeout from 4 or 5s to 0s twice, the first time with flags=0x0, the second with flags=0x1. F

[2021-04-09 03:30] zino7825 commented on #974
This problem does not occur in version 2.2.13.
Connection stuck and unbalanced CPU usage.

[2021-04-09 05:16] capflam commented on #1218
I'm able to reproduce the issue. I'll try to provide a patch soon. Thanks !

[2021-04-09 07:17] wtarreau commented on #974
Great, thanks for confirming. By the way if you're looking for high RPS rates, you may want to upgrade to 2.3 (which improved scalability) or even 2.4 (warning, still in development).

[2021-04-09 07:18] wtarreau commented on #974
By the way, could we close this issue then if it's fixed ?

[2021-04-09 07:21] zino7825 commented on #974
@wdauchy I will monitor for another week.
I'll share it again. how about close the issue after then?

[2021-04-09 07:22] wtarreau commented on #974
Fine by me, thank you!

[2021-04-09 07:22] wtarreau commented on #974
Ah, maybe you meant "then" in the meaning of "after another week", reopening :-)

[2021-04-09 08:54] lukenowak commented on #1109
So after adding:

[code]

I do not observe issues from the client to haproxy anymore.

Can I track somehow such requests retried requests in haproxy log?

[2021-04-09 08:59] wtarreau commented on #1109
Yes, their retry counter will be > 0. It's the 5-number field just before the request, which is followed by a two-number filed such as "3/2/2/2/1 0/0". The retry count is the 5ths field of the first one ("1") in this case. It may be prefixed by a "+" to indicate that a redispatch occurred (choice of another server due to repeated impossibility to contact the first one).

[2021-04-09 10:09] rlebreton commented on #1201
Thanks @tomaszszlek , I managed to reproduce the bug with your certificates, I'll keep looking into it and hopefully find out why this bug happens.

[2021-04-09 12:36] vasanth-pandian commented on #1178
@wtarreau The issue got resolved after setting nbthread as 8. Thanks for the support. This can be closed.

[2021-04-09 12:36] #1178 closed, assigned to nobody

[2021-04-09 12:50] wtarreau commented on #1178
Thank you for your feedback!

[2021-04-09 14:16] capflam commented on #1218
Because of recent changes on the DNS part in the 2.0, some fixes initially marked as to be backported as far as the 2.2, must now be backported to the 2.1 and the 2.0. Here is the series to apply on the 2.0 to fix this issue. I'll try to perform more tests before pushing them. Any feedback is welcome.

[0001-BUG-MAJOR-dns-fix-null-pointer-dereference-in-snr_up.patch.txt](https://github.com/haproxy

[2021-04-09 15:26] capflam commented on #1215
Here the issue is not with the `sub()` converter. The variable type is stored as an integer because it is the `sub()` return type. However, the `var()` return type cannot be known during the configuration parsing,  thus it is a string by default. You should convert it into an integer before comparing it to 0. Thus
[code]
will work as expected. This also explains why
[code]
works - the variable is

[2021-04-09 15:43] capflam commented on #541
Finally, everything seems to work as expected here, can we close this issue now ?

[2021-04-09 16:06] rlebreton commented on #1201
@tomaszszlek I now have a better understanding of what is happening. I could not reproduce your bug at first because to simplify things I performed all my tests with a single CA, no root/intermediate pair. The error code raised by the ssl_c_verify when you specify a crl-list has the value 3 which means that we were "unable to get certificate CRL" (see https://www.openssl.org/docs/man1.0.2/man1/ver

[2021-04-09 18:48] daninthewoods commented on #1215
Thanks for the clarification, it works great now.  It would be great to get more explicit var_int() methods, like we have for map_beg_int()

[2021-04-09 19:00] mgetka opened #1219 "gRPC call error data propagation broken with HAProxy as a reverse-proxy."
## Detailed description of the problem

If the gRPC server application (served from behind HAProxy) immediately (ie. before sending any responses) aborts the response streaming call with specific error, then the client application will receive `CANCELLED` error instead of the one that was sent. The error details will be _Received RST_STREAM with error code 8_.

## Expected behavior

The error data

[2021-04-09 20:15] santigl commented on #1219
We are seeing this exact scenario in an implementation of the [ByteStream API](https://github.com/googleapis/googleapis/blob/94c6e8461bc03382ee475c7b93e954f288c1d1f4/google/bytestream/bytestream.proto#L55), where a client can upload a file calling `ByteStream.Write()` with a stream of `WriteRequests` containing chunks of the file.

A server can, after reading the first message and detecting that t

[2021-04-09 22:15] etfloyd commented on #1216
Update - I have a workaround that seems to work. I've pasted in the script in case it might be useful to others. There are four cases that have to be handled:

(Retrieve the sync state using "show peers".)
1. Stuck: flags != 0x3 and resync_timeout=`<NEVER>` - The only way out of this seems to be to trigger a reload, so do that now.
2. Broken: flags == 0x1 and resync_timeout is counting down - Resy

[2021-04-10 04:37] chipitsine opened #1220 "src/mux_pt.c: use after free suspected by coverity"
[code]

[2021-04-10 07:06] capflam commented on #1220
Good catch. It is fixed now. Thanks !

[2021-04-10 07:06] #1220 closed, assigned to nobody

[2021-04-12 06:31] gabrieltz commented on #1218
@capflam I applied the patches you provided and replicated the dns SRV query with empty response . It works as intended with no crashes.
many thanks

[2021-04-12 06:38] tomaszszlek commented on #1201
Thank you @rlebreton for looking into this so quickly and finding a solution !
My two cents regarding `X509_V_FLAG_CRL_CHECK_ALL`, in my opinion the most flexible solution would be if HaProxy would still be able to check entire chain (including all CA's) against CRL.pem however do not enforce CA (even empty) for each CA.

[2021-04-12 06:41] capflam commented on #1218
@gabrieltz, Thanks for the test.

[2021-04-12 08:13] capflam commented on #1218
now backported to 2.0. Thanks !

[2021-04-12 08:13] #1218 closed, assigned to nobody

[2021-04-12 10:12] wdauchy commented on #1208
for those kind of followup questions with the coredump, I recommend to copy it on your machine to avoid auto reinstall and lose the information.

[2021-04-12 14:32] phemmer opened #1221 "Peers protocol dissector inconsistent parsing"
## Detailed description of the problem

When using the peers protocol dissector, packed are parsed differently based on the order they are viewed.

## Expected behavior

Packets should be parsed consistently, no matter the order viewed.

## Steps to reproduce the behavior

1. Open packet capture
2. Click frame 225
3. Click frame 226
4. Click frame 227
5. Click frame 226

Observe that on steps 3 an

[2021-04-12 16:36] wlallemand commented on #1201
I'm surprised it does not work in your use case since this a common scenario and not much changed since the implementation of the crl-file in haproxy 1.5.

I tested with your github repository without changing anything and I can make it work correctly, so I'm kind of confused.

That's how I made my test:
[code]

[code]

Did I miss something?

[2021-04-12 17:00] wlallemand commented on #1201
Looks like you commited the Root CRL in the intermediate CA today, I missed that.

@rlebreton You are right, it looks like it's not documented in haproxy, I suppose this could be a problem if the intermediate certificate become revoked. That's a big change to remove this flag in my opinion, we should probably make it an option. Maybe we could do a patch for the documentation and backport it, and m

[2021-04-12 23:59] Mo3m3n commented on #1214
You are using an incompatible health check.
In your defaults section you are using [option httpchk](https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#4-option%20httpchk) and as mentioned in docs this about HTTP/1.x
You can either:
- Remove `option httpchk`, so haproxy is going to perform the default TCP check.
- Add `check-proto h2` to your server lines to perform HTTP2 health checks.

[2021-04-13 05:42] capflam commented on #1214
By default the server protocol is used for health-checks. Thus, they will be performed in H2. `check-proto` is used to use a different protocol than the server's one. Here the `Socket error` means a connection error was caught very early. @nkn1111, if you remove the health-check, are you able to send traffic to your backend servers though HAProxy ?

[2021-04-13 05:50] #1112 closed, assigned to nobody

[2021-04-13 05:52] #1119 closed, assigned to nobody

[2021-04-13 05:54] tomaszszlek commented on #1201
Indeed, yesterday I have updated my repo with working crl file (attached empty RootCA CRL to Intermediate CRL) so anyone who will look at my repo will find working example instead of broken one. Sorry for causing confusion !

[2021-04-14 00:00] Warren-D-Johnson commented on #1059
mcarbonneaux

A work around is to setup an additional frontend with its own separate monitoring URL that references whatever backend you want to keep track of.  For example:

frontend port950
  bind :950
  mode http
  acl servers_are_down nbsrv(some_backend) lt 1
  monitor-uri /haproxy?monitor_some_backend
  monitor fail if servers_are_down

You'll need to open port 950 through your firewall (reme

[2021-04-14 01:18] gscorrea commented on #77
I am having the same issue, but with the "http-check send" for health check.
I can not set uri with http://<hostname>, because hostname will change for each server being checked.
I need to send a HTTP2 GET request where the HEADER :scheme: is set to http (not https) and HEADER :authority: is the IP address of each server on the server line
I know that setting the HEADER :authority: question is off

[2021-04-14 01:27] gscorrea opened #1222 "Can not set the HTTP2 scheme to http when sending healthcheck GET queries."
HAPROXY
I need to send a HTTP2 GET request where the HEADER :scheme: is set to http (not https) and HEADER :authority: is the IP address of each server on the server line

[code]

[2021-04-14 06:51] capflam commented on #1214
Ok, I got it. In HTTP/1.1 and above, the `Host` header is mandatory. Most of time, it is not an issue in HTTP/1.1 because servers don't complain. But in HTTP/2, it is usual to have an error if there is no `:authority` pseudo-header nor `Host` header. Of course, setting `:authority` pseudo-header is cleaner but it is not possible for now with the health-checks. Thus, you must set a `Host` header.
@

[2021-04-14 07:18] capflam commented on #1222
If the issue is invalid, can we close it ?

[2021-04-14 07:21] capflam commented on #1214
Just an update, you may also choose to send a absolute form request, this way the `:authority` and `:scheme` pseudo-headers are set :
[code]

[2021-04-14 07:27] mougams commented on #1208
Sure, we collect the core and binaries if this happens again.

So far, no more crashes encountered using this version.

[2021-04-14 07:44] nkn1111 commented on #1214
I was able to use a `listen` block as a workaround for this. This config is working for my case. Not sure if this is the best practice. Please let me know if there is an issue using the `listen` block instead of the frontend and backend.

[code]

[2021-04-14 07:49] capflam commented on #1214
It is not related to the `listen` section versus `backend` section. In your example, you have configured TCP health-checks.

[2021-04-14 08:26] nkn1111 commented on #1214
Alright, I got it! In the `listen` block am using `option tcp-check` which overrides the `option httpchk` in the default. The backend should also work if I use `option tcp-check`, right?
Anyhow am happy with the listen block. 👍   Thanks for helping out. 😃

[2021-04-14 08:39] capflam commented on #1214
That's it, options set in the frontend/backend/listen section always override the default ones. Thus, if you enable TCP health-check in your backend via `option tcp-check`, this will work. However, this only validates the connection to the server.  It is far from a full HTTP check. If you are ok with that, it is not a problem. But you must understand the difference to make a choice.

I guess this

[2021-04-14 08:39] #1214 closed, assigned to nobody

[2021-04-14 08:40] TimWolla commented on #1222
This happens automatically if the “Question” issue template is selected and the issue author completely ignores any warnings that the issue tracker is not appropriate for questions.

For this reason I am closing the issue at this point. @gscorrea If you believe you found an actual bug, then please file a new issue using the “Bug Report” issue template. Make sure to fill in the issue template. If y

[2021-04-14 08:40] #1222 closed, assigned to nobody

[2021-04-14 08:41] Mo3m3n commented on #1214
@capflam
Does it make sense to change the default behavior of `option httpchk` so it sends a `Host` Header by default  (the one in the request)?
Because ideally users just want H2 to work out of the box without having to configure too many stuff.
Sending the Host header by default should be compatible I guess with HTTP/1.0 and HTTP/1.1

[2021-04-14 09:21] capflam commented on #1214
You should configure the request to send via `http-check send` directive or use the default one (OPTIONS / HTTP/1.0). There is no Host by default because there is no good value to set. It may be set using the server IP, but I guess we should also add the port if it is not a default port (not 80 nor 443). And if we add a host header, we should also be sure to use the sni name if set for SSL connect

[2021-04-14 09:41] capflam commented on #1222
Good to know. Thanks @TimWolla

[2021-04-14 16:09] nazar554 commented on #77
@gscorrea Maybe try `http-check send meth GET uri-lf "http://%si/nnrf-disc/v1/nf-instances" ver HTTP/2.0`
`%si` is `server_IP`. You can also add `%sp` for `server_port`

[2021-04-14 16:19] capflam commented on #77
Unfortunately, for now `%si` and `%sp` are not available from health-checks. I'm working on it to make them available. I'll also add corresponding sample fetches (`bc_dst` and `bc_dst_port`).

[2021-04-14 19:07] gscorrea commented on #77
Is there any other way that I can accomplish that? I am running HAPROXY 2.2.2.
Which release will this be available?
Thanks for prompt reply and support.

[2021-04-14 19:42] mzealey opened #1223 "Option for TLS compression?"
## What should haproxy do differently? Which functionality do you think we should add?

An option to enable TLS compression (rfc3749)

## What are you trying to do?

I would like to use haproxy to sit between a non ssl service and an ssl client. But as it is a tcp stream rather than http I would like to have the option to enable tls compression in the stream I send to the client (frontend), where

[2021-04-14 20:12] lukastribus commented on #1223
And what is this TCP application specifically, that benefits from compression at the TLS layer?

Wrong, compression has been removed from TLSv1.3.

There is no place for TLS compression across untrusted networks (which is the point of TLS).

[2021-04-14 21:02] mzealey commented on #1223
ah yes i see I got that wrong. if it's not in the standard going forwards then no point implementing it i guess.

[2021-04-14 21:02] #1223 closed, assigned to nobody

[2021-04-14 23:40] bugfood commented on #1144
For what it's worth, we get these crashes on a tier of stock CentOS 6.10 hosts. They happen sporadically, but around once per day across the total tier of four servers.

[code]

I tried to upgrade us out of it by going from HAProxy 2.0.14 to 2.0.21 to 2.2.13, before settling in to debug.

We're running HAProxy with only two threads.

On the first two core dumps, the watchdog triggered while the ta

[2021-04-15 05:30] capflam commented on #77
Well, the sample fetches are quite isolated thus, it may easily be backported. Exposing `%sî` and %`sp` is probably small enough to be backported too to the 2.2. But it should be evaluate first.

BTW, if you are running on the 2.2.2., you should consider to upgrade to the last 2.2 because hundreds bugs were fixed. Especially a major one related to the H2 health-checks.

[2021-04-15 05:35] wtarreau commented on #1144
Interesting report, indeed. I really don't know what they've being doing in these kernels. Either it's an RHEL-specific feature that's in their EL6 and EL7 kernels that regularly causes this problem, or it's something related to older kernels that sporadically pops up. But I have never ever seen something like this in field, so I find it particularly strange. The only case I'm aware of about extre

[2021-04-15 05:42] wtarreau commented on #1144
At this point I propose that we tag this bug as "invalid - not in haproxy" if nobody objects. We can continue to feed it with extra info collected in field in case it helps figure a solution or workaround to this problem.

[2021-04-15 05:54] wtarreau commented on #77
By the way, I'd like to chime in to remind users that having different host names among servers in a same load balancing farm stems from a very very very very bad architecture (and fortunately almost nobody does that mistake anymore). Host names are integral part of a resource's location, and load balancing requests between different resources makes no sense. I know how it's often done, host names

[2021-04-15 06:51] bugfood commented on #1144
Has anybody reported these crashes for a host with an EL7 kernel _and_ an EL7 OS?

As a datapoint for a _different_ set of hosts from those in my initial report: we've been running:
* centos 7.5
* 3.10.0-862.9.1.el7.x86_64 kernel
* haproxy 2.0.10
* two threads

For that combination, we've never noticed a single crash, for ~16 months of operation on ~20 hosts with haproxy somewhat more active than

[2021-04-15 07:32] wtarreau commented on #1144
You're making a good point, I think those reports above were with EL6 plus EL7 kernel. But still the crash happened inside the libc upon syscall return, indicating that the time was spent in the syscall. However it might be possible that the libc used a different syscall for something similar (e.g. sendmsg instead of send).

In your case, the unix vs tcp should even play the other way around: at l

[2021-04-15 14:19] TysonAndre commented on #1144
Upd: downgraded to v1.8, while leaving nbthread 8. It also crashes.**

As a mitigation, @bugfood is planning to set the thread count to 1 (and start independent proxy processes with different ports/unix sockets if calls to haproxy per host increase in the future)

In addition to  "invalid - not in haproxy", it may be useful to change the title to something along the lines of "Haproxy v1.8/v2.2 cra

[2021-04-15 19:56] bugfood commented on #1144
Yes, I do agree that the issue seems to be in the kernel. It looks like the syscalls in use are the same: both CentOS 6 and CentOS 7 are using connect(), sendto(), and recvfrom() for the backend-server sockets. Maybe some syscall flags are different?  Maybe there's a bug in the compilation of the kernels for EL6? I can only speculate.

I just now checked a crash from yesterday evening; this time,

[2021-04-17 00:46] bugfood commented on #1144
This is iffy, but I wanted to mention it before the ticket got closed, just in case.

Independently, I just put in a workaround for a few of our tiers affected by dentry cache leakage caused by:
https://bugzilla.redhat.com/show_bug.cgi?id=1779325

It turns out that the tier with the HAProxy crashes was also the tier with the largest dentry cache, and it was the only tier where free memory was rath

[2021-04-17 04:40] wtarreau commented on #1144
That's extremely valuable information, hats off for spotting this, because yes, it does make a lot of sense and could be a very good explanation! I'm going to rename the thread as suggested by @TysonAndre

[2021-04-17 07:39] bugfood commented on #1144
Here's a graph of SReclaimable over the last month, annotated with crashes (each star) and noteworthy events (text).

![haproxy](https://user-images.githubusercontent.com/2976480/115105473-0fe8a800-9f14-11eb-94f5-a2f2edd1d06d.png)

Note that this is a manual annotation from a few different data sources, so the accuracy is imperfect and I may have missed some crashes. Eventually I had put in a cron

[2021-04-17 07:55] wtarreau commented on #1144
Great job! Maybe for those facing the leak, issuing `echo 3 >/proc/sys/vm/drop_caches" once (or a few times) a day would be sufficient.

[2021-04-18 23:48] MysticRyuujin opened #1224 "Rate Limit over Sliding Window not working?"
## Detailed description of the problem

I've followed numerous tutorials about how to implement a "sliding window" rate limit but I can't seem to make any of them work.

I'm trying to limit users of an API to "X requests per second" over a sliding window of time, I don't care how many times they call the API, so long as they don't go over X requests per second. However, I can only seem to get it t

[2021-04-19 05:21] capflam commented on #1224
It is a known issue with the 2.2.11. You must upgrade. The bug is fixed by the 2.2.12 and the latest release is the 2.2.13.

[2021-04-19 07:21] capflam commented on #1224
Duplicate of #1196

[2021-04-19 07:22] #1224 closed, assigned to nobody

[2021-04-19 07:48] DominikFaust opened #1225 "Healthcheck state "SOCKERR" for h2c backend"
## Detailed description of the problem

On the statistics page the server healthcheck state is "SOCKERR in 0ms". If I try to access the page I get an HTTP 503 error.

## Expected behavior

That the healthcheck works, because after adding no-check to the server I can access the backend server.

## Steps to reproduce the behavior

I've recreated the behavior I have seen my in my production systems w

[2021-04-19 08:01] capflam commented on #1225
For HTTP/1.1 and HTTP/2 health-checks, you must add a `Host` header using `http-check send` directive. By default no Host header is added. However, for HTTP/2, it is probably better to use an absolute-form URI to set `:authority` pseudo-header instead. And in addition the `:scheme` pseudo-header is also set this way. For instance :
[code]

[2021-04-19 08:11] DominikFaust commented on #1225
Thank you. Now the healthcheck works. This issue can be closed.

[2021-04-19 08:12] #1225 closed, assigned to nobody

[2021-04-19 13:06] mhzgh commented on #37
Yes, would be great. Still the same with v2.2 and v2.3. Just recognized that it is not listed in the custom-format table in docs/configuration.txt - but is used to generate the error log messages. Would be a nice, uniform addition to have it configurable via custom format at some point in the future.

My frontends contain multiple bind directives and its useful to know the original target of the r

[2021-04-19 13:23] capflam commented on #37
`so_name` sample fetch is already available. It was introduced in the 2.2 and backported as far as the 2.0. This also means this issue may be closed.

[2021-04-19 13:23] #37 closed, assigned to nobody

[2021-04-19 14:52] apenney-beeswax commented on #1194
Small update @wtarreau - I rolled out a 2.4-dev15 node a week ago (then went on vacation to move house) and when I came back the box itself was dead which was... a surprise.

I started digging in and realized I have a mixture of 2.3 and 2.4 nodes that died over the last week.  All I have in terms of debugging is a screenshot from our monitoring system showing the kernel logs at death.  I can see h

[2021-04-19 15:23] wtarreau commented on #1194
Hi Ashley,

I've got exactly the same one during my benchs on 64 cores, though yours is more detailed:
[code]

So there's definitely a buf left in these kernels. My kernl was slightly older than yours (1038). It only happened twice at full load and I forgot to get back to this, I think @AGSaidi could be interested. But yes, your kernel was basically dead after this. From what I remember some conne

[2021-04-19 15:28] AGSaidi commented on #1194
Here is the problem....  I just found it last week.
https://lore.kernel.org/lkml/e9dfb6c2-3efc-5f4c-ebba-2f26f14295d5@redhat.com/

[2021-04-19 15:35] apenney-beeswax commented on #1194
Oh, nice catch!  I'll have to try and get this backported into the 5.4 kernel (to make our life simple) but that definitely helps, thanks @AGSaidi

[2021-04-19 16:03] AGSaidi commented on #1194
I cced: stable so i expect it will be back-ported to all previously impacted kernels as soon as in gets merged into mainline.

[2021-04-19 16:25] wtarreau commented on #1194
Excellent, that was fast :-)

[2021-04-20 02:13] chipitsine opened #1226 "src/http_act.c: tainted expression suspected by Coverity"
[code]

[2021-04-20 09:12] thuybt opened #1227 "HAProxy running but refuse connection from port 5000 of postgresql"
## Detailed description of the problem

I have running HAproxy successfully
![image](https://user-images.githubusercontent.com/59462501/115369298-2895de00-a1f2-11eb-911a-5504101eda63.png)
But unable to connect to my database throught port 5000
![image](https://user-images.githubusercontent.com/59462501/115369505-5f6bf400-a1f2-11eb-8a6d-24a39cb00df8.png)

![image](https://user-images.githubusercont

[2021-04-20 10:12] lukastribus commented on #1227
Please do not ask questions in the issue tracker. This issue tracker is for tracking bugs and
feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to

[2021-04-20 10:12] #1227 closed, assigned to nobody

[2021-04-20 12:36] hoerup opened #1228 "Redirect: add header"
## What should haproxy do differently? Which functionality do you think we should add?
Add option for adding a response header on redirect

## What are you trying to do?
When doing redirects it can be necessary to add a HSTS header, and while there is support for setting a cookie there is not syntax for adding a header.

Though it can be done as described in https://www.mail-archive.com/haproxy@fo

[2021-04-20 12:41] capflam commented on #1228
It is the purpose of `http-after-response` rules introduced in HAProxy 2.2.

[2021-04-20 15:48] AlexanderThaller opened #1229 "Implement KTLS (kernel tls offloading) for FreeBSD"
## What should haproxy do differently? Which functionality do you think we should add?

FreeBSD 13 released with with KTLS support. Nginx already implements this feature. I would like to use KTLS with haproxy as well.

* https://www.freebsd.org/releases/13.0R/announce/
* https://papers.freebsd.org/2019/vBSDCon/baldwin_In-Kernel_TLS_Framing_and_Encryption_for_FreeBSD.files/slides.pdf

## What are y

[2021-04-20 19:22] chipitsine commented on #1226
@TimWolla , can you have a look please ?

[2021-04-20 20:10] anitgandhi opened #1230 "promex: add metric for current number of file descriptors in use"
## What should haproxy do differently? Which functionality do you think we should add?

Right now, HAProxy's built-in Prometheus exporter has a metric called `haproxy_process_max_fds` which reports the (calculated) `ulimit -n` FD soft limit for the worker process.

I think it would be nice to complement this with something that most Prometheus exporters do which is also report the current number o

[2021-04-21 06:03] #1228 closed, assigned to nobody

[2021-04-21 09:21] lukenowak commented on #1109
I was too fast with this. I still observe some disconnections to haproxy, so now it's time for me to prepare:

I'll come back to you with results.

[2021-04-21 10:05] wtarreau commented on #1217
Strange, I'm not seeing such issues and it's handled by one line above:
[code]
Could you try with `make clean V=1` to make sure it's properly executed, and possibly copy-paste it in your terminal to confirm it matches the intended behavior ? Or does `{,..,}` not work with your shell, maybe ?

[2021-04-21 10:20] wtarreau commented on #1219
Unfortunately at this point we're reaching the limits of what can be done by gRPC trying to reuse HTTP infrastructure with more detailed semantics than HTTP itself provides :-/  The reality here is that we have a stream abort on one side that we must signal on the other side, and that in order to best accommodate the various combinations of H1/H2 on each side, if there's an empty response it's a c

[2021-04-21 13:48] lukenowak commented on #1109
So. In order to catch traffic from haproxy itself with tshark, I need to generate about 1G pcap file per 1-2 minutes. I have about 2-3 problematic requests per day (I rechecked all logs around, can't find any indication of a problem correlating with time).

I'll try to find the information this way.

Maybe there is something else crazy I could try (like configuration change), which would result wi

[2021-04-21 13:54] axinojolais commented on #1217
So that's pretty strange. First, I confirm that the files are here and that my shell (bash) supports `{,...,}` :
[code]

Then I run "make clean" :

[code]

But the files are still here !

[code]

Running the "rm" manually works though :
[code]

[2021-04-21 14:10] axinojolais commented on #1217
strace reveals that "make clean" actually calls sh :
[code]

which doesn't support the ```{,...,}``` expansion apparently :
[code]
compared to
[code]

[2021-04-21 14:17] axinojolais commented on #1217
So ```make clean SHELL=/bin/bash``` works. I'm not sure how you want to implement a fix though - I guess don't use these expansions ?

[2021-04-21 14:47] vladsakalkin opened #1231 "Haproxy 2.2.13 too much fd in sock state"
## Detailed description of the problem

We have observed increase of the FD files after updating from version 1.9.13 to 2.2.13.
Before update we had 60K FD opened at peak time. After:  250K. Haproxy stats also shows that we have 250K current connections in Frontend section.
But if I run `ss -t` command, I have only 33K connections in different states (ESTAB, CLOSE_WAIT, etc) and 1.2K etries in 'sh

[2021-04-21 15:05] lukastribus commented on #1217
shellcheck says:

    SC3009: In POSIX sh, brace expansion is undefined.

[2021-04-21 15:10] wtarreau commented on #1217
So that confirms my doubts, thank you both for checking. Too bad the bourne shell standard is not versioned like C or other stuff, so that we could have version requirements on OSes. Being blocked in the '70s because some distros purposely use outdated shells is annoying :-(

Going to fix the makefile now, thank you!

[2021-04-21 15:24] wtarreau commented on #1217
Should be OK now, please recheck and either confirm or close. Thanks!

[2021-04-21 16:04] axinojolais commented on #1217
Indeed, works now - cheers !

[2021-04-21 16:04] #1217 closed, assigned to nobody

[2021-04-21 16:18] apenney-beeswax commented on #1194
@wtarreau I can make a whole separate bug report here, but I'm still seeing weird behavior.

1) I rolled back to intel (until the kernel fix makes it)
2) I'm using 2.4-dev16 on all these nodes.

The behavior I see is "little cpu flucuation when I first start instances, slowly degrading over time until it starts becoming noticeable in latency.  At this point we restart them all and get another week

[2021-04-21 16:37] wtarreau commented on #1194
The CPU usage oscillating between 200 and 400% is interesting, as these two values are really discrete and far too repetitive to be an accident. It looks like some events cause some extra contention and that this contention favors such events. Could you please post the output of `lscpu -e` ? I'm wondering if you couldn't have some cores attached to one package and others to another one, and that d

[2021-04-21 17:37] wtarreau commented on #1229
We've thought about it already, I was wondering if it was not yet in a "developers note" issue. The purpose would essentially be to allow splicing again and save a few memcpy(), and to ease debugging (since strace will show you cleartext traffic again). But the performance advantage is much lower these days with H2, when you're alterning send(9 bytes) and splice(less-than-16kB) (i.e 3 pages only).

[2021-04-21 17:44] wtarreau commented on #1231
Just to be sure, is this stable or is this constantly growing ?

Since your client timeouts are quite large (5mn) it could simply be that you're dealing with 800 connections per second and that they stay open for 300s during some transfers, or that you have a bit more and that the 2mn keep-alive timeout maintains them opened. The difference could be that in the past haproxy was less capable of mai

[2021-04-21 17:53] gscorrea commented on #77
Do you have a tracking number for this health check enhancement on the 2,2?

[2021-04-21 18:43] apenney-beeswax commented on #1194
[code]

Yeah, the oscillation is really weird, as runtime increases it just slowly climbs up until we see more and more periods of low cpu usage (which I assume is contention/stalling as you mentioned).  I've seen this with a mixture of 4xlarge and 8/9xlarge instances in AWS, across both intel and arm.

[2021-04-21 19:24] TimWolla commented on #1226
I believe this is a duplicate of #1066.

[2021-04-21 19:33] chipitsine commented on #1226
I will mark as false positive

[2021-04-21 19:33] #1226 closed, assigned to nobody

[2021-04-21 19:33] vladsakalkin commented on #1231
It's stable, it's rising after restart/reload and then stopped. So first of all I decided that the connections are still being closed, but I'm confused by fd sock state and that in version 1.9 I had another number of conns :)

show info:
[code]
haproxy_fd:
https://drive.google.com/file/d/1znYLsl8NFcM-t2JMYtH5MjC--_zdUlrc/view?usp=sharing

[2021-04-22 06:06] wtarreau commented on #1194
OK. I think that issuing a "show activity" and "show info" some time after this has been reasonably observed could possibly yield some info. Also if you manage to catch some periods where this happens, please have a look at "show sess all" output to seek entries with large "calls" values ("large" = thousands). They may indicate some improperly paused activity when waiting for data or resources. Do

[2021-04-22 06:25] wtarreau commented on #1231
Very interesting. So these are essentially H2 connections, the few H1 ones being end-to-end upgrades (thus most likely websocket):

[code]

OK there is something wrong. The vast majority of them (203602) are showing that a shutdown read was received, and among them, 198682 without any prior request (i.e. browser preconnect that was not used). I have no idea what could cause this especially since i

[2021-04-22 07:32] capflam commented on #77
It was pushed in upstream (fd81848c and 003df1cff) and backported to 2.3, For now, I only plan to backport the first one to 2.2.

[2021-04-22 14:12] apenney-beeswax commented on #1194
Playing around with this was fascinating, if I issue "show sess all" frequently enough I get this every ~50-100 calls:

root@fes-lb-us-east-1-ip-10-1-18-65:/home/ubuntu# echo "show sess all" | socat unix-connect:/var/run/haproxy/admin.sock stdio
root@fes-lb-us-east-1-ip-10-1-18-65:/home/ubuntu#

That's a completely blank entry!

[2021-04-22 14:18] wtarreau commented on #1194
It can happen if it hits the socat timeout which is half a second by default. If you use "socat -t 5" for example it will wait up to 5 seconds before hanging up. But that's interesting, that may precisely happen during your moments of high CPU loads and would indicate something is looping or wasting time (typically some competition). `perf top` usually helps a lot to find them. Many of the last on

[2021-04-22 15:59] apenney-beeswax commented on #1194
I'm going to keep playing around with perf top to see what I can catch (so far we spend 2-6% of our time in resolv_process_responses and nothing else even makes it over 2% no matter how long I watch).  I'll kick off a test with balance random as well over the weekend and see what that looks like!

Appreciate all the help as always, one day we'll figure this out :)

[2021-04-23 11:04] akrus opened #1232 "Problems with fcgi backend which doesn't support http2"
## Detailed description of the problem
We have fcgi-app as a backend. The app is based on Mono (hyperfastcgi4) and is pretty old, so it expects only HTTP/1.1 requests. When haproxy frontend accepts h2, it sends to the backend full URL in GET request:
GET https://svc.name/index.asp

And fails as hyperfastcgi passes the whole line there and cannot find the requested path as a result.
Using alpn http

[2021-04-23 11:13] chipitsine opened #1233 "checking memory allocation status"
this is similar to
https://github.com/haproxy/haproxy/issues/1024

[code]

[2021-04-23 13:57] capflam commented on #1231
I pushed a patch that should fix this issue. I'll backport it in the 2.3 today. It will be shipped with the next 2.3 release. Backport to the 2.2 is planned for the next week. But in mean time, it may be applied manually on top of the 2.2.

[2021-04-23 14:40] Linkyu3 opened #1234 "Backends goes down and never goes back up since 2.2.9"
## Detailed description of the problem

Since version 2.2.9 we've had trouble with healthchecking on a particular set of backends.

Backends are behind a traefik cluster so we check the SSL traefik port on connect (here 6380) te be sure traefik is up and run a bunch of tcp-check in plain (as they don't work through ssl) on 6379 to be sure the service is UP.

Until 2.2.8 healthcheck worked normally

[2021-04-23 17:06] capflam commented on #1231
The 2.3.10 is out. I'm marking the issue as fixed. But of course, it must be confirmed. And if I'm wrong, please re-open it.

[2021-04-23 17:09] capflam commented on #77
FYI, the 2.3.10 is out with the commits above.

[2021-04-23 17:33] TimWolla opened #1235 "Alpine / musl build broken for 2.4: unknown type name 'cpu_set_t'"
## Code Report

Tool: gcc

[code]

see: https://github.com/docker-library/haproxy/runs/2421829708?check_suite_focus=true

## Output of `haproxy -vv` and `uname -a`

GitHub Actions.

[2021-04-23 17:56] capflam commented on #1234
There is nothing obvious between the 2.2.8 and the 2.2.9 that could explain this. Could you provide your logs please ?

[2021-04-23 18:08] capflam commented on #1232
I confirm the issue, I'm on it.

[2021-04-23 22:35] sergiimk opened #1236 "timeout http-keep-alive doesn't work for backend servers"
## Detailed description of the problem

Specifying `timeout http-keep-alive 10s` in the `backend` section doesn't seem to have any effect. Haproxy keeps idle server connections open for very long periods of time.

This is very problematic in the following scenario:
* haproxy runs as an ingress controller in kubernetes, fronting traffic to multiple application pods
* application pods are being rest

[2021-04-26 06:47] a-denoyelle commented on #1235
Thanks for the report I will look at it

[2021-04-26 08:59] capflam commented on #1232
A fix was pushed in dev. However, note that it is not a real bug because absolute URI should be supported by H1 applications. And it is still possible for an H1 client to send an absolute URI. It is unusual but possible. In this case, HAProxy will not extract the path. It only works in H2 to H1 scenario, to conform to the habits of both worlds.

The patch will be backported soon. In the mean time,

[2021-04-26 09:30] capflam commented on #1236
`http-keep-alive` timeout is applied on the client connection, not the server one. Setting it in a backend section does not mean it is used on server connection. It it the maximum time to wait for the next request, thus on client side.
Idle connections are closed by a periodic task, triggered every `pool-purge-delay` interval (5s by default). Every time the task is executed, half of idle connectio

[2021-04-26 11:45] capflam commented on #974
@zino7825, can we close this issue now ? Does it work as expected now ?

[2021-04-26 16:16] apenney-beeswax commented on #1194
@wtarreau  I still haven't figured out anything special with perf top, but here's some dumps from the other commands just in case you spot anything I don't understand.  (I know you said don't post it here but I see nothing I'd consider private/secret, so I think it's fine):

[code]

[code]

[code]

[2021-04-26 17:03] sergiimk commented on #1236
Thanks for looking into this, @capflam.

We're using [haproxy-ingress controller](https://github.com/jcmoraisjr/haproxy-ingress). During the rollout:
* Few new pods are created
* Controller adds them as servers into haproxy (dynamically via control socket or by reloading if there are no free slots)
* Corresponding amount of old pods is signaled to shutdown
* Old pods are disabled in haproxy by the

[2021-04-26 23:25] sodabrew commented on #1235
Yep, this is affecting the 2.4-dev17 builds on Alpine. I'll test out with the Debian images for now, but hope that dev18 will solve it next week!

[2021-04-27 07:09] wtarreau commented on #969
Yes I agree. I've discussed my suggestion about how to proceed to kill them on reload and maybe we'll have this. I'm not saying it will solve your needs, but it could make it easier to deliver some signals to all of them, asking to perform some cleanup, something that is not possible for now without requests traffic.

[2021-04-27 07:23] wtarreau commented on #1194
I'm seeing a huge amount of takeovers, which indicates that your servers might be responding extremely fast and that connections can be reused so quickly that a tiny number only is required. I suspect that you're running with a single connection or a few, and that they move a lot across threads. Depending on how they are spread, either the need to migrate a lot or not and that might make this diff

[2021-04-27 09:00] Linkyu3 commented on #1234
Sorry for the late reply, had to make the conditions again to create some logs.

Sadly we can't see anything specific apart from  the healtchecks going down once, here are the logs :

[code]

Logs are on Haproxy 2.2.11 but i had same behavior on 2.2.10 and 2.2.9.

[2021-04-27 10:03] AlexanderThaller commented on #1229
Yeah thinking about it most of the performance improvement would come when serving files (sendfile and stuff) so something haproxy usually doesn't do that often. If you think it doesn't make sense I'm fine to close this issue.

[2021-04-27 10:08] letnab opened #1237 "HA-Proxy version 1.8.24 2020/02/15 not send access log to /dev/log"
HA-Proxy version 1.8.24 2020/02/15 not send access log to /dev/log

`journalctl -f -u haproxy
-- Logs begin at Пн 2021-04-26 21:01:39 MSK. --
апр 27 13:00:15 node02.local haproxy[10715]: Proxy 1-OUT started.
апр 27 13:00:15 node02.local haproxy[10715]: Proxy 2-OUT started.
апр 27 13:00:15 node02.local haproxy[10715]: Proxy SSL started.
апр 27 13:00:15 node02.local haproxy[10715]: Proxy NOCHECK-SSL

[2021-04-27 10:35] lukastribus commented on #1237
Please do not ask questions in the issue tracker. This issue tracker is for tracking bugs and
feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to

[2021-04-27 10:35] #1237 closed, assigned to nobody

[2021-04-27 12:27] capflam commented on #1234
No problem. Thanks for the logs. L7 timeout is indeed pretty strange because it means a timeout expired on a connect rule but it is not a L4 timeout. Thus it means the connection is established. At this stage if a L7 timeout is reported, it means the timeout of the check task has expired. I guess it happens when the connection is immediately established.

I'll try to provide you a patch to validat

[2021-04-27 12:50] Linkyu3 commented on #1234
Indeed, this is strange. Apart from the Health check failing i found strange that there was no retry after the down status but i thought it might have been a misconfiguration from our part.

Thank you for your time!

[2021-04-27 12:52] braunenet opened #1238 "Add wildcards to conditions"
## What should haproxy do differently? Which functionality do you think we should add?

Hello,

I have a server with a bunch of services that I am currently reverse proxying.

service_a: Default backend that serves an HTML landingpage. subdir.mydomain.net
service_b: Has lots of paths that it relies on. subdir.mydomain.net/*/...
service_c: Has all services sitting in just one single path. subdir.my

[2021-04-27 13:10] TimWolla commented on #1238
You should already be able to achieve this by checking for A, C, D first and anything else implicitly must be B then. Otherwise you might want to look into `path_reg`.

[2021-04-27 14:06] braunenet commented on #1238
Sadly not because "everything else" is already defined as the default backend in the corresponding frontend.

I will take a look in the path_reg! Thank you.

[2021-04-27 15:35] wtarreau commented on #1229
It's not that it doesn't make sense, it's that I predict a great deception once it will be done, so I'd rather keep it at low priority in the todo list, in hope that some future compelling use cases help us decide more precisely in what direction to go and for what purpose.

[2021-04-27 17:36] apenney-beeswax commented on #1194
@wtarreau Is that based on the Current Request Rate (I don't see anything mentioning idle conns):

<img width="644" alt="Screen Shot 2021-04-27 at 12 34 02 PM" src="https://user-images.githubusercontent.com/70025627/116286498-e9690f00-a754-11eb-82f6-a5000b99e897.png">

Also a side note, the metrics for the instance I put on for dev17 don't ... look good:

<img width="1019" alt="Screen Shot 2021-04

[2021-04-27 18:25] wtarreau commented on #1194
No it was "sessions/cur", not "session rate/cur" :-)

However for the session rate, conn rate etc, I'm totally amazed! I'm wondering if you're experiencing fluctuating time, which could explain time spent fixing it. I need to figure where I put my old clock debugging program and blow the dust out of it to pass it to you.

[2021-04-27 18:31] TysonAndre commented on #1144
We've been running with `nbthreads: 2` on CentOS 6 after fixing the dentries leak without any issues for the last 5 days

[2021-04-27 18:57] bugfood commented on #1144
Yes, no crashes since then, and we had made no other substantial changes to that tier meanwhile, so I'm getting more and more confident that the dentry leak was the culprit. I can't really speak as to whether the kernel should or should not be more performant for this; the situation is pathological anyway.

For anybody else having this issue, I would not recommend dropping caches periodically unle

[2021-04-27 19:08] apenney-beeswax commented on #1194
Got it, I set it to core*2 in the end (which was in the docs.  Generally it was estimating 12 so I figure a small pool of 72 won't hurt.  Just kicked that off so I'll keep an eye on it for a few hours!

I just checked the -dev17 node and it does have NTP on (not that it stops it fluctuating but worth checking) - I'll see if the higher count comes back in a couple of days from here!

[2021-04-28 09:58] capflam commented on #1234
Could you try this patch, on top of the 2.2 ?

[0001-BUG-MINOR-checks-Handle-synchronous-connect-when-a-t.patch.txt](https://github.com/haproxy/haproxy/files/6390929/0001-BUG-MINOR-checks-Handle-synchronous-connect-when-a-t.patch.txt)

[2021-04-28 10:08] wtarreau commented on #1194
You mean the absurd rate only appeared after some time, not immediately ? This sounds totally weird!

[2021-04-28 10:25] wtarreau commented on #1194
Ashley, did you by chance start to observe the high values right after this monday evening ? Because it could correspond to the last time wrap and indicate that an issue remains with the freq_ctr wraparound detection, although I can't see it.

[2021-04-28 12:33] EmericBr commented on #1216
Hi, there is 2 bunches of fixes recently commited into master concerning the peers and sitck tables.

[2021-04-28 12:56] wtarreau commented on #1194
FWIW 5.4.115 with @AGSaidi 's fix was just released a minute ago.

[2021-04-28 13:26] apenney-beeswax commented on #1194
It kicked on Tues at 0300 so .. yep, pretty much monday evening:

<img width="1312" alt="Screen Shot 2021-04-28 at 8 26 43 AM" src="https://user-images.githubusercontent.com/70025627/116411595-79fa2a80-a7fb-11eb-9875-cc41bd568b58.png">

[2021-04-28 13:45] wtarreau commented on #1194
So it looks like the rotation was not enforced any more, exactly as if it had considered the period as signed (I even looked at the assembly in doubt and it's correctly unsigned here). Could you please share the output of "haproxy -vv" in case I could spot anything suspicious in the build options ?

[2021-04-28 13:45] wtarreau commented on #1194
Also, that's really strange that it continued to grow but that it was OK again upon restart.

[2021-04-28 14:17] apenney-beeswax commented on #1194
For sure:

[code]

[2021-04-28 14:17] wtarreau commented on #1194
Given that plenty of counters look bad, I'm pretty sure the issue is in the time update that changed between the two. Ah thanks for the dump! Nothing that rings a bell there for now.

[2021-04-28 14:36] wtarreau commented on #1194
I'm pretty convinced it is caused by this commit: 4d01f3dcd ("MINOR: time: avoid overwriting the same values of global_now") that avoids to update global_now if it's already correct. It just turns out that if we miss an update it looks possible to never being able to recover. I have to rework on this area.

[2021-04-28 14:55] capflam commented on #1232
Backported now. The fix will be shipped in the next 2.2 release (planned this week).

[2021-04-28 14:55] #1232 closed, assigned to nobody

[2021-04-28 14:59] capflam commented on #77
backported to 2.2. It will be shipped in the next 2.2 release, planned this week.

[2021-04-28 15:16] buchmui commented on #1011
Same error here.

Default debian 10 install

[code]
openssl:
[code]
The startup of the haproxy process does not fail. only ``openssl s_client -connect server:port`` or an nmap cipher scan would indicate, that the haproxy process is not able to serve the chain. In my opinion the process must fail to start or an config check should print out a warning. Only the ansible module is giving a reference t

[2021-04-28 15:38] wlallemand commented on #1011
There is unfortunately no clean way to detect this, because OpenSSL does not return an error. You can bypass the issue by using "no-ca-names"

[2021-04-28 15:51] wtarreau commented on #1194
So that was it, I could even reproduce it by cheating on global_now_ms. I've pushed the fix, which I'm copying here for your convenience if you want to apply it (as it can happen any time in theory). Thanks Ashley for your useful info as usual :-)

[0001-BUG-MEDIUM-time-fix-updating-of-global_now-upon-cloc.patch.txt](https://github.com/haproxy/haproxy/files/6393158/0001-BUG-MEDIUM-time-fix-updatin

[2021-04-28 15:54] wlallemand commented on #1011
Also, I'm confused about the error you are linking, this bug report is about the ca-file directive, not the crt one.

[2021-04-28 16:35] capflam commented on #1236
Ok thanks for clarification. If the server connection is closed when HAProxy tries to reuse it, there is nothing to do except redispatching the request on retry. But it means the connection was not reused for 20 seconds. It means you have a very low traffic. Or I missed something.

About the purge mechanism, it is indeed an heuristic to maximize the reuse rate. It is also a good way to not wake up

[2021-04-29 12:00] Linkyu3 commented on #1234
Thanks a lot for your quick work!
I tried to patch on top of the 2.2-dev11 (as this was the closest version deployed by opnsense) but the patch didn't seem to pass the check :
[code]
I've had the same error with the dev12 that seems to be the latest version in the 2.2 branch.
I'm sorry if not doing the right thing, i'm kind of newbie on these subjects.

[2021-04-29 12:24] capflam commented on #1234
I guess you mean 2.2.11 or 2.2.12. It is pretty strange because I can apply manually the patch on both. Could you confirm you really checkout the 2.2.11/2.2.12 and not the -dev11/-dev12 ?

[2021-04-29 12:29] haproxyFred commented on #1221
This is a well known bug I have decided not to fix. To parse a stick table update message we must know the previous definition message which has been received: all the update messages following this definition message depend on it. There is no information in the update message which tell us which stick-table it is referring to. This is the clicking action which triggers the parsing in Wireshark in

[2021-04-29 12:56] capflam commented on #1231
The 2.2.14 was released and the fix was backported to the 2.0 too.

[2021-04-29 12:56] #1231 closed, assigned to nobody

[2021-04-29 20:26] sergiimk commented on #1236
We have moderate traffic when reproducing this issue under a load test. There's probably a lot of factors that can result in one idle connection not being utilized much longer than others (which haproxy thread handles it, load balancing algo etc.).

I still think it's a bit weird not to have a mechanism to reliably avoid such race conditions by having haproxy-side timeout shorter than the server-s

[2021-04-30 00:19] sergiimk commented on #1236
I have just confirmed that putting a server into "maint" mode in haproxy `2.0.14` does not purge idle connections, and neither does assigning a new IP. If server quicky transitions `ready -> maint -> new IP -> ready` new requests will reuse the old idle connections that go to server that no longer exist.

I have also tested the same with `2.4-dev` and the problem seems fixed. This was most likely

[2021-04-30 00:19] #1236 closed, assigned to nobody

[2021-04-30 09:25] capflam commented on #1236
Indeed, there is a difference in the way idle connections are handled between 2.0 and >=2.2. Especially, there is a fix pushed to 2.2 for this specific use-case (6318d33ce62). It was first backported to the 2.0 and reverted because there are too much differences between both versions. So upgrading at least to 2.2 is a good idea here.

About the normal case, you should be prepared to have some conn

[2021-04-30 11:31] capflam commented on #1236
Note that another solution is to use the `safe` strategy to reuse connections.

[2021-05-01 03:00] AGSaidi commented on #1194
5.4.0-1047.49~18.04.1 is now in bionic-proposed and includes the fix.

[code]

[2021-05-01 19:31] chipitsine opened #1240 "lua regtest fail on lua-5.4.3"
Fedora 34 (lua-5.4.2) works (tested on laptop)

Fedora Rawhide (lua-5.4.3) fails

https://gitlab.com/chipitsine/haproxy-ci-playground/-/jobs/1228913534

[code]

[2021-05-03 06:56] a-denoyelle commented on #1240
I forgot to report it but I confirm the issue on Archlinux as well. The problem is definitely triggered by the upgrade from lua 5.4.2 to 5.4.3.

[2021-05-03 07:32] capflam commented on #1240
It is a change in `LuaL_buffinit()` function. Before the 5.4.3, this function only creates a buffer but nothing is pushed on the top of the stack. In the 5.4.3, a light userdata pointing on the buffer is pushed on the top of the stack. Of course, this changes the index of the top element in the stack. Here is the corresponding commit: https://github.com/lua/lua/commit/cf23a93d

In fact, it seems t

[2021-05-03 08:43] capflam commented on #1240
It should be fixed now.

[2021-05-03 08:51] a-denoyelle commented on #1240
@capflam I confirm you on Archlinux the regtest is fixed thanks to your commit.

[2021-05-03 09:02] chipitsine commented on #1240
Fedora rawhide is broken on itself.

https://gitlab.com/chipitsine/haproxy-ci-playground/-/jobs/1231069535

closing the issue for now

[2021-05-03 09:03] chipitsine commented on #1240
sorry, did not mention backporting labels

[2021-05-04 09:00] yusufozturk commented on #62
Well, this was a very interesting topic to read. It's nice to see syslog support in haproxy after these discussions. We will also give it a try.

[2021-05-04 13:23] apenney-beeswax commented on #1194
I'm just rolling out -dev18 (for the metrics fix) and just wanted to add that after adding pool-low-conn I started to see the same behavior after a few days (the peaks of super high cpu and then crashing low).  I regather data like before in a couple of days when the issue comes back, but the pool stuff hasn't fixed the underlying weirdness for me.

[2021-05-04 13:32] wtarreau commented on #1194
OK, thanks for letting us know :-/  I'll continue to try to reproduce this.

[2021-05-04 13:37] apenney-beeswax commented on #1194
It's definitely tough to reproduce, so far all I can add is:

* It takes a day or two to start to destabilize
* It does increase with traffic volume
* It drops to lower levels during the lull at night, but the next day it'll be worse than the previous
* It generally takes about a full week to start being noticeable in other metrics

Definitely a weird bug!  If it was lock contention or something l

[2021-05-05 01:57] huntc commented on #85
As an adjunct to this issue, I had an SSL cert expire on a backend that had been configured as `ssl verify none`. Yet, when that backend's cert expired, the expiry propagated to the front. Thus, the frontend was reporting that its cert had expired when in fact the backend's had. This turned out to be very confusing.

Note that I'm using the same certs for the front and back, and the front had expi

[2021-05-05 11:41] jbaanus commented on #1003
We have noticed similar behaviour, when the HTTP request to backend server fails with `HTTP 502`, tested both in HAProxy versions 2.0 and 2.2.

Configuration:
[code]

On statistics page we can see increase in both `Warnings > Retr` and `Warnings > Redis`, however the number of `Sessions > Cur` is always increasing, never decreasing, according to the number of original requests from the client to t

[2021-05-05 12:01] sodabrew commented on #1235
I think this ticket can be closed since 2.4-dev18 was released with a fix.

[2021-05-05 12:24] TimWolla commented on #1235
Indeed, thanks.

[2021-05-05 12:24] #1235 closed, assigned to a-denoyelle

[2021-05-05 14:42] Linkyu3 commented on #1234
Yep, sorry about that the tags in the github misslead me.
Took me some time to tame freebsd port patching lol, got to patch on top of the 2.2.13 and it seem to have solved the issue.
Healtcheck works perfectly and we had no down in 24h, thanks a lot!

[2021-05-05 14:44] capflam commented on #1234
Ok thanks for the feedback ! I'll merge the fix soon.

[2021-05-05 14:53] capflam commented on #1003
I confirm the counter issue but not the connection leak

[2021-05-05 15:26] capflam commented on #1003
Note that @jbaanus's bug is probably not the same than @jaroslawr because in the config snippet provided by @jaroslawr, there is no connection retry. For me the issue about the current session counter is only visible with L7 retries.

[2021-05-05 19:20] capflam commented on #1003
@jaroslawr, do you know if the bug still exists on the latest 2.3 release (2.3.10) ?

[2021-05-06 07:04] jaroslawr commented on #1003
@capflam No, we increased the timeout and no longer trigger this problem.

[2021-05-06 09:24] foobar4711 commented on #1234
Hello,

yesterday we run into a similar issue.

All 6 webserver from Backend-Web are marked down and not coming back until restart of haproxy. But where still reachable.
Some other backends are unaffected from this issue during this time and working properly.
With the Alert "backend 'Backend-Web' has no server available!" I don't see any further availability checks on any Systems in any backend un

[2021-05-06 09:44] jbaanus commented on #1003
Thank you for fixing this, we can confirm that the commit fixed the session count bug we are experiencing with 2.0 and 2.2

[2021-05-06 09:44] braunenet commented on #1238
Solved using path_reg!
![grafik](https://user-images.githubusercontent.com/72074040/117277816-7b150280-ae60-11eb-8bef-fde72fd7d611.png)

[2021-05-06 09:44] #1238 closed, assigned to nobody

[2021-05-06 12:25] StanleyP opened #1241 "HAProxy closing socket created by lua after couple of seconds"
## Detailed description of the problem

I am using haproxy redis connection pool via https://blog.arpalert.org/2018/02/haproxy-lua-redis-connection-pool.html
HAProxy closes socket created by lua after couple of seconds (3-5) of inactivity.

## Expected behavior

The socket/connection created by lua should be kept open.

## Steps to reproduce the behavior

0. Get docker and docker-compose
1. Unzip

[2021-05-06 12:28] StanleyP commented on #1241
Also I tested it on haproxytech/haproxy-debian:2.3 and 2.4 with the same result.

[2021-05-06 14:33] capflam commented on #1234
@foobar4711, it is not the same issue. Here the servers are set to down because of true connection failures, because of `observer layer7` option.

[2021-05-06 14:36] capflam commented on #1003
@jbaanus thanks for the feedback ! @jaroslawr copy that. I will close the issue with the label "cannot reproduce" but that remains strange...

[2021-05-06 14:36] #1003 closed, assigned to nobody

[2021-05-06 16:22] StanleyP commented on #1241
Found the issue, I forgot to reset timeout after connect. Mea culpa, sorry :)

[2021-05-06 16:22] #1241 closed, assigned to nobody

[2021-05-06 16:29] foobar4711 commented on #1234
The Server where down only for some seconds because of reaching connection limit. After that they working properly.
But haproxy didnt check them again and as well dont check all the other server in different backends after backend-web has no servers. why stop haproxy checking the other bbackends? Only haproxy restart helps, after that everthing runs fine.

[2021-05-06 18:57] etfloyd commented on #1216
HAProxy 2.2.14 has ten peers-related patches and they don't completely fix this issue but they definitely improve it to the point that we may be able to do without my work-around. I tested with the original sticktabledemo scripts attached above, slightly modified to display an iteration counter, with start.sh updated to specify HAProxy version 2.2.14, and with 800 backends, running this inside eac

[2021-05-07 08:37] capflam commented on #1234
There is indeed no reason to stop health-checks in this case. For servers in other backends and into the same backend. But it is a different issue. Are you sure both events are linked ? If there is a bug, I can understand that the health-check for a specific server may be influenced by the connection errors on this same server. But it is highly unlikely to have such interaction between different s

[2021-05-07 10:16] capflam commented on #1234
@Linkyu3 I pushed the fix. It will be backported soon. Thanks !
@foobar4711, I finally found a bug that may explain what you observed. I push a fix too (ea8608371).

[2021-05-07 10:16] capflam commented on #1234
oops. Closed to quickly :)

[2021-05-07 12:09] Linkyu3 commented on #1234
Merci Capitaine !

[2021-05-07 14:30] wlallemand commented on #427
Hot update for server certificates (crt keyword) was implemented for the 2.4 version. Development for the 2.5 version has started and will include ca-file and crl-file hot update (frontend/backend).

[2021-05-07 14:31] wlallemand commented on #845
This was fixed in 2.4 when adding crt hot-update for backend. (issue #427)

[2021-05-07 14:31] #845 closed, assigned to rlebreton

[2021-05-07 14:34] rlebreton commented on #1181
The cache entries are not removed from the cache until we try to insert a new entry and the cache is full. So the cache is bound to be "full" after some time and it won't ever be emptied. This notion of cache usage would not mean much after the cache is full, it would almost always give a value close to your tune.ssl.cachesize.

[2021-05-07 16:34] wlallemand commented on #1201
The documentation was updated.

[2021-05-07 16:34] #1201 closed, assigned to rlebreton

[2021-05-08 19:07] chipitsine opened #1242 "OpenTracing build failures using clang"
built on todays master (using clang).
btw, gcc is not that picky

[code]

[2021-05-08 19:40] zaga00 commented on #1242
Hello @chipitsine,

the next patch should help.

Best regards.
[ot-issue-1242.patch.gz](https://github.com/haproxy/haproxy/files/6446456/ot-issue-1242.patch.gz)

[2021-05-08 19:51] chipitsine commented on #1242
yes, I tested on clang, it fixes the issue

[2021-05-09 14:24] chipitsine opened #1243 "build fails if QUIC enabled (build with gcc)"
build link:

https://github.com/chipitsine/haproxy/runs/2539224326

[code]

[2021-05-10 07:26] chipitsine commented on #1243
fixed in https://github.com/haproxy/haproxy/commit/7deb28ce6510bbc764eddd4e381cb7268792254a

[2021-05-10 07:26] #1243 closed, assigned to nobody

[2021-05-10 07:27] chipitsine opened #1244 "new issues found by coverity"
[code]

[2021-05-10 08:48] a-denoyelle commented on #1244
I'll take a look on it thanks for the report.

[2021-05-10 09:39] a-denoyelle commented on #1244
The first two issues are valid, I will provide a fix soon.

The last report for src/cli.c has already been fixed by the following commit.
5db446d7e1325322fc950a28d77e8f7b947ff227
BUILD: cli: appease a null-deref warning in cli_gen_usage_msg()

[2021-05-10 11:05] chipitsine commented on #1244
coverity will close them automatically tomorrow.

[2021-05-10 11:06] chipitsine commented on #1244
oops. I thought that commit refers fixed remaining issues

[2021-05-10 11:30] ionescurobert commented on #693
I have a fork where you will get client certificate details in case of tls errors.

For now following client certificate information were logged:

- SHA1
- Serial
- Issuer
- DN

Find it here: https://github.com/ionescurobert/haproxy

[2021-05-10 11:45] wtarreau commented on #693
Thank you Robert. Sorry for not responding to your recent messages but we're all busy finalizing the current 2.4 release and it's quite hard to work both on polishing and review new features. Will get back to you soon.

[2021-05-10 12:28] apenney-beeswax commented on #1194
OK, so after a few days on -dev18 we're sliding back to weird cpu usage again.  I've attached a show sess/info/etc as the comment got too big for github to accept.  @wtarreau I don't see anything especially weird here, but we took ~4 days to start showing the cpu fluctuations, and then over the last two days they've gotten worse.

[sess-all.txt](https://github.com/haproxy/haproxy/files/6451978/ses

[2021-05-10 14:14] wtarreau commented on #1194
There are strange effects in the activty report. Some threads were pushed a huge amount of new connections, and were also the ones having the post dropped FDs and the least context switches.

Could you please also dump the corresponding "show fd" ? I'm interested in seeing if there's anything wrong with some FDs never dying or something like this.

I'm also noticing that a few threads accept way m

[2021-05-10 14:28] apenney-beeswax commented on #1194
[show-fd.txt](https://github.com/haproxy/haproxy/files/6452716/show-fd.txt)

We do graph stolen cpu, but looking across a bunch of nodes it's so low that it doesn't even graph properly.  The "sum" across an hour is 0.24%, and the actual avg shows as 1.9e-3% because it's so low.

<img width="2230" alt="Screen Shot 2021-05-10 at 9 24 59 AM" src="https://user-images.githubusercontent.com/70025627/117

[2021-05-10 14:58] wtarreau commented on #1194
OK for the CPU stolen, haproxy sees 0.03% avg across the uptime. It cannot be very precise since it deduces that from the difference between cpu time and wall clock time, but that shows that it remains a good indication.

For the FD, the "suspicious" hint indicated by grepping for '!' showed me a few frontend connections that have a huge amount of calls, but all of them look perfectly normal and a

[2021-05-10 15:25] apenney-beeswax commented on #1194
That definitely sounds like a good hypothesis, from what we've observed that's exactly what happens - the RTB exchanges will slowly prioritize the fastest connections.  I'll experiment with busy-polling on one of the nodes and see what we see (I was just in the process of building an ubuntu 21.04 instance to rule out any weird kernel level bugs between 5.4->5.11, but I'll switch over to enabling b

[2021-05-10 15:29] apenney-beeswax commented on #1194
Before I do that however, I noticed the scary set of documentation:

[code]

Does that mean I should go back to pinning haproxy to half my cores and the nics to the other half?

[2021-05-10 15:38] wtarreau commented on #1194
In the past when the NIC interrupts were uneven on most machines and haproxy couldn't fairly distribute incoming connections I would have said yes. Nowadays as long as you're not seeing ksoftirqd running at 100%, I'd say that I think it is safe to run on all cores. What can happen is that if you're running on highly overbooked VMs, the hypervisor could punish you for using the CPU all the time, bu

[2021-05-10 15:49] AGSaidi commented on #1194
Should we create a new issue for tracking this? @apenney-beeswax the issue you mentioned with epoll has been fixed in Ubuntu linux-aws kernel 5.4.0-1047.

[2021-05-10 16:03] wtarreau commented on #1194
I don't think it deserves a new one for now since we're still just guessing. And maybe we'll figure in the end that it's only an optimal behavior from their high-traffic RTB clients. Ashley will correct me if I'm wrong but I think there is no performance issue, only a really weird CPU usage distribution that could simply be the consequence of uneven but optimal traffic distribution.

[2021-05-10 16:56] apenney-beeswax commented on #1194
I think at this point I agree - for a while it seemed like backend latency scaled up after a week or two with this weird cpu distribution, but recently it's seemed to have zero correlation to latency and everything has been fine.

I've got 1 node running with busy-polling (seems fine) and one with Ubuntu 21.04 (which also seems fine), so I think I'll just give them a couple of days, but it's start

[2021-05-10 22:10] TimWolla opened #1246 "Support '.if' predicates as a CLI argument"
## What should haproxy do differently? Which functionality do you think we should add?

I'd like to be able to evaluate a `.if` predicate without passing a configuration file, e.g.:

[code]

The exit code should indicate whether the predicate is true (0), false (1), or unparseable (2).

## What are you trying to do?

I'd like to be able to easily check the capabilities of an HAProxy without needin

[2021-05-10 22:10] TimWolla commented on #1246
Super dirty PoC patch:

[code]

[2021-05-11 01:35] #1244 closed, assigned to a-denoyelle

[2021-05-11 15:36] TimWolla commented on #714
Marking as 'fixed' and closing, as the URI normalization framework is added in 2.4 and it comes with a good set of normalizers. Anything more is a bonus :smiley:

[2021-05-11 15:36] #714 closed, assigned to TimWolla

[2021-05-11 15:49] wtarreau commented on #1246
I think it can be a good idea. Probably we need to remove `PARSE_OPT_ENV`, `PARSE_OPT_WORD_EXPAND` and `PARSE_OPT_SHARP` to save the user from needlessly having to enter multiple levels of quotes when used from the shell, but that could be done.

I'd even adjust the status code based on cfg_eval_condition() instead of printing it. The results are expected to be booleans and it's way easier to type

[2021-05-11 15:54] wtarreau commented on #1233
A quick check to some of them indicates they're at parsing time (hence low importance). Rémi, if you spot any of them that can be triggered at runtime, I'd rather fix them before the release. The other ones will be fixed later.

[2021-05-11 15:59] TimWolla commented on #1246
@wtarreau I don't plan on pursuing this further myself for now, because I can't invest the time to properly clean this up. The patch above really is no more than a proof of concept that I hacked up in half an hour or so.

I agree with all your suggestions. If you (or someone else) wants to bring this patch over the finish line, feel free to. Otherwise this will have to wait. Just add a `Co-authore

[2021-05-11 16:26] apenney-beeswax commented on #1194
Quick update:

Busy-polling is still working but also exhibiting weird behavior on the cpu charts which I found fascinating:

<img width="2250" alt="Screen Shot 2021-05-11 at 11 22 17 AM" src="https://user-images.githubusercontent.com/70025627/117851160-a8402700-b24b-11eb-849f-8c33b755210d.png">

The ubuntu 21.04 node is working fine alongside 20.04.  I think for now I'm going to upgrade to -dev19

[2021-05-11 16:27] rlebreton commented on #1233
Yes that's what I noticed too, none of them seemed critical but I'll recheck just to be sure. There might be some of them that can be reached through CLI calls.

[2021-05-11 16:52] pierrecdn opened #1247 "[2.4-dev19] Segfault when using stick-tables"
## Detailed description of the problem

I gave a try to 2.4-dev19 and I'm experiencing a segfault on a part on my infrastructure using stick tables.

[code]

## Steps to reproduce the behavior

Here is the config structure:

[code]

And here is the thread backtrace:

[code]

## Do you have any idea what may have caused this?

Our integration tests seem to say that using sticktables and actually us

[2021-05-12 05:49] wtarreau commented on #1233
maybe, that could warrant a verification then.

[2021-05-12 05:55] wtarreau commented on #1194
Ah that's indeed pretty surprising. It looks like the oscillating period on the red part is around 40 seconds. Could this correspond to a check interval, a timeout, or even session durations found in your logs ? Maybe you should check if your connections, response time or requests/s or TLS handshakes graphs show any variation in that period. Maybe your clients renew many of their connections every

[2021-05-12 07:50] a-denoyelle commented on #1247
It seems there is a problem with the kw argument which is null. I'm investigating on it...

[2021-05-12 07:58] rlebreton commented on #1233
@wtarreau  All the missing checks are indeed located in init or conf parsing functions apart from the port_range.h/server.c ones which could happen at runtime during a dynamic server creation (pretty unlikely though). Here is a patch that fixes these specific allocations.
[0001-BUG-MINOR-server-Missing-calloc-return-value-check-i.txt](https://github.com/haproxy/haproxy/files/6464484/0001-BUG-MINOR

[2021-05-12 08:14] a-denoyelle commented on #1247
Thanks for the report. I can reproduce the issue with sticky fetches "src_*". I'm on a fix.

[2021-05-12 11:30] jaroslawr opened #1248 "Separate connection log"
## What should haproxy do differently? Which functionality do you think we should add?

It would be nice to have a separate log file where connection- related events are logged and not requests like in the traditional access log. I think it might be possible to design such a log in a way that makes sense for many of the diverse modes haproxy can run in.

For example, it could log:
1. TCP connectio

[2021-05-13 19:04] wtarreau commented on #1247
Closing since assuming fixed. Pierre, do not hesitate to reopen if that's not the case. 2.4-final should be ready tomorrow so no need to patch your 2.4-dev :-)

[2021-05-13 19:04] #1247 closed, assigned to a-denoyelle

[2021-05-14 06:19] chipitsine opened #1249 "src/vars.c: null pointer dereference suspected by coverity"
[code]

[2021-05-14 09:11] EmericBr commented on #1216
Yep, as previously said, the initial resync of stick table is not designed to support such intensive reload, so processing 40 000 iteration at 3 reload/sec without data loss seems reasonable in my opinion to consider the issue fixed and working as designed. So @wtarreau we may close that bug.

[2021-05-14 13:38] wtarreau commented on #1198
Marking as fixed and closing since now done.

[2021-05-14 13:38] #1198 closed, assigned to nobody

[2021-05-14 13:40] wtarreau commented on #1216
OK. I'll mark it fixed since your patches were backported to 2.2 already. Thanks!

[2021-05-14 13:40] #1216 closed, assigned to nobody

[2021-05-14 13:43] wtarreau commented on #1248
Hi Jaroslaw,

there's another issue where we mentioned the willingness to have multiple points to collect logging info and to emit logs, for the same reasons. Similarly the goal would be to be able to emit logs using a different (still configurable) format. One of the biggest difficulty in fact is to figure how to offer that to be configured without turning logs into a totally uncontrollable mess

[2021-05-14 14:44] fdefilippo opened #1250 "stats page with only down service"
hi, is there any way with the stats page to only show backends in down state? something  like:

watch 'echo "show stat" | nc -U /var/lib/haproxy/stats | grep -i down|cut -d "," -f 1,2,5-11,18,24,27,30,36,50,37,56,57,62 | column -s, -t'

thank you

[2021-05-14 14:45] EmericBr commented on #1185
I'm currently working to fix that.

[2021-05-16 17:14] rmohanda opened #1251 "High CPU Usage 2.0.22-1"
HA-Proxy version 2.0.22-1ppa1~focal (I have not specifically configured nbthread, all 64 threads used). All of a sudden 64 threads consuming all my node CPU(88 cores).

Attached haproxy process and checked all 64 threads showing sched_yield ()=0.

Any idea what is causing this to use all cpu all time and only restarting the process solving the problem. In next days or hours again going back to sam

[2021-05-17 07:04] #1234 closed, assigned to nobody

[2021-05-17 12:39] HackLotus opened #1252 "Bug with copy / paste on Collabora Nextcloud only when passing via HAPROXY"
## Detailed description of the problem

On Collabora, on Nextcloud, I can't paste text copied from my PC through HAproxy. I have a redirect rule on the HAproxy plugin on my OPNsense that redirects based on the URL. When I type the URL of the Nextcloud (thus passing by HAproxy) I cannot paste the text in Collabora, whereas when I go on the Netxcloud via the direct IP of the server, there is no prob

[2021-05-17 12:41] pr0grammm opened #1253 "v2.3.9 : Crash observed: "A bogus APPCTX [0x24d9f10] is spinning""
Starting seeing this error while making a socket connection using haproxy socket class. Please can anyone help with why this might be happening?

A bogus APPCTX [0x24d9f10] is spinning at 186353 calls per second and refuses to die, aborting now! Please report this error to developers [strm=0x20ecde0 src=<LUA_TCP> fe=LUA-SOCKET be=LUA-SOCKET dst=LUA-TCP-CONN rqf=848000 rqa=0 rpf=8000c020 rpa=0 sif=

[2021-05-17 13:41] TimWolla commented on #1253
Please fill in the complete “Bug Report” template, including the configuration and your Lua script: https://github.com/haproxy/haproxy/issues/new/choose

[2021-05-17 13:41] #1253 closed, assigned to nobody

[2021-05-17 15:16] apenney-beeswax commented on #1194
Mini weird update:  I'm not seeing the thread issue since rolling these machines to 2.4.0-dev19 and Ubuntu 21.04 - not sure if it's the kernel difference or what, but it seems to be behaving.  It's been 5 days and I normally start to see the instability by now but nothing is looking bad in the graphs.

I'm totally baffled, I suppose.. it could be a change in how irqs are balanced, something else i

[2021-05-17 17:30] wtarreau commented on #1194
It definitely cannot be a compiler-related thing. It could be related to the kernel however (scheduling, throttling, etc). But you suddenly make me wonder if the previous machines wouldn't be running irqbalance. This thing was designed at an era where multiple processes were bound to a single socket and the accept rate was unfair for long connections, and it's totally outdated and counter-producti

[2021-05-17 18:06] apenney-beeswax commented on #1194
Looks like both 20.04 and 21.04 ship with irqbalance enabled by default! (1.6 and 1.7 respectively).  I'll test out disabling it on an instance.  (It's possible it behaves just differently enough in the new version to cause less pain)

[2021-05-17 19:00] wtarreau commented on #1194
Argh! What an horror! It's a random behavior generator :-(  It can perfectly explain the regular patterns you were observing because it relies on various heuristics do decide to periodically change the IRQ affinity. I don't see any single workload that could benefit from this nowadays, it can only cause havoc by slowly modifying the CPU distribution.

The right thing to do is to properly bind the

[2021-05-18 02:55] ghd258 opened #1254 "支持 windows"
支持 windows

[2021-05-18 04:09] chipitsine opened #1255 "src/ssl_ckch.c: checked return suspected by coverity"
[code]

[2021-05-18 04:10] chipitsine opened #1256 "src/ssl_ckch.c:: dead code suspected by coverity"
[code]

[2021-05-18 04:11] chipitsine opened #1257 "src/ssl_ckch.c: dead code suspected by coverity"
[code]

[2021-05-18 04:12] chipitsine opened #1258 "src/connection.c: checked return suspected by coverity"
[code]

[2021-05-18 04:13] chipitsine opened #1259 "src/ssl_ckch.c: uninitialized variable suspected by coverity"
[code]

[2021-05-18 04:14] chipitsine opened #1260 "src/ssl_ckch.c: uninitialized variable suspected by coverity"
[code]

[2021-05-18 04:17] chipitsine opened #1261 "buffer overflow suspected by asan"
build:
https://github.com/haproxy/haproxy/runs/2605305752

[code]

[code]

[2021-05-18 09:35] wlallemand commented on #1261
Thanks, we are already looking into it.

[2021-05-18 12:04] TimWolla commented on #1254
According to my automated translator “支持” translates to “support”. I don't expect that to be happening, HAProxy really is written for your favorite flavor of Unix. It's certainly not a Bug, though.

[2021-05-18 12:04] #1254 closed, assigned to nobody

[2021-05-18 12:22] chipitsine commented on #1254
There's some cygwin support, but do not expect much from it.

cygwin building commands might be picked up from github workflow

[2021-05-18 17:41] wtarreau commented on #1252
Please post your haproxy configuration, there is no way we can help you without it.

[2021-05-18 17:51] wtarreau commented on #1251
Strange, it looks like it panicked under a deadlock but was not even able to complete the panic dump. It's fortunate you managed to get a core with this.

It seems that dgram_fd_handler() is quite present. But maybe it's just a coincidence. It could help if you would dump all threads using "t a a bt full" (warning it will be large, feel free to remove those which are exactly identical).

I suspect

[2021-05-18 19:39] HackLotus commented on #1252
Hello, sorry, here is my conf :

[code]

[2021-05-19 07:06] wtarreau commented on #1252
I don't see anything really outstanding there. You should have a look at your logs to see if the faulty page triggers an error. Maybe for example some JS is loaded in the background from a host name that doesn't match your rules. You'll then see some 503 and "NOSRV" in the logs.

You could also try to replace `http-reuse safe` with `http-reuse never` in case the server is not much compliant with s

[2021-05-19 07:07] chipitsine commented on #1255
fixed in https://github.com/haproxy/haproxy/commit/a6b27840998faf1eed491a81d56f0bf6c1213a2a

[2021-05-19 07:07] #1255 closed, assigned to nobody

[2021-05-19 07:08] chipitsine commented on #1256
fixed in https://github.com/haproxy/haproxy/commit/a6b27840998faf1eed491a81d56f0bf6c1213a2a

[2021-05-19 07:08] #1256 closed, assigned to nobody

[2021-05-19 07:09] chipitsine commented on #1257
fixed in https://github.com/haproxy/haproxy/commit/a6b27840998faf1eed491a81d56f0bf6c1213a2a

[2021-05-19 07:09] #1257 closed, assigned to nobody

[2021-05-19 07:18] TimWolla commented on #1251
This is the Ubuntu PPA. It can probably be installed as `haproxy-dbgsym` (at least that's works for Debian).

[2021-05-19 07:39] rlebreton commented on #1261
This should be fixed on master now, thanks to commit 2608e348bec8a533225424fad06760ce6e19f167 BUG/MEDIUM: ebtree: Invalid read when looking for dup entry

[2021-05-19 07:41] rlebreton commented on #1259
It should be fixed on master thanks to commit a6b27840998faf1eed491a81d56f0bf6c1213a2a CLEANUP: ssl: Fix coverity issues found in CA file hot update code.

[2021-05-19 07:42] rlebreton commented on #1260
It should be fixed on master thanks to commit a6b27840998faf1eed491a81d56f0bf6c1213a2a CLEANUP: ssl: Fix coverity issues found in CA file hot update code.

[2021-05-19 08:00] #1259 closed, assigned to nobody

[2021-05-19 08:01] #1260 closed, assigned to nobody

[2021-05-19 08:30] HackLotus commented on #1252
Thank you,
I can see this :

```May 19 08:09:48 OPNsense haproxy[47951]: X.X.X.X:XX [19/May/2021:08:09:12.671] listen-on-443~ listen-on-443/<NOSRV> -1/-1/-1/-1/31641 408 237 - - cR-- 24/24/0/0/0 0/0 "<BADREQ>"```

but the problem is that I don't know which host corresponds to Collabora since it's not a separate server, it's the server embedded in Nextcloud. I specify that Collabora opens well, I c

[2021-05-19 09:44] rmohanda commented on #1251
Hello @wtarreau @TimWolla ,

[code]

I hope above helps with full back trace of all threads with debug symbols.

[2021-05-19 10:01] rmohanda commented on #1251
Nope, i can confirm we are not using any utility for any manipulation from CLI.

Config element here is very simple
[code]
Similar to above listener, we have seven more listeners with different ports exactly above snippet with different backend server pointing as FQDN.
FQDN in backend server name are then resolved to a CNAME.

dig pop1.pop-cloud.com
;; ANSWER SECTION:
pop1.pop-cloud.com. 800 IN

[2021-05-19 10:28] sylr opened #1262 "Add TLS Versions & Ciphers metrics"
## What should haproxy do differently? Which functionality do you think we should add?

It would be really nice if the prometheus endpoint would export metrics about the TLS version & ciphers used for each TLS connection (counter for each version/cipher tuple).

## What are you trying to do?

Improve observability so that one has metrics about TLS that enable him to tweak his TLS configuration bas

[2021-05-19 13:08] chipitsine commented on #1261
it is marked for backporting. I'm keeping this issue open

[2021-05-19 13:14] pr0grammm opened #1263 "haproxy=2.3.9: Crashes with the message "A bogus APPCTX is spinning and refuses to die""
## Detailed description of the problem

I am using Lua with Haproxy to make a few socket calls. I have implemented these socket calls as part of an Action as described here https://www.haproxy.com/blog/5-ways-to-extend-haproxy-with-lua/#actions using Lua Socket class. data is fetched correctly sometimes but most of the time code crashes with the below message:

[code]

I intend to pass on the  ret

[2021-05-19 15:28] rlebreton commented on #1233
Here are all the patches that fix the different missing checks. There are all applicable to older branches but in some cases the modified file was moved (such as port_range.h for instance).

[0001-BUG-MINOR-server-Missing-calloc-return-value-check-i.patch.txt](https://github.com/haproxy/haproxy/files/6510005/0001-BUG-MINOR-server-Missing-calloc-return-value-check-i.patch.txt)
[0002-BUG-MINOR-peers

[2021-05-19 16:00] matty111 opened #1264 "Rewrite endpoint backend with haproxy"
I have 1 backend and 1 frontend with these endpoints:

Http://backend.com
Http://frontend.com
Frontend calls backend a this api, but i want use always only endpoint of the frontend.

For example backend.com must become frontend.com/api.

I tried with acl but this doesn't work.

Ha proxy works for this problem?

[2021-05-19 16:05] lukastribus commented on #1264
Please do not ask questions in the issue tracker. This issue tracker is for tracking bugs and
feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to

[2021-05-19 16:05] #1264 closed, assigned to nobody

[2021-05-19 16:51] capflam commented on #1263
Thanks, I'll take a look

[2021-05-19 19:32] pr0grammm commented on #1263
Thank you, please do let me know if you require any additional info

[2021-05-19 19:49] capflam commented on #1263
I'm able to reproduce the bug. I can now try to figure out what happens. Thanks !

[2021-05-20 05:51] chipitsine commented on #1242
fixed in https://github.com/haproxy/haproxy/commit/65b86685e1bdc77bc2ea6c2ed888d1cf8ca8f484

[2021-05-20 05:51] #1242 closed, assigned to nobody

[2021-05-20 08:25] capflam commented on #1252
Here the client connection timed out waiting for a complete request (the request line and all headers). Thus from HAProxy point of view, the request is unfinished. It is a bit hard to know what happens. If traffic is low, you may try to enable H1 traces at the mux level, using the following cli command:
[code]

[2021-05-20 09:33] HackLotus commented on #1252
@capflam could you explain ? I don't understand what the command do. When i launch it on my opnsense, i ve this :

[code]

[2021-05-20 09:51] capflam commented on #1252
Sorry, the command is buggy. Could you test this one please:

[code]

The idea is to enable the debug traces on the HTTP processing at the connection level (parsing/formatting). It is very verbose but quite helpful.

[2021-05-20 10:02] HackLotus commented on #1252
@capflam , here is some log, but i really don't know if the are from collabora :
[code]

[2021-05-20 10:16] capflam commented on #1252
Hum, the output is truncated, the last 2 lines is the dump of the request once parsed. Only 1 item (the request line) on 12 is reported in the trace. However, the parser state is `MSG_DATA`. It means all the headers were received. I don't know if these lines are related to a failing request. there is nothing after these lines ? Try to provide the full trace, including the 408 reply to be sure you

[2021-05-20 10:22] HackLotus commented on #1252
@capflam Okn I tried to put longer logs, but I don't know if it's the good part... (i've edited previous comment)

[2021-05-20 10:25] capflam commented on #1252
Thanks, I'll take a look

[2021-05-20 13:25] pr0grammm commented on #1263
OK that's good, thank you. If I may ask one question related to the above code, I want to use the content returned by socket call to create some new content and then pass that to spoe filter. Something like this is possible using fetch I know but I am struggling to do the same with action...wanted to know how I can achieve this..?
[code]

[2021-05-20 13:28] capflam commented on #1252
Unfortunately, the dump is not related to the failing request. You must start the trace before sending your request and wait for the corresponding 408 response. Because your client timeout is set to 30s, you should wait this delay. You may temporarily set a lower client timeout to ease the test.

[2021-05-20 13:37] capflam commented on #1252
This makes me think that if the request is incomplete, received data will not be dumped. Only the parser state will be displayed. In this case, is there any way to do the test on a non-ssl port to be able to perform a network capture ?  Sorry to bother you, it is a bit painful. But we must analyze the request to know where the problem is.

[2021-05-20 21:02] capflam commented on #1263
I think I found the bug. If possible, could you try the following patch ?

[0001-BUG-MEDIUM-filters-Exec-pre-post-analysers-only-one-.patch.txt](https://github.com/haproxy/haproxy/files/6518670/0001-BUG-MEDIUM-filters-Exec-pre-post-analysers-only-one-.patch.txt)

The SPOE `on-frontend-http-request` event is executed before the frontend http-request ruleset evaluation. Thus, your lua script is call

[2021-05-21 10:12] thomas-kaltenbach commented on #1057
Hey, thank you for providing this new feature!
Only one question, will this be part of 2.4?