[2021-11-06 11:12] wtarreau commented on #1393
And FWIW the eb64 version is 8 times faster (43ns vs 345 for isort).
[isort4.c.txt](https://github.com/haproxy/haproxy/files/7490322/isort4.c.txt)

[2021-11-06 12:12] jaroslawr commented on #1393
@wtarreau
- Points taken regarding the benchmarking
- I will modify the patch to use the eweights to pick the bin
- I agree the 4096 bins to be a stretch, but I think the 256 levels are worth considering. In particular if bins of differing width are used a linear rescaling of all the weights can end up producing different results which is really non-intuitive because it runs counter to basic mathe

[2021-11-06 13:14] wtarreau commented on #1393
Note that under no circumstance I'm willing to lose relative precision with the rescaling. The perfect curve follows a log so that ratios are maintained, but that's cumbersome and expensive, plus it loses precision at the beginning. A simple and very good one is trivial, just use `((w < 37) ? w : 32+w/8)` and you map 1..256 to 0..63 with a slowdown at 36. Even if you multiply all your weights by 8

[2021-11-06 16:24] jaroslawr commented on #1393
@wtarreau I might have been unnecessarily off put by the earlier examples of the mapping that were sacrificing more accuracy, I can see this one working fine. If there are only (and at most, since some eweights might not be used) 64 bins I think even the insertion sort version will not have substantially more CPU overhead than my initial one (isort3 with `count = 64` is not much behind the EB tree

[2021-11-08 03:05] chipitsine opened #1445 "QUIC code reports"
### Tool Name and Version

gcc 11

### Code Report

[code]
[code]

[2021-11-08 08:21] a-denoyelle commented on #1445
Thanks for the report. Fred and I will look into it. In any case, it could be useful now to have a build with USE_QUIC=1 on the github CI.

[2021-11-08 08:31] chipitsine commented on #1445
CI build is something that I'll send patches today or tomorrow (depending on how busy am I).

I also noticed couple of tests are not stable on qiictls. That may require more investigation

[2021-11-08 09:15] TimWolla commented on #1445
@a-denoyelle FYI: The `__maybe_unused` macro maybe would have allowed for a slightly cleaner fix here, as it does not require commenting out some code.

[2021-11-08 09:41] wtarreau opened #1446 "add new output for map_* to provide the matching key"
_Originally posted by @jaroslawr in https://github.com/haproxy/haproxy/issues/1408#issuecomment-935522997_

The goal would be to have a set of `map_*_key` converters that return the key itself instead of a value. It can be convenient when matching prefixes, suffixes, sub-strings, or network addresses for example. Right now one has to write a map with the two columns identical for this. More info i

[2021-11-08 09:42] wtarreau commented on #1408
I created a new feature for the map-related stuff, so we can close this one now.

[2021-11-08 09:42] #1408 closed, assigned to nobody

[2021-11-08 10:17] adnanmomin opened #1447 "HAProxy returns 500. whenever txn:done has txn:reply body size greater than 15589. With core.register_action http-res"
### Detailed Description of the Problem

I want HAProxy to follow redirects returned by backend servers instead of returning them to client.
For this I had registered an action on http-response like `http-response lua.handle_redirect if { status eq 301 302 }`.

Lua code looks as below

From the above code

### Expected Behavior

Expected behavior
`txn.done(reply)` should work correctly even if `st

[2021-11-08 10:38] a-denoyelle commented on #1445
You're right. This code is under heavy change, so that's why I allow myself a dirty fix, as the return value will be reused later.

[2021-11-08 10:38] a-denoyelle commented on #1445
@chipitsine we should have cover everything now.

[2021-11-08 11:09] capflam commented on #1447
Well, I must admit it is not mentioned in the lua-api documentation. Thus you cannot make it up. But the reply size is limited to one internal buffer. Size of these buffers is set to 16k by default and may be tuned via `tune.bufsize`. Note that there is also an overhead because of the internal HTTP representation. Unfortunately, for now there is no trivial way to be sure the reply will fit in a bu

[2021-11-08 12:23] adnanmomin commented on #1447
@capflam thanks for the explanation.
Please suggest how to get this done.
First approach coming to my mind is, I'll need to stream response from Lua to HAProxy.

[2021-11-08 13:00] capflam commented on #1447
It is not possible to stream data from a Lua action. It is a design limitation. The same than for error files.  The response is forged, returned to the client and the connection is closed. Only lua services are able to stream data. But it is not a suitable solution in your case. It is possible to write a lua filter. However, this feature was introduced in the 2.5 and is still experimental.

[2021-11-08 13:43] adnanmomin commented on #1447
@capflam thanks.

[2021-11-08 14:14] adnanmomin commented on #1447
@capflam any help on how to achieve this [Unable to implement HAProxy as Forward Proxy for HTTPS](https://stackoverflow.com/q/68321275) using HAProxy.

I think you have already done something like it.
Seen you portfolio on [https://capflam.org/](https://capflam.org/).

[2021-11-08 16:04] infa-ugunugan commented on #1109
Seen same issue with version 2.0.25.

[2021-11-08 16:21] wtarreau commented on #1109
@infa-ugunugan as mentioned above in the analysis, none of this is abnormal and this is quite expected.

[2021-11-08 23:41] lukastribus commented on #1447
Haproxy is not a proper forward proxy server and it likely never will be. You are trying to use the wrong tool for the job, and you will implement fix after fix and will probably never be done, as bandaid solution tend to break with changes/upgrades (both on the haproxy as well as on the browser and server side).

You may want to get back to the drawing board.

[2021-11-09 07:31] takenek opened #1448 "Timeouts after update from 2.4.7 to 2.4.8 on Debian 11"
### Detailed Description of the Problem

After update haproxy from 2.4.7 to 2.4.8 on Debian 11 clients report a timeouts.
In logs i saw strange increase of connection on front-end:
2.4.7:
Nov  8 22:48:00 HP1 haproxy[643136]: 192.168.1.10:55054 [08/Nov/2021:22:47:59.939] XML XML/XML4 0/0/123 46811 -- 356/2/1/0/0 0/0

2.4.8:
Nov  8 22:50:00 HP1 haproxy[645691]: 192.168.1.10:37550 [08/Nov/2021:22:49:

[2021-11-09 08:51] adnanmomin commented on #1447
@lukastribus thanks for your comment.
I'll review my approach.

[2021-11-09 09:36] capflam commented on #1448
Could you share the redacted output of the `show sess all` command please ? You can sent it me privately if you prefer. It could be a bit huge, but only sessions with a high 'age' time are relevant.

[2021-11-09 10:07] capflam commented on #1109
In addition, on your screenshot, there is 30s between the last request and its predecessor. With a `http-keep-alive` timeout set to 30s, it is most probably a timing issue. If there is no log message it means it is a keep-alive connection abort. On the client side or the server side. But in both cases, nothing is returned and the client is required to retry.

[2021-11-09 10:28] takenek commented on #1448
I forgot give haproxy -vv from 2.4.7 ( this one working without any issue )

HAProxy version 2.4.7-1~bpo11+1 2021/10/07 - https://haproxy.org/
Status: long-term supported branch - will stop receiving fixes around Q2 2026.
Known bugs: http://www.haproxy.org/bugs/bugs-2.4.7.html
Running on: Linux 5.10.0-9-amd64 #1 SMP Debian 5.10.70-1 (2021-09-30) x86_64
Build options :
  TARGET  = linux-glibc
  CPU

[2021-11-09 10:29] takenek commented on #1448
2.4.7 working good:

[code]

2.4.8 with issue:
[code]

[2021-11-09 10:31] takenek commented on #1448
This is whole output of show sess all.

[2021-11-09 10:33] capflam commented on #1448
This means there are only 2 sessions on the 2.4.8 while 78 or so are reported in logs, right ?

[2021-11-09 10:36] takenek commented on #1448
No i just generate this command output.
Logs are from yesterday and show sess all i generate now.

[2021-11-09 10:43] takenek commented on #1448
This is log is almost from the same time like show sess all command output ( look at date/time ):

2.4.7 - working good:
Nov  9 11:10:45 HP haproxy[693455]: XXX.XXX.XXX.XXX:53474 [09/Nov/2021:11:10:44.957] XML XML/XML3 0/0/96 65154 -- 584/1/0/0/0 0/0

2.4.8 - with issue:
Nov  9 11:12:01 HP haproxy[728739]: XXX.XXX.XXX.XXX:33772 [09/Nov/2021:11:12:01.468] XML XML/XML3 0/0/62 41386 -- 273/45/4/0/0 0

[2021-11-09 10:43] capflam commented on #1448
So what is the current `feconn` counter value in your logs ? Because you have only one HTTP session (the other session is the cli one). If clients report timeout, it suggests some sessions are stalled for several seconds. It should be visible on the `show sess all` output. Or I misinterpreted the issue.

[2021-11-09 10:43] capflam commented on #1448
Ok thanks for the logs :)

[2021-11-09 10:55] capflam commented on #1448
Sorry to bother you. Could you share the `show fd` output now ? :)

[2021-11-09 11:03] joellimberg opened #1449 "Documentation typo (ssl_fc_unique_id)"
### Detailed Description of the Problem

In `doc/configuration.txt`, the description for `ssl_fc_unique_id` includes this:

It should be `ssl_fc_unique_id,base64` instead.

[2021-11-09 13:01] takenek commented on #1448
@capflam Check Your mailbox ;-)

[2021-11-09 14:32] capflam commented on #1449
Fixed. Thanks !

[2021-11-09 14:32] #1449 closed, assigned to nobody

[2021-11-09 17:52] #1447 closed, assigned to nobody

[2021-11-09 18:45] takenek commented on #1448
@capflam Check Your mailbox again :-)

[2021-11-09 22:41] bdentino opened #1450 "Truncated http json response data (possible regression in 2.3.15)"
### Detailed Description of the Problem

We have a production deployment using dockerized haproxy for ingress. We've been running the `2.3-alpine` tag with no problems for some time. A few days ago we started noticing strange problems cropping up across various services that use these containers for load balancing. Specifically, responses with 'larger' json payloads (on the order of 100s of kiloby

[2021-11-10 10:50] kotipsy commented on #1395
Hello,
I've tried what we said by disabling TLS 1.3 in bind after deploying 2.4.8.
I confirm the number of 503 increased significantly for TLS 1.2 but less compare to TLS 1.3.
I've tried to compile with openssl 3.0 to see if it helps but Haproxy code isn't yet compatible.
I only replayed once, will replay it on test lab a bit long for more inputs.

[2021-11-10 12:06] g0uZ opened #1451 "Crash "Thread 1 is about to kill the process." stuck=1"
### Detailed Description of the Problem

We are using haproxy latest 2.4 version (2.4.8-1ppa1) on ubuntu server 20.04.3 LTS. We've seen some crash with the message "Thread N is about to kill the process". We've updated from 2.4.7 recenlty (The 05/11/2021 at 18:57). I've searched in our logfile and found other similar ones for the same version (attached) and also similar one for version 2.4.7-1ppa1

[2021-11-10 13:33] zaga00 opened #1452 "haproxy crashed when using the 'httpclient' cli command"
### Detailed Description of the Problem

after executing the cli command 'httpclient', the haproxy process crashes

### Expected Behavior

the haproxy process must not crash

### Steps to Reproduce the Behavior

- the haproxy process is started in one shell:
`./haproxy -f haproxy.cfg`

- in the second shell the following is executed:
`echo "expert-mode on; httpclient GET http://127.0.0.1:8000/data

[2021-11-10 13:41] zaga00 commented on #1452
the contents of the file (test.acl) being retrieved are as follows:

127.0.0.1
192.168.1.0/24

[2021-11-10 14:43] capflam commented on #1450
I pushed a patch that should hopefully fix this issue. If possible, it could be good to confirm it really fixes it. To do so, you must apply this small patch on HAProxy-2.3 and recompile it:

[code]
I'm unable to reproduce the bug. But, I can imagine why it happens by reading the code. It is a annoying because we will have to emit new 2.4/2.3/2.2 releases once fixed. So, first, I want to be sure t

[2021-11-10 14:59] jaroslawr opened #1453 "Backend connection leak with 2.4.8"
### Detailed Description of the Problem

Backend connections leak and leave behind CLOSE_WAIT sockets. The servers that leaked the connections stop receiving requests or receive less requests (guess the leaked connection still counts toward the server load). The weird things is that looking up the FD using haproxy socket "show fd" command brings up what looks like frontend connections:

[code]

[c

[2021-11-10 15:53] wlallemand commented on #1452
Thanks for the report, I created an inconsistency in the API when enhancing the lua client, it now frees the hc->req.url variable, but this one is not allocated in the CLI client, resulting in a crash. I'm fixing thix.

[2021-11-10 15:57] capflam commented on #1448
Thanks @takenek. Well, after discussing about your issue with Willy, it appears that everything seems to work properly. In fact, in the 2.4.8, the H1 multiplexer was fixed to perform clean shutdown when client connections are closed. It was mandatory for the SSL (#1297). But at the end, this fixed a long time design issue about shutdowns.

So it is possible that this fix exhibits an hidden behavio

[2021-11-10 16:08] takenek commented on #1448
I answer you on e-mail :-)

[2021-11-10 16:42] wtarreau commented on #1448
@takenek, please keep the discussion here. It's impossible for others to follow the exchanges and it seriously hurts the whole troubleshooting process to switch to private. It prevents others from sharing a "me too" and it prevents other developers from giving an opinion. Thanks.

[2021-11-10 16:56] wtarreau commented on #1453
Thanks @jaroslawr. What I find very strange here is this: `st=0x000121(cl heopI W:sRa R:srA)`.

It says that the FD is actively polled for reading, is not ready and had POLLIN reported. This sounds contradictory. I'm not seeing related changes. And regarding the changes in H2, one doesn't match any of the 3 FD (the H2_CS_ERROR2 one), and the other one only match 2 of the 3 and not the one above. S

[2021-11-10 16:58] wtarreau commented on #1450
I tried hard even with a slow client etc and couldn't manage to do it either, thus a test would be welcome.

[2021-11-10 16:59] wtarreau commented on #1451
It's indeed in the cache. There were no change to this part at all. Did it happen only once or did you see it another time ? Maybe there's a very rare bug there that happened right now and which is not directly related to the upgrade. Just trying to figure what could have changed to cause this.

[2021-11-10 18:55] g0uZ commented on #1451
It happens a few times since Nov 3 :

[code]

Haproxy version used with installation date :

[code]

So it seems to happened at least with version 2.4.3 to 2.4.8

[2021-11-10 19:08] wtarreau commented on #1451
OK, that's reassuring. It's obviously not cool for you but at least it now makes sense that it's not caused by the recent patches that seemed unrelated.

[2021-11-10 19:09] wtarreau commented on #1451
We may ask you for a core eventually, but as we've recently identified a few other issues, we'll probably have to clean them before and they could turn out to be related in the end. We'll keep an eye on this issue, do not hesitate to update it. Thanks!

[2021-11-10 20:01] chipitsine opened #1454 "QUIC: potential null pointer deref"
### Tool Name and Version

gcc

### Code Report

[code]
[code]

[2021-11-11 10:47] zaga00 commented on #1452
Thanks Willam.  I tried it and everything works ok.

[2021-11-11 10:47] #1452 closed, assigned to nobody

[2021-11-11 12:27] jaroslawr commented on #1393
@wtarreau I implemented a version with 64 bins, your binning function, and binning on the eweight rather than uweight. Instead of the insertion sort, since only one element gets out of order at a time, it is enough to do a single linear pass through the array and bubble the modified bin up or down. Here is the patch:
[0001-Improve-accuracy-of-weights-with-leastconn-load-bala.patch.txt](https://git

[2021-11-11 13:21] #1445 closed, assigned to a-denoyelle

[2021-11-11 15:49] bdentino commented on #1450
@capflam Would it be possible to provide an alpine-based docker image with this patch applied? Or at least point me to some instructions to create it? I would be happy to test this in our environment but the reality is that I have very limited free time and I will be much more likely to get to it sooner if it doesn't involve setting up a dev environment and creating a custom build.

[2021-11-12 07:23] takenek commented on #1448
@wtarreau we don't discussion on mail - i share there private files to diagnose problem.

[2021-11-12 09:54] carlosjpr-collab commented on #693
where we can add in  these options. which section of haproxy config ?

we added it in front and I see
`unknown option 'httpslog'; did you mean 'httplog' maybe`
docker image used `2.5-dev13-bullseye`

[2021-11-12 11:16] wtarreau commented on #1453
I said rubish, the 'I' flag remains sticky until they're replaced, so what we're seeing there is that read is active and that there was at lease once the 'I' reported. This happens due to the TLS handshake.

The second connection is totally normal for a new connection waiting for the handshake. Given that that one is being polled, any data landing there is passed to the TLS layer, I suspect that h

[2021-11-12 13:17] hyvs commented on #1450
We notice same regression on debian package `2.2.18-1~bpo10+1`. Reverted to `2.2.17-1~bpo10+1` fixed the issue.

The problem appears randomly and seems to happen only on chuncked HTTP response.

Client (curl) error on truncated response :
[code]

No error are reported on server side.

[2021-11-12 13:40] wtarreau commented on #1450
This one is interesting because H2 works differently and does not yet contain the equivalent fix that was suspected to cause trouble to HTTP/1.

@hyvs is this something you can reliably reproduce ? If so I would appreciate it if you could enable traces in H2 so that we can see the sequence that leads to this. If your machine is in production that will be extremely verbose and it will be difficult

[2021-11-12 15:23] hyvs commented on #1450
My previous message maybe misleading you, H2 error is shown by CURL because we have CloudFlare in front of our infrastructure.

[Client] -- http/2 --> [ CloudFlare ] -- http/1.1 --> [origin server (haproxy 2.2.18-1~bpo10+1)]

I guess, issue happens on 1.1 connection and break http/2 front connection.

I can force http/1.1 on CURL, and prompted error becomes:
[code]

Say me if you still need debug

[2021-11-12 15:27] wtarreau commented on #1450
Ah indeed, thanks for clarifying that point. In this case the trace could be useful in H1 (replace "h2" with "h1" in the commands). But only if you manage to more or less isolate your machine, otherwise all traces will be interleaved and might be hard to analyse.

[2021-11-12 15:28] wtarreau commented on #1450
By the way, in this case Christopher's patch above becomes relevant again. Do you think you can apply it and rebuild ?

[2021-11-12 15:48] hyvs commented on #1450
CURL request:
[code]

Haproxy traces:
https://gist.github.com/hyvs/73144c292ff362ee5d1aa4b90638be57

Yes, if needed, I can try Christopher patch next week.

[2021-11-12 16:00] wtarreau commented on #1450
Excellent, thank you! That's a side effect of the "option httpclose" that you're having in your config. I could now reproduce it, but only between two different machines and with a bandwidth-limited link. But what matters is that I can now do it!

[2021-11-12 16:01] wtarreau commented on #1450
And the sad news is that Christopher's fix doesn't fix it :-(

[2021-11-12 16:18] wtarreau commented on #1450
So what I'm seeing for now:
- 2.2.18: with/without patch: occasionally truncated responses detected by curl when retreieving a 10MB file over a 100 Mbps link over SSL
- 2.3.15: truncation sometimes as well; none in 2.3.14
- 2.4.7/2.4.8: no truncation at different sizes, with nor without the patch, however I'm seeing the occasional "CR <BADREQ>" that I thought we got rid of, when the TLS stack repo

[2021-11-12 16:53] wtarreau commented on #1450
For the record, here's the sequence when it works fine (14=frontend socket, 15=backend socket). h1_shutw_conn() is called after the last block is sent. A TLS shutdown is sent followed by a shutdown(). The later shutdown has no effect. Please note that we close a first time in normal mode and a second time in silent mode, thus we already damage that connstream. After everything is done we shutdown

[2021-11-12 16:55] wtarreau commented on #1450
The attached patch fixes it for me on both 2.3 and 2.2. It seems to me that all versions ought to have it but I'd first carefully reread the commit patches to understand why it was not done, as we apparently preferred to rely on the mux function's idempotence by then, when the connection attachment was converted to conn_streams. Maybe it was an early design mistake, maybe not :-/
[conn.diff.txt](h

[2021-11-12 17:02] wtarreau commented on #1450
Regarding the `CR <BADREQ>` in 2.4+, that appeared with this commit : c4bfa59f1 ("MAJOR: mux-h1: Create the client stream as later as possible"). Thus I think the mux might be trying to perform an extra read after the end of the req/resp and creates a stream where it could avoid it.

[2021-11-14 14:51] wtarreau commented on #1450
I fixed it in 2.5-dev14, and the fix will flow down as far as 2.2. If you could give the patch above a test before I would appreciate it. Thanks!

[2021-11-15 10:03] rlebreton commented on #693
I just tried it and did not have any problem defining an "option httpslog" in a frontend. Could you share the part of your configuration that raises the error please ?

To answer your first question, this option can be specified in a frontend, a listener or a defaults section. It should work the same way as the other log options (httplog and tcplog).

[2021-11-15 10:13] capflam commented on #1405
It is a false positive. Coverity is not happy with the cast from a `char *` to a `struct htx *`. But it is safe here.

[2021-11-15 10:36] capflam commented on #1434
Here, the listener is always defined because the session is attached to a inbound connection. It is not obvious, so I added a comment. But, it is a false positive.

[2021-11-15 10:36] capflam commented on #1163
Should be fixed now.

[2021-11-15 10:41] capflam commented on #1165
Fixed. Thanks !

[2021-11-15 12:08] hyvs commented on #1450
@wtarreau I try your patch (https://github.com/haproxy/haproxy/files/7529160/conn.diff.txt) on haproxy-2.2.18 ; sadly I still receive truncated responses.

Haproxy traces with your patch : https://gist.github.com/hyvs/782bcb9bbc24ac822a8c43fa3fa565b7

Haproxy configs : https://gist.github.com/hyvs/07692025760ae62cc3092c1a84970860

My build process:
[code]

[2021-11-15 12:47] wtarreau commented on #1451
By the way, could you please remove the `ssl-engine rdrand` and `ssl-mode-async` ? They're totally bogus and result from an old erroneous example found on the net.  At best it cannot work, at worst, who knows :-(

[2021-11-15 12:50] wtarreau commented on #1453
@jaroslawr did you observe more of them ? I'm still wondering if these were just transient.

[2021-11-15 12:52] capflam commented on #1450
I found a typo in `src/mux_h1.c`, introduced in the 2.3.15 and backported to the 2.2.18. Could you try with this additional patch ?

[code]

[2021-11-15 13:07] hyvs commented on #1450
@capflam your additional patch seems to fix the issue.

[2021-11-15 13:26] chipitsine commented on #1405
I marked as false positive, thanks!

[2021-11-15 13:26] #1405 closed, assigned to nobody

[2021-11-15 13:37] chipitsine commented on #1434
I marked as false positive, thanks!

[2021-11-15 13:37] #1434 closed, assigned to nobody

[2021-11-15 13:37] zino7825 commented on #1328
@capflam I'm sorry to tell you this, but but the issue seems to have not been resolved yet.
We are having this problem even after the patch.

I tried to collect some data after maint mode.

## perf top
![image](https://user-images.githubusercontent.com/5656233/141790815-9630b49e-5896-411c-b184-b88c8a3dd8d1.png)

## connection and file descriptor
[code]

[2021-11-15 13:39] #1165 closed, assigned to nobody

[2021-11-15 13:46] wtarreau commented on #1328
Could you please indicate the exact version you're running now ?

[2021-11-15 14:21] capflam commented on #1448
Willy and I found several bugs that may explain the issue. Everything was pushed in the 2.4 repository. However, here is the 3 required patches for the 2.4 that should hopefully fix the issue:

* [0001-BUG-MEDIUM-conn-stream-Don-t-reset-CS-flags-on-close.patch.txt](https://github.com/haproxy/haproxy/files/7539262/0001-BUG-MEDIUM-conn-stream-Don-t-reset-CS-flags-on-close.patch.txt)
* [0002-BUG-MEDI

[2021-11-15 14:26] jaroslawr commented on #1453
@wtarreau How long at most should it take for HAProxy to clean those up, does it depend on one of the timeouts? Transient ones happen (as I assume is expected) and possibly I included them in my report. Here is one I observed hanging around for 10+ minutes:

[code]

[code]

Are connections like this still counted in into the server load? It looks like when a server has a few of these its requests/

[2021-11-15 14:26] capflam commented on #1453
@jaroslawr, I don't know if it is related or not, but we've pushed 2 fixes in the 2.4 that may fix your issue (the referenced commit is probably off topic because it concerns the H1 multiplexer only).  Following commits may help:

* 68a5fa373 BUG/MEDIUM: conn-stream: Don't reset CS flags on close
* aa349467c BUG/MEDIUM: connection: make cs_shutr/cs_shutw//cs_close() idempotent

[2021-11-15 14:32] capflam commented on #1450
Cool, thanks !

[2021-11-15 15:34] wtarreau commented on #1451
Christopher rightfully pointed me to #1284 which is surprisingly similar. We've spent some time analysing the cache code, suspecting some possible rare corner cases there but without finding them for now.

[2021-11-15 17:49] chipitsine opened #1457 "src/auth.c:273:34: warning: Either the condition 'ep' is redundant or there is possible null pointer dereference: ep."
### Tool Name and Version

cppcheck

### Code Report

[code]
[code]

[2021-11-15 20:05] theothergraham opened #1458 "allow-0rtt ineffective when used in crt-list"
### Detailed Description of the Problem

When `allow-0rtt` is configured in the bind config of a cert-list entry, is does not allow early data. When moved to the `bind` config that references the crt-list file, then it works.

For example:
[code]
vs
[code]

### Expected Behavior

Early data should be configurable on a per-certificate basis when `allow-0rtt` is applied in the bind config in the crt

[2021-11-16 11:14] jaroslawr commented on #1453
@capflam @wtarreau Possibly it helped some cases, but I still see some persisting for minutes:

[code]

[code]

[2021-11-16 12:43] GuardianRain opened #1459 "[Help]How to run all of the test function?"
### Tool Name and Version

haproxy 2.0.24

### Code Report

[code]

### Additional Information

_No response_

### Output of `haproxy -vv`

[code]

[2021-11-16 13:26] wtarreau commented on #1453
But these ones look normal from inside haproxy. What's surprising is that the system sees them as CLOSE_WAIT (hence received a shut) that haproxy didn't receive. Maybe it could be related to a change in the drain area though, as we might not be trying to read.

[2021-11-16 13:38] wtarreau commented on #1453
Are you *certain* these never happen in 2.4.7, or is it just that before you didn't notice ? It's important for us to try to narrow the scope.

[2021-11-16 13:52] TimWolla commented on #1459
Running the reg-tests is explained in the README within the reg-tests directory: https://github.com/haproxy/haproxy/tree/master/reg-tests. You can also take a look at the VTest workflow in GitHub Actions: https://github.com/haproxy/haproxy/blob/master/.github/workflows/vtest.yml

However: This issue tracker is meant for tracking bugs and features, not to seek help. Please use the forum or the mail

[2021-11-16 13:52] #1459 closed, assigned to nobody

[2021-11-16 14:12] chipitsine commented on #1163
coverity is happy. shall we close the issue or wait for backporting ?

[2021-11-16 14:13] capflam commented on #1163
it can be closed. Thanks !

[2021-11-16 14:13] #1163 closed, assigned to nobody

[2021-11-16 14:14] jaroslawr commented on #1453
@wtarreau I tested it now and it occurs with 2.4.7 too (the 2.4.8 in the issue title was only meant to indicate the version I run the tests with)

[2021-11-16 14:31] wtarreau commented on #1453
OK thanks for confirming. My feeling converges towards the H1S_F_RX_CONGESTED because I'm seeing something that tends not to look perfectly consistent in your flags, but I need to double-check with Christopher first. Anyway both connections have been congested and apparently not decongested. This fix was first backported into 2.4.5 to fix your other issue #1362 and I now suspect it's the same that

[2021-11-16 15:07] wtarreau commented on #1453
@jaroslawr it would help us if you could add "nosplice" in your global section to disable TCP splicing. If it fixes the problem it will orient us one direction, if it does not, it will help us eliminate at least one dimension in the problem analysis.

[2021-11-16 15:09] wtarreau commented on #1457
Thanks Ilya! You can mark it as a false positive, it's code for developers and it's perfectly fine for us to see "(null)" printed here in debug mode.

[2021-11-16 17:02] chipitsine commented on #1457
there's no such thing as central store for cppcheck.
let's close it

[2021-11-16 17:02] #1457 closed, assigned to nobody

[2021-11-16 17:56] capflam commented on #1453
@jaroslawr, if possible, it could be also helpful to get the dump of streams above these connections. Unfortunately, there is no easy way to do so. You'll have to match the fd or the connection ip:port in the `show sess all` output.

[2021-11-17 02:01] GuardianRain commented on #1459
Okay, thanks a lot, I will use the mailing list to seek help next time. Sorry about this time of trouble!

[2021-11-17 09:30] jaroslawr commented on #1453
@wtarreau @capflam It occurs with `nosplice` too. Here is a part of the output of `show sess`, the connection in the middle (`fd=460968`) is the hanging out as CLOSE-WAIT:

[code]

[2021-11-17 09:37] capflam commented on #1453
Is it possible to have a full dump for these streams ? For instance `show sess 0x7f63151300e0`

[2021-11-17 09:37] jaroslawr commented on #1453
[code]

[2021-11-17 09:43] jaroslawr commented on #1453
@capflam Here you go:

[code]

[code]

[2021-11-17 09:44] capflam commented on #1453
Thanks !

[2021-11-17 11:19] sgohl commented on #162
I'd like to join the issue for another view on this. For me, it's not really a thing of browser support or anything, but rather of a clean haproxy config (duplicate code). In other words, I don't care particularly that HAProxy speaks h2 to the backend regarding websockets, but it should be able to switch to http/1.1 if needed

Currently, I need two separate backends just to make websockets work, b

[2021-11-17 11:42] chipitsine commented on #1444
it is confirmed on LibreSSL side. nothing to track here, closing issue

[2021-11-17 11:42] #1444 closed, assigned to nobody

[2021-11-17 12:22] TimWolla commented on #1444
To cross reference the issues: https://github.com/libressl-portable/portable/issues/697

[2021-11-17 13:04] a-denoyelle commented on #162
We have just implemented a new server keyword for this named 'ws'. This allows to configure an alternative protocol for websocket tunnel. By default, its value is 'auto', which allows automatic downgrade to http/1.1 if the server ALPN contains http/1.1.

This new keyword is present in the latest development release and will be available on the upcoming 2.5. A backport to 2.4 is also scheduled.

[2021-11-17 13:31] g0uZ commented on #1451
Yep, I've already done that :

[mercredi 10 novembre 2021] [13:08:04 CET] <jethro> g0uZ: this is likely not related to your crash but you should remove ssl-mode-async and ssl-engine rdrand in your global section. rdrand is not an async engine. the intel async engine is QAT (https://github.com/intel/QAT_Engine) and requires specific hardware.
[mercredi 10 novembre 2021] [13:09:38 CET] <g0uZ> ok, do

[2021-11-17 13:41] wtarreau commented on #1451
Thank you. I didn't have big hopes in that one of course, but it was better to check. For now I really have no idea :-(

[2021-11-17 14:01] EmericBr commented on #1451
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:02] EmericBr commented on #1395
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:03] EmericBr commented on #1292
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:04] EmericBr commented on #901
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:05] EmericBr commented on #840
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:07] EmericBr commented on #734
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:07] EmericBr commented on #292
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:08] EmericBr commented on #233
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:08] EmericBr commented on #228
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-17 14:09] EmericBr commented on #19
Just for note: ssl-mode-async is useless on engine rdrand, since this engine doesn't use a device and was not blocking. ssl-mode-async was designed to work using intel quick assist engine.

[2021-11-18 08:26] capflam commented on #1453
So, I investigated a bit and found a way to get this kind of backend connections. To do so, I must have a frozen client. At this stage everything is normal. The backend connection is blocked because the client does not read data or is too slow. Thus, the response channel is congested and the frontend multiplexer is unable to send more data. The shutdown on the server side is delayed because some o

[2021-11-18 08:29] capflam commented on #1448
@takenek, any news ? I'm sorry to bother you but we don't want to blindingly emit a new release. It is pretty hard to reproduce this kind of issues. So we need some help on this point to validate or invalidate fixes. Thanks.

[2021-11-18 08:33] capflam commented on #1451
At this stage, the core file is the only way to have more info. Could you provide the full backtrace of one crash please ? Let me know if you need some help on this point. Thanks.

[2021-11-18 08:35] capflam commented on #1451
Just a note, don' t forget to install debug symbol package first :)

[2021-11-18 09:04] jaroslawr commented on #1453
@capflam What actually triggered all this is an automated check we have that tests if all servers receive about the same amount of requests. The check started failing with one of the recent HAProxy versions but it seems the fixes that you already pushed were enough for the check to start passing again. Now you are exactly right about the remaining case, this is how it is, the frontend connection c

[2021-11-18 09:12] g0uZ commented on #1451
Got a crashdump for  Nov 10 11:41, hope this help :

[code]

[2021-11-18 09:14] capflam commented on #1451
Could you provide output of `thread apply all bt full` gdb command please ?

[2021-11-18 09:16] g0uZ commented on #1451
Yep :

[code]

[2021-11-18 09:17] TimWolla commented on #1451
FWIW:

This is the package from Vincent Bernat's Ubuntu PPA. You should be able to install debug symbols using:

[code]

This might make the stack trace more useful.

[2021-11-18 09:19] capflam commented on #1451
Thanks @TimWolla :). Yeah, debug symbols are required here, otherwise the trace cannot be exploited.

[2021-11-18 09:23] capflam commented on #1453
Ok, thanks for the info. So at first glance, it is indeed the expected behavior. The server connection is blocked because of the client one. The shutdown cannot be processed before all data are sent. Otherwise, this will generate truncated responses issues.  I don't know if it is expected. It depends on you traffic and you workload. It could be an issue if the number of frozen clients increases si

[2021-11-18 09:43] g0uZ commented on #1451
Indeed we use Vincent's pkg. Sorry, I've searched for the pkg to get dbg symbols but doesn't found one.

The one you mentioned doesn't seems to exist on Vincent's repo.

[code]

[2021-11-18 09:45] jaroslawr commented on #1453
@capflam I am fine with closing it then if you consider the other fixes complete. Thanks!

[2021-11-18 09:50] capflam commented on #1451
You probably need to add `main/debug`:
[code]

[2021-11-18 09:54] capflam commented on #1453
I'm going to keep it open till the other issues are fixed too, to have it on the radar. Many thanks for your help !

[2021-11-18 10:00] g0uZ commented on #1451
Indeed :) THX !

[code]

I got another crash just now :

[code]

[2021-11-18 10:03] capflam commented on #1451
Thanks @g0uZ, there is a overflow on `data_len` parameter when `shctx_row_reserve_hot()` is called. It is good start to dig.

[2021-11-18 10:08] g0uZ commented on #1451
Wohhh, that's what I call "celerity" :-]

Hope that's not exploitable :-}

Do not hesitate to ask for more gdb info and thx for your work !

[2021-11-18 10:27] capflam commented on #1451
Indeed, I will ask you some info :) Could you provide output of following gdb commands:
[code]

[2021-11-18 12:19] g0uZ commented on #1451
sorry for the delay :

[code]

[2021-11-18 12:19] capflam commented on #1451
Thanks, I'll take a look

[2021-11-18 14:25] capflam commented on #1451
Honestly, for now I have no idea. In fact, in `shctx_row_reserve_hot()`, `data_len` can become negative. I misinterpreted the trace. I tried hard to find an infinite loop in this function. But I failed. It may be a side effect of a memory corruption. If possible, you may try to get the backtrace of other core files, to find a common pattern. Especially those crashing at another place.

[2021-11-19 10:30] haproxyFred commented on #1454
I can reproduce this compilation issue only if I revert c4becf5 which should fix it.
Which version of GCC do you use?

[2021-11-19 10:37] chipitsine commented on #1454
the one shipped with Ubuntu 20.04.3

![image](https://user-images.githubusercontent.com/2217296/142608925-a5b87b84-79ff-472b-a26d-ef96e95f3747.png)

I believe it is gcc11, but also may include some patches/options when packaging

[2021-11-19 11:36] TimWolla commented on #1454
gcc 9 according to my local Ubuntu 20.04:

[code]

[2021-11-19 11:48] chipitsine commented on #1454
indeed, sorry for buzz, I was wrong

![image](https://user-images.githubusercontent.com/2217296/142617878-e57fe429-580f-454a-90bf-827c00429b03.png)

[2021-11-19 12:26] wtarreau commented on #1328
The patch mentioned above should fix it. We'll backport this as far as 2.0, but if it happens often and you're willing to give 2.5-dev a try, it's already merged into it!

[2021-11-19 13:11] haproxyFred commented on #1454
I do not understand. How can haproxy -vv be run if haproxy cannot be built? Have I missed something?

[2021-11-19 14:13] chipitsine commented on #1454
There are many builds on Ubuntu, I took other build (with stock ssl)

[2021-11-19 14:36] a-denoyelle commented on #1454
I can reproduce by using the ubuntu docker image 20.04. I'm looking for
a fix...

--
Amaury Denoyelle

[2021-11-19 14:59] a-denoyelle commented on #1454
I have push a fix (I referenced by mistake the previous issue #1445).
Now let's hope it should be good to compile haproxy with QUIC on ubuntu LTS. @chipitsine can you reexecute your CI so we can see the result ? Thanks.

[2021-11-19 15:00] TimWolla commented on #1454
For reference: ee72a43321a22719eb06a6fad5240039aeb70b04

[2021-11-19 16:58] chipitsine commented on #1454
I confirm fixed QUICTLS
https://github.com/chipitsine/haproxy/runs/4266847608?check_suite_focus=true

[2021-11-19 16:58] #1454 closed, assigned to nobody

[2021-11-19 17:55] wtarreau commented on #1451
@g0uZ we finally found what can cause this condition (a missing break statement). We'll merge this into 2.5-dev and backport it into the next 2.4. If you think you can try a patch I'll happily paste it here. If it's too cumbersome, do not bother, we'll merge it anyway and you'll retry on 2.4.9 likely next week. Thanks again for your helpful traces!

[2021-11-20 10:37] g0uZ commented on #1451
I've recompiled a 2.4.8 version with the added break :

[code]

Hope I've done it right ; now I'll wait for crashs.

A BIG thanks for your work on this bug :-) and **an ENORMOUS thank you for haproxy.** (from Root Me community)

[2021-11-20 10:39] wtarreau commented on #1451
Great, thank you very much for testing! There were a few other fixes for minor issues in that vicinity but I think this one should be sufficient.

[2021-11-20 10:49] g0uZ commented on #1451
That's the minimum we can/have to do.

Enjoy the WE ,-)

[2021-11-20 12:52] wlallemand commented on #693
I'm closing this since the feature is now implemented:
- `option httpslog` allows more details on HTTPS requests logs
- `error-log-format` allows to customize the error logs, giving you the opportunity to log SSL errors here

[2021-11-20 12:52] #693 closed, assigned to nobody

[2021-11-22 09:18] wlallemand commented on #1458
Thanks for your report, I'll take a look at it. Regarding the buffer allocation, it could probably be done in a postparser operation once the crt-list are allocated. But there could be other issues in this code, I'm surprised it was ever activated in the crt-list. We should probably make a reg-test for this.

[2021-11-22 09:18] skaffille opened #1460 "set-tos for Server side connections"
### Your Feature Request

We need to be able to set tos markers on the connection to the server which is currently not possible.
The requirement is to be able to shape traffic on the network facing to backend servers.

### What are you trying to do?

We are trying to set tos markers on the connection to the backend servers.

We found a discussion https://haproxy.formilux.narkive.com/PizVqjuP/outgo

[2021-11-23 15:28] hervenicol commented on #130
It seems adding `option forwardfor except 0.0.0.0/0` in a specific section could do the job.

[2021-11-23 16:36] TimWolla opened #1461 "Stats Page Dark Mode not fully styled"
### Detailed Description of the Problem

Not all colors on the stats page appear to be properly adjusted for dark mode. Making parts of it unreadable:

![scrot_2021_11_23_17_36_12](https://user-images.githubusercontent.com/209270/143065705-e0ab15be-b4d0-4b5f-921a-f2d41fcab86e.png)

### Expected Behavior

I expect that I am able to read everything.

### Steps to Reproduce the Behavior

1. Open http

[2021-11-24 10:10] capflam commented on #1448
FYI, the 2.4.9 was released.

[2021-11-24 10:12] capflam commented on #1284
The 2.4.9 was released. It contains some fixes about the cache.

[2021-11-24 10:54] #1450 closed, assigned to nobody

[2021-11-24 13:10] wtarreau commented on #1451
@g0uZ 2.4.9 was released with this fix if you want to avoid the hassle of patching.

[2021-11-24 13:15] wtarreau commented on #1461
That's ugly indeed. I think these are only the unchecked ones, probably that the gray should be turned to dark gray, but I don't know much, I'm really not used to such dark themes nor to what styles people expect in such environments.

[2021-11-24 16:14] pietro-oricco opened #1462 "HAProxy 2.4 saturates CPU after server set-up through runtime api"
### Detailed Description of the Problem

I am working on implementing HAProxy as entrypoint for an application where the back-end is exposed to continuous changes.
I am exploiting the runtime API to initialize each backend and then dynamically configure each one through a script which basically retrieves the available servers IPs from AWS and calls the runtime API as  `echo "enable server $BACKEND

[2021-11-24 16:39] pietro-oricco commented on #1462
POST-EDIT: the debug-log shows the following at server removal:
`http-in/2: SSL handshake failure
http-in/2: Timeout during SSL handshake
`
Apparently, the SSL handshake is called against server marked as Down. Is there a way to avoid this behavior?

[2021-11-24 17:53] wtarreau commented on #1462
I must say I don't understand what you're observing, because in your config you do not have SSL enabled on the servers, yet you have "alpn" specified, the error indicates that some clients didn't complete their handshake with haproxy (probably due to being fed up waiting), and you mention that there are handshakes against servers marked down. I could understand this from health checks but since yo

[2021-11-24 18:11] pietro-oricco commented on #1462
Thanks for the sudden response Willy. I opened this thread because I have experienced this issue for many days in a row... I just managed to achieve an improvement of the overall performances setting `default-server slowstart 1m`
This change avoided the saturation of HAProxy keeping the value of the CPU to normal values, probably the server was being "attacked" by HAProxy by thousands of connectio

[2021-11-25 15:19] wtarreau commented on #1393
Hi @jaroslawr
Now that 2.5 is released I'm back having a look at this. Scanning the bins remains very expensive. I tried with 46 threads and have lost 33% performance there! The contention was already high but it's got much higher.

I'm now thinking that your initial proposal to keep some history in the algorithm, and that is not logical from a pure leastconn perspective should work on average, si

[2021-11-25 15:48] jaroslawr commented on #1393
@wtarreau OK, I keep my thumbs crossed then :) FWIW one more idea: I think the random-power-of-two algorithm has the same kind of bias that we discuss here and I think could be cured by a similar extension, but maybe with lower computational cost as there is no need to sort anything: pick two random weights, select the least loaded of the two, then pick two random servers with the weight and selec

[2021-11-25 15:55] jaroslawr commented on #1393
@wtarreau One more question: what are the conditions in the test that lost 33% performance? For example: how many backend servers do you configure, do you have one server for each of the 256 weights or something like this?

[2021-11-25 16:40] arouene opened #1463 "Performance regression on 2.4 branch"
### Detailed Description of the Problem

We recently migrated from HAProxy 2.3.16 to HAProxy 2.4.8 on our infrastructure.

We have immediately acknowledge a degradation in latency of responses, HAProxy adding up to 30sec in latency.

(The yellow curve is the **%Ta time** from the HAProxy logs)
![Screenshot from 2021-11-25 15-29-26](https://user-images.githubusercontent.com/20049990/143473614-de478

[2021-11-25 17:40] wtarreau commented on #1393
No, just 8 servers, all the same weight:
[code]
The problem is only the lock contention. We know it's extreme there because we have to pass twice per request, and we spend more time waiting for the lock than doing actual work. By simply taking slightly more time, it significantly degrades overall performance. That's why I really think that we need to revisit the whole memory model and establish a

[2021-11-25 17:54] TimWolla commented on #1453
@capflam Is this fully resolved?

[2021-11-25 17:59] TimWolla commented on #1400
@wtarreau I guess this one is not happening for the reasons you outlined. Shall we close this?

[2021-11-25 20:08] lukastribus commented on #1463
2.4.9 was released yesterday and contains multiple fixes regarding connection teardown, you may want to give it a try.

[2021-11-26 08:41] capflam commented on #1453
I guess. There is no confirmation for the related issue (#1448). But we can close this one.

[2021-11-26 08:41] #1453 closed, assigned to nobody

[2021-11-26 08:45] capflam commented on #1109
what is the status of this issue ? can we close it or there is still something strange requiring our expertise ?

[2021-11-26 08:47] capflam commented on #1443
I'm closing this issue because it was already reported.

[2021-11-26 08:47] #1443 closed, assigned to nobody

[2021-11-26 08:49] capflam commented on #1438
@mr-manuel, no crashes since then ? can we consider the issue as fixed ? FYI, the 2.4.9 was released.

[2021-11-26 08:52] capflam commented on #1312
Now implemented and backported to 2.4. Thanks @wdauchy !

[2021-11-26 08:52] #1312 closed, assigned to nobody

[2021-11-26 09:04] mr-manuel commented on #1438
Hello @capflam, no crashes since then. It was the first and (hopefully) the last :)

[2021-11-26 09:04] #1438 closed, assigned to nobody

[2021-11-26 09:07] capflam commented on #1438
Thanks !

[2021-11-26 10:00] JanPMadsen opened #1464 "4+ log-forward sections causes segmentation error on startup"
### Detailed Description of the Problem

Hi
When trying to add more that 3 log-forward sections to be anble to handle requests on multiple UDP ports and take different actions on them, HAProxy causes segmentation error:

I'm using this configuration section:

[code]

A configuration check does not complain.
But system crashes with:

### Expected Behavior

I just wanted to be able to create all the

[2021-11-26 10:17] arouene commented on #1463
With your advice, we just tried the version 2.4.9 with no more luck. Problem still there...

[2021-11-26 10:35] capflam commented on #1463
Do you know if it concerns h1 or h2 connections or both ? client or server  connections ?

[2021-11-26 16:44] wtarreau commented on #1393
@jaroslawr I think I'm on something now! Please have a look:

12 servers, 4\*w5, 4\*w7, 4\*w11. For 24 total connections, before, there were on avg 4 conn on w5, 8 on w7 and 16 on w11 (i.e. very unfair). After the fix there are 8 on w5, 12 on w7, 18 on w11, or very close to theory. Also the total number of requests were showing the same discrepancy with 16.7, 33.3, and 50.0%, while now it's pretty

[2021-11-26 16:56] wtarreau commented on #1462
There could be an explanation for these errors, that would be reported in the logs as "SC" or "sC". If the server doesn't stand the massive income of connections it will quickly fail to accept new ones, and you will quickly face the 3s TCP retransmit. So if the server takes 100ms to respond but the TCP connection takes a 3s pause in the system, you end up with little traffic between haproxy and th

[2021-11-26 17:43] maintain3r opened #1465 "Frontend-to-backend dimension"
### Your Feature Request

Hello,
Im using HAProxy version 2.4.8-1ppa1~focal 2021/11/04 and recently configured it to provide metrics which are fetched by Prometheus nodes. I realized that there's no dimension which contains both the fe and be names in the same dimension.
I have a grafana dashboard with a few drop downs which allow user to choose the DC, load balancer node, frontend, backend.
After

[2021-11-26 20:30] NunesGodinho opened #1466 "Different behaviour from CentOS 8 to Debian 11 or Ubuntu Server 20"
### Detailed Description of the Problem

I'm pretty sure this is not a haproxy bug, but prevents haproxy from working on this scenario. Backend is a Windows Server 2016 with IIS. All servers running haproxy try to connect to the same backend.

On CentOS 8 everything works perfectly, I 've have haproxy running for everal years. Even after clean installs, no issues on CentOS.

Due to end of support

[2021-11-27 11:39] hadfl opened #1467 "building haproxy 2.5.0 fails with event ports backend"
### Detailed Description of the Problem

[code]

### Expected Behavior

`haproxy` to build successfully

### Steps to Reproduce the Behavior

build `haproxy` on an illumos/Solaris based OS.

### Do you have any idea what may have caused this?

https://github.com/haproxy/haproxy/commit/b1f29bc6252ffa6b43e2e210c4852dd9c3a1b1eb removed the `dead_fd` counter and therefore the `FD_UPDT_DEAD` flag.

it'

[2021-11-28 07:44] wtarreau commented on #1467
Hmm sorry for this one. Could you please try to delete these 2 lines (the 'if' condition and the 'continue' statement) ? Such FDs ought to be caught by the FD_UPDT_MIGRATED condition. Not sure how I missed evports here :-/

[2021-11-29 10:31] arouene commented on #1463
So we restricted connections to the HTTP2 protocol and then to the HTTP1 protocols, while it's better with H1 connections, it is still not perfect.

![image](https://user-images.githubusercontent.com/20049990/143851284-be4edea7-fdb1-4724-b8ba-29a252fd0b92.png)

The huge amount of FIN-WAIT-2 we have is between HAProxy and his backends.
[code]

Backends are IIS 10 Servers, HAProxy use H1 connections

[2021-11-29 12:44] wtarreau commented on #1400
Yes Tim, I think we'd rather close indeed. 2.5 is already out, we'd have to backport that to 2.3 and 2.2 while 2.3 dies in a few months, so that's a good indication that 2.2 should be offered quite some rest and avoid non-100% necessary backports.

[2021-11-29 12:44] #1400 closed, assigned to nobody

[2021-11-29 14:24] jaroslawr commented on #1393
@wtarreau Here are the results for the setup you described: 1 proxy, servers: 4x weight=5, 4x weight=7, 4x weight=11 (leastconn_excess is haproxy with your last patches applied, leastconngr is the last patch with the 64 bins):

![lbtest_1_proxy_3_weights](https://user-images.githubusercontent.com/26233/143884963-613acb54-5233-4f0f-99c1-8a4509872c2a.png)

Here are the results for my now standard te

[2021-11-29 15:00] wtarreau commented on #1393
Very interesting, thank you!

So for now it's an improvement but it's not as good as leastconngr. Could you please run a test with a single server per weight so that I can compare the effects ? I would like to be sure I don't have a bad rounding somewhere. In particular I'm concerned about the important difference when running with 5 proxies, it makes me think that all servers behave synchronously

[2021-11-29 16:24] hadfl commented on #1467
thanks for your feedback and clarification. it's indeed how we fixed the build locally. however i was unsure whether it's the correct approach or if the `dead_fd` counter needs to be re-introduced.

are you going to get the fix in or do you want me to open a PR?

[2021-11-29 16:27] arouene commented on #1463
To diagnose a little further, we got the %TR time from the logs (time to receive the full request from first byte). Surprisingly that's where the time is passed (according to HAProxy), we have some requests that takes seconds to get the full query from the client... For now, I try to get those queries with tcpdump.

[2021-11-29 16:32] capflam commented on #1463
Thanks, it could be indeed really helpful. That's surprising because the 2.4 is not so different than 2.3 on the request parsing...

[2021-11-29 16:47] jimmyat opened #1468 "Occasional TCP connection timeout/TCP zerowindow to backend- HTTP2 only"
### Detailed Description of the Problem

We are observing an occasional delay in resources loading, specifically images, over HTTP2 (client side). When we check the timers in logs, we see timers logged like:

[code]

The third timer, as we understand it, is `Tc`, `The total time to establish the TCP connection to the server.`

What we're seeing is that for some requests (maybe 1 in 75-100) this va

[2021-11-29 16:52] wtarreau commented on #1467
I'll fix it, thank you very much for confirming!

[2021-11-29 16:54] hadfl commented on #1467
Thank you!

[2021-11-29 17:54] jaroslawr commented on #1393
@wtarreau I am not sure I 100% follow - could you fully specify the setup you want me to test, and if you want to compare two different test setups to each other, then fully specify both? Note that there are the following variables:
- the number of proxies
- the weights and the number of servers with each weight
- the range of connections (the X axis on the graphs, since a setup with lower number

[2021-11-29 18:43] wtarreau commented on #1393
bah sorry if I was not clear. The improvements brought by leastconngr come from the grouping of servers of a same weight. But I'm still wondering how that's different from the other ones when it comes to multiple proxies, and there might be another interesting property in the algorithm that we didn't notice and that contributes to the better quality. As such I'd like to see how these 3 algos perfo

[2021-11-29 22:12] jaroslawr commented on #1393
@wtarreau Here is the test as you requested, 5 proxies, 5 weights: 5, 7, 9, 11, 13 and 1 server with each weight:

![5_proxies_5_weights_5_servers](https://user-images.githubusercontent.com/26233/143950924-3f5cb87a-b87c-44ca-883b-375a1ae4becb.png)

FWIW here is also 1 proxy and 5 weights: 5, 7, 9, 11, 13 and 5 servers with each weight, so like the second test from my previous comment but with only

[2021-11-30 03:14] wtarreau commented on #1393
Thank you! This is helpful indeed! /me going back to scratch my head now :-)

[2021-11-30 08:30] wtarreau commented on #1468
Interesting, thank you! There have been a few reports over time of some users occasionally facing long response times, without anything having been reproducible for now. In your case, are you able to reproduce it on purpose or do you only observe it from production traffic ? Unfortunately it's very likely a timing issue and such issue can rarely be transposed into other environments, so the more i

[2021-11-30 08:35] wtarreau commented on #1467
Now fixed in mainline, thank you!

[2021-11-30 09:13] jimmyat commented on #1468
@wtarreau Thanks for this. We can reproduce it with some effort (a fair bit of manual refreshing in chrome) but it is possible to do.

The packet capture would indicate the ZeroWindow is actually happening after the connection is established (at least after the ClientHello/ServerHello messages and consequent handshake, the rest is encrypted).

Let me know what information would be most helpful to

[2021-11-30 12:55] jaroslawr opened #1469 "HAProxy 2.5 rejects response that was valid with 2.4"
### Detailed Description of the Problem

2.5 produces these errors, while 2.4.9 does not (output from `show errors`):

[code]

### Expected Behavior

Response should be accepted I guess, although I am not sure if it is really valid or not, I just don't see the problem with it at first sight.

### Steps to Reproduce the Behavior

Have a server return a response like the one above.

### Do you have

[2021-11-30 15:01] arouene commented on #1463
Ok, so I may have something, but I don't know how to interpret it

Here is a request (that's a view from datadog that gets the logs from haproxy)
![image](https://user-images.githubusercontent.com/20049990/144068617-d3f48a99-ab48-467e-b5ff-ed46e3340a63.png)
It says, the total time of the request (Ta) is 2.7s, client request (TR) is taking 1.3s, and the backend respond in 1.4s.

Here is a trace of

[2021-11-30 15:09] lukastribus commented on #1463
Seems like those sockets are in from the frontend, not the backend. `172.16.4.71:443` is what you are binding haproxy to in the frontend.

[2021-11-30 15:16] arouene commented on #1463
Yes you are right, but 172.16.4.10 is a private IP of one of our backends.

I don't know why the backends sometimes use the virtual IP, but now you mention it, the FIN-WAIT-2 are always on the port 443 of the virtual ip.

[2021-11-30 15:57] arouene commented on #1463
So I got an info from my team, sometimes our backends use haproxy to contact other backends, so you are right, in this case they are the clients !

[2021-11-30 18:06] capflam commented on #1463
Here, the timing reported by HAProxy seems correct. The question is to know why if happens on the 2.4.9 and not on the 2.3.16. It may be just a log issue, but I'm unable to reproduce this behavior. I must check in the code.

Then if you see a `FIN-WAIT-2` on HAProxy, it means it is waiting for the connection close from the remote end-point. HAProxy has closed the connection and this was acknowledg

[2021-11-30 18:43] bedis opened #1470 "[httpclient] ability to set connect and server timeout"
### Your Feature Request

the **httpclient** from the 2.5 branch is wonderful. This would be great if we could customize the `connect` and the `server` timeouts, so we could adjust response time based on the type of server or service we're hitting or for long polling urls.
This would be useful for "monitor"-like requests where a server would stream events to us at a certain pace

### What are you

[2021-11-30 18:48] bedis opened #1471 "[httpclient] Support connecting to Unix socket"
### Your Feature Request

Be able to provide a Unix socket parameter to the httpclient to make it connect to it to run the request contained in `url` and `headers`.

Something like this with curl: `curl --unix-socket /var/run/docker.sock http://127.0.0.1/v1.40/events`

### What are you trying to do?

I want to use HAProxy to poll docker Host API so it can configure itself.
By default, Docker API l

[2021-12-01 09:41] EmericBr commented on #1464
I have a reproducer here with your config (it segfaults receiving the first udp log). I'm debugging

[2021-12-01 11:36] EmericBr commented on #1464
[0001-BUG-MAJOR-segfault-using-multiple-log-forward-sectio.patch.txt](https://github.com/haproxy/haproxy/files/7633428/0001-BUG-MAJOR-segfault-using-multiple-log-forward-sectio.patch.txt)
This patch should fix the issue.

[2021-12-01 11:47] JanPMadsen commented on #1464
Nice one 😊

May I ask how to deploy this patch ?
I see:
diff --git a/src/log.c b/src/log.c
index ecf771221..92eef6ebe 100644
--- a/src/log.c
+++ b/src/log.c
@@ -3738,10 +3738,9 @@ int cfg_parse_log_forward(const char *file, int linenum, char **args, int kwm)
                                                                                      goto out;

[2021-12-01 13:55] EmericBr commented on #1464
if you are not able to recompile notice It will be merged in master asap, and it will be backported until v2.3 with other fixes

[2021-12-01 14:08] EmericBr commented on #1464
Please also notice that your configuration won't perform a per message load balancing because as soon a connection is establised between a ring and the frontend, it will remain maintained and all the messages will be pushed to the same server through the frontend/backend tcp proxy since the syslog tcp session is persistent

[2021-12-01 14:14] EmericBr commented on #1464
If you want to perform per message lb take a look at documentation example:
    log-forward sylog-loadb
        dgram-bind 127.0.0.1:1514
        bind 127.0.0.1:1514
        # all messages on stderr
        log global
        # all messages on local tcp syslog server
        log ring@myring local0
        # load balance messages on 4 udp syslog servers
        log 127.0.0.1:10001 sample 1:4 local0

[2021-12-01 14:24] capflam commented on #1464
now pushed, thanks @EmericBr !

[2021-12-01 15:48] wtarreau commented on #1468
Still no way to reproduce this with any version (2.6-dev, 2.4.9, 2.3.15) for me at the moment after many attempts :-(  Tried with firefox, chrome and even with h2load with one or multiple concurrent streams.

I tried with various response sizes (1MB, 10MB). What's the size you are using in your tests ? Also is the client close to haproxy or does it pass over the internet ? Same for haproxy-to-serv

[2021-12-01 16:02] jimmyat commented on #1468
We see this happening with sub-1MB responses, around 150-300KB in size. It tends to only affect a single resource (always images) out of many on a page.

One of our more reliable test cases for this issue (one in every 75-100 reqs) involves one 220KB image failing to load on a page with ~30 others, totalling 860KB. Every other image loads just fine, and once the connect timeout is hit, the retry w

[2021-12-01 16:06] wtarreau commented on #1468
Maybe it's one exact size that is causing the problem, such as an exact multiple of a buffer size or something. It's possible that flow control between the client and haproxy play a role there by enforcing certain timing constraints that help reproduce the issue. I'll continue with ~220kB to see if I can get something.

[2021-12-01 16:08] capflam commented on #1469
It is strange, HAproxy reports an error during T-E header parsing. H1_MF_TE_CHUNKED flag is set on the H1 parser but not H1_MF_CHNK. This means a "chunked" value was already parsed, and an error is triggered because another "chunked" value is found. Indeed, this error detection was added in the 2.5. But I cannot understand why it fails here.

I'm still digging. Do all the errors have the same patt

[2021-12-01 16:14] jimmyat commented on #1468
Thanks. Worth noting that it's a variety of sizes causing the problem, and adjusting `bufsize` has never entirely eliminated the issue, just (anecdotally) made it more infrequent.

Let us know if there's anything we can provide to help make your debugging easier :)

[2021-12-01 16:27] wtarreau commented on #1468
At the moment I'm totally out of ideas. It looks so specific to your environment/application and so tricky to reproduce that I really do not know where to start from :-/  What makes it particularly difficult is to know that it's the backend that fails depending on access patterns on the frontend. That doesn't help trace everything nor figure a correlation.

Among the tests that I'm thinking about

[2021-12-01 16:36] jimmyat commented on #1468
Thanks again- I appreciate these bugs are enormously tricky to track down! We actually have two haproxy instances (one standby, one production) so testing this issue in isolation is actually relatively straightforward using the standby instance. With regard to your third point, it doesn't seem to matter if the process is doing anything else or not.

I'll try:

- Isolating a faulty object (we tried

[2021-12-01 16:49] capflam commented on #1469
Ok, I understand, it happens when the headers are not fully received at once, because H1 message flags are not properly reset. I'll push a fix, thanks !

[2021-12-01 19:00] jvgutierrez opened #1472 "Connection reuse not happening under certain conditions"
### Detailed Description of the Problem

HAProxy (reproduced with 2.2.9 from debian buster backports and also with 2.2.19 and 2.4.9 builds from haproxy.debian.net) fails to reuse connections with `http-reuse always`. This is not happening 24x7, but just during EU daytime (we are observing this on a EU server so under high load hours):
![Screenshot_20211201_194717](https://user-images.githubusercon

[2021-12-01 20:23] lukastribus commented on #1472
That's an interesting problem. I can see that you are using unix domain sockets, not actual TCP connections, so there is no 3-way handshake penalty. The impact is probably ("only") an increase in syscalls.

Do you know if this also happens with TCP connections?

If possible, I'd try to see what the behavior with TCP is (however the impact for the lack of connection reuse would be higher).

Also I

[2021-12-02 05:38] chipitsine opened #1473 "src/resolvers.c: unused value suspected by coverity"
### Tool Name and Version

coverity

### Code Report

[code]
[code]

[2021-12-02 07:21] JanPMadsen commented on #1464
Hi.
Hmm
Okay. We did the ring part to be able to check if the backend syslog servers was alive. (They listen both on UDP and TCP)
Since HAProxy does not support any UDP checks that was needed !

A simple script execution running to check backend UDP server:
#!/bin/bash
/usr/bin/nc -uz -w1 $1 $2
exit $?

Best regards
Jan
From: Emeric Brun ***@***.***>
Sent: 1. december 2021 15:09
To: haproxy/haprox

[2021-12-02 07:59] wtarreau commented on #1464
Be careful with UDP checks. **They're not reliable at all**. What you're doing above consists in sending two 1-byte packets 1 second apart to the log server. First it may cause your log server to emit an empty log line for each of them. But more importantly, netcat will rely on the receipt of an ICMP port unreachable packet in response to decide that the port is closed. This means that while there

[2021-12-02 08:05] chris22johnson commented on #1460
I have to agree with @skaffille, this is a feature we are missing from haproxy, too.
Prioritizing via markers both client and backend connections would be a great benefit.

[2021-12-02 08:47] capflam commented on #1469
It should be fixed now. Thanks @jaroslawr

[2021-12-02 08:51] capflam commented on #1448
I'm closing this issue because patches were backported everywhere. If the issue is not fixed with the 2.4.9, feel free to reopen it. Thanks !

[2021-12-02 08:51] #1448 closed, assigned to nobody

[2021-12-02 08:52] #1109 closed, assigned to nobody

[2021-12-02 08:53] #1390 closed, assigned to nobody

[2021-12-02 08:57] #1362 closed, assigned to nobody

[2021-12-02 08:59] capflam commented on #1368
Any news on this issue ? Note he 2.4.9 was released.

[2021-12-02 09:11] capflam commented on #1473
Fixed now. Thanks !

[2021-12-02 09:11] #1473 closed, assigned to nobody

[2021-12-02 09:54] capflam commented on #1465
Backend metrics are apart from the frontend metrics. So I don't really understand what you try to do. We have no way to split frontend counters depending on the backend used. Frontend metrics don't depend on the backend used. For instance for a specific frontend, `haproxy_frontend_current_sessions` is just a counter. There is no backend dimension. The same counter is used independently on the back

[2021-12-02 10:40] capflam commented on #1292
I missed this issue, sorry. First of all, is it still an issue for you ? Then `http-keep-alive` timeout is only applied on the client connection. If it is still an issue, could you provide HAProxy logs or the termination states for these errors ?

[2021-12-02 10:43] capflam commented on #1421
Can we close this issue ?

[2021-12-02 10:51] #1412 closed, assigned to nobody

[2021-12-02 11:00] telmich commented on #1421
Yes!

[2021-12-02 11:01] capflam commented on #1421
Thanks !

[2021-12-02 11:01] #1421 closed, assigned to nobody

[2021-12-02 11:02] capflam commented on #1364
FYI, this issue should be fixed now. The 2.4.9 was released with the appropriate patches.

[2021-12-02 11:02] #1364 closed, assigned to nobody

[2021-12-02 11:05] capflam commented on #1398
fixed by cd34ad713

[2021-12-02 11:05] #1398 closed, assigned to nobody

[2021-12-02 11:07] capflam commented on #1399
@EmericBr, @wlallemand, what is the status of this issue ?

[2021-12-02 12:36] jaroslawr commented on #1469
@capflam I tested and it works fine, thanks!

[2021-12-02 14:15] capflam commented on #1469
Thanks for the feedback. Now backported to 2.5 !

[2021-12-02 14:15] #1469 closed, assigned to nobody

[2021-12-02 14:15] #1467 closed, assigned to nobody

[2021-12-02 14:31] maintain3r commented on #1465
Hello @capflam , thanks for looking to that.
All I need is just a dimension which has both labels, frontend and the backend.
For me it doesn't really matter the value of that dimension. All I want is to have the mapping between FE and the BE.
One FE can server a number of BEs, when I choose a FE I want to know all BEs served by this particular FE.
The FE and BEs will use their own counters, and th

[2021-12-02 15:30] jimmyat commented on #1468
I managed to reproduce the bug and capture `show sess all` and `show fd` whilst it was occurring:

[code]

After about 90 seconds I ran it again to check the state:

[code]

And after about another minute after that (but before the timeout had been exceeded, chrome was still spinning on the request) it looked like HAProxy had given up:

[code]

[2021-12-02 15:41] wtarreau commented on #1472
We had something related recently. If it only happens during peak hours, it could be that you're running short of file descriptors. By default we stop keeping idle connections when the number of FDs assigned to idle connections reaches 25% (`tune.fd.pool-high-fd-ratio`) and start using them again hwen it goes down to 20% (`tune.fd.pool-high-fd-ratio`). Often it's just an indication that your load

[2021-12-02 15:45] wtarreau commented on #1468
This will be extremely useful, thank you for this! It says the backend-side stream interface is "ready", this state rarely happens and usually is the result of a second attempt to push data when the connection established before being reported as completed at the OS level. It's probable that it happens only in some situations consecutive to a second wakeup on the H2 side (e.g. end-of-stream receiv

[2021-12-02 16:00] #1464 closed, assigned to nobody

[2021-12-02 17:55] jvgutierrez commented on #1472
@wtarreau after setting maxconn to 200k and reloading HAProxy conn reuse looks much better:
![image](https://user-images.githubusercontent.com/4091505/144476938-10671e37-b5c9-4f0f-8db7-447d28ec17cc.png)

[2021-12-02 20:06] Yogaraj-Alamenda opened #1474 "pthread_create returns EAGAIN when a thread is created inside worker using non-root user"
### Detailed Description of the Problem

pthread_create returns EAGAIN when a thread is created inside worker thread using non-root user

We have engine that creates a thread as in [here](https://github.com/intel/QAT_Engine/blob/ddae057dfe2497a0cbb1e273d9b66484503a39fe/qat_sw_init.c#L179) when the first request has arrived inside a worker thread and pthread_create returns EAGAIN whereas it is work

[2021-12-02 20:08] TimWolla commented on #1474
I believe you need [insecure-fork-wanted](https://cbonte.github.io/haproxy-dconv/2.2/configuration.html#insecure-fork-wanted) in your config.

[2021-12-02 20:30] wtarreau commented on #1472
Ah great, thanks for the quick feedback!  Maybe you'll want to increase the FD ratios, or maybe you'll find it better to keep them as-is to serve as a canary indicating that you're starting to use lots of connections. I personally find that 25% is reasonable as it allows to use lots of front connections and even some cache without eating too many FDs on the back, but usage varies.

[2021-12-02 20:38] Yogaraj-Alamenda commented on #1474
Thanks, this solved the issue which I am seein. Am curious to understand how it works for root user but still fails only non-root as the description says it is enabled by default

[2021-12-03 08:17] wtarreau commented on #1474
This is because root doesn't respect ulimits.

[2021-12-03 08:31] wtarreau commented on #1468
@jimmyat could you please apply this patch on your tree and try again ?

For me, the bug appeared in 2.0 with commit 4f283fa60 ("MEDIUM: stream-int: introduce a new state SI_ST_RDY"). We check for various states to decide when to wake up the task after the rare case where we've been able to perform an I/O that completes the connection establishment, but we ignored the transient state instead of ta

[2021-12-03 09:06] capflam commented on #1361
Oops, I missed this one. I don't know if it is still an issue for you but there is no streaming feature in the SPOE. Not yet. So you will be limited to the first buffer. And because the streaming is not supported, once the data forwarding is started, it is no longer possible to send messages to an agent. It is only possible during the analysis staged. So, it is not possible to fully mirror the tra

[2021-12-03 09:06] #1361 closed, assigned to nobody

[2021-12-03 09:23] capflam commented on #1351
I updated the SPOE documentation. It may be good to support multiple event directives in a spoe-message section. But it requires some changes and it is not planned for now. Thanks !

[2021-12-03 09:23] #1351 closed, assigned to nobody

[2021-12-03 09:29] capflam commented on #1325
@geniqtech  Any news on this issue ?

[2021-12-03 09:32] capflam commented on #1271
I'm closing this issue now. Feel free to reopen is if necessary. Of course, try the last 2.4 release first. Thanks !

[2021-12-03 09:32] #1271 closed, assigned to nobody

[2021-12-03 09:43] capflam commented on #1321
I'm closing this issue now. Feel free to reopen it if necessary. Thanks !

[2021-12-03 09:43] #1321 closed, assigned to nobody

[2021-12-03 09:50] capflam commented on #1317
Documentation updated. Thanks !

[2021-12-03 09:50] #1317 closed, assigned to nobody

[2021-12-03 09:53] capflam commented on #1302
The above fix was backported in 2.4 and 2.3. I'm closing this issue now.

[2021-12-03 09:53] #1302 closed, assigned to nobody

[2021-12-03 09:55] #1261 closed, assigned to nobody

[2021-12-03 10:00] capflam commented on #1177
I guess we can close this issue now. Thanks !

[2021-12-03 10:00] #1177 closed, assigned to nobody

[2021-12-03 10:01] capflam commented on #1252
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-03 10:01] #1252 closed, assigned to nobody

[2021-12-03 10:04] capflam commented on #1208
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:04] #1208 closed, assigned to nobody

[2021-12-03 10:07] #1209 closed, assigned to nobody

[2021-12-03 10:15] capflam commented on #674
Any news on this issue ?

[2021-12-03 10:18] capflam commented on #1206
Any news on this issue ?

[2021-12-03 10:26] capflam commented on #822
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:26] #822 closed, assigned to nobody

[2021-12-03 10:28] capflam commented on #561
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:28] #561 closed, assigned to nobody

[2021-12-03 10:30] capflam commented on #898
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:30] #898 closed, assigned to nobody

[2021-12-03 10:31] capflam commented on #621
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:31] #621 closed, assigned to bedis

[2021-12-03 10:34] capflam commented on #1114
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:34] #1114 closed, assigned to nobody

[2021-12-03 10:37] capflam commented on #1138
What is the status of this issue ?

[2021-12-03 10:40] capflam commented on #1108
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:40] #1108 closed, assigned to nobody

[2021-12-03 10:41] #1080 closed, assigned to nobody

[2021-12-03 10:42] capflam commented on #1060
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:42] #1060 closed, assigned to nobody

[2021-12-03 10:46] #736 closed, assigned to nobody

[2021-12-03 10:49] #1020 closed, assigned to nobody

[2021-12-03 10:51] capflam commented on #557
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:51] #557 closed, assigned to nobody

[2021-12-03 10:59] capflam commented on #709
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 10:59] #709 closed, assigned to bedis

[2021-12-03 11:04] #573 closed, assigned to bedis

[2021-12-03 11:05] #947 closed, assigned to nobody

[2021-12-03 11:07] capflam commented on #185
Implemented in the 2.4. Thanks !

[2021-12-03 11:07] #185 closed, assigned to EmericBr

[2021-12-03 11:08] craig commented on #947
Hi, would it be possible to accept the patch for now? It could/should also be backported.

[2021-12-03 11:14] capflam commented on #947
Sorry, I don't understand. Which patch ? If you request a backport for 01a287f. I'm sorry, but it is not possible.

[2021-12-03 11:16] wtarreau commented on #947
Now that 2.5 is out and reaached a stable status, you really ought to upgrade to that one to get rid of these limitations of the past that were affecting 2.3.

[2021-12-03 11:18] capflam commented on #797
The resolver part was improved over the versions. We tried to backport as much fixes as possible. The 2.0 is not the best one on this part, far from there. Please try 2.4 or 2.5 instead. I'm closing this issue now. Thanks !

[2021-12-03 11:18] #797 closed, assigned to bedis

[2021-12-03 11:22] craig commented on #947
Ah, 2.3. is still listed as "stable" so I thought it might be good to backport - but seeing support ends in Q1 2022, that's probably not a worthwile task anyways. We're working on migration anyways. :)
Thanks for the explanation!

[2021-12-03 11:27] capflam commented on #949
Sorry, no one answered to you. I must confess I missed this issue. Is it still a problem for you or not ? (Don't forget to test the last 2.0 first, if yes)

[2021-12-03 11:31] capflam commented on #925
A recent issue about h2spec was closed. I'm closing this one too.

[2021-12-03 11:31] #925 closed, assigned to nobody

[2021-12-03 11:59] jimmyat commented on #1468
We were unfortunately still able to reproduce the problem even with the patched version:

[code]

[code]

[2021-12-03 12:34] wtarreau commented on #1468
Hmmm that's really not cool, but thanks for testing and for the new trace. Now it means the problem is somewhere in process_stream() and that's not a great place to have a bug :-/

[2021-12-03 12:38] capflam commented on #897
I'm closing this issue. Feel free to reopen it if necessary. Thanks

[2021-12-03 12:38] #897 closed, assigned to nobody

[2021-12-03 12:41] capflam commented on #871
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 12:43] capflam commented on #858
Sorry, no one answered to you. Is it still a problem for you or not ?

[2021-12-03 12:45] capflam commented on #38
I'm closing this issue. Feel free to reopen it if necessary. Thanks !

[2021-12-03 12:45] #38 closed, assigned to nobody

[2021-12-03 12:48] capflam commented on #48
Ok, I guess it will never be backported :) I'm closing now.

[2021-12-03 12:48] #48 closed, assigned to nobody

[2021-12-03 12:52] #569 closed, assigned to nobody

[2021-12-03 13:01] capflam commented on #410
I'm closing this issue now. Thanks !  @switch1280 it is not related to this issue. Feel free to open a new issue if necessary.

[2021-12-03 13:01] #410 closed, assigned to nobody

[2021-12-03 13:03] capflam commented on #472
@EmericBr, what is the status of this issue ?

[2021-12-03 13:06] capflam commented on #488
Any news on this issue ?

[2021-12-03 13:24] capflam commented on #403
I'm closing this issue. HAProxy works as expected here. `abortonclose` option is only used to abort queued connections only. It does not mean this kind of abort should not be addressed. But it is a feature request and not a bug. Thanks !

[2021-12-03 13:24] #403 closed, assigned to nobody

[2021-12-03 13:27] capflam commented on #473
@bedis, I don't know if this issue is still relevant. can we close it or do we still have to investigate ?

[2021-12-03 13:32] capflam commented on #187
Any news on this issue ?

[2021-12-03 13:35] #34 closed, assigned to nobody

[2021-12-03 13:35] capflam commented on #34
Old enough to be closed. These functions were removed in 2.2.

[2021-12-03 13:38] capflam commented on #7
I guess this will never be fixed. I'm closing now.

[2021-12-03 13:38] #7 closed, assigned to nobody

[2021-12-03 13:39] capflam commented on #8
I guess this will never be fixed. I'm closing now.

[2021-12-03 13:39] #8 closed, assigned to nobody

[2021-12-03 13:41] capflam commented on #11
I'm closing this issue. No other report since almost 3 years....

[2021-12-03 13:41] #11 closed, assigned to nobody

[2021-12-03 13:48] capflam commented on #1345
What is the status of this issue ?

[2021-12-03 13:50] #1377 closed, assigned to nobody

[2021-12-03 14:00] capflam commented on #1472
So there is no bug. May I close this issue ?

[2021-12-03 14:02] wtarreau commented on #1345
I have no idea, I think the problem description remained confusing. In addition, in 2.5 there were improvements so that the stats of stopped proxies remain displayed during reloads. This might or might not resolve the issue here if it was in relation to this. It's worth testing, at least to clarify the issue.

[2021-12-03 14:02] #1345 closed, assigned to nobody

[2021-12-03 14:04] wtarreau commented on #1472
Yep, fine by me. We'll need to improve the doc a little bit on this though.

[2021-12-03 14:06] sukantahazra commented on #187
We are currently using haproxy-2.3.6-7851701. I don't see the issue any longer.

[2021-12-03 14:07] capflam commented on #187
Thanks. So I'm closing the issue.

[2021-12-03 14:07] #187 closed, assigned to nobody

[2021-12-03 14:25] lukastribus commented on #1472
Should we emit a syslog message when crossing `tune.pool-high-fd-ratio` and when falling below `tune.pool-low-fd-ratio`?

[2021-12-03 14:40] wtarreau commented on #1472
That's a good question. I would be tempted to say "no" as it's a someone normal production state, but thinking a bit more about it it ought not be very common, so maybe it could be useful to emit a notice-type log. However I'm not sure threre is a single place where this transition exists at all, so it may be complicated to detect it to emit a single log. My fear is that we could end up emitting o

[2021-12-03 14:46] TimWolla commented on #1472
Should this rather be retagged `type: doc` and be reopened then?

[2021-12-03 14:48] capflam commented on #1465
Ok, so you request a frontend metric listing all backends. IMHO, it is not the purpose of the Prometheus exporter to provide such "metric". But I'm not an Prometheus expert. So I may have wrong. However, from the HAProxy point of view, it is only possible for statically referenced backends. So it is a bit limited and not really consistent.

[2021-12-03 14:50] #1297 closed, assigned to nobody

[2021-12-03 15:20] wtarreau commented on #1472
yes, we can.

[2021-12-03 15:51] axinojolais commented on #674
Unfortunately (or fortunately ?) no, we haven't seen the problem for a while.

[2021-12-03 15:55] capflam commented on #674
Ok, thanks for the info. I'm closing the issue. It can be reopened if necessary.

[2021-12-03 15:55] #674 closed, assigned to nobody

[2021-12-03 16:24] capflam commented on #1463
Honestly, I have no explanation about the timing difference you observed between the 2.4.9 and the 2.3.16.

[2021-12-03 16:39] maxadamo commented on #709
I can confirm that it's working with haproxy 2.4

[2021-12-03 18:22] wtarreau commented on #1474
I think we can close it now.

[2021-12-03 18:22] #1474 closed, assigned to nobody

[2021-12-04 02:49] felipewd commented on #1292
Hi @capflam, we had no reports on this for a long time (the issue was on June), and we’ve since upgraded to 2.4. So, I think it’s safe to close this for now. We’ll report back if this changes.

@EmericBr conf updated, thanks!

[2021-12-04 02:49] #1292 closed, assigned to nobody

[2021-12-04 09:58] chipitsine opened #1475 "not very helpful debug log (troubleshooting vtc)"
### Detailed Description of the Problem

when using [LibreSSL-3.4.2](https://github.com/chipitsine/haproxy/runs/4416636667?check_suite_focus=true)

[short error](https://github.com/chipitsine/haproxy/runs/4416636667?check_suite_focus=true#step:13:172) is ` ***  h1    debug|fd[0x11] OpenSSL error[0x2fff020] (null): Broken pipe`

this is somehow related to reply size, if I reduce `reg-tests/ssl/ssl_

[2021-12-04 22:33] hmilkovi opened #1476 "Load CA's from mtls from directory not only file"
### Your Feature Request

Hi team,
I have use case where there are many different Certificate Authorities and I think it whould be great to
handle them in directory each in it's file like ssl certificates and also expose it via Data Plane API.

### What are you trying to do?

Make mtls Haproxy configuration like:
[code]

Also like we have:
https://www.haproxy.com/documentation/dataplaneapi/communi

[2021-12-05 11:57] prescolt commented on #1345
Hi, i am testing on 2.4.8 and i will feedback soon. I need proxy running on high load and  reload haproxy for re-simulate this case.
Thank

[2021-12-06 07:27] wtarreau commented on #1475
Honestly I don't know. We do suffer as well from the limited verbosity when we debug some breakage. Sometimes the output comes from haproxy and we can improve it, sometimes it's related to process management, client or server and we can't do much.

Here I suspect it comes from libressl directly. But what is confusing is that in haproxy the SSL lib doesn't access file descriptors directly anymore,

[2021-12-07 01:40] chipitsine opened #1477 "src/backend.c: null pointer dereference suspected by coverity"
### Tool Name and Version

coverity

### Code Report

[code]
[code]

[2021-12-07 11:32] ghost opened #1478 "Stats CSV page: curl: (18) transfer closed with outstanding read data remaining"
### Detailed Description of the Problem

This is continuation of:
https://discourse.haproxy.org/t/stats-csv-page-curl-18-transfer-closed-with-outstanding-read-data-remaining/6745

I am trying to read stats csv page and sometimes I have problem:

`curl: (18) transfer closed with outstanding read data remaining`

I am running haproxy as docker container (tag: 2.4.4), I noticed, that when I restart c

[2021-12-07 11:48] chipitsine commented on #1475
btw, I see different errors for 2 invocations:

(first invocation)
[code]

(second invocation)
[code]

[2021-12-07 13:08] welbymcroberts opened #1479 "Incorrect frontend IP and port logged in 2.5.0"
### Detailed Description of the Problem

When configuing a custom log format, the frontend_ip and frontend_port (%fi & %fp) do not log the frontend IP / port, but instead log the client ip / port.

The same configuration has worked in 2.4.x, however after upgrading to 2.5.0 this no longer works as expected.

### Expected Behavior

Log entries should contain the frontend ip & port.

### Steps to Re

[2021-12-07 15:36] arouene commented on #1463
Thanks anyway for searching! I have no explanation either... I will keep one or two haproxy 2.4, and stay on 2.3 for now. If I have more information I will update this issue, but honestly I don't know what to seek or where to look...

If you have any question, don't hesitate.

[2021-12-07 16:37] aaronkvanmeerten opened #1480 "stick-table entry keep-alive in long-lived connections (websockets)"
### Your Feature Request

We use stick tables combined with unique strings per meeting, and direct all users with the same string to the same backend via stick tables.  With long-lived connections such as websockets, the stick table entries that were used or created to connect a unique key to a backend will eventually expire unless new requests are made with the same key.
Currently we have added a

[2021-12-07 16:57] EmericBr commented on #1480
the statement "expire" is used  to set the duration to keep the entry into the stick table after the last known update. The stick-tables have no idea of what is a connection, they only know "entries" and "updates" on the entries. There is no way for sticktables to know if a connection is still alive or not. This is to the upper layer to "touch" the entry to refresh the expiration timer (as you did

[2021-12-07 17:09] EmericBr commented on #1480
Perhaps to disable expire will reply to your needs, according to doc:

If this delay is not specified, the session won't automatically expire, but older entries will be removed once full. Be sure not to use the "nopurge" parameter if not expiration delay is specified.

By older you should understand if the table is full, the entries not updated for the longest time will be replaced by the new ones

[2021-12-07 17:21] capflam commented on #1479
I'm unable to reproduce the bug. Could you provide the minimal configuration, but complete, to reproduce it on you side please ?

[2021-12-07 17:27] capflam commented on #1478
Could you try the 2.4.9 to check if the issue is still there ? Thanks !

[2021-12-07 18:01] capflam commented on #1477
It is a false positive. A comment states the server is undefined only  for dispatch mode or transparent backend. And `alloc_dst_address()` doesn't rely on the server in these cases.

[2021-12-07 18:17] chipitsine commented on #1477
I've marked as false positive.

[2021-12-07 18:17] #1477 closed, assigned to nobody

[2021-12-07 18:46] aaronkvanmeerten opened #1481 "Segfault in add server operation"
### Detailed Description of the Problem

Adding a server via the experimental add server runtime API with custom 'id' provided triggers a segfault.

### Expected Behavior

I expect the server to be added to the backend, and haproxy not to crash/restart.

### Steps to Reproduce the Behavior

1. Run HAProxy with a backend called 'nodes' listing 1 server
2. Attempt to add the new server via admin soc

[2021-12-07 18:49] aaronkvanmeerten commented on #1481
crash file here: https://gist.github.com/aaronkvanmeerten/7c5eb1aea05b465b75427f8aee073d55

[2021-12-07 19:41] mcarbonneaux opened #1482 "WASM Proxy filter spec support ?"
### Your Feature Request

While be fine to add WASM Proxy Spec in haproxy : https://github.com/proxy-wasm/spec

### What are you trying to do?

manipulating the web traffic with WASM.

[2021-12-08 07:54] laurretang opened #1483 "Memory usage is growing without decrease after do https testing"
### Detailed Description of the Problem

We are using Haproxy as a HTTPS frontend with http default backend.
The haproxy still occupied much memeory when 30 minutes after doing some https testing.

`Threads: 121 total,   2 running, 119 sleeping,   0 stopped,   0 zombie
%Cpu0  :  0.3 us,  0.3 sy,  0.0 ni, 99.3 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
KiB Mem :  1882336 total,  1127056 free,   670140

[2021-12-08 07:58] capflam commented on #1481
Thanks ! I checked with @a-denoyelle and I'll push a fix very soon. The bug affects the 2.5 and 2.4.

[2021-12-08 08:08] capflam commented on #1483
2.0.5 is pretty old. Please upgrade to 2.0.26 first. Your version is affected by 648 bugs: http://www.haproxy.org/bugs/bugs-2.0.5.html

[2021-12-08 09:16] capflam commented on #1481
Fixed in 2.6-DEV

[2021-12-08 10:34] TimWolla commented on #1481
@aaronkvanmeerten The gist appears to include the coredump itself (base64 encoded at the bottom of the file). If you are using TLS then you might or might not have leaked the private key of your certificates. You might want to double check and likely revoke any certificates loaded into HAProxy.

[2021-12-08 15:11] aaronkvanmeerten commented on #1481
Thanks for the heads up, I've reviewed it and will take care of it.

[2021-12-08 17:14] hsmguy commented on #518
@wlallemand
@space88man
@markun
@tmm1

couldnt get this working on pkcs11 engine for the ca bind.

got it working on chil engine however :p with a fake pem pointer file to hsm key using the ca bind.... (this works).

suggest you implement a method to allow a pkcs11 URI for pkcs11 engine for the private key.

i work for an HSM company, we would like to see this functionality :-)

thank you,

[2021-12-09 00:15] lukastribus opened #1484 "error-log-format: ssl_fc_sni always empty"
### Detailed Description of the Problem

When using error-log-format with %[ssl_fc_sni], we never actually return a SNI value.

### Expected Behavior

Return SNI value.

### Steps to Reproduce the Behavior

1. use error-log-format with ssl_fc_sni (as per the documentation)
2. trigger a SSL handshake failure (for example with mismatching SSL versions, ciphers or SNI with strict-sni)

### Do you hav

[2021-12-09 06:07] laurretang commented on #1483
The same problem still exists after  upgrade to 2.0.26.

**[root@vm16 haproxy-2.0.26]# ./haproxy -vv**
HA-Proxy version 2.0.26-051d585 2021/12/03 - https://haproxy.org/
Build options :
  TARGET  = linux-glibc
  CPU     = generic
  CC      = gcc
  CFLAGS  = -O2 -g -fno-strict-aliasing -Wdeclaration-after-statement -fwrapv -Wno-unused-label -Wno-sign-compare -Wno-unused-parameter -Wno-old-style-decl

[2021-12-09 07:12] laurretang commented on #1483
Supplementary notes, I did the test on a poor vm (1c2g).
The occupied memory increases very fast when the cpu is busy.
And haproxy will be killed by system oom after testing for times.

[2021-12-09 07:31] wtarreau commented on #1483
I'm not seeing anything exceptional here, welcome to SSL unfortunately :-(

In our tests quite some time ago, memory usage can grow up to about 76kB per connection during SSL handshakes entirely for the stuff the SSL library needs to keep during this time, and lowers a bit later. Your pools seem to indicate that you've reached 16730 concurrent connections. That amounts to 1.2 GB of RAM only for SS

[2021-12-09 07:36] wtarreau commented on #1484
Hi Lukas,

does this only happen with SSL errors or also with other errors (e.g. bad request) ? What I'm suspecting is that if it happens on SSL error, once the SSL context is in error we cannot use it anymore to retrieve anything, including the SNI. In this case maybe the only reasonable option left could indeed be to put a warning in the doc indicating that the various SSL sample fetches are onl

[2021-12-09 07:51] laurretang commented on #1483
Thanks for your reminding.
I will do more study on methods of memory allocate and free .

Also, I will change the maxconn to 10000 and do more testing.
As I know, maxconn means the max number of connectings in progross.
I also wanna know can we limit qps in some scenarios. What will happen if 10000 requests come in several seconds?
If the backend server can reponse immediately, How long will an SS

[2021-12-09 08:10] wtarreau commented on #1483
If you want to limit the number of connections per second, you have a setting for this, called "rate-limit session" in each frontend. It will slow down clients so that no more than the rate you configure happens. But usually this is only used to limit CPU usage, and most of the time you don't need this, because there's no reason to make clients wait if there's CPU available. Those using this featu

[2021-12-09 09:04] wtarreau commented on #1482
At this stage I must confess I'm personally totally clueless about WASM and even the URL above explains assumes the reader already knows what he's looking for, so I guess you'll have to help us a little bit by explaining more of it. Am I right in understanding that you'd use this as an alternative to Lua ?

[2021-12-09 09:15] laurretang commented on #1483
Thank you.

As your metioned, I will try to set "rate-limit sessions 1000". Because the CPU resource will be occupied by haproxy as much as 99%, maybe need to limit haproxy process to avoid other processes being hung.

Such as, haproxy stats can not be accessed and keepalived can not be executed as follows.
[root@vm16 haproxy-2.0.26]# ./stats_haproxy.sh  --socket /var/lib/haproxy/stats/haproxy-443

[2021-12-09 09:48] capflam commented on #1463
Ok, I can explain the difference for `%TR` for HTTP/2 clients. On 2.3 and lower, it is always 0, except if you have an option to wait the request payload in your configuration. On these versions, the time to receive and parse the request headers is included in the idle time (`%Ti`). Since the 2.4, for HTTP/2 streams, idle time is never set because there is no easy way to measure it per stream. `%T

[2021-12-09 11:43] takenek commented on #1448
Hey,
I can confirm version 2.4.9 working properly.

Best Regards
TaKeN

[2021-12-09 14:37] rlebreton commented on #1484
I had a look at that too and I think I found an explanation to why this fetch does not work in some cases. For the short explanation, this fetch does not seem to work when the handshake failure is actually a ClientHello error (as in not a verify error but an error related to other parts of the client hello).

The ssl_fc_sni sample fetch uses OpenSSL's SSL_get_servername function which basically re

[2021-12-09 15:41] wtarreau commented on #1484
Thanks for the analysis. I'm not convinced either by the benefits of capturing this at this point because this would only cover for issues that happen late in the client hello processing, but not those which happen earlier (before openssl extracts it). But if there's an elegant way to do this and it's considered useful, why not.

[2021-12-09 15:48] git001 commented on #1482
Maybe the way how envoy use it clarify the picture.
https://github.com/proxy-wasm/spec/blob/master/docs/WebAssembly-in-Envoy.md

![Envoy-Wasm](https://raw.githubusercontent.com/proxy-wasm/spec/master/docs/WebAssembly-in-Envoy.svg)

Well it could be solved in HAProxy in 3 way, from my point of view.

* SPOA
* filter
* embeded similar to lua

I would prefer to go with spoa similar to the examples wi

[2021-12-09 16:26] lukastribus commented on #1484
The use case of the user on discourse is to monitor SNI's of failed handshakes to understand missing certificates in a strict-sni configuration. I could also see how this would be useful in cipher/TLS version mismatches.

[2021-12-09 16:32] wtarreau commented on #1484
Yes indeed this makes sense to figure which line of a crtlist is causing the trouble. @rlebreton I'm wondering if we couldn't retrieve the info from the clienthello callback and re-inject it into openssl using SSL_set_servername() or something like this, and hope that it will be pre-filled even if the handshake doesn't complete.

[2021-12-09 16:33] wtarreau commented on #1484
Oh I forgot to say, yes, that's ugly.

[2021-12-10 07:14] ghost commented on #1478
Issue is still visible with 2.4.9.

[2021-12-10 08:23] capflam commented on #1478
Thanks ! I'm unable to reproduce the bug with your config snippet. I guess it is a time dependent issue. Could you provide a network capture ? Do you know if the problem is reproducible with no traffic ? If so, it could be good to enable H1 traces.

[2021-12-10 10:14] lukastribus commented on #1478
The network capture should be a pcap file (tcpdump -s0 -w file.cap), not the stdout summary from tcpdump.

[2021-12-10 11:15] mcarbonneaux commented on #1482
While be fun as spoa.

But For spoa they need the hability to rewrite the body.
But the last Time have read the doc while not possible to do with spoa.

[2021-12-10 11:18] mcarbonneaux commented on #913
Hi any news about spoa body rewrite ?

[2021-12-10 11:19] ghost commented on #1478
Issue appears after some time (this time it took ~2days to reproduce). I've attached pcap file (if something is still wrong, please let me know, I am not experienced with network analise)
[file.cap.txt](https://github.com/haproxy/haproxy/files/7692297/file.cap.txt)
.

[2021-12-10 13:14] capflam commented on #1478
Thanks ! It appears the response is chunked (as expected with the stats page), but the payload itself is not chunked. I don't know for now how it is possible. But it is a good start to investigate.

[2021-12-10 13:19] capflam commented on #1478
My bad, the response is chunked but closed before the last chunk. BTW, I'm investigating.

[2021-12-10 15:19] wtarreau commented on #913
Sadly, no :-(  It's very difficult to assign time to it considering there are extremely few users, while there are plenty of features that almost everyone is already waiting for.  We also need to engage into architectural simplifications because we still couldn't get rid of some of the stuff that existed before HTX, resulting in an increased complexity which is responsible for almost all of the re

[2021-12-10 15:23] wtarreau commented on #1478
We've already had issues in the past where a last block of exactly the size of a buffer minus epsilon couldn't be sent, but the final shut was already queued. I wouldn't completely rule out something a bit similar, which could explain why it only appears there. I've met myself a few times some truncated stats pages only after some specific uptime (due to number having to be large enough to fill bu

[2021-12-11 11:23] mcarbonneaux commented on #913
Can you add body rewriting on spoe/spoa, in that way we can try to adapte Host sdk of proxy wasm in generic way !?

[2021-12-11 18:12] rnsanchez opened #1485 "Stuck in deinit_and_exit with high CPU usage"
### Detailed Description of the Problem

Some threads are stuck in what appears to be an infinite loop:

[code]

This is on a production, highly-loaded server so it took us quite a while to notice.

### Expected Behavior

HAProxy would be expected to complete executing the callstack and it is not making progress.

### Steps to Reproduce the Behavior

We don't have a hypothesis as to what exactly h

[2021-12-11 18:15] felipewd commented on #1485
We’ve since upgraded to the latest stable patches (`2.4.9-f8dcd9f`) to see if help fix this, since there’s a dns-related patch in 67f6af5b.

[2021-12-12 11:14] git001 commented on #913
@mcarbonneaux I think @wtarreau already answered this question.

Thanks @wtarreau  for the detail explanation where the status of the body rewrite is.

[2021-12-13 06:48] #1483 closed, assigned to nobody

[2021-12-13 19:55] anvpetrov commented on #188
we have same issue  with haproxy ingress and chunked response from java application

[2021-12-13 20:45] svenschiller opened #1486 "map_dom incorrectly handles FQDN with dash/hyphen"
### Detailed Description of the Problem

We use the map_dom function to map host names to a backend. Recently (updated from v2.2.17 to v2.2.18 two weeks ago) this function seems to have broken, as any FQDN containing a dash is mapped to the backend appearing first in the mapping file (i.e. on the first line), irrespective of the backend listed for this hostname. Switching to map_str as a workaroun

[2021-12-15 00:38] elyograg commented on #1297
@chipitsine I just cloned the git repo, changed into the new directory,  and did "./testssl.sh https://server.domain.tld" and it began the test.  The output looks very similar to the SSL Labs server test.

[2021-12-15 01:07] pkubaj opened #1487 "Fails to build on FreeBSD/powerpc"
### Detailed Description of the Problem

Linking version 2.4.9 fails with:
`ld: error: unable to find library -latomic`

### Expected Behavior

Should build fine.

### Steps to Reproduce the Behavior

Build Haproxy.

### Do you have any idea what may have caused this?

https://github.com/haproxy/haproxy/commit/70c268b4dae1efd184448c385ce47277b0563d1f

### Do you have an idea how to solve the issue

[2021-12-15 09:44] wtarreau commented on #1487
Please just add "USE_LIBATOMIC=" to forcefully disable it. It seems that there's no such lib on your platform and that it's easier to deal with (you're lucky).

I would also be interested in these two outputs:
[code]
[code]

This will help us refine the detection so that you don't even need to forcefully remove libatomic in the future.
Thanks!

[2021-12-15 11:12] Mo3m3n opened #1488 "double free issue when using crt directive with default-server"
### Detailed Description of the Problem

A double free issue happens when validating (haproxy -c ) the provided configuration file
[code]

### Expected Behavior
configuration valid with 0 exit code (success)

### Steps to Reproduce the Behavior

1. haproxy -c -f haproxy.cfg

### Do you have any idea what may have caused this?

The problem disappears when reducing backend servers to a single server

[2021-12-15 13:51] pkubaj commented on #1487
[code]

[code]

Passing USE_LIBATOMIC= to build also works, thanks for the suggestion.

[2021-12-16 07:08] wtarreau commented on #1487
Thank you. I've checked Clang's docs, and clang doesn't provide libatomic and instead relies on gcc's one, thus normally you would need to install one on your machine. However, the reason why it currently works without it is that only the `long long` types require libatomic on your platform, and apparently right now in the code we don't use them with atomics. Thus for now it's fine to build withou

[2021-12-16 07:09] wtarreau commented on #1487
I'm now marking this as not a bug and closing, but feel free to respond here if needed.

[2021-12-16 07:09] #1487 closed, assigned to nobody

[2021-12-16 07:49] doradojl opened #1489 "Haproxy 2.2.19 is having issues returning objects from a remove CDN (2.2.18 works fine)"
### Detailed Description of the Problem

After updating the HAProxy to version 2.2.19 we are experimenting issues download images and HAPRoxy is returning this error:
`jldorado.aveng.net/:1 GET https://jldorado.aveng.net/fonts/proximanova-regular-webfont.woff2 net::ERR_HTTP2_SERVER_REFUSED_STREAM
/img/icon-message-center.svg:1 GET https://jldorado.aveng.net/img/icon-message-center.svg net::ERR_HTT

[2021-12-16 08:32] capflam commented on #1488
Confirmed. The regression was introduced by the commit 0498fa40. @rlebreton any idea ?

[2021-12-16 08:35] capflam commented on #1485
Any problem since the upgrade ?

[2021-12-16 08:37] rlebreton commented on #1488
Not yet but it does not seem too mean. I'll look into it asap.

[2021-12-16 08:53] #1481 closed, assigned to nobody

[2021-12-16 08:54] capflam commented on #1481
Now backported as far as 2.4.

[2021-12-16 08:55] capflam commented on #473
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:55] #473 closed, assigned to nobody

[2021-12-16 08:56] capflam commented on #488
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:56] #488 closed, assigned to nobody

[2021-12-16 08:56] capflam commented on #858
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:56] #858 closed, assigned to nobody

[2021-12-16 08:57] capflam commented on #949
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:57] #949 closed, assigned to nobody

[2021-12-16 08:57] capflam commented on #1138
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:57] #1138 closed, assigned to nobody

[2021-12-16 08:57] capflam commented on #1206
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:57] #1206 closed, assigned to nobody

[2021-12-16 08:58] capflam commented on #1325
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 08:58] #1325 closed, assigned to nobody

[2021-12-16 09:00] capflam commented on #1368
I'm closing this issue now. Feel free to reopen it if necessary.

[2021-12-16 09:00] #1368 closed, assigned to nobody

[2021-12-16 09:01] #871 closed, assigned to nobody

[2021-12-16 09:07] capflam commented on #1466
Sorry for the late reply. I don't know if it is sill an issue for you, but it seems to be a ssl compatibility problem between your Windows Server and your debian/ubuntu servers. Curl and HAProxy both report an error during the SSL handshake. You may try with openssl s_client to have more information.

[2021-12-16 09:34] capflam commented on #1486
I'm unable to reproduce the issue. Could you capture the request Host header ? To do so, you should add the following line in your frontend section:

[code]

This way, the host will be displayed in the log. Of course, you must add  `option httplog` too.

[2021-12-16 11:40] idl0r opened #1490 "2.4.9 - Sometimes crashes during / after reload"
### Detailed Description of the Problem

During or after reloads, HAProxy sometimes crashes

### Expected Behavior

HAProxy shouldn't crash, neither during or after reloads nor at all

### Steps to Reproduce the Behavior

Somewhat difficult as it happens only sometimes so the only hint I have right now that it is somehow related to a reload.
We have huge configs in this case, which also makes it d

[2021-12-16 11:41] rnsanchez commented on #1485
Yes.  After an unknown amount of time, some threads started burning a lot of CPU.  We notice them easily because the network load is low enough for single-burners to become noticeable (notice thread 1003070; the whole process group has now PPID=1, init):
[code]

Though I'm not familiar with the code, spinning on pause suggests me a hot contention:
[code]

Second hottest:
[code]

A bit of context,

[2021-12-16 11:44] idl0r commented on #1490
[code]

[2021-12-16 11:49] idl0r commented on #1490
We were running 2.2.17 before and didn't have those issues.

[2021-12-16 15:19] VigneshSP94 opened #1491 "segfault after started using DNS discovery on TCP"
### Detailed Description of the Problem

We use haproxy 2.4.4 and combining it with service discovery to reduce reloads, but as we roll it to the production, slowly machines started getting caught segfault and haproxy restarts which results in traffic disruption.

![image](https://user-images.githubusercontent.com/24570763/146399097-0349ffbb-1da8-463a-9dad-f00316424514.png)

### Expected Behavior

[2021-12-16 17:05] svenschiller commented on #1486
I think I had an error in the Steps to Reproduce and put the hyphen into the hostname part instead of the domain name part, please see my update above.
I did capture the host header originally and it pointed to the wrong backend/host, resulting in a 404 response. This error occurred for all domain names containing a hyphen in our production environment. I cannot revert without impacting customers.

[2021-12-16 17:05] capflam commented on #1491
Could you try the latest 2.4 snapshot please (http://www.haproxy.org/download/2.4/src/snapshot/haproxy-ss-LATEST.tar.gz) ? There are several bug fixes related to the resolvers shipped with the 2.4.9 but a bug was recently fixed (80b2e34b1).

[2021-12-16 17:48] capflam commented on #1486
Sorry, I'm still unable to reproduce the issue. Here is the configuration I used:
[code]

I used your map file. The requests are routed to the right backend:
[code]

So there is probably something on your configuration or you requests that differs. Or I missed something obvious...

[2021-12-16 18:19] svenschiller commented on #1486
Thanks for looking into it. I will setup a test bed and see if I can reproduce it there. However, it will take some time due to the upcoming holidays. I will post results here.

[2021-12-16 21:33] haproxytechblog opened #1492 "Documentation: peers table example uses different IPs, ports, and hostnames than the old way"
### Detailed Description of the Problem

The example showing the old and new peers `server` syntax in https://cbonte.github.io/haproxy-dconv/2.4/configuration.html#3.5-server

has mismatched IPs and port numbers between the old and new syntax (which are fine by itself).

[code]

While not an error per-say, some users have a tendency to read the documentation with a fine comb (due to change managem

[2021-12-17 02:13] VigneshSP94 commented on #1491
@capflam thank you for looking into this. We had 2.4.4 in our dev and staging for almost 1 month, but never encounter this issue. It happened as soon as we moved to production, where the traffic and number of real servers gets resolved through the SRV record is super high. Any clue which bug did we encounter?

[2021-12-17 06:05] leonardolang opened #1493 "Compiling with opentracing and "use-vars" support fails on HAproxy 2.5.0/master"
### Detailed Description of the Problem

Compiling HAproxy 2.5.0 (and master) with USE_OT=1 and OT_USE_VARS=1 fails due to `struct vars` not having a `name` field anymore (replaced by `name_hash`).

### Expected Behavior

Compilation to succeed.

### Steps to Reproduce the Behavior

`make USE_OT=1 OT_USE_VARS=1`

### Do you have any idea what may have caused this?

_No response_

### Do you have a

[2021-12-17 08:10] capflam commented on #1485
Thanks for the update and the info. I'll investigate.

[2021-12-17 08:25] capflam commented on #1491
At first glance, d20dc21ee is a good candidate. But there is another DNS fix:  7045590. And as said, there are also several fixes in the resolvers part.

(Note: commit ids come from the upstream repo)

[2021-12-17 09:36] idl0r commented on #1490
I finally got useful coredumps and updated my previous comments. Does this help? Since it mentions stick-table stuff, we're using about 3 and basically in every frontend/listener we have. We have ~700 frontends/listener. In case it's related. This issue happens on one of our busiest sites. I could share that one specific config snipped if needed.

[2021-12-17 09:53] #1380 closed, assigned to nobody

[2021-12-17 10:02] capflam commented on #1490
Thanks ! Indeed, it seems to be a contention issue on a stick table when the proxies are stopped. However, I don't know why it only affects the 2.4.9 and not the 2.2.17.

[2021-12-17 10:16] idl0r opened #1494 "2.4.9 SSL related crash?"
### Detailed Description of the Problem

While looking at #1490 I noticed another coredump, that seems unrelated to #1490.
No more details so far.

### Expected Behavior

Shouldn't crash

### Steps to Reproduce the Behavior

Unknown

### Do you have any idea what may have caused this?

_No response_

### Do you have an idea how to solve the issue?

_No response_

### What is your configuration?

[

[2021-12-17 16:12] wtarreau commented on #1494
Very interesting, thank you Christian! It looks amazingly close to a private report we've got in 2.5 and could confirm that something related to SSL that changed between 2.4 and 2.5 was indeed related to a fix backported between 2.4.7 and 2.4.9. For now we don't know but are actively tracking this one. Some of us may come back asking for extra info soon. Cc @wlallemand @pierrecdn

[2021-12-17 16:23] wtarreau commented on #1490
I think it's just because we didn't trim by then and depending on the memory allocator, trimming can possibly take a lot of time :-/

[2021-12-17 16:40] wtarreau commented on #1490
We currently do not have any option to forcefully disable memory trimming on exit, but in many environments where connections are short-lived it will not bring any benefit, it's just important in thoes with long-lived connections. I think we should offer a config tunable for that.

[2021-12-20 08:49] idl0r commented on #1490
Too bad I cannot try other versions as well as it's not 100% reproducible, even though it happens often on specific production loadbalancers. Unfortunately only that often on production environments :/

So trimming has been added since then? Does it trim too slow in this case or what's causing it? That's just to cleanup the old process's memory/stick-table or something like that?

[2021-12-20 10:06] wtarreau commented on #1490
Yes, trimming was added in 2.4 so that old processes with long-lived connections can release a maximum of their memory. While the pools and other stuff were already released, the memory is always released to the libc, which may keep a lot of fragments as-is instead of returning them to the system (which is not done often since potentially slow). But when leaving, that memory held for no reason in

[2021-12-20 13:06] TimWolla opened #1495 "ERR_HTTP2_SERVER_REFUSED_STREAM"
### Detailed Description of the Problem

We are seeing issues where some requests within our Munin instance fail to load due to `ERR_HTTP2_SERVER_REFUSED_STREAM` in both Chrome and Firefox. The issue is not clearly reproducible, but happens often enough that I'm able to extract debug information on request. The Munin pages are pretty request/image heavy which might or might not be related.

I thin

[2021-12-20 14:28] hont512 opened #1496 "Delays on large HTTP requests"
### Detailed Description of the Problem

I get 2-8 seconds delay on HTTP-requests that are bigger than 1 packet and have specific TCP packets order

Server-side TCP-dump for good request (made with Wget, processed by "http-request redirect"):
[code]

Bad request (made with Chromium on same PC):
[code]

Here we can see:
- Second part of request (04.180653) arrived on NIC before first part (04.18391

[2021-12-20 17:46] pierrecdn commented on #1494
Continuing the conversation here.
For now, I didn't get any new coredump after 3 days running the 2.4.9. So, the issue we observed may be unrelated to this one, or we still have to wait a bit more so that it reappears.

[2021-12-20 21:07] lukastribus commented on #1496
This is clearly not a haproxy issue, which you also say yourself. This issue tracker is for tracking bugs and feature requests directly relating to haproxy.

[2021-12-20 21:07] #1496 closed, assigned to nobody

[2021-12-21 06:27] brenc opened #1497 "Peers local sync, counters significantly increase on reload"
### Detailed Description of the Problem

Looks like I stumbled upon a bug in 2.5.0 with peers (at least locally which is all I'm using peers for right now). On reload stick table counters significantly increase. This does not happen with 2.2.19 or 2.4.9.

### Expected Behavior

Stick tables should properly sync after a reload.

### Steps to Reproduce the Behavior

Here is what the stick table look

[2021-12-21 09:18] idl0r commented on #1490
So if I got it right, the actual issue is it's taking too long to trim? Would it be possible to test that via VTest somehow? I wonder if it's a glibc bug or if it's better in a more recent version.
It's 2.28 here on a Debian 10 system.
Otherwise, just disabling the trimming would just behave like in 2.2.x/2.3.x?

[2021-12-21 09:24] chipitsine commented on #1475
I've [reported](https://github.com/libressl-portable/portable/issues/711) that bug to LibreSSL
LibreSSL developers wish to fix on their side, but it is hard to locate it.

if someone can help, it would be appreciated

[2021-12-21 09:43] wtarreau commented on #1490
That's it, it's taking too long. It's not necessarily a bug in the libc either, it's that there can be quite some complexity in doing this and probably that it can take time or might even possibly have a hard time completing if competing threads are allocating/freeing in parallel.

Oh that makes me notice something. Your pool_gc() is at line 333, which is the NO_GLOBAL_POOLS variant. It doesn't us

[2021-12-21 10:15] idl0r commented on #1490
Thanks, @wtarreau!
Will try the patch on one of the LBs that's crashing most often.
Interestingly, out of 26 production LBs with 2.4.9 only ~3-4 are having these issues within the past 24hrs. In total it were 2-3 more. Only 2 of them, with a specific customer/traffic are most often experiencing it.

[2021-12-21 10:20] wtarreau commented on #1494
OK thank you Pierre. This will probably arrange William but not the rest of us :-)

[2021-12-21 10:22] wtarreau commented on #1490
It could be a very specific traffic pattern that triggers the problem, in volume and type, maybe causing a bit more fragmentation or partial connection reuse that tends to release some entries into different pools than those they were allocated from, causing a little bit more stress on the allocator.

[2021-12-21 11:23] rlebreton commented on #1488
It actually turns out that the commit that introduced the bug does not even work properly since a config like the following would not work :
backend test
  default-server ssl crt cert.pem verify none
  balance roundrobin
  server SRV_1 :12345 ssl verify required ca-file ca.crt
  server SRV_2 :12345

Since the two backends use the same SSL_CTX and not duplicates of the default SSL context, any new

[2021-12-21 12:54] wlallemand commented on #1488
@rlebreton I don't think that's a good idea to revert this since the commit is already a fix for another problem, it's better to fix the issue.

[2021-12-21 14:34] wlallemand commented on #1494
@idl0r few questions:

* do you reproduce this problem often?
*  Did you use your configuration with a previous haproxy version which did not triggered this problem? We had few changes in the SSL stack in the maintenance branch.
*   Are you using SSL only on the frontend side or is it used on the backends?

[2021-12-21 14:40] idl0r commented on #1494
No, the one reported here was the only one until now.

Yep, 1:1 the same config with 2.2.17 and lower for quite some months.

99% is frontend only but there are some with backend SSL as well.

[2021-12-21 15:13] wlallemand commented on #1494
@idl0r would you be willing to share your coredump and your configuration privately? That would be really useful. if so, email me at wlallemand [at] haproxy [dot] com

[2021-12-21 15:20] wtarreau commented on #1490
I checked the differences with 2.6-dev and tried hard to reproduce your issue there (which I failed to even with 500k connections). However I could confirm that the pool_gc() function is indeed called out of any thread isolation and that isolating it doesn't harm. So it could fix the problem.

[2021-12-21 16:17] rlebreton commented on #1488
Fixing the issue would require to rework on the previous bug fix because currently the default-server mechanism does not work properly. It was all introduced a while back when ckch instances where adopted on the backend side.
In the short term I could prevent the double free from happening with a patch like the following one but the underlying bug would still be here :

[code]

@wlallemand If you

[2021-12-21 16:51] 4a6f656c commented on #1475
This should be reproducible with haproxy/OpenSSL by simply adding an additional header to the existing list:
[code]

The failing log line contains a status of `PH--` which points towards the problem, but it takes a lot of effort to identify the fact that we're hitting a size limit:

  https://github.com/haproxy/haproxy/blob/master/src/h1_htx.c#L276

[2021-12-22 02:12] jinsubsim opened #1498 "COMPRESSION_ERROR occurs when the SETTINGS_HEADER_TABLE_SIZE value of the HTTP2 client is less than 4096."
### Detailed Description of the Problem

There is an issue that the HTTP2 Client cannot process the response transmitted by HAProxy when the HTTP2 Client sets the SETTINGS_HEADER_TABLE_SIZE value less then 4096.
[code]

### Expected Behavior

There is no constraint that SETTINGS_HEADER_TABLE_SIZE should be set above 4096 even in the RFC7540 (Hypertext Transfer Protocol Version) and RFC7541 (HPACK:

[2021-12-22 08:00] chipitsine commented on #1475
should we add at least debug statement when size limit is hit ?

[2021-12-22 08:45] wtarreau commented on #1498
First, many thanks for your detailed analysis.

I think we're facing an interoperability issue here, because the way I read RFC7541 we do not have to send an update here since the table size defaults to the one advertised by the peers' settings and we're not changing it:

[code]

Thus nghttp indicates that its table size is smaller than 4kB. Then:

[code]

Here we're not choosing to use a lower si

[2021-12-22 08:55] wtarreau commented on #1495
The REFUSED_STREAM error could indeed correspond to certain server errors on the backend side. Typically if an HTTP/1 persistent connection is closed by the server while we're sending a request on it, in HTTP/1 we silently close the client connection so that the browser can retry, but in H2 we must use REFUSED_STREAM to tell the browser the request is retryable. I'm just surprised it's SD--, as I

[2021-12-22 09:00] TimWolla commented on #1495
This is a production instance, but fairly low traffic, so I can do this. Can you give me a copy-pastable list of commands to enable the tracing with the level of detail you would need?

For the record: The nginx technically advertises H2 on port 443.

The nginx for munin is a fairly standard nginx instance with nothing odd in the configuration. I would expect seeing this issue much more often if t

[2021-12-22 09:01] wtarreau commented on #1497
Hi Brendon,

that's particularly shocking indeed. There are not that many changes between 2.4 and 2.5 regarding the peers. However one of them consists in dropping incoming updates for `conn_cur` (which used to either constantly grow or go negative since it's related to the process and nothing else). It is possible that I've done something wrong there (e.g. not consume the entire message or so) re

[2021-12-22 09:06] wtarreau commented on #1495
For the command I usually do it this way:
[code]

Then at the end I disable all traces using:
[code]

Given that you don't have alpn advertised on the "server" line, there won't be protocol negotiation and the default h1 will be used instead, no matter what nginx advertised. And indeed I agree that with nginx behind you're not in a case of a dummy server randomly crashes while delivering data so I

[2021-12-22 09:08] wlallemand commented on #1488
@rlebreton In my opinion both of the options are bad, since they are just hiding the problem, we must prioritize a real fix instead. So, yes, it's better to rework the previous bug fix.

[2021-12-22 09:12] wtarreau commented on #1489
This is interesting because there are only two commits in this range for H2:
- 697d12da1 BUG/MEDIUM: mux-h2: always process a pending shut read
- 5c6249f7a MINOR: mux-h2: perform a full cycle shutdown+drain on close

Do you think you could try to revert them to confirm it fixes the issue for you ? I can attach the patches if needed.

[2021-12-22 09:14] wtarreau commented on #1495
Tim, there could be another explanation related to H2. If for any reason we reset the H2 stream to the client in the middle of an object, the error may propagate to the other side and it's one of the rare cases where we know we can occasionally log SD instead of CD (some cases reported long ago on the ML already). So maybe the issue is indeed in H2 like it seems to be in the other issue you linked

[2021-12-22 09:21] wtarreau commented on #1475
Didn't it report an error 500 in this case, since it corresponds to a failure to store a header ? Because clearly that's what would be expected, and if not we need to arrange for this and make it easier to spot in the doc.

[2021-12-22 09:25] TimWolla commented on #1495
I just managed to reproduce the issue with traces enabled. All the requests in the access log show a termination code of `----`.

I'll double check the trace logs for sensitive information and will then send you a link to them via private email.

[2021-12-22 09:26] jinsubsim commented on #1498
First of all, thanks for the reply.

It seems to be possible to send the Dynamic Table update message only once for the first time instead of sending it every time.
My intention is not to use the Dynamic Table at all when the Client's SETTINGS_HEADER_TABLE_SIZE is less than 4096.

Could you suggest another way to solve this situation?

[2021-12-22 09:26] capflam commented on #1495
`SD--` may be reported instead of `SH--` if the server abort is detected on the request side. It is especially true if the request payload was not fully sent.

[2021-12-22 09:28] TimWolla commented on #1495
… and that is because it appears that the broken requests have not been logged at all, unless I'm completely misreading the data.

[2021-12-22 09:39] wtarreau commented on #1495
Thus it would confirm that it was identified as an aborted connection on the server side, i.e. we sent a request on a reused connection that was closed while sending. Since the request is not processed, no log is produced either. Ideally we ought to find a way to represent these ones but I remember that we've decided to hide them because some users were confused by apparently duplicate entries in

[2021-12-22 09:40] TimWolla commented on #1495
@wtarreau I just sent an email to you in private.

[2021-12-22 09:41] doradojl commented on #1489
Yes, of course, if you don't mind attaching the patches I can test them in our development environment.

[2021-12-22 09:49] wtarreau commented on #1498
We *never* use the dynamic table when sending, regardless of the advertised size, which is also why we don't even do anything with the size in the settings. That's why I suspect that the only issue is a different interpretation of the spec. I'll possibly bring the question to the HTTP-WG after discussing it with Tatsuhiro.

Have you checked if when sending this request to another server there's a

[2021-12-22 10:23] wtarreau commented on #1489
Cool, here they are. They're theoretically independent on each other. Since they are the original patches from the tree, you have to apply them in reverse (`patch -Rp1 < 0001-....`). If you need to have them reversed because you integrate them to packages, and are not sure how to do that, just let me know and I'll reverse them for you.

[0002-MINOR-mux-h2-perform-a-full-cycle-shutdown-drain-on-.pa

[2021-12-22 10:43] wtarreau commented on #1495
Many thanks Tim for the traces. BTW one day we'll have to discuss about efficient ways to anonymize traces, because you're probably the one doing that the best and your feedback on this could be invaluable!

You'll see in the H1 trace that there are many "shutdown on connection" with flags such as `0x00182300` which once decoded give: `CO_FL_ERROR | CO_FL_SOCK_WR_SH | CO_FL_ADDR_TO_SET | CO_FL_XPR

[2021-12-22 10:55] TimWolla commented on #1495
I checked the nginx configuration. The keep-alive timeout is configured as:

[code]

And I can confirm with `openssl s_client` that this unitless number is not milliseconds. I did not measure exactly, but it certainly feels like 65 seconds :smiley:

As you can see in the access logs I sent you, all the requests in question have been sent within ~20 seconds. Before that the last logged connection t

[2021-12-22 11:31] TimWolla commented on #1495
@wtarreau I've sent you some other important findings via email.

[2021-12-22 13:38] jinsubsim commented on #1498
I did the same tests in multiple environments.

1) nghttp client (SETTINGS_HEADER_TABLE_SIZE: 0) <---> nghttp2 server
- Result: OK (Send a response including dynamic table update (0x20))
[code]

2) nghttp client (SETTINGS_HEADER_TABLE_SIZE: 0) <---> envoy server
- Result: OK (Send a response including dynamic table update (0x20))
[code]

3) nghttp client (SETTINGS_HEADER_TABLE_SIZE: 0) <---> nginx

[2021-12-22 14:07] wtarreau commented on #1495
So according to your traces, the issue clearly stems at the SSL layer on the backend side. However I cannot reproduce it at all here (as usual) thus I'm wondering if we're not instead revealing a deepeer issue. There were a few recent reports of SSL-related crashes and it's possible that several of them were revealed by a recent fix, and manifest themselves differently depending on the environment

[2021-12-22 14:10] TimWolla commented on #1495
@wtarreau Did you receive all of my emails? I sent the last at 14:20 PM CET.

[2021-12-22 14:16] wtarreau commented on #1495
Yes I did till the one saying "last one for now". William is also having a look and finds this pretty bizarre.

[2021-12-22 14:18] TimWolla commented on #1495
Okay, then that's all of them. I wasn't sure whether you were working off my first one with the traces or not and wanted to make sure you've seen them all to not waste your time.

[2021-12-22 14:20] wtarreau commented on #1495
I've got them all, no problem. It's just that I'm jungling between several issues as usual and this is terrible for my concentration.

[2021-12-22 14:39] wtarreau commented on #1498
Thank you. It's something we can do but it doesn't correspond to what the spec says, and Tastuhiro pointed to an old conversation where other implementers (including one of the spec's authors) as well suggested that this was not necessary.

But that's the principle of interoperability, we need to find the best way forward when a spec isn't very clear, and sometimes usage becomes the new spec. Idea

[2021-12-22 15:15] TimWolla commented on #1495
I attempted to set up a simple reproducer environment, but I was not successful. Every request succeeded just fine. Instead of Munin I created simple static HTML page with many images. On the HAProxy I disabled the use of haproxy-auth-request, because that was non-trivial to replicate.

Maybe for some reason having haproxy-auth-request / Lua connections within the request pipeline makes the issue

[2021-12-22 15:17] wtarreau commented on #1495
Tim, we just found a way to reproduce it. It involves threads. We need to use a client that closes connections and http-reuse always so that idle connections are reused by different threads. I think that now we have what we need to dig deeper!

[2021-12-22 15:22] wtarreau commented on #1495
Tim, as I suspected, using `tune.idle-pool.shared off` in the global section fixes the problem, so this is clearly an issue of reused SSL connection between threads. Very strange.

[2021-12-22 15:23] TimWolla commented on #1495
Interesting. In an attempt to narrow down the issue I tried with `nbthread 1` and still managed to reproduce the issue.

However when setting up the reproducer environment I used single-core VMs, so that might've hidden the issue.

[2021-12-22 15:26] wtarreau commented on #1495
That doesn't correspond to our experience here, nbthread 1 always stops it. Maybe you were observing the refused_stream only and not the other part in the SSL layer though.

[2021-12-22 15:31] TimWolla commented on #1495
I just tested again with `nbthread 1`, but I am no longer able to reproduce the issue. I am not seeing refused streams there.

Not sure what went different the last time I tested.

[2021-12-22 15:46] TimWolla commented on #1495
Okay, I tested once more. I'm still seeing both the TLS issue and the refused stream when I am running with `nbthread 1`. I restarted both HAProxy and nginx before running my test and the process list confirms that there is only one HAProxy worker and no threads in that worker.

To be crystal clear: I am seeing both issues with `nbthread 1`.

[2021-12-22 15:59] wtarreau commented on #1495
Thanks for confirming, but then this is even more strange. Here my assumption was that it was related to the per-thread storage of reused_sess[thread_id] which cannot change with nbthread 1. It very much looks like an initialization issue somewhere. No way to break it in 2.5, but in 2.4 it does. And if I send at least as many concurrent connections as threads at once, no issue either, just as if t

[2021-12-22 16:14] TimWolla commented on #1495
I'm happy to provide additional traces / PCAPs upon request. I can also recompile that HAProxy with any patches you throw at me.

Also as a heads up: I'll be off work over Christmas and New Year and I'll attempt to not touch my computer too much. So please expect some delay over the holidays, unless a miracle happens and you can resolve this until tomorrow.

[2021-12-22 16:18] wtarreau commented on #1495
Christopher found that commit 655dec81b ("BUG/MINOR: backend: do not set sni on connection reuse") is missing from 2.4 and it seems to address the issue here (at least it could explain why we see the bug in 2.4 and not 2.5). We're still trying to figure the root cause, as I'm suspecting we're circling around it and it can pop up under various forms.

You may want to try again with this patch (it b

[2021-12-22 16:21] TimWolla commented on #1495
Thanks, I'll test including that patch early tomorrow and report back to you.

[2021-12-22 18:56] brenc commented on #1497
Hi Willy! Yep I think that was it. This doesn't happen when I remove `conn_cur` from the stick table. As soon as I add it back in and reload, the counters get all wonky again.

[2021-12-22 21:28] wtarreau commented on #1497
Great, so the good news is that we know where this is and the bad one is that I messed up with something I thought I understood but obviously did not, hence the fix will be more difficult. At least now I have good hints about how to reproduce it to figure what I overlooked. Thanks!

[2021-12-22 23:23] jinsubsim commented on #1498
I understand that the specs are unclear.

Does your answer mean that you will add that HAProxy emits 0x20?

[2021-12-23 03:18] wtarreau commented on #1498
It's one of the possible outcome. The question was raised within the HTTP working group here: https://lists.w3.org/Archives/Public/ietf-http-wg/2021OctDec/0235.html

We'll see how to sort this out. As I said I'm not against doing it provided that there is consensus around this behavior which can be one possible interpretation of the spec but not necessarily the only one. I just don't want to add r

[2021-12-23 06:03] jinsubsim commented on #1498
Thanks for your update. :)

[2021-12-23 06:33] capflam commented on #1495
@TimWolla, could you also include this one: 2b1d91758 ("BUG/MINOR: backend: restore the SF_SRV_REUSED flag original purpose") ? It is missing too.

[2021-12-23 06:35] wtarreau commented on #1495
Good to know so if I emit 2.4.10 I'll grab it as well.

[2021-12-23 06:37] wtarreau commented on #1498
Some progress is being made on the thread above and there's a PR to clarify this point in the imminent revision of the H2 spec. With it I'm fine with adding that 0x20 byte at the beginning, I'll look at how to do it unconditionally since we never use the dictionary anyway, but we just want to send it once.

[2021-12-23 08:05] wtarreau commented on #1498
Update: for now I'm postponing that. It breaks vtest, and checking a bunch of other sites shows me that a small majority of servers behave like haproxy (apache,varnish,h2o,litespeed). Thus we need to sort this out within the working group before making a move in any direction.

[2021-12-23 08:15] idl0r commented on #1494
Just for the record: William got something via mail :)

[2021-12-23 08:16] idl0r commented on #1490
It's more than 24hrs, almost 48hrs already on that host without any dumps. So I'll roll out a patched version on all our other LBs to see whether it fixes the issue.

[2021-12-23 08:24] wtarreau commented on #1490
OK thank you Christian! I've been stressing it on a 48-thread test server yesterday on 2.6-dev and it looked good as well. I'll take it as it can at worst bring nothing and more likely improve the situation.

[2021-12-23 08:28] jinsubsim commented on #1498
Oh! I see.
Thanks for sharing good information.

[2021-12-23 08:39] doradojl commented on #1489
It should be something I'm doing wrong.

- I downloaded the repo
- I checkout to branch `gco v2.2.0`
- I reverted the 002 without any issue

But I cannot find the code for https://github.com/haproxy/haproxy/commit/697d12da1290ffb0fedc11cc8fd1be91ca8f748d

It could be possible I'm not in the correct branch?

[2021-12-23 08:47] TimWolla commented on #1495
It got a bit later than I planned:

1. I once again tested whether I was able to reproduce this with `nbthread 1`. I was not. With a single thread the issue must be extremely sensitive to the environment.
2. I once again tested with the default number of threads. I was not able to reproduce this either. Here the issue was apparently that I did not restart Chrome in between my tests and thus not al

[2021-12-23 08:47] TimWolla commented on #1495
Whoops. Those IDs are my local IDs. For the reference:

[code]

So these should be the commits in question.

[2021-12-23 08:55] idl0r commented on #1497
I'm not familiar with the VTest stuff yet but wouldn't it be possible to add a testcase for stick-table counter + synchronization? At least some basic counter tests perhaps. For a single instance as well as a case for 2 processes with peers.

[2021-12-23 10:23] wtarreau commented on #1489
You're just not at the correct tag (2.2.0). Please take the 2.2.19 tarball from http://www.haproxy.org/download/2.2/src/ and revert the two patches on top of it. If you prefer the git version, you can clone it from here: http://git.haproxy.org/git/haproxy-2.2.git/ and you'll be in the right branch with the latest maintenance fixes.

[2021-12-23 10:27] wtarreau commented on #1495
Tim, I suspect it might be possible that it happens with nbthread 1 only if you have at least two distinct SNIs on the same server. For example if the health checks and the traffic use a different one, then there's a small window where the check might cause an update to the cached SNI that will cause the reused connection to be reset again.

I'm going to backport the patches above (when I reduce m

[2021-12-23 10:33] TimWolla commented on #1495
This is not the case, based on the configuration I gave in my initial report:

[code]

However there's a second backend pointing to port 444 on `munin.example.com` that also uses TLS (via the same SNI, though).

[2021-12-23 11:45] doradojl commented on #1489
I compiled the binary with these options
[code]
to simulate the environment we have using Ubuntu 18.04 and after replacing the binary **we have exactly the same issue**

Reverting the binary to 2.2.18 start working well again.

[2021-12-23 11:46] doradojl commented on #1489
https://*****/fonts/proximanova-regular-webfont.woff2 net::ERR_HTTP2_SERVER_REFUSED_STREAM

[2021-12-23 12:03] wtarreau commented on #1495
Then another possibility is the one I discussed with William, which is that the SNI entry being updated too late causes several new connection attempts to be reset during a reuse. But I'm not seeing this pattern at the moment in the code since a reused connection must have completed first. Anyway, it's clear that the problem is caused by resetting the session on an existing connection.

[2021-12-23 12:05] wtarreau commented on #1495
Stupid question, do you know if your backend server supports TLS 1.3 ? William told me that SSL_get_servername() never returns the server name in 1.3 and if so that would explain it because we'd never get the configured name in `ssl_sess_new_srv_cb()` hence the entry is never updated and it could be reset all the time without Amaury's patch.

[2021-12-23 12:14] wtarreau commented on #1489
OK then we're on the wrong track and it's the same issue Tim is facing with 2.4.9 on the backend side with the SNI in #1495, that is being propagated to the frontend. I cannot trivially backport the existing fixes from 2.4 to 2.2 right now, Instead please try to revert the attached patch (using patch -Rp1 on the tree), it was meant to fix SSL connection reuse when dealing with SNI under TLS 1.3, a

[2021-12-23 13:19] TimWolla commented on #1495
It does. This is all OpenSSL 1.1.1d internally.

FWIW: This fact is also visible in the Wireshark screenshot I sent you in private and the fact that reverting that one commit I emailed you fixed the issue.

[2021-12-23 13:39] danielleontiev opened #1499 "haproxy 2.4 memory leak"
### Detailed Description of the Problem

haproxy 2.4 does not free memory if a lot of HTTP 500 errors occurring in the backend. In contrast, haproxy 2.3 behaviour looks valid.

Below metrics for both haproxy 2.3 and 2.4 will be shown for comparison.

Consider the following workload:

haproxy 2.3:

![image](https://user-images.githubusercontent.com/24596613/147246924-4886c8a8-d13d-4aac-b2c2-01a1af2

[2021-12-23 14:52] wtarreau commented on #1495
So my analysis was incomplete, SSL_get_servername() properly returns it right after a set, which is the case here, thus the returned value is OK. I'm going to pick Amaury's patches and emit 2.4.10 now.

[2021-12-23 15:22] wtarreau commented on #1498
It can take a bit more time, for a reason I do not understand, Tatsuhiro decided that *his* interpretation of the spec is the only correct one, that all servers that read it differently are broken, refuses further discussion, and locked the issue to make sure we don't discuss about it anymore :-(  Even if the spec is amended to go into that direction, it will not suddenly make servers that comply

[2021-12-23 17:19] wtarreau commented on #1490
Now backported to 2.5 and 2.4.10. I think we can mark it fixed and close. Do not hesitate to update if you face new issues.

[2021-12-23 17:19] #1490 closed, assigned to nobody

[2021-12-23 17:20] wlallemand commented on #427
This was merged in 2.4 for "crt" and 2.5 for "ca-file/crl-file".

[2021-12-23 17:20] #427 closed, assigned to wlallemand

[2021-12-23 17:40] wtarreau commented on #1499
Thanks for your detailed report. We're currently saturated as less developers are available and other issues are already under investigation. I'm copy-pasting your config here for reference to ease analysis for everyone:
[code]
I'm seeing a "retry-on all-retryable-errors", which seriously looks like a good candidate: in order to handle request retries, we have to duplicate the pending request into

[2021-12-23 17:52] TimWolla commented on #1495
I've just marked this as fixed, because it's very likely fixed. I'll leave this open until I had the time to verify this or until you believe it's definitely fixed in all versions.

[2021-12-23 17:54] wtarreau commented on #1495
Thank you Tim!

[2021-12-23 17:57] danielleontiev commented on #1499
Yes, you are right. Commenting out `retry-on all-retryable-errors` helped.

Here is workload:

![image](https://user-images.githubusercontent.com/24596613/147276457-c74c1170-b494-4b5b-886c-f521313d5aee.png)

And memory usage:

![image](https://user-images.githubusercontent.com/24596613/147276484-d075bef8-8507-4aee-82b4-5c4329e3463e.png)

[2021-12-23 18:18] wtarreau commented on #1499
Cool, many thanks! So now we know better where to look for the problem. I don't hope to give you any news before next week however.

[2021-12-23 19:47] danielleontiev commented on #1499
Thank you! Looking forward for the news

[2021-12-24 08:15] idl0r commented on #1490
@wtarreau: Looks pretty good so far. No more crashes yet, on all ~26 LBs.
Thanks, Willy! :)

[2021-12-24 08:21] wtarreau commented on #1490
Ah cool, thank you for the nice feedback Christian! While I hate to push updates on xmas or new year, sometimes they do help it seems :-)

[2021-12-24 09:15] wtarreau commented on #1497
Vtest cases based on peers are racy by nature, because you need to wait "long enough" to check the other process to be sure the data was pushed. And in some environments like the overloaded (but free) VMs that run GitHub actions we're already facing a non-negligible number of false positives due to timing issues. But in theory you're right, yes. At least maybe we should include conn_cur with some

[2021-12-24 09:51] wtarreau commented on #1499
OK I could now reproduce it with a minimal self-standing config:
[code]

With this I send requests to port 9000 and I'm seeing on "show pools" that the `sockaddr` entries are continuously growing:

[code]

The good news is that it's doing this as well in 2.6-dev. I suspect this has soemthing to do with alloc_bind_address() that is unconditionally called in connect_server(). Maybe there's a code pa

[2021-12-24 10:01] wtarreau commented on #1499
I'm seeing that alloc_dst_address() in connect_server() blindly overwrites any previous value and is the cause for the main leak. Now with just this, it becomes as low as when there's no redispatch:
[code]

Still trying to figure the cause for the remaining low leak.

[2021-12-24 10:04] wtarreau commented on #1499
I said bullshit, there's no other leak, the remaining one is only the local objects kept in thread caches, that's the same for connections:
[code]
Thus it seems there's only the one above that was missing.

[2021-12-24 11:03] wtarreau commented on #1499
Now fixed and backported to 2.4. You can apply the attached fix to your tree if you want. Otherwise it will be in 2.4.11. I'm closing to keep the tracker clean but feel free to comment or reopen if needed. Thank you for your detailed report, that was really helpful!

[0001-BUG-MEDIUM-backend-fix-possible-sockaddr-leak-on-red.patch.txt](https://github.com/haproxy/haproxy/files/7774034/0001-BUG-MEDI

[2021-12-24 11:03] #1499 closed, assigned to nobody

[2021-12-24 12:53] wtarreau commented on #1497
OK it's now fixed and backported. The "funny" thing is that the regtest had already been updated to test for it, but due to the way they work, the range of accepted values is extremely permissive and doesn't allow to distinguish correct values from corrupted ones. No big deal though.

I'm marking as fixed and closing. @brenc I'm attaching the patch in case you want to apply it directly onto your l

[2021-12-24 12:53] #1497 closed, assigned to nobody

[2021-12-24 13:49] danielleontiev commented on #1499
Thanks a lot for the super fast fix and explanation!

[2021-12-24 17:58] wtarreau commented on #1495
I could backport the required patches as far as 2.0, which is as far as the SNI change was backported. So I'm closing now.

[2021-12-24 17:58] #1495 closed, assigned to nobody

[2021-12-24 18:00] wtarreau commented on #1494
Christian, we do both have your archive and will look at it next week as we've been quite busy with other bugs already. Thanks!

[2021-12-24 18:02] wtarreau commented on #1489
@doradojl if you want I could backport the SNI-related patches to 2.2. If you build from Git you can pull it any time. If you prefer a tarball, please use the next nightly snapshot tomorrow.

[2021-12-24 18:30] idl0r commented on #1494
No rush! It crashed only twice so far, on ~26 LBs since we have upgraded to 2.4.9 so it's a rather rare crash.
Happy christmas!

[2021-12-24 21:49] brenc commented on #1497
Applied and tested, looks good. Thanks Willy!

[2021-12-25 06:33] chipitsine opened #1500 "Fedora Rawhide: 'server be4/srv4' : could not resolve address 'localhost'."
### Detailed Description of the Problem

https://gitlab.com/chipitsine/haproxy-ci-playground/-/jobs/1918868202

`'server be4/srv4' : could not resolve address 'localhost'.`

while we can replace 'localhost' with 127.0.0.1, I'm not sure that is appropriate fix here.
maybe someone will come with better fix

### Expected Behavior

to work

### Steps to Reproduce the Behavior

run VTest suite on Fedor

[2021-12-25 07:47] chipitsine commented on #1493
@zaga00 , can you have a look please ?

[2021-12-26 14:00] zaga00 commented on #1493
Hello @leonardolang, @chipitsine,

to clarify the situation here, you can see the comment related to commit 4cb2c83:

"Due to a recent change in the handling of haproxy variables, their use for
OpenTracing context transfer has been excluded from the compilation process.

The use of variables can be re-enabled if the newly defined variable
OT_USE_VARS is set to 1 when calling the 'make' utility.  H

[2021-12-27 10:39] chipitsine commented on #1493
if there's no ETA, shall we add warning to Makefile for a while ? it will prevent people from asking such questions

[2021-12-27 11:09] zaga00 commented on #1493
That's a good idea.  I actually added this new definition for myself, so that the day I take enough time to return that functionality to haproxy I can compile the source without any modification of the makefile file.

At the time I was developing that filter, I didn't know much about opentracing and I added everything that came to my mind at the time; some possibilities you may never need.  Perhap

[2021-12-27 11:13] zaga00 commented on #1493
To clear up any doubts: variables can be used to configure opentracing settings (without using OT_USE_VARS). Special read-only variables used to convey opentracing context cannot be used.

[2021-12-27 14:17] Mo3m3n commented on #1488
server-ca is also impacted by this issue. I guess it was expected but I am mentioning it here since we have received a different bug [report](https://github.com/haproxytech/kubernetes-ingress/issues/409) about this one.

[2021-12-28 09:54] fatchan opened #1501 "2.5 Dynamic server capabilities accessible in lua"
### Your Feature Request

In HAProxy 2.5 it is possible to add, delete and set more properties of servers through the runtime API than previous versions. This is very handy!

However, according to the 2.5 lua documentation (http://www.arpalert.org/src/haproxy-lua-api/2.5dev/index.html -- is this the correct link?) it's not possible to add or delete servers, or set properties such as SSL.

Would it

[2021-12-29 03:43] brad0 commented on #1487
This is wrong. Only OS's that use the GCC runtime use libatomic. FreeBSD / OpenBSD do not. compiler-rt provides the equivalent functions.

Nothing needs to be installed. haproxy's build is the issue. The Makefile test is based on an assumption which is wrong.

[2021-12-29 08:23] wtarreau commented on #1487
I've explained what I found based on my tests on FreeBSD. Maybe they were not 100% correct, I don't know. If you have a better knowledge you're free to suggest what's needed to improve this situation.

[2021-12-29 13:44] wlallemand commented on #1488
@Mo3m3n I fixed the issue in master, it must behave correctly now.

[2021-12-29 20:44] Mo3m3n commented on #1488
Thanks @wlallemand, tests with master are successful
Ingress Controller will be updated as soon as the fix will backported to 2.4

[2021-12-29 23:19] wtarreau commented on #1500
Ilya, please always post the reproducer config in the issue itself. Linking to other ones or even other sites makes them 1) extremely painful to follow and comment on, and 2) impossible to track once these other links vanish. I didn't seem to have noticed anything wrong in your capture but maybe I'm missing something. Or probably they decided to break something as critical as local name resolution

[2021-12-30 09:44] chipitsine commented on #1500
I've got your point on vanished links to external sources. thanks

[2021-12-30 10:41] wtarreau commented on #1501
Hi!

we would like to uniformize a little bit more what's possible from Lua and what's possible from the CLI. It's not easy because both work differently and it wouldn't be acceptable that all new features would be reduced to the smallest denominator of what's possible in both. There are other options being considered such as having a much more natural access to the CLI from Lua so that the exact

[2021-12-30 11:25] fatchan commented on #1501
Hi Willy,

I agree it isn't worth nitpicking about making every little thing possible in both Lua vs CLI. Just thought I'd bring attention to the dynamic server capabilities because they were particularly useful for me. I like the idea of more natural access to the CLI from Lua, that would be nice. You also mention:

This is true. I actually already have a central system to add/delete/update serve

[2021-12-30 13:03] chipitsine commented on #1500
Fedora Rawhide is green again: https://gitlab.com/chipitsine/haproxy-ci-playground/-/pipelines/439065085

(no visible reason)

[2021-12-30 13:11] #1500 closed, assigned to nobody

[2021-12-30 17:25] wtarreau commented on #1488
And backported to 2.4. Now closing, thank you both!

[2021-12-30 17:25] #1488 closed, assigned to nobody

[2021-12-30 22:07] brad0 opened #1502 "warning: misaligned atomic operation may incur significant performance penalty; the expected alignment (8 bytes) exceeds the actual alignment (4 bytes)"
### Detailed Description of the Problem

[code]

### Expected Behavior

It builds without warnings as is the case on 64-bit archs.

### Steps to Reproduce the Behavior

Build haproxy on i386 with Clang 12 or newer.

### Do you have any idea what may have caused this?

Regarding the atomic alignment diagnostic...

https://reviews.llvm.org/D85102

### Do you have an idea how to solve the issue?

_No

[2021-12-31 11:41] f-leclere commented on #930
Hello @tplueer ,
Did it any chance to integrate this on 2.6 release and permit dynamic peers definition/usage on haproxy cluster deployed on k8s or openshift hosting application level ? (3+ haproxy pods aggregated under service LB for application proxyfication rulesset)
Regards
Francois

[2022-01-02 15:17] JackSlateur opened #1503 "Feature request: AWS gwlb support"
### Your Feature Request

A while ago, amazon released a product called [Gateway Load balancer](https://aws.amazon.com/elasticloadbalancing/gateway-load-balancer/)
It is a special kind of load balancer that allows customer to send L3 traffic to a pool of instances, where further filtering or processing can happen

Many proprietary software like [F5](https://devcentral.f5.com/s/articles/BIGIP-integ

[2022-01-02 18:05] mcarbonneaux commented on #913
@wtarreau speek about wasm, but I speek about spoa that already exist but does not abel to be used as filter... If this appen while be more simple to implement wasm with spoa I think...

[2022-01-02 20:30] wtarreau commented on #1502
Thanks for your report. There's something stupid in this warning in that the compiler warns about the alignment it has chosen itself based on the architecture. On a 64-bit arch there will be a 32-bit hole before the field but here the compiler knows the CPU doesn't support 64-bit accesses and filled the hole, which is why it's surprising that it complains about the unaligned atomic since this arch

[2022-01-02 20:33] wtarreau commented on #1502
By the way, do you notice it only on this file or on other files as well ? Generally speaking we try to fill holes. If this is the only one, we could easily reorder the structure. But if there are a lot, we're not going to change everything to work around this warning, so we might have to add yet another -Wno- something.

[2022-01-02 20:38] brad0 commented on #1502
The warnings pop up for a handful of files throughout the build. Give me a bit and I can do a full build and attach a log of the build.

[2022-01-02 20:43] wtarreau commented on #1503
Thanks for notifying us about this feature, I didn't know that AWS supported GENEVE.

Please note, however, that this is a packet-level tunnel, it has nothing to do with a proxy which deals with connections. The packets are processed by the operating system which reassembles them into connections. There is some doc here explaining how to configure GENEVE on Linux: https://darjchen.medium.com/setti

[2022-01-02 20:43] wtarreau commented on #1502
OK thank you.

[2022-01-02 21:29] brad0 commented on #1502
[build.log](https://github.com/haproxy/haproxy/files/7799815/build.log)

[2022-01-02 21:33] wtarreau commented on #1502
Thanks. There are a lot, but most of them seem to be stats, in which case we might possibly afford to reorder some of these field, given that they leave holes in 64 bits anyway. I'll have a look.

[2022-01-03 08:16] doradojl commented on #1489
@wtarreau Sorry for the late response, I reverted the code and as you said the issue was fixed. So it looks like that change it's impacting the 2.2.19.

[2022-01-03 08:36] wtarreau commented on #1489
No problem, don't be sorry :-)  Thanks for your response, it indeed confirms it's the same issue. I have backported the missing fixes a week ago, if you want to give it a try, it's available here: http://www.haproxy.org/download/2.2/src/snapshot/
This could help us confirm that it's worth releasing 2.2.20 as-is.

[2022-01-03 08:53] doradojl commented on #1489
Tested, and it works smoothly. Thanks!!!

[2022-01-03 09:11] wtarreau commented on #1489
Excellent, many thanks! I feel more confident releasing with this. We'll first do a 2.4 and a 2.3, and likely a 2.2 the week after.

[2022-01-03 09:23] doradojl commented on #1489
Do we revert this in 2.4 too? We tried to migrate from 2.2. to 2.4 and we go back to 2.2 because we triplicate the number of RST sent by HAProxy to the NLB we have. Not sure if could be related to this issue.

[2022-01-03 09:25] wtarreau commented on #1502
So I found what's happening. clang emits a cmpxchg8b instruction (which technically is only available on Pentium and above), so it seems to assume that your i386 is in fact a Pentium. However, according to intel's architecture software manual, that instruction does *not* require that the memory operand is 64-bit aligned (32-bit processors do not use alignments larger than 32-bits). I think the com

[2022-01-03 09:29] wtarreau commented on #1489
The latest 2.4 snapshot also contains the fix. There's no theoretical reason a number of RST could be related, but if haproxy used to abort client connections while they were uploading, that could provoke RSTs to be sent. So you may want to give it a try (same URL as above, with 2.4 instead of 2.2).

[2022-01-03 09:30] doradojl commented on #1489
Thanks for the info. Really appreciate it :D

[2022-01-03 10:09] wlallemand commented on #1493
@zaga00 should we close the issue?

[2022-01-03 15:15] wtarreau commented on #1493
Let's not close it yet. We need to determine the best way forward, either re-implement something similar to the variables to carry these info, or definitely decide to drop them if unused, in which case we'll have to put a message on USE_OT_VARS.
I'll mark it as "works as designed" since that's what it really is, even though it's not really cool for users.

[2022-01-03 15:15] wtarreau commented on #1493
"future fix" is even better.

[2022-01-03 16:50] zaga00 commented on #1493
I thought to solve this by creating a special variable in which I would put the names of all special variables related to the transmission of opentracing context.  That way I could restore the previous functionality.  Unfortunately, I have other obligations now, but we should find time to solve it soon, I hope by the end of this month.

[2022-01-03 17:07] wtarreau commented on #1493
OK no rush! We'll do it for 2.6-dev and if the solution looks good enough for a backport, we'll backport it to 2.5. Thanks Miroslav!

[2022-01-03 18:39] wlallemand commented on #1413
I couldn't reproduce the issue at first but, because of that, I kind of figured out that the number of listeners is the problem.

Transferring FDs over the UNIX socket rely on the constant "MAX_SEND_FD" which set how many FD we can send in one packet. This was arbitrarily set to 253 when this feature was made, because it worked everywhere we tested. But that does not seem to work with musl, you ca

[2022-01-03 23:43] jinsubsim commented on #1498
Hello. Tarreau!

Any updates?
It has been reflected in the spec, so please review it positively.

FYI: Below is a sample code modified to transmit dynamic table size update information only once.
[code]

[2022-01-04 09:33] wtarreau commented on #1498
For now the change in the spec is still under discussion between the various participants. As other products are concerned as well, it's important not to rush a quick solution and to make sure the chosen one is reasonably acceptable everywhere and will not add more trouble. There are some absurdities in this situation, for example one agent might have prepared and buffered an HPACK message and mig

[2022-01-04 19:10] sona0108 opened #1504 "The reason why haproxy services went down automatically ?"
### Detailed Description of the Problem

We have 3 haproxy servers in our environment, within 15 hours they went down 1 by 1
here we are raising the request because we think this is likely a bug in HAProxy

Here is the log:

Dec 29 03:23:15 ip-10-53-167-219 haproxy[1281871]: Thread 4 is about to kill the process.
Dec 29 03:23:15 ip-10-53-167-219 haproxy[1281871]: >Thread 1 : id=0x7fa5bcfb3340 act=

[2022-01-04 19:46] wlallemand commented on #1504
Please update to the latest HAProxy version from the 2.2 branch, like mentioned in the link in `haproxy -vv` you posted, this bug could be the result of one of the 405 bugs you are affected by. The latest version of the 2.2 branch is the 2.2.19.

[2022-01-05 01:46] jinsubsim commented on #1498
OK!
Thank you for your answer.

[2022-01-05 06:12] realzero0 opened #1505 "Haproxy Http1.1 SSE Connection TCP Reset"
### Detailed Description of the Problem

I have tested a haproxy reverse proxy for SSE Connection.
I've got several issues.

- By default, haproxy is waiting for the end response of SSE connection (chunked)
  - So, if client kill the connection, the other connection from haproxy to backend server stays forever.
  - Okay, I can understand how haproxy treat connection..

- So, we add `option aborton

[2022-01-05 06:13] curtis18 commented on #1227
@thuybt Did you resolve the issue? I have the same situation as yours.

[2022-01-05 09:57] wdauchy opened #1506 "[v2.4] http errors during reloads behind a L7 LB"
### Your Feature Request

in the following setup where we use a cloud load balancer (ALB from AWS) in front of haproxy, we see regular 502 errors coming from the ALB. Further analysis showed this happening during reloads:
- ALB keeps some idle connections to haproxy
- haproxy reloads, idle connections are closed
- ALB tries to write a request in the idle connections while it did not detected the c

[2022-01-05 10:09] gtt1995 opened #1507 "haproxy_Null-dereference BUG"
### Detailed Description of the Problem

fuzzer crashed.

### Expected Behavior

no crashed

### Steps to Reproduce the Behavior

[code]

### Do you have any idea what may have caused this?

[poc](https://github.com/gtt1995/poc/blob/main/haproxy/146183.testcase)

### Do you have an idea how to solve the issue?

_No response_

### What is your configuration?

[code]

### Output of `haproxy -vv`

[c

[2022-01-05 15:12] git001 commented on #1505
@realzero0 please can you add the required information's like "Output of haproxy -vv" and "What is your configuration?"
Have you checked the latest version on http://www.haproxy.org/bugs/index.html so that you not affected by a know bug?

[2022-01-05 20:41] brad0 commented on #1502
I added to the Makefile..

[code]

and no more atomic alignment warnings.

[2022-01-06 02:03] curtis18 opened #1508 "Support more PostgreSQL authentication methods (not just TRUST)"
### Detailed Description of the Problem

HAProxy is unable to connect PostgreSQL if authentication method is not TRUST.

When /etc/postgresql/14/main/pg_hba.conf contains
host    all             pguser             0.0.0.0/0               scram-sha-256

and run: psql -h 192.168.1.1 -U pguser

The error message is as follows.
psql: error: connection to server at "192.168.1.1", port 5432 failed: serv

[2022-01-06 15:45] rlebreton commented on #1484
There's no proper way to set the servername/hostname of the client in the SSL context from the server-side. The only APIs that exist either operate on the SSL_SESSION only (SSL_SESSION_set1_hostname) which would never work for TLSv1.3 seeing how SSL_get_servername is implemented, or are highly discouraged by the documentation as well as comments in the OpenSSL code (SSL_set_tlsext_host_name that s

[2022-01-06 20:53] wdauchy commented on #1506
now fixed and backported in 2.4

[2022-01-06 20:53] #1506 closed, assigned to nobody

[2022-01-07 13:50] wtarreau commented on #1502
Sure, and thanks for confirming. I just find it sad that we're forced to shut up a total class of warnings for possible real problems just because of an overzealous compiler doing stupid things :-(  I'm seeing that even firefox gave up on this one. If at least there was a level for the warning to differentiate between missed optimization opportunities and real alignment issues...

[2022-01-07 14:05] wtarreau commented on #1502
Applied to 2.6, 2.5 and 2.4 now.

[2022-01-07 14:10] wtarreau commented on #1505
No idea what SSE means here. Anyway, in modern versions, haproxy does its best to mimmick on one side what it got on the other one. If it sees a socket error on the client side, it will try to emit an RST on the server side to do the same (which is one way some servers may use to distinguish an end of transmission from an abort). As Alex said, please fill the version info, that's important. Also p

[2022-01-07 14:14] wtarreau commented on #1507
By mistake you posted the kernel version twice instead of haproxy version. Here your PoC is harmless to the various versions I've tested (2.4, 2.5, 2.6-dev):
[code]

Please tell us your exact haproxy version and/or how to reproduce this if it was not the right way.

[2022-01-07 14:20] wtarreau commented on #1508
This will need someone with some pgsql knowledge to have a look I guess. But I suspect that we should turn this into a feature request to support a different authentication scheme for health-checks.

[2022-01-07 18:37] TimWolla commented on #1505
Server Sent Events most likely: https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events / https://en.wikipedia.org/wiki/Server-sent_events

These are basically a long-running response stream, sending new data whenever something happens.

[2022-01-07 18:45] wtarreau commented on #1505
Ah probably, yes, thanks Tim!

[2022-01-07 20:14] sooslaca commented on #1386
hi @chipitsine , not sure how to properly send a PR or a commit for your repo.
Along with your fix above, I copied the X509_OBJECT definition from https://boringssl.googlesource.com/boringssl/+/refs/heads/2924/include/openssl/x509_vfy.h#120
to
https://github.com/haproxy/haproxy/blob/master/include/haproxy/openssl-compat.h#L180

and it's working.
It compiles again with boringssl (commit: 3a667d10e9

[2022-01-07 20:21] sooslaca commented on #1386
Figured, sent a PR for your branch: https://github.com/chipitsine/haproxy/pull/11

[2022-01-07 20:25] chipitsine commented on #1386
That was not supposed to happen (you could create your own fork), but that's legitimate approach. I'll have a look, thanks!

[2022-01-07 20:44] chipitsine opened #1509 "gcc static analyzer: double free suspect"
### Tool Name and Version

gcc 11

### Code Report

can someone please review it ? if gcc static analyzer is relevant, we can add it to CI

[code]

### Additional Information

_No response_

### Output of `haproxy -vv`

[code]

[2022-01-08 03:22] curtis18 commented on #1508
Thank you @wtarreau . As it is not only affecting the pgsql-check, functionality of load balancing is not working as well.

[2022-01-08 06:08] chipitsine commented on #1507
`haproxy_libfuzzer_ubsan` looks like haproxy was built with `-fsanitize=undefined`

Willy, can you share `146183.testcase` ?

[2022-01-08 06:23] wtarreau commented on #1507
It's the file pointed to by the link marked "poc" in the report above.

[2022-01-08 06:25] wtarreau commented on #1508
I don't see how this is possible, the load balancing does nothing specific at all, there's no pgsql support, it's pure TCP forwarding. I think that the problem you're seeing is simply that since the checks fail, the servers are down and the traffic cannot be sent to the servers.

[2022-01-08 09:59] chipitsine commented on #1386
@sooslaca , I've merged your PR and enabled BoringSSL: https://github.com/chipitsine/haproxy/runs/4747418259?check_suite_focus=true

however, you can do the same in your own fork. I' fine with such PRs, but it looks like non needed step

[2022-01-08 17:31] JackSlateur commented on #1503
Hi @wtarreau
Thank you for the feedback, I understand that there is no plan for user-space tcp stack that would be required to support this setup
Unless another piece of software supports dynamic GENEVE tunnels: as far as I know, iproute2 etc requires static data, and cannot use dynamic per-flow TLV

I will dig further and in other ways and put feedbacks if I find something

Have a nice day

[2022-01-08 17:31] #1503 closed, assigned to nobody

[2022-01-10 01:33] curtis18 commented on #1508
Yes, the check fail and the communication from haproxy to pgsql closes immediately.

[2022-01-10 06:39] wtarreau commented on #1508
Thanks for confirming. I'm going to turn this into a feature request but I need some help to define it. What are the other authentication methods ? Or at least which one do you need to support ? Is there any dependency with certain pgqsl versions ? For example, is the current one being phased out, or is the new one only the default since a recent version ?

[2022-01-10 06:53] chipitsine commented on #1507
@wtarreau , I was able to repro using the following build script

[code]

[2022-01-10 07:19] wtarreau commented on #1507
Thank you Ilya. This report makes no sense to me. I've reproduced it as well and it emits other ones, each time when iterating over statically-allocated sections (and some of them have been there for a decade). I suspect that the sanitizer is overzealous on some optimizations maybe. Without more feedback and context from the original reporter, we may have to close it soon.

[2022-01-10 07:30] wtarreau commented on #1509
I'm not convinced. Here on this example it reports a false positive and I can't even follow the code path the compiler thinks to have found to figure where it's wrong. When you see the code below, it's particularly clear that it cannot fall twice on the same node when freeing `issuer->path`:
[code]

[2022-01-10 07:45] chipitsine commented on #1509
that is what I'm trying to figure out. does gcc static analyzer reports actual issues or false positives.

ok, I'll report current one to gcc and see what will happen on their side

[2022-01-10 07:45] #1509 closed, assigned to nobody

[2022-01-10 07:58] wtarreau commented on #1509
I don't think it's worth bothering them, they probably have many more easily reproduceable use cases.

[2022-01-10 08:09] chipitsine commented on #1509
gcc team was very responsive on my previous reports.

[2022-01-10 08:12] VigneshSP94 commented on #130
@lukastribus @TimWolla can I work on this ticket ? I have never written code in C, but would like to get started with contributing to haproxy. If this still needs fix and I can get some help, I will happily work on it.

[2022-01-10 08:20] wtarreau commented on #1509
OK maybe but we also need to be careful not to pollute them. Typically for a compiler, getting reports that involve lots of macros or generally code that's hard to simplify is not easy. It's like those who report us haproxy problems that only happen in their complex environment. And if the compiler thinks it sees a double-free in such a loop, likely they have other much simpler reports that exhibi

[2022-01-10 09:12] curtis18 commented on #1508
There are many authentication types in pgsql according to https://www.postgresql.org/docs/14/auth-methods. For password authentication, there are "scram-sha-256", "md5", and "password". Before the v10, pgsql uses md5 and cram-sha-256 was introduced since v10 and should be the default password authentication method since v13 and the md5 method cannot be used with the db_user_namespace feature.

Bas

[2022-01-10 09:53] chipitsine commented on #1508
taking into account the complexity of postgresql protocol, wouldn't it be better to implement proxy protocol support on postgresql side ?

https://www.postgresql.org/message-id/20190519155903.GI6197%40tamriel.snowman.net

[2022-01-10 11:08] wtarreau commented on #1508
Pretty detailed, thank you!

[2022-01-10 12:02] trebonius0 opened #1510 "HAProxy returns incorrect (ending with tons of 0x00) content"
### Detailed Description of the Problem

Hello

I noticed today that haproxy returns incorrect data on some calls since last update (2.4.11)

I've clients calling my haproxy, which then calls my apache servers. My apache servers return some content, haproxy returns it, and the md5 of the two content (apache response vs haproxy response) is not the same
I checked the 2 contents, the apache content

[2022-01-10 12:53] trebonius0 commented on #1510
Edit:
It seems the issue is also affecting http 1.1 and not only http 1.0 as I initially though

[2022-01-10 13:07] trebonius0 commented on #1510
Edit2: haproxy 2.2 doesn't have the issue (I switched to that branch)

[2022-01-10 13:08] lukastribus commented on #1510
Does this happen with both HTTP and HTTPS, or are you just using HTTPS here?
If this happens with HTTPS, could you try with HTTP and `option splice-response` in the backend?

If this is a regression in 2.4.11, the following commits sound related @capflam

[code]

[2022-01-10 13:08] trebonius0 commented on #1510
It happens with both http & https (the initial issue I saw was with http only and then I realized it was far more important)

[2022-01-10 13:28] capflam commented on #1510
@lukastribus has right, it is most probably one of the H1 mux bugfix. With a quick test, I'm unable to reproduce the bug. Do you know if Apache announces a content-length ? Could you also confirm or inform it is a 2.4.11 regression ?

[2022-01-10 13:29] idl0r opened #1511 "HAProxy 2.4.11 incomplete responses"
### Detailed Description of the Problem

It looks like only 2.4.11 is affected. In some cases, we noticed some partial responses for example via curl:
`* transfer closed with 14389 bytes remaining to read`

It indeed got only part of the response.

HAProxy logs an internal proxy error:
`somefrontend~ somebackend/someserver 0/0/1/0/3 200 117289 - - ID-- 91/11/2/2/0 0/0 {somehost|curl/7.29.0|||} "GE

[2022-01-10 13:31] capflam commented on #1511
Thanks, It is probably related to #1510. I'm investigating.

[2022-01-10 13:38] xorander00 commented on #1510
Just chiming in to say that I'm seeing the same behavior on my server. I haven't checked http yet, but it's happening on https and I've confirmed that it's not a backend issue. If I get any more info, I'll drop it here if it's helpful.

- FreeBSD 13.0-STABLE 1300522
- HAproxy 2.4.11-1e183b8 2022/01/07

[2022-01-10 13:40] trebonius0 commented on #1510
@capflam Very probably a 2.4.11 regression, as I did the upgrade yesterday evening and got complaints this morning.
Yeah my Apache returns a content-length

[2022-01-10 13:42] idl0r commented on #1510
I tested 2.4.10 some minutes ago, with some additional patches though, but it doesn't seem to be affected, re #1511.
So I'd tend to agree that only 2.4.11 is affected.

[2022-01-10 13:47] capflam commented on #1510
Is it possible to share response headers from Apache and HAproxy ? If it is possible, you may try to enable traces on the H1 mux via the following command:
[code]

It is pretty verbose, but this may help to figure out what happens.

[2022-01-10 14:19] chipitsine commented on #1475
I rather mean something like that [near line 276](https://github.com/haproxy/haproxy/blob/master/src/h1_htx.c#L276) (exact wording yet to be discussed):

[code]

[2022-01-10 14:28] wtarreau commented on #1475
We must absolutely avoid using stderr which is closed once forked, and only shows up when started in debug mode. Rather we should have some suitable flags/status codes for such cases. Admittedly 500 is a bit vague but this doesn't mean we cannot improve this. Also there used to be a discussion about reporting the line number of the last attempted/succeeded http-request rule. Probably that this sho

[2022-01-10 14:37] chipitsine commented on #1475
it can be discussible whether to return 5xx (server-side error, user can do nothing) or 4xx (client side error, may be resolved by changing request), but I'd more like to see relevant debug message when haproxy is started in debug mode.

we are only discussing particular issue caught during vtc execution. as we use debug mode for running vtc, it is nice to expose errors there.

if people will find

[2022-01-10 14:40] roedie commented on #1510
I think I'm hitting the same issue but not with downloading, but with uploading of big-ish (>70MB) TIFF files.

This is shown in my log:
[code]

I'm not using splicing, but the frontend is talking http/2 and the backend http/1.1.

[2022-01-10 14:49] mildis commented on #1510
Issue here too with session state `ID--` (like #1511)
Rolling back to 2.4.10 correct this behaviour.

[2022-01-10 14:51] trebonius0 commented on #1510
@capflam It's weird, for some reason i cannot reproduce the issue anymore, in prod or in a vm

The apache headers are the following (for a simple http/1.1 request)
[code]

[2022-01-10 15:11] capflam commented on #1510
Thanks @trebonius0. @roedie, @mildis, could you share your config please ? Anyone is able to reproduce the issue on a dedicated platform to be able to enable traces on the H1 multiplexer ?

[2022-01-10 15:13] xorander00 commented on #1510
@capflam Mine is dedicated. I have to hop on a a call here shortly though. If I'm not able to get to it before, I'll do it right after unless you're able to reproduce it before then.

[2022-01-10 15:14] trebonius0 commented on #1510
@capflam i shared my config in the initial post of this thread :)

[2022-01-10 15:16] capflam commented on #1510
@xorander00 , many thanks. I'm still trying to reproduce it with no luck for now. @trebonius0, I know. I asked for the config of the other reporters :)

[2022-01-10 15:20] xorander00 commented on #1510
@capflam Just dumped it, and yes it is very verbose lol. I enabled it via the sock & immediately loaded a page. What's funny is that the page loaded fine with the trace enabled (which I did dump to a file). I stopped the trace and reloaded the page and it went back to returning a response size mismatch.

[2022-01-10 15:21] xorander00 commented on #1510
@capflam Which part of the log should I snip? I do need to do a quick review & scrub it of anything that could be sensitive, and I don't have the time to do that for the 3mb log it produced in the span of a few seconds lol.

I just did a search for the hostname I accessed. Will that section + a bit of context before and after suffice?

[2022-01-10 15:26] xorander00 commented on #1510
@capflam [trace.log](https://github.com/haproxy/haproxy/files/7839896/trace.log)

[2022-01-10 15:27] capflam commented on #1510
If there is no error in the traces, it is useless to share it. It may be easier to just log errors in the H1 traces. To do so, you should set the trace level to `error`:
[code]

[2022-01-10 15:27] capflam commented on #1510
@xorander00, I will take a look to your log, many thanks !

[2022-01-10 15:28] xorander00 commented on #1510
@capflam That's the log with level = developer. Let me dump another one with level = error.

[2022-01-10 15:28] capflam commented on #1510
Thanks !

[2022-01-10 15:28] mildis commented on #1510
haproxy running at the edge, TLS-termination :
[code]

haproxy running within the backend server :
[code]

[2022-01-10 15:29] xorander00 commented on #1510
He's looking for runtime trace info as it happens, not configs.

[2022-01-10 15:31] idl0r commented on #1510
I think both is fine, as it is difficult to reproduce at the moment.

[2022-01-10 15:31] xorander00 commented on #1510
@capflam Looks like we have some paydirt.  Here you go...

[code]

[2022-01-10 15:35] capflam commented on #1510
Ok, so, that confirms 5f60d18a2c is most probably the faulty commit. But I'm still don't understand the reason.

[2022-01-10 15:36] xorander00 commented on #1510
@capflam I take it you were able to reproduce it?

[2022-01-10 15:37] capflam commented on #1510
not yet

[2022-01-10 16:36] hujiko opened #1512 "Master CLI gets stuck after running for 10-30 Minutes"
### Detailed Description of the Problem

I am using a Phython-Script that automatically connects to the Master CLI Unix socket, executing
"show proc" and then for every worker "@!<pid> show stat".

I use that to get statistical information (once per Minute) about the currently active, but also about previous workers that still hold connections.

It was working fine in version 2.5-dev2, when a comm

[2022-01-10 16:47] capflam commented on #1510
I guess I found the issue. At least for #1511 (about internal error reports). I'm not convinced it is related to this one. here is the patch:

[0001-BUG-MAJOR-mux-h1-Don-t-decrement-.curr_len-for-unsen.patch.txt](https://github.com/haproxy/haproxy/files/7840388/0001-BUG-MAJOR-mux-h1-Don-t-decrement-.curr_len-for-unsen.patch.txt)

@xorander00, could you try it ? @trebonius0, you may also try it, ju

[2022-01-10 16:48] capflam commented on #1511
@idl0r, Here is a patch that should fix this issue:

[0001-BUG-MAJOR-mux-h1-Don-t-decrement-.curr_len-for-unsen.patch.txt](https://github.com/haproxy/haproxy/files/7840414/0001-BUG-MAJOR-mux-h1-Don-t-decrement-.curr_len-for-unsen.patch.txt)

[2022-01-10 16:56] wlallemand commented on #1512
Just to be sure, are you sure you are reaching the right path, because I see several UNIX sockets and that's confusing:

This is not the same path as the one above

I don't know if it's related to your problem, probably not but it looks like an ugly hack, what are you trying to do here?

[2022-01-10 16:59] capflam commented on #1510
@trebonius0, if your client presets the file size with the announced content length before dumping the response payload, because an internal error is reported and the transfer is interrupted, this may explain why the file size is correct but the file is padded with 0x00.

[2022-01-10 17:04] trebonius0 commented on #1510
That may be why indeed as it's exactly what my code behind my apache server is doing

[2022-01-10 17:06] xorander00 commented on #1510
@capflam Will give the patch a shot here shortly. I build it on FreeBSD via the port, so I'll have to merge the patch into it there.

[2022-01-10 17:08] hujiko commented on #1512
Good point.
I checked:
[code]
That's a symlink, so it ends up in the same file.

I want to execute a script, whenever HAProxy performs a reload, so that I can store that information in a monitoring tool.

[2022-01-10 17:50] xorander00 commented on #1510
@capflam Yup, that patch appears to have fix it (for me at least anyway).

[2022-01-11 01:33] realzero0 commented on #1505
@git001 @wtarreau
I updated the configuration and "haproxy -vv" result.
Sorry for the late response.

And the client always send TCP FIN when it wants to close the connection first.
However, haproxy alway send TCP RST to backends when `option abortonclose` is enabled.

For now without `option abortonclose`, if client connection was closed first, Haproxy always keeps the backend connection until it

[2022-01-11 08:00] capflam commented on #1510
Thanks @xorander00, I'll push the patch then.

[2022-01-11 08:17] vincentbernat commented on #1510
Do you plan to release a 2.4.12 really soon or should we push the patch to users on top of 2.4.11?

[2022-01-11 08:28] chipitsine commented on #1509
I've tried gcc12 (master branch), it's bloody murder

[2022-01-11 08:37] chipitsine opened #1513 "gcc12 build warnings"
### Tool Name and Version

gcc12

### Code Report

[code]
[code]
[code]

[2022-01-11 09:09] lukastribus commented on #1510
I suggest releasing `2.4.12` with the fix.

[2022-01-11 09:19] roedie commented on #1510
Would this also fix the upload problem? Or is that a different bug?

I can try the patch later today to test that...

[2022-01-11 09:35] capflam commented on #1510
@roedie, it is indeed the same issue. And a 2.4.12 will be released very soon.

[2022-01-11 09:37] capflam commented on #1511
I'm closing this one because it is a duplicate of #1510.

[2022-01-11 09:37] #1511 closed, assigned to nobody

[2022-01-11 09:47] idl0r commented on #1510
Will there be other fixes as well, in .12? I'm building 2.4.11 with your patch right now and going to deploy it on 2 production LBs.

[2022-01-11 09:51] capflam commented on #1510
f82afbb9c will be backported too.

[2022-01-11 10:00] capflam commented on #1510
Backported as far as 2.4. I will emit a 2.4.12. Thanks guys !

[2022-01-11 10:00] #1510 closed, assigned to nobody

[2022-01-11 10:02] capflam commented on #1510
FYI, I'll also emit a 2.5.1.

[2022-01-11 10:03] idl0r commented on #1510
Perfect, thanks, Christopher!

[2022-01-11 10:19] idl0r commented on #1510
FYI: Right now, there's no more errors logged on the patched 2.4.11 LBs. Prior to the patch, the logs contained some errors immediately and continuously.
So at a first glance, it looks good!

[2022-01-11 10:20] capflam commented on #1510
Thanks for your feedback @idl0r !

[2022-01-11 14:32] hujiko commented on #1512
I still fail to reproduce it outside of our production environment.
I guess it has something to to with having loads of open connections simultanously and also constantly reading from the Master-CLI

But I was able to narrow it down.
The Bug for me was introduced between v2.5-dev6 and v2.5-dev7.
See diff here: https://github.com/haproxy/haproxy/compare/v2.5-dev6...v2.5-dev7

I saw some code change

[2022-01-11 15:09] wlallemand commented on #1512
I don't see anything related to this in the changelog. And unfortunately no, we don't use any lock for this feature.

However, I might have an idea about what's going on, I don't use `nc -U` often and it looks like it doesn't close the connection by default, like `socat` does, and no timeout is set on the master CLI. So maybe you just exhausted the maxconn of the master CLI which is 10. Maybe you

[2022-01-12 08:06] wtarreau commented on #1489
@doradojl for your info 2.2.20 was just released with that fix backported. I'm closing the issue now to keep the list clear, but do not hesitate to open a new one if you still face a problem.

[2022-01-12 08:06] #1489 closed, assigned to nobody

[2022-01-12 08:12] wtarreau commented on #1512
@hujiko locks held will block all other uses of the same lock, and haproxy is very strict on this, it waits no more than 2 seconds before killing the process (you never want your LB to stay up but deadlocked in production).
So it must not be related. Also if you're only sending "show proc" it doesn't involve variables either.

Potential candidates include the various fixes on the channels (end of

[2022-01-12 08:18] wtarreau commented on #1513
Thanks Ilya.

- For the snprintf(), I suspect that the issue goes away if the returned value is tested.

- For ABORT_NOW(), we have this because we already tried to work around abuse of warnings, so it seems that we'll have to hide it behind an asm() statement once for all.

- For the atomic_add(), it makes no sense, `cum_conn` is declared as long long, it cannot be of size zero. I don't understan

[2022-01-12 08:25] wtarreau commented on #1505
So this is a special case we probably need to adjust, however you have to be aware that making haproxy send a FIN to a server immediately makes your haproxy machine vulnerable to a trivial DoS since it will be the one accumulating the TIME_WAITs on outgoing connections, resulting in the impossibility to establish new ones from the same ports during 1 minute. This is why as much as possible when ha

[2022-01-12 08:30] wtarreau commented on #207
Just found this report that remained unresponded and was not noticed. 1.9 is dead but the question is general and I'll respond before closing.

The reason for your observation is that there isn't a 1:1 relation between FD and connections. Historically haproxy has always made sure to be able to sustain `maxconn` end-to-end connections from client to server. Some FDs are used by listeners, some by s

[2022-01-12 08:30] #207 closed, assigned to nobody

[2022-01-12 08:35] wtarreau commented on #985
Sorry for missing this one, and 2.1 is now dead, but here's a short response before closing.

server-state-file was designed to allow the passing of previous dynamically changed settings from an older process to a new one. The problem in its design is that it didn't evolve sufficiently to make the distinction between deliberate changes and previous config values, so some settings have a higher pri

[2022-01-12 08:35] #985 closed, assigned to nobody

[2022-01-12 08:47] doradojl commented on #1489
Thanks for your support!!

[2022-01-12 10:01] realzero0 commented on #1505
Okay thanks. I understand. That's why it might be better haproxy may have an option to send TCP FIN in this case.
We already had several L4 level solutions on our traffic management. We can handle the surge traffic of special cases.
So, I am really appreciated if you make some change on my case. That's really helpful.

First of all, we expected that proxy will close the connection with the signal

[2022-01-12 10:21] wtarreau commented on #1505
Again, to try to be clear, it's not a matter of adding an option but of making sure we do exactly what is expected and nothing more. But as I explain it **will** open you to risks of DoS. And your L4 stuff will not change anything to that. When you have 64k source ports that are blocked for one minute, you can be saturated with only 1k requests per second, which is quite low. This can be achieved

[2022-01-12 10:23] domdom82 opened #1514 "Request for property ssl_c_r_dn: Client certificate root CA DN"
### Your Feature Request

HAproxy should provide an additional property called `ssl_c_r_dn` similar to the existing ones `ssl_c_i_dn` and `ssl_c_s_dn`. The property should provide the full distinguished name of the root ca that was used when completing the chain of trust during client certificate validation by HAproxy.

### What are you trying to do?

The existing properties show the DN of the iss

[2022-01-12 10:38] hujiko commented on #1512
Good catch. But sadly this was not my issue. I checked and there were not processes running any more that could potentially still hold a connection to that socket.

I tried compiling everything up to this commit: aab8d255bc0fcbcc50884a4be4f69598ee08fe73 (which is from yesterday)
but the issue still occurs.

By going through the git history, compiling versions and test them, I was able to trace it

[2022-01-12 10:50] wtarreau commented on #1512
Thanks for this! That's really not cool. So basically we have the choice between two bugs. We'll need to sit down around a table and analyse them in depth, we can't continuously fix and revert patches to satisfy only half of the users at a time :-(

CC @capflam

[2022-01-12 11:04] capflam commented on #1512
Hum, that's annoying because this commit reverts some changes to go back to a solution used since a long time. So I'm surprised it blocks the CLI. We must first check if it is not a side effect.

[2022-01-12 11:22] hujiko commented on #1512
Totally agree. Reverting the revert is not a solution.

If you need/want me to apply any kind of patch to see, if it solves my problem: I am very happy to do that.
My knowledge about stream handling is too limited to properly understand, what this code is doing :/

[2022-01-12 12:02] realzero0 commented on #1505
Okay, I understand.
I have a question. On production, we will have different configurations.
[code]
In addition, on backend, we will have 4 IPs to be connected.
I think max connections per ip will be 32500 and max sessions per second wil be 1250.
In this case, do you still think DoS happening?

I don't have enough information about the firewall. So, I am not able to explain details.
On my case, se

[2022-01-12 13:30] wtarreau commented on #1505
It depends. First, with 1250 conn/s you'll reach 75k connections after 60s, definitely more than the 64k source ports max you can configure. Also, source ports are more commonly configured around 28k (32768-61000) than 64k. And finally the maxsessrate applies to incoming connections, but with a single H2 connection you can have 100 concurrent streams resulting in up to 100 parallel connections, th

[2022-01-12 13:34] wtarreau commented on #1512
Anyway we need to consider all this as a whole. The fix you attempted Christopher was valid but broke other issues. In parallel there's abortonclose which only partially works nowadays as reported in #1505. I think it's interesting that we have several corner cases to consider together to see if we can design a better and more robust solution to all these problems of shutdowns and aborts.

[2022-01-12 16:39] wtarreau commented on #130
@VigneshSP94 sure, feel free to have a look at it! Please take the time to read CONTRIBUTING and doc/coding-style.txt to avoid initial mistakes, this should be of great help. The parts that you'll be interested in are located in src/cfgparse-listen.c.

[2022-01-13 09:31] capflam commented on #1466
I'm closing this issue with the `invalid` label because it doesn't seem to be a bug in HAProxy.

[2022-01-13 09:31] #1466 closed, assigned to nobody

[2022-01-13 09:47] capflam commented on #1463
I'm closing this issue with `works as designed` label because it seems there is no bug here. Feel free to reopen it if I'm wrong.

[2022-01-13 09:47] #1463 closed, assigned to nobody

[2022-01-13 09:49] capflam commented on #1479
I'm closing this issue because without more info, we are unable to investigate on it. Feel free to reopen if it is still an issue for you. Thanks !