[2020-11-23 08:20] capflam commented on #956
About the http action to wait the message body, it is one my todo-list but with a low priority. So I don't know how it could be available but probably not soon. But it will do more or less the same than the `http-buffer-request` option.

About the SPOE, the ability to stream the message payload to an agent for analysis or rewrite is on the long term roadmap. But here again, I have no idea when it

[2020-11-23 08:20] #956 closed, assigned to nobody

[2020-11-23 08:26] StanleyP commented on #956
Thank you very much for all the tips and clues, especially usage of tcp-request/tcp-response content!! For some reason I thought that these are only permitted in tcp mode proxies, mea culpa.
With these informations I think I am able to implement what I need.

[2020-11-23 08:44] hynek commented on #971
So we meet again Benjamin! The two HAProxy-with-DNS-SD users! 🤪

Ah sorry, I get those too, when I talk directly to consul (as HAProxy does):

[code]

(N.B. that there's two services on node  `0a03004c.addr.scaleup.consul.` hence the `allow-dup-ip` option).

Nomad does that for me. Since both are Hashi products, they are well-integrated.

Yes, possibly hundreds at once. A cluster node can have up

[2020-11-23 08:50] capflam commented on #936
@wtarreau, it is not the same issue. #945 is about the use of an HTTP proto with a pure tcp-check ruleset. Thus the bug was sending raw data to an htx mux.

[2020-11-23 08:58] hynek commented on #971
I've just drained our biggest node and it was again cdn who failed. _Maybe_ interesting: it's the only service that has 4 backends. `cdn-4` is the one that doesn't come up:

[code]

vs

[code]

They seem to have the same value.

And the value is correct:

[code]

---

I haven't reloaded it this time in case you want me to prod something more.

[2020-11-23 09:02] bedis commented on #971
Actually, the DNS query and the servers state don't report the same thing: if you look cdn-4 server in state file, it has the wrong IP address (10.3.0.79) versus 10.3.0.65 in the response sent by consul. cdn-2 server was updated properly.
My guess is that the algorithm which updates SRV stops at "first match", which triggers a "leak" in your case.

[2020-11-23 09:07] capflam commented on #936
@VigneshSP94, if possible could you recompile your HAProxy with following options and let me know if it crashes at another place :

[code]

`DEBUG_UAF` have a cost but with a low traffic, it should be ok.

[2020-11-23 09:43] hynek commented on #971
Ohh yeah, it resolves the SRV correctly, but then fails to resolve the hostname of the service and/or propagate it into HAProxy.

I think it's obvious but just for posterity: the A record of `0a030041.addr.scaleup.consul` **never** changes.

Well, that sure is a first solid lead for you! :) Can I reload my HAProxy now or do you need anything else?

[2020-11-23 10:36] bedis commented on #971
I think I have what I need, you can reload your HAProxy :)

[2020-11-23 15:42] rfrail3 commented on #909
Thanks for the patch, I've been trying to check it getting the repo on this commit, compile and test with the following configuration, but it produces a segfault:

[code]

Conf working:

[code]
Test:
[code]

Only uncomment "http-response del-header Server", with the others, the result is the same:

[code]
Strace: https://pastebin.com/SUsCs2a6

[2020-11-23 15:56] capflam commented on #909
Unfortunately, the init of the log-format list has disappeared from the last version of the patch. A `LIST_INIT(&rule->arg.http.fmt);` is missing in `parse_http_del_header()` function.

[2020-11-23 16:02] mzdeb commented on #909
Ouch :( I must have deleted it by accident and didn't notice in `git diff`. :( @capflam should I send a patch with `LIST_INIT` to the list or here?

[2020-11-23 16:04] capflam commented on #909
@mzdeb , as you wish. Thanks !

[2020-11-23 16:16] wtarreau commented on #909
It probably explains the two crashes I got on soft reloads on haproxy.org:
[code]

[2020-11-23 16:27] mzdeb commented on #909
I keep on "sorrying" in my emails... ;) but again I must say that I'm sorry. I've sent a patch to the mailing list which restores the initialization of the list.

Why it didn't occur during execution of reg-tests and when I've tested in manually? I guess because I didn't compile with PCRE. :(

Edit: Ah`haproxy -c -f haproxy.cfg` reg-tests didn't validate the config and probably when I tested manua

[2020-11-24 06:44] bedis commented on #971
I also found a way to reproduce your setup in consul:
[code]
Now consul exposes me the following:
[code]

By the way, you can remove those useless (for HAProxy today) TXT records by enabling this option: https://www.consul.io/docs/agent/options#enable_additional_node_meta_txt

[2020-11-24 06:55] hynek commented on #971
Is there any reason to do that, except that it's not necessary rn? I prefer to run our stuff as stock as possible since it usually bears the least surprises.

[2020-11-24 07:05] bedis commented on #971
Only if you have big farms and want to have more records in the limited 8K responses :)

[2020-11-24 09:27] yoshz commented on #934
@capflam Sounds great. Any plans on implementing this? :)

[2020-11-24 10:27] StanleyP commented on #956
Still could not get it working using tcp-request/tcp-response content send-spoe-group.

I created sample configuration I am experimenting with called contentdebug.zip
To run it, just invoke: docker-compose up and make http request using curl (e.g. `curl -d '{}' http://localhost`)

[contentdebug.zip](https://github.com/haproxy/haproxy/files/5589130/contentdebug.zip)

## Configuration

### haproxy.c

[2020-11-24 11:00] capflam commented on #934
On second thoughts, only the first version is possible. Or I should also add a way to interrupt the expect rules evaluation on success. But such scripting options must be evaluated first because there are probably many other ways to do so and maybe more convenient.

So, about the L7OKC status on error, I guess I can easily add it on my spare time. It is not an huge work. However, note it may only

[2020-11-24 11:32] capflam commented on #956
Don't use `req.payload()` and `res.payload()` from an HTTP proxy because the data are structured and raw data cannot be extracted. I will update the documentation because it is not obvious for now. In addition, I will return an error if these sample fetches are called on an HTTP stream. Sorry about the confusion. Use `req.body` and `res.body` instead.

BTW, you must first wait for data before send

[2020-11-24 12:01] StanleyP commented on #956
Ok, so I cannot access raw payload from http mode proxies. With req.body/res.body I will only get body and not raw request line and raw headers. My goal is to inspect raw wire content sent to/from haproxy.

Btw, I posted my issue in the mailing list as you suggested

https://www.mail-archive.com/haproxy@formilux.org/msg39041.html

For me the main issue is that the SPOA is called only once by tcp-r

[2020-11-24 12:10] capflam commented on #956
So, I will continue the discussion on the ML to avoid any brain split :)

[2020-11-24 13:00] Roxyrob commented on #200
How this solution resolve following cases:

[code]
or
[code]

we get

[code]
for the first as "$" will be always variable expanded as "$)". For the second one as "$,"

[2020-11-24 13:19] wlallemand commented on #200
It's unrelated, use the single-quotes instead of the double-quotes in your case. So the $ won't be expanded.

[2020-11-24 14:24] Roxyrob commented on #200
I just tried single-quote and I get:

[code]
Instead
[code]
Doesn't seems to correctly tell regsub to interper $ as end of line.

Tried also single quote internally "%[path,regsub('^mypath(/|$)',/)" with same error. Cannot escape $ or get error for regsub.

As now the only working rule was
[code]
not managing url /mypath and without $ naturally all url starting with /mypath will match

[2020-11-24 17:27] tmccombs commented on #200
I think you need the quotes inside the function call, like:

[code]

[2020-11-24 18:03] Roxyrob commented on #200
Hi @tmccombs
As stated I tried many syntax variations without success. Also single-quote as you suggested:

[code]

returns

[code]

[2020-11-24 19:52] apenney-beeswax commented on #958
Just to pick this up a little bit - I thought we were looking good (because generally we've been much better) but I realized we're still reliably crashing over and over:

[code]

This is with much reduced CPU (so we're not maxing out constantly), but we still crash routinely.

[2020-11-24 20:26] apenney-beeswax commented on #958
@wtarreau Is it possible that setting `ssl-mode-async` would potentially help here? My theory being that we might unblock the thread fast enough to not die?  I'm going to experiment in the meantime with log sampling (I might have to use very aggressive sampling settings given the amount of qps we push through these machines, we're doing about 33k QPS per node right now).

[2020-11-24 21:50] apenney-beeswax commented on #958
Just to briefly update, I tried a round of tweaks including ssl-mode-async:

[code]

I added `tfo` and `option tcp-smart-connect` as well as they seemed relatively risk free.

Still resulted in:

[code]

So we know none of that stuff made a significant difference.  Next I'll go back to figuring out sampled logging.

[2020-11-24 22:39] apenney-beeswax commented on #958
With log sampling, I do see a gap that matches the deadlock time:

[code]

We had multiple logs (10 or so) a second before that time period, so it definitely was not processing anything for the full two seconds.

[2020-11-25 03:16] wtarreau commented on #958
Thanks a lot for these new outputs. So they confirm that the process really gets stuck for more than two seconds. Could you please provide a gdb backtrace of one of these crashed processes so that we have more detailed context about how the problem happens ? I still can't imagine we're stuck that long in a syscall, so all that remains is a bug in haproxy causing us to loop, and I have no idea how

[2020-11-25 03:41] wtarreau commented on #958
I'm seeing two places in `connect_server()` where we could possibly spend some time, one of them is the `list_for_each_entry()` loop looking for a connection, but for it to take a lot of time, it would mean having millions of idle connections, which sounds strange, and the other one is the attempt to kill excess connections later in the function, which is done under the idle_conn lock, where we co

[2020-11-25 04:19] VigneshSP94 commented on #936
@capflam sorry for the delay.

I compiled with options you provided.

[code]
I see the segfaults, does the given compile option meant to provide us more info about the issue? Where can I  get them from?

[2020-11-25 04:26] wtarreau commented on #936
The purpose of the given options is to maximize the probability to crash on the faulty code instead of on the victim code (i.e. the one that writes after a free instead of the one using the data that was accidentally overwritten). It's indeed expected that you will continue to get segfaults, but the hope is that the location is different. Thus, please provide a gdb backtrace of the new core, with

[2020-11-25 04:38] VigneshSP94 commented on #936
@wtarreau Thanks, @capflam , here is it -

[code]

[2020-11-25 06:44] wtarreau commented on #936
Thanks. So it crashes in the check for invalid pool. Given that the pool pointer is at the end of the pool, it serves as a canary and very likely indicates an overflow. Could you please issue the following commands:
`p *(struct buffer*)0x7fe1e4120fa0`, `p *(struct htx *)0x5639c51cdc50`, and `p *(struct pool_head *)0x5639c51d93b0` ? The first one should report a copy of the null buffer, the second

[2020-11-25 07:25] bedis commented on #971
So, while I can't reproduce the problem with my consul environment (even with a fake DNS server), I found a bug which might be the same as yours: when the server returns the same hostname in SRV target, the first one is well taken into account, but the next ones are ignored and fall back to A/AAAA resolution.
This means that HAProxy currently send a SRV query for all servers and A /AAAA for any du

[2020-11-25 07:28] wtarreau commented on #936
And while I'm at it (I'll try not to mess up), it would be nice to also have the pool_link pointer at the end of the struct, which should be: `p *(void **)(0x5639c51cdc50 + ((struct pool_head *)0x5639c51d93b0)->size)`. On a valid object, it must always equal the pool's pointer (i.e. 0x5639c51d93b0) but here it's not the case and that's why it crashed. Thanks!

[2020-11-25 07:32] VigneshSP94 commented on #936
Sure, I tested this re-compilation on version 2.2.4. I can do on different versions and report if that may help.

[code]

[code]

[2020-11-25 07:36] chipitsine opened #973 "src/connection.c: null pointer dereference suspected by coverity (new finding)"
[code]

[2020-11-25 07:39] wtarreau commented on #936
Thanks! So that's getting really weird now. The pool's configured size is 40kB while your buffers are 16kB as seen in the htx struct. The estimate of the average need of entries is negative! I'm starting to suspect that the pool's head got overwritten.

Could you please also try this: `p *(void **)(0x5639c51cdc50 + 16384` ? This will print what the end pointer should theorically be, we'll see if i

[2020-11-25 07:40] hynek commented on #971
I'm afraid I have no infra to test that so we'll have to wait for a release and re-convene?

[2020-11-25 07:42] VigneshSP94 commented on #936
Do we need the whole output? I just grabbed what it printed

[code]

[2020-11-25 07:44] wtarreau commented on #936
That's fine, thank you. So basically we don't know where that buffer's end is supposed to be :-/
Normally it should be there. But given the strange value, everything is possible. For me it's clear that you're suffering from a memory corruption. A few were recently fixed, would you be interested in updating to latest 2.2-maint from git plus an extra backport that's not already there ?

[2020-11-25 07:46] bedis commented on #971
Ok, I can prepare a patch and get it backported so you can test, hopefully this will fix it :).
I keep you updated once the patch is available.

How do you deploy HAProxy today?

[2020-11-25 07:47] ashrash commented on #200
Hi I have a similar issue,

I need to escape a '?'. has anyone tried it ?

[2020-11-25 07:51] wtarreau commented on #936
Just in case you're interested, here's the patch I'd like you to apply on top of latest 2.2-git, to make sure we have all known bugs addressed.

[0001-BUG-MAJOR-connection-reset-conn-owner-when-detaching.patch.txt](https://github.com/haproxy/haproxy/files/5595143/0001-BUG-MAJOR-connection-reset-conn-owner-when-detaching.patch.txt)

[2020-11-25 07:52] hynek commented on #971
We run a mirror of the unofficial PPA. That's why I can switch between versions easily.

[2020-11-25 07:57] capflam commented on #936
Well just wait a bit. I'm on something really ugly in the checks... I may have wrong of course. I need a coffee first.

[2020-11-25 08:00] wtarreau commented on #936
Same for me :-)

[2020-11-25 08:10] bedis commented on #971
@bdossantos do you have a chance to give a try to that patch before I send it upstream?

[2020-11-25 08:18] capflam commented on #936
Ok, I identified a huge bug in checks. Most probably your bug. The input/ouput buffers used by the health checks and agent checks are allocated during startup using a classical memory allocation. However since the checks refactoring, it is totally unexpected. I will fix this bug but it will be a bit painful. So be patient :)

[2020-11-25 08:21] wtarreau commented on #936
Then it probably also explains the difference of 16 vs 40kB if they were allocated before the buffer size was changed ?

[2020-11-25 08:25] capflam commented on #936
for sure ! And there is another crap here. Because health-checks buffer may have a different size than others, thanks to `tune.chksize` global option.

[2020-11-25 08:36] zino7825 opened #974 "cpu usage is high after Haproxy version upgrade ( 2.2.5 )"
## Detailed description of the problem

We are using cpu pinning and assigning cores by http bind and ssl bind.
We experienced high cpu usage in http bind assigned cores after version upgrade ( 2.2.5 )
We fixed high cpu usage after downgrade to 2.2.4

## Steps to reproduce the behavior
1. use thread mode
2. cpu pinning by http and ssl
3. use 2.2.5 version

## Do you have an idea how to solve the i

[2020-11-25 08:52] a-denoyelle commented on #972
I have tried to reproduce the issue but to no avail. Do you observe this frequently ?

[2020-11-25 09:03] jaroslawr commented on #972
@a-denoyelle Its definitely rare and hard to reproduce manually.

[2020-11-25 09:35] wtarreau commented on #972
I don't even see how it is technically possible at all. @jaroslawr could you send me privately a dump of such a stats page ? (not the screenshot, the HTML output by pressing Ctrl-S in the browser) ? I want to see there if we spot any pattern in the output code that could indicate that some entries maybe couldn't be added or something like this.

The reason why it shouldn't happen is that there are

[2020-11-25 09:37] wtarreau commented on #974
Could you please also post the output of haproxy -v on the faulty one, just in case we can spot something ?

[2020-11-25 09:38] wtarreau commented on #974
Also running "perf top" a few seconds and showing the first lines may help: it could indicate roughly where something is getting weird.

[2020-11-25 10:00] wtarreau commented on #200
I can't figure why the single qute doesn't work to escape the string in your example above, however I got it to work with double quotes outside and single quote around the arguments (sadly the only examples involving regsub in the doc use it the other way around, wihch doesn't prevent the '$' from being evaluated). I need to better explain in the doc how parsing is done.

[code]

[2020-11-25 10:09] TimWolla commented on #200
see also: #712

[2020-11-25 11:03] wtarreau commented on #939
So the reporter finally confirmed that one node missed the upgrade and that with all nodes up to date, the bug is definitely gone. Closing now. The backport to 2.2 was already done.

[2020-11-25 11:03] #939 closed, assigned to nobody

[2020-11-25 11:04] wtarreau commented on #214
FWIW the Vary patches were just merged in 2.4-dev.

[2020-11-25 11:10] wtarreau commented on #964
Excellent, that's great news. It's indeed unfortunate that your auth cookies are so close to the default size limit!

So may we close this issue in the end ?

[2020-11-25 11:13] bdossantos commented on #971
Hi, thank you for the patch. To test I need to build manually a custom docker image with you branch. Not sure I'll have the time today.

[2020-11-25 11:23] wtarreau commented on #967
I marked it as broken a few days ago with commit 413788991. It needs to be redesigned.

[2020-11-25 11:25] wtarreau commented on #966
Shame on me for not having noticed it when I added a few examples for quotes. This part needs to be rewritten to explain the top-down parser anyway. Thanks for the tip!

[2020-11-25 12:07] jaroslawr commented on #972
@wtarreau I didn't preserve the HTML source and it is hard to reproduce this, so I sent you the best I've got so far - the uncensored screenshot.

[2020-11-25 13:29] wtarreau commented on #972
Thanks @jaroslawr it was helpful. For others, it's visible in the capture that what is reported as a frontend actually is not a frontend but a regular server in the middle of all other ones, because all the numbers, byte counts, limits etc match. In addition, where it happens it looks like it punches a hole in the numbering (for example we could have servers 240-245 then a frontend then it goes on

[2020-11-25 13:45] capflam commented on #936
@VigneshSP94 could you try the 2 following patches ? You should apply it on top of the latest 2.2-git or on top of the 2.2.5.

[0001-MINOR-tcpcheck-Don-t-handle-anymore-in-progress-send.patch.txt](https://github.com/haproxy/haproxy/files/5597025/0001-MINOR-tcpcheck-Don-t-handle-anymore-in-progress-send.patch.txt)
[0002-BUG-MAJOR-tcpcheck-Allocate-input-and-output-buffers.patch.txt](https://github.

[2020-11-25 13:45] Roxyrob commented on #200
Hi @wtarreau,
on what haproxy version you got your example to work ? Eventually what is the min version supporting that ?

[2020-11-25 13:52] bedis commented on #971
sure no rush :)
In the mean time, I'll run some more tests.

[2020-11-25 13:55] wtarreau commented on #200
I did it on 2.2 to 2.4-dev. It changed with 2.2 to a top-down parser instead of left-right so that parenthesis, brackets and commas are finally supported in arguments.

[2020-11-25 14:03] apenney-beeswax commented on #958
I do have one interesting bit of information (I'll try to get a gdb backtrace as requested), I just switched one machine from arm to intel and so far I've seen no crashes in ~12 hours of running.

I checked this morning and a random arm box has crashed 3 times in the last 3 hours, so this seems pretty significant.  I want to give it another 3-4 hours just to be sure I wasn't getting lucky, but thi

[2020-11-25 14:12] wtarreau commented on #958
It would be rather surprising but could be related to the libc's implementation of the syscalls, or an issue in the kernel. I do use ARM quite a bit as well and never encountered that case yet.

[2020-11-25 14:35] a-denoyelle commented on #947
Indeed the algorithm for the connection reuse does not handle this case properly (even with http-reuse never). There will be some ground work on this area in the following weeks so maybe we can design a solution for it. Currently I do not see an alternative to the option http-server-close.

[2020-11-25 17:00] apenney-beeswax commented on #958
OK, I have a bunch of coredumps.  I'm not an expert gdb user, so I might need guidance, but here's a quick look:

[code]

[code]

(I picked thread 8 as the only other one not in listener_accept())

Happy to do whatever is useful now, including just sending these coredumps to you somehow, I have several of them locally at this point.

[2020-11-25 17:07] apenney-beeswax commented on #958
Lack of symbols probably makes this unhelpful, I tried to get more info:

[code]

[2020-11-25 17:20] wtarreau commented on #958
The one dying in process_runnable_tasks() is amazing, because that's precisely the one that resets the watchdog in the loop, so by definition, unless it's stuck looping forever on a corrupted tree, it should not die there. We've recently found and addressed a few very nasty bugs that could cause random memory corruption, having such behaviors as possible side effects. So I'd be interested in havin

[2020-11-25 17:28] apenney-beeswax commented on #958
For sure on the /proc/cpuinfo front:

[code]

(There's a lot more cores, but all identical).  For next steps I'll figure out how to get the ppa we use (https://launchpad.net/~vbernat/+archive/ubuntu/haproxy-2.3) rebuild with the latest sha from git so we're identically configured, but on newer code!

[2020-11-25 17:43] wtarreau commented on #958
Very interesting, I thought it was an in-house CPU but no, it's a Neoverse N1 core from ARM (in short an upgraded Cortex A76, using ARMv8.2A). Now I know what I want for Xmas :-)  I've never run tests further than ARMv8.0 (Cortex A72), so I cannot completely rule out the possibility that we did something wrong (especially with the loop in process_runnable_tasks). By the way, when you rebuild, plea

[2020-11-25 18:01] apenney-beeswax commented on #958
In the meantime, I realized the ppa does have the debug symbols as a package which means... (from a different node than before):

Nov 25 12:29:18 fes-lb-eu-west-1-ip-10-3-20-7 haproxy[2001792]: Thread 7 is about to kill the process.

[code]

[code]

[code]

[2020-11-25 18:14] wtarreau commented on #958
There's a catch, the thread numbers seen by gdb do not match the thread numbers in the process (that's one of the pain points that don't help debugging). It's possible to figure them by entering the thread and issuing `p tid`. But here it's not nedeed. Gdb shows that thread 1 is the one that raised the signal, hence it's the dying one. So you'll need to switch to thread 1 and issue `bt full` again

[2020-11-25 18:18] apenney-beeswax commented on #958
Aha, I didn't realize that, that definitely explains why I didn't see "signal handler called" which I expected to see!

[code]

[2020-11-25 18:34] wtarreau commented on #958
Ah that's getting better! So basically we're waiting on the takeover_lock that's currently held by the other thread you initially dumped (7) which itself is waiting on a MT_LIST_ADDQ(). And everyone else is waiting on MT_LIST_TRY_ADDQ() which should normally not wait, or MT_LIST_BEHEAD() which should be fast. So definitely we're observing a deadlock here. I remember that Olivier had spotted a poss

[2020-11-25 19:30] cognet commented on #958
IIRC it was not a barrier issue, but there's a small race condition in what is now called MT_LIST_TRY_ADDQ/MT_LIST_TRY_ADD, because nothing prevents something from adding the element between the time we check if it is not already in a list, and the time we add it. But that would only happen if we add those elements to different list, and given the usage of MT_LIST_TRY*, it's probably not the issue

[2020-11-25 19:40] wtarreau commented on #958
OK thanks. I've just found that in commit 3b8f9b7b8 I fixed a missing barrier issue that was extremely difficult to trigger and mentioned that I suspected another missing one that I couldn't demonstrably claim was missing. I think I'll have to recheck that. In the worst case I could propose a tentative patch adding barriers on each line for a test. It doesn't hurt.

[2020-11-25 19:41] cognet commented on #958
Ah hmm there are multiple lists, nowadays, so it MAY be an issue. I updated my patch, it's the fixed version of the one you backed out, so it should be fine, but I only tested it very ilghtly.
[0001-BUG-MEDIUM-lists-Lock-the-element-while-we-check-if-.txt](https://github.com/haproxy/haproxy/files/5598903/0001-BUG-MEDIUM-lists-Lock-the-element-while-we-check-if-.txt)

[2020-11-25 19:43] wtarreau commented on #958
Cool, anyway with Ashley we'll soon have an idea :-)

[2020-11-25 19:54] apenney-beeswax commented on #958
I won't be able to apply this today (and possibly tomorrow, thanksgiving interfering), but I'll try to get it applied on the friday (or saturday at the latest) and we'll see if this helps!   I want to say thank you to both of you (@cognet and @wtarreau), regardless of if this works, for helping on this issue!

[2020-11-25 19:56] wtarreau commented on #958
Great, thank you! Olivier, I think that you ought not to have removed the two store barriers before the break, they were the ones that fixed the crashes for me on the octo-A53. And if you look closely you'll notice that you're using the barrier-less _HA_ATOMIC_XCHG() and that you'll need a barrier there at the end. So I would suggest to re-add the `_ha_barrier_store()` before the two `break`. But

[2020-11-25 20:03] cognet commented on #958
Yep you're probably right, updated version with barrier added :
[0001-BUG-MEDIUM-lists-Lock-the-element-while-we-check-if-.txt](https://github.com/haproxy/haproxy/files/5599019/0001-BUG-MEDIUM-lists-Lock-the-element-while-we-check-if-.txt)

[2020-11-25 21:37] wtarreau commented on #958
Thanks! I'll try to find some time to run it on my octo-A53 and the quad A72 tomorrow, since at least the former was very sensitive to this code path. If it doesn't change it will be a good hint already!

[2020-11-25 22:02] AGSaidi commented on #958
@wtarreau if you'd like access to a Graviton2 system please let me know.  I'm happy to also lend my experience with barrier placement.

[2020-11-25 22:32] AGSaidi commented on #958
There might be a barrier missing as @wtarreau has postulated. The core in graviton2 is much more aggressive than the A57/72 generation about re-ordering memory operations.

Couple of quick comments which probably aren't the root cause, but might be something to look at. The `pl_cpu_relax()` is empty for everything but x86. In other projects (e.g. MySQL) we've found putting an `isb` there is a reas

[2020-11-26 00:57] Roxyrob commented on #200
Ok, on 2.3.1 it is working with external single and internal double quotes

[code]

Not working this (with external single quotes only)

[code]

Also, the first one seems correctly parsed but the regex correctly change "/mypath" to "/" but not seem to change "/mypath/" to "/" leaving "/mypath/". Am I doing something wrong ?

[2020-11-26 01:17] Roxyrob commented on #200
I am sorry my mistake, regex with (/|$) seems to work, I'll do more testing to be sure.

Thank you a lot

[2020-11-26 03:53] wtarreau commented on #958
Hi @AGSaidi !
Thanks for the offer, I'd say "why not". In parallel I'll check with HaproxyTech if I can have an always-on c6g available for testing. A Spot instance shouldn't be expensive and should be available often enough for most use cases.

Regarding the use of `isb`, that's an excellent idea, it should significantly reduce the cross-CPU noise caused by periodic polling of the lock! I can eve

[2020-11-26 04:34] AGSaidi commented on #958
Hi @wtarreau!

Around 16 threads it seems to start to make a lot of difference and by 64 it's very noticeable.

The runtime check i'm referring too isn't quite as bad as you first think. Something like the following is what i had in mind that gets optimized into 1 very predictable branch. In most cases i've had trouble seeing performance differences between it and a compile time check.
[code]
I've

[2020-11-26 04:54] VigneshSP94 commented on #936
@capflam and @wtarreau I've applied the patches on 2.2.5 and compiled it, I do not see any segfaults now. Can this be applied on 2.2.3? or this is only for 2.2.5?

Thank you and appreciate all your effort on fixing this !

[2020-11-26 06:11] wtarreau commented on #958
I'm not surprised it makes such a huge difference. While I love the semantics of LL/SC which allow to perform complex operations at once, I also understand why it cannot scale when the contention is high: everyone starts an operation that it cannot complete if it takes too long. In such a case, exponential backoff is a must but can add unfairness in non-uniform core clusters.

Regarding the test,

[2020-11-26 09:49] wtarreau commented on #200
FYI I'm currently writing the doc section explaining how the config parser works and who quotes and escapes must be used. It's almost done, this will significantly help because we all get into trouble once in a while there.

[2020-11-26 09:58] capflam commented on #936
@VigneshSP94 Thanks ! It's a good news. I will push it soon. About the provided patches, I guess they could be applied on the 2.2.3. But except if you have a good reason to stay on the 2.2.3, it is better to use the latest release.

[2020-11-26 10:02] wtarreau commented on #936
Just to reinforce @capflam's statement, 2.2.5 is actually 2.2.3 + the set of all the fixes that were collected since. So there is zero reason for staying on 2.2.3 when 2.2.5 is there. And I think we'll soon issue 2.2.6 since we already have quite a few fixes in all branches.

[2020-11-26 10:39] EmericBr commented on #963
re-checking the rfc3164, the hostname field seems mandatory, So I would prefer to introduce a "local" format as you propose firstly to strip the hostname.

Your opinion?

[2020-11-26 10:46] wtarreau commented on #963
I think it's definitely the way to proceed since it's indeed the output format that's affected. It would be nice to adjust the doc to mention clearly that rfc3164/rfc5424 always add the hostname and that it was not the case prior to 2.3, and that "local" may still be used to keep the old format if needed.

Hmmm wait a minute, I seem to remember a "log send-hostname" option or something like this i

[2020-11-26 11:33] #970 closed, assigned to nobody

[2020-11-26 11:45] zino7825 commented on #974
@wtarreau okey i will add what you requested after re-upgrading

I wonder that is it spec in Haproxy 2.2.x ??

This graph is RPS chart.
  - high graph : 2.2.x version server
  - low graph : 2.1.x version server

if method:POST AND protocol: http/1.1
![image](https://user-images.githubusercontent.com/5656233/100352449-56ef0300-3030-11eb-9f04-b2b6afd33094.png)

if method: POST AND protocol: http/2.0

[2020-11-26 17:52] wtarreau commented on #200
should be OK now with he fix above (we can still improve it, of course).

[2020-11-26 17:57] wtarreau commented on #974
We faced this already in the past, I don't remember what issue it was, I think it was @wdauchy who encountered the exact same situation, but I could be wrong. I seem to remember that we noticed that 2.2 was able to absorb requests and responses much faster than 2.1 and took a higher share of the load, resulting in a higher CPU usage there and lower one on the other nodes.

BTW if you're about to u

[2020-11-26 18:04] wtarreau commented on #967
Updated the status to "future fix" which is more suitable here. Let's remove tags for versions where it was disabled.

[2020-11-26 18:11] wtarreau commented on #712
Now done, closing. This will likely be backported to some stable branches as part of the usual doc backports.

[2020-11-26 18:11] #712 closed, assigned to nobody

[2020-11-27 01:36] Roxyrob commented on #200
Thank you @wtarreau

Regex are rarely a simple matther unfortunately... documentation are always welcome.

Also we meet 2 troubles, if you could help would be appreciated as we cannto find real solutions:

1. Upgrade to 2.3.1 from 1.8.2 with same haproxy configuration introduced "SSL handshake failure" for Win7 clients. We do not find niformation on documentation/release notes. It was disabled by

[2020-11-27 03:59] bedis commented on #971
So, I tried to reproduce your issue by generating many cases, introducing NX in the mix, etc.. But I couldn't.
I sent the patch to the ML this morning and asked for a backport to 2.2.

[2020-11-27 04:35] wtarreau commented on #200
For question 1, please open a new issue if you don't find this one addressed in an existing one.

For Q2, there are solutions. One of them is the `debug` converter which can emit the output to stdout or to a ring that you consult on the CLI. It passes the input to the output unmodified and duplicates it to the output. We could have called it "tee" :-)  In your case you could for example do this:
[

[2020-11-27 05:06] wtarreau commented on #958
Guys, first good news, after having had an access on a c6g instance, I managed to reproduce a crash after 3 hours of hammering 16 threads, and it died there:
[code]

The less good news is that after applying Olivier's second patch, it died after 49s here:
[code]

It's worth noting that I've initially suspected another missing barrier in MT_LIST_POP which died in the first entry of the loop, but it

[2020-11-27 05:28] wtarreau commented on #958
That's not enough, now we're crashing here:
[code]
Looks like an MT_LIST_BUSY leaked there after an MT_LIST_DEL.

I've found that MT_LIST_UNLOCK_ELT and friends do not use any barrier after updating pointers, and these are used in the iterators, but this doesn't explain this crash since we don't use them for tasks/tasklets. I added some anyway and fired the test again.

[2020-11-27 05:37] VigneshSP94 commented on #936
@capflam @wtarreau thank you !

I will hang on till 2.2.6, would this fix be included in 2.2.6 ?

[2020-11-27 05:40] wtarreau commented on #958
So as expected that didn't help. Crashed after 7 minutes, staying stuck for 2 seconds here:
[code]
There's another thread on the same entry: tasklet_insert_into_tasklet_list():
[code]
So none of them is the same pointer (fortunately!). No other thread is touching these pointers, still we're seeing a BUSY stuck here.

[2020-11-27 05:47] wtarreau commented on #936
It should, both patches mention having to be backported to 2.2 so yes (unless we mess up) they will be in 2.2.6.

[2020-11-27 06:07] vasanth-pandian commented on #573
Hi @bedis
Just wanted to confirm the behaviour. Let's say, if i use the below configuration.

[code]

Case 1:
Even if my DNS Server fails, last valid resolution will be used & traffic will still flow to my backend servers for 15m.

Case 2:
Assume no issues with my DNS server or resolution. If i add new backend servers (which gets added to DNS records automatically), since resolution is happening f

[2020-11-27 06:28] zino7825 commented on #974
* `haproxy -v`
[code]
* perf top
![image](https://user-images.githubusercontent.com/5656233/100417737-e8a85000-30c4-11eb-977c-3c701e31a329.png)

* Same role server group
* version : 2.2.5
![image](https://user-images.githubusercontent.com/5656233/100417835-1392a400-30c5-11eb-8c9a-63c2377672dc.png)
* version : 2.2.4
![image](https://user-images.githubusercontent.com/5656233/100417852-19888500-30c5-

[2020-11-27 06:33] zino7825 commented on #974
if i use same version 2.2.x to same service group, there is no balance problem.
but 2.2.5 version server has been used high cpu usage if i use mixed version 2.2.4 and 2.2.5.

[2020-11-27 07:25] wtarreau commented on #958
Out of curiosity I tried to add load barriers before the first XCHG in the loops but it didn't change anything:
[code]
Now trying using old __sync_* API to try to narrow the problem down further.

[2020-11-27 07:41] wtarreau commented on #974
This fix in 2.2.5 addressed a bug in the scheduler that was introduced in 2.0: `563eede24 ("BUG/MEDIUM: task: bound the number of tasks picked from the wait queue at once")`

A potential problem was that the scheduler would process an unlimited number of tasks under load and create a big unfairness resulting in some threads possibly staying stuck processing plenty of tasks and not doing I/O, then

[2020-11-27 07:52] wtarreau commented on #958
It crashed again after 15mn but I couldn't get the core due to an FS full. So maybe we're still having too weak ordering between some pointers. Starting again gave the same trace as above, except the list entry is correct at the moment of the dump:
[code]
Given that the pointers were valid, it means they were caught bad for a short time (maybe the next/prev pointers were not properly written befor

[2020-11-27 08:00] wtarreau commented on #958
Now trying again with some load barriers before the XCHG referencing a pointer learned from the previous step. I'll check the result later.

[2020-11-27 08:05] wtarreau commented on #958
Did not help:
[code]

[2020-11-27 10:24] wdauchy commented on #974
yes, it looks very similar to what we saw as well, at least while speaking about v2.1 to v2.2 migration: higher cpu usage (between 5 and 10% depending on cases) but much better QPS capacity. and the graph above seems to confirm that.

the number I remember were up to x3 in qps capacity in some ideal cases (http1 pipelining) from 2.1 and 2.2.

[2020-11-27 11:38] capflam commented on #936
Fixed now in upstream. It will be backported this afternoon to 2.3 and included in the next 2.3 release. Same will be done for the 2.2 the next monday.

[2020-11-27 11:39] capflam commented on #934
FYI, it was pushed in 2.4-dev.

[2020-11-27 14:08] capflam opened #975 "Extend agent-check (HTTP support, tcp-check scripting rules...)"
## What should haproxy do differently? Which functionality do you think we should add?

It may be convenient to perform agent checks resquesting a HTTP agent. It is nowadays pretty easy to write a small HTTP server is almost any programming language. However, I don't know if the current agent check can be extended or if we should add a new check type (http-agent-check for instance). Of course othe

[2020-11-27 14:32] capflam opened #976 "Add HTTP action to wait message payload (http-buffer-request replacement)"
## What should haproxy do differently? Which functionality do you think we should add?

It is possible to wait for the request payload using the `http-buffer-request` option. But there is no equivalent on the response side. It is a bit annoying to add an equivalent option for the response because it means an new http analyser is required to do so. A better idea would be to add an HTTP action to wa

[2020-11-27 15:41] EmericBr commented on #963
Here a proposed patch. I hesitate between "local" or "legacy" for the re-introduced log format

[2020-11-27 15:44] EmericBr commented on #963
[0001-BUG-MEDIUM-local-log-format-regression.patch.txt](https://github.com/haproxy/haproxy/files/5608605/0001-BUG-MEDIUM-local-log-format-regression.patch.txt)

[2020-11-27 15:45] AGSaidi commented on #958
The thread sanitizers can sometimes help track these sorts of problems down.

I’ve not yet groked the code in question but I’m happy to try and help if you want to walk though the code with me.

[2020-11-27 15:59] Roxyrob commented on #200
Thank you @wtarreau,

The first solution works, I see "before" and "after" variables content in debug mode:
[code]
I Tried second solution without success, setting

[code]

curl -L -v http://test1.example.com/mypath returns

(curl)
[code]

So I see only the "before" format request , cannot see "after" forma request (as sent to backends). Using tcpdump on backend the regex works as no /mypath arriv

[2020-11-27 17:08] beluc commented on #874
Got quite the same for smtpchk. Was working fine under 1.6.14 but since 2.2.5 check is broken. I tried trace too but I'm not familiar with it so don't know what to check after.
Regards.

[2020-11-27 17:57] capflam commented on #874
If it doesn't work for smtpchk it may be a different issue. Thus provide more info: config and logs. The above trace commands are only useful to debug HTTP/1 checks. Or better, open a new issue. This one is more or less a dead end. No info since 2 months.  If finally you really hit a bug, we will be annoyed once fixed to close this issue because there is no way to know if it is the same issue or n

[2020-11-28 09:02] tmccombs opened #977 "Abstract Unix sockets need to preserve address length"
## Detailed description of the problem

Using an abstract unix socket does not work as expected. From the man page for the unix address family:

(emphasis mine)

However, the code for parsing a `abns@` address does not have any method of preserving the length of the socket name. So if, for example the address was given as `abns@test`, then instead of using the abstract unix socket "test" it will u

[2020-11-28 10:22] wtarreau commented on #958
Today I modified the code to tag each pointer so that we have different values in n->p and p->n. I crashed again and I got x1 (next) = 9 which is BUSY3 in my code. It's used only at a few places:
[code]

While MT_LIST_LOCK_ELT() fails to set any barrier on success, it's not used so it's not this one.

All other ones are using store barriers before breaking out of the loop. Thus my conclusion is th

[2020-11-28 11:18] wtarreau commented on #958
I now have a suspicion that I'm testing. I don't know if it's possible that an atomic xchg and a write to the same location are reordered (write after write), but if so then we could have the probem in the rollback code when the race is lost because we could see the old value being written first, then the exclusive write finish and overwrite the value with the busy tag. I've tried to adjust this w

[2020-11-28 11:43] wtarreau commented on #958
I'm wondering if we're not having a race between `MT_LIST_BEHEAD` and `MT_LIST_ADDQ`. The `LIST_DEL_INIT` in `__tasklet_remove_from_tasklet_list` operates on a detached list that cannot be shared. But what if MT_LIST_ADDQ unlocks the list's head too fast, letting MT_LIST_BEHEAD proceed ? We could then have a detached list where a BUSY still remains, causing the subsequent LIST_DEL_INIT() to see a

[2020-11-28 12:09] wtarreau commented on #958
OK no more crashes this way, we're getting closer :-)

[2020-11-28 13:08] bedis commented on #971
Adding a 2 cents here. I spent some time yesterday and today to install a Nomad + Consul cluster. First time I played with Nomad by the way.
I was able to reproduce the problem when I shutdown one of the nomad client where instances of my application is running. Then, I checked again with a "patched" HAProxy and I can confirm the patch fixed the bug.

I'll update you once it has been accepted and

[2020-11-28 13:26] hynek commented on #971
Wonderful, thank you! You may want to update the tags. :)

[2020-11-28 13:42] bdossantos commented on #971
Magnifique ! Merci

[2020-11-28 15:03] AGSaidi commented on #958
@wtarreau is there an assumption in `MT_LIST_TRY_ADDQ()` and `MT_LIST_BEHEAD()` that the atomic exchanges of the `prev` and `next` pointers will occur in order (e.g. between the following)? It appears as this is the case, but `_HA_ATOMIC_XCHG()` is using `ATOMIC_RELAXED` ordering so there isn't anything guaranteeing the exchanges will happen in order. Perhaps a load barrier is required between the

[2020-11-28 15:18] wtarreau commented on #958
I initially tried to place load barriers before every XCHG because I wasn't sure about load ordering but that didn't help (though they possibly are necessary). Also I got the crash even using the old __sync_* API. with this said there should normally not be any ordering requirement between these two macros since the lost race is pessimistic and undoes everything to try again from the beginning.

B

[2020-11-28 15:43] wtarreau commented on #958
here's the revised fix for tryadd and the patch for isb.
[fix-tryadd-2.diff.txt](https://github.com/haproxy/haproxy/files/5610824/fix-tryadd-2.diff.txt)
[0001-MINOR-plock-use-an-ARMv8-instruction-barrier-for-the.patch.txt](https://github.com/haproxy/haproxy/files/5610825/0001-MINOR-plock-use-an-ARMv8-instruction-barrier-for-the.patch.txt)

[2020-11-28 15:55] AGSaidi commented on #958
@wtarreau nice! can you try the same test but compiling with `-march=native` or `-march=armv8.2-a` depending if the OS you're using understands the core or not? I wonder what the performance is like with the new atomics which are also fair.

The reason I say there appears to be an ordering assumption with the XCHGs is that i don't see the store barriers paired with anything. The store barriers are

[2020-11-28 16:05] wtarreau commented on #958
Just tried with `-march=native`, I'm shocked, the performance went up by +250% (101k -> 357k). I'm still looking for issues but can't find anything wrong, so very likely the native atomics succeed way more often than the LL/SC ones!

Regarding the possible missing barriers I agree on principle because during my first review I'm sure I noticed some that I addressed. They're not in the patches above

[2020-11-28 16:13] wtarreau commented on #958
It just died with a corrupted tree node in the scheduler :-(
[code]

I'm having a problem when I read the tasklet_wakeup() code because I see nothing that can protect against the competing MT_LIST_BEHEAD() in process_runnable_tasks(): if we extract only a single task, the list will have a single entry which will appear empty, and allow tasklet_wakeup() to queue it into the shared list again, while

[2020-11-28 16:15] AGSaidi commented on #958
The atomics are fair unlike the exclusives and the cost of acquiring a contend one is lower, so for something with lots of contention it makes a huge difference. I've seen those types of gains in databases before, so it's not unheard of and really the reason I mentioned the detection mechanism above. The gains can be so huge that the runtime check is worth it.

[2020-11-28 16:23] wtarreau commented on #958
OK but really no, that's a limit I'm not going to pass any time soon. dynamic checks at the core of the inmost loops and everywhere atomics are used is going to mess up with the compiler's optimizations, branch prediction, will significantly inflate the code, and worse, will make it way harder to debug. The code is opensource, and the 0.001% of users who need to soak the latest drop of extra perfo

[2020-11-28 16:46] AGSaidi commented on #958
Understood.

[2020-11-28 21:59] apenney commented on #958
I have nothing new to add, just wanted to reiterate my endless thanks for continuing to tackle this one!

[2020-11-28 23:39] lukastribus commented on #977
This is expected behavior, as documented:

[code]

That's just not true, it works completely fine and used very often.

[2020-11-29 05:27] tmccombs commented on #977
Ah, I see. I missed that in the documentation. I'm fine with closing this then.

[2020-11-29 06:39] wtarreau commented on #958
@apenney if your machines are still crashing often you may apply the two patches I proposed above. For me that doesn't crash anymore, unless built with `-march=native` (which we still need to properly address). So I don't claim it will solve everything yet but I think it will be way more stable than what it currently is.

[2020-11-29 08:13] rfrail3 opened #978 "Add to declare capture an id option"
## What should haproxy do differently? Which functionality do you think we should add?

Add "id" option to "declare capture slot" or document how it gets their number.

## What are you trying to do?

This is a working example configuration of the use of "declare capture" in a frontend/backend configuration:

[code]

The backend capture push the content of the variable to the frontend capture, but

[2020-11-29 12:48] #977 closed, assigned to nobody

[2020-11-29 16:57] wtarreau commented on #958
I've just implemented a scheduler stress test which significantly eases these tests. Now with `-march=native` I can crash it in less than one second with only 2 threads. Without, it takes 16 threads and 128 tasks to crash in roughly 20 seconds. This will definitely help getting this fixed! For those curious, I'm just issuing this:
[code]

[2020-11-29 17:04] AGSaidi commented on #958
Seems like a great thing to run under tsan and see what it flags

[2020-11-29 17:34] wtarreau commented on #958
Possibly, but I don't know tsan at all, I first learned its name in your previous message :-/

[2020-11-29 19:59] AGSaidi commented on #958
I think i'm missing something. I grabbed the latest changes with the sched test you just committed and haven't seen it crash with `expert-mode on;debug dev sched tasklet single=1 count=128`. Can you share the config your starting haproxy with?

Separately,  Running the sanitizer at haproxy startup it flags a number of data races around the `update_list` `sleeping_thread_mask` and `fdtab`. I'm not

[2020-11-29 20:27] wtarreau commented on #958
Sure, the config only has this:
[code]
I managed to get it to die even with 2 threads but it's easier with 16 it seems.

There definitely is a race between LIST_DEL_INIT() in run_from_tasklet_list() and MT_LIST_TRY_ADDQ() from tasklet_wakeup_on(). I'm now working on replacing that with an extra flag to reliably mention that the tasklet is in the queue. We used to rely on the fact that is wasn't de

[2020-11-29 20:55] AGSaidi commented on #958
Now I made it happen... I attached the sanitizer output, but this one seems to be the race you found.
[ngnix-tsan-sched.txt](https://github.com/haproxy/haproxy/files/5612851/ngnix-tsan-sched.txt)

[code]

[2020-11-30 09:58] EmericBr commented on #963
@wtarreau the patch is tested, the behavior is described in comment. let me know if you prefer the name "legacy" instead of "local" for the log  header format.

[2020-11-30 10:21] EmericBr commented on #963
Note: with that patch, if format is forced to rfc3164 and log-send-hostname is not specified, the string "localhost" is used as hostname in the header. If rfc5424 is is forced without "log-send-hostname", default value "-" is used for hostname as documented in rfc. This is a side effect but in this way the hostname is never exposed since the user doesn't request this explicitly using "log-send-hos

[2020-11-30 10:54] f1-outsourcing commented on #807
@bedis
The majority of users are on the level of wordpress admins with bad logics. You will have lots of people with simplistic approach like @roidelapluie. You should stay close to the core of the idea of high availability.

1.
If you have to choose between running with 4 nameservers instead of 5, or not run at all. I would choose running (see discussion).
Many do not even have own nameservers, s

[2020-11-30 11:43] beluc opened #980 "2.2 : smtpchk not working as in 1.6"
Hello,

## Detailed description of the problem

I recently upgraded from 1.6 to 2.2 and our backend servers are not seen UP anymore using smtpchk.

in 1.6 log :

[code]

in 2.2 log :

[code]

funny thing is that "300 KO" are correctly handled by 2.2 :

`Nov 30 12:20:33 haproxy-1479 haproxy-36250[877]: Health check for server 149050/127.0.0.1:779 failed, reason: Layer7 wrong status, code: 300, info

[2020-11-30 12:08] ac-obair commented on #964
It's something to be aware of going forward.

Yes, close away! Thanks for your insight.

[2020-11-30 12:28] wtarreau commented on #958
Regarding the races you've found, I suspect the initial ones are harmless because of the way we need to boot (we have to collect previously stored event and re-apply them to each thread). The one on the pool allocator could possibly be related to the double-word CAS: we're reading both initial values, storing them in a local struct and performing the comparison. There's no load barrier here, but I

[2020-11-30 12:29] #964 closed, assigned to nobody

[2020-11-30 13:10] capflam commented on #980
The smtp health-check performs a connection establishment and expects to receive a 2xx response (normally, it should be a 220). Then it sends the helo/ehlo command and expects to receive another 2xx response. The health-check module has been refactored in the 2.2 and the smtp check now follows this scenario. In previous versions, the check is hardcoded and sends the command before reading anything

[2020-11-30 13:48] beluc commented on #980
Great ! It works like a charm. thank you

[2020-11-30 13:48] #980 closed, assigned to nobody

[2020-11-30 14:45] mmaster-digmia opened #981 "Haproxy 2.3.1 (and any version since 2.2.0) crash on double free / corruption in pool_evict_from_cache"
## Detailed description of the problem

Haproxy 2.2.0 up to 2.3.1 randomly crashes with double free / corruption in pool_evict_from_cache processing HTTP 1 as well as HTTP 2. Doesn't happen on previous versions 2.1.7 and 2.1.3. This happens only on production environment with high traffic.

For your idea traffic is about this in low end and up to 3x this in peaks (but happens even in this case):
c

[2020-11-30 14:56] capflam commented on #981
You are using h2 health-checks. A major bug was fixed in this area that may explain your crashes. The fix is b381a505c. For the record, it is probably a duplicate of #936.

The 2.3.2 was released few days ago and it includes the fix. I will release the next 2.2 in few hours with the fix too.

So you may try the 2.3.2 or just wait the 2.2.6.

[2020-11-30 15:14] mmaster-digmia commented on #981
Thank you for your response. We are going to try and build 2.3.2 and test it and I will get back to you if it helped or not.

[2020-11-30 15:17] capflam commented on #981
Copy that ! Thanks

[2020-11-30 16:15] a-denoyelle commented on #968
I can reproduce your issue. I have captured the traffic, the tls client is properly sending its certificate but the server (haproxy) refuses it with decrypt_error. On the verify callback, the error returned is X509_V_ERR_CERT_SIGNATURE_FAILURE. The error happens internally to openssl and I do not see how to take the control over it.

In any case, the behavior is identical with nginx and also with

[2020-11-30 16:59] chipitsine opened #982 "src/debug.c: resource leak suspected by coverity"
[code]

[2020-11-30 17:39] capflam commented on #966
Now backported to 2.3 and 2.2.

[2020-11-30 17:39] #966 closed, assigned to nobody

[2020-11-30 17:40] capflam commented on #936
Now backported to 2.3 and 2.2. The 2.3.2 and 2.2.6 releases include the fix.

[2020-11-30 17:40] #936 closed, assigned to nobody

[2020-11-30 19:28] wtarreau commented on #958
So finally I pushed all the fixes after hours of testing. @apenney you should definitely build using `CPU_CFLAGS="-O2 -march=native"`. I now reach 400-420k req/s here, versus 101k in armv8-a mode, so the scaling will be much better and it's even likely that you could reach the same amount of performance as before on a smaller machine, and achieve more stable results. For now it's only in 2.4-dev.

[2020-11-30 19:35] apenney-beeswax commented on #958
I'll get a box up this afternoon/tomorrow morning with 2.4-dev and we'll get you some results!

[2020-11-30 19:41] wtarreau commented on #958
Excellent, thank you!

[2020-11-30 19:47] AGSaidi commented on #958
Thanks so much for diving into this @wtarreau.

Regarding TSAN, I don't see barriers used after the various flags are consumed. I could be missing them, but the core isn't enforcing an order between the load that says the flag is set and subsequent loads in that case and one of the subsequent loads could be read ahead of the read that sets the flag.

For example, the following is insufficient to g

[2020-11-30 20:11] wtarreau commented on #958
I agree, I noticed a few that matched this pattern, and in my opinion the reason it currently works is that there tends to be some nearby instructions which introduce these barriers. Initially we were only using sequentially consistent atomics but these were progressively relaxed with store barriers factored. However I'm fairly certain some load barriers are missing as I tried to add initially.

[2020-12-01 06:00] wtarreau commented on #963
That's a good point I hadn't thought about, thanks for the explanation! Now merged.

[2020-12-01 06:17] wtarreau commented on #978
Hi Ricardo,

I just checked the code, and the ID corresponds to the direction-specific "declare" order, and it starts at zero. I think that it could be modified to support declarations in a random order but we need to be careful as it will leave holes if large numbers are used and may mean plenty of empty fields will be emitted. I'm seeing that the `http-request capture ... len` rules declare new

[2020-12-01 08:19] axel7born opened #984 "timeout http-keep-alive doesn't work after upgrade to 2.2.5"
## Detailed description of the problem
After updating haproxy from version 1.9.15 to version 2.2.5, we see that connections are not closed after `timeout http-keep-alive`.
With version 1.9.15. a tcp connection is closed, if the client doesn't send a new request for a longer time than specified by timeout http-keep-alive.
With version 2.2.5 this doesn't happen.
We also tested with 2.3 and it doesn'

[2020-12-01 09:26] a-denoyelle commented on #984
It seems the issue is triggered when using the ssl on the bind directive. I'm investigating on it.

[2020-12-01 10:54] haproxyFred commented on #984
@a-denoyelle I have removed my previous comments which were due to wrong testing on my side.

[2020-12-01 11:06] a-denoyelle commented on #984
My initial assumption is also wrong, the bug can be triggered with a plain connection.

[2020-12-01 11:09] capflam commented on #984
I'm able to reproduce the bug and indeed the http-keep-alive timeout is no more considered. I'm on a fix.

[2020-12-01 11:20] capflam commented on #984
@axel7born, could you test the following patch please ? I'm pretty sure it works but a confirmation is still good.

[0001-BUG-MINOR-mux-h1-Handle-keep-alive-timeout-for-idle-.patch.txt](https://github.com/haproxy/haproxy/files/5622158/0001-BUG-MINOR-mux-h1-Handle-keep-alive-timeout-for-idle-.patch.txt)

[2020-12-01 12:32] axel7born commented on #984
Hi @capflam, I tested your patch and can confirm that it works.
Thanks a lot for this fast fix!
:thumbsup:

[2020-12-01 13:21] capflam commented on #984
Thanks for the quick feedback

[2020-12-01 17:28] agirot opened #985 "server-state-file issue with "show servers state" command"
## Detailed description of the problem

Since few release (1.7?), the "show servers state" command returns the port of each backend server and the "load-server-state-from-file" parameter overwrites all ports of the config file.

## Expected behavior

Mismatch between HAProxy's documentation and HAProxy's behavior:

https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#3.1-server-state-file

[2020-12-01 21:55] apenney-beeswax commented on #958
The canary with the 2.4 stuff is a day late - I needed to roll all our various config changes on intel out to all our running nodes, so that's keep me busy.  Wrapped that up this afternoon finally, so tomorrow I'll start figuring out how to wrangle our automation to let me drop an updated 2.4 binary into!  Sorry for the delay in confirming we're good here.

[2020-12-02 02:27] wtarreau commented on #958
Ashley, no stress, really! I'm already thankful for all the tests you've gone through, and I know it's never easy to deploy test code without taking too much risk, not even mentioning the time it usually takes. As I said, if it's easier for you to run a patched 2.3 or 2.2, let me know and I'll work on the backports. And if it's too much of a pain to test, don't go through the hassle, you'll upgrad

[2020-12-02 07:35] rfrail3 commented on #978
Hi Willy,

About the ambiguity problem, looking it from an other point of view, maybe `http-request capture ... len ... id ...` can do less things, loosing their `len` parameter and falling back into a `declare capture ... len ... id ...` defined in other line, something like:
[code]
I think that splitting the configuration on that way allows to focus the `http-request` over the http flow and the

[2020-12-02 09:20] wdauchy commented on #984
ah interesting, I was looking for an-already-made report, and I see there is also already a fix
thanks @capflam

[2020-12-02 09:56] wdauchy commented on #984
@capflam was it introduced by
commit 69f2cb8df386cc5eee19f7d51da32570cbc1efe8 ("BUG/MINOR: mux-h1: Be sure to only set CO_RFL_READ_ONCE for the first read") ? Because it seems like I did not had this issue in v2.2.3 (to be confirmed though) and this commit was introduced in v2.2.5

[2020-12-02 10:19] capflam commented on #984
Hum, I don't know. I was too lazy to bisect :) But I don't think so. For me, the commit 2c1f37d353, first pointed by @haproxyFred, is a better candidate. However the commit ca39747dcf is required to observe the bug I guess. Otherwise you will just have no timeout at all...

[2020-12-02 10:41] wdauchy commented on #984
ah thanks, interesting pointer

[2020-12-02 15:20] robm-github opened #986 "HAProxy v2.0.19 not respecting force-tlsv10"
## Detailed description of the problem

I recently built out a new HAProxy server on Ubuntu v20.04.1 and HAProxy v2.0.19. I copied across the same HAProxy config that is currently in production on Ubuntu v16.04.7 and HAProxy v1.6.3. I had to manually upgrade via PPA as latest version available from Ubuntu was v2.0.13 which has known bugs and the HAProxy site recommended this upgrade to latest avai

[2020-12-02 18:43] TimWolla opened #987 "2.4: Vary handling of cache does not properly handle duplicated headers"
## Detailed description of the problem

If the acceptable encodings are sent as distinct headers instead of a comma-separated list within a single header the HAProxy cache will cache incorrect responses.

## Expected behavior

HAProxy should never deliver unacceptable responses.

## Steps to reproduce the behavior

[code]

## Do you have any idea what may have caused this?

`http_request_prebuild_

[2020-12-02 18:50] TimWolla opened #988 "2.4: Vary handling of cache affected by hash collisions"
## Detailed description of the problem

It is possible to make HAProxy deliver unacceptable cached responses to a client.

## Expected behavior

HAProxy must never send unacceptable responses.

## Steps to reproduce the behavior

[code]

## Do you have any idea what may have caused this?

`crc32(gzip) ^ crc32(br) ^ crc32(xxx) ^ crc32(jdcqiab)` is equal to `crc32(gzip)`

## Do you have an idea how

[2020-12-03 02:23] wopincm commented on #874
I have a similar problem, my haproxy version is 2.3.0
This is my configuration:
[code]
Problems using this configuration
[code]
This problem did not occur in haproxy version 2.0
Use curl to test
[code]
If you rewrite `option httpchk OPTIONS /master` to `option httpchk GET /master`, haproxy can work normally, but `Exception happened during processing of request from 172.16.34.243:53240` appears in

[2020-12-03 09:20] wopincm opened #989 "Use `option httpchk OPTIONS /master` in `listen`,`HAProxy` reports backend `DOWN`"
## Detailed description of the problem

Use `option httpchk OPTIONS /master` in `listen` (in my case it is `PostgreSQL` with `patroni`), `HAProxy` reports backend `DOWN` and displays log message:
[code]
It seems to work with `option httpchk GET /master` configuration

If you rewrite `option httpchk OPTIONS /master` to `option httpchk GET /master, haproxy` can work normally, but `WARNING: Exception

[2020-12-03 11:21] mmaster-digmia commented on #981
We are running haproxy-2.3.2 for 2 days already without any crash so it looks like it was really related to the bug you mentioned. Thank you for your help!

[2020-12-03 11:23] capflam commented on #981
Ok, Thanks for the feedback. I will mark the issue as a duplicate of #936

[2020-12-03 11:24] capflam commented on #981
Duplicate of #936

[2020-12-03 11:24] #981 closed, assigned to nobody

[2020-12-03 11:26] capflam commented on #989
It seems to be a duplicate of #874. The reporter also uses Patroni. Because I'm unable to reproduce this behaviour, with an HTTP server or a netcat script, I guess there is a compatibility issue with Patroni. Now, we should dig. With the 2.1 and lower, the HTTP health-check is performed in raw TCP, building the request by hand and matching on the response without any parsing, while on 2.2 and uppe

[2020-12-03 13:44] a-denoyelle commented on #968
Just for more information, I also did a test with s_client / s_server and I have the same behavior : the 2nd certificate is rejected.

We could reimplement the callback to build the chain of certificates on haproxy but it is a big amount of work, with the risk of introducing bug/security flaws so this is very unlikely.

[2020-12-03 14:09] bedis commented on #971
@hynek  what tags are you speaking about?

So, I reviewed the patch and it will work in a single case, which seems to be the way consul works, but I have no idea for other DNS servers.
The case is that for each SRV records, then we must find a A/AAAA in the additional section. IE:

       ;; ANSWER SECTION:
       _http._tcp.be2.tld.     3600    IN      SRV     5 500 80 A2.tld.
       _http._tcp.b

[2020-12-03 14:10] bedis commented on #971
The RFC 2782 is not very clear about that point:

    Target
        The domain name of the target host.  There MUST be one or more
        address records for this name, the name MUST NOT be an alias (in
        the sense of RFC 1034 or RFC 2181).  Implementors are urged, but
        not required, to return the address record(s) in the Additional
        Data section.  Unless and until permitted

[2020-12-03 14:15] bedis commented on #709
I have a nomad cluster and I am trying to reproduce this issue.

[2020-12-03 14:22] bedis commented on #709
@maxadamo here is the output of my SRV response for my nomad UI:
I do have a single Nomad server in my cluster, but this should work the same. I did not see the address records (A/AAAA) in the additional section in your output.

    dig -p 8600 @nomad1.h.lo _nomad._http.service.dc1.consul -t srv
    ;; ANSWER SECTION:
    _nomad._http.service.dc1.consul. 0 IN   SRV     1 1 4646 0a2a0147.addr.dc1.c

[2020-12-03 14:30] bedis commented on #709
Now, I created a frontend / backend for the nomad UI:

    frontend fe_nomad_ui
     bind 127.0.0.1:4646
     default_backend be_nomad_ui

    backend be_nomad_ui
     server-template nomad 5 _nomad._http.service.dc1.consul check resolvers consul

HAProxy can resolve this server:

    [WARNING] 337/152919 (4077310) : be_nomad_ui/nomad1 changed its IP from  to 10.42.1.71 by consul/consul.
    [WARN

[2020-12-03 15:26] hynek commented on #971
`status: needs-triage` mostly.

Since the RFC is clear and Consul does what the RFC wants, I'm more than happy with your solution. :)

[2020-12-03 17:50] ethaniel opened #990 "CRT bundle containing an RSA+ECDSA certs disables RSA ciphers"
## Detailed description of the problem

I loaded 2 keys into a folder: `key.pem.rsa` and `key.pem.ecdsa` for one domain (same CN). I referenced only `key.pem` via CRT and reloaded haproxy. Haproxy stopped returning `TLS_RCA_*`, `TLS_DHE_*`, `TLS_ECDHE_RSA_*` ciphers and only returns `TLS_ECDHE_ECDSA_*` ciphers (tested via `nmap --script ssl-enum-ciphers -p 443 domain.com`). SSLLabs reports that ol

[2020-12-03 18:06] ethaniel commented on #990
When I try to compile cipher lists from both nmaps into one `ssl-default-bind-ciphers`, I get this error:
[code]

[2020-12-03 18:25] lukastribus commented on #990
Multi-cert handling in [haproxy 2.3 now requires OpenSSL 1.1.1](https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#5.1-crt):

Either you bring OpenSSL to 1.1.1, or you use haproxy 2.2 LTS instead.

2.3.1 also has a bug (#970), fixed in 2.3.2 but since you are on OpenSSL 1.0.2 I don't think this matters.

[2020-12-03 18:35] wlallemand commented on #990
That's interesting, we should probably emit a warning when trying to use a bundle with an OpenSSL version < 1.1.1.

[2020-12-03 18:38] ethaniel commented on #990
Just built 2.3.2  with 1.1.1, now I have a new error. When I add a ECDSA certificate via a bundle (or just as a separate cert file), nmap returns that there are no supported ciphers found (and browser connections fails as well):

[code]

New `haproxy -vv`:
[code]

[2020-12-03 19:06] robm-github commented on #986
Further investigation reveals that Ubuntu 20.04 no longer supports TLSv1.0 out of the box. Last LTS version to do so was 18.04, so this is not a HAProxy issue. Closing this issue out.

[2020-12-03 19:06] #986 closed, assigned to nobody

[2020-12-03 19:28] apenney-beeswax commented on #958
Alright, took me a while but the tip of git as of about 30 minutes ago is now live and taking traffic!  I accidentally bought up the wrong binary (2.3.1) and it crashed in about 20 seconds, since switching to 2.4 a few minutes ago it stopped crashing, so fingers crossed.

Just for the record this is with march=native as well, so we should hopefully see good performance!

[2020-12-03 19:45] lukastribus commented on #990
That sounds more like a build issue and in fact the -vv output suggest some disparity between openssl headers and the run-time openssl libraries.

To make sure I got everything right I like to build openssl statically, then there is no doubt about the openssl build.

[2020-12-03 19:47] lukastribus commented on #990
In my opinion, a configuration where we are 100% certain that it will malfunction warrants an alert (exit), not only a warning.

[2020-12-03 20:08] ethaniel commented on #990
Rebuilt again against static. Still getting the "no ciphers found" error when adding a bundle.

[code]

Here is how I build it on Centos 7:
[code]

[2020-12-03 20:11] apenney-beeswax commented on #958
Still no crashes, so it's looking like (hopefully) things are good, I'll give it another 24 hours so it gets a full test.  For some reason these arm instances always take less traffic than intel boxes (normally the exchanges spread traffic very evenly and quickly after adding a new box), so I have to wait for peak traffic volumes to ensure it stays up.

(It's weird, all the other boxes are doing 5

[2020-12-04 02:43] wopincm commented on #989
I added `stats socket /var/run/haproxy.socket` in `global`,I don’t know how to use `socat {HA-SOCK-STAT} readline`,
[code]
Now I add `stats socket 127.0.0.1:14567` in `global`

The following is the debug output printed by me using `echo "trace h1 sink buf0; trace h1 level developer; trace h1 verbosity complete; trace h1 start now; show events buf0 -w"| socat TCP:127.0.0.1:14567`

[code]

[2020-12-04 05:43] zino7825 opened #991 "Health check is stopped under special conditions. ( haproxy 2.2.x )"
## Detailed description of the problem

We've experienced this happen during service.

![image](https://user-images.githubusercontent.com/5656233/101126898-c6bc4980-363f-11eb-98ed-0328919822d0.png)

![image](https://user-images.githubusercontent.com/5656233/101126690-59101d80-363f-11eb-8273-fffcd20b2e78.png)

![image](https://user-images.githubusercontent.com/5656233/101132471-67b00200-364a-11eb-9

[2020-12-04 08:33] vooon opened #992 "Haproxy 2.3.0-2.3.2 sometimes produce corrupted status report csv"
## Detailed description of the problem

After update to 2.3.0 we started to observe problems with monitoring. Old sensu plugin stopped working, so i wrote new one.
But that plugin started to fire false positive alarms, while debugging i found out that sometimes "show stat" table may have empty `status` and even `svname`.

To catch output i added `--debug` flag to my check: https://github.com/sardi

[2020-12-04 08:50] zino7825 commented on #991
No problem until 15k error file
![image](https://user-images.githubusercontent.com/5656233/101142547-18250280-3659-11eb-89de-fe13cd2b7068.png)

[2020-12-04 09:02] capflam commented on #989
Thanks @wopincm. So the request is properly sent and something is received. Sometimes 34 Bytes, sometimes 17 bytes. For both the response parsing remains blocked on the `MSG_HDR_FIRST` state. Thus, just after the start-line. 34 bytes is the length of a 503 response (`HTTP/1.0 503 Service Unavailable\r\n`) and 17 bytes is the length of a 200 response (`HTTP/1.0 200 OK\r\n`). Just after, the shutdow

[2020-12-04 09:04] capflam commented on #874
@Pkuutn, please see #989. It is a patroni bug: https://github.com/zalando/patroni/issues/1569

[2020-12-04 09:12] capflam commented on #991
Could you share your redacted HAProxy configuration please ?

[2020-12-04 09:19] capflam commented on #991
Note also the 2.2.6 was released few days ago and it fixes a major issue regarding the health-checks. Thus you should upgrade. I don't know if this will solve your issue or not. But it remains important to upgrade

[2020-12-04 09:28] wlallemand commented on #988
Thanks for the report, @rlebreton is working on it!

[2020-12-04 09:29] wlallemand commented on #987
Thanks for the report, @rlebreton is working on it!

[2020-12-04 10:03] wopincm commented on #989
I don't think this is a bug of `Patroni`, this problem did not occur when I used `haproxy 2.0` version before, and my `Patroni` has no updated version

[2020-12-04 10:16] wlallemand commented on #990
Agreed, I'll make a patch for this.

Some of these ciphers are probably not available in your openssl version, to configure the ciphers in haproxy your need to use the openssl format for the ciphers (which uses - instead of _ most of the time), the list is available here: https://www.openssl.org/docs/man1.1.1/man1/ciphers.html, and you can check with `openssl ciphers -v 'YOUR:CIPHER:LIST'` if it r

[2020-12-04 10:17] capflam commented on #989
With HAProxy 2.0, there is no HTTP parsing. The matching is done on a raw TCP buffer. Since the 2.2, the HTTP multiplexers are used to perform HTTP health-checks. Thus the response is parsed an must be valid.

zalando/patroni#1569 fixes a bug in Patroni, a missing CRLF in responses to OPTIONS requests. This exactly matches your issue. The fix is part of Patroni 2.0.0.

So if you don't want to upgr

[2020-12-04 10:21] wopincm commented on #989
I got it，Thank you for answering @capflam

[2020-12-04 10:31] capflam commented on #989
You're welcome. I'm closing  the issue with the status `invalid`. If I'm wrong, feel free to reopen it of course.

[2020-12-04 10:31] #989 closed, assigned to nobody

[2020-12-04 10:31] capflam commented on #874
Duplicate of #989

[2020-12-04 10:32] #874 closed, assigned to nobody

[2020-12-04 11:21] zino7825 commented on #991
* backend configuration ( with l7 httpchk )
[code]

[2020-12-04 11:24] wtarreau commented on #958
BTW regarding the fact they take less traffic, it's possible that your clients optimize the requests based on the average response time and that these ones are slightly slower for each request. With more cores you can get a higher throughput, but each core is slower so the requester possibly prefers the other ones (or optimises the requests to balance all your machines' response times).

There are

[2020-12-04 11:42] wlallemand commented on #990
I made some tests and it looks like that the **default ciphers** changed once you load an ecdsa certificate. I don't have any problem when specifying ciphers myself though. I'll look into the code to see if we can have a more consistent behavior with the default ciphers.

[2020-12-04 11:46] wlallemand commented on #990
Also, in 2.2 with multi-cert SSL_CTX we don't have this issue, it could be a problem with the initial_ctx ciphers.

[2020-12-04 11:46] ethaniel commented on #990
After trial and error and trying to accommodate as much browsers/clients as possible (according to SSLLabs), I've settled with:

[code]

However, once I load a ECDSA certificate into the crt list (I have many other CRTs, all of them RSA), all ciphers get lost and nmap starts showing:

[code]

Can you confirm on your side please?

[2020-12-04 11:57] wlallemand commented on #990
It's working correctly for me with this simple configuration:

[code]

With this result:

[code]

But some ciphers are missing...

This is what I get with the same configuration but using only the rsa certificate:

[code]

[2020-12-04 12:02] ethaniel opened #993 ""bind-process" and "log" don't play together"
## Detailed description of the problem

I use "bind-process" to split SSL traffic into 7 haproxy instances (so all cores/threads would be used):

I also use `log 127.0.0.1:55555 local3 notice` to gather statistics about failed SSL handshakes. However, I've noticed that I receive logs from only 1 of the 7 haproxy instances (monitored via `nc -ul 55555`):

[code]

## Expected behavior

I would like

[2020-12-04 12:34] ethaniel commented on #990
Here are the results when I use a certificate bundle (`bind 0.0.0.0:8443   tfo ssl crt /shared/letsencrypt_key.pem crt /etc/haproxy/ssl/tm30.pem crt /shared/letsencrypt`):
[code]

And here are the results when I use the .rsa key only (`bind 0.0.0.0:8443   tfo ssl crt /shared/letsencrypt_key.pem.rsa crt /etc/haproxy/ssl/tm30.pem crt /shared/letsencrypt`):

[code]

So basically under bundle conditio

[2020-12-04 12:36] ethaniel commented on #993
Please disregard, I just noticed a warning that nbproc will be deprecated.

[2020-12-04 12:36] #993 closed, assigned to nobody

[2020-12-04 12:59] capflam commented on #991
You must upgrade. It is useless to try to figure out what happens if there is still the doubt it is a known fixed bug. If the issue persistent on the 2.2.6, you may try to enable the H1 traces. If the issue is reproducible without traffic it should be really useful to understand what happens.
To do so, you must configure a stats socket in your global section. Then to enable the traces, you may use

[2020-12-04 13:19] ethaniel opened #994 ""SSL handshake failure" doesn't get logged for every failed request"
## Detailed description of the problem

I use `log 127.0.0.1:55555 local3 notice` to gather statistics about failed SSL handshakes. However, I've noticed that I don't receive entries for EVERY failed connection. So let's say if I do `telnet localhost 443`, type some garbage in and hit enter, the connection closes, I get a "SSL handshake failure" entry only once in a while:

[code]

## Expected beh

[2020-12-04 13:54] ethaniel commented on #994
I just noticed that I'm not getting a notification on port 55555 for every successful connection either. Maybe for 1 out of 5 when I replace `log 127.0.0.1:55555 local3 notice` with `log 127.0.0.1:55555 local3` and do  `nc -ul 55555 | grep 127.0.0.1`

[2020-12-04 14:50] apenney-beeswax commented on #958
Performance slowly crept up overnight, and now they are taking a range of 39k (this arm machine) to 41k right now, so I'll consider that "close enough" :)

Zero crashes, looks like all these patches are spot on.  Excited to see them backported to 2.3 and once that happens we'll give ARM in a couple of regions a try again, thank you once again for everything you dug into here, the patches, and the

[2020-12-04 16:41] a-denoyelle opened #995 "Improve idle connection management"
This note is used to centralize reflection about the idle connection infrastructure.
First, a list of possible features / improvements.
Second, a list of cleanup task to straighten up the over-complicated current code-base.

### Features / Improvement

### * improve the number of eligible connection for reuse
Currently, some connection cannot be reused due to various condition. It can be possible

[2020-12-04 16:42] TimWolla commented on #988
Awesome!

Note: This probably also affects the `Referer` response header. I did not test that, because I have no need for varying on the Referer. I'm not even sure how useful a vary on the `Referer` is, I expect it to contain too many possible values to be useful.

Anyway: A simple solution to make that one more resilient against cache poisoning might be seeding the hash used for the `Referer` wit

[2020-12-04 16:50] TimWolla commented on #995
Note: I just converted the list of tasks into a proper task list: ![image](https://user-images.githubusercontent.com/209270/101190767-23782e00-3659-11eb-90db-506e79b6a619.png)

They come with the nice benefit that they will show up in the list of issues (![image](https://user-images.githubusercontent.com/209270/101190818-35f26780-3659-11eb-96bd-33ba52b1db07.png)) and can easily be checked off once

[2020-12-04 16:53] a-denoyelle commented on #995
Thanks Tim !

[2020-12-04 17:56] wtarreau commented on #958
That's excellent, thanks for your tests! We'll then backport all these then close the issue. I'd really encourage you to try on a smaller machine "just to see". Performance on network is never linear. If you're at, say, less than 40% CPU, maybe with only 8 cores you'll be at 60-70%.

[2020-12-04 18:06] apenney-beeswax commented on #958
I'll try some experiments for sure - I'll have to do a bunch of wrangling on our side to get geared up (we do a bunch of cpu affinity and it all assumes at least 16 cores).  I need to do some validation that at our workload levels that's even getting us a benefit in the first place (be a lot easier to experiment if we didn't try to do any pinning and let haproxy/nic use the entire machine).

I sup

[2020-12-04 19:22] wtarreau commented on #958
It used to be critically important in the old days where we were using nbproc because a connection was affine to a process. With threads and the inbound connection load-balancing we figured that it became unneeded and sometimes even counter-productive, because if for any reason one of your CPUs is less loaded (e.g. NIC queues are imbalanced) you'd prefer the scheduler to place a very busy thread t

[2020-12-05 03:08] zino7825 commented on #991
@capflam I will try to trace h1.
this connectin status is close_wait.

[2020-12-05 04:16] zino7825 commented on #991
@capflam The log below repeats continuously when tracking the problem situation. (as infinite looping )

It also have a problem when I set the `timeout check 200`

[code]

[2020-12-05 04:59] zino7825 commented on #991
@capflam No problem this issue in Haproxy 2.2.6

I want to know which file is changed.

`BUG/MINOR: tcpcheck: Don't forget to reset tcp-check flags on new kind of check` ?

[2020-12-05 09:39] bedis commented on #971
I checked coredns and it works the same way as Consul.
I think it's safe to use since Consul and kubernetes may be the biggest use cases for SRV records.

[2020-12-06 15:13] jerrac opened #996 "Starter Guide Table of Contents is partially out of order"
## Detailed description of the problem

While reading the starter guide I found that the table of contents listed some sections out of order. This was slightly confusing.

### Highlighted Screenshot
![highlighted Screenshot_2020-12-06 HAProxy version 2 2 5 - Starter Guide](https://user-images.githubusercontent.com/910764/101283791-a4d2dc00-3791-11eb-86d2-9550d99229d8.png)

## Expected behavior

Th

[2020-12-06 16:50] lukastribus commented on #996
The Starter Guide is probably the only document that has beyond 9 subsections ...

The code is in @cbonte 's https://github.com/cbonte/haproxy-dconv

[2020-12-07 08:52] rlebreton commented on #988
Unlike with the accept-encoding header, where you could prevent a client from getting the resources he's looking for (as you showed), a hash collision on the referer part seems less dangerous. The Referer support in the Vary came from a Fastly blog post where they described a case in which a server might want to vary on the referer. It would be a server that wants to display a welcome banner to cl

[2020-12-07 15:45] capflam commented on #984
FYI, I pushed the patch in the 2.4-dev.

[2020-12-08 00:43] icebluey opened #997 "A lot of warnings"
\# GCC Version:
gcc version 10.2.0 (GCC)
\# Haproxy Version:
haproxy 2.3.2

`for contrib in halog ip6range; do`
 `    make -C contrib/$contrib SBINDIR=/usr/bin OPTIMIZE= CFLAGS="-O2 -g" LDFLAGS="-Wl,-z,relro -Wl,-z,now"`
`done`
# output:

make: Entering directory '/tmp/haproxy-2.3.2/contrib/halog'
gcc   -o halog -I../../include ../../src/ebtree.c ../../src/eb32tree.c ../../src/eb64tree.c ../../src

[2020-12-08 14:13] capflam commented on #991
Ok, thanks. The main commit fixing the health-checks is b381a505c. I'm glad the problem gone on the 2.2.6. But I'm still puzzled you don't hit the check timeout. In addition, I don't understand why the matching on the status code is not performed on received data, incomplete or not. I just hope it is not another bug, hidden by the above commit.

Could we consider the bug as fixed ?

[2020-12-08 17:58] apenney-beeswax commented on #958
Just a quick update, and a close for the issue because we're fixed and good:

I switched 1 node over from a c5.4xlarge to a c5.2xlarge (after removing all the nic affinity/cpu-map stuff) and so far it's performing exactly the same as the other nodes in the cluster, so it looks like you're spot on.

We're going to wait for the backports and then move all nodes back to ARM.  We're also investigating

[2020-12-08 18:01] wtarreau commented on #958
Great, thanks fofr the update. I'm reopening just to keep track of the remaining backports.

[2020-12-09 03:06] zino7825 commented on #991
@capflam if the connection status is stucked, check timeout becomes useless.

I think it resolves problem that `reset tcp-check flags on new kind of check`
because we affected Health-check bug, Haproxy did not send a reset or fin flags but 2.2.6 version send the find or reset when I captured packet.

You can make this environment very easily.

[2020-12-09 04:15] chipitsine opened #998 "gcc 11 / fedora rawhide failures"
[code]

full build
https://gitlab.com/chipitsine/haproxy-ci-playground/-/jobs/898102017

[2020-12-09 06:33] kien-truong opened #999 "Extra attributes in cookie are not set correctly if configured in the defaults section"
## Detailed description of the problem

The `attr` option to configure extra attributes for a cookie has no effect if the cookie is configured in the `defaults` section. It only works if we move the cookie configuration to the `listen` section.

## Expected behavior
The `attr` works when used in the `defaults` section.

## Steps to reproduce the behavior

1. Put `cookie SVCID insert indirect nocac

[2020-12-09 06:45] chipitsine opened #1000 "src/mux_h1.c: null pointer dereference suspected by Coverity (new finding)"
[code]

[2020-12-09 07:45] capflam commented on #1000
It is a false positive. At this step, there is always an H1 stream with a conn-stream. There is a comment to make things explicit. The `H1C_F_ST_ATTACHED` flag is set on the H1 connection when there is an H1 stream with a conn-stream attached on it.

[2020-12-09 07:51] capflam commented on #999
You're right, during the backport from the 1.9, the copy from the default proxy was lost. I have no idea why exactly but it is now a bug. Note that on the 2.0, it works as expected.

[2020-12-09 08:19] capflam commented on #991
The commit 1faf18ae (`BUG/MINOR: tcpcheck: Don't forget to reset tcp-check flags on new kind of check`) is just a fix for the health-checks parsing during the startup. Thus it is not related to the current issue.

The check timeout is set on the health-checks task. Thus, if the connection is stucked for any reason, this task should expire with the L7TOUT status. Except if you have an loop inside t

[2020-12-09 08:52] chipitsine commented on #1000
I marked as false positive, thank you

[2020-12-09 08:52] #1000 closed, assigned to nobody

[2020-12-09 09:30] zino7825 commented on #991
@capflam I use the `tune.bufsize 65536`

I also have a  minimal config
haproxy IP: 10.113.10.101
origin IP : 10.114.102.26

1. l7check file change : l7.html -> l7.html.bak
2. curl -s localhost/l7.html -> 404 response and content-length : 16k or more
3. if hatop status is L7OKC, use reject haproxy healthcheck IP by iptables on origin server
4. iptables rule delete
5. you can see the bug
* simple co

[2020-12-10 02:54] lastquestion opened #1001 "stdout logs for "proxy start" when using stdout logging lost in 2.3.2 from 2.2.6"
## Detailed description of the problem
Hi, looks like stdout logging of the "Proxy <xyz> started" message is no longer being logged to stdout in 2.3. I tried 2.2.6 and it works. I didn't try rsyslog or other log systems.

## Expected behavior
I expect the "proxy <xyz> started" messages to be logged to the global log facility. Unless the new ring / forward stuff changed how that's supposed to work,

[2020-12-10 09:51] capflam commented on #1001
It is an expected change. Here is the commit 43ba3cf2. It was part of the Willy's refactoring about listeners/proxies.

[2020-12-11 03:40] vumdao opened #1002 "DNS Resolvers drops the http-request header"
haproxy.cfg

[code]

ALB listen rule
![2020-12-11_10-36](https://user-images.githubusercontent.com/37215642/101858715-c0c4ec00-3b9c-11eb-8ab7-01a5c4db8bd3.png)

With the above backend setting, the request does not match the rule but it works without resolvers
`server srv reader01-1111111111.us-east-1.elb.amazonaws.com:80`

[2020-12-11 07:30] jmagnin commented on #1002
Hi,

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

The mailing list (no need to subscribe) is: haproxy@formilux.org
Subscribe to the list: haproxy+subscribe@formilux.org
Unsubscribe from the list: haproxy+unsubscribe@formilux.org

Forum and mailing list are correct places for questions about HAProxy

[2020-12-11 07:37] #1002 closed, assigned to nobody

[2020-12-11 08:38] zino7825 commented on #991
@capflam Are you testing now?

[2020-12-11 08:45] capflam commented on #991
Yes, I finally reproduced the issue on the 2.2.4 with a small hack in the code to get the right condition. I'm on a fix. However, it is hard (maybe impossible) to trigger it on the 2.2.6 because the buffers used for health-checks have now the same size of other buffers. But the bug still there and only waiting another way to resurface.

In fact there are 2 bugs: the first one is the loop to read m

[2020-12-11 12:08] capflam commented on #991
FYI, the fixes were pushed to 2.4-dev. Not backported yet.

[2020-12-11 12:12] zino7825 commented on #991
ok! I got it!!
Let me know the patch~ !
thanks to your effort!

2020년 12월 11일 (금) 오후 9:08, Christopher Faulet <notifications@github.com>님이
작성:

[2020-12-12 00:30] jkarneges commented on #136
Hi folks,

It does seem like `abortonclose` is broken in later versions of haproxy. It works fine with 1.8.27, but not with 2.0.19, unless `no option http-use-htx` is specified per Willy's comment above. It doesn't work in 2.2.6 or 2.3.2.

[2020-12-14 06:10] zino7825 commented on #991
@capflam This problem is resolved if i use your patch `Use right condition to consider HTX ..` in 2.2.4
but I can't test of timeout bug patch and I will wait backport to 2.2 !!

thx !!

[2020-12-14 08:07] capflam commented on #991
@zino7825 Thanks for testing. I'll try to do all backports today. The patch about health-check timeout must be adapted for the 2.2.

[2020-12-14 09:19] jaroslawr opened #1003 "Backend connection leak after connection failures"
## Detailed description of the problem

HAProxy will sometimes increase the backend connection pool by a lot (while not receiving more req/s) and then it never shrinks it back. I *suspect* it happens during a burst of failed connection attempts, e.g. when `timeout connect` fires. These leaked connections are counted in the stats as "Current used connections".

Here are two servers w304 and w305 wh

[2020-12-14 09:39] domdom82 opened #1004 "2.2.5 possible bug in ssl crt-list socket commands"
## Detailed description of the problem

I am trying to implement a dynamic certificate updater for my crt-list in HAproxy 2.2.5.
I have noticed that somehow, when I update an existing certificate and add it to the crt-list twice, I can never remove it again.
It seems as though there is an internal reference to the certificate still kept after removal and the cert stays in use.

## Expected behavio

[2020-12-14 11:11] #984 closed, assigned to nobody

[2020-12-14 11:11] capflam commented on #991
Ok, backported now. I'm closing the issue. Thanks !

[2020-12-14 11:11] #991 closed, assigned to nobody

[2020-12-14 11:12] #1001 closed, assigned to nobody

[2020-12-14 11:14] #963 closed, assigned to nobody

[2020-12-14 13:41] capflam commented on #958
FYI, the patchset is in pending state for the 2.2. We will wait a bit to be sure no bug is reported on the 2.3 before backporting the patches to the 2.2. The next 2.2 will probably be released without them.

[2020-12-14 15:35] capflam commented on #973
It is a false positive. When a mux is installed for a new server connection, the connection owner is always a session. In fact, the test on the session existence before to install a mux for a health-check is useless.

[2020-12-14 17:09] chipitsine commented on #973
I've marked as false positive

[2020-12-14 17:09] #973 closed, assigned to nobody

[2020-12-15 09:36] wlallemand commented on #1004
Looks like a bug indeed, I'm looking into this.

[2020-12-15 10:35] hynek commented on #971
JFTR, this issue seems to have gotten more pronounced recently. Maybe due to the update to Consul 1.9(.1)? Now after a drain, almost all Services have one red backend left. Reloading HAProxy still fixes it. 🤔

[2020-12-15 11:01] wlallemand commented on #1004
I can reproduce simply this way:
- having the same certificate several time in a crt-list
- updating it with "set ssl cert/commit ssl cert"
- removing it from the crt-list
- trying to delete it completely

I'm reviewing the code but I suppose the problem is in the "commit ssl cert" command.

[2020-12-15 14:09] idl0r commented on #732
Right now, there were no more crashes. We're on 2.2.6 now and we were also running 2.2.5 for quite some days. Not sure if that's really fixed already or not. 2.2.4 also crashed back in November.

[2020-12-15 14:14] ac-obair opened #1005 "haproxy 2.2.2 cpu cores locked at 100%"
## Detailed description of the problem
The upgrade from 1.8.26 to 2.2.2 on centos 7.9.2009 seeing cpu core utilisation intermittently locked at 100%. This happens for 2 or 3 cores at a time and stays locked until haproxy is restarted. It takes a day or two for the cores to lock and it's never the same cores, seems random.

This is an 8 core vm running on vmware. The utilisation issue reported look

[2020-12-15 14:15] wlallemand commented on #1004
I found the problem, the link between the instances and the crtlist entry was not created during a "commit ssl cert".
The fix above should fix the issue.

[2020-12-15 14:24] capflam commented on #1005
First of all, try to upgrade. A significant amount of bugs were fixed since the 2.2.2. Try the 2.2.6 please.

[2020-12-15 16:47] capflam commented on #732
Well, it is hard to say which fix it could be. But there is a bunch of fixes since the 2.2.4, some majors (in the SPOE, the health-checks, the peers, the H2 multiplexer...). So it's not that surprising. If you agree, we may still wait some more days to be sure before closing the issue.

[2020-12-15 16:49] capflam commented on #999
FYI, @a-denoyelle fixed it. It should be ok now. Thanks !

[2020-12-15 16:49] #999 closed, assigned to a-denoyelle

[2020-12-16 08:20] ashleythomasv28 opened #1006 "HTTP/2: With long lived connection with client, continuous REFUSED_STREAM error thrown after backend server restarted"
## Detailed description of the problem
With HTTP/2 , when a client is keeping long lived connection with HAProxy, and after some time a backend server restarts, all the subsequent requests fails with 503 REFUSED_STREAM even after server comes back up fine.

## Expected behavior
HAProxy should start sending next requests to the healthy server once it comes back up again

## Steps to reproduce the b

[2020-12-16 09:46] ac-obair commented on #1005
Ok happy to close this until I've done that testing.

[2020-12-16 12:25] #1005 closed, assigned to nobody

[2020-12-16 14:45] thomas-kaltenbach opened #1007 "'crt-list' : unable to load certificate chain from file"
## Detailed description of the problem
We try to upgrade our landscape from haproxy 1.9.15 to 2.2.5 and got after update followed error at haproxy startup.

[code]
We noticed that this only happen at haproxy 2.2.5 in combination with openssl 1.0.2g.
After a long analysis we found out that at out ca-file-2.pem a CA was duplicated.

ca-file-2.pem
[code]

I know that this issue is caused by a duplica

[2020-12-16 15:07] wlallemand commented on #1007
Did you use the same OpenSSL version with HAProxy 1.9.15?

[2020-12-16 15:11] thomas-kaltenbach commented on #1007
Yes, it was the same version.

**haproxy -vv**
[code]

[2020-12-16 15:28] wdauchy opened #1008 "prometheus: export stick table information"
It could be interesting to have the minimal informations from stick tables in prometheus. Usually people collect size/used metrics from the `show table` command

[2020-12-16 20:03] domdom82 commented on #1004
hi @wlallemand thanks for the quick fix! do you know if this will make it into 2.2.7?

[2020-12-16 20:28] wlallemand commented on #1004
Sure, the fix will be available in the next 2.3 and 2.2 releases.

[2020-12-17 02:01] brenc opened #1009 "Add a way to run health checks on websocket servers in haproxy 2.2+"
## What should haproxy do differently? Which functionality do you think we should add?

haproxy 2.2 deprecated sending headers at the end of an `option httpchk`:

[code]

This was handy for monitoring websocket servers like so:

[code]

There doesn't appear to be a non-deprecated way to do this in 2.2+. Doing this doesn't work:

[code]

`http-check send` overwrites the `Connection` header and sets

[2020-12-17 07:22] chipitsine opened #1010 "gcc 11 build failure"
[code]

[2020-12-17 08:21] a-denoyelle commented on #1009
Maybe a way to fix it would be to only replace a keep-alive value in the Connection header, and in this case allow to send 'Connection: Upgrade, close'.
However, I'm not sure about the behavior of the various websocket implementation with this specific value.

[2020-12-17 11:19] domdom82 opened #1011 "2.2.5, 2.3 HAproxy does not handle huge CA lists correctly"
## Detailed description of the problem

This is an edge case of TLS client authentication.
We've noticed that when HAproxy is configured with a CA list whose distinguished names combined exceed the 64K as defined in https://tools.ietf.org/html/rfc5246#section-7.4.4 HAproxy does only handle the too large list correctly.

HAproxy still sends the entire list, but the SSL handshake always fails. For e

[2020-12-17 13:13] ashleythomasv28 commented on #1006
@wtarreau could you please help with this. Is this a known issue or am I doing something wrong?

related issue: https://github.com/haproxy/haproxy/issues/192

[2020-12-17 14:13] wtarreau commented on #1006
Well, in order to save all of us some precious time, could you please start by applying the required fixed ? Your version is off by 8 months and is affected by no less than 185 known bugs as can be checked here: http://www.haproxy.org/bugs/bugs-2.0.14.html
At least by updating it we'll know we're not looking at something old and already fixed.

[2020-12-17 16:46] rohara commented on #644
It appears that the patches were backported to haproxy-1.8, yet I can still reproduce this problem in haproxy-1.8.27. And ideas why that might be?

[2020-12-17 17:12] wlallemand commented on #644
Strange, it's working with the latest 1.9 but not with the 1.8, maybe we forgot something when backporting. I'm checking this.

[2020-12-17 17:50] wlallemand commented on #644
I found out that by backporting df6c5a8, the support for fixing all the options was removed, probably by mistake.

[2020-12-17 17:53] wlallemand commented on #644
@rohara a new fix is available in the 1.8 tree: https://git.haproxy.org/?p=haproxy-1.8.git;a=commit;h=58b3d8676bbef52bc76dd79ecfcf74582c34ec97

[2020-12-17 18:32] rohara commented on #644
@wlallemand Thank you!

[2020-12-18 21:05] phlbrz commented on #884
Hi,

It really bring down my apps, I had to do disable HTTP2, as mentioned here https://github.com/haproxy/haproxy/issues/798#issuecomment-669142531
I'm using Openshift 3.11.317.
It uses haproxy version `HA-Proxy version 1.8.26 2020/08/03`
Also same haproxy version is in Openshift 3.11.318 and 3.11.346

[2020-12-18 23:54] lukastribus commented on #884
Haproxy 1.8.27 has been released more than a month ago with this fix.

[2020-12-18 23:54] #884 closed, assigned to nobody

[2020-12-19 07:43] bedis commented on #971
Updating my consul lab to 1.9.1 and check if the patch fixes this version too.
I'll send the patch upstream this week-end.

[2020-12-19 08:54] bedis commented on #971
Tested with 1.9.1 and it works well.
Patch sent to the mailing list with backport requested to 2.2 and above

[2020-12-19 08:57] bdossantos commented on #971
Thank you!

[2020-12-19 19:01] phlbrz commented on #884
@lukastribus Thank you.
I couldn't find it in changelogs.
I'll wait for a new release with this fix in Openshift.

[2020-12-20 17:01] chipitsine opened #1013 "halog fails to build on osx"
[code]

[2020-12-20 17:03] chipitsine opened #1014 "contrib/debug/poll fails to build on osx"
[code]

[2020-12-21 07:25] wtarreau commented on #1014
These are essentially developer tools, but we can at least make them build. For this it should be enough to add
[code]

[2020-12-21 07:47] wtarreau commented on #1014
OK done now, closing. Thanks Ilya!

[2020-12-21 07:47] #1014 closed, assigned to nobody

[2020-12-21 07:47] wtarreau commented on #1013
Closing since addressed now. Thanks Ilya!

[2020-12-21 07:47] #1013 closed, assigned to nobody

[2020-12-21 09:28] wtarreau commented on #998
Now done, thanks Ilya!

[2020-12-21 09:28] #998 closed, assigned to nobody

[2020-12-21 09:51] wtarreau commented on #1010
I've looked carefully at this part, even preprocessed the code and run by hand, and for me gcc is bogus here: there is never a single access to the struct outside of its bounds. It is used as a list end pointer check, is never dereferenced, and "ref" stops iterating as soon as it meets this target, in which case NULL is returned. Therefore I suspect there's something wrong in the bounds checking i

[2020-12-21 09:53] wtarreau commented on #1003
It could be possible that in some error paths we don't readjust the counters. It will take time to dig through this as this code is extremely complex :-/

[2020-12-21 09:55] wtarreau commented on #997
This is known, these warnings are bogus but addressing them in auxiliary tools will be a pain until we change their build process. Thus I suggest that we postpone this fix.

[2020-12-21 09:57] wtarreau commented on #996
Maybe the simplest fix would be that we cut it into two sections in order to have less than 9 total per section :-)

[2020-12-21 10:12] chipitsine commented on #1010
In order to report, it would be good to have simple repro source code.

[2020-12-21 10:43] jaroslawr commented on #1003
@wtarreau FWIW it went away after increasing the connect timeout from `5` to `25`, or at least it doesn't manifest itself as frequently.

[2020-12-21 11:14] ashleythomasv28 commented on #1006
It doesn't seem to be happening with HAProxy 2.0.19. Would you know which commit/bug fix might have fixed this issue?

[2020-12-21 12:03] wtarreau commented on #1006
OK, thanks for checking, that's a good news. No, I really have no idea which one it is among the 185 and this is absolutely uninteresting since that's something of the past now that this bug is fixed and the fix backported. If you're curious, you can try to spot it by bisecting between the two versions, but I hope for you that you have more interesting things to do with your time :-)

Now closing.

[2020-12-21 12:03] #1006 closed, assigned to nobody

[2020-12-21 12:04] wtarreau commented on #1003
Thanks for this hint, it could indeed help us dig into the right direction.

[2020-12-21 15:46] wtarreau commented on #1010
Sure, but I don't have a gcc 11 handy at the moment.

[2020-12-21 17:10] a-denoyelle commented on #1003
I have taken a quick look. One path of the code which is suspect is in h1_timeout_task where the connection is removed from the list without decrementing the counters. The same code is present in mux_h2. It should probably use srv_del_conn_from_list.

However, I tried to trigger various timeouts but did not pass on this particular line (either h1c is already NULL or not in a list).

[2020-12-21 18:35] TimWolla opened #1015 "mux_h2: Misleadingly indented tasklet_wakeup"
## Detailed description of the problem

[code]

## Expected behavior

The function call should be guarded.

## Steps to reproduce the behavior

1. Compile.

## Do you have any idea what may have caused this?

This is a regression in 7838a79bac6ff2d81c9ff681d80644489511fa3f.

## Do you have an idea how to solve the issue?

Braces should be added.

## What is your configuration?

n/a

## Output of `

[2020-12-21 19:36] TheDavidFactor opened #1016 ""TARGET=" is required by make"
I'm trying to build HAProxy with Ansible using the community.general.make plugin and I get the error:

gmake: *** No rule to make target `linux-glibc'.  Stop.

Upon further investigation, I discovered that the plugin is calling "/bin/gmake linux-glibc ..." while "/bin/gmake TARGET=linux-glibc ..." works just fine.

Before I open an issue with the community.general.make project, I wanted to confirm

[2020-12-21 19:59] lukastribus commented on #1016
Correct, `make linux-glibc` is invalid, it needs to be `make TARGET=linux-glibc`, also see `INSTALL`.

[2020-12-21 19:59] #1016 closed, assigned to nobody

[2020-12-21 21:29] TimWolla commented on #948
This is resolved as of 2de240a676f04d79c7fe01d15dff175dab682e45.

[2020-12-21 21:29] #948 closed, assigned to nobody

[2020-12-22 06:18] jaroslawr commented on #1003
Just to be clear, it's not only the counters, there are actual TCP connections to the backend left (see the `show fd` output I attached).

[2020-12-22 06:54] wtarreau commented on #995
Thanks Amaury for writing this down.

A few points on connection identification:
  - NTLM shouldn't be shared, in any case, as we have no way to validate that an incoming client connection would match the same credentials
  - proxy protocol rules will follow the exact same rules as the ones for src/dst.
  - for src/dst we'll need to mention in the storage whether they were forced or not. I.e. if w

[2020-12-22 06:56] wtarreau commented on #1003
Thanks, but it's pretty possible that this is related, possibly by the connection not being moved back to the idle list, hence not being killed for example.

[2020-12-22 11:17] chipitsine opened #1017 "src/mworker-prog.c: identical inner condition"
src/mworker-prog.c:310:27: warning: Identical inner 'if' condition is always true. [identicalInnerCondition]

[2020-12-22 11:17] chipitsine opened #1018 "src/pool.c: identical condition"
src/pool.c:121:7: warning: Identical inner 'if' condition is always true. [identicalInnerCondition]

[2020-12-23 03:59] wtarreau commented on #1018
This one is wrong, it ignores the #ifdef that is just above and which makes this not always true.

[2020-12-23 04:01] wtarreau commented on #1017
This one is valid, the construction is wrong, and there is a similar unneeded "if" 5 lines below that needs to be removed as well.

[2020-12-23 07:29] chipitsine commented on #1018
maybe we should move `#endif` 3 lines lower ?

[2020-12-23 08:23] wtarreau commented on #1018
No we must not, that would render the code confusing. Ifdefs were never made to make code analysis tools happy anyway :-)

[2020-12-23 09:56] chipitsine commented on #1018
placing check outside `#ifdef` looks tautological. but I will recheck

[2020-12-23 15:21] a-denoyelle commented on #1009
FYI, a commit was recently merged on master which permit to specify the Connection header on the http-check send directives. You should be able to use it for a websocket handshake check.

[2020-12-24 22:04] #987 closed, assigned to rlebreton

[2020-12-28 11:36] TimWolla commented on #988
This is not actually fixed yet. I'll send a patch.

[2020-12-29 13:49] bedis commented on #971
the patch has been integrated but not yet backported to 2.2 and above.

[2020-12-29 14:27] sharma-rajendra opened #1019 "Haproxy-Ingress with NLB"
After deploying the haproxy-ingress with AWS NLB getting error on controller pod:
cp: can't preserve ownership of '/etc/haproxy/lua/auth-request.lua': Operation not permitted
cp: can't preserve ownership of '/etc/haproxy/lua/send-response.lua': Operation not permitted
cp: can't preserve ownership of '/etc/haproxy/lua/services.lua': Operation not permitted
cp: can't preserve ownership of '/etc/hapr

[2020-12-29 15:31] bdossantos commented on #971
Cool ! I'm patiently waiting for 2.3.3 :-)

[2020-12-29 22:44] lukastribus commented on #1019
This is `haproxy`, not `haproxy-ingress`.

[2020-12-29 22:44] #1019 closed, assigned to nobody

[2020-12-30 11:10] hynek commented on #971
Pff you kids and your baggy pants and fancy version. 2.2.7 is fine, thank you very much. ;)

[2020-12-30 22:11] ngaugler commented on #822
I am back, sorry it's been awhile.  We completely removed the need for this type of load balancing from our platform.  It's much more efficient without it.  That being said I am trying to implement 2.2 and the threaded model for frontend load balance (http/https) and again it's horribly inefficient.   With 1.6 running we have 35-40% idle cpu.  With haproxy 2.2 we have 4% idle CPU and connections a

[2020-12-31 09:10] #814 closed, assigned to nobody

[2020-12-31 09:36] #988 closed, assigned to rlebreton

[2020-12-31 22:04] philipyoungg opened #1020 "HAProxy doesn't work with Apple M1—yet it ran without error"
## Detailed description of the problem
On Apple M1
[code]
It ran without any error. Connecting to the URL doesn't work though.
I tested the same thing on Intel-based Macbook, it ran perfectly.

## Expected behavior

Should run on M1, just like on Intel

## Steps to reproduce the behavior

1. Just start `HAProxy`

## Do you have any idea what may have caused this?
Probably because of ARM architectu

[2021-01-01 12:19] TimWolla commented on #971
So, should this be labeled “fixed” + 2.2 and 2.3?

[2021-01-01 13:38] TimWolla commented on #1020
You left out one of the most important parts of the template: The output of `haproxy -vv`, and also your configuration.

[2021-01-02 13:24] philipyoungg commented on #1020
@TimWolla apologize.

## Config
[code]
## `haproxy -vv`
[code]

[2021-01-02 13:37] devnexen commented on #1020
Hopes this help, but I recently got a M1 and compiled with same options with similar config file. and it works. haproxy works alright on ARM in general, maybe incoming connections settings or something else is at play.

[2021-01-02 14:23] philipyoungg commented on #1020
@devnexen interesting. How do you install it? With `homebrew` over rosetta? I installed it with experimental native ARM `homebrew`.

Mine works on both (intel and arm). It didn't scream any error.

The difference with no backend opened:
- Intel screams that all of the backends are not open,
- ARM doesn't show anything

[2021-01-02 14:26] devnexen commented on #1020
I tried both via homebrew for ARM and compiled manually too (did not try with Rosetta but another Mac with real Intel). The ARM version also showed me at first backend unavailable.

[2021-01-02 14:40] leibaogit opened #1021 "Request the SPOA support the the V3 modsecurity"
## What should haproxy do differently? Which functionality do you think we should add?

SPOA support for the [modsecurity V3](https://github.com/SpiderLabs/ModSecurity)

## What are you trying to do?

I'm trying to integrate the HAProxy community version with the modsecurity v3 with the SPOA, but now I can only found the SPOA support for the [V2 modsecurity](https://github.com/haproxy/haproxy/tree

[2021-01-02 16:21] TimWolla opened #1022 "http_str_to_htx: Zero size allocation"
## Code Report

Tool: clang static analyzer

https://github.com/haproxy/haproxy/blob/23cc52d34b89fa1f2ec2c4b3ac1526bae84aff93/src/http_htx.c#L905-L909

The first call to malloc in `http_str_to_htx` will always be passed a `0` argument which results in unspecified behavior.

## Output of `haproxy -vv` and `uname -a`

[code]

[2021-01-02 17:29] philipyoungg commented on #1020
@devnexen thank you. I wonder what my issue is. It's a fresh install and it was installed on `/opt/homebrew/bin/haproxy`.

Can you elaborate what you meant with "compiled manually"? Do you mean installing it outside homebrew?

[2021-01-02 17:41] devnexen commented on #1020
Yes that is it outside homebrew but does not really matter as the homebrew version worked same as you fresh install.

[2021-01-02 22:36] TimWolla commented on #1010
Expanding the macros in `tlskeys_list_get_next`:

This warns:

[code]

[code]

Replacing the `NULL` with `1`:

[code]

Results in:

[code]

Simplifying this further:

[code]

Results in:
[code]

[2021-01-02 22:50] TimWolla commented on #1010
This is related to the `inline` on the function. If I remove that then the error disappears.

[2021-01-02 22:55] TimWolla commented on #1010
This makes the error disappear:

[code]

[2021-01-02 23:33] TimWolla commented on #1010
Okay, I have a simple reproducer:

[code]

[2021-01-03 00:09] TimWolla commented on #1010
So, my understanding is that the warning is in fact correct:

1. `tlskeys_reference` is a `struct list` (= 2 Pointers).
2. `tmp` is equal to `tlskeys_reference`, because `tlskeys_reference - offsetof(struct tls_keys_ref, list) = tlskeys_reference - 0 = tlskeys_reference`.
3. `tmp` is a pointer to `struct tls_keys_ref` (= 3 Pointers + 2 int) which is larger than `tlskeys_reference` (= 2 Pointers).

[2021-01-03 00:20] TimWolla commented on #1010
I'm sending a patch.

[2021-01-03 00:31] TimWolla commented on #1010
:point_right: https://www.mail-archive.com/haproxy@formilux.org/msg39306.html

[2021-01-03 06:03] wtarreau commented on #1010
Unless I'm still running on -ENOCOFFEE, I completely disagree here. In your test you had to replace NULL by 1 to make it fail. And in the reproducer, everything is correct. Only the ->list element is dereferenced, and is located exactly where expected, because the list element of this struct is of the same size as the tlskeys_reference so there is no access outside of bounds at all here. Moreover,

[2021-01-03 06:25] wtarreau commented on #1010
I'm seeing a few very similar regressions already reported in gcc, leading me to think that we should possibly, sadly, disable this bogus warning:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=94985
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=95072
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=96900

The one below is interesting, as one developer suggests this warning can trivially be fooled due to

[2021-01-03 06:57] wtarreau commented on #1010
So I could reproduce it on godbolt by further simplifying your reproducer above. It's definitely a false positive, and I have not found a way to shut it up yet so we might have to disable this bogus warning. It only complains about accesses to global variables. I still don't know why it doesn't complain on the numerous list_for_each() we have though. Repro below:

https://godbolt.org/#g:!((g:!((h:

[2021-01-03 07:25] wtarreau commented on #1010
I managed to escape gcc's surveillance using asm statements like `asm("" : "+rm"(tmp));` but it's ugly and it obviously deoptimizes the code. I'll add -Wno-array-bounds for now, and once gcc11 is released we'll see if we can remove it.

[2021-01-03 07:57] wtarreau commented on #1010
Opened https://gcc.gnu.org/bugzilla/show_bug.cgi?id=98503 for this.

[2021-01-03 11:04] TimWolla commented on #1010
They don't actually. Have you checked my patch: https://www.mail-archive.com/haproxy@formilux.org/msg39306.html?

Compare:

https://github.com/haproxy/haproxy/blob/23cc52d34b89fa1f2ec2c4b3ac1526bae84aff93/src/acl.c#L33-L35

and:

https://github.com/haproxy/haproxy/blob/23cc52d34b89fa1f2ec2c4b3ac1526bae84aff93/src/ssl_sock.c#L490

One embeds the `LIST_HEAD_INIT` into the outer structure, the other

[2021-01-03 11:15] wtarreau commented on #1010
Yes I have looked, but it only hides the dust under the carpet. We use exactly zero byte outside the struct list. There is no reason for adding unneeded fat around that will never be dereferenced. Please have a look at the simplified reproducer on the gcc bug report (based on yours), it shows how the compiler is mistaken. It seems to me that it assumes that any field of a structure may be derefere

[2021-01-03 16:57] cve-reporting opened #1023 "Incorrect error handling of memory allocation error in strdup() in __sink_new (sink.c:65-66)"
## Detailed description of the problem

Incorrect handling of the valued returned by strdup() usages in case of an allocation error will lead to NULL pointer dereference and segmentation fault error in case of restrictive memory protection or near NULL pointer overread in case of no memory restrictions (e.g. in embedded environments).

Vulnerable code (src/sink.c:65-76):

	65:	sink->name = strdup(

[2021-01-03 17:10] chipitsine commented on #1023
@cve-reporting , you only ran "haproxy -v"

can you run reg-tests with that lib preloaded ?

an example how to invoke reg-tests:
https://github.com/haproxy/haproxy/blob/master/.cirrus.yml#L9-L14

or:
https://github.com/haproxy/haproxy/blob/master/.travis.yml#L89

it might uncover other error handling issues

[2021-01-03 17:11] chipitsine commented on #1023
also, your haproxy version is 2.3: `2.3.0-1c0a722a8 2020/11/05`
can you try against master branch?

[2021-01-03 17:31] chipitsine commented on #1023
please ignore my suggestion to run reg-tests. it will be a mess of numerous reports in single issue.

we should report issues separately

[2021-01-03 18:55] TimWolla commented on #1023
I sent a patch: https://www.mail-archive.com/haproxy@formilux.org/msg39307.html

[2021-01-03 21:14] cve-reporting opened #1024 "Incorrect error handling of memory allocation error of strdup() in cfg_parse_listen (cfgparse-listen.c:1512)"
## Detailed description of the problem

Incorrect handling of the valued returned by strdup() usage in case of an allocation error will lead to NULL pointer dereference and segmentation fault error in case of restrictive memory protection or near NULL pointer overread in case of no memory restrictions (e.g. in embedded environments).
It may lead to arbitrary memory read or write in particular cond

[2021-01-03 21:48] TimWolla opened #1025 "Use consistent wording for "out of memory" / "memory allocation failed" error messages"
Currently we have a mix of:

- `Out of memory error.`
- `Out of memory error`
- `out of memory error`
- `out of memory`
- `out of memory.`
- `out of memory [some context]`

All these should be adjusted to use the same wording for consistency and it should also make the executable a little bit smaller :smile:

[2021-01-03 21:56] TimWolla commented on #1024
Sent a patch for this: https://www.mail-archive.com/haproxy@formilux.org/msg39314.html

[2021-01-03 23:07] cve-reporting opened #1026 "Segmentation fault (probably NULL pointer dereference) when running conf check"
## Detailed description of the problem

haproxy crashes with SIG_SEGV when opening crafted configuration file.

## Expected behavior

haproxy should verify configuration without crash and display appropriate message.

## Steps to reproduce the behavior

1. Download and unzip provided configuration file
[crash_000_srv_set_addr_desc_MINIMIZED.zip](https://github.com/haproxy/haproxy/files/5762423/cra

[2021-01-03 23:59] TimWolla commented on #1026
Thank you, this crash is very fresh and was introduced in 92149f9a82a9b55c598f1cc815bc330c555f3561 (unreleased as of now).

I sent a patch: https://www.mail-archive.com/haproxy@formilux.org/msg39315.html

[2021-01-04 11:33] mhclaudiu opened #1027 "Haproxy 2.3.2 tcp-check 'send' and 'expect'"
## Detailed description of the problem

Good day, on 2.3.2 version of haproxy there is a small issue sending commands and matching responses.
For example:
[code]
This will send 'stats' to a memcached server, and the response it will be in this form:
[code]

This is working perfectly fine on 2.1.4 version, but not on 2.3.2 on which servers are considered down:
[code]
Also i compared some captures w

[2021-01-04 12:10] capflam commented on #1022
I honestly don't remember why I used a `malloc(0)` here instead of setting `buf->area` to NULL, but the behaviour is not undefined. `malloc(0)` returns NULL or a pointer value that can be passed to `free()`. And because the buffer size is set to 0, it will never be used for anything other than releasing the area.

However, to make clang static analyzer happy, this may be changed. But it is not a b

[2021-01-04 12:39] wtarreau commented on #1010
The issue was just confirmed and bisected by the gcc crew. I'll mark it invalid here since there's not much else we can do at this point (the warning was disabled in the makefile for now).

[2021-01-04 12:40] #1010 closed, assigned to nobody

[2021-01-04 12:53] capflam commented on #1027
I confirm the issue. But I have the same error with the string or the regex matching, on the 4th tcp-check rule. BTW, I will provide a patch soon.

[2021-01-04 13:15] chipitsine commented on #1010
Can we keep it open not to forget to remove suppression once it is fixed on gcc side?

[2021-01-04 13:32] wtarreau commented on #1010
I'd rather not, we already have quite some noise here and we don't know how long it would have to stay open. In any case I'm subscribed to the gcc issue and will definitely not forget once I see it fixed.

[2021-01-04 13:48] bjacke opened #1028 "add Multipath TCP (MPTCP) support for frontends"
recent Linux kernels support MPTCP. It would be great if it would be possible to be able to enable mptcp in  haproxy fronends to allow clients make use of this. The Linux kernel sources have a sample implementation in tools/testing/selftests/net/mptcp

## Output of `haproxy -vv` and `uname -a`

[code]

[2021-01-04 19:53] wdauchy opened #1029 "improve prometheus gauge state usage"
current status metrics are as follow:

[code]

where the value represents the state as a gauge, i.e. frontend: 0=STOP, 1=UP, 2=FULL - backend: 0=DOWN, 1=UP - server: 0=DOWN, 1=UP, 2=MAINT, 3=DRAIN, 4=NOLB)

I believe it would be easier to use if we had something like:

[code]

where the state is a label value. I also think this could be closer to prometheus best practices.
A typical example is to

[2021-01-05 02:37] tomciopp commented on #1020
@philipyoungg Running into similar issues with a new M1 Mac. Activity Monitor shows the process running at 98.4% CPU utilization, no errors are showing up in the console. The other thing I've noticed is I do not get the popup notification on the new M1 mac to "allow incoming connections", so maybe there is a firewall issue I'm not aware of.

### Here is the output of haproxy -vv
[code]

### Here i

[2021-01-05 06:01] wtarreau commented on #1020
Please note that an issue affecting some modern ARM CPUs (including Graviton2 and likely the M1) was fixed and backported into 2.3 as commit 3027cdc ("BUG/MEDIUM: task: close a possible data race condition on a tasklet's list link") after the one you're testing.

Oh, in addition we have commit 63ee2818 in 2.4-dev that adresses an issue with the assembler on macos and which will make compare-and-sw

[2021-01-05 06:27] devnexen commented on #1020
My bad the homebrew package does not work indeed, but only the new 2.4-dev version.

[2021-01-05 06:49] tomciopp commented on #1020
Hmm downloaded 2.4-dev4, and am still getting errors. It also looks like the following keyword is not valid: `send-proxy-v2-ssl`.

Downloaded and ran
[code]

[code]

If I use the option `send-proxy-v2` instead haproxy states that the configuration file is ok. However if I try to start the server again, it hangs and eats up the CPU still. (Running M1 macbook air - 8 core version if that makes a dif

[2021-01-05 06:54] wtarreau commented on #1020
That's expected, the fix was merged 2 days after dev4 (commit 63ee2818). If you take the latest nightly snapshot or latest git tree you'll have it.

[2021-01-05 06:56] tomciopp commented on #1020
@wtarreau Oh ok, let me check that out instead. Will report back if it works or there are still issues.

[2021-01-05 07:05] tomciopp commented on #1020
Ok I've got it working when we make from `master`. It does look like `send-proxy-v2-ssl` is no longer a keyword. I will send a PR to @cbonte to update the configuration docs accordingly.

As always thank you @wtarreau for being the best.

[2021-01-05 07:28] wtarreau commented on #1020
Great, many thanks for the confirmation. You don't need to bother @cbonte for the doc, he maintains the doc converter, but the contents should be part of the patches which add/remove features. However, I've just checked, and the keyword was not removed. I suspect you've simply forgotten to enable SSL in your build :-)

We're a bit lagging behind in terms of versions, as usual in this period of the

[2021-01-05 07:37] tomciopp commented on #1020
@wtarreau If you take a look at the parse error I included above, it's not listed in the available keywords. It's also missing the `-cn` version as well. Unless I'm completely mistaken (quite likely) I think this may be a bug.

[2021-01-05 07:58] wtarreau commented on #1020
No, this is really likely because you didn't enable SSL (hence the keywords that come with it). When I pass your config through haproxy -c, it says `Configuration file is valid`.

[2021-01-05 10:19] wtarreau commented on #1010
Now worked around by slightly modifying the calling convention of the tlskeys_list_get_next() function. The warning was re-enabled so that we're safe again :-)

[2021-01-05 10:48] wtarreau commented on #1028
I think it should not be hard to add, but as usual, the devil is in the details. Have you ever used it on anything else to share your experience of it ?  I suspect we should just add an "mptcp" option to the `bind` and `server` lines just as we did for other options like `tfo` or `tcp-ut`, but my concern is about what to do on failure. We could silently fail and fall back to regular TCP, or fail h

[2021-01-05 11:11] wdauchy commented on #1029
cc @capflam

[2021-01-05 11:52] bjacke commented on #1028
I don't have practical experience with it yet, no. But as you wrote, it would be easy to add and yes, I think just a mptcp option just like tfo would be desirable. A failure case should not exist for haproxy in userspace as the decision and the magic whether to us TCP or MPTCP is finally up to the kernel. Haproxy would just tell the kernel to accept MPTCP if possible. The client site of MPTCP is t

[2021-01-05 12:37] tomciopp commented on #1020
@wtarreau If I run `haproxy -c` on my intel mac it says the configuration file is valid. When I do it on the m1 mac I get a parse error.

[2021-01-05 12:46] tomciopp commented on #1020
I should note haproxy should not be terminating the ssl in my setup, the webserver should be.

[2021-01-05 13:05] wtarreau commented on #1020
The difference definitely are the build options. What options did you use when building it yourself ? You'll see them in haproxy -vv.

[2021-01-05 14:46] wtarreau commented on #1028
Thanks for the background. That said, it's not entirely up to the kernel in that it could pretty well not be supported at all. In such a case we have two options: try again to bind in regular TCP mode or report the error. For example it could make sense on the frontend to refuse to bind if asked and not supported as it might possibly indicate an incorrect sysctl somewhere.

[2021-01-05 15:01] wtarreau commented on #1017
No done, thanks for your patience Ilya :-)

[2021-01-05 15:01] #1017 closed, assigned to nobody

[2021-01-05 15:02] wtarreau commented on #1018
Ilya, could we close this one ?

[2021-01-05 15:03] #1018 closed, assigned to nobody

[2021-01-05 15:04] wtarreau commented on #1009
Bruno, is this solution sufficient at this point or is anything else needed ? I'd like to know if we can close the issue in fact :-)

[2021-01-05 15:13] bjacke commented on #1028
Ah, I was thinking of failure case only when MPTCP is generally supported. If it's not supported I think falling back to regular TCP would be the desired behaviour, yes.

[2021-01-05 15:24] capflam commented on #1029
@wdauchy, honestly, I have no opinion on it. I'm not a Prometheus expert and I thought the labels had to be more or less static. If you say it is closer to Prometheus best practices, I blindly trust you. Just remembered that each k/v label pair induces a separate time series for a given metric. So, for a given server, you would have 5 series for the metric `haproxy_server_status`. And only one wou

[2021-01-05 15:36] capflam commented on #1029
@wdauchy, reading https://prometheus.io/docs/practices/instrumentation/#avoid-missing-metrics makes me think we should always export all states, with the value 0 for unmatching ones. But I don't know if it is applicable to labels. For instance :

[code]

[2021-01-05 15:37] bjacke commented on #1028
mptcp would have some impact at other places in haproxy though, maybe this just needs some "rethinking" from the users' perspective: There will be no longer just be one src ip address but there will be many. Thinking of acls here for example. For those cases I would expect that the initial ip address would be the "main" IP address that is relevant for acl checks only. Any additional ip addresses t

[2021-01-05 15:40] wtarreau commented on #822
Actually that doesn't correspond to many others' observations, this is why others are not running into such trouble. The increase of CPU usage from 1.6 to 2.2 was measured to be around 30% on single-threading, which is attributed to the more flexible architecture allowing to support various protocols (HTTP/2, FCGI, hopefully QUIC soon), more fairness between tasks, and the threading support. Howev

[2021-01-05 16:02] lukastribus commented on #1020
You are specifically compiling without SSL support here, therefor SSL options like `send-proxy-v2-ssl` will not be available. This has nothing to do with Intel vs ARM, but with or without an certain build option. SSL options (and other options as well) will be removed from the supported options, when compiled without the required library, because they are unusable.

Add `USE_OPENSSL=1` to your mak

[2021-01-05 16:27] wtarreau commented on #732
OK let's close it now, "some" = 21 here, it's been long enough.

[2021-01-05 16:28] #732 closed, assigned to nobody

[2021-01-05 16:29] idl0r commented on #732
Yup. Fine to me

[2021-01-05 16:33] wtarreau commented on #1025
I think it could slightly depend on the context. For example at the beginning of a sentence you'll have an upper case but not in the middle. Similarly there might be some occurrences of "error: %s" where it's better to have "error: out of memory" than "error: out of memory error". But I sincerely doubt we have that many different contexts and it's likely that 2 or 3 at most would be needed.

[2021-01-05 16:37] capflam commented on #1027
FYI, I pushed a fix to the 2.4-dev. Thanks !

[2021-01-05 16:39] chipitsine opened #1030 "cppcheck report, realloc bad usage"
[code]

[2021-01-05 16:39] TimWolla commented on #1025
Yes, it's not a 100% mindless search and replace. I did look into a few places while writing up this issue: Most of them have exactly the same context (usually config parsing) and are worded *slightly* differently. Adjusting all the ones in the config parser and similar is a no brainer.

[2021-01-05 16:41] wtarreau commented on #1021
And what about trying to implement it yourself ? The V2 SPOA agent was provided entirely for illustration purposes and serves this purpose pretty well. It's self contained and shows pretty well how to interface with a library. For modsecv3 they've split the code into connectors and they're using the ModsecurityNginx connector as an example for the same reasons. Thus I guess it should not be that h

[2021-01-05 17:18] tomciopp commented on #1020
@lukastribus Thanks for the info, that makes sense. However when one mole gets whacked another one pops right back up.

[code]

[code]

[2021-01-05 17:51] wtarreau commented on #1020
Ah so you don't have the SSL development packages installed. Usually it's called "openssl-devel" or something like this. Since you're on libressl, it might as well be called "libressl-devel". I have no idea how packages are managed on Mac however.

[2021-01-05 20:03] ngaugler commented on #822
Unfortunately your whole theory is flawed if you presume that everyone was running 1.6 with one single process.  The most efficient way to make 1.6 utilize all of the available resources of a server was to run multiple processes.

The use case that caused me to open up this ticket is no longer running in our facilities.  We've merged the two applications into a single application to reduce latency

[2021-01-06 01:18] leibaogit commented on #1021
@wtarreau yeah, I want to implement it, but, I'm new one, and may need guidance or help.

Now I have two options if implement it:
1. Still using the SPOA, just as you said, using the current V2 SPOA agent for reference.
2. You know, the V3 modsecurity has split the core mode to libmodsecurity, and using the connector to connect to different web servers. So I'm wondering whether we can implement a

[2021-01-06 06:07] wtarreau commented on #1021
No, option 2 is the worst one for a product like modsec. The reason SPOE was created is for such long processing which is totally incompatible with event-driven, low-latency systems. The longest request I've seen on modsec took 66 **minutes** to analyse (yes, more than one hour)! And requests taking hundreds of milliseconds to seconds are not uncommon at all there, while even a millisecond is alre

[2021-01-06 06:09] chipitsine opened #1032 "src/xprt_quic.c: null pointer dereference suspected by cppcheck"
[code]

[2021-01-06 06:10] chipitsine opened #1033 "src/xprt_quic.c: null pointer dereference suspected by cppcheck"
[code]

[2021-01-06 09:36] #1026 closed, assigned to nobody

[2021-01-06 09:53] wtarreau commented on #1028
These are elements I didn't think about but I agree with you. Anyway we're still using the TCP API at plenty of places so we won't get too fancy details.

[2021-01-06 10:46] wtarreau commented on #1030
Yeah indeed there are a few other occurrences of this common pattern along all the code base. It can be fixed by using a temporary variable for the result (the realloc API isn't great for this, but that's easy to criticize after it was designed). I'd argue this one is harmless since it's during the boot and it will quit if it fails. I don't know for the few other ones, we must at least make sure n

[2021-01-06 10:48] wtarreau commented on #1032
The test on `frm` is indeed too late and should be moved up a few lines. CCing @haproxyFred

[2021-01-06 10:53] wtarreau commented on #1033
This one was not easy. The `if (conn_ctx)` test is in the caller, `qc_srv_pkt_rcv()`, and this `conn_ctx` becomes the `ctx` argument of `qc_try_rm_hp()`. The arg must then be turned to `ctx ? ctx->conn : NULL`. CC @haproxyFred

[2021-01-06 10:54] wtarreau commented on #1033
Actually no, I'm wrong. The function uses ctx everywhere. I guess it's the caller that should avoid to call the function if `conn_ctx` is null. But I'll let Fred judge by himself.

[2021-01-06 11:03] capflam commented on #1030
using `my_realloc2` should do the trick in all cases I guess. Except if there is a good reason to not do so. I didn't checked.

[2021-01-06 11:05] wtarreau commented on #1030
Ah excellent, I didn't remember about this one, seems like it was created exactly for this problem already :-)

[2021-01-06 11:06] srkunze opened #1034 "More accessible/explicit failure messages for beginners of haproxy"
## What should haproxy do differently? Which functionality do you think we should add?

More verbose/explanatory messages when dealing with segfaults while conf check is ok.

Cf "solution" here: https://stackoverflow.com/questions/65594145/haproxy-err-empty-response/65594146#65594146

## What are you trying to do?

Fixing a config that was good to go. Didn't find any clue of what the problem could

[2021-01-06 11:27] haproxyFred commented on #1032
I have replied to the mail I have received for this issue with a patch as attachment, but I am not sure this may work!

[2021-01-06 11:31] wtarreau commented on #1034
But the principle of a crash like you faced precisely is that it was a bug that escaped every possible check. By design *all* errors are checked and try hard to report the finest possible level of information, but once such a check contains the bug (or even the informational message itself), you can indeed end up in such a nasty situation which requires a fix. I can't repeat it louder, but **a cra

[2021-01-06 11:32] wtarreau commented on #1032
Ah you're right, I also got trapped a few times by this. Just send it to me and I'll merge it. Thanks!

[2021-01-06 11:35] TimWolla commented on #1032
Unfortunately attachments don't appear to be supported for “reply by email” on GitHub issues.

[2021-01-06 12:12] haproxyFred commented on #1033
Hmm, for haproxy server (QUIC clients) the connection context is initialized before receiving any packet running ->init() xprt callback with&conn->xprt_ctx as second argument. If the context initialization has failed, I agree there is an issue. But if this initialization has failed we must stop receiving any UDP datagram. The haproxy server dgram parser (qc_srv_pkt_rcv()) would not be called. This

[2021-01-06 12:28] capflam commented on #972
A push a patch that should hopefully fix this issue. For me, it is a thread-safety issue, when several stats page are requested concurrently.

[2021-01-06 12:31] capflam commented on #972
Just a note, because it is a bit hard to observe on the html page (but easier on the cvs output, see #992), I'll mark it as fixed. If I'm wrong, feel free to reopen the issue.

[2021-01-06 12:34] capflam commented on #992
A push a patch that should fix this issue. It is probably a duplicate of #972.

[2021-01-06 13:01] wtarreau commented on #1032
Now merged, thanks all!

[2021-01-06 13:01] #1032 closed, assigned to nobody

[2021-01-06 13:07] srkunze commented on #1034
Completely true. It's just that I want to make sure that the fault is not in my side and when reading this, I could not figure out if it's my environment or something else I need to fix first:

[code]

I somehow miss a big bang traceback, call stacks, variables, lines numbers, something to post here to make your life easier.

👍

[2021-01-06 13:11] TimWolla commented on #1034
Just to note this: It might be that this is an already fixed bug. The stock Ubuntu version is horribly outdated: https://www.haproxy.org/bugs/bugs-2.0.13.html

[2021-01-06 13:27] wtarreau commented on #1034
OK but call stacks, line numbers etc are what a debugger can provide. Actually I was already tempted multiple times by trying to intercept crashes to provide a first level of information, but based on my experience on the subject, it rarely works well and often results in the resulting core being unexploitable. And actually we *want* to get an exploitable core dump.

However what you're saying is

[2021-01-06 13:37] wdauchy commented on #1029
my original report was oriented to the observation that it is not straightforward to do a sum by value when you want to count the number of servers with a given status. On the other hand, using labels makes it possible to produce a sum(foo) by (state) very easily.
It is ok to use a label as long as the label values are a finite list to avoid exploding the cardinality over the time. It would also a

[2021-01-06 14:12] vooon commented on #992
@capflam i hope it would help.
I tried to build current master, but unfortunately it segfaults. Maybe because i only copy haproxy binary, not sure.
To me it's easier to build rpm from release tarball, so i would check next release.

[code]

[2021-01-06 14:14] leibaogit commented on #1021
@wtarreau Thanks for your sophisticated explanation, and it saved me out of the struggle of the two options :)

Then let's talk about the SPOE solution. V3 libmodsecurity can use different connectors to connect with different web servers (Nginx, IIS, Apache), then want to know whether the SPOA work with web server or libmodsecurity? If works with web server, then does it need different types SPOA

[2021-01-06 14:20] srkunze commented on #1034
Sad to hear.

Yeah, that quite nailed it. Good catch.

Let me know if I can help you with that message. Maybe presenting the running version in the message with a note that there might be updates somewhere and a link to this bug tracker and a link to the bug-list which @TimWolla mentioned would also be great. At least Google didn't show me any of this in the first place.

[2021-01-06 14:20] capflam commented on #992
Not good ... could you run it within gdb and without the master-worker mode to have a trace ? It could be good to know why it segfaults before the release.

[2021-01-06 14:23] srkunze commented on #1034
Oh, I assume so because as you can see in the SO answer that solves my issue. Just because Ubuntu LTS just made me think that there is nothing to worry of HAProxy being buggy.

I also cross-linked another SO entry which might be related to it.

[2021-01-06 14:28] vooon commented on #992
I tried to replace `-Ws` with `-db` and `-d`. In that mode it's working.
Will try to use foreground mode + increase monitoring frequency.

[2021-01-06 14:57] vooon commented on #992
I'm apologise, wrong binary!

[code]

Will try to build directly on that server...

[2021-01-06 15:08] capflam commented on #992
Hum, that's totally unexpected to have no request start-line at this stage. I must check how it is possible.

[2021-01-06 15:09] vooon commented on #992
Now i compiled directly on dev lb:

[code]

[code]

Gdb with `-db`:
[code]

Gdb `-d`:
[code]

[2021-01-06 15:18] wtarreau commented on #1034
There's this in the "haproxy -v" output that maybe we could emit again when such a critical error is detected:
[code]

[2021-01-06 15:29] srkunze commented on #1034
Good one!

[2021-01-06 15:49] capflam commented on #992
I don't understand how it possible. There is a code-path to create a stream without any request, but I didn't find it till now. In the first case (gdb with `-db` only), could you execute following commands ?
[code]

[2021-01-06 15:58] vooon commented on #992
[code]

[2021-01-06 16:18] capflam commented on #992
Thanks ! I got it. It happens during a TCP to HTTP stream upgrade for a TCP frontend routed to an HTTP backend. It is really annoying, I missed this point during my last changes on the H1 multiplexer. It only happens on the 2.4. It is unrelated to this issue though. A temporary workaround is to use an HTTP frontend.

[2021-01-06 17:25] pierrecdn commented on #1029
I +1 this, to favor explicit over implicit (such as constants) via labels in prometheus.
As an example, we had to do such weird things to aggregate at a backend level for health_check statuses:
[code]
And then I need reconciliate on the other end to make it readable for the end-user (ie. 15 = "Checks passing" etc.).

Doing it from the start would be way more convenient, but the clear downside I'm

[2021-01-06 18:29] wtarreau commented on #1029
Just thinking about something regarding the output size, as it's downloaded over HTTP it should be possible and extremely efficient to compress the output just like we can do for stats. That doesn't alleviate the need for parsing on the consumer side, but parsing a few chars versus a few digits is not what will dramatically change the cost, I guess that lookups of field names and the formating are

[2021-01-06 18:31] vooon commented on #992
Ok, i will test tomorrow. But i have a lot of proxies to update...
But TCP-TCP proxies would be ok, right? Because i have few plain tcp services.
Also after migration to 2.2 i have to revert to tcp for grpc (didn't have enough time to check what's wrong with my 2.1 config).

[2021-01-06 18:45] wdauchy commented on #1029
Thanks @pierrecdn for the confirmation.

the scrapping is one thing we can most likely improve through compression indeed; the real issue is more on the prometheus side as all metrics will be in memory. For another improvement we should think about a more granular way to filter out some metrics at the source level: it would avoid to scrap them from the beginning but also later the need to filter t

[2021-01-06 19:50] wtarreau commented on #1021
The SPOA is the agent (the one running the heavy work), SPOE is the client engine (the HTTP side, haproxy here). SPOP is the protocol used between the two, even though by abuse of language we often call it SPOE as well (you'll find all these details in doc/SPOE.txt).

So the SPOA is technically a daemon, a listening TCP server accepting connections from haproxy, over which some requests for conten

[2021-01-06 20:03] srkunze opened #1035 "Crash"
OK, guys. Crashed it again - this time with a bug report ;-) Change in the config was to add some awareness of static files. Config does not work with 2.2.6 and 2.3.2

[code]

Starting config (didn't work with 2.0.13; confirmed working with 2.2.6):

[code]

[code]

[2021-01-06 20:18] capflam commented on #992
Right, no pb with TCP-TCP proxies.

[2021-01-07 08:24] #972 closed, assigned to nobody

[2021-01-07 09:45] wtarreau commented on #1035
Thanks. Nothing fancy in your config. We're currently in the process of backporting plenty of fixes to emit a new 2.3 and a new 2.2 hopefully this week, and given the number of bugs fixed, it's possible that yours is as well. If you have the core, please open it in gdb and issue "t a a bt full" to get the full backtrace. It should provide important information about where it happened.

[2021-01-07 10:09] capflam commented on #992
The fix about the stats was backported to 2.3. Thus I'm closing this issue. I will create a new issue for the TCP-HTTP upgrade. It is unrelated with this one and it only affects the 2.4-dev. Thanks !

[2021-01-07 10:09] #992 closed, assigned to nobody

[2021-01-07 10:13] srkunze commented on #1035
@wtarreau  maybe it's important to note that it's running inside of a linux container on a RaspberryPi.

I will try to get a core dump. Give me a few minutes.

[2021-01-07 10:14] vooon commented on #992
I have been updated frontends and haproxy runs for a few hours without any problem.
I also do not see monitoring notifications, so stats must be fixed. Thanks!

[2021-01-07 10:15] capflam commented on #992
Thanks for the feedback.

[2021-01-07 10:29] SpComb commented on #90
The workaround using `var(sess.cloudflare)` as the conditional presumably fixes the "Actual behavior 2" case for a conditional configuration with requests that do have the header set, but does it fix the "Actual behavior 1" behavior for mixed requests on a keepalive connection with and without the request header?

I assume that the fourth request without any `X-Forwarded-For` set will continue to

[2021-01-07 10:42] srkunze commented on #1035
@wtarreau using `limit -c unlimited` and also looking at `/var/lib/systemd/coredump/`, I cannot produce one. Is there something I need to do first?

[2021-01-07 10:51] a-denoyelle commented on #1035
If using systemd, you should also take a look at /etc/systemd/coredump.conf and coredumpctl utility

[2021-01-07 11:13] wtarreau commented on #1035
By the way, coredumps will be automatically disabled by the kernel if you happen to have a "user" statement or various other ones. There is a special `set-dumpable` global option you can set in your global section that will make the process dumpable regardless of these other ones. I strongly encourage you to set it for this.

[2021-01-07 15:48] wtarreau commented on #822
Hi,

I never presumed that everyone was running 1.6 with a single process and know pretty well that some were forced to use multi-process with all the problems that came with that mode (inconsistent checks, heavier resources used by health checks on the servers, excessive socket usage on servers due to per-process idle connections, no stick-table synchronization sometimes requiring to chain two la

[2021-01-07 16:49] chipitsine opened #1036 "src/queue.c: null pointer dereference suspected by cppcheck"
[code]

[2021-01-07 18:04] chipitsine commented on #1036
`pp` is always true in 288. we can remove that check

[2021-01-07 23:28] TimWolla opened #1037 "Memory leak of proxy.used_server_addr during deinit"
## Code Report

Tool: valgrind

`valgrind --leak-check=full --show-leak-kinds=definite ./haproxy -c -f /tmp/config`

[code]

What's being leaked is the `key` in `srv_set_addr_desc`. It should probably be freed when freeing the `struct proxy` in `deinit()`.

/cc @tmccombs

## Output of `haproxy -vv` and `uname -a`

[code]

[2021-01-08 08:31] haproxyFred commented on #1036
There is the same issue for 'p' variable which is dereferenced before being tested.

[2021-01-08 14:24] #1027 closed, assigned to nobody

[2021-01-08 16:11] chipitsine opened #1038 "src/debug.c: resource leak suspected by coverity"
[code]

[2021-01-08 23:41] thomassross commented on #620
Closing this in favor of #621 and #898 because there is more activity there.

[2021-01-08 23:41] #620 closed, assigned to bedis

[2021-01-09 13:21] wdauchy commented on #941
@KlavsKlavsen it is already available in 2.3.3
Hope it answers your needs!

I believe we can close this issue

[2021-01-09 13:22] TimWolla commented on #941
Thanks for the reminder. Closing.

[2021-01-09 13:22] #941 closed, assigned to nobody

[2021-01-09 18:02] chipitsine opened #1039 "src/sample.c: null dereference suspected by coverity"
[code]

[2021-01-10 15:23] #1015 closed, assigned to nobody

[2021-01-10 15:24] TimWolla commented on #958
https://git.haproxy.org/?p=haproxy-2.2.git;a=commit;h=909dc3e911d1fba2317b2a1f77895932e3a7da60 is in 2.2.6 unless I am missing anything, so closing.

[2021-01-10 15:24] #958 closed, assigned to nobody

[2021-01-10 15:25] #1023 closed, assigned to nobody

[2021-01-10 15:25] #1024 closed, assigned to nobody

[2021-01-10 15:26] #1030 closed, assigned to nobody

[2021-01-10 15:26] #1004 closed, assigned to wlallemand

[2021-01-10 21:30] #1037 closed, assigned to nobody

[2021-01-11 09:16] #968 closed, assigned to nobody

[2021-01-11 09:58] wdauchy commented on #1039
yes we could simply add a test of the return value here like this is done in other places. I will handle this one.

[2021-01-11 11:25] wdauchy commented on #1038
it is a false positive as tctx free is later handle by task management if I'm not wrong.
we can close this issue

[2021-01-11 13:17] KGuillemot opened #1040 "Unable to load certificate chain"
## Detailed description of the problem

The certificate chain is not loaded when testing configuration file.
With the same configuration file, and the same certificate bundle, with haproxy 2.0.6 it works, but with 2.2.6 it does not.

## Expected behavior

The configuration file should be correct.

## Steps to reproduce the behavior

Just use the configuration file and the certificate below, and tr

[2021-01-11 13:24] KGuillemot commented on #1040
I am really sorry. The bundle certificate wasn't correct.
It is "BEGIN PRIVATE KEY" and not "BEGIN RSA PRIVATE KEY".
My apologize.

[2021-01-11 13:24] #1040 closed, assigned to nobody

[2021-01-11 15:25] khvzak opened #1041 "Haproxy 2.2.7 HAPROXY_CFGFILES is broken with Lua"
## Detailed description of the problem

Haproxy rewrites env variable `HAPROXY_CFGFILES` while processing Lua.
## Expected behavior

## Steps to reproduce the behavior

On 2.2.7
[code]

On 2.2.6
[code]

## Do you have any idea what may have caused this?
http://git.haproxy.org/?p=haproxy-2.2.git;a=commit;h=a9bca65df7674d2091ad753bad4e689d76a4a9db

## Do you have an idea how to solve the issue?

##

[2021-01-11 15:54] capflam commented on #1041
It is not a lua bug here. The chunk used to set the HAPROXY_CFGFILES env variable is a static trash chunk. The static trash chunks must not be reserved on large scopes, otherwise, there is no guarantee they will not be used in sub-functions. Here, it is reserved during the whole configuration parsing. It is far too large. A dynamic trash chunk must be used instead.

[2021-01-11 16:01] hynek commented on #971
JFTR, I can't tell you whether or not this bug is fixed, because both 2.2.7 and 2.3.3 segfault for me on startup while/right after DNS-SD.

[2021-01-11 16:13] bdossantos commented on #971
Hello! Same for me 😁. Tried to upgrade to 2.3.3 and I have a segfault ... 🤔

[2021-01-11 16:43] capflam commented on #971
@hynek, @bdossantos, if you have a core, could you provide the full gdb trace ? Thanks.

[2021-01-11 19:03] NickMRamirez opened #1042 "strict-limits is not enforced with master-worker"
## Detailed description of the problem

The documentation defines the global directive `strict-limits` this way:

the best setrlimit according to what has been calculated. If it fails, it
will emit a warning. **Use this option if you want an explicit failure of
haproxy when those limits fail.** This option is disabled by default. If it has
been enabled, it may still be forcibly disabled by prefixi

[2021-01-11 22:14] jmagnin commented on #1042
@wdauchy is strict-limits not supposed to apply when master-worker is used or was https://github.com/haproxy/haproxy/blob/master/src/haproxy.c#L3114 mistakenly copied from https://github.com/haproxy/haproxy/blob/master/src/haproxy.c#L3164 ? (also wondering about lines 3138 and 3150).

[2021-01-12 00:17] brhenc opened #1043 "HAProxy 2.2.0+ segfault when frontend has server lines defined"
## Detailed description of the problem

A frontend containing server lines that passes a configuration check with warnings (no alerts) using haproxy -c -f /etc/haproxy/haproxy.cfg fails when started with haproxy -f (or as a systemd service) with a segmentation fault.

Freak copy-pasting accident of haproxy config from Slack revealed the issue.

## Expected behavior

The behavior in HAProxy 1.5 (or

[2021-01-12 02:46] TerrySunTW opened #1044 "Haproxy:2.3.2, Using multi-condition with if in use_backend will be ignroe the setting."
## Detailed description of the problem

Using multi-condition with if in use_backend will be ignroe the setting.

## Expected behavior

multi-condition with if shoud works in use_backend

## Steps to reproduce the behavior
my haproxy.cfg
[code]

When I change last line to below, it works, but I need it work only on abc.com.
[code]

When I change last line to below, it cannot works too and got same

[2021-01-12 03:36] xorander00 opened #1045 "SIGBUS on FreeBSD 12.2-RELEASE for 2.2.7"
## Detailed description of the problem

2.2.7 randomly crashes with SIGBUS (signal 10) on FreeBSD 12.2-RELEASE.  Wish I could be more specific, but I have been unable to narrow down a potential set of conditions that causes the crash.

## Expected behavior

Operate as normal without crashing.

## Steps to reproduce the behavior

Unsure, as not able to pinpoint any specific set of conditions as of

[2021-01-12 03:41] xorander00 commented on #1045
Oh, and got help on IRC that gave further insight into it.  Snippet of conversation as follows...

[code]

[2021-01-12 06:50] TerrySunTW commented on #1044
I have sovled the problem, my problem is about declare acl hdr_dom(Host) is not support https.
That's why the acl not working in https request.
I need to change to use req_ssl_sni to check domain name.
please help to close the issue.

Thanks.

[2021-01-12 10:06] wdauchy commented on #1042
I must say I had a hard time remembering why I wrote it that way but now I remember; I wanted to have a scenario such as:
- we have a working process
- we update the ulimit
- we reload, haproxy is unable to set the new limit, the reload fails, without breaking the working process

but I agree it is adding some confusion for the initial start and not aligned with what it is stated in the documentat

[2021-01-12 10:07] jmagnin commented on #1042
I'll send a patch. Thanks

[2021-01-12 10:11] wdauchy commented on #1042
thanks. please make sure to add the above context I mentioned in the commit message so we better understand later the history of it.

[2021-01-12 10:12] wlallemand commented on #1042
The behavior could be enhanced by checking the HAPROXY_MWORKER_REEXEC environment variable, so it could still exits during the first start but not during a reload.

[2021-01-12 10:19] wdauchy commented on #1042
ah good point, I missed that `HAPROXY_MWORKER_REEXEC` when I had a quick look this morning.
just to make it clear if we use it:
- exit at first start when limits cannot be set
- exit new worker during a reload to fail the reload

both approach are ok to me at the end, if we either exit everything or just the new worker.

[2021-01-12 10:20] wlallemand commented on #1042
Well, in fact I forgot something, with the master-worker, if you do an exit() during a reload, the atexit() callback is called and the master process reexecute itself in wait mode, which is the normal behavior when a configuration is invalid and it does not kill the previous processes. So you don't have to check if you are in master mode or not if you do an exit() during the parsing.

[2021-01-12 10:32] wdauchy commented on #1042
ok, that's clear indeed

[2021-01-12 10:54] wtarreau commented on #249
Implemented and merged into 2.1 more than a year ago, closing now.

[2021-01-12 10:54] #249 closed, assigned to nobody

[2021-01-12 11:07] chipitsine opened #1046 "src/sample.c: resource leak suspected by coverity"
[code]

[2021-01-12 11:33] wlallemand commented on #1011
Thanks for the report, I'm reproducing the issue as far as 1.8. I'm looking for the problem.

[2021-01-12 12:29] TimWolla commented on #425
Duplicate of #941

[2021-01-12 13:36] #1044 closed, assigned to nobody

[2021-01-12 14:05] rlebreton commented on #1046
It should be fixed by the linked patch.
[0001-BUG-MINOR-sample-Memory-leak-of-sample_expr-structur.txt](https://github.com/haproxy/haproxy/files/5802551/0001-BUG-MINOR-sample-Memory-leak-of-sample_expr-structur.txt)

[2021-01-12 14:06] domdom82 opened #1047 "2.2.5 cannot enable a frontend that was launched disabled"
## Detailed description of the problem

I am trying to dynamically load certificates into HAproxy using the socket API.
The crt-list will be empty on startup. I have sidecar process that fetches the certificates from an external source and pushes them to HAproxy. So to prevent the HAproxy from getting any traffic while it does not yet have all certificates loaded, I want to disable a frontend that

[2021-01-12 14:17] lukastribus commented on #1047
This is not a bug, it's simply not supported, as per the error message.

The real feature request behind this is about disabling and enabling listeners during runtime, which is filed here:
https://github.com/haproxy/haproxy/issues/270

[2021-01-12 14:24] domdom82 commented on #1047
hi @lukastribus thanks for the quick response. I am not sure if both issues mean the same thing. Notice that I actually CAN disable the listener after it has been started initially.

So this works if I remove the `disabled` keyword from the config:
[code]

It just doesn't work if the listener is disabled in the config to begin with.

[2021-01-12 14:28] lukastribus commented on #1047
Yes, I'm aware. This boils down to disabling / enabling listeners, which is what the other feature request is about.

[2021-01-12 14:52] domdom82 commented on #1047
Hmm then it could be a documentation bug. The docs say:
[code]

So my assumption was that the frontend is still created but should be something like this in `show stat`:
[code]
(this is how it looks like after I send the `disable frontend` socket command)

Instead when I add the `disabled` keyword it does not show up at all:
[code]

So it seems, contrary to what the documentation says, that the li

[2021-01-12 15:04] apenney-beeswax commented on #958
I got some bad news @wtarreau - I rolled out 2.3.3 last night and noticed overnight:

[code]

Not sure if everything in the list of fixes made it to 2.3.3, but something is still going on.  I'll get one of these machines setup to grab core dumps again like last time!

[2021-01-12 15:49] capflam commented on #971
We reverted the commit 8461b9e (not backported yet). Another way to fix the issue is under evaluation.

[2021-01-12 16:57] capflam commented on #1043
Thanks @brhenc. It should be fixed in the 2.4.

[2021-01-12 16:59] capflam commented on #1046
Thanks @rlebreton. Pushed now !

[2021-01-12 17:52] chipitsine opened #1048 "src/cli.c: unused variable suspected by Coverity"
[code]

[2021-01-12 22:32] ross opened #1050 "Allow logging of the number of requests a connection has seen"
## What should haproxy do differently? Which functionality do you think we should add?

It would be useful when tuning settings related to keep alive/timeouts if there was a log format available in HAProxy with the request number per connection. E.g. `connection_request_count=%cr` or whatever variable name would make the most sense. The variable would be 1 for the first request across the connecti

[2021-01-13 00:26] TimWolla commented on #1043
I wonder why this is a warning only. Would it make sense to turn this into a hard error? Is there any case where having a `server` in a `frontend` section is not a mistake?

[2021-01-13 02:34] leibaogit commented on #1021
@wtarreau sorry for a late response I was stuck in other things for few days :-(.... Thanks again for the explanation, and I've asked the modsecurity in this [issue](https://github.com/SpiderLabs/ModSecurity/issues/2491), and got an answer that there is a project doing a similar thing, they use the [golang ModSecurity library bindings](https://github.com/rikatz/go-modsecurity) to expand their hapr

[2021-01-13 04:31] wtarreau commented on #1043
Just checked and this check dates v1.3.4 in 2006, commit 977b8e41  ("[MAJOR] distinguish between frontend, backend, ruleset and listen") to be precise. Historically we wanted not to break existing configs, and most warnings are emitted with some settings that are useless and have no effect (e.g maxqueue etc), hence the introduction of the function "warnifnotcap()". But apparently we never added a

[2021-01-13 07:10] wtarreau commented on #1050
I agree and have been missing this feature as well. However when I was about to add it, I figured that it's not that clearly defined anymore now that we support HTTP/2. Indeed, requests happen in parallel for a given connection, and there is already a reliable identifier there, which is the stream ID. This number usually increments in two (odd numbers only are used for streams initiated by the cli

[2021-01-13 07:13] wtarreau commented on #1035
By the way, stupid question since this is an extremely common issue on RPi, are you certain of your power supply's stability ?

[2021-01-13 07:27] wtarreau commented on #1047
Hi,

right now "disabled" is the only alternative to entirely removing a config section. The most common use case for not binding a listening port that is temporarily bound to another process (other haproxy instance or the server). For example let's say you're trying to install haproxy in front of Apache or NGINX, each time you try you figure a few config mistakes, you certainly don't want to comm

[2021-01-13 07:42] hynek commented on #971
Unfortunately I do not have one and I've used up my downtime quota when trying to upgrade. 😬

[2021-01-13 07:43] wtarreau commented on #1041
Ah and the code is confusing because what it calls "trash" is not the trash but one of the rotating ones, so it shadows the other one. In addition it's missing length checks when appending to the trash variable, so if you start with a large directory having 1k files or so, the total variable will exceed the 16kB limit and the final variables will be silently ignored.

I'm extremely surprised this

[2021-01-13 07:49] wtarreau commented on #1036
Yes we can remove the test on `pp`, it was just for readability (i.e. have the 4 combinations of p/pp). It can be replaced by a comment above the test saying "now pp is non-null". However Fred, I can't find where p is dereferenced before being tested, are you sure you were not mistaken ?

For me, !pp&&!p return 0, !pp&&p go to use_p, pp&&!p go to use_pp which doesn't use p, and we're left with pp&

[2021-01-13 07:53] wtarreau commented on #1045
Thanks. I'm seeing you're using resolvers, and a fix that was backported in 2.2.7 actually introduced a regression and was reverted from 2.4. I'm going to revert it there as well and issue a new set of stable releases in order to address this. In the mean time, please apply this patch which reverts it.
[a.diff.txt](https://github.com/haproxy/haproxy/files/5807177/a.diff.txt)

[2021-01-13 08:42] xorander00 commented on #1045
Thank you for the prompt reply, appreciate it!  Will apply patch and re-compile.

[2021-01-13 08:49] haproxyFred commented on #1036
I remember having read if (!pp et !p) or if (pp && p) (the same test on pp and p)  and concluded they was logically the same issue both on p and pp variable without even opening the source file.

[2021-01-13 09:07] domdom82 commented on #1047
hi @wtarreau thanks for the clarification. Just for my understanding, by `"disabled" per bind line` you mean instead of this

[code]

we could do this
[code]
?

so the frontend would actually be created and then there would be some API to enable just the port bind later?

[2021-01-13 10:34] capflam commented on #1041
Relying on memprintf is indeed a good idea. Here is a patch to fix this bug. I have just a doubt about the fatal error if the allocation fails. It is not really critical if the variable is not exported. In other hand, a memory allocation error is probably worst enough to exit.

[0001-BUG-MINOR-init-Use-a-dynamic-buffer-to-set-HAPROXY_C.patch.txt](https://github.com/haproxy/haproxy/files/5807997/00

[2021-01-13 10:36] capflam commented on #1043
Ok, I'll emit an fatal error instead of a warning. It may be backported as far as 2.2 too I guess (maybe as far as 2.0).

[2021-01-13 13:03] capflam commented on #971
@hynek, no pb. I truly understand. The commit was now reverted in the 2.3 and 2.2. New releases are on the way. I just want to check with @bedis if a fix for this issue is feasible in the meantime.

[2021-01-13 14:18] ross commented on #1050
Yeah. A combination of stream ID (for HTTP/2) and an incrementing counter (for HTTP/1) sounds like it'd suffice.

[2021-01-13 14:56] vedranf commented on #557
Just a quick update. Upgrading to 2.2 and nginx to 1.18 didn't change much if anything. I also tried to experiment with http-reuse, however I did not notice any difference on the error graphs.

[2021-01-13 15:47] srkunze commented on #1035
@wtarreau I use the original RPi power supply for my version of the RPi. Do you have something concrete in mind which I could check?

[2021-01-13 16:42] wtarreau commented on #1041
I thought this variable was used by the master code on reloads but it is not. Maybe it used to be, I don't know. However if anyone relies on the file, it makes sense to ensure that it matches reality instead of silently failing to set some values. Also there's little risk of allocation error for strings, and as you say if it happens, better stop. BTW, better add a '#' in front of the issue number

[2021-01-13 16:44] capflam commented on #1041
Ok thanks I'll push it (and add a "#" in front of the issue number).

[2021-01-13 16:46] wtarreau commented on #1047
Yes, that was the idea. We can currently re-enable disabled listeners on some operating systems. We'd just start the socket in the same state (bound but not listening), so that via the CLI you could enable the frontend and it would automatically re-enable all of its listeners (and possibly later offer finer control, but at the moment we don't even know how to designate a bind line nor a listener f

[2021-01-13 16:48] wtarreau commented on #1035
The original PSU usually is OK. Look at the red LED. If you see it flashing/blinking, it definitely indicates a power supply issue. Not seeing it flash doesn't necessarily indicate everything is OK though, but that's a good start. With that said, I was essentially asking "just in case", as there are definitely bugs from time to time in haproxy which can cause crashes, but PSU issues are also a kno

[2021-01-13 16:54] wtarreau commented on #557
Thanks for this feedback, Vedran. At least on 2.2 you can decide to trace errors, so we may hope a bit more visibility on what is really happening. Please just try to do this:

[code]
This will capture detailed info about internal states for every known error case in H2. Then you can later check for captured errors using "show events buf0". If you want to collect them as they are logged, and archi

[2021-01-13 16:55] capflam commented on #971
FYI, the 2.3.4 and 2.2.8 have been released with the commit 8461b9e reverted. Unfortunately, that leaves this issue unresolved for now.

[2021-01-13 16:59] wtarreau commented on #853
Hello,

sorry for the huge delay, I guess you were unlucky to have your issue in the middle of a storm and nobody noticed it :-(

I agree that it definitely looks like a bug (just like the one Vedran reported in issue 557 as you mentionned). I've just suggested him to try to enable traces so that we can hope to find something to look for. At the moment we failed to reproduce these errors out of su

[2021-01-13 18:26] chipitsine commented on #1035
I run haproxy on raspberry without any issue. Can you describe repro steps ?

[2021-01-13 18:35] f1-outsourcing opened #1051 "haproxy version is 2.3.3-9233c21"
I am having haproxy 2.2 running for a while with 256MB. I wanted to give 2.3 a try, but getting segfaults

Tried again with 512MB
[code]

Tried with 1GB
[code]

Strange is on the docker test environment it seems to run without issues. The container test environment has 3 adapters.

[2021-01-13 18:38] TimWolla commented on #1051
This is not the first issue you are opening here. Would you kindly not ignore the issue template?

[2021-01-13 18:38] #1051 closed, assigned to nobody

[2021-01-13 19:59] srkunze commented on #1035
Of course. You install it in a fresh Ubuntu 20.04.1 TLS installation and use the config from above.

Once the server starts, nothing bad happens.
But as soon as you wget to it, it crashes with the usual failure message.

[2021-01-13 20:10] wtarreau commented on #1035
Could you please post your global and default sections ? They definitely contain the most important parts and it's impossible to try the config without them. Thanks!

[2021-01-13 20:10] domdom82 commented on #1047
I see. Yes I think what you proposed would satisfy my requirement. My goal is to keep haproxy out of traffic until I have fully set the dynamic parts of the configuration (namely crt-list and certificates). So having a frontend that does not (yet) listen and can be turned on later would be fine.

[2021-01-13 20:23] f1-outsourcing commented on #1051
I think this is related to compiling flags. If I compile using your Dockerfile of 2.3 with alpine 3.10 I do not have the segfault. I do not know to much about the differences between alpine 3.10 and 3.12, but I think I have previously used alpine 3.12 images with CentOS 7 kernel 3.10.

[2021-01-13 20:36] lukastribus commented on #1051
If you can reproduce this with 2.3.4, open a new issue and properly fill out the issue template.

[2021-01-13 20:37] f1-outsourcing commented on #1051
Your dockerfile of haproxy 2.2 is also having alpine 3.12, and I have been using that quite some time, so it cannot be an alpine issue. So I guess your compiling flags have changed or your building platform.

[2021-01-13 20:48] chipitsine commented on #1035
as an option, can you try to run it in gdb ?

gdb --args /path/to/haproxy -f  /path/to/config -d

after it fails, it should escape to gdb, where you can debug as usual, i.e. "bt full" and so on

[2021-01-13 23:00] hkrutzer commented on #853
Thank you for your reply. We have since upgraded from 2.0 to HAPEE 2.0 (iirc), and now 2.2. We are no longer seeing the issue as I originally described there; it disappeared when we switched to HAPEE. There is some other issue, but it does not seem to be HAProxy related, as it does not show up in HAProxy logs.

[2021-01-14 03:42] khvzak opened #1052 "Delete from ACL is O(n)"
## Detailed description of the problem
Removing value from a large ACL takes long time and makes not suitable for runtime updates. Probably because the complexity is ~O(n).
Also during the procedure haproxy consumes 100% CPU and slow down requests.

## Expected behavior
O(1) ideally or O(logN) in worst case.

## Steps to reproduce the behavior

[code]

About **2 sec** to delete one entry on **2.9

[2021-01-14 08:30] fusionfoto opened #1053 "haproxy 2.2.7 - connections stuck in CLOSE_WAIT after a reload"
## Detailed description of the problem

After a reload, a number of connections are left in CLOSE_WAIT many hours afterwards.

[code]

[code]

[code]

[code]

[code]

[code]

## Expected behavior

I would expect that after a reasonable window of time the connections would close and the old process will go away on its own. Added the hard-stop-after command AFTER reviewing reviewing issue 233, it wa

[2021-01-14 08:33] wtarreau commented on #853
Then it very likely means that it's one of the lately fixed issues. HAPEE is constantly updated to take the lastest stable fixes so I guess that the version you deployed had the fix that the one you originally installed did not have. We've indeed fixed a small number of possibly harmful H2-related issues since July, and it's very possible that the one(s) you were facing were in that list. Do you t

[2021-01-14 08:43] TimWolla commented on #1053
I just fixed the formatting of your issue text. Code blocks in markdown are indicated by 3 backticks (```), not the `<code>` HTML tag. I hope I did not accidentally break anything during my text, please have a look at the text to make sure everything is there as you expect it.

[2021-01-14 08:45] wtarreau commented on #1052
Yes, this is known and was addressed in 2.3. The root cause of the problem is that keys are multiply-indexed and we need to visit all their indexed places, but the links were only between the call places so it was not always possible to directly access them depending on the indexing. In 2.3 the indexing method changed so that for each input key we have a direct pointer to all use places and we're

[2021-01-14 08:49] wtarreau commented on #1043
closing since the fix was backported.

[2021-01-14 08:49] #1043 closed, assigned to nobody

[2021-01-14 09:09] fusionfoto commented on #1053
Wow, thank you so much. I was coming back to check on its formatting. I basically pulled all the same info the person from 233 was asked to pull, but didn't do half as nice a job with formatting it.

Thanks again!

[2021-01-14 10:17] hkrutzer commented on #853
Yep that seems reasonable.

[2021-01-14 10:17] #853 closed, assigned to nobody

[2021-01-14 12:47] wdauchy commented on #1048
this was introduced by commit 3301f3e5cdecf2439762a678c1c2e9846a41e0f6 ("BUG/MEDIUM: cli: handle correctly prefix and payload").
So it's true that looking at the current code, ret will be overridden anyway, so we could remove this `ret = reql;` statement. But maybe this was added on purpose as a generic way. Any thoughts @wlallemand?

[2021-01-14 13:08] domdom82 opened #1054 "2.2.5 Can we make "show acl" list the actual name of the ACL?"
## What should haproxy do differently? Which functionality do you think we should add?

When executing the `show acl` socket command, the response should also list the actual name of the ACL so I can easily find the one I want to change.

So instead of this:
[code]

I would like to see this:
[code]

## What are you trying to do?

I am trying to modify an ACL dynamically using the socket API.
For t

[2021-01-14 14:40] rlebreton commented on #905
It is an actual bug (although pretty unlikely). It can be fixed thanks to the attached patch.
[0001-BUG-MINOR-sock-Unclosed-fd-in-case-of-connection-all.txt](https://github.com/haproxy/haproxy/files/5815081/0001-BUG-MINOR-sock-Unclosed-fd-in-case-of-connection-all.txt)

[2021-01-14 15:01] hynek commented on #971
I'm happy to confirm that 2.2.8 doesn't crash on startup anymore.

[2021-01-14 16:38] khvzak commented on #1052
Results from the `HA-Proxy version 2.3.4-10189c9 2021/01/13 - https://haproxy.org/`

[code]

Seems not fixed :( I'll try the latest master later today

[2021-01-14 16:45] wdauchy commented on #905
oh ok, thanks, I overlooked de fail path indeed.

[2021-01-14 17:38] wtarreau commented on #1052
Just checked and I was wrong, the dev was done before the 2.3 release but too late and too touchy to be merged at the last minute, so it's only in 2.4.

Regardless I'm interested in your feedback! By the way, could you please issue a `wc -l` on acl.txt just to get an idea of the complexity ? My tests were run with up to 20M IP addresses per file.

[2021-01-14 21:49] Supermathie commented on #90
Correct; if you are getting traffic from a trusted source with a mix of X-F-F set and unset, you'll need to save the original IP somewhere and restore it if X-F-F is not present.

[2021-01-14 22:34] khvzak commented on #1052
`acl.txt` has exactly 10,000,000 records and I used the following command to generate it:
[code]

Tested on `2.4-dev5-e3bdc8-29` (latest master) with these results:
[code]
Much better. I'm happy that the issue finally has been addressed.

[2021-01-15 06:35] wtarreau commented on #1052
Great, thank you. Do you currently have a production requirement on this making it a showstopper for 2.3, or can you reasonably wait for 2.4 to be released (a few months) ?

[2021-01-15 07:37] thomas-kaltenbach opened #1055 "2.2.7: Socket 'show ssl cert' command doesn't return ca-files from the config"
## Detailed description of the problem
I could add a cert and a ca-file with the socket and afterwards I could add it to the crt-list by socket. Everything fine.
But I noticed that the ca-files which are configured by the configuration are not returned when I call `show cert`

## Expected behavior
`echo "show ssl cert" | nc -U socket.sock `

[code]
## Steps to reproduce the behavior

1. Start hapr

[2021-01-15 10:25] a-denoyelle commented on #1055
I'm not sure to understand your demand, only certificates are listed on show ssl cert but never the CAs. If this is what you need, you probable should create a feature request.

[2021-01-15 11:08] thomas-kaltenbach commented on #1055
Hi @a-denoyelle,

thanks for the quick response.

Ok, I understand the CAs are not listed at `show ssl cert` by design.

I am only wondering because I could add a CA with `new/set/commit ssl cert /etc/ssl/ca-file` and I could add successfully a crt-list entry which referenced this /etc/ssl/ca-file.

`add ssl crt-list /etc/ssl/crt-list <<\n/etc/ssl/cert-0.pem [ca-file /etc/ssl/ca-file verify requir

[2021-01-15 11:27] wlallemand commented on #1055
I fail to understand how you manage to do that, these SSL commands only work with a private/public keypair. And the ca-file is only a public key. If you use a ca-file when creating a new crt-list line, haproxy will look for the name of the ca-file in its ca-file cache which was populated at startup. Unfortunately you can't update this cache with the current implementation.

[2021-01-15 11:47] khvzak commented on #1052
I can wait for 2.4 (plus this is going to be a LTS version), thanks. Currently I use my own ACL implementation built on top of the Lua API, Rust binary code and rely on `HAPROXY_CFGFILES` exported variable.
It works very fast on large scale despite the global Lua lock across threads.

[2021-01-15 13:02] wtarreau commented on #1052
Great, thanks. The global Lua lock has little effect until a sudden wall that happens once you start to consume too much time in Lua from too many threads. But once you move to 2.4, you'll benefit from the new `lua-load-per-thread` directive which allows all thread to run their own lockless Lua state, which is perfectly suited to such things.
I think we can close this issue now then.

[2021-01-15 13:19] #1052 closed, assigned to nobody

[2021-01-15 15:19] domdom82 commented on #1055
That's unfortunate as it blocks us from using this feature to fully manage the crt-list via the socket instead of static files.
I suggest we close this ticket in favor of a feature request for the same?

[2021-01-15 15:53] wlallemand commented on #1055
I agree.

[2021-01-15 16:06] wtarreau commented on #971
Hi,
Baptiste proposed a second version of the patch which we merged into 2.4. A pointer initialization was missing, causing random failures as soon as a previous non-null value was found there. This time it resisted memory poisoonning and passed all tests. I'm attaching the patch for convenience, it would be nice if those affected by the original issue could test it again, it should apply fine on

[2021-01-15 17:28] wlallemand commented on #1011
I'm really not sure how to fix this, I'm not even sure I'm reproducing the same problem in fact.
My OpenSSL version is not exactly the same (1.1.1i), so maybe your problem was fixed in OpenSSL.

After generating a large number of CAs, I reproduce a failure with 476 CAs, however the `openssl s_client` command didn't return the same error, in fact HAProxy does not sends the CA names once reached thi

[2021-01-15 22:15] paweldomas commented on #938
@shauntarves

Do you have 2 or 3 instances? peer names should be consistent across the configs, so they should look like this:

On web-gateway1:
[code]
On web-gateway2:
[code]

@wtarreau is there a way to enable logging about peering status? no matter which debug level is set there's no output about peering even if there are protocol errors reported in the peers state(`proto_err=xxx`).

[2021-01-15 22:18] paweldomas commented on #938
@shauntarves also you should start `web-gateway1` with:
`haproxy -W -db -L web-gateway1 -f /usr/local/etc/haproxy/haproxy.cfg`

`web-gateway2` should be started with:
`haproxy -W -db -L web-gateway2 -f /usr/local/etc/haproxy/haproxy.cfg`

I think the `-L` option can be skipped if you have each hostname configured to be `web-gateway1` and `web-gateway2` on the system level.

[2021-01-16 03:25] lastquestion commented on #1001
Hi @capflam, I guessed this might be the case. Sorry for replying back so late, but I wonder how I should know when haproxy is ready to accept traffic, or otherwise put, when it has opened all the sockets and listening. I was using the log lines to know when that occurred. Well now I can see that the log lines didn't actually 100% correspond to that state, anyway.

For example suppose for some odd

[2021-01-16 12:40] TimWolla commented on #1001
HAProxy supports the `sd_notify` API. If you run HAProxy with `-Ws` in systemd it will send a readiness event to systemd once it has started:

https://github.com/haproxy/haproxy/blob/6ca89162dc881df8fecd7713ca1fe5dbaa66b315/src/haproxy.c#L858-L861

I can't comment on whether HAProxy actually fully started up by then. It might or might not be possible to move this call even further down.

[2021-01-17 14:12] amolarote opened #1056 "TLS issue after upgrade haproxy 2.3.2"
## Expected behavior

## Steps to reproduce the behavior

1.
2.
3.

## Do you have any idea what may have caused this?

## Do you have an idea how to solve the issue?

## What is your configuration?

[code]

## Output of `haproxy -vv` and `uname -a`

[code]

## If HAProxy crashed: Last outputs and backtraces

[code]

## Additional information (if helpful)

[2021-01-17 14:14] amolarote commented on #1056
Dear Team,

After upgrading haproxy 2.3.2 we are facing below issue.
org.apache.commons.httpclient.HttpMethodDirector executeWithRetry
INFO: I/O exception (javax.net.ssl.SSLException) caught when processing request: Received fatal alert: protocol_version

Centos 7.6
Java 1.7

[2021-01-17 14:23] jmagnin commented on #1056
Hi,

This issue tracker is for tracking bugs and feature requests directly relating to the development of the software itself.

Use the forum or the mailing list if you have a question rather than a bug or feature request.

The forum is at: https://discourse.haproxy.org/

- The mailing list (no need to subscribe) is: haproxy@formilux.org
- Subscribe to the list: haproxy+subscribe@formilux.org
- Un

[2021-01-17 17:50] #1056 closed, assigned to nobody

[2021-01-18 01:08] gtech99 commented on #1045
Can you confirm whether this patch fixed the issue ?

[2021-01-18 04:50] xorander00 commented on #1045
I did, it appears to have fixed the issue.  Thank you! :)

[2021-01-18 04:50] #1045 closed, assigned to nobody

[2021-01-18 07:55] thomas-kaltenbach opened #1057 "Runtime API: manage CAs via socket"
## What should haproxy do differently? Which functionality do you think we should add?
We need following functionalities to update all our certificates dynamically:

[code]

## What are you trying to do?
With [Dynamic SSL Certificate Storage](https://www.haproxy.com/de/blog/dynamic-ssl-certificate-storage-in-haproxy/#:~:text=The%20new%20Dynamic%20SSL%20Certificate,to%20commit%20or%20cancel%20them.

[2021-01-18 07:56] thomas-kaltenbach commented on #1055
I opened feature request #1057, therefore I close this issue.

[2021-01-18 07:56] #1055 closed, assigned to nobody

[2021-01-18 08:42] hynek commented on #971
Hi Willy, I'm honored you took the time for my humble bug. :) Unfortunately I have no easy way to just build and test an HAProxy. We're very small scale & use Vincent's PPA. If you gave me a blessed binary I could try to pop it in at 5am and try draining a few nodes.

[2021-01-18 11:38] albix opened #1058 "haproxy 2.3.4 segmentation fault in __pool_get_from_cache"
## Detailed description of the problem

Some time after launching haproxy the process crashes with a segmentation fault.

## Expected behavior

haproxy should not crash.

## Steps to reproduce the behavior

I do not have any idea how to reproduce this issue.

## Do you have any idea what may have caused this?

No.

## Do you have an idea how to solve the issue?

No.

## What is your configuration?

[2021-01-18 14:39] srkunze commented on #1035
Here you go
[code]

[2021-01-18 15:00] srkunze commented on #1035
I gave it another try but were unsuccessful. :-( Will try the gdb idea.

[2021-01-18 15:25] srkunze commented on #1035
Well, sorry to bother you again, but what's necessary for gdb to open up the port?

[code]

[code]

[2021-01-18 15:42] srkunze commented on #1035
I remembered that you pushed out a new version last week. I installed 2.3.4 but the error remains.

[code]

[2021-01-18 15:50] domdom82 commented on #1011
I am pretty sure it is related to the combined size of all CA names. I have found a tipping point of 1480 CAs. Each have the following form of the DN:
[code]

Each DN notation has exactly 25 bytes. So multiplying that with 1480 gives me 37000 bytes.

Trying 1481 CAs (which equals 37025 bytes) no longer works. So I am pretty sure the limit is around the 37k area.
This is somewhat disappointing as I

[2021-01-18 15:54] domdom82 commented on #1011
https://github.com/openssl/openssl/issues/4819 may be related

[2021-01-18 16:00] srkunze commented on #1035
Alright. In the meantime, I boiled the problematic part of the config down to this line:

[code]

And when removing the `-i` the server does not crash anymore. :-)

[2021-01-18 18:52] bdossantos commented on #971
Hi, more or less in the same case, the difference is all my haproxy are dockerized. If you have an image tagged with the patch I can test it on a drained node.

[2021-01-18 19:23] chipitsine commented on #1035
in the config above there's nothing like `is_static`

can you please post the full config ?

I tried to repro on amd64 on latest master branch using

[code]

works as expected. I will try on Raspberry Pi 400 tomorrow

[2021-01-18 20:53] wlallemand commented on #1011
Unfortunately there is no way to check this with OpenSSL, or we will need to do an arbitrary computation which will depends of the OpenSSL implementation... Which is ugly. You can still bypass the problem by using the [no-ca-names](https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#no-ca-names) option, but it looks like there is no clean way to detect the problem.

[2021-01-19 07:49] srkunze commented on #1035
[code]

[2021-01-19 08:23] domdom82 commented on #1011
What is weird that OpenSSL does send an error (SSL alert number 80 == internal error) during the server hello message in the TLS handshake. So there must be logic that checks the size, even though it does not return an error to HAproxy. I'm not familiar with the code base unfortunately so I don't know where to look. Can you tell me how / where HAproxy calls into OpenSSL?

[2021-01-19 11:32] wlallemand commented on #1011
Right, but it's an error generated during the handshake, not during the configuration of the SSL_CTX so it can't fail at startup.

And we are currently limited by HAProxy for handshake errors, it can only output "SSL hanshake failure" if a handshake fails. Look for "CO_ER_SSL_HANDSHAKE" in src/ssl_sock.c, this is the error code which define this error.

[2021-01-19 12:51] mcarbonneaux opened #1059 "multiple monitor-uri not work, the last monitor-uri overide the other one !"
## Detailed description of the problem

In the HAProxy docs (i've tryed haproxy from 1.8 to 2.1.11), I don’t see it explicitly stated that multiple monitor-uri statements cannot be used in a single frontend.

When i try to add multiple monitor-uri in frontend (each uri are used by different frontend lb) the behavior seems to be that the last monitor-uri in the frontend overrides the others.

## Ex

[2021-01-19 19:56] paweldomas opened #1060 "Peering stops working (proto_err > 0)"
## Detailed description of the problem

In a setup with 2 haproxy instances configured to synchronize their stick tables via peering, at some point peering breaks and doesn't synchronize the stick tables between peers anymore. The `proto_err` counter has recorded many errors. So far I've seen it only once and there's limited information that can be provided.

## Expected behavior

HAproxy instance

[2021-01-20 10:11] wtarreau commented on #1058
Thanks for this report!

It's totally unexpected, so we'll have to dig a little bit. Is this one reproducible or did it happen only once ? What's the latest version you were used to run (if any) which didn't suffer from this bug ?

If it happens often, given that it shows a memory corruption, it would be useful to rebuild with `DEBUG="-DDEBUG_STRICT -DDEBUG_MEMORY_POOLS -DDEBUG_DONT_SHARE_POOLS"`.

[2021-01-20 10:19] wtarreau commented on #1053
Thanks for your detailed trace, it definitely is a bug. Did this happen after an upgrade, and if so, from which version ?

I'm seeing there H2+SSL on each connection and I'm currently working on another report of an issue caused by the exact same problem resulting from a fix for a truncation bug, that was integrated into 2.2.5. However in the other case, some CPUs were spinning. If you still have

[2021-01-20 10:31] wtarreau commented on #1054
No, because in fact what you're listing in "show acl" are the references to a pattern file that's used by one or many ACLs (even anonymous ACLs). If I remember correctly, the file and line number that are listed are the first occurrence which caused the file to be loaded. All other occurrences simply reuse the same structure, so there's no back-reference to the ACL.

ACL names are essentially a wa

[2021-01-20 10:35] wtarreau commented on #1060
Please note, your version is affected by no less than 100 known bugs according to http://www.haproxy.org/bugs/bugs-2.2.4.html 6 of which affect the peers. And I do remember some work around very similar descriptions a few months ago. Please update to the latest maintenance package (2.2.8 at the time of writing) and try again. Thanks!

[2021-01-20 10:42] wtarreau commented on #1059
Yes absolutely. There's exactly one such URI defined in a frontend. Maybe the doc is not clear on this subject indeed.

If you really need multiple monitor-uris you could actually implement them using the return directive instead nowadays. E.g.
[code]

Do you want to propose a different wording for the doc or an addition that would have made this point more obvious to you when you checked there ?

[2021-01-20 10:58] wtarreau commented on #1011
Note that the largest list you can send is probably around 65535 (more or less whatever fatty chunks needed around) given that most TLS fields lengths are encoded on uint16. At 1480 entries, this gives 44 bytes per entry max. If you're using 25 chars per name, this leaves 19 bytes of encoding per record, which doesn't seem excessive. Thus it's very possible that you've hit a hard limit imposed by

[2021-01-20 11:00] wtarreau commented on #971
I'm OK with emitting a new bunch of versions soon if that helps. We're just having a few issues being diagnosed at the moment that I'd like to know more about to know if they'll also deserve a release. Better keep them a bit grouped.

[2021-01-20 13:59] albix commented on #1058
I have no clue how to reproduce this. It happens once in a while after launching.

[code]

I came from `2.0.15`. But I run a quite different configuration. In `2.0.15` I bound the frontend to a dedicated cpu. My intention with this update is to get rid of this config. To be honest, I can't tell you if `2.0.15` is affected by this bug.

[2021-01-20 14:04] albix commented on #1058
I enabled your recommend debug settings `DEBUG   = -DDEBUG_STRICT -DDEBUG_MEMORY_POOLS -DDEBUG_DONT_SHARE_POOLS -DDEBUG_UAF`

[code]

[2021-01-20 14:25] paweldomas commented on #1060
@wtarreau thanks for the response! we've upgraded to 2.3.0. Is there a big difference between 2.3.0 and 2.2.8? is 2.2.x considered more stable?

[2021-01-20 14:46] paweldomas commented on #1060
we'll upgrade to 2.3.4 and see if the problem happens again

[2021-01-20 17:38] shauntarves commented on #938
@paweldomas Yes, thank you for the reminder about the `-L` - I was already doing that though.

I agree about the peer status logging...that was largely my problem here is that there was absolutely zero logging about the peer connectivity. Thanks for suggesting.

[2021-01-20 17:38] lukastribus commented on #1060
2.2 is a LTS version and supported until 2025. 2.3 will be EOL'ed within a year. See http://www.haproxy.org/

Of course always use the latest bugfix release of a certain release branch, to get latest bugfixes.

[2021-01-20 17:47] madsholden opened #1061 "Backends from server-template stuck with old IP/Port if loaded from a server-state file"
## Detailed description of the problem

I am using `server-template` with `SRV` records to dynamically set my backend servers, which are registered in Consul. Initially this works well, but after a few redeployments, one of the backends will fail to update the IP address to the new one.

This is the output of `show servers state dob-portal` in various points of time:

After initial deployment. Thi

[2021-01-20 17:56] wtarreau commented on #1058
Ah, thank you! This is a totally new one but now we do have some information. I think we could emit more info here to more easily figure how this can happen as it's not clear to me how it could happen that the handshake requester changes on the fly. The only handshake user I'm seeing in your case is send-proxy-v2, so that limits the scope of things to inspect. @cognet do you have any idea how it w

[2021-01-20 18:14] fusionfoto commented on #1053
I did restart the whole process since then when I finally figured out why my http/2 ssl-check wasn't working. And figured out why our H2 sessions were so slow. So no more data unless I cause the bug with a reload.

I was running 2.4-dev, but had memory leaks, so I just downgraded to the version Ubuntu 18.04 offers as a package.

Everything is H2/SSL on the front (when available) and H2/SSL on the

[2021-01-20 18:37] wtarreau commented on #1053
Be careful with development versions. As long as you feel totally at ease or that your dead servers are automatically eliminated from the pool, that's fine but you need to keep in mind that these ersions are just that, development, and they may fail from time to time. For example, on haroxy.org we run 2.4-dev on the foreground and if it dies it immediately restarts on the last known good version.

[2021-01-20 20:10] fusionfoto commented on #1053
The reason we were trying development was to see/learn about QUIC (HTTP/3) support when it was available. We will stick to production lines now that we have communication to resolve bugs that come up. Earlier we had problems in the 2.2.2 (or so) era where haproxy would stop responding and we would have to hard-kick it.  This was not any more risk than a dev branch to us.

Applied your patch (ahem

[2021-01-20 20:16] TimWolla commented on #1053
The list can be found here: https://packages.ubuntu.com/search?keywords=haproxy&searchon=names

Ubuntu 16.04 LTS (Xenial): 1.6.3
Ubuntu 18.04 LTS (Bionic): 1.8.8
Ubuntu 20.04 LTS (Focal): 2.0.13
Ubuntu 20.10 (Groovy): 2.2.3
Current Version for the upcoming 21.04 (Hirsute): 2.2.8

[2021-01-20 20:24] domdom82 commented on #1054
That's too bad. Because now "show acl" is pretty useless to find your acl if there is more than one instance of it. I can imagine doing a workaround via the value (e.g. instead of acl=myFlag and value=true it would be value=myFlag_true) so list all acl values until you find the one you want to change.

Maybe there is a way to add a new api that allows me to list acl names and their line number in

[2021-01-20 20:28] fusionfoto commented on #1053
I apologize If I have misinformed. Perhaps we are using a more up-to-date repo.

The version we were running that had the bug, which I *do not* believe we compiled from source is:

HA-Proxy version 2.2.7-1ppa1~bionic 2021/01/09

In fact, the same Ubuntu system is being offered an upgrade to 2.2.8:

<code>
haproxy/bionic 2.2.8-1ppa1~bionic amd64 [upgradable from: 2.2.7-1ppa1~bionic]
  fast and reli